{% include '../../../__default/partials/script-includes.html' %}

<script src="https://npmcdn.com/masonry-layout@4.0/dist/masonry.pkgd.min.js"></script>

<script>
        $('.grid.masonry').masonry({
            // options
            itemSelector: '.grid-item'
        });
    {% if isHome %}
    $(document).ready(function() {
        $(".grid.masonry").eqHeight(".grid-item-content");
    });
    {% endif %}


    jQuery(document).ready(function ($) {
        $('.carousel').carousel();
        $('.carousel .carousel-control.left').click(function (e) {
            $(this).parent().carousel('prev');
            e.stopImmediatePropagation();
            e.preventDefault();
        });
        $('.carousel .carousel-control.right').click(function (e) {
            $(this).parent().carousel('next');
            e.stopImmediatePropagation();
            e.preventDefault();
        });

        {% if !page.data.paid_on && !isEditor && !url2png %} $("#footer").css("padding-bottom", $("#ad").height());{% endif %}


    });

</script>

