<section class="section" id="footer">
	<div class="container"> 
		<div class="row">
			<div class="col-xs-12" id="footer-nav-links">
				<ul class="list list-inline">
					{% include "../../__default/partials/footer/footer-nav-links.html" %}
				</ul>
			</div>
			<div class="col-md-6 col-xs-12" id="company_info">
                {% include "../../__default/partials/footer/address.html" %}
			</div>
			<div class="col-md-6 col-xs-12" id="company_social_links">
				<ul class="list-inline pull-right">
					{% include "../../__default/partials/footer/social-links.html" %}
				</ul>
			</div>
			<div class="col-xs-12 text-left" id="credits">
				{% include "../../__default/partials/footer/credits.html" %}
			</div>
		</div>
	</div>
</section>
