{% if page.posts.length %}
{% set loop_posts = page.posts %}
{# 
{% set layoutColumns = news_columns %}
{% set kindOfPost = 'news' %}

{% import "../../__default/partials/loop-macros.html" as macros %} 
#}

<section class="section loop" id="loop-news">
	<div class="container">
		<div class="row">
			{% include "../../__default/partials/page-intro.html" %}
		</div>
		<div class="row posts-loop row-height">
			{% for post in loop_posts %}
			<div class="post-column {= news_columns|generateBootstrapColumn('md') =}" show-hide show-hide-id="{= post.id =}" show-hide-type-of-post="{= kindOfPost =}">
				
				{# {% include '../../__default/partials/edit-entry/edit-entry.html' %} #}
				
				<a class="post btn-modal" 
					href="/news/{= post.id =}" 
					title="{= post|getPostTitle|addslashes =}" 
					modal="news-modal.tpl" 
					modal-container="modal-window-lg.tpl"
					>

					{# <div class="row"> #}
						{# <div class="col-md-12"> #}
							<div class="post-sx">		

								{# <time pubdate datetime="10-12-14" class="date">
									<span class="date-item day">{= post.updated_time|date('d') =}</span>
									<span class="date-item mounth">{= post.updated_time|date('m') =}</span>
									<span class="date-item year">{= post.updated_time|date('Y') =}</span>
								</time> #}

								<div class="thumbnail anamorfic-thumbnail post-image bg-contain" style="background-image: url({= post|getPostImage|getFirstFromAarray =});">
									  {# 
									  {% if post.type == "status"  %}
									  {% endif %} 
									  {% if post.type == "photo"  %}
									  {% endif %}
									  {% if post.type == "video"  %}
										<div class="video-player">
											<span class="glyphicon glyphicon-play"></span>
										</div>
									  {% endif %}
									  {% if post.type == "link"  %}
									  {% endif %}  
									  #}
								</div>
							</div>
						{# </div> #}

						{# <div class="col-md-12"> #}
							<div class="post-dx">
								<div class="post-type">
								  <div class="icon">
								    {% if post.type == "status"  %}
								  		<i class="fa fa-font"></i>
								  		{# {= post.type =} #}
								    {% endif %} 
								    {% if post.type == "photo"  %}
								  		<i class="fa fa-picture-o"></i>
								  		{# {= post.type =} #}
								    {% endif %}
								    {% if post.type == "video"  %}
								  		<i class="fa fa-video-camera"></i>
								  		{# {= post.type =} #}
								    {% endif %}
								    {% if post.type == "link"  %}
								  		<i class="fa fa-link"></i>
								  		{# {= post.type =} #}
								    {% endif %} 
								  </div>
								</div>
								<h2 class="post-title">{= post|getPostTitle =}</h2>
								<p class="post-description column-height"> 
									{= post|getPostDescription =}
								</p>
								<ul class="list-unstyled post-attributes">
									<li>
										<i class="glyphicon glyphicon-time"></i>
										<time pubdate datetime="10-12-14" class="date">
											<span class="date-item day">{= post.updated_time|date('d') =}</span>
											<span class="date-item mounth">{= post.updated_time|date('m') =}</span>
											<span class="date-item year">{= post.updated_time|date('Y') =}</span>
										</time>
									</li>
									{# <li>
								  		<i class="fa fa-thumbs-o-up"></i>
								  		<strong>{= post.likes.data.length|default(0) =} </strong>
								  	</li> #}
								</ul>
							</div>
						{# </div> #}
					{# </div> #}
				</a>
				
			</div>
			{% endfor %}
		</div>

		{% include "../../__default/partials/pagination.html" %}

	</div>
</section>
{% endif %}
