{% set loop_posts = photos %}

		<div class="row posts-loop no-gutter row-height">

			{% for post in loop_posts %}

			<div class="post-column {= albums_columns|generateBootstrapColumn('md') =} ">
				
				<a class="post btn-modal" href="/albums/{= album_id =}/?customIndex={= loop.index0 =}&" 	title="{= name =}"
					modal="album-modal.tpl"
					modal-container="modal-window-fullscreen.tpl"
					>
					
					{# <div class="row"> #}
						{# <div class="col-md-12"> #}
							<div class="post-sx">		

								{# <time pubdate datetime="10-12-14" class="date">
									<span class="date-item day">{= post.updated_time|date('d') =}</span>
									<span class="date-item mounth">{= post.updated_time|date('m') =}</span>
									<span class="date-item year">{= post.updated_time|date('Y') =}</span>
								</time> #}

								<div class="thumbnail square-thumbnail post-image bg-contain" style="background-image: url({= post.images[0].source =})">
									  {# {% if post.type == "status"  %}
									  {% endif %} 
									  {% if post.type == "photo"  %}
									  {% endif %}
									  {% if post.type == "video"  %}
										<div class="video-player">
											<span class="glyphicon glyphicon-play"></span>
										</div>
									  {% endif %}
									  {% if post.type == "link"  %}
									  {% endif %}  #}
								</div>
							</div>
						{# </div> #}
						{# <div class="col-md-12"> #}
							<div class="post-dx">
								{# <div class="post-type">
									<div class="icon">
								  		<i class="fa fa-picture-o">
								  		</i>
									</div>
								</div> #}
								{# <h2 class="post-title column-height">{= post.name =}</h2> #}
								<ul class="list-unstyled post-attributes">
									<li>
										<i class="glyphicon glyphicon-time"></i>
									  	<time pubdate datetime="{= post.updated_time|date('d-m-Y') =}" class="date">
									  		<span class="date-item day">{= post.updated_time|date('d') =}</span>
									  		<span class="date-item mounth">{= post.updated_time|date('m') =}</span>
									  		<span class="date-item year">{= post.updated_time|date('Y') =}</span>
									  	</time>
									</li> 
									{# <li>
								  		<i class="fa fa-picture-o"></i>
								  		<span>{= post.count =}</span>
									</li> #}
								</ul>

							</div>
						{# </div> #}
					{# </div> #}
				</a>
			</div>

			{% endfor %}

		</div>

