
{% if page.events.length %}
{% set loop_posts = page.events %}
<section class="section loop" id="loop-events">
	<div class="container">
		<div class="row">
			{% include "../../__default/partials/page-intro.html" %}
		</div>
		<div class="row posts-loop row-height">
			{% for post in loop_posts %}
			<div class="post-column {= events_columns|generateBootstrapColumn('md') =}">

				<a class="post btn-modal" href="/events/{= post.id =}" title="{= post|getPostTitle|addslashes =}" modal="event-modal.tpl" >

					<div class="thumbnail anamorfic-thumbnail post-image bg-contain" style="background-image: url({= post.cover.source||'/images/event-standard.jpg' =});"></div>

						<div class="post-dx">
							<div class="post-type">
								 <div class="icon">
								    {% if post.type == "status"  %}
								  		<i class="fa fa-font"></i>
								    {% endif %}

								    {% if post.type == "photo"  %}
								  		<i class="fa fa-picture-o"></i>
								    {% endif %}

								    {% if post.type == "video"  %}
								  		<i class="fa fa-video-camera"></i>
								    {% endif %}

								    {% if post.type == "link"  %}
								  		<i class="fa fa-link"></i>
								    {% endif %}

								  		<i class="fa fa-calendar"></i>
								 </div>
							</div>
								<h2 class="post-title" clamp="1">{= post.name =}</h2>
								<p class="post-description column-height">
									{= post|getPostDescription =}
								</p>
								<ul class="list-unstyled post-attributes">
									<li>
										<i class="glyphicon glyphicon-time"></i>
										<span displaytime="{= post.start_time =}"></span>

										{% if post.end_time %}
										    - <span displaytime="{= post.end_time =}"></span>
										{% endif %}
									</li>
									<li>
										<i class="glyphicon glyphicon-map-marker"></i>
										{= post.place.name =}
										<small>({= post.place.location.city =})</small>
									</li>
								</ul>
						</div>
				</a>
			</div>
			{% endfor %}
		</div>
	</div>
</section>
{% endif %}
