{% if page.data.pageData.location.latitude && page.data.pageData.location.longitude %}

<section class="section" id="map">
	<div class="container-fluid">

		{# <div class="row">
			{% include "../../__default/partials/page-intro.html" %}
		</div> #}

		<div class="row no-gutter">
			<div class="col-md-12 map no-gutter">
				<div class="window-height" id="map-canvas"></div>
			</div>			
		</div>

	</div>
</section>

{% include "../../__default/partials/map.html" %}

{% endif %}
