.alert.alert-purchase-button{
	background-color: @brand-primary;
	border:none;
	border-radius: 0;
	color:@gray-dark;
	font-size: 13.5px;
	line-height: 20px;
	cursor: pointer;
	box-shadow: none;
	transition: all 0.3s;
	padding: 15px;
	&:hover{
		background-color: lighten(@brand-primary, 2%);
		box-shadow: inset 0 0 15px darken(@brand-primary, 15%);
	}
	.icon{
		display:block;
		font-size:30px;
		margin-bottom: 5px;
		width: 100%;
		padding: 0;
		color: inherit;
	}
}
