
#buyModal{
	border: solid 1px @color-editor-generic-border;
	background-color: @editor-blue-solid;
	background-image: url('/images/banner/default.jpg');
	background-position: center center;
	background-size: cover;

	.modal-header{
		background: transparent!important;
		border: none;
		padding-bottom: 5px;
	}
	.modal-title{
		display: block;
		text-align: center;
		color: white;
		font-size: 30px;
		text-shadow: 1px 1px 3px #000;
	}
	.modal-body{
		padding-top: 5px;
		background-color: transparent!important;
	}
	.features-col{

	}
	.single-feature{
		margin-bottom: 8px;
		h5{
			font-size: 18px;
			color: white;
			line-height: 22px;
			margin-bottom:0;
		}
		.feature-icon{
			text-align: right;
			padding-right: 5px;
			h5{
				color: @brand-primary;
				text-shadow: 1px 1px 3px #000;
			}
		}
		.feature-body{
			padding-left: 5px;
		}
		.feature-description{
			color: #ccc;
			font-size: 11.5px;
			max-width: 260px;
		}
		.customicon-www{
			position: relative;
			.circle{
				position: relative;
			}
			.overwww{
				position: absolute;
				font-size: 10px;
				font-weight: bolder;
				display: block;
				top: -1px;
				width: 100%;
				text-align: center;
				right: 4px;
				color: @brand-primary;
			}
		}
		&.boxed{
			border: solid 1px #ccc;
			border-radius: 4px;
			background: rgba(0,0,0,0.2);
			opacity:0.6;
			padding-bottom:10px;
			margin-top:10px;
			margin-bottom:10px;
			transition: 0.2s;
			&.active{
				opacity: 1;
				border-color: #eee
			}
			.feature-description{
				width: 95%;
			}

		}
	}
	.has-success .input-group-addon,
	.has-error .input-group-addon,
	.input-group-addon{
		color: #444;
		border-color: #666;
		background-color: #bbb;
	}
	.has-error .control-label{
		color: #cd0216;
	}
	#purchaseForm{
		border: solid 1px @color-editor-main-border;
		background: @editor-blue;
		.buy-form-content{
			padding: 30px;
		}
	}
	.claim-head{
		font-size: 20px;
		font-weight: bolder;
		text-align: center;
		color: #fff;
		.minor{
			color: #ccc;
			font-size: 16px;
			font-weight: lighter;
		}
	}
	.buy-form-suggestions{
		min-height: 50px;
		padding-bottom: 15px;
		.checkbox{
			margin-top: -5px;
		}
	}
}

.vertical-align-container{
	height: 100%;
	display: table;
}
.vertical-align-content {
	display: table-cell;
	vertical-align: middle;
}
.buy-form-pro{
	.claim-head{
		padding: 20px;
	}
}
.buy-form-confirm{
	padding: 0 20px 20px 20px;
}
table.table-buy{
	margin-top: 10px;
	border: none;

	.service-price{
		font-size: 24px;
		color: @brand-primary;
		font-weight: bolder;
	}

	& > thead, & > tbody{
		td,th{
			width: 50%;
			opacity: 0.6;
			vertical-align: middle;
			text-align: center;
			font-size: 15px;
			border: none;
			&.active{
				opacity: 1;
				background-color: ~"transparent !important";

			}
		}
		th + th, td + td{
			border-left: solid 1px @color-editor-generic-border ~"!important";
		}
		th{
			text-align: center;
			h4{
				margin-top: 0;
				margin-bottom:2px;
				font-size: 18px;
				padding-top:10px;
			}
		}
		.fature-minor{
			color: #ddd;
		}
	}
}


