/* SECTION HEADING */
.section-header h3, .section-header h4, .section-header h5, fieldset > legend {
	border-bottom: solid 1px @color-editor-generic-border;
	padding-top: @padding-base-vertical;
	font-size: 20px;
	color: @white;
}

/* BUTTONS */
.btn {
	&.btn-buy {
		text-shadow: none;
		background-color: @brand-primary;
		border-color: @brand-primary;
		color: @navbar-inverse-bg;
		&:hover{
			background-color: darken(@brand-primary,3%);
			border-color: darken(@brand-primary,5%);
			color: lighten(@navbar-inverse-bg,2%);
		}
	}

	&.btn-default {
		&.btn-add {
			background: @brand-success;
			border-color: darken(@brand-success,20%);
			color: darken(@white, 3%);
			&:hover, &:focus {
				background: darken(@brand-success, 5%);
				color: white;
			}
		}
		&.btn-edit {
			background: #017aef;
			border-color: darken(#017aef,20%);
			color: darken(@white, 3%);
			&:hover, &:focus {
				background: darken(#017aef, 5%);
				color: white;
			}
		}
		&.btn-delete {
			background: @brand-danger;
			border-color: darken(@brand-danger,20%);
			color: darken(@white, 3%);
			&:hover, &:focus {
				background: darken(@brand-danger, 5%);
				color: white;
			}
		}
	}
}
.btn-pads{
	.table-bordered{
		border: 3px solid #666;
		td{
			background-color: #999;
			border: 3px solid #666;
		}
	}
	text-transform: capitalize;
	//background-color: #666;
	//border: 1px solid #666;
	//color: @color-editor-main-background;
	//text-shadow:none !important;
	padding: @navbar-padding-vertical;
	margin-top: 7px;
}
/*.active, .active a{
	.table-bordered{
		border: 3px solid #999;
		td{
			background-color: #FFF;
			border: 3px solid #999;
		}
	}
	background-color: @brand-secondary !important;
	color: #111 !important;
	text-shadow:none !important;
	i{
		color: #111;
	}
}*/


/* LABEL */
.control-label, .form-group.has-success .control-label, fieldset.control-label legend {
	color: darken(@white, 3%);
	font-size: 15px;
	font-weight: 700;
	padding-left: 0;
	margin-left: 0;

	.mandatory-mark {
		color: #fb0922;
		font-weight: lighter;
		vertical-align: super;
	}
}

.label-minor{
	font-weight: lighter;
	color: darken(@white, 8%);
}
/* GENERIC FORM GROUP */
.form-group {

	legend {
		margin-bottom: 4px;
	}

	/* INPUT FIELD */
	input.form-control, select.form-control, textarea.form-control, .ta-editor {
		background-color: @color-editor-input-background;
		border: solid 1px @color-editor-input-border;
		border-radius: 2px;
		color: @color-editor-input-text;
		text-shadow: none;
		font-weight: normal;
		font-size: 16px;
		&::-moz-placeholder, &:-ms-input-placeholder, &::-webkit-input-placeholder {
			color: @color-editor-input-placeholder;
		}
		&:focus, &:active {
			background-color: @color-editor-input-background-focus;
			border-color: @color-editor-input-border-focus;
			color: @color-editor-input-text-focus;
		}
		p { /* TexAngular */
			font-size: 16px;
		}
	}

	.ta-toolbar {
		display: block;
		padding: 4px 0;
		background-color: @color-editor-input-border;
		margin: 0;
		border-left: solid 1px @color-editor-input-border;
		border-right: solid 1px @color-editor-input-border;
		border-top: solid 1px @color-editor-input-border;
		border-bottom: none;
		.btn {
			padding: 4px 10px;
			font-size: 14px;
		}
	}

	.value-label, .checkbox {
		color: darken(@white, 5%);
		font-size: 14px;
		font-weight: normal;

		label input { /* Checkbox */
			margin-top: 5px;
		}
	}

	.thumbnail {
		margin-bottom: 5px;
	}

	.help-block {
		color: darken(@white, 15%);
		font-size: 12px;
		font-weight: 500;
		text-shadow: none;
		&.help-warning{
			color: #ff9937;
		}
		&.help-error{
			color: #ff3c3a;
		}
		&.help-success{
			color: #42d14c;
		}
	}

}

/* VALIDATION */

.has-success, .has-error {
	.has-feedback();
}

/* READ ONLY FORMS */
.form-group.readonly, .form-group.has-success.readonly {
	clear: both;
	margin-bottom: 0;
	label {
		font-size: 14px;
		font-weight: normal;
		display: inline-block;
		width: 22%;
	}
	input, select {
		border: none;
		background: transparent;
		box-shadow: none;
		display: inline-block;
		padding: 0;
		margin: 0;
		width: 75%;
		cursor: text;
		color: @white;
	}
	.form-control-feedback, .help-block {
		display: none;
	}
}

.static-form {
	margin-bottom: 4px;
	label {
		text-align: right;
	}
	p.form-control-static {
		font-weight: normal;
		font-size: 16px;
		color: darken(@white, 2%);
		padding: 0;
	}
}

.img-theme-container {
	max-height: 180px;
	overflow: hidden;
}

.img-select-container {
	position: relative;
	background-color: darken(@gray-light, 15%);
	width: 100%;
	opacity: 0.6;
	cursor: pointer;
	transition: opacity 0.3s;
	margin-top: 1em;
	margin-bottom: 1em;

	.img-select-holder {
		position: relative;
		background-color: darken(@gray-light, 15%);
		background-position: center center;
		background-size: contain;
		background-repeat: no-repeat;
		border: solid 3px darken(@gray-light, 15%);
		border-radius: 3px;
	}
	.img-select-icon {
		display: block;
		position: absolute;
		right: 0;
		top: 0;
		border: solid 0px darken(@gray-light, 15%);
		font-size: 20px;
		line-height: 26px;
		text-align: center;
		background-color: @brand-secondary;
		border-radius: 3px;
		color: white;
		text-shadow: 0 1px 1px #000;
		height: 0;
		width: 0;
		overflow: hidden;
		transition: all 0.3s;
	}
	&.active {
		opacity: 1;
		.img-select-holder {
			border-color: @brand-secondary;
		}
		.img-select-icon {
			width: 30px;
			height: 30px;
			top: -8px;
			right: -8px;
			border: solid 3px @brand-secondary;
		}
		&:hover {
			opacity: 0.9;
		}
	}
	&:hover {
		opacity: 0.75;
	}
}

.onoffswitch {
	position: relative;
	width: 35px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	display: inherit;
	top: 3px;
	margin-right: 2px;

	.onoffswitch-checkbox {
		display: none;
	}
	.onoffswitch-label {
		display: block;
		overflow: hidden;
		cursor: pointer;
		border: 2px solid @color-editor-generic-border;
		border-radius: 22px;
		height: 18px;
		min-height: 18px;
		background-color: @color-editor-selected-hover-background;
		transition: all 0.2s ease-out;
	}
	.onoffswitch-switch {
		display: block;
		width: 22px;
		height: 22px;
		margin: -2px;
		background: #FFFFFF;
		position: absolute;
		top: 0;
		bottom: 0;
		right: 16px;
		border: 2px solid @color-editor-generic-border;
		border-radius: 20px;
		transition: all 0.2s ease-out;
	}
	.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
		right: 0px;
	}
	.onoffswitch-checkbox:checked + .onoffswitch-label {
		background-color: #40f33e;
	}
}

.label-switch, .form-group .checkbox label.label-switch {
	padding-left: 0 !important;
	margin: 0!important;
}

.active{
	.table-bordered{
		border: 3px solid #999;
		td{
			background-color: #FFF;
			border: 3px solid #999;
		}
	}
	//background-color: #999 !important;
	//color: #FFF !important;
	//text-shadow:none !important;
}
.select-panel a.active{

}
li.active a{
	background-color: @color-editor-selected-background;
	color: @color-editor-selected-text;
	&:hover{
		background-color: @color-editor-selected-hover-background;
		color: @color-editor-selected-hover-text;
	}
}

.alert {
	border: none;
	color: white;
	text-shadow: none;
	box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
	border-radius:2px;
	padding: 15px;

	&.alert-info {
		background-color: #0090d1;
	}
	&.alert-success {
		background-color: #1da10d;
	}
	&.alert-warning {
		background-color: #f16e00;
	}
	&.alert-danger {
		background-color: #af000c;
	}
	i {
		text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
		padding-right: 15px;
	}
}
