.pagewrap {
	overflow: hidden !important;
}

#editor {
	position: relative;
	margin-left: 0 - @secondary_sidebar_width;
	width: 130%;
	width: calc(~"100% + " @secondary_sidebar_width);

	transition: margin-left 0.3s;
	overflow: hidden;

	&.editor-panel-opened {
		margin-left: 0;
	}

	#main-container {
		float: left;
		width: 77%;
		width: calc(~"100% - " @secondary_sidebar_width);
		overflow: hidden;
	}

	.window-height{
		height: 100vh;
	}

	.window-width{
		width: 100%;
		overflow-x:hidden;
		height:100vh;
	}

	@off-canvas-width: 991px;

	&.editor-panel-opened #editor-navbar-top{
		width: calc(~"100% " - @secondary_sidebar_width);
		transition: width 0.3s;
	}
	@media screen and (min-width:(@off-canvas-width+1px)) {
		.rulers{
			transition: width 0.3s;
			width: 100%;
		}
		&.editor-panel-opened {
			.rulers{
				width: calc(~"100% " - @secondary_sidebar_width);
			}
		}
	}

	/* --------------------------------------------------------- DEVICES PREVIEW  */

	.rulers {
		height: 100%;
		height: calc(~"100% - " @navbar-height);
		width: 100%;
		overflow: hidden;
		background-color: #ccc;
		background-image: url(../images/ruler-h.png), url(../images/ruler-v.png);
		background-position: left top, left top;
		background-repeat: no-repeat;
	}

	.viewport {
		height: 100%;
		margin: auto;
		position: relative;
		transition: all 0.5s ease-in-out;
	}

	.desktop-viewport {
		transition: all 0.5s ease-in-out;
		width: 100%;

		//#cavati
		//-webkit-overflow-scrolling: touch !important;
		//overflow: scroll !important;
	}

	.pad-viewport {
		transition: all 0.5s ease-in-out;
		width: 768px;
	}

	.phone-viewport {
		transition: all 0.5s ease-in-out;
		width: 320px;
	}

	.devices-icon {
		cursor: pointer;
	}

	.current {
		color: #F00;
		background-color: #999;
	}

	#app_preview {
		width: 100%;
		height: 100%;
		border: 0px;
		margin: auto;
		//-webkit-overflow-scrolling: touch !important;
		//overflow: scroll !important;
	}



	#loader1 {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(50, 50, 50, 0.6);
	}

	.spinner {
		width: 80px;
		height: 80px;
		position: relative;
		margin: auto;
		margin-top: ~"calc(50vh - 40px)";
	}

	.double-bounce1, .double-bounce2 {
		width: 100%;
		height: 100%;
		border-radius: 50%;
		background-color: @brand-primary;
		opacity: 0.8;
		position: absolute;
		top: 0;
		left: 0;

		-webkit-animation: sk-bounce 2.0s infinite ease-in-out;
		animation: sk-bounce 2.0s infinite ease-in-out;
	}

	.double-bounce2 {
		-webkit-animation-delay: -1.0s;
		animation-delay: -1.0s;
	}

	@-webkit-keyframes sk-bounce {
		0%, 100% {
			-webkit-transform: scale(0.0)
		}
		50% {
			-webkit-transform: scale(1.0)
		}
	}

	@keyframes sk-bounce {
		0%, 100% {
			transform: scale(0.0);
			-webkit-transform: scale(0.0);
		}
		50% {
			transform: scale(1.0);
			-webkit-transform: scale(1.0);
		}
	}
}

