.modal-content {
	@modal-padding: 20px;
	color: @white;
	font-family: @font-family-sans-serif;
	text-shadow: 1px 1px 1px fade(#333, 50%);

	.modal-header {
		background-color: @color-editor-selected-background;
		color: @color-editor-selected-text;
		border-bottom-color: @color-editor-generic-border;
		padding: @modal-padding;
		.modal-title {
			font-family: @font-family-sans-serif;
			font-weight: normal;
			color: @brand-secondary;
		}
	}
	.modal-body {
		padding: @modal-padding;
		background-color: @color-editor-generic-background;
		color: @color-editor-generic-text;
	}
	.modal-footer {
		padding: (@modal-padding*0.5) @modal-padding;
		background-color: @color-editor-generic-background;
		color: @color-editor-generic-text;
		border-top: 1px solid @color-editor-generic-border;
	}
}

.fullscreen-modal {
	> .modal-dialog {
		height: ~"calc(100% - 40px) !important";
		width: 100% !important;
		padding: 0 15px;
		margin-top: 15px;
		margin-bottom: 0;
		> .modal-content{
			height: 100%;
		}
		.store-container {
			height: 100%;
			.modal-header {
				padding: 12px 20px;
				height: 50px;
				background: @color-editor-generic-background;
			}
			.modal-body {
				height: ~"calc(100% - 50px)";
				padding: 0;
				margin: 0;
				> .row {
					height: 100%;
					margin: 0;
				}
				.store-sidebar {
					padding: 0;
				}
			}
		}
	}
}
