#editor-panel-container {
	position: relative;
	float: left;
	overflow: hidden;
	width: @secondary_sidebar_width;
	padding: 0;
	background-color: @color-editor-main-background;
	color: @color-editor-main-text;

	// ------------------------------------------------ Close button

	.close-button-bar {
		height: @navbar-height + 1px;
		padding: 0;
		margin: 0;
		// background-color: @black;
		opacity: 1;
		border-bottom: 1px solid @color-editor-generic-border;

		.close {
			padding: 0;
			opacity: 1;
			color: #eee;
			line-height: @navbar-height;
			text-shadow: none;
		}
		.label{
			padding-left: 0;
			padding-right: 0;
			font-size: 13px;
		}
	}

	// ------------------------------------------------ SAVE/PUBLISH buttons
	.settings-confirm-bottom {
		position: absolute;
		bottom: -1px;
		left: 0px;
		right: 0px;
		margin: 0;
		z-index: 5;
		height: 60px;
		background-color: @color-editor-generic-background;
		box-shadow: 0px 0px 20px 0px @color-editor-selected-hover-background;

		.btn-group {
			padding: 10px 0;
			& > div{
				padding:0;
			}
		}

		.btn-middle {
			border-radius: 0;
		}

		.btn-right {
			border-top-right-radius: 3px;
			border-bottom-right-radius: 3px;
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}

		.btn-left {
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
			border-top-left-radius: 3px;
			border-bottom-left-radius: 3px;
		}
	}

	// ------------------------------------------------ Editor panel
	.editor-panel-content {
		position: absolute;
		top: @navbar-height + 1;
		bottom: 60px;
		overflow-y: auto;
		overflow-x: hidden;
		left: 0;
		right: 0;
		background-color: @color-editor-main-background;

		&.with-ad {
			top: 106 + @navbar-height;
		}

		// ------------------------------------------------ Editor panels steps - animation

		.panel-step {
			max-width: @secondary_sidebar_width !important;
			//min-width: @secondary_sidebar_width !important;
			width: 100%;
			opacity: 0;
			overflow: hidden;
			position: absolute;
			right: 0-@secondary_sidebar_width;
			max-height: 0;
			transition: all .5s;

			&.selected-sub-panel {
				opacity: 1;
				right: 0;
				max-height: 99999px;
				height: 100%;
			}
			&.to-left {
				//position: relative;
				right: @secondary_sidebar_width;
				opacity: 0;
				max-height: 0;
			}
			.scrollable{
				height: 100%;
				overflow-y: auto;
				&.with-nav-on-top{
					height: calc(~"100% - " @navbar-height);
				}
			}
		}


		// ------------------------------------------------ Panel title - go back to

		.editor-sidebar-panel-title {
			border-bottom: solid 1px @color-editor-generic-border;
			background: @color-editor-generic-background;


			a, .title-container {
				float: left;
			}
			a {
				display: block;
				padding: 0 10px;
				line-height: @navbar-height;
				width: 15%;
				color: white;
				background: @color-editor-selected-background;
				text-align: center;
				&:hover {
					background-color: @color-editor-selected-hover-background;
				}
			}
			.title-container {
				padding: 0 10px;
				width: 85%;
				color: @color-editor-generic-text;
				h4 {
					line-height: @navbar-height;
					margin: 0;
					padding: 0;
				}
			}
		}

		.select-panel .form-group:first-of-type {
			padding-top:10px;
			.btn-nav.active{
				color: @color-editor-selected-background ~"!important";
				background-color: @color-editor-selected-text ~"!important";
			}
		}


		// ------------------------------------------------ sortable
		.not-visible{
			background: repeating-linear-gradient(
					45deg,
					@color-editor-generic-background,
					@color-editor-generic-background 10px,
					lighten(@color-editor-generic-background, 2%) 10px,
					lighten(@color-editor-generic-background, 5%) 20px
			);
			opacity: 0.9;
		}
		.not-visible-icon{
			padding:0 0.5em;
			display: inline-block;
		}

		.sortables{
			border-top: solid 1px @color-editor-generic-border;
			.select-panel{
				margin-left: 0;
				padding: 0;
				line-height: @navbar-height;
				border-bottom: solid 1px @color-editor-generic-border;
				.row {
					margin:0;
					padding: 0;
				}
			}

			.drag-handle{
				cursor: move;
			}
			.btn{
				padding: 0;
				border-left: solid 1px @color-editor-generic-border;
				border-top: none;
				border-right: none;
				border-bottom: none;

				background-color: @color-editor-selected-background;
				color: @color-editor-selected-text;
				border-top-left-radius: 0;
				border-bottom-left-radius: 0;
				line-height: @navbar-height;
				&:hover{
					background-color: @color-editor-selected-hover-background;
					color: @color-editor-selected-hover-text;
				}

			}
			.sortable-ghost{
				background-color: @color-editor-selected-background;
				color: @color-editor-selected-text;
			}
			.sortable-chosen{
				cursor: grabbing;
			}
		}

		.form-group{
			padding: 0 15px;
			margin-bottom: 10px;
		}

	}


	.editor-panel-section {
		padding-bottom: 15px;
	}
}


// ------------------------------------------------ Menus

.nav-sidebar, .select-panel {
	margin: 0;
	margin-top: 0!important;
}

.nav-pills li a {
	padding: @navbar-padding-vertical;
	cursor: pointer;
	margin-top: 0px;
	color: @color-editor-generic-text;
	border-bottom: 1px solid @color-editor-generic-border;

	span.select-panel-icon{
		color: @brand-secondary;
		width: 30px;
		padding-right: 15px;
		text-align: center;
		display: block;
		float: left;
	}
	.title {
		margin-left: 15px;
	}
	&:hover,&:focus {
		color: @color-editor-generic-hover-text;
		background-color: @color-editor-selected-hover-background;
		text-decoration: inherit;
	}
	.img-theme-container{
		border: solid 1px #222;
	}

	&.active{
		color: @color-editor-input-text;
		font-weight: bolder;
		background-color: @brand-secondary;
		span.select-panel-icon{
			color: @color-editor-selected-background;
		}
	}
}

.status-syncing{
	//background-color: lighten(@brand-secondary, 20%) !important;
	&.btn-nav{
		background:  @color-editor-selected-hover-background;
		animation-name: animatedbackground;
		animation-duration: 1s;
		animation-iteration-count: infinite;
		animation-timing-function: ease;
	}

	.glyphicon-refresh{
		animation-name: animatedbackground;
		animation-duration: 2s;
		animation-iteration-count: infinite;
		animation-timing-function: ease;

		-webkit-animation-name: spin;
		-webkit-animation-duration: 1s; /* 40 seconds */
		-webkit-animation-iteration-count: infinite;
		-webkit-animation-timing-function: linear;

		/* mozilla ff */
		-moz-animation-name: spin;
		-moz-animation-duration: 1s; /* 40 seconds */
		-moz-animation-iteration-count: infinite;
		-moz-animation-timing-function: linear;

		/* microsoft ie */
		-ms-animation-name: spin;
		-ms-animation-duration: 1s; /* 40 seconds */
		-ms-animation-iteration-count: infinite;
	}

}

@keyframes spin {
	0% {
		transform:rotate(0deg);
	}
	100% {
		transform:rotate(360deg);
	}
}
@keyframes animatedbackground {
	0%   {background-color: @color-editor-selected-hover-background;}
	15% {background-color: @color-editor-selected-hover-background;}
	50%  {background-color: @color-editor-main-background;}
	85% {background-color: @color-editor-selected-hover-background;}
	100% {background-color: @color-editor-selected-hover-background;}
}
