table.table-bordered.table-store{
	thead{
		tr{
			border-bottom: solid 2px @color-editor-main-border;
		}
		th{
			border: none;
		}
	}
	tbody{
		tr{
			border-bottom: solid 1px fade(@color-editor-generic-border, 80%);
		}
		td{
			border: none;
			vertical-align: middle;
		}
	}
	&.table-bordered{
		border: 0;
		.col-product-image{
			width: 10%;
			.thumbnail{
				height: 45px;
				width: 100%;
				max-width: 45px;
				margin: 0 auto;
			}
		}
		.col-product-name{
			//width: 20%;
		}
		.col-product-id{
			width: 5%;
			text-align: center;
		}
		.col-product-price{
			width: 10%;
			text-align: center;
		}
		.col-product-quantity{
			width: 7%;
			text-align: center;
		}
		.col-product-availability{
			width: 7%;
			text-align: center;
		}
		.col-product-action{
			width: 10%;
		}
	}
}

.vertical-tabs{
	&.nav-stacked > li{
		width: 100%;
		a.active{
			color: white;
		}
	}
}
@media screen and (max-width: @screen-sm) {
	.vertical-tabs.nav-stacked > li{
		float: left;
		width: auto;
	}
}
.bottom-actions{
	padding-bottom: 15px;
}

.store-main-container {
	height: 100%;
	overflow-y: scroll;
	overflow-x: auto;
	background-color: @color-editor-selected-background;
	padding-top: 15px;
	padding-bottom: 15px;
}
