
#top-nav-sidebar{
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	margin: 0;
	z-index: 5;
}

#editor-navbar-top{
	margin-bottom: 0px;
	border-bottom: 0px solid @color-editor-main-border;

	background-color: @color-editor-main-background;
	width: 100%;
	transition: width 0.3s;

	.container-fluid{
		padding-right: 0px;

		.navbar-collapse{
			padding-right: 0px;
		}
		.navbar-right{
			border-right: 0px;
		}
	}
}
.editor-panel-opened #editor-navbar-top{
	width: calc(~"100% " - @secondary_sidebar_width);
	transition: width 0.3s;
}

.navbar-nav{
	border: none;
	border-left-color: @color-editor-generic-border;
	border-right-color: darken(@color-editor-generic-border, 15%);

	margin-top: 0;
	margin-bottom: 0;

	li {
		a {
			border: 0px solid;
			border-right-width: 1px;
			border-left-width: 1px;
			border-left-color: @color-editor-generic-border;
			border-right-color: darken(@color-editor-generic-border,15%);
			background-color: @color-editor-generic-background;
			color: @color-editor-generic-text;
			white-space: nowrap;
			.badge {
				padding: 0px 5px 0px 5px;
				background-color: transparent;
				color: @brand-secondary;
			}

			&:hover, &:focus {
				background-color: @color-editor-generic-hover-background;
				color: @color-editor-generic-hover-text;
			}
		}
		.editor-buy-button {
			.badge {
				color: @brand-secondary;
			}
		}

		&.active a {
			background-color: @color-editor-selected-background;
			color: @color-editor-selected-text;
			&:hover {
				background-color: @color-editor-selected-hover-background;
				color: @color-editor-selected-hover-text;
			}
			.badge {
				color: @brand-secondary;
			}
		}
	}

	.dropdown-menu{
		li{
			a{
				border-left: 0px;
				border-right: 0px;
				line-height: @navbar-height;
				height: @navbar-height;
				display: block;
			}
		}
		padding: 0;
	}
	.nav-user-photo{
		width: 20px;
		height: 20px;
		border-radius: 22px;
		margin-right: 3px;
	}

	.navbar-toggle{
		float: none;
		margin: 0;
	}

	.navbar-default-brand{
		display: none;
	}
}


.tab_title{
	margin-top:5px;
}
