<section class="section carousel slide" data-ride="carousel" id="banner">
    <div class="container container-fluid no-gutter">
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <div id="banner-image-holder" class="banner-image-holder window-height banner-fade-slide-container" {= page|getBannerStyle|safe =} >
            {% include "../../__default/partials/banner-fade-slides.html" %}
        </div>

    </div>

        <nav class="section navbar hidden-xs" id="nav">
            <div class="container container-fluid">

                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-overlay">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbar-overlay">
                    <ul class="nav nav-justified">
                    {% for index,item in page.configuration.settings.menu %}
                        {% if item.active %}
                        <li{% if slug and slug == item|getItemSlug %} class="active"{% endif %}>
                            <a class="navbar-nav-link" href="/{= item|getItemSlug =}">
                                <span class="nav-label">{= item.label =}</span>
                            </a>
                        </li>
                        {% endif %}
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </nav>

    </div>
</section>

<nav class="section navbar hidden-lg hidden-md hidden-sm" id="nav-mobile">
    <div class="container container-fluid">

        {# <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-overlay">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button> #}

        <div id="navbar-header" class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-overlay-mob">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="navbar-overlay-mob">
            <ul class="nav">
            {% for index,item in page.configuration.settings.menu %}
                {% if item.active %}
                <li{% if slug and slug == item|getItemSlug %} class="active"{% endif %}>
                    <a class="navbar-nav-link" href="/{= item|getItemSlug =}">
                        <span class="nav-label">{= item.label =}</span>
                    </a>
                </li>
                {% endif %}
            {% endfor %}
            </ul>
        </div>
    </div>
</nav>

