<section class="section" id="company">
	<div class="container container-fluid">
		<div class="row">
			
			{# <div class="col-md-12">
				<hgroup class="section-title">
					<h1 class="">{= page.configuration.settings.nome_sito||page.pageData.name =}</h1>
				</hgroup>
			</div>
			<div class="col-md-10 col-md-offset-1">
				<p id="company-short-description" class="lead">{= page.configuration.settings.profilo_aziendale =}</p>
			</div> #}

			{% include "../../__default/partials/page-intro.html" %}

		</div>
	</div>
</section>
