{% include '../../__default/partials/cookies-alert.html' %}

{# {% if isHome %}
<nav class="section navbar navbar-default navbar-home" id="main-nav">
{% else %}
<nav class="section navbar navbar-inverse navbar-fixed-top" id="main-nav">
{% endif %} #}

<nav class="section navbar navbar-inverse" id="main-nav">
	<div class="container container-fluid">

		{# Brand and toggle get grouped for better mobile display #}
		<div id="navbar-header" class="navbar-header">

			{# <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button> #}

			<a id="navbar-brand" class="navbar-brand" href="/" title="{= page.configuration.settings.nome_sito =}">
				<img id="brand-img" class="fadeimage lazy" src="{= page|getProfilePicture =}" alt="{= page.configuration.settings.nome_sito =}">
			</a>
		</div>

		{# <div class="collapse navbar-collapse" id="">
			<ul class="nav navbar-nav navbar-right">
			{% for index,item in page.configuration.settings.menu %}
				{% if item.active %}
				<li{% if slug and slug == item|getItemSlug %} class="active"{% endif %}>
					<a class="navbar-nav-link" href="/{= item|getItemSlug =}">
						<span class="nav-label">{= item.label =}</span>
					</a>
				</li>
				{% endif %}
			{% endfor %}
			</ul>
		</div> #}

	</div>
</nav>
