{% set kindOfPost = 'album' %}
{% import "../../__default/partials/loop-macros.html" as macros %}

{% if page.albums.length %}
{% set loop_posts = page.albums %}
{% set layoutColumns = albums_columns %}
<section class="section loop" id="loop-albums">
	<div class="container container-fluid">
		<div class="row">

			{# TITOLO SEZIONE #}
			<div class="col-xs-12">
				<div class="row">
					<div class="col-xs-12">
						<div class="page-intro">
							<div class="col-md-12">
								<hgroup class="section-title">
									<h1 class="page-title">
										{= page|getSectionTitle('albums') =}
									</h1>
								</hgroup>
							</div>
							{# <div class="col-md-10 col-md-offset-1">
								<div class="lead page-description">
									{= page.configuration.settings.profilo_aziendale | safe=}
								</div>
							</div> #}
						</div>
					</div>
				</div>
			</div>
			{# FINE TITOLO SEZIONE #}

		</div>

		{% for post in loop_posts %}
		{% if loop.first or (loop.index - 1) % layoutColumns == 0 %}
		<div class="row posts-loop no-gutter row-height">
		{% endif %}

			<div class="post-column
			{= layoutColumns|generateBootstrapColumn('md') =}
			{= [true, layoutColumns, kindOfPostt, 2]|juxtaposeClass =}"
			show-hide show-hide-id="{= post.id =}"
			show-hide-type-of-post="{= kindOfPost =}"
			>

				<a class="post btn-modal"
					href="/albums/{= post.id =}"
					title="{= post.title|addslashes =}"
					modal="album-modal-fullscreen.tpl"
					modal-container="modal-window-fullscreen.tpl"
					>

					<div class="row">
							<div class="post-sx col-xs-12
							col-sm-{= ([true, layoutColumns, kindOfPostt, 2]|elementsGridColumns).colSmContent  =}
							col-md-{= ([true, layoutColumns, kindOfPostt, 2]|elementsGridColumns).colMdContent =}"
							>

								{# <time pubdate datetime="10-12-14" class="date">
									<span class="date-item day">{= post.updated_time|date('d') =}</span>
									<span class="date-item mounth">{= post.updated_time|date('m') =}</span>
									<span class="date-item year">{= post.updated_time|date('Y') =}</span>
								</time> #}

								<div class="thumbnail square-thumbnail post-image bg-cover" style="background-image: url({= post.cover_image =});">
									  {% if post.type == "status"  %}
									  {% endif %}
									  {% if post.type == "photo"  %}
									  {% endif %}
									  {% if post.type == "video"  %}
										<div class="video-player">
											<span class="glyphicon glyphicon-play"></span>
										</div>
									  {% endif %}
									  {% if post.type == "link"  %}
									  {% endif %}
								</div>
							</div>

							<div class="post-dx col-xs-12
							col-sm-{= ([true, layoutColumns, kindOfPostt, 2]|elementsGridColumns).colSmContent  =}
							col-md-{= ([true, layoutColumns, kindOfPostt, 2]|elementsGridColumns).colMdContent =}"
							>
								<div class="post-type">
									<div class="icon">
								  		<i class="fa fa-picture-o">
								  			{# {= post.type =} #}
								  		</i>
									</div>
								</div>
								<h2 class="post-title column-height">{= post.title =}</h2>
								{#
								<p class="post-description" clamp="1">
									{= post.description =}
								</p>
								#}
								{# <ul class="list-unstyled post-attributes">

									<li>
										<i class="glyphicon glyphicon-time"></i>
									  	<time pubdate datetime="{= post.updated_time|date('d-m-Y') =}" class="date">
									  		<span class="date-item day">{= post.updated_time|date('d') =}</span>
									  		<span class="date-item mounth">{= post.updated_time|date('m') =}</span>
									  		<span class="date-item year">{= post.updated_time|date('Y') =}</span>
									  	</time>
									</li>
									<li>
								  		<i class="fa fa-picture-o"></i>
								  		<span>{= post.count =}</span>
									</li>

									<li>
										<span> description: {= post.description =} </span>
									</li>
									<li>
										<span> place: {= post.place =} </span>
									</li>
									<li>
										<i class="fa fa-thumbs-o-up"></i> <span>{= post.likes.data.length|default(0) =} </span>
									</li>

								</ul> #}

							</div>
					</div>
				</a>
			</div>
		{% if loop.last or (loop.index - 1) % layoutColumns == layoutColumns-1 %}
		</div>
		{% endif %}
		{% endfor %}

		{% if isHome %}
		{% else %}
			{% include "../../__default/partials/pagination.html" %}
		{% endif %}

	</div>
</section>
{% elif not isHome%}
<section class="section loop" id="loop-albums">
	<div class="container container-fluid">
		<div class="row">

			{# TITOLO SEZIONE #}
			<div class="col-xs-12">
				<div class="row">
					<div class="col-xs-12">
						<div class="page-intro">
							<div class="col-md-12">
								<hgroup class="section-title">
										<h1 class="page-title">
										{= page|getSectionTitle('albums') =}
										</h1>
								</hgroup>
							</div>
							{# <div class="col-md-10 col-md-offset-1">
								<div class="lead page-description">
									{= page.configuration.settings.profilo_aziendale | safe=}
								</div>
							</div> #}
						</div>
					</div>
				</div>
			</div>
			{# FINE TITOLO SEZIONE #}
			<div>
			    <p style="text-align: center">Non ci sono elementi in questa sezione.</p>
			    <div class="clearfix"></div>
			</div>

		</div>
	</div>
</section>
{% endif %}
