{% if page.albums.length %}
{% set loop_posts = page.albums %}

<section class="section loop loop-slyde-albums" id="loop-slyde-albums">
	<div class="container">
		<div id="gallery-slyde-carousel" class="carousel slide" data-ride="carousel">
			{# <div class="row">
				{% include "../../__default/partials/page-intro.html" %}
			</div> #}
			{# <div class="row posts-loop no-gutter row-height"> #}

				{# {% for post in loop_posts %} #}


				<!-- Indicators -->
				<ol class="carousel-indicators">
				{% for index, post in loop_posts %}
					<li data-target="#gallery-carousel" data-slide-to="{= index =}"></li>
				{% endfor %}
				</ol>


				<!-- Wrapper for slides -->
				<div class="carousel-inner" role="listbox">
				{% for post in loop_posts %}

						<div class="item {= albums_columns|generateBootstrapColumn('md') =} active">
							<a class="post btn-modal"
								href="/albums/{= post.id =}"
								title="{= post.title|addslashes =}"
								modal="album-modal.tpl"
								modal-container="modal-window-fullscreen.tpl"
								>
							<div class="thumbnail square-thumbnail post-image" style="background-image: url({= post.cover_image =});">
							</div>
							<div class="carousel-caption">
							        {# {= post|getPostDescription =} #}
							</div>
							</a>
						</div>
						{# <div class="item  col-md-4 no-gutter active">
							<a class="post btn-modal"
								href="/albums/{= post.id =}"
								title="{= post.title|addslashes =}"
								modal="album-modal.tpl"
								modal-container="modal-window-fullscreen.tpl"
								>
							<div class="thumbnail square-thumbnail post-image" style="background-image: url({= post|getAlbumCover =});">
							</div>
							</a>
						</div>
						<div class="item  col-md-4 no-gutter active">
							<a class="post btn-modal"
								href="/albums/{= post.id =}"
								title="{= post.title|addslashes =}"
								modal="album-modal.tpl"
								modal-container="modal-window-fullscreen.tpl"
								>
							<div class="thumbnail square-thumbnail post-image" style="background-image: url({= post|getAlbumCover =});">
							</div>
							</a>
						</div> #}


				{% endfor %}
				</div>

				<!-- Controls -->
				<a class="left carousel-control" href="#gallery-carousel" role="button" data-slide="prev">
					<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				</a>
				<a class="right carousel-control" href="#gallery-carousel" role="button" data-slide="next">
					<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>


				{# <div class="post-column {= albums_columns|generateBootstrapColumn('md') =} ">

					<a class="post btn-modal"
						href="/albums/{= post.id =}"
						title="{= post.title|addslashes =}"
						modal="album-modal.tpl"
						modal-container="modal-window-fullscreen.tpl"
						>

						<div class="row">
							<div class="col-md-12">
								<div class="post-sx">

									<div class="thumbnail square-thumbnail post-image" style="background-image: url({= post|getAlbumCover =});">
										  {% if post.type == "status"  %}
										  {% endif %}
										  {% if post.type == "photo"  %}
										  {% endif %}
										  {% if post.type == "video"  %}
											<div class="video-player">
												<span class="glyphicon glyphicon-play"></span>
											</div>
										  {% endif %}
										  {% if post.type == "link"  %}
										  {% endif %}
									</div>
								</div>
							</div>
							<div class="col-md-12">
								<div class="post-dx">
									<div class="post-type">
										<div class="icon">
									  		<i class="fa fa-picture-o">

									  		</i>
										</div>
									</div>
									<h2 class="post-title column-height">{= post.title =}</h2>

									<ul class="list-unstyled post-attributes">

										<li>
											<i class="glyphicon glyphicon-time"></i>
										  	<time pubdate datetime="{= post.updated_time|date('d-m-Y') =}" class="date">
										  		<span class="date-item day">{= post.updated_time|date('d') =}</span>
										  		<span class="date-item mounth">{= post.updated_time|date('m') =}</span>
										  		<span class="date-item year">{= post.updated_time|date('Y') =}</span>
										  	</time>
										</li>
										<li>
									  		<i class="fa fa-picture-o"></i>
									  		<span>{= post.count =}</span>
										</li>
									</ul>

								</div>
							</div>
						</div>
					</a>
				</div> #}

				{# {% endfor %} #}

			{# </div> #}
		</div>
	</div>
</section>
{% endif %}
