{% set kindOfPost = 'news' %}
{% import "../../__default/partials/loop-macros.html" as macros %}

{% if page.posts.length %}
{% set loop_posts = page.posts %}
{% set layoutColumns = news_columns %}

<section class="section loop" id="loop-news">
	<div class="container container-fluid">
		<div class="row">

			{# TITOLO SEZIONE #}
			<div class="col-xs-12">
				<div class="row">
					<div class="col-xs-12">
						<div class="page-intro">
							<div class="col-md-12">
								<hgroup class="section-title">
									{% if isHome %}
										<h2 class="page-title">
										{= page|getSectionTitle('news') =}
										</h2>
									{% else %}
										<h1 class="page-title">
										{= page|getSectionTitle('news') =}
										</h1>
									{% endif %}

								</hgroup>
							</div>
							{# <div class="col-md-10 col-md-offset-1">
								<div class="lead page-description">
									{= page.configuration.settings.profilo_aziendale | safe=}
								</div>
							</div> #}
						</div>
					</div>
				</div>
			</div>
			{# FINE TITOLO SEZIONE #}

		</div>
		{% for post in loop_posts %}
		{% if loop.first or (loop.index - 1) % layoutColumns == 0 %}
		<div class="row posts-loop row-height">
		{% endif %}
			<div class="post-column
			{= layoutColumns|generateBootstrapColumn('md') =}
			{= [true, layoutColumns, kindOfPost]|juxtaposeClass =}"
			show-hide show-hide-id="{= post.id =}"
			show-hide-type-of-post="{= kindOfPost =}"
			>
				{# {% include '../../__default/partials/edit-entry/edit-entry.html' %} #}

				<a class="post btn-modal"
					href="/news/{= post.id =}"
					title="{= post.title|addslashes =}"
					modal="news-modal.tpl"
					modal-container="modal-window-lg.tpl"
					>

					<div class="row">
							<div class="post-sx col-xs-12 col-sm-{= ([true, layoutColumns, kindOfPost]|elementsGridColumns).colSmImg  =} col-md-{= ([true, layoutColumns, kindOfPost]|elementsGridColumns).colMdImg =}">

								{# <time pubdate datetime="10-12-14" class="date">
									<span class="date-item day">{= post.updated_time|date('d') =}</span>
									<span class="date-item mounth">{= post.updated_time|date('m') =}</span>
									<span class="date-item year">{= post.updated_time|date('Y') =}</span>
								</time> #}

								<div class="post-type">
								  <div class="icon">
								    {% if post.type == "status"  %}
								  		<i class="fa fa-font"></i>
								  		{# {= post.type =} #}
								    {% endif %}
								    {% if post.type == "photo"  %}
								  		<i class="fa fa-picture-o"></i>
								  		{# {= post.type =} #}
								    {% endif %}
								    {% if post.type == "video"  %}
								  		<i class="fa fa-video-camera"></i>
								  		{# {= post.type =} #}
								    {% endif %}
								    {% if post.type == "link"  %}
								  		<i class="fa fa-link"></i>
								  		{# {= post.type =} #}
								    {% endif %}
								  </div>
								</div>

								<div class="thumbnail square-thumbnail post-image bg-cover" style="background-image: url('{= post.cover_image || post.cover_image.source =}');">
									  {#
									  {% if post.type == "status"  %}
									  {% endif %}
									  {% if post.type == "photo"  %}
									  {% endif %}
									  {% if post.type == "video"  %}
										<div class="video-player">
											<span class="glyphicon glyphicon-play"></span>
										</div>
									  {% endif %}
									  {% if post.type == "link"  %}
									  {% endif %}
									  #}
								</div>
							</div>

							<div class="column-height post-dx col-xs-12 col-sm-{= ([true, layoutColumns, kindOfPost]|elementsGridColumns).colSmContent  =} col-md-{= ([true, layoutColumns, kindOfPost]|elementsGridColumns).colMdContent =}"
							>

								{# <ul class="list-unstyled post-attributes">
									<li>
										<i class="glyphicon glyphicon-time"></i>
										<time pubdate datetime="10-12-14" class="date">
											<span class="date-item day">{= post.updated_time|date('d') =}</span>
											<span class="date-item mounth">{= post.updated_time|date('m') =}</span>
											<span class="date-item year">{= post.updated_time|date('Y') =}</span>
										</time>
									</li>
								</ul> #}

								<h3 class="post-title">{= post.title =}</h3>

								<p class="post-description ">
                                    {% if post.created_time %}
                                    <span class="text-muted"><small><i class="glyphicon glyphicon-time"></i> {= post|displayTimePost =}</small><br></span>
                                    {% endif %}
									{= post.description|truncateText(125) =}
								</p>
							</div>
							{# <div class="col-xs-12">
								<ul class="list-unstyled post-attributes">
									<li>
										<i class="glyphicon glyphicon-time"></i>
										<time pubdate datetime="10-12-14" class="date">
											<span class="date-item day">{= post.updated_time|date('d') =}</span>
											<span class="date-item mounth">{= post.updated_time|date('m') =}</span>
											<span class="date-item year">{= post.updated_time|date('Y') =}</span>
										</time>
									</li>
								</ul>
							</div> #}
					</div>
				</a>

			</div>
		{% if loop.last or (loop.index - 1) % layoutColumns == layoutColumns-1 %}
		</div>
		{% endif %}
		{% endfor %}

		{% if isHome %}
		{% else %}
			{% include "../../__default/partials/pagination.html" %}
		{% endif %}



	</div>
</section>
{% elif not isHome%}
<section class="section loop" id="loop-news">
	<div class="container container-fluid">
		<div class="row">

			{# TITOLO SEZIONE #}
			<div class="col-xs-12">
				<div class="row">
					<div class="col-xs-12">
						<div class="page-intro">
							<div class="col-md-12">
								<hgroup class="section-title">
										<h1 class="page-title">
										{= page|getSectionTitle('news') =}
										</h1>
								</hgroup>
							</div>
							{# <div class="col-md-10 col-md-offset-1">
								<div class="lead page-description">
									{= page.configuration.settings.profilo_aziendale | safe=}
								</div>
							</div> #}
						</div>
					</div>
				</div>
			</div>
			{# FINE TITOLO SEZIONE #}
			<div>
			    <p style="text-align: center">Non ci sono elementi in questa sezione.</p>
			    <div class="clearfix"></div>
			</div>

		</div>
	</div>
</section>
{% endif %}
