{% set kindOfPost = 'event' %}

{% import "../../__default/partials/loop-macros.html" as macros %}


<section class="section loop" id="loop-events">
    <div class="container container-fluid">
        {% if not isHome or isHome and page.events.length %}
            <div class="row">{# TITOLO SEZIONE #}


            <div class="col-xs-12">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="page-intro">
                            <div class="col-md-12">
                                <hgroup class="section-title">
                                    <h1 class="page-title">
                                        {= page|getSectionTitle('events') =}
                                    </h1>
                                </hgroup>
                            </div>
                            {# <div class="col-md-10 col-md-offset-1">
                                <div class="lead page-description">
                                    {= page.configuration.settings.profilo_aziendale | safe=}
                                </div>
                            </div> #}
                        </div>
                    </div>
                </div>
            </div>
            </div>{# FINE TITOLO SEZIONE #}
        {% endif %}

        {% if page.events.length %}
            {% set loop_posts = page.events %}
            {% set layoutColumns = events_columns %}
            {% for post in loop_posts %}
                {% if loop.first or (loop.index - 1) % layoutColumns == 0 %}
                    <div class="row posts-loop row-height">
                {% endif %}

                <div class="post-column
					{= layoutColumns|generateBootstrapColumn('md') =}
					{= [true, layoutColumns, kindOfPostt, 2]|juxtaposeClass =}"
                     show-hide show-hide-id="{= post.id =}"
                     show-hide-type-of-post="{= kindOfPost =}"
                >

                    <a class="post btn-modal" href="/events/{= post.id =}" title="{= post.title|addslashes =}" modal="event-modal.tpl" >

                        <div class="row">
                            {# <ul class="col-xs-12 list-unstyled post-attributes">
                                <li>
                                    <i class="glyphicon glyphicon-time"></i>
                                    <span displaytime="{= post.start_time =}"></span>
                                    {% if post.end_time %}
                                        - <span displaytime="{= post.end_time =}"></span>
                                    {% endif %}
                                </li>
                            </ul> #}
                            <div class="post-sx col-xs-12
									col-sm-{= ([true, layoutColumns, kindOfPostt, 2]|elementsGridColumns).colSmImg  =}
									col-md-{= ([true, layoutColumns, kindOfPostt, 2]|elementsGridColumns).colMdImg =}"
                            >

                                {#
                                <time pubdate datetime="{= post.updated_time|date('d-m-Y') =}" class="date">
                                    <span class="date-item day">{= post.updated_time|date('d') =}</span>
                                    <span class="date-item mounth">{= post.updated_time|date('m') =}</span>
                                    <span class="date-item year">{= post.updated_time|date('Y') =}</span>
                                </time>
                                #}

                                <div class="post-type">
                                    <div class="icon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                </div>

                                <div class="thumbnail anamorfic-thumbnail post-image bg-cover" style="background-image: url({= post.cover_image.source||'/images/event-standard.jpg' =});"></div>
                            </div>
                            <div class="column-height post-dx col-xs-12
									col-sm-{= ([true, layoutColumns, kindOfPostt, 2]|elementsGridColumns).colSmImg =}
									col-md-{= ([true, layoutColumns, kindOfPostt, 2]|elementsGridColumns).colMdImg =}"
                            >

                                <h2 class="post-title">{= post.title|truncateText(50) =}</h2>
                                <ul class="col-xs-12 list-unstyled post-attributes">
                                    <li>
                                        <i class="glyphicon glyphicon-time"></i>
                                        {= post|displayTimeEvent("short") =}
                                    </li>
                                    {% if post.place %}
                                    <li>
                                        <i class="glyphicon glyphicon-map-marker"></i>
                                        {= post.place.name =}
                                        {% if post|getLocationUrl %}
                                        <small>({= post.place.location.city =})</small>
                                        {% endif %}
                                    </li>
                                    {% endif %}
                                </ul>
                                {# <p class="post-description">
                                    {= post.description|truncateText(125) =}
                                </p> #}

                            </div>
                            {# <ul class="col-xs-12 list-unstyled post-attributes">
                                <li>
                                    <i class="glyphicon glyphicon-time"></i>
                                    <span displaytime="{= post.start_time =}"></span>
                                    {% if post.end_time %}
                                        - <span displaytime="{= post.end_time =}"></span>
                                    {% endif %}
                                </li>
                                <li>
                                    <i class="glyphicon glyphicon-map-marker"></i>
                                    {= post.place.name =}
                                    <small>({= post.place.location.city =})</small>
                                </li>
                            </ul> #}
                        </div>
                    </a>
                </div>

                {% if loop.last or (loop.index - 1) % layoutColumns == layoutColumns-1 %}
                    </div>
                {% endif %}
            {% endfor %}

            {% if isHome %}
            {% else %}
                {% include "../../__default/partials/pagination.html" %}
            {% endif %}
            {% elif not isHome%} {# There is no events #}
            <div>
                <p class="text-center">Non ci sono elementi in questa sezione.</p>
                <div class="clearfix"></div>
            </div>
        {% endif %}
    </div>
</section>
