{% if page.data.pageData.location.latitude && page.data.pageData.location.longitude %}

<section class="section" id="map">
	<div class="container container-fluid no-gutter">

		{# <div class="row">
			{% include "../../__default/partials/page-intro.html" %}
		</div> #}

		<div class="row no-gutter">
			<div class="col-md-12 map">
				<div class="" id="map-canvas"></div>
			</div>			
		</div>

	</div>
</section>

{% endif %}
