{% if isStore %}


    <section id="mainContainer" style="display: none;" class="section loop">
        <div class="container container-fluid">

            <nav class="navbar navbar-default navbar-store">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#store-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle store navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="store-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="dropdown" dropdown>
                            <a href="#" class="dropdown-toggle" data-toggle="categoriesList" role="button" aria-haspopup="true" aria-expanded="false" dropdown-toggle>
                                {= t('template:store.categories_tit') =} <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu" id="categoriesList">
                                <li class="active-category category-list-item-all">
                                    <a data-categoryindex="all" href="#/category/uid-all" class="category-link-all category-link">
                                        {= t('template:store.all_categories') =}
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <form class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                            <input type="text" type="search" class="search-product form-control" placeholder="{= t('template:store.search') =}...">
                        </div>
                        <button disabled class="btn btn-default clear-search-result-btn" type="button" title="{= t('template:store.cancel') =}">&times;</button>
                    </form>
                    <ul class="nav navbar-nav navbar-right">
                        <li><span class="pull-right shopping-cart-btn-container"></span></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </nav>

            <div class="row posts-loop row-height thumbnails" id="productsContainer"></div>
            <div class="clearfix"></div>

        </div>
    </section>

    {% include "../../__default/partials/store-body.html"%}
    <script type="text/template" class="sidebar-catgegories-template">
        <% _.each(_oData.categoriesCollection,function( listItem ){ %>
        <li class="category-list-item-<%- listItem.index %>">
            <a data-categoryindex="<%- listItem.index %>" href="#/category/uid-<%- listItem.index %>/<%- listItem.slug %>"
               class="category-link-<%- listItem.index %> category-link">
                <%- listItem.name %>
                <span class="badge"><%- listItem.products_length %></span>
            </a>
        </li>
        <% }) %>
    </script>

{% set layoutColumns = columns %}
{% set kindOfPost = 'news' %}

<!-- Products Grid -->
<script type="text/template" class="products-grid-template">
    <% var i = 0; %>
    <% if( Object.keys(_oData.currentProductCollection).length < 1) { %>
    <div class="col-xs-12 col-sm-12">
        <div class="alert alert-warning ">
            {= t('template:store.no_products_alert') =}
        </div>
    </div>
    <% } else { %>
    <% _.each( _oData.currentProductCollection, function( listItem ){
    productUrl = "#/product/uid-" + listItem.index + "/" + listItem.slug;
    productImg = _.get(listItem, "thumbPath.src", false); %>


    <div    data-productindex="<%- listItem.index %>"
            class="post-column product-item
			{= layoutColumns|generateBootstrapColumn('md') =}
			{= [true, layoutColumns, kindOfPost]|juxtaposeClass =}">
        <a class="post btn-modal product-id-<%- listItem.index %> product-link" data-productindex="<%- listItem.index %>" href="<%- productUrl %>" title="<%- listItem.name %>">
            <div class="row">
                <div class="post-sx col-xs-12 col-sm-{= ([true, layoutColumns, kindOfPost]|elementsGridColumns).colSmImg  =}
                col-md-{= ([true, layoutColumns, kindOfPost]|elementsGridColumns).colMdImg =}">
                    <div class="post-type">
                        <div class="icon">
                            <i class="fa fa-shopping-cart"></i>
                        </div>
                    </div>
                    <div class="thumbnail square-thumbnail post-image bg-cover" style="background-image: url('<%- productImg %>');"></div>
                </div>

                <div class="column-height post-dx col-xs-12
                col-sm-{= ([true, layoutColumns, kindOfPost]|elementsGridColumns).colSmContent  =}
                col-md-{= ([true, layoutColumns, kindOfPost]|elementsGridColumns).colMdContent =}">

                    <h3 class="post-title"><%- listItem.name %></h3>

                    <p class="post-description ">
                        <span class="text-muted"><small><%- listItem.categoryName %></small><br></span>
                        {= t('template:store.price') =}: <%- listItem.formattedPrice %>
                    </p>
                </div>
            </div>
        </a>
    </div>


    <% if(i % {= layoutColumns=} == {= layoutColumns=}-1) { %> <div class="clearfix"></div><% } %>
    <% i++; %>
    <% }); };  %>
</script>
<!-- /Products Grid -->
{% endif %}
