<section class="section" id="blog">
	<div class="container-fluid">

		<div class="row" id="firstRow">
			<div class="col-md-3"></div>
			<div class="col-md-6">

					<div class="row">		
						<div class="col-md-12" id="title">
							<h1>Our Blog</h1>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12" >
							<p id="text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum numquam nam recusandae, voluptate eaque, voluptatem quae veritatis odit deserunt ad, incidunt. Asperiores perspiciatis assumenda optio eligendi quae facere, excepturi laudantium.</p>
						</div>
				</div>

			</div>
			<div class="col-md-3"></div></div>

		<div class="row" id="secondRow">
			<div class="col-md-1"></div>
			<div class="col-md-10">
				<div class="col-sm-6 col-md-4">
				    <div class="thumbnail">
				      <img src="http://lorempixel.com/200/200/" alt="...">
				      <div class="caption">
				        <h3>HIPSTER MEN</h3>
				        <p>27/05/2016</p>
				        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
				        repudiandae a corrupti maiores corporis iste, animi eum quidem!</p>
				        <hr>

				       <div class="row">
				       		<div class="col-md-6">
				        		<img class="man" src="/templates/creative/man.svg" alt="">
				        		<p class="name">Ipsum Lorem</p>
				        	</div>
				        	<div class="col-md-3">
				        		<div class="row">
				        			<div class="col-md-6">
				        				<span class="glyphicon glyphicon-envelope"></span>
				        			</div>
				        			<div class="col-md-6">
				        				<p class="nr">0</p>	 
				        			</div>
				        		</div>	        		
				        	</div>
				        	<div class="col-md-3">
				        		<div class="row">
				        			<div class="col-md-6">
				        				<span class="glyphicon glyphicon-heart-empty"></span>
				        			</div>
				        			<div class="col-md-6">
				        				<p class="nr">3</p>	 
				        			</div>
				        		</div>	        		       		
				        	</div>		        	
				        </div>		 

				        </div>
				      </div></div>

				<div class="col-sm-6 col-md-4">
				    <div class="thumbnail">
				      <img src="http://lorempixel.com/200/200/" alt="...">
				      <div class="caption">
				        <h3>NEED SOME LIGHT</h3>
				        <p>27/05/2016</p>
				        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
				        repudiandae a corrupti maiores corporis iste, animi eum quidem!</p>
				        <hr>
				        
				        <div class="row">
				        	<div class="col-md-6">				        		
				        		<img class="man" src="/templates/creative/man.svg" alt="">   	
				        		<p class="name">Nderim Topalli</p>			        		
				        	</div>
				        	<div class="col-md-3">
				        		<div class="row">
				        			<div class="col-md-6">
				        				<span class="glyphicon glyphicon-envelope"></span>
				        			</div>
				        			<div class="col-md-6">
				        				<p class="nr">0</p>	 
				        			</div>
				        		</div>	        		
				        	</div>
				        	<div class="col-md-3">
				        		<div class="row">
				        			<div class="col-md-6">
				        				<span class="glyphicon glyphicon-heart-empty"></span>
				        			</div>
				        			<div class="col-md-6">
				        				<p class="nr">3</p>	 
				        			</div>
				        		</div>	        		       		
				        	</div>		        	
				        </div>

				      </div>
				    </div></div>

				<div class="col-sm-6 col-md-4">
				    <div class="thumbnail">
				      <img src="http://lorempixel.com/200/200/" alt="...">
				      <div class="caption">
				        <h3>STAIRWAY</h3>
				        <p>27/05/2016</p>
				        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
				        repudiandae a corrupti maiores corporis iste, animi eum quidem!</p>
				        <hr>

				        <div class="row">
				        	<div class="col-md-6">
				        		<img  class="man" src="/templates/creative/man.svg" alt="">
				        		<p class="name">Lorem Ipsum</p>
				        	</div>
				        	<div class="col-md-3">
				        		<div class="row">
				        			<div class="col-md-6">
				        				<span class="glyphicon glyphicon-envelope"></span>
				        			</div>
				        			<div class="col-md-6">
				        				<p class="nr">0</p>	 
				        			</div>
				        		</div>	        		
				        	</div>
				        	<div class="col-md-3">
				        		<div class="row">
				        			<div class="col-md-6">
				        				<span class="glyphicon glyphicon-heart-empty"></span>
				        			</div>
				        			<div class="col-md-6">
				        				<p class="nr">3</p>	 
				        			</div>
				        		</div>	        		       		
				        	</div>		        	
				        </div>		        

				        </div>
				      </div></div>
			</div>
			<div class="col-md-1"></div>

		</div>	

	</div>
</section>