<section class="section" id="charts">
	<div class="container-fluid">
		<div class="row">

			<div class="col-sm-6 col-md-3">
				<div class="inner-content text-center">
		            <div class="c100 p80 center">
		                <span><img src="/templates/creative/wordpress.svg" alt=""></span>
		                <div class="slice">
		                	<div class="bar"></div>
		                	<div class="fill"></div>
		                </div>
		            </div>
            		<p><em>WordPress</em></p>
            	</div>
			</div>


			<div class="col-sm-6 col-md-3">
				<div class="inner-content text-center">
		            <div class="c100 p50 center">
		                <span><img src="/templates/creative/lines.svg" alt=""></span>
		                <div class="slice">
		                	<div class="bar"></div>
		                	<div class="fill"></div>
		                </div>
		            </div>
            		<p><em>Design/Graphics</em></p>
            	</div>
			</div>


			<div class=" col-sm-6 col-md-3">
				<div class="inner-content text-center">
		            <div class="c100 p90 center">
		                <span><img src="/templates/creative/sign.svg" alt=""></span>
		                <div class="slice">
		                	<div class="bar"></div>
		                	<div class="fill"></div>
		                </div>
		            </div>
            		<p><em>Html/Css/jQuery</em></p>
            	</div>
			</div>


			<div class="col-sm-6 col-md-3">
				<div class="inner-content text-center">
		            <div class="c100 p75 center">
		                <span><img src="/templates/creative/support.svg" alt=""></span>
		                <div class="slice">
		                	<div class="bar"></div>
		                	<div class="fill"></div>
		                </div>
		            </div>
            		<p><em>Support/Update</em></p>
            	</div>
			</div>

		</div>
	</div>	
</section>