<section class="section" id="contacts">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 col-md-4" id="projectsDiv">
				<div class="row">
					<h4>Recent Projects</h4>
					
				</div>
				<div class="col-sm-12 col-md-12">
					<div class="row" id="firstRow">
						<div class="col-xs-3 col-md-3"><img src="http://placehold.it/76x76"></div>
						<div class="col-xs-3 col-md-3"><img src="http://placehold.it/76x76"></div>
						<div class="col-xs-3 col-md-3"><img src="http://placehold.it/76x76"></div>
						<div class="col-xs-3 col-md-3"><img src="http://placehold.it/76x76"></div>
					</div>
					<div class="row">
						<div class="col-xs-3 col-md-3"><img src="http://placehold.it/76x76"></div>
						<div class="col-xs-3 col-md-3"><img src="http://placehold.it/76x76"></div>
						<div class="col-xs-3 col-md-3"><img src="http://placehold.it/76x76"></div>
						<div class="col-xs-3 col-md-3"><img src="http://placehold.it/76x76"></div>
					</div>
				</div>
			</div>

			<div class="col-xs-12 col-md-4" id="postsDiv">
				<div class="row">
					<h4>Recents Posts</h4>
					
				</div>
				
				<ul>
					<li>
						<a href="">3 easy way to make themes</a>
					</li>				
					<li>
						<a href="">How developers manage their time</a>
					</li>
					<li>
						<a href="">5 best books about responsive themes</a>
					</li>
					<li>
						<a href="">How many books do you read in a month?</a>
					</li>
					<li>
						<a href="">5 best books about responsive themes</a>
					</li>
					<li>
						<a href="">How many books do you read in a month?</a>
					</li>
				</ul>

			</div>

			<div class="col-xs-12 col-md-4" id="aboutDiv">
				<div class="row">
					<h4>About</h4>
					
				</div>		
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
				Accusamus earum vitae possimus! Rem, tenetur impedit nesciunt? 
				Ducimus laborum similique libero obcaecati repudiandae, 
				impedit omnis aperiam eum iusto animi a saepe.
				Ducimus laborum similique libero obcaecati repudiandae, 
				impedit omnis aperiam eum iusto animi a saepe.
				Accusamus earum vitae possimus! Rem, tenetur impedit nesciunt? </p>	
			</div>

		</div>
	</div>
</section>