<section class="section" id="features">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-sm-6 col-md-4">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Tones of Features</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-xs-1 col-sm-1 col-md-1">
                                <img src="/templates/creative/check.svg" class="checkImg"/>
                            </div>
                            <div class="col-xs-10 col-sm-11 col-md-11">Responsive & Retina Design</div>
                        </div>
                        <div class="row">
                            <div class="col-xs-1 col-sm-1 col-md-1">
                                <img src="/templates/creative/check.svg" class="checkImg"/>
                            </div>
                            <div class="col-xs-10 col-sm-11 col-md-11">Exclusive ThemeOne inclused</div>
                        </div>
                        <div class="row">
                            <div class="col-xs-1 col-sm-1 col-md-1">
                                <img src="/templates/creative/check.svg" class="checkImg"/>
                            </div>
                            <div class="col-xs-10 col-sm-11 col-md-11">Woo Commerce Integrated</div>
                        </div>
                        <div class="row">
                            <div class="col-xs-1 col-sm-1 col-md-1">
                                <img src="/templates/creative/check.svg" class="checkImg"/>
                            </div>
                            <div class="col-xs-10 col-sm-11 col-md-11">Unlimited Colours & Layouts </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-1 col-sm-1 col-md-1">
                                <img src="/templates/creative/check.svg" class="checkImg"/>
                            </div>
                            <div class="col-xs-10 col-sm-11 col-md-11">SEO Optimized & clean code</div>
                        </div>
                        <div class="row">
                            <div class="col-xs-1 col-sm-1 col-md-1">
                                <img src="/templates/creative/check.svg" class="checkImg"/>
                            </div>
                            <div class="col-xs-10 col-sm-11 col-md-11">Endless Possibilities</div>
                        </div>
                    </div>
                </div>
            </div>



            <div class="col-sm-6 col-md-4">
                <div class="col-sm-12 col-md-6">
                    <img src="http://images.apple.com/it/iphone/images/home/trade_up_large.jpg" alt="" id="iphone"/>
                </div>
                <div class="hidden-sm hidden-xs col-md-6">
                    <img src="http://images.apple.com/it/iphone/images/home/trade_up_large.jpg" alt="" id="iphone"/>
                </div>
            </div>

            <div class="col-md-2"></div>
        </div>
    </div>
</section>
