<section class="section" id="footer">
	<div class="container-fluid">
		<div class="row">
			<div class="hidden-sm-down col-md-2"></div>
			<div class="col-xs-12 col-sm-6 col-md-4">
				<p id="copyRight">Copyright 2016. All right reserved Nderim Topalli.</p>
			</div>
			<div class="hidden-sm-down col-md-3"></div>
			<div class="col-xs-12 col-sm-6 col-md-2">
				<div class="col-xs-4 col-sm-2 col-md-2"><a href=""><img src="/templates/creative/icon.svg" alt=""></a></div>
				<div class="col-xs-4 col-sm-2 col-md-2"><a href=""><img src="/templates/creative/social-media.svg" alt=""></a></div>
				<div class="col-xs-4 col-sm-2 col-md-2"><a href=""><img src="/templates/creative/symbol.svg" alt=""></a></div>
				<div class="col-xs-4 col-sm-2 col-md-2"><a href=""><img src="/templates/creative/git.svg" alt=""></a></div>
				<div class="col-xs-4 col-sm-2 col-md-2"><a href=""><img src="/templates/creative/gmail.svg" alt=""></a></div>
				<div class="col-xs-4 col-sm-2 col-md-2"><a href=""><img src="/templates/creative/sharing.svg" alt=""></a></div>
			</div>
			<div class="hidden-sm-down col-md-1"></div>
		</div>
	</div>
</section>