<section class="section" id="home">
    <div class="container-fluid">
        <div class="col-md-6" id="homeText">
            <div class="row">
                <div class="col-md-12">
                    <h1 id="title" >Creative Theme</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p id="text" >
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit,<br>
                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<br>
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris<br>
                        nisi ut aliquip ex ea commodo consequat.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
