
  <nav class="navbar navbar-default navbar-fixed-top" id="menu">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">H - O - T - C</a>
      </div>
       <div class="collapse navbar-collapse " id="myNavbar">
          <ul class="nav navbar-nav">
            <li>
                <a href="#home">HOME</a>
            </li>
            <li>
                <a href="#pages">PAGES</a>
            </li>
            <li>
                <a href="#blog">BLOG</a>
            </li>
            <li>
                <a href="#portfolio">PORTFOLIO</a>
            </li>
            <li>
                <a href="#shop">SHOP</a>
            </li>
            <li>
                <a href="#features">FEATURES</a>
            </li>
            <li>
                <a href="#"><i class="glyphicon glyphicon-search"></i></a>
            </li>
            <li>
                <a href="#"><i class="glyphicon glyphicon-plus"></i></a>
            </li>
          </ul>

      </div>
    </div>
  </nav>
