<section class="section" id="portfolio">
    <div class="row">
        <div class="col-md-5 col-centered" style="text-align: center">
            <h1>Our Recent Work</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="col-md-3">
                <div id="firstImg"></div>
            </div>
            <div class="col-md-3">
                <div id="secondImg"></div>
            </div>
            <div class="col-md-3">
                <div id="thirdImg"></div>
            </div>
            <div class="col-md-3">
                <div id="fourthImg"></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="col-md-2"></div>
            <div class="col-md-6">
                <p>
                    Like what you see? Check our complete work!
                </p>
            </div>
            <div class="col-md-2">
                <button type="button" class="btn btn-default" name="button">View Portfolio</button>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</section>
