<section class="section" id="semiFeatures">
    <div class="row">
        <div class="col-md-10 col-centered">
            <div class="row">
                <div class="col-md-6">
                    <div class="col-md-2">
                        <img src="/templates/creative/shapes.svg" class="img"/>
                    </div>
                    <div class="col-md-10">
                        <h4>Unlimited Possibilities</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                             sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                              Ut enim ad minim veniam, quis nostrud.
                        </p>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="col-md-2 " >
                        <img src="/templates/creative/animal.svg" class="img" alt="" />
                    </div>
                    <div class="col-md-10">
                        <h4>Quick and Easy Setup</h4>
                        <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                 sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                  Ut enim ad minim veniam, quis nostrud.
                            </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="col-md-2">
                        <img src="/templates/creative/tool.svg" class="img" alt="" />
                    </div>
                    <div class="col-md-10">
                        <h4>Updates & Support</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                             sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                              Ut enim ad minim veniam, quis nostrud.
                        </p>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="col-md-2">
                        <img src="/templates/creative/computer.svg" class="img" alt="" />
                    </div>
                    <div class="col-md-10">
                        <h4>Fully responsive</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                             sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                              Ut enim ad minim veniam, quis nostrud.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
