<section class="section" id="social">
	<div class="container-fluid">
		<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
		  

		  <!-- Wrapper for slides -->
		  <div class="carousel-inner" role="listbox">
		    <div class="item active">
		    	<div class="row">
		    		<div class="col-md-4"></div>
		    		<div class="col-md-4">
		    			<img src="/templates/creative/social-media.svg" alt="">
		    		</div>
		    		<div class="col-md-4"></div>
		    	</div>
		    	<div class="row">
			    	<div class="col-md-3"></div>
			    	<div class="col-md-6">
			    		<p class="text">Make sure you are following Nderim Topalli on Twitter to keep you updated for other wonderful themes like this!</p>
			    	</div>
		    	<div class="col-md-3"></div>		    		
		    	</div>

		    	<div class="row">
			    	<div class="col-md-4"></div>
			    	<div class="col-md-4">
			    		<p>4 months ago</p>
			    	</div>
			    	<div class="col-md-4"></div>	    		
		    	</div>
		    </div>

		    <div class="item">
		     <div class="row">
		    		<div class="col-md-4"></div>
		    		<div class="col-md-4">
		    			<img src="/templates/creative/icon.svg" alt="">
		    		</div>
		    		<div class="col-md-4"></div>
		    	</div>
		    	<div class="row">
			    	<div class="col-md-3"></div>
			    	<div class="col-md-6">
			    		<p class="text">Make sure you are following Nderim Topalli on Facebook to keep you updated for other wonderful themes like this!</p>
			    	</div>
		    	<div class="col-md-3"></div>		    		
		    	</div>

		    	<div class="row">
			    	<div class="col-md-4"></div>
			    	<div class="col-md-4">
			    		<p>2 weeks ago</p>
			    	</div>
			    	<div class="col-md-4"></div>	    		
		    	</div>
		    </div>
		    
		    <div class="item">
		     <div class="row">
		    		<div class="col-md-4"></div>
		    		<div class="col-md-4">
		    			<img src="/templates/creative/symbol.svg" alt="">
		    		</div>
		    		<div class="col-md-4"></div>
		    	</div>
		    	<div class="row">
			    	<div class="col-md-3"></div>
			    	<div class="col-md-6">
			    		<p class="text">Make sure you are following Nderim Topalli on Linkedin to keep you updated for other wonderful themes like this!</p>
			    	</div>
		    	<div class="col-md-3"></div>		    		
		    	</div>

		    	<div class="row">
			    	<div class="col-md-4"></div>
			    	<div class="col-md-4">
			    		<p>1 year ago</p>
			    	</div>
			    	<div class="col-md-4"></div>	    		
		    	</div>
		    </div>
		  </div>

		  <!-- Indicators -->
		  <ol class="carousel-indicators" id="carIndicators">
		    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
		    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
		    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
		  </ol>

		</div>
	</div>
</section>