<section class="section" id="sponsors">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-1"></div>

			<div class="col-sm-6 col-md-2">
				<img src="/templates/creative/air.svg" alt="">
			</div>
			<div class="col-sm-6 col-md-2">
				<img src="/templates/creative/business.svg" alt="">
			</div>
			<div class="col-sm-6 col-md-2">
				<img src="/templates/creative/cinema.svg" alt="">
			</div>
			<div class="col-sm-6 col-md-2">
				<img src="/templates/creative/internet.svg" alt="">
			</div>
			<div class="col-sm-6 col-md-2">
				<img src="/templates/creative/logo.svg" alt="">
			</div>

			<div class="col-md-1"></div>
		</div>
	</div>
</section>