<section class="section" id="team">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 col-centered" id="content">
                <div class="row">
                    <div class="col-md-12">
                        <p id="subTitle">FULL SERVICE DIGITAL AGENCY</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" id="title">
                        <h1>Digital team, at your service</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, <br>
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. <br>
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris <br>
                            nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
