<section class="section" id="work">
	<div class="container-fluid">
		
		<div class="row">
		<div class="col-md-6" id="clients">
			<div class="col-md-8">
				<div class="row">
					<div class="col-md-12">
						<h4>OUR SERVICE</h4>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12"> 
						<h2>We offer advanced <br>support for our <br> Clients</h2>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
						Voluptate aliquid fugit, tempora cumque quisquam commodi 
						perferendis sit explicabo ad eligendi repellendus earum deleniti omnis.</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<button class="btn btn-default">Learn More</button>
					</div>
				</div>
			</div>
			<div class="col-md-4"></div>
		</div>

		<!-- ****************************************************** -->
		<div class="col-md-6" id="works">
			<div class="col-md-8">
				<div class="row">
					<div class="col-md-12">
						<h4>OUR SERVICE</h4>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12"> 
						<h2>Check out some of <br>our latest work</h2>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
						Voluptate aliquid fugit, tempora cumque quisquam commodi 
						perferendis sit explicabo ad eligendi repellendus earum deleniti omnis.</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<button class="btn btn-default">Discover More</button>
					</div>
				</div>
			</div>
			<div class="col-md-4"></div>
		</div>
	</div>

	</div>
	
</section>