{% extends "../layouts/master.html" %}
{% block content %}


<section class="section loop content {% if not isHome %}single-page-loop{% endif %}">
    <div class="container">


        <div class="row">
            <div class="col-xs-12 generic-column">
                <div class="generic-column-container">
                    <div class="innertext">
                        {% include "../../__default/partials/event-detail-content-in-page.html" %}

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}
