{% extends "../layouts/master.html" %}
{% block content %}

<section class="section loop content {% if not isHome %}single-page-loop{% endif %}" >
    <div class="container">
        <div class="row">
            <div class="col-xs-12 section-title">
                <h2>{= title =}</h2>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 generic-column">
                <div class="generic-column-container" href="#">
                    <div class="innertext">
                        {= text | safe =}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% include "../partials/store.html" %}
{% include "../partials/loop-single-album.html" %}

{% endblock %}
