
//@import "../../__default/styles/edit-entry.less";
@import "../../__default/styles/config.less";
@import "variables.less";
@import "assets/bootstrap-less/bootstrap.less";
@import "assets/less/ad.less";
@import "assets/less/cookiesmodal.less";

@import "../../__default/styles/commons/modal-details.less";
@import "../../__default/styles/commons/utility.less";

// @import "assets/bootstrap-less/glyphicons.less";
// @import "components/bootstrap-social/bootstrap-social.css";
// @import "components/font-awesome/css/font-awesome.min.css";
// @import url("/components/ModalWindowEffects/css/component.css");
// @import "components/bootstrap-modal-carousel/dist/css/bootstrap-modal-carousel.min.css";

// @import url(https://fonts.googleapis.com/css?family=Roboto+Slab);


/* -------------------------------------------------------------- PRELOAD */

.fakeloader{
    background-color: @text-color;

    .fl{
        div{
            background-color: @mjk_bg;
        }
    }
}

/* -------------------------------------------------------------- BOOTSTRAP FIX */

// .no-gutter {
//     padding-left:@padding-none;
//     padding-right:@padding-none;
// }

// .img-responsive{
//     margin: auto;
//     opacity:0.5;
//     max-height: 600px;
//     min-height: 300px;
// }

// .item{
//     text-align: center;
// }

/* -------------------------------------------------------------- BACK TO TOP */

// #back-top {

//     z-index: 999999;
//     position: fixed;
//     bottom: 25px;
//     right: 30px;

//     a {
//         background-color: @brand-primary;
//         display: block;
//         text-align: center;
//         font: 16px/100% Arial, Helvetica, sans-serif;
//         line-height: 40px;
//         height: 40px;
//         width: 40px;
//         border-radius: 50%;
//         text-transform: uppercase;
//         text-decoration: none;
//         color: @inner_background;
//         border: 1px solid @inner_background;
//         box-shadow: 0px 0px 15px rgba(000, 000, 000, 0.3);

//         -webkit-transition: 1s;
//         -moz-transition: 1s;
//         transition: 1s;
//     }
//     a:hover {
//         color: @outer_background;
//         border: 1px solid @outer_background;
//     }
// }


/* -------------------------------------------------------------- THRUMBALLS */

// .thumbnail{
//     padding: 0px 0px 0px 0px;
//     border: none;
//     margin-bottom: 0px;


//     border-top-left-radius: @squared-corners;
//     border-top-right-radius: @squared-corners;
//     border-bottom-left-radius: @squared-corners;
//     border-bottom-right-radius: @squared-corners;


//     background-color:#333;
//     box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.20) inset;

//     overflow: hidden;

//     background-position:center;
//     background-repeat:no-repeat;
//     background-size: cover;

//         img{
//             vertical-align: middle;
//         }
//     }

// .square-thumbnail{
//     width:100%;
//     height:0px;
//     padding-bottom: 100%;
// }

// .round-thumbnail{
//     width:100%;
//     height:0px;
//     padding-bottom: 100%;

//     border-top-left-radius: 50%;
//     border-top-right-radius: 50%;
//     border-bottom-left-radius: 50%;
//     border-bottom-right-radius: 50%;
// }

// .anamorfic-thumbnail{
//     width:100%;
//     height:0px;
//     padding-bottom: 60%;
// }

// .vertical-thumbnail{
//     width:100%;
//     height:0px;
//     padding-bottom: 160%;
// }

//  .video-player{
//     text-align: center;

//     .glyphicon-play{
//         background-color: rgba(255, 255, 255, 0.7);
//         border: 2px solid @mjk_bg;
//         color: @mjk_bg;
//         width: 80px;
//         height: 80px;
//         font-size: 20px;
//         line-height: 80px;
//         position: absolute;
//         top:50%;
//         left: 50%;
//         margin-left: -40px;
//         margin-top: -40px;

//         border-radius: 50%;
//     }
// }

/* -------------------------------------------------------------- MASTER */
body{
    font-family:'Lato', Helvetica, Arial, sans-serif;
    // font-family: 'Roboto Slab', Helvetica, Arial, sans-serif;
    //font-weight: @font-weight-paragraphs;
    font-weight: 300;
    text-align: center;

}
 .wrapper{
 	background-color: @mjk_bg;
    -webkit-font-smoothing: antialiased;
    margin-left: 0px;
    margin-right: 0px;
    font-family:'Lato', Helvetica, Arial, sans-serif;
    // font-family: 'Roboto Slab', Helvetica, Arial, sans-serif;
    //font-weight: @font-weight-paragraphs;
    text-align: center;
}


section, .section{
    // background-color: @mjk_bg;
    // border-bottom: 1px solid @text-color;

    .container{
        padding-top: @height-navbar * 2;
        padding-bottom: @height-navbar;

        .page-intro{
            margin-bottom: @height-navbar;
            // background-color: #000;
            overflow: auto;

            hgroup.section-title{
                margin-bottom: 0px;
                margin-top: 0px;
                // border-bottom: 1px solid @text-color;
                // background: @text-color;
                position: relative;
                overflow: auto;

                h1, h2, h3, h4, h5, h6 {
                    margin-top: 0px;
                    margin-bottom: @height-navbar / 3;
                    font-family: 'Roboto Slab', Helvetica, Arial, sans-serif;
                    font-weight: 400;
                }
                :after {
                    content: "";
                    display: block;
                    width: 15%;
                    height: 2px;
                    // background: #FF695E none repeat scroll 0% 0%;
                    background-color: @brand-primary;
                    margin: 11px auto 5px;
                }
            }



            .page-description{
                margin-bottom: 0px;
                // background-color: #FFF;
                // color: #000;

                p{
                    margin-bottom: 0px;
                }
            }
        }
    }
}

/* -------------------------------------------------------------- SECTIONS */


/* -------------------------------------------------------------- NAV */

nav.navbar-home {
    position: absolute;
}
nav#main-nav {
    height: @height-navbar;
    bottom: 0px;
    z-index: 10;
    width: 100%;
    margin-bottom: 0px;
    border-radius: 0px;
    border: 0px;
    box-shadow: 0px 0px 20px rgba(000, 000, 000, 0.1);

    .container{
        background-color: @brand-primary;
        padding-top: @padding-none;
        padding-bottom: @padding-none;

        .navbar-brand{
            height: @height-navbar;
            width: @width-navbar;
            display: block;
            padding: @padding-none;
            margin-left: 0px;

                img#brand-img, img{
                    height: @height-navbar;
                    width: auto;
                }
            }
        .navbar-collapse{

            .nav, .list, .navbar-nav{
                margin-bottom: 0px;
                margin-top: 0px;
                // padding-left: @height-navbar;
                // padding-left: @height-navbar / 4;

                a.navbar-nav-link{
                    text-transform: uppercase;
                    line-height: @height-navbar;
                    padding-top: @padding-none;
                    padding-bottom: @padding-none;
                    font-weight: 400;
                    // border-left: 1px solid lighten(@brand-primary, 10%);
                    // border-right: 1px solid darken(@brand-primary, 10%);
                }
                a:hover.navbar-nav-link{
                    color: @brand-primary;
                }
                li.active{
                    a{
                        color: @brand-primary;
                    }
                }
            }

        }

    }
}

.navbar-toggle{
    margin-top: 20px / 2;
    margin-right: 20px / 2;
    margin-bottom: 0px;
    margin-left: 0px;
    height: @height-navbar - 20px;
    width: @height-navbar - 20px;

    .icon-bar{
        width: 100%;
    }
}

 /* -------------------------------------------------------------- BANNER & CAROUSEL */

section#banner {
    background-color: @text-color;
    // height: 100%;
    overflow: hidden;

    .carousel-control{
        background-color: #ccc;
        .glyphicon{
            background-color: #ccc;
        }
    }

    .carousel-inner{
        background-color: @text-color;
        // height: 100%;

        .banner-image-holder{
            opacity:0.5;
        }

        .item{
            opacity:0.2;
            background-color: @brand-primary;
            // background-color: @mjk_bg;
            // background-position:center;
            // background-repeat:no-repeat;
            // -webkit-background-size: cover;
            // -moz-background-size: cover;
            // -o-background-size: cover;
            // background-size: cover;
        }
    }

    h1, h2, h3, h4, h5, h6 {
        //font-size: 16px;
        //color: @brand-primary;
    }
    .container{
        padding-top: @padding-none;
        padding-bottom: @padding-none;
    }
}

/* -------------------------------------------------------------- CAROUSEL */
.carousel{
    background-color: @text-color;

    .carousel-indicators{
        li{}
        .active{
            background-color: @brand-primary;
            border-color: @brand-primary;
        }
    }
    .carousel-inner{
        background-color: @text-color;
        // height: 100%;

        .banner-image-holder{
            opacity:0.5;
        }

        .item{
            opacity:0.2;
            background-color: @brand-primary;
            // background-color: @mjk_bg;
            // background-position:center;
            // background-repeat:no-repeat;
            // -webkit-background-size: cover;
            // -moz-background-size: cover;
            // -o-background-size: cover;
            // background-size: cover;
        }
    }
    .carousel-control, .carousel-control.right, .carousel-control.right{
        background-image: none;

        .glyphicon{
            // background-color: @brand-primary;
            color: @brand-primary;
        }
    }

}

/* -------------------------------------------------------------- COMPANY */

section#company {
    background-color: @brand-primary;
    color: @mjk_bg;

    .container{

        .page-intro{

            hgroup.section-title{
            // border-bottom: 1px solid @brand-primary;
            // background: @brand-primary;
            position: relative;
            overflow: auto;

                h1, h2, h3, h4, h5, h6 {
                    color: @mjk_bg;
                }

                // .goto{
                //     position: absolute;
                //     bottom: 10px;
                //     right: 15px;
                //     font-size: @font-size-small;
                // }
                :after {
                    background-color: @mjk_bg;
                }
            }


            .page-description{
                color: lighten(@mjk_bg, 20%);
            }

        }
    }

}

/* -------------------------------------------------------------- LOOP GENERAL */

section.loop {
    background-color: @mjk_bg;

    .container{

        hgroup.section-title{
            margin-bottom: 100px;
            // border-bottom: 1px solid @mjk_bg;
            // background: @mjk_bg;
            position: relative;
            overflow: auto;

            // .goto{
            //     position: absolute;
            //     bottom: 10px;
            //     right: 15px;
            //     font-size: @font-size-small;
            // }
        }
        .post{
            color: @text-color;
            background-color: lighten(@mjk_bg, 10%);
            display: block;
            margin-bottom: 30px;
            border: 1px solid darken(@mjk_bg, 10%);

            .post-sx{
                background-color: @brand-primary;
                // @padding-base-horizontal

                .post-image{
                    opacity:0.5;
                }
            }
            .post-dx{

                .post-title{
                    margin-top: 50px;
                    font-size: @font-size-base;
                    padding: @padding-base-horizontal;
                    font-family: 'Roboto Slab', Helvetica, Arial, sans-serif;
                    font-weight: 400;
                }
                .post-description{
                    padding: @padding-base-horizontal;
                }
                .post-type{
                    background-color: @brand-primary;
                    color: @brand-primary;
                    height: 0px;

                    .icon{
                        background-color: @text-color;
                        color: @mjk_bg;
                        position: relative;
                        top: -30px;
                        width: 60px;
                        height: 60px;
                        line-height: 60px;
                        font-size: 20px;
                        display: inline-block;
                        border-top-left-radius: 50%;
                        border-top-right-radius: 50%;
                        border-bottom-left-radius: 50%;
                        border-bottom-right-radius: 50%;
                    }

                }
                // .post-attributes{
                //     margin-bottom: @margin-none;

                //     li{
                //         background-color: lighten(@mjk_bg, 30%);
                //         color: lighten(@text-color, 40%) ;
                //         padding: @padding-base-horizontal;
                //         margin-top: 1px;
                //     }
                // }
            }
        }
    }
}

.post-attributes{
    margin-bottom: @margin-none;
    // height: 0px;
    // display: inline;

    li{
        background-color: lighten(@mjk_bg, 30%);
        color: lighten(@text-color, 40%) ;
        padding: @padding-base-horizontal;
        margin-top: 1px;
        font-weight: 700;
        // border-bottom: 1px solid @mjk_bg;
    }
}

/* -------------------------------------------------------------- LOOP NEWS */

section#loop-news {
    // background-color: darken(@text-color, 10%);
    // overflow: auto;

    .container{

        hgroup.section-title{
            // margin-bottom: 100px;
            // border-bottom: 1px solid @text-color;
            // position: relative;
            // background: @text-color;
            // overflow: auto;
        }
    }
}

/* -------------------------------------------------------------- LOOP ALBUMS */
section#loop-albums {
    background-color: lighten(@text-color, 5%);
    color: @mjk_bg;
    overflow: auto;

    .container{

        hgroup.section-title{
            // border-bottom: 1px solid @text-color;
            // background: @text-color;
        }

        .post{
            color: lighten(@text-color, 30%);
            background-color: lighten(@text-color, 10%);
            display: block;
            margin-bottom: 30px;
            border: 1px solid lighten(@text-color, 10%);

            .post-dx{

                .post-title{
                    color: @mjk_bg;
                    margin-top: 50px;
                    font-size: @font-size-base;
                    padding: @padding-base-horizontal;
                }
                .post-description{
                    padding: @padding-base-horizontal;
                }
                .post-type{
                    background-color: @brand-primary;
                    color: @brand-primary;
                    height: 0px;

                    .icon{
                        background-color: @brand-primary;
                        color: @mjk_bg;
                        position: relative;
                        top: -30px;
                        width: 60px;
                        height: 60px;
                        line-height: 60px;
                        font-size: 20px;
                        display: inline-block;
                        border-top-left-radius: 50%;
                        border-top-right-radius: 50%;
                        border-bottom-left-radius: 50%;
                        border-bottom-right-radius: 50%;
                    }
                }

                .post-attributes{
                    margin-bottom: @margin-none;
                    // height: 0px;
                    // display: inline;

                    li{
                        background-color: lighten(@text-color, 20%);
                        color: lighten(@text-color, 40%) ;
                        padding: @padding-base-horizontal;
                        margin-top: 1px;
                        // border-bottom: 1px solid @mjk_bg;
                    }
                }
            }
        }
    }
}

/* -------------------------------------------------------------- LOOP EVENTS */

section#loop-events {
    background-color: lighten(@mjk_bg, 10%);
    overflow: auto;

    .container{

        hgroup.section-title{
            // border-bottom: lighten(@mjk_bg, 10%);
            // background: lighten(@mjk_bg, 10%);
        }

        .post{
            color: @text-color;
            background-color: lighten(@mjk_bg, 20%);
            display: block;
            margin-bottom: 30px;
            border: 1px solid lighten(@mjk_bg, 20%);

            .post-attributes{
                margin-bottom: @margin-none;
                // height: 0px;
                // display: inline;

                li{
                    background-color: lighten(@mjk_bg, 5%);
                    color: darken(@mjk_bg, 10%) ;
                    padding: @padding-base-horizontal;
                    margin-top: 1px;
                    // border-bottom: 1px solid @mjk_bg;
                }
            }
        }
    }
}

/* -------------------------------------------------------------- PAGINATION */

.pagination{
    border: 0px;

    li{
        a{
            border: 0px;
            background-color: darken(@mjk_bg, 20%);
            color: @mjk_bg;
        }
        a:hover{
            background-color: @brand-primary;
            color: @mjk_bg;
        }
        .active{
            background-color: @brand-primary;
            color: @mjk_bg;
        }
    }

}

/* -------------------------------------------------------------- PAGINE INTERNE */

// .page{
//     section.loop, section#loop-albums, section#loop-events section#loop-news {
//     background-color: @mjk_bg;

//         .section-title{
//             h1, h2, h3, h4, h5, h6 {
//                  color: @brand-primary;
//             }
//         }
//     }
//     section#loop-albums{
//         background-color: @text-color;
//     }

// }

/* -------------------------------------------------------------- CONTACTS */
section#contact-form {
    background-color: darken(@mjk_bg, 20%);
    color: @mjk_bg;

    .container{

        .page-intro{
            hgroup.section-title{
                position: relative;
                overflow: auto;

                h1, h2, h3, h4, h5, h6 {
                    color: @brand-primary;
                }
            }

            .page-description{
                color: lighten(@mjk_bg, 20%);
            }
        }
        .question{
            display: block;
            padding: 5px;
            border: 1px solid @brand-primary;
        }
    }
}

/* -------------------------------------------------------------- FOOTER */

section#footer {
    text-align: left;
    background-color: @text-color;
    color: @mjk_bg;
    border: none;
    font-size: 12px;

    .container{

        padding-top: @height-navbar;
        padding-bottom: @height-navbar;

        h1, h2, h3, h4, h5, h6 {
            font-family: "Roboto Slab",Helvetica,Arial,sans-serif;
            font-size: @font-size-base;
            color: @brand-primary;
        }

        address{
            span{
                font-size: 12px;
                display: block;
            }
        }

        #footer-nav-links{
            .list{
                padding-bottom: 10px;
                border-bottom: 1px solid lighten(@text-color, 10% );

                li{
                    padding-top: 0px;
                    padding-bottom: 0px;

                    .navbar-nav-link{
                        display: block;
                        padding-top: 0px;
                        padding-bottom: 0px;
                    }
                }
            }
        }

        .company_social_link, #company_social_links{
            margin-top: 22px;
            font-size: floor((@font-size-base * 1.5));
        }

        #credits{
            font-size: @font-size-small;
            a{
                color: #F90;
            }
            a:hover{
                color: darken(#F90, 15%);
            }
        }

    }
}

/* -------------------------------------------------------------- MODALS */

// .modal{

//     .modal-dialog{
//         margin: 0px auto;
//     }
//     .modal-header{
//         background-color:  @brand-primary;
//         border: none;

//         h1, h2, h3, h4, h5, h6 {
//             color: @mjk_bg;
//             font-size: @font-size-base;
//             text-align: left;
//         }

//         .close{
//             color: @mjk_bg;
//             opacity: 1;
//             text-shadow: 0px 0px 0px;
//         }

//     }
//     .modal-body{
//         background-color: lighten(@mjk_bg, 10%);
//         border: none;
//         padding: 0px 0px 0px 0px;

//         h1, h2, h3, h4, h5, h6 {
//         color: @brand-primary;
//         }

//         .post-sx{
//             background-color: @text-color;
//             text-align: center;
//         }
//         .post-dx{

//             .post-title{
//                 font-size: @font-size-base;
//             }
//         }
//     }
//     .modal-footer{
//         border-top: 1px solid darken(@mjk_bg, 20%);
//         background-color:@mjk_bg;
//     }

// }

/* -------------------------------------------------------------- MODAL FULLSCREEN */

// .modal-fullscreen{

//     .modal-dialog{
//         width: 100%;
//         margin: 0px auto;
//         top: 0px;
//         bottom: 0px;
//         left: 0px;
//         right: 0px;

//         .modal-header{
//             z-index: 99999;
//             left: 0px;
//             position: absolute;
//             right: 0px;
//             background-color: transparent;
//         }
//     }
// }
