.templateFONT{
	font-family: @font-text;
	FONT-FAMILY: @font-title;
}
.elementTemplateHELLOBRAND{
	display: none;
}
@import "../../__default/styles/edit-entry.less";
@import "../../__default/styles/config.less";
@import "variables.less";

@import "assets/bootstrap-less/bootstrap.less";
@import "assets/less/ad.less";
@import "assets/less/cookiesmodal.less";
@import "../../__default/styles/commons/modal-details.less";
@import "../../__default/styles/commons/utility.less";
@import "../../__default/styles/commons/ecommerce.less";


// @import "assets/bootstrap-less/glyphicons.less";
// @import "components/bootstrap-social/bootstrap-social.css";
// @import "components/font-awesome/css/font-awesome.min.css";

//@import url(http://fonts.googleapis.com/css?family=Playfair+Display:400,400italic,700,700italic,900,900italic);
//@import url(http://fonts.googleapis.com/css?family=Quicksand:400,300,700);


/* -------------------------------------------------------------- THRUMBALLS */

.thumbnail{
    overflow: hidden;
    padding: 0px 0px 0px 0px;
    border: none;
    margin-bottom: 0px;

     border-top-left-radius: @squared-corners;
     border-top-right-radius: @squared-corners;

     webkit-border-bottom-left-radius: @squared-corners;
     border-bottom-left-radius: @squared-corners;
     border-bottom-right-radius: @squared-corners;


    background-color:#333;
    box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.20) inset;
    
    overflow: hidden;
    
    background-position:center;
    background-repeat:no-repeat;
    background-size: cover; 

    img{
        vertical-align: middle;
	}
}

.dynamic-height{
	min-height: 120px;
}

    
.round-thumbnail{
    width:100%;
    height:0px;
    padding-bottom: 100%;
	border-radius: 50%;
}

.anamorfic-thumbnail{
    width:100%;
    height:0px;
    padding-bottom: 60%;
    }   
    
.vertical-thumbnail{
    width:100%;
    height:0px;
    padding-bottom: 160%;
    }

 .video-player{
    text-align: center;

    .glyphicon-play{
    background-color: rgba(255, 255, 255, 0.7);
    border: 2px solid @outer_background;
    color: @outer_background;
    width: 80px;
    height: 80px;
    font-size: 20px;
    line-height: 80px;
    position: absolute;
    top:50%;
    left: 50%;
    margin-left: -40px;
    margin-top: -40px;

    border-radius: 50%;
    }

 }   

/* -------------------------------------------------------------- FORMS */


:focus{
    box-shadow: none;
    }

/* -------------------------------------------------------------- MASTER */

.wrapper{
    -webkit-font-smoothing: antialiased;
    margin-left: 0px;
    margin-right: 0px;
    font-family: @font-text;
    font-weight: 300;
    text-align: center;
}

.single-detail-page{
    margin-top: @height-navbar + 50px;
}

h1, h2, h3, h4, h5, h6 {
        //font-size: 16px;
        font-family: @font-title;
        font-weight: 700;
        text-transform: uppercase;
        color: @brand-primary;
        // margin-top: 0px;
        // margin-bottom: 0px;
    }

section, .section{
    background-color: @inner_background;
    // border-bottom: 1px solid @text-color;
    padding-left: 0px;
    padding-right: 0px;

    .container{
    // width: 90%;
    padding-top: @height-navbar;
    padding-bottom: @height-navbar;

    // max-width: 100% !important;
    // width: 100% !important;
    // background-color: lighten(@text-color, 55%);

    hgroup.section-title{
        margin-bottom: @height-navbar;
        // border-bottom: 1px solid @text-color;
        position: relative;
        // background: @gray-light;
        //overflow: auto;

        h1, h2, h3, h4, h5, h6 {
            // margin-top: 0px;
            margin-bottom: @height-navbar / 2;
            margin-bottom: 0px;
        }

        .goto{
            position: absolute;
            bottom: 10px;
            right: 15px;
            font-size: @font-size-small;

            }
        }
    }
}


/* -------------------------------------------------------------- SECTIONS */


/* ------------------------------- NAV */



nav.navbar-home {
    position: absolute;
}
nav#main-nav {
    // position: relative;
    // position: absolute;
    height: @height-navbar;
    background-color: @inner_background;
    bottom: 0px;
    z-index: 10;
    width: 100%;
    margin-bottom: 0px;
    border-radius: 0px;
    border: 0px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);

    .container{
        background-color: @inner_background;
        padding-top: @padding-none;
        padding-bottom: @padding-none;

        .navbar-brand{
            height: @height-navbar;
            width: auto;
            // width: @width-navbar;
            display: block;
            padding: @padding-none;
            margin-left: 0px;
            margin-right: 20px;

                img#brand-img, img{
                    height: @height-navbar;
                    width: auto;
                }
            }
        .navbar-collapse{

            .nav, .list, .navbar-nav{
                margin-bottom: 0px;
                margin-top: 0px;
                // padding-left: @height-navbar;
                // padding-left: @height-navbar / 4;

                a.navbar-nav-link{
                    background-color: @inner_background;
                    color: @text-color;
                    line-height: @height-navbar;
                    padding-top: @padding-none;
                    padding-bottom: @padding-none;
                    text-transform: uppercase;

                }
                a:hover.navbar-nav-link{
                    background-color: @inner_background;
                    border-top: 3px solid @brand-primary;
                    line-height: @height-navbar - 3px;
                    color: @brand-primary;
                }
                li.active{
                    a{
                        background-color: @inner_background;
                        border-top: 3px solid @brand-primary;
                        line-height: @height-navbar - 3px;
                        color: @brand-primary;
                        pointer-events: none; 
                    }
                }
            }

        }  
    }
}

.socials-widjet{
    a.navbar-nav-link{
        fa{
           color: @brand-primary; 
        }
    }
}

.main-nav-scrolled {
    position: fixed !important;
    width: 100% !important;
    top: 0px !important;
}

.navbar-toggle{
    margin-top: 20px / 2;
    margin-right: 20px / 2;
    margin-bottom: 0px;
    margin-left: 0px;
    height: @height-navbar - 20px;
    width: @height-navbar - 20px;

    .icon-bar{
        width: 100%;
    }
}

/* ------------------------------- BANNER */
section#banner {
    background-color: @outer_background;
    // height: 100%;
    overflow: hidden;

    .carousel-inner{
        background-color: @outer_background;
        // height: 100%;

        .item{
            // background-color: @outer_background;
            // background-position:center;
            // background-repeat:no-repeat;
            // -webkit-background-size: cover;
            // -moz-background-size: cover;
            // -o-background-size: cover;
            // background-size: cover; 
        }
    }

    h1, h2, h3, h4, h5, h6 {
        //font-size: 16px;
        //color: @brand-primary;
    }
    .container{
        padding-top: @padding-none;
        padding-bottom: @padding-none;
    }
}

/* ------------------------------- COMPANY */
section#company {
    background-color: @brand-primary;
    color: @gray-lighter;

    a{
        color: @inner_background !important;
    }

    hgroup.section-title{
        // background: @gray-light;
        border-color: @inner_background;

        h1, h2, h3, h4, h5, h6 {
            color: @inner_background;
        }

        .goto{
        }
    }

    h1, h2, h3, h4, h5, h6 {
        color: @inner_background;
        }
    #company-short-description{
        color: @inner_background;
        }
}

/* ------------------------------- LOOP GENERAL 

@import "../../__default/styles/commons/post-structure.less";*/

section.loop {
	.post-column{
		margin-bottom: 20px;
	}
	.post-container{
		background-color: fade(contrast(@brand-primary,darken(@inner_background,5%),lighten(@inner_background,5%)),70%);
	}
	.post{
		@background-post : @gray-lighter;
		@background-post-hover : lighten(@brand-primary, 10%);
		text-decoration: none;
		border: none;
		transition: all 0.3s;
		//opacity: 0.75;

		h1, h2, h3, h4, h5, h6 {
			// font-family: @font-family-paragraphs;
			font-weight: 700;
			text-transform: uppercase;
			color: @brand-primary;
			font-size: @font-size-base;
			transition: all 0.3s;
			margin: 0.3em 0;
		}
		p{
            margin-top: 15px;
			color: @text-color;
			opacity: 1;
			transition: all 0.3s;
		}
		time{
            background-color: @brand-primary;
            padding: 5px 0px 5px 0px;
            line-height: 100%;
            margin-left: 20px;
			display: block;
			position: absolute;
			overflow: auto;
			color:  lighten(@text-color, 30%);
			font-family: @font-text;
			font-size: @font-size-small;
            box-shadow: 2px 2px 2px rgba(000, 000, 000, 0.5);

			.date-item{
				padding: 5px 10px;
				// margin-left: 20px;
				display: block;
				background-color: @inner_background;
				text-align: center;
			}
			.day,.month,.year{
				color: @inner_background;
                background-color: @brand-primary;
			}
		}
		.post-content{
			text-align: left;
			padding: @grid-gutter-width/4 @grid-gutter-width/2;
			word-wrap: break-word;
		}
		.post-img{
			background-color: @background-post-hover;
			transition: all 0.3s;
		}

		.post-attributes{
			background-color: @text-color;
			border-top: solid 1px darken(@text-color, 1%);
			text-align: center;
			color: @inner_background !important;
			transition: all 0.3s;
		}

		&:hover{
			background-color: @background-post-hover;
			h1, h2, h3, h4, h5, h6{
				color: darken(@brand-primary,10%);
			}
			p{
				opacity: 0.7;
			}
			.post-img, .post-attributes{
				opacity: 0.5;
			}
			.post-content{
				border-bottom-color: @background-post-hover;
				border-right-color: @background-post-hover;
			}
		}
	}
}


/* ------------------------------- LOOP EVENTS */
section#loop-events {
    background-color: lighten(@brand-primary,20%);
	.post-container{
		background-color: fade(contrast(@texts,darken(@brand-primary,30%),lighten(@brand-primary,30%)),70%);
	}
}




/* ------------------------------- LOOP ALBUMS */

section#loop-albums {
    background-color: @outer_background;

	.post{
		background-color: transparent !important;

		.post-content{
			border: none;
			text-align: center;
			h1, h2, h3, h4, h5, h6 {
				font-size: @font-size-base;
			}
			p{
				display: none;
			}
		}
		.post-img{
			background-color: transparent !important;
			.thumbnail {
				border-radius: 50%;
				border: 5px solid @brand-primary;
				padding-bottom: 95%;
				padding-bottom: calc(~"100%" - 10px);
			}
			time{
				display: none;
			}
		}

		.post-attributes{
			display: none;
		}

		&:hover{
			background-color: transparent !important;
			h1, h2, h3, h4, h5, h6{
				color: darken(@brand-primary,20%);
			}
			.post-img, .post-attributes{
			}
			.post-content{
			}
		}

	}
	.post-container{
		background-color: transparent !important;
	}

}

/* ------------------------------- PAGINE INTERNE */

.page{
    section.loop, section#loop-albums, section#loop-events section#loop-news {
        // background-color: @brand-primary;
        // color: @gray-lighter;
        background-color: @inner_background;

        .section-title{
            h1, h2, h3, h4, h5, h6 {
                // color: @gray-lighter;
                 color: @brand-primary;
            }
        }
    }
    section#loop-albums{
        background-color: @text-color;
    }

}



/* ------------------------------- PAGINATION */

.pagination{

    border-top-left-radius: @squared-corners;
    order-top-right-radius: @squared-corners;     
    border-bottom-left-radius: @squared-corners;
    border-bottom-right-radius: @squared-corners;

    li{
        border-top-left-radius: @squared-corners;
        order-top-right-radius: @squared-corners;     
        border-bottom-left-radius: @squared-corners;
        border-bottom-right-radius: @squared-corners;

        a{
            background-color: @texts;
            color: @brand-primary;
            border:0px;

            border-top-left-radius: @squared-corners;
            border-top-right-radius: @squared-corners;     
            border-bottom-left-radius: @squared-corners;
            border-bottom-right-radius: @squared-corners;
		}
		span.navigation-disabled, span.navigation-disabled:hover{
			background-color: lighten(@texts,5%);
			color: @brand-primary;
			border:0px;
		}
        .active{
            background-color: @brand-primary;
            color: @texts;
        }

    }

}

/* ------------------------------- MAP */
section#map {
    background-color: @gray-lighter;

    h1, h2, h3, h4, h5, h6 {
        //font-size: 16px;
        //color: @brand-primary;
    }
    .container-fluid{
    padding-top: 0px;
    padding-bottom: 0px;

    hgroup.section-title{
        margin-bottom: 0px;
        border-bottom: 1px solid @gray;
        background: @gray-light;
        overflow: auto;
        display: none;
        }
    #map-canvas {
        min-height: 600px;
        background: @gray-darker;
        }    
    }
    
}

/* ------------------------------- CONTACTS */
section#contact-form {
    // background-color: @gray-lighter;
    color: @text-color;
    background-color:  lighten(@text-color, 20%);
    font-size: 12px;
    //color: @gray-lighter;

    h1, h2, h3, h4, h5, h6 {
            color: @brand-primary;
    }

    a{
        // color: @gray-lighter;
        }

    hgroup.section-title{
        // background: @gray-light;

        color: @inner_background;

        .goto{

            a{
                // color: @text-color;
                }
            }
        }

    h1, h2, h3, h4, h5, h6 {
        //color: @text-color;
    }
    p{
        color: @text-color;
    }
}

/* ------------------------------- FOOTER */
section#footer {
    text-align: left;
    background-color: @outer_background;
    border: none;
    font-size: 12px;


    .container{
        color: lighten(@outer_background, 50% );

        h1, h2, h3, h4, h5, h6 {
            font-size: 12px;
            color: @brand-primary;
            // margin-top: 0px;
        }

        address{
			margin-bottom: 0.5em;
            span{
                font-size: 12px;
                display: block;
            }
        }
		.hours-small{
			margin-bottom: 0.5em;
			.hours-status-now{
				font-weight: bold;
			}
		}

        #footer-nav-links{
            .list{
                padding-bottom: 10px;
                border-bottom: 1px solid lighten(@outer_background, 30% );

                li{
                    // padding-left: 0px;
                    padding-top: 0px;
                    padding-bottom: 0px;
                    // border-right: 1px solid @inner_background;


                    .navbar-nav-link{
                        display: block;
                        padding-top: 0px;
                        padding-bottom: 0px;
                        // background-color: #ccc;
                    }
                }
            }
        }

        .company_social_link, #company_social_links{
            margin-top: 22px;
            // color: lighten(@outer_background, 60% );
            font-size: floor((@font-size-base * 1.5));
        }
        #credits{
            font-size: @font-size-small;
            // color: @inner_background;
            a{
                color: #F90;
            }
            a:hover{
                color: darken(#F90, 15%);
            }
        }
    } 
}

/* ------------------------------- MODALS */


/* ------------------------------- CLAMP */

*[ng-cloak] {
    display: none;
}


/* ------------------------------- CLAMP */

// .clamp-1 {
//     min-height: 20px;
// }

// .clamp-2 {
//     min-height: 75px;
// }

body.store-page{
	#custom-page .container{
		padding-bottom:0;
	}

	.breadcrumb{
			 background: transparent;
			 border: solid 1px fade(@texts, 50%);
			 a{
				 color: darken(@brand-primary,20%);
			 }
		 }.panel{
			  text-align: left;
			  .panel-heading{
				  text-align: center;
			  }
			  .panel-body{
				  background: @inner_background;
			  }
			  .list-group{
				  .list-group-item{
					  background: @inner_background;
					  .badge{
						  background-color: darken(@inner_background,10%);
						  color: @brand-primary;
						  border-radius: 3px;
						  float: right;
					  }

					  &.active-category{
						  background: @brand-primary;
						  color: @inner_background;
						  a{
							  color: lighten(@inner_background,5%);
						  }
						  .badge{
							  background-color: darken(@brand-primary,10%);
							  color: @inner_background;
						  }
					  }
				  }
			  }
		  }
	li.product-item{
		list-style: none;
	}
	ul#productsContainer{
		padding: 0;
		margin: 0 -15px;
	}
}
