body.store-page {
	@contrasted-to-brand: contrast(@brand-primary, @inner_background);
	@contrasted-to-outer: contrast(@outer_background, @inner_background);
	@contrasted-to-brand-shadow: softlight(@inner_background, @contrasted-to-brand);

	.preloader {
		font-size: 10px;
		margin: 5em auto;
		width: 1em;
		height: 1em;
		border-radius: 50%;
		position: relative;
		text-indent: -9999em;
		-webkit-animation: load4 1.3s infinite linear;
		animation: load4 1.3s infinite linear;
	}

	.navbar {
		.navbar-nav {
			width: auto;
		}
	}

	/* Shopping Cart loader position */
	#loaderContainer {
		width: 200px;
		vertical-align: middle;
		text-align: center;
		background: rgba(80, 80, 80, 0.4);
		overflow: hidden;
		padding: 10px;
		border-radius: 8px;
		-webkit-box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 0.2);
		box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 0.2);
		color: #ffffff;
		position: fixed;
		left: calc(50% - 100px);
		top: calc(50% - 100px);
		z-index: 9999;
	}

	#loaderContainer .lw-loading-status {
		background: rgba(255, 255, 255, 0.6);
		padding: 8px;
		border-radius: 8px;
		-webkit-box-shadow: inset 2px 2px 0 0 rgba(0, 0, 0, 0.2);
		box-shadow: inset 2px 2px 0 0 rgba(0, 0, 0, 0.2);
	}
	.modal-dialog {
		z-index: 1055;
		margin-top: 90px;
		.modal-header {
			background-color: @brand-primary;
			padding-bottom: 10px;
			button, .modal-title {
				color: @contrasted-to-brand;
				background-color: transparent;
				padding: 0;
				margin: 0;
			}
		}
		.product-attributes {
			color: @texts;
			a {
				text-decoration: underline;
			}
		}
		.product-details {
			padding: 15px 0;
			outline: none;
			clear: both;
			.description {
				margin-top: 10px;
			}
		}
		.product-img {
			width: 100%;
			padding: 0 0 4px 0;
		}
		@media (min-width: @screen-sm-min) {
			.product-img {
				width: 45%;
				float: left;
				padding: 0 15px 8px 0;
				transition: 0.3s;
				cursor: pointer;
				&:hover {
					opacity: 0.9;
				}
				&.open {
					width: 100%;
					padding: 0 0 15px 0;
					&:hover {
						opacity: 1;
					}
				}
			}
		}
		.btn-primary {
			background-color: @brand-primary;
			color: @contrasted-to-brand-shadow;
			&:hover {
				background-color: darken(@brand-primary, 5%);
				color: @contrasted-to-brand;
				text-decoration: none;
			}
		}
	}
	.btn {
		background-color: @brand-primary;
		color: @contrasted-to-brand-shadow;
		&:hover {
			background-color: darken(@brand-primary, 5%);
			color: @contrasted-to-brand;
			text-decoration: none;
		}
	}

	/* CART */
	.table-cart {
		margin: 0 !important;
		.table {
			padding: 0;
			margin: 0;
		}
		.cart-table-title-col {
			/*width: 35%;*/
		}
		.cart-table-qt-col {
			width: 20%;
		}
		.cart-table-price-col {
			width: 15%;
		}
		.cart-table-tot-col, .cart-table-price-col {
			width: 20%;
		}
		.delete-product-from-cart {
			border: none;
			padding-left: 5px;
			padding-right: 5px;
			background: transparent;
			color: @brand-primary;
		}
		.cart-total{
			td{
				padding-bottom: 1em;
			}
		}

		.alert {
			margin: 0;
		}
	}
	.buy-buttons {
		text-align: center;
		a {
			display: block;
			padding: 10px;
			&.btn-primary {
				background-color: #eee;
				color: #222;
				font-weight: bolder;
				border: solid 1px @brand-primary;
				transition: all 0.3s;
			}
			&.btn-primary:hover {
				background-color: #fff;
				color: #000;
				box-shadow: 0 0 5px #bbb;
			}
		}
		.btn + .btn {
			margin-left: 0;
			margin-top: 10px;
		}
	}
	.modal-message{
		padding:15px;
	}

	.alert-info {
		text-align: center;
		background-color: @inner_background;
		color: @texts;
		font-weight: bolder;
		border: none;
		padding: 20px 15px;
	}

	.order-page-body {
		.form-group {
			margin: 0;
			padding-bottom: 10px;
		}
		.input-holder {
			padding-left: 0;
		}
		.bs-callout {
			text-align: left;
			font-weight: lighter;
		}
		hr {
			margin: 0 15px 15px 15px;
		}
	}

	.confirm-added-to-cart .alert-info{
		text-align: left;
		padding: 10px;
		border-bottom: solid 1px @brand-primary;
	}

	.breadcrumb {
		background: transparent;
		border: solid 1px fade(@texts, 50%);
		a {
			color: darken(@brand-primary, 20%);
		}
	}

}
