/*  Modal details */

.modal-backdrop{
    background-color: @outer_background;
    opacity: 0.9;
}

.modal{

    .modal-dialog{
        // margin: 10px;
        text-align: left;
        background-color: transparent;

        .modal-content{
            box-shadow: 0px 3px 9px darken(@brand-primary, 20%);
            background-color: transparent;

            .post-attributes{
                margin-bottom: 0px;
                // color:@texts;
                // height: 0px;
                // display: inline;

                li{
                    background-color: darken(@inner_background, 5%);
                    color:@texts;
                    padding: @padding-base-horizontal;
                    margin-top: 1px;
                    font-weight: 700;
                }
            }
        }
    }
    .modal-header{
        background-color: @brand-primary;
        border: none;

        h1, h2, h3, h4, h5, h6 {
        color: @inner_background;
        font-size: @font-size-base;
        }

        .close{
            color: @inner_background;
            opacity: 1;
            text-shadow: 0px 0px 0px;
        }

    }
    .modal-body{
        background-color: lighten(@inner_background, 10%);
        border: none;
        padding: 0px 0px 0px 0px;

        h1, h2, h3, h4, h5, h6 {
        color: @brand-primary;
        }

        .media-fullwidth-container, .media-side-image, .media-carousel-container{
            background-color: @text-color;
            text-align: center;
            // @padding-base-horizontal
        }
		.media-side-image{
			@media screen and ( min-width: 768px ) {
				max-height: 650px;
				overflow: hidden;
			}
			@media screen and ( max-height: 700px ) and ( min-width: 768px ) {
				max-height: 450px;
				overflow: hidden;
			}

		}
		.image-ratio-less1{
			@media screen and ( min-width: 768px ){
				img{
					display: inline;
					height: 100%;
					width: auto;
				}
			}

			@media screen and ( min-width: 768px ) {
				img{
					max-height: 650px;
				}
			}
			@media screen and ( max-height: 700px ) and ( min-width: 768px ) {
				img{
					max-height: 450px;
				}
			}

		}
		.modal-content-container{
			padding: 12px;
		}
		.post-title{
			margin-top: 0;
			font-size: @font-size-large;
			// margin-top: 0px;
		}
		h2, p{
			word-wrap: break-word;
		}
    }
    .modal-footer{
        border-top: 1px solid darken(@inner_background, 20%);
        background-color:@inner_background;
        // border: none;
    }

}


/* -------------------------------------------------------------- MODAL FULLSCREEN */

/* ------------------------------- MODAL CAROUSEL */

.modal-fullscreen
// .modal-fullscreen .modal-dialog,
// .modal-fullscreen .modal-content
{
    width: auto;
    bottom: 0px;
    left: 0px;
    position: fixed;
    right: 0px;
    top: 0px;
    margin: 0px 0px 0px 0px;
    // background-color: rgba(0, 0, 0, 0.5);

    .modal-dialog{
        margin: 0px;
        width: auto;
    }
    .modal-content {
        border: none;
    }

    .modal-header{
        background-color: transparent;
        position: absolute;
        z-index: 1051;
        width: 100%;

        // .close{
        //     background-color: @brand-primary;
        //     width: 40px;
        //     height: 40px;
        //     line-height: 40px;
        // }
    }
    .modal-body{
        background-color: transparent;
    }
}

section#modal-carousel {
    background-color: transparent !important;
    overflow: hidden;

    .carousel-inner{

        .item{
            text-align: center;

            img{
                width: auto;
                height: auto;
                padding: auto;
                margin: auto;
            }
        }
    }
}



/* --------- */

.modal-fullscreen .carousel,
.modal-fullscreen .carousel-inner,
.modal-fullscreen .carousel-inner .item,
.modal-fullscreen section#modal-carousel,
.modal-fullscreen .modal-body > div,
.modal-fullscreen .modal-body > div > div,
.modal-fullscreen .modal-body > div > div > div {
    height:100%;
}
.modal-fullscreen .carousel-inner .item img{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}



.modal-lg{
	.modal-content{
		margin-bottom:120px;
	}
}
