.posts-loop{
	a.post{
		display: block;
		.post-img{
			time{
				position: absolute;
				display: block;
			}
			.thumbnail{
				width: 100%;
				min-height: 120px;
			}
		}
		.post-content{
			@title-line-height: @font-size-large*1.3;
			padding-top: @padding-base-horizontal;
			padding-left: @padding-base-horizontal;
			padding-right: 0;
			padding-bottom: 0;
			border-bottom-style: solid;
			border-bottom-width: @padding-base-horizontal;
			border-right-style: solid;
			border-right-width: @padding-base-horizontal;
			transition: all 0.3s;
			//transition: height 0s;
			.title-container{
				overflow: hidden;
			}
			h1, h2, h3, h4, h5, h6 {
				margin:0;
				padding:0;
				font-size: @font-size-large;
				text-transform: uppercase;
				line-height: @title-line-height;
			}
			h3,h4{
				font-size: @font-size-large*0.9;
			}
			.two-lines{
				height: 2*@title-line-height*1.2+@padding-base-horizontal;
			}
			.six-lines{
				height: 6*@title-line-height*1.2+@padding-base-horizontal;
			 }
			.full-length{
				height: 100%;
			}
		}
		.post-attributes {
			padding-top: @padding-base-horizontal/2;
			padding-bottom: @padding-base-horizontal/2;
			margin: 0;
			font-size: @font-size-small;
			.post-attribute-single {
				display: block;
				padding-left: @padding-base-horizontal/2;
				padding-right: @padding-base-horizontal/2;
				.truncate;

				.social-icon, strong {
					width: 1em;
					text-align: center;
					display: inline-block;
				}
			}
		}
	}
}
