.post-column{
    overflow: hidden;
}

.btn-majeeko-editor{
    border-radius: 0px;
}

*[ng-cloak] {
    display: none;
}

/* -------------------------------------------------------------- PRELOAD */

// .fakeloader{
//     background-color: @text-color;

//     .fl{
//         div{
//             background-color: @mjk_bg;
//         }
//     }
// }

.fakeloader{
    background-color: @brand-primary;
    z-index: 99999;

    .fl{
        div{
            background-color: @outer_background;
            z-index: 99999;
        }
    }
}

/* -------------------------------------------------------------- UTILITY */
.carousel-inner{
    // background-color: #000;
    background-color: rgba(0, 0, 0, 0.8);

}
.no-gutter {
    padding-left:0px;
    padding-right:0px;
    /*background:#066;*/
}

.img-responsive{
    width: 100%;
}

.truncate{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

a:hover{
    text-decoration: none;
} 

/* -------------------------------------------------------------- MAP MARKER */

iframe{
    background-color: #333;

    .map_marker img{
        box-shadow: 0px 0px 30px #999;
        padding: 5px;
        background-color: #FFF;
    }
}

/* -------------------------------------------------------------- THRUMBALLS */

.thumbnail{
    overflow: hidden;
    padding: 0px 0px 0px 0px;
    border: none;
    margin-bottom: 0px;

    border-top-left-radius: @squared-corners;
    border-top-right-radius: @squared-corners;
    border-bottom-left-radius: @squared-corners;
    border-bottom-right-radius: @squared-corners;

    background-color:#333;
    box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.20) inset;
    
    overflow: hidden;
    background-position:center;
    background-repeat:no-repeat;
    background-size: cover; 
    }

.square-thumbnail{
    width:100%;
    height:0px;
    padding-bottom: 100%;   
}
    
.round-thumbnail{
    width:100%;
    height:0px;
    padding-bottom: 100%;

    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}   

.anamorfic-thumbnail{
        width:100%;
        height:0px;
        padding-bottom: 60%;
    }   
    
.vertical-thumbnail{
        width:100%;
        height:0px;
        padding-bottom: 160%;
    }

 .video-player{
    text-align: center;

    .glyphicon-play{
        background-color: rgba(255, 255, 255, 0.7);
        border: 2px solid @outer_background;
        color: @outer_background;
        width: 80px;
        height: 80px;
        font-size: 20px;
        line-height: 80px;
        position: absolute;
        top:50%;
        left: 50%;
        margin-left: -40px;
        margin-top: -40px;
        border-radius: 50%;
    }

 }

 .bg-cover{
     background-repeat:no-repeat;
     background-size: cover;
 }
 .bg-contain{
    background-repeat:no-repeat;
    background-size: contain;
    // background-size: 80%;
    background-color: #FFF;
 }

/* -------------------------------------------------------------- BACK TO TOP */

#back-top {
	z-index: 100;
	position: fixed;
	bottom: 25px;
	right: 30px;

	a {
		background-color: @brand-primary;
		display: block;
		text-align: center;
		font: 16px/100% Arial, Helvetica, sans-serif;
		line-height: 40px;
		height: 40px;
		width: 40px;
		border-radius: 50%;
		text-transform: uppercase;
		text-decoration: none;
		color: @inner_background;
		border: 1px solid @inner_background;
		box-shadow: 0px 0px 15px rgba(000, 000, 000, 0.3);

		/* transition */
		-webkit-transition: 1s;
		-moz-transition: 1s;
		transition: 1s;
	}
	a:hover {
		color: @outer_background;
		border: 1px solid @outer_background;
	}
}

/* -------------------------------------------------------------- SOCIAL ICONS COLOR */

.fa-facebook, .fa-facebook-square{
	color: @facebook-color;
}
.fa-twitter, .fa-twitter-square{
	color: @twitter-color;
}
.fa-vimeo, .fa-vimeo-square{
	color: @vimeo-color;
}
.fa-youtube, .fa-youtube-play{
	color: @youtube-color;
}
.fa-skype, .fa-skype-square{
	color: @skype-color;
}
.fa-pinterest-square, .fa-pinterest{
	color: @pinterest-color;
}
.fa-instagram{
	color: @instagram-color;
}
.fa-tripadvisor{
	color: @tripadvisor-color;
}







