body {
  background-color: #f4f4f4;
}
.main-container {
  border: solid 1px #eee;
  background-color: white;
  border-radius: 2px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.main-section-title {
  border-bottom: solid 1px #ccc;
}
.main-section-title.spaced {
  padding-top: 2em;
}
.iban_separator {
  padding-left: 0.3em;
}
.checkbox {
  margin-top: 0;
}
.footer {
  padding-top: 10px;
  color: #888;
}
.footer a {
  color: #444;
}
