@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Asap:400,700,400italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic);
@font-face {
  font-family: 'entypo';
  src: url('../../fonts/Entypo/entypo.eot');
  src: url('../../fonts/Entypo/entypo.eot?#iefix') format('embedded-opentype'), url('../../fonts/Entypo/entypo.woff2') format('woff2'), url('../../fonts/Entypo/entypo.woff') format('woff'), url('../../fonts/Entypo/entypo.ttf') format('truetype'), url('../../fonts/Entypo/entypo.svg#entypo') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'entypo-social';
  src: url('../../fonts/Entypo-Social/entypo-social.eot');
  src: url('../../fonts/Entypo-Social/entypo-social.eot?#iefix') format('embedded-opentype'), url('../../fonts/Entypo-Social/entypo-social.woff2') format('woff2'), url('../../fonts/Entypo-Social/entypo-social.woff') format('woff'), url('../../fonts/Entypo-Social/entypo-social.ttf') format('truetype'), url('../../fonts/Entypo-Social/entypo-social.svg#entypo') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* import font */
/* prewiew */
/* FONTS */
/* FONT SIZE */
/* synkysyte */
/* status */
/* grigi generici */
/* colore primario */
/*@brand-primary-dark: #428bca;*/
/* colore secondario */
/* allerts */
/* socials */
/* generico */
/* features */
/* devices */
.devices-icon {
  background-color: #cdcdcd;
  background-repeat: no-repeat;
  background-position: center;
  width: 36px;
  height: 35px;
  margin-right: 1px;
  display: block;
  /*margin-top:15px;*/
  float: left;
}
.devices-icon-desktop {
  background-image: url(../images/desktop.png);
}
.devices-icon-tablet {
  background-image: url(../images/tablet.png);
}
.devices-icon-phone {
  background-image: url(../images/phone.png);
}
.online {
  color: #5cb85c;
}
.offline {
  color: #d9534f;
}
.branding {
  display: none;
}
.block {
  display: block;
}
.box-shadow {
  box-shadow: 1px 2px 2px 0px #cdcdcd;
  -webkit-box-shadow: 1px 2px 2px 0px #cdcdcd;
  -moz-box-shadow: 1px 2px 2px 0px #cdcdcd;
}
.box-shadow-dark {
  box-shadow: 1px 2px 2px 0px #333333;
  -webkit-box-shadow: 1px 2px 2px 0px #333333;
  -moz-box-shadow: 1px 2px 2px 0px #333333;
}
.box-shadow-inset {
  /*
	box-shadow: 0px 3px 5px 0px @gray-light inset;
	-webkit-box-shadow: 0px 3px 5px 0px @gray-light inset;
	-moz-box-shadow: 0px 3px 5px 0px @gray-light inset;
	*/
}
.r {
  float: right;
}
.l {
  float: left;
}
/* share buttons */
.sharelink {
  display: block;
  text-align: center;
  /*padding:10px;
	display:block;
	text-align:center;
	line-height:15px;*/
  /*background-position:center center;
	background-repeat:no-repeat;
	border:1px solid #CCC;
 	width:30px;
	height:30px;
		-webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	text-indent: -999px;*/
}
.sharelink .fa {
  text-align: center;
  display: block;
  font-size: 20px;
  line-height: 40px;
  background-color: #FFF !important;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}
:hover.sharelink {
  color: #FFF !important;
}
.f,
a:hover.f {
  /*background-color:#374E79;*/
  color: #374E79;
  /*background-image:url(../img/social_icons/getconnected_fb.png);*/
}
.t,
a:hover.t {
  /*background-color:#00ACEE;*/
  color: #00ACEE;
  /*background-image:url(../img/social_icons/getconnected_twitter.png);*/
}
.go,
a:hover.go {
  /*background-color:#00ACEE;*/
  color: #c23321;
  /*background-image:url(../img/social_icons/getconnected_twitter.png);*/
}
.pad {
  cursor: pointer;
  /*background:@white !important;
	position:absolute;*/
  /*padding:20px;*/
  box-shadow: 1px 2px 2px 0px #cdcdcd;
  -webkit-box-shadow: 1px 2px 2px 0px #cdcdcd;
  -moz-box-shadow: 1px 2px 2px 0px #cdcdcd;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
}
:hover.pad {
  -webkit-transform: scale(1.02);
  transform: scale(1.02);
  /*margin-left:-8px;
	margin-top:-8px;*/
  box-shadow: 4px 4px 12px 0px #cdcdcd;
  -webkit-box-shadow: 4px 4px 12px 0px #cdcdcd;
  -moz-box-shadow: 4px 4px 12px 0px #cdcdcd;
}
:active.pad {
  -webkit-transform: scale(0.95);
  transform: scale(0.95);
  /*margin-left:-8px;
	margin-top:-8px;*/
  box-shadow: 2px 2px 12px 0px #555555;
  -webkit-box-shadow: 2px 2px 12px 0px #555555;
  -moz-box-shadow: 2px 2px 12px 0px #555555;
}
.no-gutter {
  padding-left: 0;
  padding-right: 0;
  /*background:#066;*/
}
h1,
h2,
h3,
h4,
h5,
h6 {
  /*font-style:italic;*/
  font-weight: normal;
  font-family: 'Asap', sans-serif;
  font-weight: 700;
  /*letter-spacing:1px;*/
  color: #F90;
  /*
	line-height:100%;
	margin-top:0px;
	padding-top:0px;
	text-transform:uppercase;
	*/
  /*
	text-shadow: 1px 1px 1px  @gray-light ;
	-webkit-text-shadow: 1px 1px 1px  @gray-light ;
	-moz-text-shadow: 1px 1px 1px  @gray-light ;
	*/
}
small {
  font-weight: 400;
}
.progress,
.progress-bar {
  -webkit-border-top-left-radius: 0px;
  -webkit-border-top-right-radius: 0px;
  -moz-border-radius-topleft: 0px;
  -moz-border-radius-topright: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  webkit-border-bottom-left-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -moz-border-radius-bottomleft: 0px;
  -moz-border-radius-bottomright: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  font-size: 14px;
}
.nav-pills li a {
  background-color: #555555;
  color: #FFF;
  margin-bottom: 3px;
  cursor: pointer;
  -webkit-border-top-left-radius: 0px;
  -webkit-border-top-right-radius: 0px;
  -moz-border-radius-topleft: 0px;
  -moz-border-radius-topright: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  webkit-border-bottom-left-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -moz-border-radius-bottomleft: 0px;
  -moz-border-radius-bottomright: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.nav-pills li a .badge {
  /*background-color:@gray-lighter;*/
  /*color:@gray !important;
		 background:none;*/
  color: #F90;
  background: #222222;
}
.nav-pills li a .fa,
.nav-pills li a .glyphicon {
  color: #F90;
}
.nav-pills > li.active > a,
.nav-pills > li > a:hover,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  background-color: #F90;
  color: #663d00;
  color: #555555;
}
.nav-pills > li.active > a .fa,
.nav-pills > li > a:hover .fa,
.nav-pills > li.active > a:hover .fa,
.nav-pills > li.active > a:focus .fa {
  color: #555555;
}
.nav-pills > li.active > a .badge,
.nav-pills > li > a:hover .badge,
.nav-pills > li.active > a:hover .badge,
.nav-pills > li.active > a:focus .badge {
  /*background-color:@gray-light;*/
  /*color:@gray !important;
		 background:none;*/
  color: #F90;
}
.form-control {
  font-weight: 400;
  border: 1px solid #cdcdcd;
  background-color: #FFF;
  /*border:0px !important;*/
  -webkit-border-top-left-radius: 0px !important;
  -webkit-border-top-right-radius: 0px !important;
  -moz-border-radius-topleft: 0px !important;
  -moz-border-radius-topright: 0px !important;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  webkit-border-bottom-left-radius: 0px !important;
  -webkit-border-bottom-right-radius: 0px !important;
  -moz-border-radius-bottomleft: 0px !important;
  -moz-border-radius-bottomright: 0px !important;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  box-shadow: none;
}
.btn {
  /*font-family: @font-family-sans-serif;*/
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  webkit-border-bottom-left-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  -moz-border-radius-bottomright: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.label {
  /*text-transform:uppercase;*/
  font-weight: 400;
  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
}
span.input-group-addon {
  top: 0px;
  /*text-transform:uppercase;*/
  border-color: #f4f4f4;
  font-weight: 400;
  color: #777777;
  background-color: #f4f4f4;
  -webkit-border-top-left-radius: 0px;
  -webkit-border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -moz-border-radius-topleft: 0px;
  -moz-border-radius-topright: 0px;
  -moz-border-radius-bottomright: 0px;
  -moz-border-radius-bottomleft: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
span.input-group-btn .btn {
  -webkit-border-top-left-radius: 0px;
  -webkit-border-top-right-radius: 3px !important;
  -webkit-border-bottom-right-radius: 3px !important;
  -webkit-border-bottom-left-radius: 0px;
  -moz-border-radius-topleft: 0px;
  -moz-border-radius-topright: 3px !important;
  -moz-border-radius-bottomright: 3px !important;
  -moz-border-radius-bottomleft: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 3px !important;
  border-bottom-right-radius: 3px !important;
  border-bottom-left-radius: 0px;
}
.btn-primary.disabled,
.btn-primary.disabled.active,
.btn-primary.disabled.focus,
.btn-primary.disabled:active,
.btn-primary.disabled:focus,
.btn-primary.disabled:hover,
.btn-primary[disabled],
.btn-primary[disabled].active,
.btn-primary[disabled].focus,
.btn-primary[disabled]:active,
.btn-primary[disabled]:focus,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary,
fieldset[disabled] .btn-primary.active,
fieldset[disabled] .btn-primary.focus,
fieldset[disabled] .btn-primary:active,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary:hover {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  background: #F90;
  color: #FFF;
  border-color: #F90;
}
.form-control {
  background: #FFF;
  font-weight: 300;
  /*color:@white;*/
}
.btn-buy {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  background: #cc7a00;
  color: #ffd699;
  border-color: #cc7a00;
  /*font-weight:300;*/
  /*box-shadow: 0px 3px 0px 0px @brand-primary-dark ;
	-webkit-box-shadow: 0px 3px 0px 0px @brand-primary-dark ;
	-moz-box-shadow: 0px 3px 0px 0px @brand-primary-dark ;*/
}
:hover.btn-buy {
  background: #cc7a00;
  color: #FFF;
  border-color: #cc7a00;
  /*font-weight:300;*/
  /*box-shadow: 0px 3px 0px 0px @brand-primary-dark ;
	-webkit-box-shadow: 0px 3px 0px 0px @brand-primary-dark ;
	-moz-box-shadow: 0px 3px 0px 0px @brand-primary-dark ;*/
}
.btn-default {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  background: #555555;
  color: #FFF;
  border-color: #555555;
  /*font-weight:300;*/
  /*box-shadow: 0px 3px 0px 0px @brand-primary-dark ;
	-webkit-box-shadow: 0px 3px 0px 0px @brand-primary-dark ;
	-moz-box-shadow: 0px 3px 0px 0px @brand-primary-dark ;*/
}
:hover.btn-default {
  background: #222222;
  border-color: #222222;
  color: #555555;
  /*box-shadow: 0px 0px 0px 0px @brand-primary-dark ;
	-webkit-box-shadow: 0px 0px 0px 0px @brand-primary-dark ;
	-moz-box-shadow: 0px 0px 0px 0px @brand-primary-dark ;*/
}
.btn-primary {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  background: #F90;
  color: #FFF;
  border-color: #F90;
  /*font-weight:300;*/
  /*box-shadow: 0px 3px 0px 0px @brand-primary-dark ;
	-webkit-box-shadow: 0px 3px 0px 0px @brand-primary-dark ;
	-moz-box-shadow: 0px 3px 0px 0px @brand-primary-dark ;*/
}
:hover.btn-primary {
  background: #995c00;
  border-color: #995c00;
  color: #F90 !important;
  /*box-shadow: 0px 0px 0px 0px @brand-primary-dark ;
	-webkit-box-shadow: 0px 0px 0px 0px @brand-primary-dark ;
	-moz-box-shadow: 0px 0px 0px 0px @brand-primary-dark ;*/
}
:hover.btn-primary:disabled {
  color: #FFF !important;
}
.btn-facebook-login {
  background: #374E79;
  color: #FFF;
  border-color: #374E79;
  /*box-shadow: 0px 3px 0px 0px @brand-primary-dark ;
	-webkit-box-shadow: 0px 3px 0px 0px @brand-primary-dark ;
	-moz-box-shadow: 0px 3px 0px 0px @brand-primary-dark ;*/
}
:hover.btn-facebook-login {
  background: #995c00;
  border-color: #995c00;
  color: #F90 !important;
  /*box-shadow: 0px 0px 0px 0px @brand-primary-dark ;
	-webkit-box-shadow: 0px 0px 0px 0px @brand-primary-dark ;
	-moz-box-shadow: 0px 0px 0px 0px @brand-primary-dark ;*/
}
/*.btn-facebook-login:after {
  content: url(https://dl.dropboxusercontent.com/u/54149043/CssDeck/fb-icon.png);
  display: block;
  padding: 9px 10px 5px 15px;
}*/
.btn-link {
  border: none;
}
.img-responsive {
  width: 100% !important;
  height: auto !important;
}
.img-circle {
  /*box-shadow: 5px 5px 5px 0px @gray-light ;
	-webkit-box-shadow: 5px 5px 5px 0px @gray-light ;
	-moz-box-shadow: 5px 5px 5px 0px @gray-light ;
	background: @white;*/
}
:hover.img-circle {
  /*box-shadow: 2px 2px 2px 0px @gray-darker ;
	-webkit-box-shadow: 2px 2px 2px 0px @gray-darker ;
	-moz-box-shadow: 2px 2px 2px 0px @gray-darker ;
	background:@gray-lighter;*/
}
:onclick.img-circle {
  border: 1px solid #C00;
  background: #096;
}
.alert {
  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
}
.alert a {
  font-weight: bold;
}
.alert-top {
  margin-bottom: 0px;
}
.intro {
  margin-bottom: 100px;
}
.panel,
.panel-heading,
.panel-body {
  border: 0px;
  -webkit-border-top-left-radius: 0px;
  -webkit-border-top-right-radius: 0px;
  -moz-border-radius-topleft: 0px;
  -moz-border-radius-topright: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  webkit-border-bottom-left-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -moz-border-radius-bottomleft: 0px;
  -moz-border-radius-bottomright: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.panel p,
.panel-heading p,
.panel-body p {
  font-weight: 400;
}
.nav-stacked > li + li {
  margin-top: 0px;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.username {
  color: #8BB6D0;
}
/* GENERAL STYLES */
body {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 16px;
  /*font-family:@font-family-sans-serif;*/
  background: #333333;
  color: #555555;
}
a {
  color: #F90;
  -webkit-transition: all .15s;
  transition: all .15s;
}
a.website-link {
  color: #8BB6D0;
  text-decoration: underline;
}
a.website-link:hover {
  color: #4787ae;
  text-decoration: underline;
}
a:hover {
  color: #995c00;
  text-decoration: none;
}
.container {
  /*background: #C63;*/
  padding-top: 100px;
  padding-bottom: 100px;
  /*
	padding-left:30px;
	padding-right:30px;
	*/
}
.container-fluid {
  /*background:#EDF2F7;
	padding: 0px;*/
}
.cover-bg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/* PULSE UNSYNKED */
@keyframes "pulse-unsynced" {
  0% {
    background-color: #ff3333;
  }
  50% {
    background-color: #ff9999;
  }
  100% {
    background-color: #ff3333;
  }
}
@-webkit-keyframes "pulse-unsynced" {
  0% {
    background-color: #ff3333;
  }
  50% {
    background-color: #ff9999;
  }
  100% {
    background-color: #ff3333;
  }
}
/* PULSE PENDING */
@keyframes "pulse-pending" {
  0% {
    background-color: #FC0;
  }
  50% {
    background-color: #ffe066;
  }
  100% {
    background-color: #FC0;
  }
}
@-webkit-keyframes "pulse-pending" {
  0% {
    background-color: #FC0;
  }
  50% {
    background-color: #ffe066;
  }
  100% {
    background-color: #FC0;
  }
}
/* STATUS */
.status-pending {
  border-right: 2px solid #FC0;
}
.status-pending a.btn-circle,
.status-pending a.btn {
  background-color: #FC0;
  color: #FFF;
}
.status-pending :hover.btn-circle,
.status-pending :hover.btn {
  background-color: #ffeb99;
  color: #FFF;
}
.status-pending .btn-circle:onclick,
.status-pending .btn:onclick {
  background-color: #665200;
  color: #FFF;
}
.status-synced {
  border-right: 2px solid #9C0;
}
.status-synced a.btn-circle,
.status-synced a.btn {
  background-color: #9C0;
  color: #FFF;
}
.status-synced :hover.btn-circle,
.status-synced :hover.btn {
  background-color: #263300;
  color: #FFF;
}
.status-unsynced {
  border-right: 2px solid #ff3333;
}
.status-unsynced a.btn-circle,
.status-unsynced a.btn {
  background-color: #ff3333;
  -webkit-animation: pulse-unsynced 1.5s linear infinite;
  animation: pulse-unsynced 1.5s linear infinite;
  color: #FFF;
}
.status-unsynced :hover.btn-circle,
.status-unsynced :hover.btn {
  background-color: #990000;
  color: #FFF;
}
/* PULSE SINC */
.refresh {
  margin-top: 20px;
}
.refresh .status-syncing {
  background-color: #8BB6D0 !important;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: #555555 !important;
}
.refresh .status-syncing .fa,
.refresh .status-syncing .gliphicon {
  color: #555555 !important;
}
.refresh .status-syncing .glyphicon-refresh {
  color: #555555 !important;
  -webkit-animation-name: spin;
  -webkit-animation-duration: 1s;
  /* 40 seconds */
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  /* mozilla ff */
  -moz-animation-name: spin;
  -moz-animation-duration: 1s;
  /* 40 seconds */
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  /* microsoft ie */
  -ms-animation-name: spin;
  -ms-animation-duration: 1s;
  /* 40 seconds */
  -ms-animation-iteration-count: infinite;
}
.status-syncing {
  background-color: #d4e4ed !important;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.status-syncing h1,
.status-syncing h2,
.status-syncing h3,
.status-syncing h4,
.status-syncing h5,
.status-syncing h6,
.status-syncing .list-title,
.status-syncing .badge {
  color: #8BB6D0 !important;
  background-color: #d4e4ed !important;
}
.status-syncing .photoContainer {
  opacity: 0.3;
}
.status-syncing .btn,
.status-syncing :hover.btn {
  background-color: #8BB6D0 !important;
}
.status-syncing .btn.status-unsynced .glyphicon-refresh,
.status-syncing :hover.btn.status-unsynced .glyphicon-refresh,
.status-syncing .btn .glyphicon-refresh,
.status-syncing :hover.btn .glyphicon-refresh {
  -webkit-animation-name: spin;
  -webkit-animation-duration: 1s;
  /* 40 seconds */
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  /* mozilla ff */
  -moz-animation-name: spin;
  -moz-animation-duration: 1s;
  /* 40 seconds */
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  /* microsoft ie */
  -ms-animation-name: spin;
  -ms-animation-duration: 1s;
  /* 40 seconds */
  -ms-animation-iteration-count: infinite;
}
.status-syncing .last-update {
  background-color: #8BB6D0 !important;
}
.status-syncing .last-update strong {
  color: #294f66;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/* ADMIN BAR */
.navbar-inverted {
  background: #555555;
  font-weight: 300;
  border: none;
  /*height: 66px;
	line-height: 67px;
	font-size: 14px;*/
}
.navbar-inverted .navbar-nav {
  border-left: 1px solid #777777;
}
.navbar-inverted .navbar-nav li {
  border-right: 1px solid #777777;
}
.navbar-inverted .navbar-nav a {
  color: #cdcdcd !important;
  text-transform: uppercase;
}
.navbar-inverted .navbar-nav a:hover,
.navbar-inverted .navbar-nav .active a,
.navbar-inverted .navbar-nav .active a:hover {
  color: #F90 !important;
  background: none !important;
}
.navbar-inverted .navbar-brand {
  background: #F90;
  color: #FFF;
}
/* NAVIGATION BAR */
.navbar-default .navbar-toggle {
  border-width: 0px !important;
  border-color: #FFF !important;
  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
}
.navbar-toggle {
  padding: 12px 10px;
}
.navbar-main-collapse {
  /*background-color:@gray-lighter;*/
}
.navbar-default {
  margin-bottom: 0px;
  background: #FFF;
  border: none;
  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-radius: 0px;
}
.navbar-default .container {
  /*background:#EDF2F7;*/
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  padding-top: 0px;
  padding-bottom: 0px;
}
.navbar-default .container .navbar-nav {
  /*background:#C36;*/
}
.navbar-default .container .navbar-nav a {
  color: #555555 !important;
  font-weight: 400;
  padding-top: 20px;
  padding-bottom: 20px;
  line-height: 35px;
}
.navbar-default .container .navbar-nav a:hover,
.navbar-default .container .navbar-nav .active a:hover {
  color: #F90 !important;
  background: none;
}
.navbar-default .container .navbar-nav .active a {
  color: #F90 !important;
  background: none;
  /*background:@brand-primary;*/
}
.navbar-default .container .navbar-nav .glyphicon-user {
  color: #F90;
}
.navbar-default .container .navbar-nav #navbar-brand-img {
  height: 40px !important;
  max-height: 40px !important;
  margin-top: 2px;
}
/* BANNER */
#banner-home {
  position: relative;
  z-index: 10;
}
#banner-home .pad {
  box-shadow: 1px 2px 2px 0px #090909;
  -webkit-box-shadow: 1px 2px 2px 0px #090909;
  -moz-box-shadow: 1px 2px 2px 0px #090909;
}
#banner-home .box-shadow {
  box-shadow: 1px 2px 2px 0px #090909;
  -webkit-box-shadow: 1px 2px 2px 0px #090909;
  -moz-box-shadow: 1px 2px 2px 0px #090909;
}
#banner-home .carousel-caption .full-height {
  height: 100%;
}
@media screen and (min-width: 992px) {
  #banner-home .carousel-caption .banner-col-sx {
    height: 100%;
  }
  #banner-home .carousel-caption .banner-content-container {
    position: relative;
    top: 50%;
  }
  #banner-home .carousel-caption .banner-content-container-1 {
    margin-top: -210px;
  }
  #banner-home .carousel-caption .banner-content-container-2 {
    margin-top: -150px;
  }
  #banner-home .carousel-caption .banner-content-container-3 {
    margin-top: -230px;
  }
}
@media screen and (max-width: 991px) {
  #banner-home .carousel-caption {
    position: relative;
  }
  #banner-home .carousel-caption .banner-col-sx {
    margin-top: 80px;
    height: 310px;
  }
  #banner-home .carousel-caption #browser-window {
    height: 500px;
  }
  #banner-home .carousel-caption .container .banner-col-cont {
    padding-top: 20px !important;
  }
}
/* BANNER */
#carousel-example-generic {
  background-repeat: no-repeat;
  background-position: center;
  /*background-attachment:fixed;*/
  background-size: cover;
}
#carousel-example-generic .pad {
  box-shadow: 1px 2px 2px 0px #663d00;
  -webkit-box-shadow: 1px 2px 2px 0px #663d00;
  -moz-box-shadow: 1px 2px 2px 0px #663d00;
}
@media (max-width: 767px) {
  .carousel .row .span3 {
    display: block;
    float: left;
    width: 25%;
    margin-left: 0;
    box-sizing: border-box;
  }
}
.jumbotron {
  background: #F90;
  margin-bottom: 0px;
  padding: 0px;
}
.jumbotron h1,
.jumbotron h2,
.jumbotron h3,
.jumbotron h4,
.jumbotron h5,
.jumbotron h6 {
  color: #F90;
}
.jumbotron .container-fluid {
  /*background:#EDF2F7;*/
  padding: 0px;
}
.jumbotron p {
  color: #FFF;
}
.jumbotron strong {
  color: #8BB6D0;
}
.carousel-control.left,
.carousel-control.right {
  background-image: none !important;
}
.item {
  /*background-image:url(../images/foto.jpg);*/
  background-repeat: no-repeat;
  background-position: center;
  /*background-attachment:fixed;*/
  background-size: cover;
  height: 700px;
}
.carousel-caption {
  /**/
  bottom: 30%;
  /*bottom:0px;*/
  /*background:#FFF;*/
  /*margin-top:-25%;*/
  transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
}
.carousel-caption h1,
.carousel-caption h2,
.carousel-caption h3,
.carousel-caption h4,
.carousel-caption h5,
.carousel-caption h6 {
  /*color:@brand-facebook;
		font-style:italic;
		font-weight:700;
		font-size:100px;*/
}
.carousel-caption p {
  font-weight: 400;
  font-size: 25px;
}
.slide li {
  list-style: none;
}
.item.next .carousel-caption {
  opacity: 0;
  bottom: 0px;
  transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
}
/* TEAM */
#team {
  /*background:@white;*/
  background: #f4f4f4;
  color: #555555;
  /* SOCIAL LINKS */
}
#team h1,
#team h2,
#team h3,
#team h4,
#team h5,
#team h6 {
  color: #F90;
  /*font-size:18px;*/
}
#team span {
  /*display:block;*/
}
#team .name {
  /*font-size:20px;*/
}
#team .name,
#team .surname {
  /*display:block;*/
  color: #8BB6D0;
  font-size: 20px;
}
#team .position {
  text-transform: uppercase;
  font-size: 12px;
}
#team .btn-circle {
  /*background: @gray;*/
  color: #FFF;
}
#team .social-link-facebook {
  background: #374E79;
  color: #374E79;
}
#team .social-link-twitter {
  background: #4AC5EC;
  color: #FFF;
}
#team .social-link-youtube {
  background: #C43029;
  color: #FFF;
}
#team .social-link-vimeo {
  background: #3FBAEC;
  color: #FFF;
}
#team .social-link-linkedin {
  background: #2779BA;
  color: #FFF;
}
.team-social-links {
  margin-top: 20px;
}
/* ADVANTAGES */
#advantages {
  /*background:@white;*/
  background-color: #eef6fc;
  color: #555555;
}
#advantages h1,
#advantages h2,
#advantages h3,
#advantages h4,
#advantages h5,
#advantages h6 {
  color: #F90;
  /*font-size:22px;*/
}
#advantages p {
  color: #555555;
}
.feature {
  /*padding-top:@padding-element;*/
  /*padding-bottom:@padding-element;*/
  background-color: #FFF;
  margin-bottom: 15px;
  /*.pad{
	box-shadow: 1px 2px 2px 0px darken(@gray-light, 10%) !important;
	-webkit-box-shadow: 1px 2px 2px 0px darken(@gray-light, 10%) !important;
	-moz-box-shadow: 1px 2px 2px 0px darken(@gray-light, 10%) !important;
	}

	:hover.pad{
		box-shadow: 4px 4px 12px 0px darken(@gray-light, 10%) !important;
		-webkit-box-shadow: 4px 4px 12px 0px darken(@gray-light, 10%) !important;
		-moz-box-shadow: 4px 4px 12px 0px darken(@gray-light, 10%) !important;
	}*/
}
.feature h1,
.feature h2,
.feature h3,
.feature h4,
.feature h5,
.feature h6 {
  color: #8BB6D0 !important;
  font-family: 'Asap', Arial, Helvetica, sans-serif;
}
.feature p {
  padding-bottom: 15px;
}
/*.single-feature{
		background-color:@brand-primary;
		}*/
#feature-001 #feature-icon-place {
  background-color: #6FB95B !important;
}
#feature-002 #feature-icon-place {
  background-color: #89255C !important;
}
#feature-003 #feature-icon-place {
  background-color: #4D97C6 !important;
}
#feature-004 #feature-icon-place {
  background-color: #C73938 !important;
}
#feature-005 #feature-icon-place {
  background-color: #EFA348 !important;
}
#feature-006 #feature-icon-place {
  background-color: #A1A5A6 !important;
}
.singlestep .row .no-gutter {
  /**/
  overflow: hidden;
}
.singlestep .row .no-gutter img {
  /*-webkit-transition: all 0.8s ease-in-out;
		-moz-transition: all 0.8s ease-in-out;
		-o-transition: all 0.8s ease-in-out;
		-ms-transition: all 0.8s ease-in-out;*/
}
:hover.singlestep .row .no-gutter img {
  /*
		width:130% !important;
		max-width:130% !important;
		margin-left:-15%;
		margin-top:-15%;*/
  /*padding-bottom:30px;*/
}
/* RESELLER */
#reseller,
.reseller {
  background: #cc7a00;
  color: #FFF;
  /*background-image:url(../images/reseller.jpg);
	background-image:url(../images/10-fun-games-that-look-like-office-work-06f8fea1c3.jpg);
*/
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
#reseller h1,
.reseller h1,
#reseller h2,
.reseller h2,
#reseller h3,
.reseller h3,
#reseller h4,
.reseller h4,
#reseller h5,
.reseller h5,
#reseller h6,
.reseller h6 {
  color: #FFF;
  font-weight: 400;
}
#reseller .lead,
.reseller .lead {
  font-weight: 400;
  text-shadow: 1px 1px 1px #777777;
  -webkit-text-shadow: 1px 1px 1px #777777;
  -moz-text-shadow: 1px 1px 1px #777777;
}
#reseller .pad,
.reseller .pad {
  box-shadow: 1px 2px 2px 0px #663d00;
  -webkit-box-shadow: 1px 2px 2px 0px #663d00;
  -moz-box-shadow: 1px 2px 2px 0px #663d00;
}
/* HELP */
#help,
.help {
  background: #F33;
  /*color:@white;*/
}
#help .container,
.help .container {
  padding-top: 30px;
  padding-bottom: 30px;
}
#help h1,
.help h1,
#help h2,
.help h2,
#help h3,
.help h3,
#help h4,
.help h4,
#help h5,
.help h5,
#help h6,
.help h6 {
  /**/
  color: #FFF;
}
#help .lead,
.help .lead {
  color: #FFF;
}
#help .pad,
.help .pad {
  box-shadow: 1px 2px 2px 0px #330000;
  -webkit-box-shadow: 1px 2px 2px 0px #330000;
  -moz-box-shadow: 1px 2px 2px 0px #330000;
}
#help :hover.pad,
.help :hover.pad {
  box-shadow: 4px 4px 12px 0px #330000;
  -webkit-box-shadow: 4px 4px 12px 0px #330000;
  -moz-box-shadow: 4px 4px 12px 0px #330000;
}
#help a,
.help a {
  /*color:@gray-darker;
		font-weight:400;*/
}
#help .btn,
.help .btn {
  /*background:@help;
		color:@white;
		border-color:@white;*/
}
.panel-help {
  background: #F33;
}
.panel-help .panel-body {
  background: #FFF;
}
.bg-help {
  background: #F33;
  color: #FFF;
}
/* HELP SIDEBAR */
.help-sidebar {
  /*padding:15px;
	padding-bottom:15px;
	background:@gray-lighter;
	color:@white;*/
  margin-bottom: 15px;
}
.help-sidebar h1,
.help-sidebar h2,
.help-sidebar h3,
.help-sidebar h4,
.help-sidebar h5,
.help-sidebar h6 {
  color: #FFF;
  /*font-size:14px;*/
}
.serch-sidebar {
  background-color: #F90;
  margin-bottom: 15px;
}
.filter-sidebar {
  /*background-color:@brand-primary;*/
  margin-bottom: 15px;
}
/* PRICE */
#price,
.price {
  background-color: #F90;
  color: #222222;
  /*background-image:url(../images/porcellino.jpg);
	background-repeat: no-repeat;
	background-position: center;

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;*/
}
#price h1,
.price h1,
#price h2,
.price h2,
#price h3,
.price h3,
#price h4,
.price h4,
#price h5,
.price h5,
#price h6,
.price h6 {
  /**/
  color: #806600;
  margin-top: 10px;
  margin-bottom: 0PX;
  /*font-size:18px;*/
}
#price .list-group-item-first,
.price .list-group-item-first {
  background-color: #ffebcc;
}
#price .lead,
.price .lead {
  color: #F90;
}
#price .pad,
.price .pad {
  box-shadow: 1px 2px 2px 0px #804d00;
  -webkit-box-shadow: 1px 2px 2px 0px #804d00;
  -moz-box-shadow: 1px 2px 2px 0px #804d00;
}
#price :hover.pad,
.price :hover.pad {
  box-shadow: 4px 4px 12px 0px #804d00;
  -webkit-box-shadow: 4px 4px 12px 0px #804d00;
  -moz-box-shadow: 4px 4px 12px 0px #804d00;
}
#price li,
.price li {
  color: #555555;
}
/* PRICE NEW */
#price-new,
.price-new {
  background-color: #F90;
  color: #222222;
}
#price-new .price,
.price-new .price {
  position: relative;
  overflow: hidden;
}
#price-new .recommended-graphic,
.price-new .recommended-graphic {
  text-align: center;
  background-color: #8BB6D0;
  /*padding:4px;*/
  color: #FFF;
  position: absolute;
  z-index: 100;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ns-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  width: 190px;
  top: 22px;
  left: -54px;
  border-left: 45px solid transparent;
  border-right: 45px solid transparent;
  line-height: 30px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  box-shadow: 1px 1px 4px 0px #3f799c;
  -webkit-box-shadow: 1px 1px 4px 0px #3f799c;
  -moz-box-shadow: 1px 1px 4px 0px #3f799c;
}
#price-new h1,
.price-new h1,
#price-new h2,
.price-new h2,
#price-new h3,
.price-new h3,
#price-new h4,
.price-new h4,
#price-new h5,
.price-new h5,
#price-new h6,
.price-new h6 {
  /**/
  color: #804d00;
  margin-top: 10px;
  /*font-size:18px;*/
}
#price-new .list-group,
.price-new .list-group {
  border: 0px;
  background-color: #ffebcc;
  line-height: 130%;
}
#price-new .list-group-item-last,
.price-new .list-group-item-last {
  padding: 0px 0px 0px 0px;
}
#price-new .list-group-item-first,
.price-new .list-group-item-first {
  background-color: #ffebcc;
  line-height: 100%;
}
#price-new .list-group-item-first h1,
.price-new .list-group-item-first h1,
#price-new .list-group-item-first h2,
.price-new .list-group-item-first h2,
#price-new .list-group-item-first h3,
.price-new .list-group-item-first h3,
#price-new .list-group-item-first h4,
.price-new .list-group-item-first h4,
#price-new .list-group-item-first h5,
.price-new .list-group-item-first h5,
#price-new .list-group-item-first h6,
.price-new .list-group-item-first h6 {
  color: #804d00;
  margin-top: 10px;
  font-size: 14px;
  text-transform: uppercase;
  font-style: normal;
}
#price-new .list-group-item-first .mounthprice,
.price-new .list-group-item-first .mounthprice {
  font-size: 14px;
  display: block;
}
#price-new .lead,
.price-new .lead {
  color: #FFF;
}
#price-new .pad,
.price-new .pad {
  box-shadow: 1px 2px 2px 0px #804d00;
  -webkit-box-shadow: 1px 2px 2px 0px #804d00;
  -moz-box-shadow: 1px 2px 2px 0px #804d00;
}
#price-new :hover.pad,
.price-new :hover.pad {
  box-shadow: 4px 4px 12px 0px #804d00;
  -webkit-box-shadow: 4px 4px 12px 0px #804d00;
  -moz-box-shadow: 4px 4px 12px 0px #804d00;
}
#price-new li,
.price-new li {
  color: #555555;
}
#price-new .badge,
.price-new .badge {
  background-color: #FFF;
  padding: 0px 0px;
  font-size: 16px;
}
#price-new .glyphicon-ok,
.price-new .glyphicon-ok {
  color: #9C0;
}
#price-new .glyphicon-remove,
.price-new .glyphicon-remove {
  color: #ff3333;
}
#price-new .sampledomain,
.price-new .sampledomain {
  font-size: 12px;
  color: #777777;
}
#price-new .pricing,
.price-new .pricing {
  font-family: 'Asap', sans-serif;
  font-weight: 700;
  font-size: 40px;
  text-transform: uppercase;
  color: #804d00;
}
#price-new .recommended:hover.pad,
.price-new .recommended:hover.pad {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
#price-new .recommended:active.pad,
.price-new .recommended:active.pad {
  -webkit-transform: scale(0.95);
  transform: scale(0.95);
}
#price-new .recommended,
.price-new .recommended {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}
#price-new .recommended .pad,
.price-new .recommended .pad {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}
#price-new :hover.recommended .pad,
.price-new :hover.recommended .pad {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
/* LANDING */
#landing,
.landing {
  background: #777777;
  color: #FFF !important;
}
#landing .container,
.landing .container {
  padding: 150px 0px 0px 0px;
}
#landing .calltoaction,
.landing .calltoaction {
  margin-bottom: 0px !important;
}
#landing .landing-p,
.landing .landing-p {
  /*margin-bottom:0px !important;*/
}
#landing .btn,
.landing .btn {
  /*background:@buy;
		color:@gray-dark;
		border-color:@buy;*/
}
#landing .pad,
.landing .pad {
  box-shadow: 1px 2px 2px 0px #3c3c3c;
  -webkit-box-shadow: 1px 2px 2px 0px #3c3c3c;
  -moz-box-shadow: 1px 2px 2px 0px #3c3c3c;
}
#landing .box-shadow,
.landing .box-shadow {
  box-shadow: 1px 2px 2px 0px #000;
  -webkit-box-shadow: 1px 2px 2px 0px #000;
  -moz-box-shadow: 1px 2px 2px 0px #000;
}
#landing .small-theme-min,
.landing .small-theme-min {
  width: 100% !important;
  margin-top: 0px;
  -webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  -o-transition: all 0.8s ease-in-out;
  -ms-transition: all 0.8s ease-in-out;
}
#landing :hover.small-theme-min,
.landing :hover.small-theme-min {
  margin-top: -90%;
}
/* THEMES */
#themes,
.themes {
  background: #333333;
  /*color:@white;*/
  /*.btn{
		background:@buy;
		color:@white;
		border-color:@white;
		}*/
}
#themes h1,
.themes h1,
#themes h2,
.themes h2,
#themes h3,
.themes h3,
#themes h4,
.themes h4,
#themes h5,
.themes h5,
#themes h6,
.themes h6 {
  /*color:@gray-light;*/
  /*font-size:18px;*/
}
#themes .box-shadow,
.themes .box-shadow {
  box-shadow: 1px 2px 2px 0px #333333;
  -webkit-box-shadow: 1px 2px 2px 0px #333333;
  -moz-box-shadow: 1px 2px 2px 0px #333333;
}
#themes .lead,
.themes .lead {
  color: #cdcdcd;
}
#themes .pad,
.themes .pad {
  box-shadow: 1px 2px 2px 0px #161616;
  -webkit-box-shadow: 1px 2px 2px 0px #161616;
  -moz-box-shadow: 1px 2px 2px 0px #161616;
}
#themes :hover.pad,
.themes :hover.pad {
  box-shadow: 4px 4px 12px 0px #161616;
  -webkit-box-shadow: 4px 4px 12px 0px #161616;
  -moz-box-shadow: 4px 4px 12px 0px #161616;
}
#themes .box-shadow,
.themes .box-shadow {
  box-shadow: 1px 2px 2px 0px #161616;
  -webkit-box-shadow: 1px 2px 2px 0px #161616;
  -moz-box-shadow: 1px 2px 2px 0px #161616;
}
#themes .list-group,
.themes .list-group,
#themes .list-group-item:first-child,
.themes .list-group-item:first-child,
#themes .list-group-item:last-child,
.themes .list-group-item:last-child {
  -webkit-border-top-left-radius: 0px;
  -webkit-border-top-right-radius: 0px;
  -moz-border-radius-topleft: 0px;
  -moz-border-radius-topright: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  webkit-border-bottom-left-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -moz-border-radius-bottomleft: 0px;
  -moz-border-radius-bottomright: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
#themes ul,
.themes ul {
  margin-bottom: 0px;
}
#themes li,
.themes li {
  color: #555555;
}
#themes .small-theme-min,
.themes .small-theme-min {
  width: 100% !important;
  margin-top: 0px;
  -webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  -o-transition: all 0.8s ease-in-out;
  -ms-transition: all 0.8s ease-in-out;
}
#themes :hover.small-theme-min,
.themes :hover.small-theme-min {
  margin-top: -90%;
}
#themes .theme-detail-modal,
.themes .theme-detail-modal {
  margin-top: 0px !important;
  padding-top: 0px !important;
}
#themes .wrapper-site-preview,
.themes .wrapper-site-preview {
  height: 300px;
  background: #F69;
  padding: 20px 0px;
}
#themes .wrapper-site-preview div,
.themes .wrapper-site-preview div {
  padding: 10px;
  color: #FFF;
  font-weight: 400;
}
#themes .wrapper-site-preview .pad,
.themes .wrapper-site-preview .pad {
  cursor: pointer;
  /*background:@white !important;
		position:absolute;*/
  /*padding:20px;*/
  box-shadow: 1px 2px 2px 0px #660022;
  -webkit-box-shadow: 1px 2px 2px 0px #660022;
  -moz-box-shadow: 1px 2px 2px 0px #660022;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
}
#themes .wrapper-site-preview :hover.pad,
.themes .wrapper-site-preview :hover.pad {
  /*margin-left:-8px;
		margin-top:-8px;*/
  box-shadow: 4px 4px 12px 0px #660022;
  -webkit-box-shadow: 4px 4px 12px 0px #660022;
  -moz-box-shadow: 4px 4px 12px 0px #660022;
}
/* USER IDENTITY BOX */
#video,
.video {
  background: #333333;
}
#video h1,
.video h1,
#video h2,
.video h2,
#video h3,
.video h3,
#video h4,
.video h4,
#video h5,
.video h5,
#video h6,
.video h6 {
  /*color:@gray-light;*/
}
/* USER IDENTITY BOX */
#user-detail {
  background: #333333;
  color: #cdcdcd;
  /**/
  margin-bottom: 3px;
}
#user-detail h1,
#user-detail h2,
#user-detail h3,
#user-detail h4,
#user-detail h5,
#user-detail h6 {
  color: #cdcdcd;
  margin-bottom: 0px;
  /*margin-top:15px;*/
}
#user-detail span {
  /*display:block;*/
  /*font-size:25px;*/
  color: #FFF;
}
#user-detail p {
  color: #cdcdcd;
}
#user-detail strong {
  color: #8BB6D0;
}
#user-avatar {
  /*margin-top:15px;
	margin-bottom:15px;*/
}
/* LIST */
.bg-gradient-animate {
  background: -webkit-linear-gradient(right, #f4f4f4, #cdcdcd, #f4f4f4);
  background: linear-gradient(270deg, #f4f4f4, #cdcdcd, #f4f4f4);
  background-size: 800% 100%;
  -webkit-animation: AnimationName 4s ease infinite;
  animation: AnimationName 4s ease infinite;
}
@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.loading-list-item .list-title {
  background-color: #f4f4f4;
  height: 16px;
  width: 30%;
}
.loading-list-item .list-page-category {
  background-color: #f4f4f4;
  height: 16px;
  width: 20%;
}
.loading-list-item .list-domain {
  display: block;
  background-color: #f4f4f4;
  height: 16px;
  width: 40%;
}
.loading-list-item .page-details li {
  background-color: #f4f4f4;
  height: 16px;
  width: 10%;
}
.loading-list-item .last-update small {
  display: block;
  height: 16px;
  width: 40%;
}
.loading-list-item .btn-circle {
  color: #fff;
}
#reseller-list,
.manager-page {
  background: #d4e4ed;
}
#reseller-list .box-shadow,
.manager-page .box-shadow,
#reseller-list .page-content,
.manager-page .page-content {
  box-shadow: 1px 2px 2px 0px #5594ba;
}
#reseller-list .page-content,
.manager-page .page-content {
  background-color: #fff;
  padding: 1em 1em 3em 1em;
}
.list {
  /*padding-left:0px;*/
}
.list .page_img_thumb {
  position: absolute;
}
.list-item {
  background: #FFF;
  margin-bottom: 15px;
  position: relative;
  /*border-bottom:1px solid @gray-lighter;*/
  /*.page_img_thumb{
		border-right:1px solid @gray-lighter;
		}*/
}
.list-item .list-title-mobile h1,
.list-item .list-title-mobile h2,
.list-item .list-title-mobile h3,
.list-item .list-title-mobile h4,
.list-item .list-title-mobile h5,
.list-item .list-title-mobile h6 {
  background-color: #FFF;
  padding: 10px 15px;
  border-bottom: 1px solid #ccc;
  margin: 0px 0px 0px 0px;
  font-size: 14px;
  /*font-size:18px;
        margin-bottom:0px;*/
}
.list-item h1,
.list-item h2,
.list-item h3,
.list-item h4,
.list-item h5,
.list-item h6 {
  color: #F90;
  margin-bottom: 5px;
  /*font-size:18px;
		margin-bottom:0px;*/
}
.list-item .list-page-category {
  margin-bottom: 5px;
}
.list-item .page-details li {
  padding-left: 0px;
  padding-right: 5px;
  margin-top: 5px;
}
.list-item .photoContainer {
  border-right: 1px solid #EDF2F7;
  padding-right: 0px;
  background-color: #f4f4f4;
  padding-bottom: 100%;
  border-radius: 0px;
}
.list-item .list-item-details {
  position: relative;
}
.list-item .badge {
  margin: 0px;
  padding: 0px;
  background: none;
  color: #F90;
  font-weight: 700;
}
.synkysitedata {
  /*position:absolute;
		bottom:20px;
		overflow:auto;*/
  margin: 0px;
  /*width:100%;*/
  /*
		padding-top:5px;
		margin-top:10px;
		border-top:1px solid @gray-lighter;
		*/
  /*margin-top: 20px;
		margin-bottom: 10px;*/
}
.btn-group-edit-list {
  margin-top: 5px;
}
.btn-group-edit-list li {
  width: 40px;
  height: 40px;
  padding: 0px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  overflow: hidden;
  margin-right: 3px;
  line-height: 100%;
}
.btn-group-edit-list-buttons {
  margin-top: 15px;
}
.btn-group-edit-list-buttons li {
  margin-bottom: 5px;
}
.list-title {
  font-size: 16px;
  color: #cdcdcd;
  font-style: normal;
  margin-top: 15px;
  margin-bottom: 10px;
}
.list-domain {
  font-size: 14px;
  color: #777777;
}
.last-update {
  padding: 6px 10px 5px 10px;
  background-color: #cdcdcd;
  color: #777777;
  margin-bottom: 0px !important;
}
.photoContainer {
  /*padding-left:0px;
	padding-right:0px;*/
}
.btn-circle {
  display: block;
  width: 40px;
  height: 40px;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  text-align: center;
  /*margin-top: 15px;*/
  /*padding: 7px 16px;*/
  /*border: 2px solid #fff;*/
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  /**/
  font-size: 16px;
  line-height: 40px;
  color: #555555;
  /*background: 0 0;*/
}
/*layouts smaller than 600px, iPhone and mobiles*/
@media only screen and (max-width: 480px), screen and (max-device-width: 480px) {
  .name,
  .surname {
    display: block;
  }
  /*.btn-circle {
		width: 30px;
		height: 30px;
		font-size:14px;
		}*/
}
.btn-circle:hover,
.btn-circle:focus {
  outline: 0;
}
/* COLOPHON */
#colophon {
  background: #555555;
  color: #cdcdcd;
}
#colophon a,
#colophon a:hover {
  color: #cdcdcd;
}
#colophon h1,
#colophon h2,
#colophon h3,
#colophon h4,
#colophon h5,
#colophon h6 {
  color: #F90;
}
#colophon li {
  padding: 5px 0px 5px 0px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #777777;
}
/* FOOTER */
#footer {
  background: #333333;
  color: #cdcdcd;
}
#footer .container {
  padding-bottom: 0px;
}
#footer .container h1,
#footer .container h2,
#footer .container h3,
#footer .container h4,
#footer .container h5,
#footer .container h6 {
  color: #F90;
  font-size: 16px;
}
#footer .container a.btn-circle {
  font-size: 40px;
}
#footer .container phone {
  display: block;
  font-size: 20px;
  margin-top: 20px;
  color: #8BB6D0 !important;
  font-weight: 700;
}
#footer .container .investor {
  margin-bottom: 10px;
}
#footer .container .investor img {
  max-height: 25px;
}
#footer .container .legals {
  border-top: 1px solid #555555;
  font-size: 14px;
  font-weight: 700;
}
#footer .container .legals li {
  padding: 20px 0px 20px 15px;
}
#footer .container .socials-links {
  text-align: right;
}
#footer .container .pad {
  box-shadow: 1px 2px 2px 0px #000000;
  -webkit-box-shadow: 1px 2px 2px 0px #000000;
  -moz-box-shadow: 1px 2px 2px 0px #000000;
}
#footer .container :hover.pad {
  box-shadow: 4px 4px 12px 0px #000000;
  -webkit-box-shadow: 4px 4px 12px 0px #000000;
  -moz-box-shadow: 4px 4px 12px 0px #000000;
}
/* SOCIAL LINKS */
.social-link-facebook {
  color: #374E79;
}
.social-link-twitter {
  color: #4AC5EC;
}
.social-link-youtube {
  color: #C43029;
}
.social-link-vimeo {
  color: #3FBAEC;
}
.social-link-linkedin {
  color: #2779BA;
}
/* back to top */
#toTop {
  cursor: pointer;
  display: block;
  /*display: none;*/
  z-index: 9999999;
  opacity: .8;
  position: fixed;
  top: 100%;
  margin-top: -59px;
  left: 50%;
  /**/
  margin-left: -24px;
  border-radius: 24px;
  -moz-border-radius: 24px;
  -webkit-border-radius: 24px;
  -o-border-radius: 24px;
  -ns-border-radius: 24px;
  width: 50px;
  line-height: 48px;
  height: 48px;
  /*background-color: #6DB2E3;*/
  background-color: #F90;
  /* font-size: 14px;*/
  text-align: center;
  color: #FFF;
  text-transform: uppercase;
}
/* EDITOR */
/* MODAL */
.modal-header {
  border: none;
  color: #FFF;
  /**/
  background-color: #F90;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  webkit-border-bottom-left-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -moz-border-radius-bottomleft: 0px;
  -moz-border-radius-bottomright: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.modal-header .close {
  /*display:block;
		 background:#000;
		 padding:10px;*/
}
.modal-title {
  color: #FFF !important;
  /**/
  font-weight: 400;
}
.modal-content {
  border: none;
  background-color: #eef6fc;
  color: #555555;
  position: relative;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-bottomright: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.modal-content .map-canvas,
.modal-content #map-canvas {
  background-color: #555555;
  color: #FFF;
  height: 486px;
}
.modal-content .nav-tabs {
  /*background-color: @gray;*/
}
.modal-content .nav-tabs li a {
  background-color: #cdcdcd;
}
.modal-content .nav-tabs li.active a {
  background-color: #555555 !important;
  color: #FFF;
}
.modal-content .sidebar {
  position: relative;
  height: 100%;
  display: block;
  /*padding: 20px;*/
  overflow-x: hidden;
  overflow-y: auto;
  /*border-right: 1px solid #EEE;
		background-color: #999;*/
}
.modal-content #accordion {
  margin-right: -20px;
  margin-bottom: 20px;
  margin-left: -20px;
}
.modal-footer {
  border: none;
  background-color: #FFF;
  -webkit-border-top-left-radius: 0px;
  -webkit-border-top-right-radius: 0px;
  -moz-border-radius-topleft: 0px;
  -moz-border-radius-topright: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-bottomright: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
/* Facebook  button */
.fb-icon-bg {
  background: #354f88;
  height: 37px;
  margin: 0 0 -37px 0;
  width: 41px;
}
.fb-icon-bg:after {
  content: url(https://dl.dropboxusercontent.com/u/54149043/CssDeck/fb-icon.png);
  display: block;
  padding: 9px 10px 5px 15px;
}
.fb-bg {
  background: #3b5998;
  display: block;
  height: 37px;
  margin: 0 0 30px 41px;
  /*width: 166px;*/
}
.fb-bg:after {
  color: #fff;
  content: "facebook login";
  font-family: 'Oswald', sans-serif;
  height: 37px;
  left: 15%;
  position: relative;
  text-transform: uppercase;
  top: 22%;
  /**/
  width: 41px;
}
.fb-bg:hover {
  cursor: pointer;
}
.fb-bg:active {
  background: #354f88;
}
/* brousers cases */
.imac {
  padding-top: 15px;
  /*
	 background:@gray-dark;
	 padding-top:20px;
	 padding-bottom:60px;

	 border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;

	margin-bottom:70px;
	z-index:1;
	*/
}
.imac:after {
  /*
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  z-index:0;
  border-left: 80px solid transparent;
  border-right: 80px solid transparent;
  border-top: none;
  border-bottom: 200px solid @gray-dark;
  margin-left:-80px;
  bottom: -70px;
  left: 50%;
  */
}
.browser {
  /*display:none;*/
  padding: 6px 5px;
  background: #cdcdcd;
  overflow: auto;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  /*
	border-top-left-radius: 3px;
	-moz-border-top-left-radius: 3px;
	-webkit-border-top-left-radius: 3px;
	-ms-border-top-left-radius: 3px;
	-o-border-top-left-radius: 3px;

	border-top-right-radius: 3px;
	-moz-border-top-right-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-ms-border-top-right-radius: 3px;
	-o-border-top-right-radius: 3px;
	*/
}
.b {
  border: 1px solid #F6F6F6;
  float: left;
  /*margin-left:3px;*/
  display: block;
  background: #D0D0D0;
  width: 10%;
  height: 8px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.w {
  border: 1px solid #F6F6F6;
  float: left;
  margin-left: 5px;
  display: block;
  background: #F6F6F6;
  width: 70%;
  height: 8px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.browser-button {
  float: left;
  margin-left: 5px;
  display: block;
  background: #777777;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  box-shadow: inset 1px 1px 1px 1px #5e5e5e;
}
.r {
  float: left;
  margin-left: 5px;
  display: block;
  background: #777777;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  box-shadow: inset 1px 1px 1px 1px #5e5e5e;
}
.y {
  float: left;
  margin-left: 5px;
  display: block;
  background: #777777;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  box-shadow: inset 1px 1px 1px 1px #5e5e5e;
}
.g {
  float: left;
  margin-left: 5px;
  display: block;
  background: #777777;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  box-shadow: inset 1px 1px 1px 1px #5e5e5e;
}
.rules {
  height: 100%;
  overflow: auto;
  background-color: #ccc;
  background-image: url('../images/ruler-h.png'), url('../images/ruler-v.png');
  background-position: left top, left top;
  /*background-size: 100% 100%;*/
  overflow-x: hidden;
  background-repeat: no-repeat;
}
.viewport {
  height: 100%;
  margin: auto;
  position: relative;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
}
.desktop-viewport {
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  width: 100%;
  /*width: 1440px;*/
  /*height: 900px;*/
}
.pad-viewport {
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  width: 768px;
  /*height: 1024px;*/
}
.phone-viewport {
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  width: 320px;
  /*height: 540px;*/
}
.devices-icon {
  cursor: pointer;
}
.current {
  color: #F00;
  background-color: #999;
}
#app_preview {
  /*width: 320px;
	height: 540px;*/
  /*background-color: #000000;
	min-height: 540px;
	*/
  width: 100%;
  height: 100%;
  border: 0px;
  margin: auto;
  -webkit-overflow-scrolling: touch;
  overflow: auto;
}
.text-danger {
  color: #FF9999;
  font-weight: 400;
}
.has-warning .form-control,
.has-warning .input-group-addon {
  border-color: #F90;
  background-color: #ffebcc;
  color: #F90;
}
:focus {
  /*background-color:lighten(@brand-secondary, 20%);
	border-color: lighten(@brand-secondary, 10%);
	color: darken(@brand-secondary, 30%);
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;*/
}
/* pad */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .container {
    padding-top: 65px;
    padding-bottom: 30px;
    padding-left: 3px;
    padding-right: 3px;
    /**/
  }
  .landing-hello {
    padding-top: 0px !important;
  }
  #footer .container {
    padding-left: 15px;
    padding-right: 15px;
    /**/
  }
  .recommended {
    -webkit-transform: none;
    transform: none;
  }
  .col-lg-1,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-md-1,
  .col-md-10,
  .col-md-11,
  .col-md-12,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-sm-1,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-xs-1,
  .col-xs-10,
  .col-xs-11,
  .col-xs-12,
  .col-xs-2,
  .col-xs-3,
  .col-xs-4,
  .col-xs-5,
  .col-xs-6,
  .col-xs-7,
  .col-xs-8,
  .col-xs-9 {
    /*padding-left: 0px;
		padding-right: 0px;*/
  }
  .list-item,
  .feature {
    margin-bottom: 5px;
  }
  .name,
  .surname {
    display: block;
  }
}
/* phone */
@media only screen and (max-width: 768px), screen and (max-device-width: 768px) {
  body {
    font-size: 14px;
  }
  .navbar-brand {
    padding: 10px;
  }
  #navbar-brand-img {
    height: 30px;
    margin-top: -5px;
  }
  .navbar-default .container .navbar-nav {
    background-color: #f4f4f4;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .navbar-default .container .navbar-nav a {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    border-bottom: 1px solid #cdcdcd;
  }
  .container {
    padding-top: 65px;
    padding-bottom: 65px;
    /*padding-left: 3px;
		padding-right: 3px;*/
  }
  .intro {
    margin-bottom: 50px;
  }
  .singlestep {
    margin-bottom: 20px!important;
  }
  #footer .container,
  .navbar .container {
    text-align: center;
    /**/
  }
  #footer .container .socials-links,
  .navbar .container .socials-links {
    text-align: center;
  }
  .recommended {
    -webkit-transform: none;
    transform: none;
  }
  .col-lg-1,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-md-1,
  .col-md-10,
  .col-md-11,
  .col-md-12,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-sm-1,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-xs-1,
  .col-xs-10,
  .col-xs-11,
  .col-xs-12,
  .col-xs-2,
  .col-xs-3,
  .col-xs-4,
  .col-xs-5,
  .col-xs-6,
  .col-xs-7,
  .col-xs-8,
  .col-xs-9 {
    /*padding-left: 0px;
		padding-right: 0px;*/
  }
  .row {
    /*padding-left: 0px;
		padding-right: 0px;*/
  }
  .list-item,
  .feature {
    /*
		border-bottom: 1px solid #ccc;*/
    margin-bottom: 5px;
  }
  .list-item .list-title,
  .feature .list-title {
    /*font-size: 12px;*/
  }
  .name,
  .surname {
    display: block;
  }
}
.spinner {
  background-image: url(../images/star.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 100%;
  -webkit-animation: pp 5s infinite;
  /* Safari 4+ */
  /* Fx 5+ */
  /* Opera 12+ */
  animation: pp 5s infinite;
  /* IE 10+, Fx 29+ */
  /*
		  animation-name: infinitespinning, scaleout;
		  animation-duration: infinite, infinite;
		  animation-timing-function: linear, linear;

		  -webkit-animation-name: infinitespinning, scaleout;
		  -webkit-animation-duration: 1.0s, 1.0s;
		  -webkit-animation-timing-function: linear, linear;


		  -webkit-animation:infinitespinning 1.0s infinite linear,
		  					scaleout 1.0s infinite linear;
		  animation:infinitespinning 3.0s infinite linear,
		  			scaleout 1.0s infinite linear;


		-webkit-animation: NAME-YOUR-ANIMATION 5s infinite;
  		-moz-animation:    NAME-YOUR-ANIMATION 5s infinite;
  		-o-animation:      NAME-YOUR-ANIMATION 5s infinite;
  		animation:         NAME-YOUR-ANIMATION 5s infinite;

		 */
}
@keyframes scaleout {
  0% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  100% {
    transform: scale(5);
    -webkit-transform: scale(5);
    /*opacity: 0;*/
  }
}
@-webkit-keyframes scaleout {
  0% {
    -webkit-transform: scale(0);
  }
  100% {
    -webkit-transform: scale(5);
    /*opacity: 0;*/
  }
}
@keyframes infinitespinning {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes infinitespinning {
  from {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}
*[ng-cloak] {
  display: none !important;
}
.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
  -webkit-transition: 160ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
  transition: 160ms cubic-bezier(0.25, 0.25, 0.75, 0.75) all;
  position: relative;
  overflow: hidden;
}
.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
  opacity: 0;
  max-height: 0;
}
.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
  opacity: 1;
  max-height: 200px;
}
.domain-suggestions ul li {
  cursor: pointer !important;
}
.domain-suggestions ul li input[type=checkbox] {
  cursor: pointer !important;
}
.flag-icon-background {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
}
.flag-icon {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  position: relative;
  display: inline-block;
  width: 1.33333333em;
  line-height: 1em;
}
.flag-icon:before {
  content: "\00a0";
}
.flag-icon.flag-icon-squared {
  width: 1em;
}
.flag-icon-it {
  background-image: url(/components/flag-icon-css/flags/4x3/it.svg);
}
.flag-icon-it.flag-icon-squared {
  background-image: url(/components/flag-icon-css/flags/1x1/it.svg);
}
.flag-icon-gb {
  background-image: url(/components/flag-icon-css/flags/4x3/gb.svg);
}
.flag-icon-gb.flag-icon-squared {
  background-image: url(/components/flag-icon-css/flags/1x1/gb.svg);
}
.navbar-default .container .navbar-nav a.change-language-link {
  padding-right: 5px;
  padding-left: 5px;
}
.nav .flag-icon {
  width: 23px;
  border: solid 1px #ddd;
  background-size: cover;
}
.badge-pro-version {
  padding: 2px 6px;
  border-radius: 3px;
  background-color: #fb0;
  color: white;
  font-size: 12px;
  margin-left: 10px;
}
.carousel-inner {
  overflow: inherit !important;
}
.window-height {
  height: 100%;
  min-height: 100%;
}
.headline {
  -webkit-animation: mysecond 2s;
  /* Chrome, Safari, Opera */
  animation: mysecond 2s;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes mysecond {
  from {
    margin-top: 20%;
    opacity: 0;
    filter: alpha(opacity=0);
  }
  to {
    margin-top: 0%;
    opacity: 1;
    filter: alpha(opacity=100);
  }
}
/* Standard syntax */
@keyframes mysecond {
  from {
    margin-top: 20%;
    opacity: 0;
    filter: alpha(opacity=0);
  }
  to {
    margin-top: 0%;
    opacity: 1;
    filter: alpha(opacity=100);
  }
}
#browser-window {
  -webkit-animation: myfirst 3s;
  /* Chrome, Safari, Opera */
  animation: myfirst 3s;
}
/* Chrome, Safari, Opera */
@-webkit-keyframes myfirst {
  from {
    margin-top: 150%;
  }
  to {
    margin-top: 0%;
  }
}
/* Standard syntax */
@keyframes myfirst {
  from {
    margin-top: 150%;
  }
  to {
    margin-top: 0%;
  }
}
#landing,
#banner-home {
  background-color: #333 !important;
}
#landing .carousel,
#banner-home .carousel {
  background-color: #333 !important;
  /*
	opacity: 0.6;
    filter: alpha(opacity=60);  For IE8 and earlier 
    */
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
#landing .carousel-caption,
#banner-home .carousel-caption {
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding: 0px 0px 0px 0px;
}
#landing .carousel-caption .container,
#banner-home .carousel-caption .container {
  padding-bottom: 0px;
  padding-top: 0px;
}
#landing .carousel-caption .container .banner-col-cont,
#banner-home .carousel-caption .container .banner-col-cont {
  padding-top: 33%;
}
#landing .carousel-caption .container .banner-col-sx,
#banner-home .carousel-caption .container .banner-col-sx {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
}
#landing .carousel-caption .container .banner-col-dx,
#banner-home .carousel-caption .container .banner-col-dx {
  overflow: hidden;
}
.landing-hello {
  padding-top: 5%;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
}
.landing-hello i strong {
  color: #8BB6D0 !important;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
}
.landing-title {
  font-size: 48px !important;
  /*color:#F90 !important;*/
  padding-bottom: 20px;
  margin-top: 0px !important;
  font-weight: 700 !important;
  font-style: normal;
}
.landing-site-preview {
  background-color: #f4f4f4;
  /*margin-bottom:-50%;*/
  /*position:absolute;
	bottom:-50%;*/
  overflow: hidden;
  /*cursor: pointer;*/
  /*max-height:800px;*/
}
.landing-site-preview .small-theme-min {
  width: 100% !important;
  margin-top: 0px;
  -webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  -o-transition: all 0.8s ease-in-out;
  -ms-transition: all 0.8s ease-in-out;
}
.landing-site-preview :hover.small-theme-min {
  margin-top: -90%;
}
.calltoaction {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  /*position:absolute;
	bottom: 20px;
	background:#0F0;*/
}
#landing .box-shadow,
#banner-home .box-shadow {
  /*
	box-shadow: 10px 50px 60px 0px #353535 !important;
	-webkit-box-shadow: 10px 50px 60px 0px #353535 !important;
	-moz-box-shadow: 10px 50px 60px 0px #353535 !important;
	*/
}
#landing .carousel-caption .container strong,
#banner-home .carousel-caption .container strong {
  /*color:#FFF;*/
}
#landing .carousel-caption .container small,
#banner-home .carousel-caption .container small {
  color: #CCC;
  font-style: italic;
  font-size: 16px;
}
#landing .carousel-caption .container i,
#banner-home .carousel-caption .container i {
  color: #ccc;
  font-style: italic;
  font-size: 20px;
  padding-bottom: 0px !important;
  margin-bottom: 0px !important;
}
#landing .browser,
#banner-home .browser {
  background-color: rgba(255, 255, 255, 0.7) !important;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom: 1px solid #ccc;
  /*
	background-color:#666 !important;
	
	background: -webkit-linear-gradient(#CCC,#999); 
  	background: -o-linear-gradient(#CCC,#999); 
  	background: -moz-linear-gradient(#CCC,#999);
  	background: linear-gradient(#CCC,#999);
  	*/
}
#landing .browser span,
#banner-home .browser span {
  /*border:1px solid #999;*/
  width: 12px;
  height: 12px;
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.reputation .container {
  padding: 0px 0px 0px 0px !important;
}
#fa-facebook-home {
  border-top-left-radius: 3px !important;
  border-bottom-left-radius: 3px !important;
}
#fa-facebook-home .fa-facebook {
  color: #3b5998 !important;
  text-shadow: none !important;
  font-style: normal !important;
}
#reputation {
  position: absolute;
  bottom: 0px;
  width: 100%;
  padding: 10px 0px 10px 0px;
  background-color: rgba(255, 255, 255, 0.9) !important;
  border-bottom: 1px solid #ccc;
}
#reputation p {
  color: #333;
  font-size: 16px;
  text-shadow: none;
}
.cookies {
  text-align: center !important;
  border-color: #666;
  background-color: #666;
  padding: 4px 5px 5px 5px;
  font-size: 12px;
  color: #ccc;
  margin-bottom: 0px;
}
.cookies strong {
  color: #CCC;
}
.cookies .close {
  color: #FFF;
  top: -4px;
  right: 5px;
}
.cookies a,
.cookies a:hover {
  color: #CCC;
}
.fadeimage {
  -webkit-animation: fadein 5s;
  /* Safari, Chrome and Opera > 12.1 */
  /* Firefox < 16 */
  /* Internet Explorer */
  /* Opera < 12.1 */
  animation: fadein 5s;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Firefox < 16 */
/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Internet Explorer */
/* Opera < 12.1 */
/* iPads (landscape) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .landing-hello {
    padding-top: 0%;
  }
  .landing-title {
    font-size: 37px !important;
  }
  .landing-p {
    font-size: 20px !important;
  }
  #landing .carousel-caption .container small,
  #banner-home .carousel-caption .container small {
    font-size: 16px;
  }
  #landing .carousel-caption .container i,
  #banner-home .carousel-caption .container i {
    font-size: 16px;
  }
}
/* iPads (portrait) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  #landing .carousel-caption .container,
  #banner-home .carousel-caption .container {
    padding-top: 15%;
  }
  #banner-home .carousel-caption .banner-col-sx {
    margin-top: 0px !important;
    height: auto;
    text-align: center;
  }
  .landing-hello {
    padding-top: 40%;
  }
  .landing-title {
    font-size: 55px !important;
    padding-bottom: 0px;
  }
}
/*layouts smaller than 600px, iPhone and mobiles*/
@media only screen and (max-width: 480px), screen and (max-device-width: 480px) {
  #landing .carousel,
  #banner-home .carousel {
    text-align: center !important;
    background: -webkit-linear-gradient(#333, #999);
    /* Safari 5.1-6.0 */
    /* For Opera 11.6-12.0 */
    /* For Firefox 3.6-15 */
    background: linear-gradient(#333, #999);
    /* Standard syntax */
    background-size: cover;
  }
  #landing .carousel-caption .container,
  #banner-home .carousel-caption .container {
    padding-top: 20%;
    text-align: center !important;
  }
  #banner-home .carousel-caption .banner-col-sx {
    margin-top: 0px !important;
    height: auto;
    text-align: center;
  }
  .landing-hello {
    text-align: center !important;
    font-size: 10px !important;
  }
  .landing-title {
    font-size: 25px !important;
    padding-bottom: 10px;
    text-align: center !important;
  }
  .pull-left,
  .pull-right {
    float: none !important;
  }
  .landing-p {
    font-size: 18px !important;
    text-align: center !important;
  }
  #landing .carousel-caption .container small,
  #banner-home .carousel-caption .container small {
    font-size: 16px;
  }
  #landing .carousel-caption .container i,
  #banner-home .carousel-caption .container i {
    font-size: 16px;
  }
}
#browser-window .loading-star {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 80px;
  height: 80px;
  margin-left: -40px;
  margin-top: -40px;
  background-image: url(../images/star.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 100%;
  -webkit-animation: scaleout 1s infinite ease-in-out;
  animation: scaleout 1s infinite ease-in-out;
}
#browser-window .landing-site-preview {
  position: relative;
}
#browser-window #iframe-wrapper {
  height: 100%;
}
#browser-window #iframe-wrapper #previewIFrame {
  width: 200% !important;
  height: 200% !important;
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}
@-webkit-keyframes scaleout {
  0% {
    -webkit-transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 0;
  }
}
@keyframes scaleout {
  0% {
    transform: scale(0) rotate(0deg);
    -webkit-transform: scale(0) rotate(0deg);
  }
  100% {
    transform: scale(1) rotate(90deg);
    -webkit-transform: scale(1) rotate(90deg);
    opacity: 0;
  }
}
.thumbnail {
  padding: 0px 0px 0px 0px;
  border: none;
  margin-bottom: 0px;
  background-color: #FFF;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../../../images/206x206.png);
  background-size: cover;
}
.thumbnail img {
  vertical-align: middle;
}
.square-thumbnail {
  /*width:130px;
    height:130px;*/
  width: 100%;
  height: 0px;
  padding-bottom: 100% !important;
}
.round-thumbnail {
  /*width:130px;
    height:130px;*/
  width: 100%;
  height: 0px;
  padding-bottom: 100% !important;
}
.anamorfic-thumbnail {
  /*width:130px;
    height:130px;*/
  width: 100%;
  height: 0px;
  padding-bottom: 60% !important;
}
.landscape-thumbnail {
  width: 100%;
  height: 0px;
  padding-bottom: 40% !important;
  margin-bottom: 10px;
}
.vertical-thumbnail {
  /*width:130px;
    height:130px;*/
  width: 100%;
  height: 0px;
  padding-bottom: 160% !important;
}
#logo-selection .thumbnail {
  background-size: contain;
}
#fb-page-search {
  margin-bottom: 20px;
}
#fb-page-search ul.dropdown-menu {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  color: #666 !important;
  border-radius: 0;
}
#fb-page-search ul.dropdown-menu li {
  display: block;
  margin: 0px;
  padding: 0px;
  cursor: pointer;
}
#fb-page-search ul.dropdown-menu li:hover {
  background-color: #eef6fc;
}
#fb-page-search .singlesuggest p {
  font-size: 11px;
  color: #777777;
  text-shadow: none;
}
#fb-page-search .suggestpagename {
  text-shadow: none;
  font-size: 12px;
  font-weight: bold;
  color: #6DB3E4;
  margin-top: 10px;
  margin-bottom: 3px;
}
#fb-page-search .pagedatacategory {
  display: block;
  font-weight: bold;
}
#fb-page-search .pagedatalikes {
  display: block;
}
#fb-page-search .pagedatalikes strong {
  padding-left: 5px;
  color: #666 !important;
}
#fb-page-search .suggestimg {
  padding-right: 0px !important;
  width: 100px;
}
#fb-page-search .ng-isolate-scope {
  z-index: 999999;
}
#fb-page-search .search-input-wrapper {
  padding: 0;
  border: none;
}
#fb-page-search .search-input-wrapper > ul.dropdown-menu {
  width: 100%;
  z-index: 10;
}
