.container {
	position: relative;
	margin-top: @height-navbar*1.5;
	margin-bottom: 100px;
	max-width: 1024px;
	margin-left: auto;
	margin-right: auto;
	font-family: @font-text;

	#boxed-area {
		padding: 45px 40px 20px;

	}
	&.page-content {

		background-color: @inner_background;
		box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px;
		opacity: 0.95;

	}
}

a {
	color: @brand-primary;
	&:hover, &:focus {
		color: darken(@brand-primary, 5%);
		text-decoration: underline;
	}

}

hr {
	border-top: transparent 1px solid;
	border-bottom: hsl(hue(@outer_background), 50%, 50%) 1px solid;
	opacity: 0.4;
}

h1, h2, h3, h4, h5, h6 {
	font-family: @font-title;
	line-height: 1.3;
	color: darken(@brand-primary, 5%);
	-webkit-margin-before: 2px !important;
}

h1 {
	font-size: 48px;
}

h2 {
	font-size: 42px;
}

h3 {
	font-size: 36px;
}

h4 {
	font-size: 28px;
}

h5 {
	font-size: 22px;
}

h6 {
	font-size: 18px;
}

/* Display Text */
.display {
	margin-top: 10px;
	margin-bottom: 35px;
	h2 {
		font-size: 50px;
	}
	h3 {
		font-size: 22px;
	}
}

.pagination > li {
	a {
		color: @brand-primary;
		border-color: fade(@text-color, 30%);
		background-color: transparent;
		&.active {
			background-color: @brand-primary;
			color: @inner_background;
		}
	}
	span.navigation-disabled, span.navigation-disabled:hover {
		color: lighten(@brand-primary, 5%);
		border-color: fade(@text-color, 30%);
		background-color: transparent;
	}
}

address {
	.address-line {
		line-height: 1.5em;
	}
}

.hours-table {
	border-left: none;
	border-right: none;
	td {
		border-left: none;
		border-right: none;
		padding: 0.33em 1em 0.33em 0;
	}
}

.posts-loop {
	.thumbnail {
		background-position: center center;
		background-size: cover;
		min-height: 190px;
		width: 100%;
		transition: opacity 0.2s;
	}

}

.post-column {
	margin-bottom: 15px;
	h6, p {
		word-wrap: break-word;
	}
}

.loop-albums {
	h6 {
		margin-top: 0;
		padding-top: 11px;
	}
	a:hover {
		.thumbnail {
			opacity: 0.6;
		}
	}
}

.post-description {
	word-wrap: break-word;
}
