

/* Responsive Video from Zurb Foundation. Copyright (c) 2011 ZURB, http://www.zurb.com/ License: MIT */
.flex-video {
	position: relative;
	padding-top: 25px;
	padding-bottom: 67.5%;
	height: 0;
	margin-bottom: 25px;
	overflow: hidden;
	max-height: 450px
}

.flex-video.widescreen {
	padding-bottom: 57.25%;
}

.flex-video.vimeo {
	padding-top: 0;
}

.flex-video iframe, .flex-video object, .flex-video embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: none;
}

@media only screen and (max-device-width: 800px), only screen and (device-width: 1024px) and (device-height: 600px), only screen and (width: 1280px) and (orientation: landscape), only screen and (device-width: 800px), only screen and (max-width: 767px) {
	.flex-video {
		padding-top: 0;
	}
}

/* BOOTSTRAP OVERIDE (To give blue & flat look */

/* Carousel */
/*
.carousel-control .icon-prev, .carousel-control .icon-next {
	color: #fff;
}

.carousel-control.right {
	background-image: -webkit-gradient(linear, 0 top, 100% top, from(rgba(0, 0, 0, 0.0001)), to(rgba(0, 0, 0, 0.3)));
	background-image: -webkit-linear-gradient(left, color-stop(rgba(0, 0, 0, 0.0001) 0), color-stop(rgba(0, 0, 0, 0.3) 100%));
	background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0.0001) 0, rgba(0, 0, 0, 0.3) 100%);
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0001) 0, rgba(0, 0, 0, 0.3) 100%);
}

.carousel-control.left {
	background-image: -webkit-gradient(linear, 0 top, 100% top, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.0001)));
	background-image: -webkit-linear-gradient(left, color-stop(rgba(0, 0, 0, 0.3) 0), color-stop(rgba(0, 0, 0, 0.0001) 100%));
	background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0.3) 0, rgba(0, 0, 0, 0.0001) 100%);
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0.3) 0, rgba(0, 0, 0, 0.0001) 100%);
	background-repeat: repeat-x;
}
*/

/* OTHERS */

.topcover {
	margin: 0px -55px;
	position: relative;
}

.page-content .row:first-child .topcover {
	margin: -45px -55px 0 !important;
}

.page-content .row:first-child .topcover img {
	margin-top: 0;
}

.mg1 {
	margin: 0 0 30px
}

.mg2 {
	margin: 12px 0 30px
}

.mg3 {
	margin: 12px 0 10px
}

.mg4 {
	margin: 0 0 20px
}

.mg5 {
	margin: 0 0 40px
}

.mg6 {
	margin: 12px 0 40px
}

.image-caption {
	font-size: 13px;
	margin-bottom: 30px
}

.social-links a i {
	text-decoration: none;
	margin-right: 5px;
	font-size: 20px
}

hr {
	margin: 20px 0 35px
}


body.store-page{
	.breadcrumb{
		background: transparent;
		border: solid 1px fade(@texts, 50%);
	}
	.panel{
		border: none;
		background: transparent;
		box-shadow: none;
		.panel-heading{
			border: none;
			border-bottom: solid 1px @brand-primary;
			background: transparent;
			padding-left: 0;
			padding-right: 0;
		}
		.panel-body{
			border: none;
			padding-left: 0;
			padding-right: 0;
		}
		.list-group{
			.list-group-item{
				background: none;
				padding-left: 0;
				padding-right: 0;
				border: none;
				border-bottom: solid 1px fade(@brand-primary, 65%);
				&.active-category{
					font-weight: 900;
					a::before{
						content: "> "
					}
				}
				.badge{
					background-color: transparent;
					color: @texts;
					border-radius: 0;
					padding:0;
					font-weight: 300;
					&::before {
						content: " (";
					}
					&::after {
						content: ")";
					}
				}
			}
		}
	}
	li.product-item{
		list-style: none;
	}
	ul#productsContainer{
		padding: 0;
		margin: 0 -15px;
	}
}
