/* Buttons */

.custom-button(){
	border-color: rgba(red(@brand-primary),green(@brand-primary),blue(@brand-primary),0.8);
	//border-bottom-color: rgba(red(@brand-primary),green(@brand-primary),blue(@brand-primary),1);
	border-width: 1px;
	border-style: solid;
	background-color: transparent;
	background-image: none;
	color: @brand-primary;

	padding-left: 40px;
	padding-right: 40px;

	&:hover, &:focus{
		border-color: @brand-primary;
		border-width: 1px;
		border-style: solid;
		background-color: @brand-primary;
		background-image: none;
		color: @inner_background;
	}
}
form {
	.btn, .btn-default, a.btn-default, .btn-primary, a.btn-primary {
		.custom-button();
	}
	.btn.disabled, .btn-primary.disabled, .btn-primary[disabled], fieldset[disabled] .btn-primary, .btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover, .btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus, .btn-primary.disabled:active, .btn-primary[disabled]:active, fieldset[disabled] .btn-primary:active, .btn-primary.disabled.active, .btn-primary[disabled].active, fieldset[disabled] .btn-primary.active {
		.btn;
		opacity: 0.7;
		background-color: rgba(red(@brand-primary), green(@brand-primary), blue(@brand-primary), 0.4);
	}

	/* Form */
	textarea, input, .uneditable-input {
		border: #e3e3e3 2px solid;
		background-color: rgba(255, 255, 255, 0.9);
		height: 38px;
		padding: 8px 12px;
		border-radius: 5px;
		font-size: 13px;
		line-height: 1.5;
		color: #333;
	}

	.form-control {
		min-height: 34px;
		padding: 6px 12px;
		font-size: 14px;
	}

	textarea {
		min-height:100px;
		height: auto;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	select {
		height: 30px;
	}

}
