.navbar {
	position: fixed;
	top: 0px;
	left: 0;
	right: 0;
	z-index: 10;
	height: @height-navbar;
	background-color: @inner_background;
	background-color: fade(@inner_background, 90%);
	box-shadow: 0 1px 10px rgba(0, 0, 0, 0.05);

	.navbar-brand, .brand-img {
		height: @height-navbar;
		padding: 0;
	}

	ul li {
		&.active {
			a {
				color: @inner_background;
				background-color: @brand-primary;
				box-shadow: inset 0px 0px 5px rgba(50, 50, 50, 0.2);
				&:hover {
					background-color: fade(@brand-primary, 80%);
				}
			}
		}
		a {
			font-family: @font-title;
			font-size: 16px;
			color: @brand-primary;
			line-height: @height-navbar*0.5;
			padding-top: @height-navbar*0.3; /* small adjustment for menu text for good positioning */
			padding-bottom: @height-navbar*0.2;
			transition: background-color 0.1s;


			&:hover {
				background-color: fade(@brand-primary, 30%);
			}
		}
	}
	@media screen and (max-width: 768px) {
		.collapse.in, .collapsing {
			ul {
				margin-top: 0;
				background-color: @inner_background;
				background-color: fade(@inner_background, 95%);
				li {
					a {
						padding: 4px 1em;
					}
				}
			}
		}
	}
}

.navbar.navbar-fixed-top {
	.container {
		margin-top: 0;
		margin-bottom: 0
	}

	button.navbar-toggle {
		margin-bottom: 0;
		color: @brand-primary;
		transition: all 0.2s;
		&:active{
			box-shadow: none;
			color: @texts;
			transform: scale(1.05,1.05);
		}
	}

	ul.dropdown-menu {
		text-align: left
	}
}

@media screen and (min-width: 768px) {
	.navbar-brand {
		padding-left: 0;
		margin-left: 0;
		margin-right: 35px;
	}
}

.navbar-fixed-top {
	border: none;
}

