.templateFONT{
	font-family: @font-text;
	FONT-FAMILY: @font-title;
}
.elementTemplateINNOVATION{
	display: none;
}
@import "../../__default/styles/edit-entry.less";
@import "../../__default/styles/config.less";
@import "variables.less";
@import "assets/bootstrap-less/bootstrap.less";
@import "assets/less/ad.less";
@import "assets/less/cookiesmodal.less";
@import "../../__default/styles/commons/modal-details.less";
@import "../../__default/styles/commons/utility.less";
@import "../../__default/styles/commons/imagelightbox.less";
@import "../../__default/styles/commons/ecommerce.less";

@import "extra.less";

@import "container.less";
@import "nav.less";
@import "form-elements.less";

/* Common */
:focus, a {
	outline: none !important;
}

p {
	margin: 0 0 20px;
}

body {
	background-color: @outer_background;
	background-image: url('/images/generated-websites/subtle-background/wavegrid.png');
	background-size: 100px 100px;

	@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
		background-image: url('/images/generated-websites/subtle-background/wavegrid_@2X.png');
		background-size: 100px 100px;
	}

	background-repeat: repeat;
	background-position: top;


	/*font-family: @font-text;
	font-size: 14px;
	font-weight: 300;
	line-height: 1.7;
	color: @text-color;*/
}

@media (max-width: 767px) {
	.row {
		margin-right: -15px;
		margin-left: -15px;
	}
}

/* Responsive Image */
img {
	max-width: 100%;
	height: auto;
	width: auto;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.thumbnail {
	padding: 10px;
	border: 1px solid #DADADA;
	border-radius: 0px;
	/*box-shadow: 0 1px 3px rgba(34,25,25,0.4);
	-moz-box-shadow: 0 1px 3px rgba(34,25,25,0.4);
	-webkit-box-shadow: 0 2px 5px rgba(196, 191, 191, 0.4);*/
}

.thumbnail .caption {
	padding: 17px;
}

.thumbnail .caption h4 {
	padding-bottom: 10px;
	border-bottom: 1px solid #DADADA;
}

.thumbnail img {
	width: 100%;
	display: block;
}

#carousel_banner{
	.carousel-indicators{
		z-index: 3;
		opacity: 0.5;
		bottom:0;
	}
}

#map-canvas{
	padding-bottom: 40%;
	width: 100%;
}

#footer{
	padding-top: 100px;
	h1{
		padding: 0;
		margin: 0;
		font-size: 1.5em;
		line-height: 1.7em;
	}
	#company_info{

		span{
			line-height: 1.2em;
			display: block;
		}


		address{
			margin-bottom: 1em;
		}
		.hours-small{
			line-height: 1.1em;
			font-size: 0.95em;
			span{
				display: inline;
			}
			.hours-status-now {
				font-weight: bold;
				padding-bottom: 0.2em;
			}
		}
		.hours-today-value{
			white-space: nowrap;
		}
	}
	#footer-nav-links{
		ul{
			padding-top: 1em;
			li{
				color: fade(@brand-primary,90%);
				a{
					color: fade(@text-color,90%);
				}
			}
		}
	}
	#company_social_links{
		ul{
			padding-top: 0.8em;
			text-align: right;
			li{
				margin-left: 5px;
				margin-right: 5px;
				margin-bottom: 10px;
				background-color: #fff;
				border-radius: 2px;
				border: solid 1px rgba(0, 0, 0, 0.05);
				text-align: center;
				display: inline-block;
				a{
					font-size: 1.5em;
					line-height: 1.5em;
					padding: 0;
					i{
						line-height: 1.5em;
						padding: 2px 4px;
					}
				}
				&:hover{
					border: solid 1px rgba(0, 0, 0, 0.15);
				}
			}
		}
	}
	#credits{
		margin-top:1.5em;
	}
}
