{% extends '../layouts/landing_01.html' %}

{% block landing_content %}

<section class="jumbotron page-section window-height fullscreen-banner-image" id="banner-home" ng-controller="customPreviewCtrl">
	<div class="container-fluid">
		<div class="carousel slide parallax" data-ride="carousel" style="background-image:url({= example.banner_bg =})">
			<!-- Wrapper for slides -->
			<div class="carousel-inner">
				<div class="item window-height active">
					<div class="carousel-caption window-height">
						<!-- container-->
						<div class="container full-height">
							<div class="row equal-row full-height" ng-cloak>
								
								<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 text-left pull-left banner-col banner-col-sx">
									<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 fadeimage headline banner-content-container banner-content-container-1" >
										<p class="landing-hello with-preview">
											<strong>{=pageName=}</strong>
										</p>
										<h1 class="landing-title">Il tuo sito aspetta il tuo ultimo tocco.</h1>
	                            		<p class="hidden-xs">
	                            			<small>Accedi e <strong>personalizzalo subito!</strong></small>										
										</p>
	                            		<p class="calltoaction">
	                                    	<a id="registrati-link-landing" href="http://go.majeeko.com/custom2_login" role="button" class="btn btn-primary btn-lg pad">
	                                         VAI AL SITO
	                                     	</a>
										</p>
										<p>
											<small>Sconto <strong>€20</strong> con il coupon: <strong>BENTORNATO</strong></small>
										</p>
									</div>
								</div>

								<div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 pull-right window-height banner-col banner-col-dx">
									<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 banner-col-cont">

										<div class="box-shadow" id="browser-window">
											<div class="browser">
												<span class="r"></span>
												<span class="y"></span>
												<span class="g"></span>
											</div>
											
											<div class="landing-site-preview" style="height:700px">
												<div class="loading-star" 
													disable-ng-animate 
													ng-show=" state == 'generating-preview' "
												    ng-cloak></div>

												<div id="iframe-wrapper" style="position:relative" ng-show="preview.url &&  state == 'preview-ready' " ng-cloak>
	                                            	<iframe id="previewIFrame" class="lazy" ng-src="{{preview.url}}" frameborder="0"></iframe>
	                                            </div>
											</div>
										</div>
									</div>
								</div>

							</div>
						</div>
						<!-- end container -->
						
						<div id="reputation" class="hidden-xs reputation">
							<div class="container">
								<div class="row">
									<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 col-lg-offset-2 col-md-offset-2">
										<div class="row">
											<div class="col-xs-12">
													<img class="img-responsive fadeimage azy" src="/images/reputation.png" />
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
			<!-- End wrapper for slides -->
		</div>
	</div>
</section>
{% endblock %}

{% block page_scripts %}
<script>
	angular.module('majeeko.main')
	.controller('customPreviewCtrl', function (
		$scope,
		$http,
		$sce
	) {
		var pageId = "{=pageId=}";
		console.debug('Create preview for page with id:', pageId)
		$scope.state = 'generating-preview';
		return $http.post('/api/fetch-preview', {
			id: pageId
		}).then(function (res,err) {
			if(res) {
				$scope.preview = {
					// page_name: $scope.selectedPage.name,
					url: $sce.trustAsResourceUrl(res.data.url)
				}
				console.debug('Preview generated');
				$scope.state = 'preview-ready';
			}
		})
	})
</script>
{% endblock %}
