{% extends '../layouts/landing_01.html' %}

{% block landing_content %}

<section class="jumbotron page-section window-height fullscreen-banner-image" id="banner-home" ng-controller="previewGeneratorCtrl">
	<div class="container-fluid">
		<div class="carousel slide parallax" data-ride="carousel" style="background-image:url({= example.banner_bg =})">
			<!-- Wrapper for slides -->
			<div class="carousel-inner">
				<div class="item window-height active">
					<div class="carousel-caption window-height">
						<!-- end container-->
						<div class="container full-height">
							<div class="row equal-row full-height" ng-cloak>
								<div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 text-left pull-left banner-col banner-col-sx">

									

									{# banner-content-container-3 #}

									<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 fadeimage headline banner-content-container banner-content-container-1" >

										<p class="landing-hello"> 
											{# <i>{= t('banner.fai_come', {
												example_client: '<strong>' + example.page_name + '</strong>'
											}) =} <fb:userlink uid="loggedinuser"/>
											</i>  #}
											<span>Fatti trovare online!</span>
										</p>
										<h1 class="landing-title">Crea il tuo sito web professionale in un click.</h1>
										{# <p class="landing-p">
										 <span>Fatti trovare online!</span>
	                            		</p> #}
	                            		<p class="hidden-xs">
											 <small>Accedi con il tuo profilo facebook e personalizza il tuo sito.</small>										
										</p>
	                            		<p class="calltoaction">
	                                    	<a id="registrati-link-landing" href="/auth/facebook" role="button" class="btn btn-primary btn-lg pad" onclick="_gaq.push(['_trackEvent', 'click', 'Pubblica']);">
	                                         Prova gratis
	                                     	</a>
										</p>
										
										{# <p class="hidden-xs">
											 <small>Sconto <strong>€30</strong> con il coupon: <strong>SYNKYPROMO</strong></small>										
										</p> #}
									</div>



								</div>
								<div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 pull-right window-height banner-col banner-col-dx">
									<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 banner-col-cont">

										<div class="box-shadow" id="browser-window">
											<div class="browser">
												<span class="r"></span>
												<span class="y"></span>
												<span class="g"></span>
											</div>
											
											<div class="landing-site-preview">
												<img src="{= example.picture =}" 
		                                            class="img-responsive small-theme-min fadeimage lazy" 
		                                            alt="{= example.page_name =}" 
		                                            disable-ng-animate
		                                            ng-show=" !state "
	                                            >
												
												<div class="loading-star" 
													disable-ng-animate 
													ng-show=" state == 'generating-preview' "
												></div>

												<img src="{= example.picture =}" 
		                                            class="img-responsive small-theme-min fadeimage lazy" 
		                                            alt="{= example.page_name =}" 
		                                            disable-ng-animate
		                                            ng-show=" false "
	                                            >
											
												<img ng-src="{{preview.picture}}" 
		                                            class="img-responsive small-theme-min fadeimage lazy" 
		                                            alt="{{preview.page_name}}" 
		                                            disable-ng-animate
		                                            ng-show=" state == 'preview-ready' "
	                                            >
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- end container -->
						<div id="reputation" class="hidden-xs reputation">
							<div class="container">
								<div class="row">
									<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 col-lg-offset-2 col-md-offset-2">
										<div class="row">
											{# <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
												<p class="">
													<small>{= t('banner.reputation') =}</small>
												</p>
											</div> #}
											<div class="col-xs-12">
													<img class="img-responsive fadeimage azy" src="/images/reputation.png" />
											</div>
										</div>
									</div>
								</div>
							</div>
							
							{# <div class="alert alert-warning alert-dismissible cookies" role="alert">
							  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							  <strong>Attenzione!</strong> Questo sito usa i cookies.
							</div> #}
							
						</div>
					</div>
				</div>
			</div>
			<!-- End wrapper for slides -->
		</div>
	</div>
</section>
{% endblock %}
