{% if !page.data.paid_on and !isEditor and !url2png %}
<section class="section" id="ad">
	<div class="container text-center">
		<a class="row no-gutter" 
			href="http://go.majeeko.com/bnn-free" 
			style="display:block;"
			id="link-majeeko-ad-free" 
			target="blank" 
			>

			<div class="col-md-2 col-xs-12">
				<img src="/images/logo_mono-2.png" class="fadeimage lazy" id="brand-ad-majeeko-free">
			</div>

			<div class="col-md-10 col-xs-12 text-left" id="message-ad-majeeko-free">
				<p class="hidden-xs truncate">Ti piace il sito di <strong>{= page.configuration.settings.nome_sito||page.data.pageData.name =}</strong>?</p>
				<p class="hidden-xs truncate">Crea anche tu il tuo sito web dalla tua pagina Facebook!</p>
				{# <p class="hidden-xs truncate">E fatto con...</p> #}
			</div>
			
			{# <div class="col-xs-12"> #}
				{# <p class="hidden-xs truncate">Crea anche tu il tuo sito web dalla tua pagina Facebook!</p> #}
				{# <p class="hidden-xs truncate">Fai come <strong>{= page.configuration.settings.nome_sito||page.data.pageData.name =}</strong>, crea un sito web dalla tua pagina Facebook!</p> #}
			{# </div> #}

			{# <div class="col-xs-12"> #}
				{# <a href="/auth/facebook" role="button" id="fb-accedi-nav">
					<div class="pad btn btn-sm btn-social btn-facebook"> <i class="fa fa-facebook"></i>
						{= t('navigation.accedi') =}
					</div>
				</a> #}
			{# </div> #}

		</a>
	</div>
</section>
<style>
	.pagewrap{
		margin-top: 20px;
	}
</style>
{% endif %}
