<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 no-gutter">
		{% set post_images = postData.photos %}
			{% include "../../__default/partials/modal-slide-fullscreen.html" %}
		</div>
		{# <div class="col-xs-12">
			<p id="company-short-description" class="lead">{= postData.description =}</p>
		</div> #}
	</div>
</div>
