{% set loop_posts = photos %}

<section class="section" id="banner">



	<div id="gallery-carousel" class="carousel slide window-height" data-ride="carousel">

		<!-- Indicators -->
		<ol class="carousel-indicators">
		{% for index, post in loop_posts %}
			<li data-target="#gallery-carousel" data-slide-to="{= index =}"></li>
		{% endfor %}
		</ol>


		<!-- Wrapper for slides -->
		<div class="carousel-inner window-height" role="listbox">
		{% for index, post in loop_posts %}

			{% if index == 0 %}
				<div class="item window-height active">
					<img src="({= post.cover_image =})" class="img-responsive fadeimage lazy"  alt="">
					<!-- <div class="carousel-caption">...</div> -->
				</div>
			{% else %}
				<div class="item">
					<img src="({= post.cover_image =})" class="img-responsive fadeimage lazy"  alt="">
					<!-- <div class="carousel-caption">...</div> -->
				</div>
			{% endif %}

		{% endfor %}
		</div>

		<!-- Controls -->
		<a class="left carousel-control" href="#gallery-carousel" role="button" data-slide="prev">
			<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="right carousel-control" href="#gallery-carousel" role="button" data-slide="next">
			<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>

	</div>

</section>
