<section class="section carousel slide window-height" data-ride="carousel" id="banner">

	{# 
	<!-- Indicators -->
	<ol class="carousel-indicators">
		<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
		<li data-target="#carousel-example-generic" data-slide-to="1"></li>
		<li data-target="#carousel-example-generic" data-slide-to="2"></li>
	</ol>  
	#}
	

	<!-- Wrapper for slides -->	
	<div class="carousel-inner window-height" role="listbox">
		<div 
			id="banner-image-holder" 
			class="item thumbnail window-height active" 
			style="background-image:url('{= page|getBannerPicture =}'); "
			>
			{# 
			<img class="img-responsive window-height fadeimage lazy" src="{= page.pageData.cover.source =}" alt="{= name =}">	
			<div class="carousel-caption">...</div>
			#}

		</div>

		{# 
		<div class="item">
			<img src="{= page.pageData.cover.source =}" alt="{= name =}">	
			<div class="carousel-caption">...</div>
		</div>  
		#}

	</div>

	{# 
	<!-- Controls -->
	<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
		<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
		<span class="sr-only">Previous</span>
	</a>
	<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
		<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
		<span class="sr-only">Next</span>
	</a>  
	#}

</section>
