{% if bannerImages.length == 1 %}
    {% set img = bannerImages[0] %}
    <div id="banner-image-holder" class="item thumbnail " style="background-image: url('{= img.source =}'); background-size:cover; height:1px; padding-bottom:37%; width:100%"></div>

{% else %}
    <div class="carousel slide mg1" id="carousel_banner">
        <ol class="carousel-indicators">
            {% for img in bannerImages %}
                <li {% if loop.index == 1 %}class="active"{% endif %} data-target="#carousel_banner" data-slide-to="{= loop.index0 =}" ></li>
            {% endfor %}
        </ol>

        <div class="carousel-inner">
            {% for img in bannerImages %}
                <div class="item {% if loop.index == 1 %}active{% endif %}">
                    <div style="background-image:url('{= img.source =}'); background-position: center center; background-size:cover; height:1px; padding-bottom:37%; width:100%"></div>
                </div>
            {% endfor %}
        </div>

        <a class="left carousel-control" href="#">
            <span class="icon-prev"></span>
        </a>

        <a class="right carousel-control" href="#">
            <span class="icon-next"></span>
        </a>
    </div>
{% endif %}
