<div id="cookiesModal" class="modal fade ">
	<div class="modal-dialog modal-md">
		<div class="modal-content">
			<!-- -->
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">Informativa sui Cookies</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-12" id="cookiesModalContainer">
						

						<div class="text-left">
							<strong>Innanzitutto che cosa sono i cookies?</strong><br>
							Il cookie è un piccolo file di testo (pochi byte) scambiato tra un sito internet ed il suo browser e normalmente utilizzato dal gestore del sito internet per memorizzare le informazioni necessarie a migliorare la navigazione all’interno del sito.
						</div>

						<br>

						<div class="text-left">
							<p>
								<strong>Le tipologie di cookie che vengono usati su questo sito:</strong>
							</p>
							<ul>
								<li>
									<strong>Cookie di navigazione:</strong>
									<br/>
									Questi cookie permettono al sito di funzionare correttamente. Dopo aver creato l’account ti permettono di effettuare il login e gestire il tuo profilo in tutte le sue aree (cookie identificativi di sessione, timestamp). Se sei un utente registrato, grazie ai cookie il sito potrà riconoscerti come tale quando accederai ai servizi offerti agli utenti registrati.
								</li>
								<br/>
								<li>
									<strong>Cookie Analitici:</strong>
									<br/>
									Questi cookie sono utilizzati da Google Analytics e dal motore di ricerca interno, per elaborare analisi statistiche sulle modalità di navigazione degli utenti sul sito attraverso i computer sul numero di pagine visitate o il numero di click effettuati su una pagina durante la navigazione del sito, nonché rapporti sui dati demografici (come ad esempio sesso, età e interessi).Vengono utilizzati per raccogliere dati sul modo in cui i visitatori (non solo coloro che sono registrati) utilizzano il sito e dunque consentirci di migliorarne l’aspetto e la navigazione.
								</li>
							</ul>
						</div>
						
						<div class="text-left">
							La maggior parte dei browser (Internet Explorer, Firefox, etc.) sono configurati per accettare i cookie. Tuttavia, la maggior parte dei browser permette di controllare e anche disabilitare i cookie attraverso le impostazioni del browser. Ti ricordiamo però che disabilitare i cookie di navigazione o quelli funzionali può causare il malfunzionamento del sito e/o limitare il servizio offerto dal presente sito.
						</div>
						
					</div>
				</div>
			</div>
			{# 
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Chiudi</button>
			</div> 
			#}
		</div>
	</div>
</div>