{% if !isEditor and !url2png %}

<div id="cookies-alert-container" style="position: fixed; left:0; top:0; z-index: 10000;font-size: 70%;width: 100%;" ng-cloak ng-show=" !cookiesAccepted ">
	<div class="alert alert-warning alert-dismissible cookies hidden-xs" role="alert">
	  <button type="button" class="close" aria-label="Accept and close" ng-click="acceptCookies()"><span aria-hidden="true">&times;</span></button>
	  <strong>Attenzione!</strong> Questo sito utilizza cookie a scopi funzionali e analitici per migliorare la tua esperienza di navigazione. Proseguendo la navigazione acconsenti all'uso dei cookie. Per maggiori informazioni, leggi l' <a href="#" data-toggle="modal" data-target="#cookiesModal" style="color:inherit;font-weight:bold">informativa sui cookies</a>.
	</div>
</div>

{% endif %}
