<div class="row">
    <div class="col-xs-12 col-md-7">
        <h4 class="post-title">{= postData.title =}</h4>
        <p class="text-muted">
            {% if postData|displayTimeEvent("long") %}
            <i class="glyphicon glyphicon-time"></i> {= postData|displayTimeEvent("long") =}
            {% endif %}
            {% if postData.place.name %}
                <br>
                <i class="glyphicon glyphicon-map-marker"></i>
                {= postData.place.name =}
                {% if postData|getLocationUrl %}
                <small>({= postData.place.location.city =} |
                    <a target="_blank" href="{= postData|getLocationUrl =}"><i class="fa fa-globe"></i></a>
                    <a target="_blank" href="{= postData|getLocationUrl =}">mappa</a>)
                </small>
                {% endif %}
            {% endif %}
            {% if postData.ticket_uri %}
                <br>
                <i class="fa fa-ticket"></i>
                Biglietti disponibili: <a target="_blank" href="{= postData.ticket_uri =}">trova biglietti</a>
            {% endif %}
            {% if postData["invited_count"] > 0  %}
                <br>
                <i class="fa fa-users"></i>
                Invitati - partecipanti: {= postData.attending_count =}, totale invitati: {= postData.invited_count =}, forse: {= postData.maybe_count =}</a>
            {% endif %}
        </p>

        <p class="post-description">{= postData.description|escape|nl2br|safe =}</p>
    </div>
    <div class="col-xs-12 col-md-5">
        <img class="img-responsive fadeimage lazy" src="{= postData.cover_image.source =}" alt="{= postData.title =}">
    </div>
</div>
