<div class="container-fluid">
	<div class="row">
        {% if not postData.cover_image.is_fallback %}
		<div class="col-xs-12 no-gutter">
            <div class="post-sx">
                <div class="thumbnail anamorfic-thumbnail post-image" style="background-image: url({= postData.cover_image.source =});">
                </div>
            </div>
		</div>
        {% endif %}
		<div class="col-xs-12 no-gutter">
            <div class="modal-content-container">
                <h2 class="post-title">{= postData.title =}</h2>
                <p class="post-description">{= postData.description|escape|nl2br|safe =}</p>
            </div>
		</div>
	</div>
    <div class="row">
        <div class="col-xs-12 no-gutter">
            <ul class="list-unstyled post-attributes">
                {% if postData.start_time %}
                <li>
                    <i class="glyphicon glyphicon-time"></i>
                        <span displaytime="{= postData.start_time =}"></span>
                        {= postData|displayTimeEvent("long") =}
                </li>
                {% endif %}
                {% if postData.place %}
                <li>
                    <i class="glyphicon glyphicon-map-marker"></i>
                        {= postData.place.name =}
                        {% if postData|getLocationUrl %}
                        <small>({= postData.place.location.city =} -
                            <a target="_blank" href="{= postData|getLocationUrl =}"><i class="fa fa-globe"></i></a>
                            <a target="_blank" href="{= postData|getLocationUrl =}">mappa</a>)
                        </small>
                        {% endif %}
                </li>
                {% endif %}
                {% if postData.ticket_uri %}
                <li>
                    <i class="fa fa-ticket"></i>
                        Biglietti disponibili: <a target="_blank" href="{= postData.ticket_uri =}">trova biglietti</a>
                </li>
                {% endif %}
                {% if postData["invited_count"] > 0  %}
                <li>
                    <i class="fa fa-users"></i>
                        Invitati - partecipanti: {= postData.attending_count =}, totale invitati: {= postData.invited_count =}, forse: {= postData.maybe_count =}</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
