<head>
    {% include "meta-tags.html" %}
	<!-- Fogli di stile -->
	<link href="/components/bootstrap-social/bootstrap-social.css" rel="stylesheet">
	<link href="/components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" href="/components/swiper/dist/css/swiper.min.css">
	<link href="/css/dynamic.css" rel="stylesheet" media="screen">

	{% block content %}{% endblock %}

</head>
