{# ------------------------------------------------------------------------------------------------------------------ #}
{# ------------------------------------------------------------------------------------------------------------------ #}
{# ------------------------------------------------------------------------------------------------------------------ #}
{# ------------------------------------------          TITLE               ------------------------------------------ #}
{# ------------------------------------------------------------------------------------------------------------------ #}
{# ------------------------------------------------------------------------------------------------------------------ #}
{# ------------------------------------------------------------------------------------------------------------------ #}
{% macro sectionTitle(isHome, kindOfPost, title) %}

    {% if isHome %}
        {% if kindOfPost == 'event' %}
            {% set pageTitle = page|getSectionTitle('events') %}
        {% endif %}
        {% if kindOfPost == 'album' %}
            {% set pageTitle = page|getSectionTitle('albums') %}
        {% endif %}
        {% if kindOfPost == 'news' %}
            {% set pageTitle = page|getSectionTitle('news') %}
        {% endif %}
    {% else %}
        {% set pageTitle = title %}
    {% endif %}


<hgroup class="col-md-12 section-title">
    <h1>{= pageTitle =}</h1>
    {# <span class="pull-right goto"><a href="">vai alla sezione</a></span> #}
</hgroup>
{% endmacro %}

{# ------------------------------------------------------------------------------------------------------------------ #}
{# ------------------------------------------------------------------------------------------------------------------ #}
{# ------------------------------------------------------------------------------------------------------------------ #}
{# ------------------------------------------          PostsLoop           ------------------------------------------ #}
{# ------------------------------------------------------------------------------------------------------------------ #}
{# ------------------------------------------------------------------------------------------------------------------ #}
{# ------------------------------------------------------------------------------------------------------------------ #}
{% macro postsLoop(isHome, layoutColumns, kindOfPost, loop_posts) %}

{% for post in loop_posts %}
    {% if loop.first or (loop.index - 1) % layoutColumns == 0 %}
        <div class="row posts-loop no-gutter row-height">
    {% endif %}

        {= postColumn(isHome, layoutColumns, kindOfPost, post) =}

    {% if loop.last or (loop.index - 1) % layoutColumns == layoutColumns-1 %}
        <div class="clearfix"></div>
    </div>
    {% endif %}
{% endfor %}

{% endmacro %}


{# ------------------------------------------------------------------------------------------------------------------ #}
{# ------------------------------------------------------------------------------------------------------------------ #}
{# ------------------------------------------------------------------------------------------------------------------ #}
{# ------------------------------------------          Post column         ------------------------------------------ #}
{# ------------------------------------------------------------------------------------------------------------------ #}
{# ------------------------------------------------------------------------------------------------------------------ #}
{# ------------------------------------------------------------------------------------------------------------------ #}
{% macro postColumn(isHome, layoutColumns, kindOfPost, post) %}

{% if kindOfPost == 'event' %}
    {% set urlHref = "/events/" + post.id %}
    {% set urlModal = "event-modal.tpl" %}
    {% set urlModalContainer = "default-modal-window.tpl" %}
    {% set time = 0 %}
{% endif %}
{% if kindOfPost == 'album' %}
    {% set urlHref = "/albums/" + post.id %}
    {% set urlModal = "album-modal-fullscreen.tpl" %}
    {% set urlModalContainer = "modal-window-fullscreen.tpl" %}
    {% set time = post.updated_time %}
{% endif %}
{% if kindOfPost == 'news' %}
    {% set urlHref = "/news/" + post.id %}
    {% set urlModal = "news-modal.tpl" %}
    {% set urlModalContainer = "modal-window-lg.tpl" %}
    {% set time = post.updated_time %}
{% endif %}

<div class="post-column {= layoutColumns|generateBootstrapColumn('md') =}"
     show-hide show-hide-id="{= post.id =}"
     show-hide-type-of-post="{= kindOfPost =}">
        <a class="post btn-modal" href="{= urlHref =}" title="{= post.title|addslashes =}" modal="{= urlModal =}" modal-container="{= urlModalContainer =}">
            <div class="post-container">
                {= postImg(isHome, layoutColumns, kindOfPost, time, post) =}
                {= postContent(isHome, layoutColumns, kindOfPost, post) =}
                <div class="clearfix"></div>
                {= postAttributes(isHome, layoutColumns, kindOfPost, post) =}
                {#<div class="remove-button" >
                    <span style="width:3em; "><span class="fa fa-trash"></span></span>
                </div>#}
            </div>
        </a>
</div>
{% endmacro %}

{# ------------------------------------------------------------------------------------------------------------------ #}
{# ------------------------------------------------------------------------------------------------------------------ #}
{# ------------------------------------------------------------------------------------------------------------------ #}
{# ------------------------------------------          Post IMG            ------------------------------------------ #}
{# ------------------------------------------------------------------------------------------------------------------ #}
{# ------------------------------------------------------------------------------------------------------------------ #}
{# ------------------------------------------------------------------------------------------------------------------ #}
{% macro postImg(isHome, layoutColumns, kindOfPost, time, post) %}


{% if kindOfPost == 'event' %}
    {% set imgSrc = post.cover_image.source %}
{% endif %}
{% if kindOfPost == 'album' %}
    {% set imgSrc = post.cover_image %}
{% endif %}
{% if kindOfPost == 'news' %}
    {% set imgSrc = post.cover_image %}
{% endif %}

<div class="post-img col-xs-12 {= [isHome, layoutColumns, kindOfPost, 3]|elementsGridColumns('img')  =}  {= [isHome, layoutColumns, kindOfPost, 3]|juxtaposeClass =} no-gutter">
    {% if time %}
    <time pubdate datetime="{= time|date('d-m-Y') =}" class="date">
        <span class="date-item day">{= time|date('d') =}</span>
        <span class="date-item month">{= time|date('m') =}</span>
        <span class="date-item year">{= time|date('Y') =}</span>
    </time>
    {% endif %}
    <div class="thumbnail dynamic-height" data-set_background_image="{= imgSrc||'/images/event-standard.jpg' =}"
         style="background-image: url('{= imgSrc||'/images/event-standard.jpg' =}')">
        {% if post.type == "video"  %}
        <div class="video-player">
            <span class="glyphicon glyphicon-play"></span>
        </div>
        {% endif %}
    </div>
</div>
{% endmacro %}

{# ------------------------------------------------------------------------------------------------------------------ #}
{# ------------------------------------------------------------------------------------------------------------------ #}
{# ------------------------------------------------------------------------------------------------------------------ #}
{# ------------------------------------------          Post CONTENT        ------------------------------------------ #}
{# ------------------------------------------------------------------------------------------------------------------ #}
{# ------------------------------------------------------------------------------------------------------------------ #}
{# ------------------------------------------------------------------------------------------------------------------ #}
{% macro postContent(isHome, layoutColumns, kindOfPost, post) %}


<div class="post-content col-xs-12  {= [isHome, layoutColumns, kindOfPost, 3]|elementsGridColumns('content') =} {= [isHome, layoutColumns, kindOfPost, 3]|juxtaposeClass =} no-gutter column-height">

    {% if kindOfPost == 'event' %}
    <div class="title-container">
        <h2 class="post-title">{= post.title|truncateText(60) =}</h2>
        <p>{= post.description|truncateText(80) =}</p>
    </div>
    {% endif %}

    {% if kindOfPost == 'album' %}
    <div class="title-container">
        <h2 class="post-title truncate">{= post.title|truncateText(60) =}</h2>
    </div>
    {% endif %}

    {% if kindOfPost == 'news' %}
    <h2 class="post-title">{= post.title|truncateText(60) =}</h2>
    <p>{= post.description|truncateText(80) =}</p>
    {% endif %}

</div>
{% endmacro %}

{# ------------------------------------------------------------------------------------------------------------------ #}
{# ------------------------------------------------------------------------------------------------------------------ #}
{# ------------------------------------------------------------------------------------------------------------------ #}
{# ------------------------------------------          ATTRIBUTES          ------------------------------------------ #}
{# ------------------------------------------------------------------------------------------------------------------ #}
{# ------------------------------------------------------------------------------------------------------------------ #}
{# ------------------------------------------------------------------------------------------------------------------ #}
{% macro postAttributes(isHome, layoutColumns, kindOfPost, post) %}

{% if kindOfPost == 'event' %}
<div class="post-attributes">
    <div class="row">
        {% if post.start_time %}
            <div class="col-xs-12 {% if layoutColumns < 4 %}col-md-6{% endif %} ">
        <span class="post-attribute-single truncate">
            <i class="glyphicon glyphicon-time"></i>
            {= post|displayTimeEvent("short") =}
        </span>
            </div>
        {% endif %}
        {% if post.place %}
            <div class="col-xs-12 {% if layoutColumns < 4 %}col-md-6{% endif %}">
        <span clamp="1" class="post-attribute-single">
            <i class="glyphicon glyphicon-map-marker"></i>
            {= post.place.name =}
            {% if post.place['location'] %}
                <small>({= post.place.location.city =})</small>
            {% endif %}
        </span>

            </div>
        {% endif %}
        <div class="clearfix"></div>
    </div>
</div>
{% endif %}
{# ------------------------------------------------------------------------------------------------------------------ #}
{% if kindOfPost == 'album' %}
<div class="post-attributes">

    <div class="post-attribute-single truncate">
        {% if post.count %}
        <i class="fa fa-picture-o"></i>
        <span>{= post.count =} </span>
        &nbsp;
        &nbsp;
        {% endif %}

        {#<i class="fa fa-thumbs-o-up"></i>
        <span>{= post.likes.data.length|default(0) =}</span> #}
    </div>
    <div class="clearfix"></div>
</div>
{% endif %}
{# ------------------------------------------------------------------------------------------------------------------ #}
{% if kindOfPost == 'news' %}
<div class="post-attributes">
    {% if post.created_time %}
        <div class="col-xs-12 {= [isHome, layoutColumns, kindOfPost, 3]|elementsGridColumns('img') =} post-attribute-single">
            <i class="glyphicon glyphicon-time"></i> {= post|displayTimePost =}
        </div>
    {% endif %}
    <div class="col-xs-12 post-attribute-single {% if post.created_time %}{= [isHome, layoutColumns, kindOfPost, 3]|elementsGridColumns('content') =}{% endif %}">
    {% if post.type == "status"  %}
    <i class="fa fa-font"></i>
    {= post.type =}
    {% endif %}
    {% if post.type == "photo"  %}
    <i class="fa fa-picture-o"></i>
    {= post.type =}
    {% endif %}
    {% if post.type == "video"  %}
    <i class="fa fa-video-camera"></i>
    {= post.type =}
    {% endif %}
    {% if post.type == "link"  %}
    <i class="fa fa-link"></i>
    {= post.type =}
    {% endif %}
    </div>

    <div class="clearfix"></div>
</div>
{% endif %}
{% endmacro %}

{# ------------------------------------------------------------------------------------------------------------------ #}
{# ------------------------------------------------------------------------------------------------------------------ #}
{# ------------------------------------------------------------------------------------------------------------------ #}
{# ------------------------------------------          PAGINATION          ------------------------------------------ #}
{# ------------------------------------------------------------------------------------------------------------------ #}
{# ------------------------------------------------------------------------------------------------------------------ #}
{# ------------------------------------------------------------------------------------------------------------------ #}
{% macro pagination(isHome, active, prev_page, next_page, pages) %}
{% if !isHome and pages.length>1 %}
<nav class="text-center">
    <ul class="pagination">
        {% if prev_page %}
        <li>
            <a href="{= prev_page =}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        {% endif %}

        {% for index, page in pages %}
            {% set current_index = index + 1 %}
            {% if loop.first || loop.last || current_index - 2 <= active && active <= current_index + 2 || current_index < active &&  active <= 5 || current_index > active && active>= pages.length - 4 %}
                <li><a {% if active == current_index %}class="active"{% endif %} href="{= page =}">{= current_index =}</a></li>
            {% else %}
                {% if (current_index <= active - 3 and current_index < 3) or active + 3 <= current_index and current_index > pages.length - 2 %}
                    <li><span class="navigation-disabled">&hellip;</span></li>
                {% endif %}
            {% endif %}

        {% endfor %}
        {% if next_page %}
        <li>
            <a href="{= next_page =}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
        {% endif %}
    </ul>
</nav>
{% endif %}
{% endmacro %}
