<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
<script>

function CustomMarker(latlng, map) {
	this.latlng_ = latlng;
	this.setMap(map);
}

CustomMarker.prototype = new google.maps.OverlayView();

CustomMarker.prototype.draw = function() {
	var me = this;
	var div = this.div_;
    var borderColorMarker = "{=page.configuration.graphics.colors.titles=}";
	if (!div) {
		div = this.div_ = document.createElement('DIV');
		div.className = "map_marker";
		div.style.border = "none";
		div.style.position = "absolute";
		div.style.paddingLeft = "0px";
		div.style.cursor = 'pointer';
        div.style.width = "70px";
        div.style.height = "85px";
        div.style.marginLeft = "-35px";
        div.style.marginTop = "-85px";

        var img = document.createElement("DIV");
        img.style.backgroundImage = "url('{= page|getProfilePicture|safe =}')";
        img.style.backgroundPosition = "center center";
        img.style.backgroundSize = "cover";
        img.style.width = "70px";
        img.style.height = "70px";
        img.style.borderStyle = "solid";
        img.style.borderWidth = "3px";
        img.style.borderColor = borderColorMarker;
        img.style.boxShadow = "2px 2px 7px rgba(50,50,50,0.2)";
        div.appendChild(img);

        var arrow = document.createElement("DIV");
        arrow.style.width = "0";
        arrow.style.height = "0";
        arrow.style.borderLeftWidth = "15px";
        arrow.style.borderLeftStyle = "solid";
        arrow.style.borderLeftColor = "transparent";
        arrow.style.borderRightWidth = "15px";
        arrow.style.borderRightStyle = "solid";
        arrow.style.borderRightColor = "transparent";
        arrow.style.borderTopWidth = "15px";
        arrow.style.borderTopStyle = "solid";
        arrow.style.borderTopColor = borderColorMarker;
        arrow.style.marginLeft = "20px";
        div.appendChild(arrow);

		google.maps.event.addDomListener(div, "click", function(event) {
			google.maps.event.trigger(me, "click");
		});

		var panes = this.getPanes();
		panes.overlayImage.appendChild(div);
	}

	var point = this.getProjection().fromLatLngToDivPixel(this.latlng_);
	if (point) {
		div.style.left = point.x + 'px';
		div.style.top = point.y + 'px';
	}
};

CustomMarker.prototype.remove = function() {
	if (this.div_) {
		this.div_.parentNode.removeChild(this.div_);
		this.div_ = null;
	}
};

CustomMarker.prototype.getPosition = function() {
	return this.latlng_;
};

var map;
var overlay;

var styles = [{
		stylers: [{
			hue: "{= page.configuration.graphics.colors.titles =}"
		}, {
			saturation: -50
		}]
	}, {
		featureType: "road",
		elementType: "geometry",
		stylers: [{
			lightness: 0
		}, {
			visibility: "simplified"
		}]
	}, {
		featureType: "road",
		elementType: "labels",
		stylers: [{
			visibility: "on"
		}]
	}];

function initMap() {
	var opts = {
		zoom: 17,
		center: new google.maps.LatLng( {= page.data.pageData.location.latitude =} , {= page.data.pageData.location.longitude =} ),
		mapTypeId: google.maps.MapTypeId.ROADMAP,
		styles: styles,
		disableDefaultUI: false,
		scrollwheel: false,
		navigationControl: false,
		mapTypeControl: false,
		scaleControl: false,
		draggable: false
	}

	map = new google.maps.Map(document.getElementById("map-canvas"), opts);
	overlay = new CustomMarker(map.getCenter(), map);


}

google.maps.event.addDomListener(window, "resize", function() {
    var center = map.getCenter();
    google.maps.event.trigger(map, "resize");
    map.setCenter(center);
});

initMap();
</script>
