    <meta charset="UTF-8">
    <title>
        {= configuration.settings.nome_sito||page.data.pageData.name =}{% if configuration.settings.slogan %} | {= configuration.settings.slogan|striptags =}{% endif %}
    </title>
    <meta name="description" content="{% include "meta-tags-description.html" %}">

    <!-- favicon & image src -->
    <link rel="icon" href="/favicon.ico" />

    <!-- Meta tags x autore -->
    <meta name="author" content="{= PRIMARY_DOMAIN =}">
    <meta name="copyright" content="{= PRIMARY_DOMAIN =}">

    {% if page.data.siteMap && !page.is_subdomain%}
        {= page.data.siteMap.meta | safe =}
    {% endif %}
    
    {% if page.is_subdomain %}
        <!-- nofollow robots -->
        <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
    {% endif %}

    {% if page.data and page.data.pageData %}

        <!-- Meta tags x mobile -->
        <meta name="format-detection" content="telephone=no">
        <link rel="image_src" href="http://graph.facebook.com/{= page.data.pageData.id =}/picture?type=large">
        <link rel="apple-touch-icon-precomposed" href="http://graph.facebook.com/{= page.data.pageData.id =}/picture?type=large">

        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="viewport" content="width=device-width, initial-scale=1">


        <!-- SOCIAL META TAGS -->

        <!-- Meta schema.org -->
        <meta itemprop="name" content="{= configuration.settings.nome_sito||page.data.pageData.name =}">
        <meta itemprop="description" content="{% include "meta-tags-description.html" %}">
        <meta itemprop="image" content="{= page.data.pageData.cover.source =}">

        <!-- Facebook meta tags -->
        {#<!--<meta property="og:image" content="{= page.pageData.cover.source =}">-->  <!-- We should not directly point to Facebook CDN for og:image -->#}
        <meta property="og:image:type" content="image/jpg">
        <meta property="og:url" content="{= page.currentUrl =}">
        <meta property="og:title" content="{= configuration.settings.nome_sito||page.data.pageData.name =}">
        <meta property="og:description" content="{% include "meta-tags-description.html" %}">
        <meta property="og:type" content="website">

        <!-- Twitter Cards -->
        <meta name="twitter:card" content="summary" />
        {% if configuration.settings.social.twitter.length > 0 %}
            <meta name="twitter:site" content="@{=configuration.settings.social.twitter=}" />
            <meta name="twitter:creator" content="@{=configuration.settings.social.twitter=}">
        {% endif %}
        <meta name="twitter:title" content="{= configuration.settings.nome_sito||page.data.pageData.name =}" />
        <meta name="twitter:description" content="{% include "meta-tags-description.html" %}" />
        {#<!--<meta name="twitter:image" content="{= page.pageData.cover.source =}" />-->  <!-- We should not directly point to Facebook CDN for og:image -->#}

    {% endif %}
    <link rel="image_src" href="/images/icone-dispositivi/iOS7_Icon_template.png">

    {% if fonts %}
        <link href='https://fonts.googleapis.com/css?family={=fonts.to_load=}' rel='stylesheet' type='text/css'>
    {% else %}
        <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,500,700|Open+Sans:300,400,500,700' rel='stylesheet' type='text/css'>
    {% endif %}
