{% if isStore %}
    <!-- Modal Placeholder -->
    <div id="modalContainer">
        <div class="modal fade" id="commonModal">
            <div class="modal-dialog">
                <div class="modal-content common-modal-content">
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div>
    </div>
    <!-- Modal Placeholder -->
{% endif %}
<script type="text/ng-template" id="default-modal-window.tpl">
    <div tabindex="-1" role="dialog" class="modal fade" ng-class="{in: animate}" ng-style="{'z-index': 1050 + index*10, display: 'block'}" ng-click="close($event)">
         <div class="modal-dialog" ng-class="{'modal-sm': size == 'sm', 'modal-lg': size == 'lg'}"><div class="modal-content" modal-transclude></div></div>
    </div>
</script>

<script type="text/ng-template" id="modal-window-lg.tpl">
    <div tabindex="-1" role="dialog" class="modal fade" ng-class="{in: animate}" ng-style="{'z-index': 1050 + index*10, display: 'block'}" ng-click="close($event)">
         <div class="modal-dialog modal-lg"><div class="modal-content" modal-transclude></div></div>
    </div>
</script>

<script type="text/ng-template" id="modal-window-small.tpl">
    <div tabindex="-1" role="dialog" class="modal fade" ng-class="{in: animate}" ng-style="{'z-index': 1050 + index*10, display: 'block'}" ng-click="close($event)">
         <div class="modal-dialog modal-sm"><div class="modal-content" modal-transclude></div></div>
    </div>
</script>

<script type="text/ng-template" id="modal-window-fullscreen.tpl">
    <div tabindex="-1" role="dialog" class="modal fade modal-fullscreen" ng-class="{in: animate}" ng-style="{'z-index': 1050 + index*10, display: 'block'}" ng-click="close($event)">
         <div class="modal-dialog window-height"><div class="modal-content" modal-transclude></div></div>
    </div>
</script>


<script type="text/ng-template" id="standard-modal.tpl">
<div class="modal-header">
    <button type="button" class="close" aria-label="Close" ng-click="$close()">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title"> {#{{title}}#}</h4>
</div>
<div class="modal-body" ng-include=" url + '?modal=true' "></div>
{#
<div class="modal-footer">
    <button type="button" class="btn btn-default" aria-label="Close" ng-click="$close()">Close</button>
</div>
#}
</script>

<script type="text/ng-template" id="news-modal.tpl">
<div class="modal-header">
    <button type="button" class="close" aria-label="Close" ng-click="$close()">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">
    {% if post.type == "status"  %}
          <i class="fa fa-font"></i>
          {# {= post.type =} #}
    {% endif %} 
    {% if post.type == "photo"  %}
          <i class="fa fa-picture-o"></i>
          {# {= post.type =} #}
    {% endif %}
    {% if post.type == "video"  %}
          <i class="fa fa-video-camera"></i>
          {# {= post.type =} #}
    {% endif %}
    {% if post.type == "link"  %}
          <i class="fa fa-link"></i>
          {# {= post.type =} #}
    {% endif %}
    {{title}}
    </h4>
</div>
<div class="modal-body" ng-include=" url + '?modal=true' "></div>
{#
<div class="modal-footer">
    <button type="button" class="btn btn-default" aria-label="Close" ng-click="$close()">Close</button>
</div>
#}
</script>

<script type="text/ng-template" id="album-modal.tpl">
<div class="modal-header">
    <button type="button" class="close" aria-label="Close" ng-click="$close()">
    <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title"><i class="fa fa-picture-o"></i> {#{{title}}#}</h4>
</div>
<div class="modal-body" ng-include=" url + '?&modal=true' "></div>
{#
<div class="modal-footer">
    <button type="button" class="btn btn-default" aria-label="Close" ng-click="$close()">Close</button>
</div>
#}
</script>

<script type="text/ng-template" id="album-modal-fullscreen.tpl">
    <div class="modal-header">
        <button type="button" class="close" aria-label="Close" ng-click="$close()">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title"><i class="fa fa-picture-o"></i> {#{{title}}#}</h4>
    </div>
    <div class="modal-body window-height" ng-include=" url + '?&modal=true' "></div>
    {#
    <div class="modal-footer">
        <button type="button" class="btn btn-default" aria-label="Close" ng-click="$close()">Close</button>
    </div>
    #}
</script>

<script type="text/ng-template" id="event-modal.tpl">
<div class="modal-header">
    <button type="button" class="close" aria-label="Close" ng-click="$close()">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title"><i class="fa fa-calendar"></i> {#{{title}}#}</h4>
</div>
<div class="modal-body" ng-include=" url + '?modal=true' "></div>
{#
<div class="modal-footer">
    <button type="button" class="btn btn-default" aria-label="Close" ng-click="$close()">Close</button>
</div>
#}
</script>
