{% if customIndex and customIndex % 1 === 0 and customIndex >=0 and customIndex < post_images %}
    {% set selected_album_id = customIndex %}
{% else %}
    {% set selected_album_id = 0 %}
{% endif %}
<section class="section" id="modal-carousel">
	{% if post_images.length > 0 %}
	<div id="gallery-carousel-modal" class="carousel slide" data-ride="carousel">

        {% if post_images.length > 1 %}
            <!-- Indicators -->
            <ol class="carousel-indicators">
            {% for index, image in post_images %}
                {% if index == selected_album_id %}
                <li data-target="#gallery-carousel-modal" data-slide-to="{= index =}" class="active"></li>
                {% else %}
                <li data-target="#gallery-carousel-modal" data-slide-to="{= index =}"></li>
                {% endif %}
            {% endfor %}
            </ol>
        {% endif %}

		<!-- Wrapper for slides -->
		<div class="carousel-inner" role="listbox">
		{% for index, image in post_images %}
			{% if image.media %}
				{% set src = image.media.image.src %}
			{% else %}
				{% set src = image.source %}
			{% endif %}
            {% if index == selected_album_id %}
				<div class="item active">
					<img src="{= src =}" class="over-fullscreen-fit fadeimage lazy"  alt="{=image.name=}">
					{# <div class="photo-description"> {= image.name =}</div> #}
					{# <div class="carousel-caption">{= image.name =}</div> #}
				</div>
			{% else %}
				<div class="item">
					<img src="{= src =}" class="over-fullscreen-fit fadeimage lazy"  alt="{=image.name=}">
					{# <div class="photo-description"> {= image.name =}</div> #}
					{# <div class="carousel-caption">{= image.name =}</div> #}
				</div>
			{% endif %}

		{% endfor %}
		</div>


        {% if post_images.length > 1 %}
            <!-- Controls -->
            <a class="left carousel-control" href="#gallery-carousel-modal" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#gallery-carousel-modal" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        {% endif %}

	</div>
	{% endif %}

</section>
