{% if postData.type == "video" or postData.caption == 'soundcloud.com' %}
<div class="row">
    <div class="col-xs-12">
        <div class="topcover">
            {% if postData.caption == 'soundcloud.com' && postData.link %}
            <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url={= postData.link =}&amp;color={=page|getColor('titles',true)=}&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
            {% elif postData.caption == 'youtube.com' && postData.source %}
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="{= postData.source =}" frameborder="0" allowfullscreen ng-cloak></iframe>
            </div>
            {% elif postData.caption == 'vimeo.com' && postData.source %}
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="{= postData.source =}?color=ffffff" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
            {% elif postData.source %}
                <div class="embed-responsive embed-responsive-16by9">
                    <video class="embed-responsive-item" controls="" autoplay="" name="media"><source src="{= postData.source =}" type="video/mp4"></video>
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endif %}

    {% set isTwoColumns = postData.cover_image and not postData.cover_image_is_fallback and postData.image_array.length < 2 and postData.type != "video" and postData.caption != 'soundcloud.com' %}
    {% set isBigText = isTwoColumns and postData.description.length > 500 %}{% set isLittleText = isTwoColumns and postData.description.length < 50 %}

<div class="row">
    {% if isBigText %}
        <div class="col-xs-12 col-md-8">
            <a class="imagelightbox" rel="news_image" title="{= postData.title =}" href="{= postData.cover_image =}">
                <img class="img-responsive fadeimage lazy" src="{= postData.cover_image =}" alt="{= postData.title =}">
            </a>
        </div>
    {% endif %}
    <div class="col-xs-12 {% if isBigText %}col-md-11{% elseif isLittleText or isTwoColumns %}col-md-6{% endif %}">
        <h4 class="post-title">{= postData.title =}</h4>
        <p class="text-muted">{= postData.created_time|localDate('LL') =}</p>
        <p class="post-description">{= postData.description|escape|nl2br|safe =}</p>
        {% if postData.link %}
            <p><a href="{= postData.link =}" target="blank"><h6><i class="fa fa-link"></i></h6></a></p>
        {% endif %}
    </div>
    {% if isTwoColumns and not isBigText  %}
        <div class="col-xs-12 col-md-6">
            <a class="imagelightbox" rel="news_image" title="{= postData.title =}" href="{= postData.cover_image =}">
                <img class="img-responsive fadeimage lazy" src="{= postData.cover_image =}" alt="{= postData.title =}">
            </a>
        </div>
    {% endif %}
</div>


{% if postData.image_array.length > 1 %}
<div class="row">
    {% for index, image in postData.image_array %}
    {% if image.media %}
        {% set src = image.media.image.src %}
    {% else %}
        {% set src = image.source %}
    {% endif %}
        <div class="col-sm-3">
            <a class="imagelightbox" rel="news_images" title="{= postData.title =}" href="{= src =}">
                <div class="mg3" style="background-image:url('{= src =}'); background-position: center center; background-size:cover; padding-bottom: 100%; width:100%"></div>
            </a>
        </div>
    {% endfor %}
    <div class="clearfix"></div>
</div>
{% endif %}
