<div class="container-fluid">

    {% if postData.type == "video" or postData.caption == 'soundcloud.com' %}
	<div class="row media-fullwidth-container">
        <div class="col-xs-12 no-gutter">
            {% if postData.caption == 'soundcloud.com' && postData.link %}
                <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url={= postData.link =}&amp;color={=page|getColor('titles',true)=}&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
            {% elif postData.caption == 'youtube.com' && postData.source %}
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="{= postData.source =}" frameborder="0" allowfullscreen ng-cloak></iframe>
            </div>
            {% elif postData.caption == 'vimeo.com' && postData.source %}
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="{= postData.source =}?color=ffffff" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
            </div>
            {% elif postData.source %}
            <div class="embed-responsive embed-responsive-16by9">
                <video class="embed-responsive-item" controls="" autoplay="" name="media"><source src="{= postData.source =}" type="video/mp4"></video>
            </div>
            {% endif %}
        </div>
    </div>
    {% endif %}


    {% set isTwoColumns = postData.cover_image and not postData.cover_image_is_fallback and postData.image_array.length < 2 and postData.type != "video" and postData.caption != 'soundcloud.com' %}
    {% set isBigText = isTwoColumns and postData.description.length > 500 %}{% set isLittleText = isTwoColumns and postData.description.length < 50 %}
    <div class="row">
        {% if isTwoColumns %}
            <div class="col-xs-12 {% if isBigText or isLittleText %}col-md-8{% else %}col-md-6{% endif %} {% if isBigText %}col-md-offset-2{% endif %} no-gutter media-side-image
            {% if postData.cover_image_properties and postData.cover_image_properties.width / postData.cover_image_properties.height < 1 %} image-ratio-less1 {% endif %}
            ">
                <img class="img-responsive fadeimage lazy" src="{= postData.cover_image =}" alt="{= postData.title =}">
            </div>
        {% endif %}
        <div class="col-xs-12 {% if isBigText %}col-md-11{% elseif isLittleText %}col-md-4{% elseif isTwoColumns %}col-md-6{% endif %} no-gutter modal-content-container">
            <h2 class="post-title">{= postData.title =}</h2>
            <p class="post-description">{= postData.description|escape|nl2br|safe =}</p>
            {% if postData.type == "link" %}
            <p>
                <a href="{= postData.link =}" target="_blank">{= postData.link =}</a>
            </p>
            {% endif %}
        </div>
    </div>


    {% if postData.image_array.length > 1 %}
    {% set post_images = postData.image_array %}
    <div class="row">
        <div class="col-xs-12 no-gutter media-carousel-container">
            {% include "../../__default/partials/modal-slide.html" %}
        </div>
    </div>
    {% endif %}


    {% if postData.created_time %}
    <div class="row">
        <div class="col-md-12 col-xs-12 no-gutter">
            <ul class="list-unstyled post-attributes">
                <li>
                    <i class="glyphicon glyphicon-time"></i>
                    {= postData.created_time|localDate('LL') =}
                </li>
            </ul>
        </div>
    </div>
    {% endif %}

</div>
