<div class="col-xs-12">
	<div class="row">
		<div class="col-xs-12">

			<div class="page-intro">
				{# TITOLO SEZIONE #}
				<div class="col-md-12">
					<hgroup class="section-title">
						<h1 class="page-title">
							{= page.configuration.settings.nome_sito||page.pageData.name =}
							{= postData.title =}
						</h1>
						{#
						<span class="pull-right goto">
							<a href="">vai alla sezione</a>
						</span>
						#}
					</hgroup>
				</div>
				{# FINE TITOLO SEZIONE #}

				{# DESCRIZIONE SEZIONE #}
				<div class="col-md-10 col-md-offset-1">
					<div class="lead page-description">
						{# {= postData.description =}
						{= page.configuration.settings.profilo_aziendale =} #}
						{= page.configuration.settings.profilo_aziendale | safe=}
					</div>
					{#
					<p class="lead page-description">
						{= page.configuration.settings.menu.id =}
					</p>
					#}
				</div>
				{# FINE DESCRIZIONE SEZIONE #}
			</div>

		</div>
	</div>
</div>
