<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0/angular.min.js"></script>
{#<script src="//cdn.jsdelivr.net/g/webfontloader@1.6.6,ramda@0.17.1,bootstrap@3.3.5"></script>
<script src="//ajax.googleapis.com/ajax/libs/webfont/1.5.10/webfont.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>#}
<script src="/js/concat/template.js"></script>


<script src="/js/utility.js"></script>
<script src="/templates/js/template.js"></script>


<script src="/__plugins/jsliang-eqHeight.coffee-e604543/jquery.eqheight.js"></script>

{#
{% if fonts %}
<script type="text/javascript">
	WebFont.load({
	 google: {
	     families: [{= fonts.texts | safe =}, {= fonts.titles | safe =}]
	 }
	});
</script>
{% endif %}
#}

<!-- fonts {= fonts | json(2) =} -->


<script type="text/javascript">

    angular.module('serverSideData',[]).constant('CAPTCHA_TOKEN','{= page.captcha.token =}');
    angular.module('serverSideData').constant('renderX',{= page|renderHidePostIcon =});
    angular.module('serverSideData').constant('pageId',{= JSON.stringify(page.data.facebook_id) =});



    {# Definition on .window-heigh  (- AD) #}
    {% if not page.data.paid_on and not isEditor and not url2png %}
        function setWindowHeight(){
            $('.window-height').each(function (){
                $(this).css('height', $(window).height() - $("#ad").height());
            });
        }
    {% else %}
        function setWindowHeight(){
            if(parent.window.innerHeight){
                $('.window-height').each(function (){
                    $(this).css('height', Math.min(parent.window.innerHeight,$(window).height()));
                });
            }else{
                $('.window-height').each(function () {
                    $(this).css('height', $(window).height());
                });
            }
        }
    {% endif %}


    function dynamicThumbnailHeight(){
        var width_start = 250;
        var width_end = 600;
        var height_max = 0.9;
        var height_min = 0.45; // Must be > 0.37

        $('.dynamic-height').each(function(){
            var width = $(this).width();

            var mult = height_max;
            if (width > width_start) {
                mult = height_max + ((height_min - height_max) / (width_end - width_start)) * (width - width_start);
            }
            if (width > width_end) {
                mult = height_min;
            }
            $(this).height(width * mult);
        });
    }

    function backTop(){
        // hide #back-top first
        $("#back-top").hide();

        // fade in #back-top
        $(function () {
            $(window).scroll(function () {
                if ($(this).scrollTop() > 100) {
                    $('#back-top').fadeIn();
                } else {
                    $('#back-top').fadeOut();
                }
            });

            // scroll body to 0px on click
            $('#back-top a').click(function () {
                $('body,html').animate({
                    scrollTop: 0
                }, 800);
                return false;
            });
        });
    }

    function run_template_main(){
        dynamicThumbnailHeight();
        setWindowHeight();

        var break_points = {break_point: 768};

        $(".row-height").eqHeight(".column-height",break_points);
        $(".row-height").eqHeight(".column-height-2",break_points);
    }

    $(window).ready(function(){
        run_template_main();
        backTop();
        $(window).resize(function(){
            run_template_main();
        });
        setTimeout(run_template_main,100);
        setTimeout(run_template_main,200);
    });

</script>

{% if isStore %}
<script type="text/javascript">
    var storeData = {= JSON.stringify(storeData) =};
    var storeID = {= storeID =};
    var return_url = "{= return_url =}";
    var notify_url = "{= notify_url =}";
</script>
{% include "../../__default/partials/store-includes.html" %}
{% endif %}



