<div id="mainContainer" style="display: none;">
    <!-- Main Container -->
    <div class="content-container">
        <!-- Content Holder -->
        <div class="row">
            <!-- Sidebar Holder -->
            <div class="col-md-3">
                <!-- search section -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">{= t('template:store.search') =}</h4>
                    </div>
                    <div class="panel-body">
                        <div class="input-group">
                            <input type="search" class="search-product form-control">
                                <span class="input-group-btn">
                                  <button disabled class="btn btn-default clear-search-result-btn" type="button" title="{= t('template:store.cancel') =}">&times;</button>
                                </span>
                        </div><!-- /input-group -->
                        <small id="searchedProductCounts"></small>
                    </div>

                </div>
                <!-- /search section -->
                <!-- Categories Holder -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">{= t('template:store.categories_tit') =}</h4>
                    </div>
                    <ul class="list-group" id="categoriesList">
                        <li class="list-group-item active-category category-list-item-all">
                            <a data-categoryindex="all" href="#/category/uid-all" class="category-link-all category-link btn-block">
                                {= t('template:store.all_categories') =}
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- /Categories Holder -->
                <!-- /Sidebar Holder -->
            </div>
            <div class="col-md-9">
                <div class="row">
                    <!-- Breadcrumb -->
                    <div class="col-sm-12">
                        <ul class="breadcrumb pull-left" id="productsBreadcrumb">
                            <li>{= t('template:store.all_products') =}</li>
                        </ul>
                        <span class="pull-right shopping-cart-btn-container"></span>
                    </div>
                    <!-- /Breadcrumb -->
                </div>
                <!-- Products Holder -->
                <div id="productsContainer" class="thumbnails posts-loop row"></div>
                <!-- /Products Holder -->
            </div>
        </div>
        <!-- /Content Holder -->
        <!-- /Footer -->
    </div>
    <!-- /Main Container -->
</div>
<!-- Sidebar Categories. -->
<script type="text/template" class="sidebar-catgegories-template">
    <% _.each(_oData.categoriesCollection,function( listItem ){ %>
    <li class="list-group-item category-list-item-<%- listItem.index %>">
        <a data-categoryindex="<%- listItem.index %>" href="#/category/uid-<%- listItem.index %>/<%- listItem.slug %>"
           class="category-link-<%- listItem.index %> category-link btn-block">
            <%- listItem.name %>
            <span class="badge"><%- listItem.products_length %></span>
        </a>
    </li>
    <% }) %>
</script>
