{#<link href="ecommerce/static-assets/lw-jquery-xml-cart/css/lw-jquery-xml-cart-1.5.5.cssXX" rel="stylesheet">#}
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
<!--  fav and touch icons -->
