{% set storename = storeData.configuration.storeName || page.configuration.settings.nome_sito %}
<div id="loaderContainer">
    <div class="preloader">{= t('template:store.loading') =}...</div>
    <span class="lw-waiting-text">{= t('template:store.loading_text') =}</span>
    <div class="lw-loading-status">{= t('template:store.loading_initialize') =}...</div>
</div>
<!--  /header -->

<!--  Templates -->
<!-- Submit Order form -->
<script type="text/template" class="submit-order-form-template">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3 class="order-page-header">{= t('template:store.order.send_order') =}: Dati di spedizione</h3>
    </div>
    <div class="modal-body order-page-body">
        <!-- Submit Order Form -->
        <form class="form-horizontal bs-3-form" id="submitOrderForm">
            <div class="form-group">
                <div class="bs-callout bs-callout-danger col-sm-12 control-label">
                    {= t('template:store.order.mandatory_fields_label', {FLAG:'<strong class="color-red">*</strong>'}) =}
                </div>
            </div>

            <div class="form-group">
                <label for="fname" class="col-sm-2 control-label">{= t('template:store.order.name') =}<strong class="color-red">*</strong>:</label>
                <div class="col-sm-4 input-holder">
                    <input type="text" name="fname" value="" id="fname" class="form-control" autofocus="">
                </div>
                <label for="lname" class="col-sm-2 control-label">{= t('template:store.order.lastname') =}<strong class="color-red">*</strong>:</label>
                <div class="col-sm-4 input-holder">
                    <input type="text" name="lname" value="" id="lname" class="form-control" autofocus="">
                </div>
            </div>

            <div class="form-group">
                <label for="sof_email" class="col-sm-2 control-label">{= t('template:store.order.email') =}<strong class="color-red">*</strong>:</label>
                <div class="col-sm-4 input-holder">
                    <input type="email" name="sof_email" value="" id="sof_email" class="form-control required" required>
                </div>
                <label for="sof_ph" class="col-sm-2 control-label">{= t('template:store.order.phone') =}:</label>
                <div class="col-sm-4 input-holder">
                    <input type="tel" name="sof_ph" value="" id="sof_ph" class="form-control">
                </div>
            </div>

            <div class="form-group">
                <label for="sof_bname" class="col-sm-2 control-label">{= t('template:store.order.businessname') =}:</label>
                <div class="col-sm-10 input-holder">
                    <input type="text" name="sof_bname" value="" id="sof_bname" class="form-control">
                </div>
            </div>

            <hr>

            <div class="form-group">
                <label for="sof_add" class="col-sm-2 control-label">{= t('template:store.order.street') =}<strong class="color-red">*</strong>:</label>
                <div class="col-sm-10 input-holder">
                    <input type="text" name="sof_add" value="" id="sof_add" class="form-control" autocomplete="off">
                </div>
            </div>

            <div class="form-group">
                <label for="sof_city" class="col-sm-2 control-label">{= t('template:store.order.city') =}<strong class="color-red">*</strong>:</label>
                <div class="col-sm-4 input-holder">
                    <input type="text" name="sof_city" value="" id="sof_city" class="form-control">
                </div>
                <label for="sof_province" class="col-sm-2 control-label">{= t('template:store.order.province') =}<strong class="color-red">*</strong>:</label>
                <div class="col-sm-4 input-holder">
                    <input type="text" name="sof_province" value="" id="sof_province" class="form-control">
                </div>
            </div>

            <div class="form-group">
                <label for="sof_zip" class="col-sm-2 control-label">{= t('template:store.order.zip') =}<strong class="color-red">*</strong>:</label>
                <div class="col-sm-4 input-holder">
                    <input type="text" name="sof_zip" value="" id="sof_zip" class="form-control">
                </div>
                <label for="sof_country" class="col-sm-2 control-label">{= t('template:store.order.state') =}<strong class="color-red">*</strong>:</label>
                <div class="col-sm-4 input-holder">
                    <input type="text" name="sof_country" value="" id="sof_country" class="form-control">
                </div>
            </div>

            <div class="form-group">
                <label for="sof_message" class="col-sm-2 control-label">{= t('template:store.order.message') =}:</label>
                <div class="col-sm-10 input-holder">
                    <textarea name="sof_message" cols="40" rows="2" id="sof_message" class="form-control"></textarea>
                </div>
            </div>
        </form>
        <!-- /Submit Order Form -->
    </div>
    <div class="modal-footer">
        <!--  Action Buttons -->
        <div>
            <a id="backToCartBtn" href="#" class="btn btn-default pull-left"> <i
                        class="fa fa-chevron-left"></i>
                {= t('template:store.order.back_to_cart') =}
            </a>
            <a href="#" id="submitOrderBtn" disabled class="btn btn-primary">
                {= t('template:store.order.send_order') =}
                <span class="submittingOrder" style="display: none">
                    <i class="fa fa-refresh fa-spin"></i>
                </span>
            </a>
            <button class="btn hide btn order-page-close-btn" data-dismiss="modal" aria-hidden="true">{= t('template:store.close') =}</button>
        </div>
        <!--  /Action Buttons -->
    </div>
</script>
<!-- /Submit Order form -->
<!-- Shopping Cart. -->
<script type="text/template" class="shopping-cart-template">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>{= t('template:store.cart.cart') =}</h3>
    </div>
    <div class="modal-body">
        <div class="table-responsive table-cart">
        <% if( _oData.cartProductsCollection.length > 0 ) { %>
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th class="cart-table-title-col">{= t('template:store.product_title') =}</th>
                    <th class="cart-table-price-col right-align">{= t('template:store.price') =}</th>
                    <th class="cart-table-qt-col right-align">{= t('template:store.quantity') =}</th>
                    <th class="cart-table-tot-col right-align">{= t('template:store.total') =}</th>
                </tr>
                </thead>
                <tbody id="shoppingCartData">
                <% _.each( _oData.cartProductsCollection, function(listItem, nCartRowIndex ) {
                var listItemProduct = _oData.allProductsCollection[listItem.index]; %>
                    <tr>
                        <td>
                            <div class="cart-product-title">
                                <%- listItemProduct.name %>
                            </div>
                            <div class="cart-product-attributes">
                                <% if(listItem.size && (listItem.size != "NA")) { %>
                                {= t('template:store.size') =}: <%- listItem.size %>
                                <% }; %>
                                <% if(listItem.color && (listItem.color != "NA")) { %>
                                {= t('template:store.color') =}: <%- listItem.color %>
                                <% } %>
                            </div>
                        </td>
                        <td class="right-align">
                            <%- listItemProduct.formattedPrice %>
                        </td>
                        <td>
                            <div class="input-group">
                                <input data-cartrowindex="<%- nCartRowIndex %>" type="number" step="1" min="1"
                                   value="<%- listItem.qty %>" size="3" maxlength="5" class="cart-product-qty center-align form-control"/>
                                <span class="input-group-btn">
                                    <button type="button" data-cartrowindex="<%- nCartRowIndex %>"
                                    href="#" class="btn btn-link delete-product-from-cart" title="{= t('template:store.cart.remove_from_cart') =}">
                                        <i class="glyphicon glyphicon-trash"></i>
                                    </button>
                                </span>
                            </div>
                        </td>
                        <td class="right-align">
                            <%- _oData.fnMisc.formatAmount(listItemProduct.price * listItem.qty) %>
                        </td>
                    </tr>
                <% }); %>
                <% if(_oData.configOptions.shippingCharges) { %>
                    <tr>
                        <td colspan="3">
                            <div class="cart-product-title">
                                {= t('template:store.cart.shipping_and_handling') =}
                            </div>
                        </td>
                        <td class="right-align">
                            <%- _oData.fnMisc.formatAmount( _oData.configOptions.shippingCharges ) %>
                        </td>
                    </tr>
                <% } %>
                    <tr class="cart-total">
                        <td colspan="3">
                            <div class="cart-product-title">
                                <strong>{= t('template:store.total') =}</strong>
                            </div>
                        </td>
                        <td class="right-align">
                            <strong><%- _oData.fnMisc.fullFormatAmount( _oData.cartStats.subTotal + _oData.configOptions.shippingCharges) %></strong>
                        </td>
                    </tr>
                </tbody>
            </table>
            <p style="padding:10px;">
                <small>
                    Proseguendo con l'ordine si dichiara di comprendere e accettare i <a href="#" id="open-terms">termini e condizioni del servizio</a>.
                </small>
            </p>
        <% } else { %>
            <div class="alert alert-info">{= t('template:store.cart.empty_text') =}</div>
        <% } %>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row">
            <div class="col-xs-12 col-md-6 col-md-push-6 buy-buttons">
            {% if isEditor %}
                <p class="text-right">
                    Gli acquisti sono disabilitati all'interno dell'editor.
                </p>

            {% else %}
            <% if( _oData.generalVars.enableOrderBtn) { %>
                <% if(_oData.configOptions.usePaypal) { %>
                <a href="#" id="checkoutWithPaypalBtn" class="btn btn-primary" title="Checkout con PayPal">
                    <span>{= t('template:store.cart.checkout') =}</span>
                    <span><img src="/ecommerce/static-assets/lw-jquery-xml-cart/img/logo_paypal_106x28.png" alt="{= t('template:store.cart.checkout_with_paypal') =}"/></span>
                    <div class="clearfix"></div>
                </a>
                <% } %>

                <% if(_oData.configOptions.useSubmitOrderByEmail) { %>
                <a id="checkoutSubmitOrderBtn" class="btn btn-primary" title="{= t('template:store.cart.pay_with_bank_transfer') =}" href="#/shopping-cart/uid-submit-order">
                    {= t('template:store.cart.pay_with_bank_transfer') =}
                </a>
                <% } %>
            <% } %>
            {% endif %}
            </div>
            <div class="col-xs-6 col-md-6 col-md-pull-6">
                <a href="#" class="btn btn-default pull-left" data-dismiss="modal">
                    <i class="fa fa-chevron-left"></i>
                    {= t('template:store.cart.continue_shopping') =}
                </a>
            </div>
        </div>
    </div>
</script>
<!-- /Shopping Cart. -->
<!-- Shopping Cart button. -->
<script type="text/template" class="shopping-cart-btn-template">
    <p class="pull-right">
        <a title="{= t('template:store.see_cart') =}" class="btn btn-default show-shopping-cart-btn" href="#/shopping-cart/uid-show"> <i
                    class="glyphicon glyphicon-shopping-cart"></i> <strong><%- _oData.cartStats.totalItems %></strong>
            {= t('template:store.product__plural') =}:
            <%- _oData.cartStats.amountFormatted %></a>
    </p>
</script>
<!-- /Shopping Cart button. -->
<!-- Add to cart button. -->
<script type="text/template" class="add-to-cart-btn-template">
    <a href="#" class="btn btn-primary add-to-cart-btn">
        <i class="glyphicon glyphicon-shopping-cart"></i>
        <span class="add-to-cart-btn-text">{= t('template:store.add_to_cart') =}</span>
        <% if( _oData.nProductInCart ) { %>
            [<%- _oData.nProductInCart %>]
        <% }%>
    </a>
</script>
<script type="text/template" class="products-details-modal-items-in-cart">
    <div class="alert alert-info text-left">
        Nel <a title="{= t('template:store.see_cart') =}" class="go-to-cart" href="#/shopping-cart/uid-show">carrello</a> ci sono <%- _oData.nProductInCart %> unità del prodotto.
        {# ######################################## #}
    </div>
</script>
<!-- Product Details Modal -->
<script type="text/template" class="products-details-modal-template">
    <%  var ddSizes = _oData.oCurrentProductData.options.sizes;
        var ddColors = _oData.oCurrentProductData.options.colors;
        var showSizes = (ddSizes.length > 0) && (ddSizes[0].name != "NA");
        var showColors = (ddColors.length > 0) && (ddColors[0].name != "NA");
        var showOptionMultiple = showSizes && showColors;

        var productImage = _.get(_oData.oCurrentProductData, "thumbPath.src", false);

        var categoryItem = _oData.categoriesCollection[_oData.oCurrentProductData.categoryIndex];
    %>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">
            <%- _oData.oCurrentProductData.name %>
        </h4>
    </div>
    <div class="modal-body lw-modal-body">
        <div class="product-details">
            <div class="col-xs-12">
                <% if(productImage){ %>
                <img src="<%- productImage %>" alt="<%- _oData.oCurrentProductData.name %>" class="col-sm-6 product-img">
                <% } %>
                <span class="product-attributes">
                    <h5><%- _oData.oCurrentProductData.name %></h5>
                    {= t('template:store.category') =}:
                    <a data-categoryindex="<%- categoryItem.index %>"
                       href="#/category/uid-<%- categoryItem.index %>/<%- categoryItem.slug %>" class="category-link-<%- categoryItem.index %> category-link">
                        <strong><%- categoryItem.name %></strong>
                    </a>
                    <br>
                    {= t('template:store.price') =}:
                    <strong class="product-price"><%- _oData.oCurrentProductData.formattedPrice %></strong>
                    <div class="description">
                        <%= _oData.oCurrentProductData.details %>
                    </div>
                </span>

            </div>
            <div class="clearfix"></div>
        </div>
        <% if(showSizes || showColors) { %>
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <ul class="list-unstyled post-attributes">
                    <% if(showSizes) { %>
                    <li class="col-xs-12 <% if(showOptionMultiple){ %> col-sm-6 <% } %>">
                        <div class="input-group">
                            <span class="input-group-addon">{= t('template:store.size') =}</span>
                            <select id="productSizeSelector" class="form-control product-size-selector option-selector">
                                <% _.each(ddSizes,function(ddSize){ %>
                                <option value="<%- ddSize.value %>">
                                    <%- ddSize.name %>
                                </option>
                                <% }) %>
                            </select>
                        </div>
                    </li>
                    <% } %>
                    <% if(showColors) { %>
                    <li class="col-xs-12 <% if(showOptionMultiple){ %> col-sm-6 <% } %>">
                        <div class="input-group">
                            <span class="input-group-addon">{= t('template:store.color') =}</span>
                            <select id="productColorSelector" class="form-control product-color-selector option-selector">
                                <% _.each(ddColors,function(ddColor){ %>
                                <option value="<%- ddColor.value %>">
                                    <%- ddColor.name %>
                                </option>
                                <% }) %></select>
                        </div>
                    </li>
                    <% } %>
                    <li class="col-xs-12">
                        {= t('template:store.price') =}:
                        <strong class="product-price"><%- _oData.oCurrentProductData.formattedPrice %></strong>
                    </li>
                </ul>
            </div>
        </div>
        <% } %>
    </div>
    <div class="modal-footer">
        <div class="confirm-added-to-cart"></div>
        <div class="form-inline">
            <span id="addToCartBtnContainer"></span>
            <button class="btn pull-left hidden-xs" data-dismiss="modal" aria-hidden="true">{= t('template:store.close') =}</button>
        </div>
    </div>
</script>
<script type="text/template" class="thanks">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">
            Acquisto completato
        </h4>
    </div>
    <div class="modal-body modal-message">
        <p>
            Grazie per aver effettuato il tuo acquisto su {= storename =}.
        </p>
        <p>
            Ti abbiamo inviato una mail con il riepilogo del tuo ordine e le istruzioni su come proseguire.
        </p>
    </div>
    <div class="modal-footer">
        <div class="confirm-added-to-cart"></div>
        <div class="form-inline">
            <span id="addToCartBtnContainer"></span>
            <button class="btn pull-left hidden-xs" data-dismiss="modal" aria-hidden="true">{= t('template:store.close') =}</button>
        </div>
    </div>
</script>
<script type="text/template" class="terms-conditions">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">
            Termini e condizioni del servizio
        </h4>
    </div>
    <div class="modal-body">
        <div class="col-xs-12">
           <h3 style="margin-top: 0; padding-top:15px">Condizioni generali di vendita</h3>
           <p>1. Effettuando un ordine sul negozio on-line {=storename=}, il Cliente dichiara di aver preso visione di tutte le indicazioni a lui fornite durante la procedura d'acquisto, e di accettare integralmente le condizioni generali e di pagamento di seguito trascritte.</p>
           <p>2. Viene escluso ogni diritto del Cliente a un risarcimento danni o indennizzo, nonch&eacute; qualsiasi responsabilit&agrave; contrattuale o extracontrattuale per danni diretti o indiretti a persone e/o cose, provocati dalla mancata accettazione, anche parziale, di un ordine. In caso di imprevista indisponibilit&agrave; della merce e mancata accettazione dell'ordine non verr&agrave; effettuato alcun addebito al Cliente. </p>
           <h4>Modalit&agrave; di acquisto</h4>
           <p>3. La corretta ricezione dell'ordine &egrave; confermata dal sistema Majeeko mediante una risposta via e-mail, inviata all'indirizzo di posta elettronica comunicato dal Cliente. Tale messaggio di conferma riporter&agrave; Data e Ora dell'ordine, un "Numero d'Ordine" da utilizzarsi in ogni ulteriore comunicazione con il negozio {=storename=}.</p>
           <p>4. È responsabilit&agrave; del Cliente inserire i dati corretti di fatturazione e spedizione.</p>
           <h4>Metodi di pagamento</h4>
           <p>L'acquisto della merce &egrave; previsto con modalit&agrave; di pagamento Carta di Credito o Bonifico Bancario. La transazione con Carta avviene mediante la piattaforma Paypal; in nessun momento della procedura d'acquisto il sistema elettronico del sito Majeeko e nessun membro di {=storename=} &egrave; in grado di conoscere il numero di carta di credito del Cliente, che viene fornito dal Cliente al Server Sicuro dell'Istituto di Credito su una connessione internet protetta e crittografata secondo gli standard attuali del mercato dei pagamenti on-line.</p>
           <p>6. Valuta: tutti gli importi visualizzati su {=storename=} sono espressi in Euro, che &egrave; la valuta di riferimento.</p>
           <h4>Modalit&agrave; e spese di consegna</h4>
           <p>7. {=storename=} pu&ograve; in alcuni casi accettare ordini solo con consegna in territorio italiano.</p>
           <p>8. Per ogni ordine effettuato su {=storename=}, questo emette fattura del materiale spedito, inviandola tramite e-mail all'intestatario dell'ordine, ai sensi dell'art 14 D.P.R. 445/2000 e DL 52/2004. Per l'emissione della fattura, fanno fede le informazioni fornite dal Cliente all'atto dell'ordine. Nessuna variazione in fattura sar&agrave; possibile, dopo l'emissione della stessa.</p>
           <p>9. Le spese di consegna sono comprese nel prezzo finale di vendita.</p>
           <p>10. I tempi di evasione dell'ordine sono di 48 ore. Nessuna responsabilit&agrave; pu&ograve; essere imputata a {=storename=} in caso di ritardo nella consegna di quanto ordinato da parte dei corrieri.</p>
           <p>11. Al momento della consegna della merce da parte del corriere, il Cliente &egrave; tenuto a controllare:</p>
           <ul>
               <li>che il numero dei colli in consegna corrisponda a quanto indicato nel documento di trasporto;</li>
               <li>che l'imballo risulti integro, non danneggiato, n&eacute; bagnato o comunque alterato, anche nei materiali di chiusura (nastro adesivo o reggette metalliche)</li>
           </ul>
           <p>Eventuali danni all'imballo e/o al prodotto o la mancata corrispondenza del numero dei colli o delle indicazioni, devono essere immediatamente contestati, apponendo RISERVA DI CONTROLLO scritta sulla prova di consegna del corriere. Una volta firmato il documento del corriere, il Cliente non potr&agrave; opporre alcuna contestazione circa le caratteristiche esteriori di quanto consegnato. Eventuali problemi inerenti l'integrit&agrave; fisica, la corrispondenza o la completezza dei prodotti ricevuti devono essere segnalati entro 7 giorni dalla avvenuta consegna, secondo le modalit&agrave; previste nel presente documento.</p>
           <p>12. Nel caso di mancato ritiro entro 5 giorni lavorativi del materiale presente in giacenza presso i magazzini del corriere a causa di reiterata impossibilit&agrave; di consegna al recapito indicato dal Cliente all'atto dell'ordine, l'ordine verr&agrave; automaticamente annullato.</p>
           <h4>Diritto di recesso</h4>
           <p>13. Ai sensi dell'art. 5 DL 185/1999, se il cliente &egrave; un consumatore, ha diritto a recedere dal contratto di acquisto per qualsiasi motivo, senza necessit&agrave; di fornire spiegazioni e senza alcuna penalit&agrave;, fatto salvo quanto indicato al successivo punto 15.</p>
           <p>14. Per esercitare tale diritto, il cliente dovr&agrave; inviare a {=storename=} una comunicazione in tal senso, entro 10 giorni lavorativi dalla data di ricevimento della merce. Tale comunicazione dovr&agrave; essere inviata a mezzo lettera raccomandata con avviso di ricevimento, indirizzata a {=storename=} ovvero mediante telegramma o fax inviati sempre entro il suddetto termine di 10 giorni e seguiti da una conferma a mezzo lettera raccomandata con avviso di ricevimento, inviata TASSATIVAMENTE entro le 48 ore successive. Una volta pervenutaci la suddetta comunicazione di recesso, {=storename=} provveder&agrave; rapidamente a comunicare al cliente le istruzioni sulla modalit&agrave; di restituzione della merce che dovr&agrave; pervenire a {=storename=} entro 10 giorni dall'autorizzazione.</p>
           <p>15. diritto di recesso &egrave; comunque sottoposto alle seguenti condizioni:</p>
           <ul>
               <li>il diritto si applica al prodotto acquistato nella sua interezza; non &egrave; possibile esercitare recesso solamente su parte del prodotto acquistato;</li><li>il bene acquistato dovr&agrave; essere integro e restituito nella confezione originale, completa in tutte le sue parti (compresi imballo ed eventuale documentazione e dotazione accessoria);</li><li>per limitare danneggiamenti alla confezione originale, raccomandiamo, quando possibile, di inserirla in una seconda scatola; va evitata in tutti i casi l'apposizione di etichette o nastri adesivi direttamente sulla confezione originale del prodotto;a norma di legge, le spese di spedizione relative alla restituzione del bene sono a carico del cliente;</li><li>la spedizione, fino all'attestato di avvenuto ricevimento nel nostro magazzino, &egrave; sotto la completa responsabilit&agrave; del cliente;</li><li>in caso di danneggiamento del bene durante il trasporto, {=storename=} dar&agrave; comunicazione al cliente dell'accaduto (entro 5 giorni lavorativi dal ricevimento del bene nei propri magazzini), per consentirgli di sporgere tempestivamente denuncia nei confronti del corriere da lui scelto e ottenere il rimborso del valore del bene (se assicurato); in questa eventualit&agrave;, il prodotto sar&agrave; messo a disposizione del cliente per la sua restituzione, contemporaneamente annullando la richiesta di recesso;</li><li>{=storename=} non risponde in nessun modo per danneggiamenti o furto/smarrimento di beni restituiti con spedizioni non assicurate.</li>
           </ul>
           <p>16. Fatte salve eventuali spese di ripristino per danni accertati all'imballo originale, {=storename=} provveder&agrave; a rimborsare al cliente l'intero importo gi&agrave; pagato, al netto delle spese di spedizione sostenute, entro 14 giorni dal rientro della merce, tramite procedura di storno dell'importo addebitato sulla Carta di Credito o a mezzo Bonifico Bancario. In quest'ultimo caso, sar&agrave; cura del cliente fornire tempestivamente le coordinate bancarie sulle quali ottenere il rimborso (Codice IBAN del dell'intestatario della fattura).</p>
           <p>17. Il diritto di recesso decade totalmente, per mancanza della condizione essenziale di integrit&agrave; del bene (confezione e/o suo contenuto), nei casi in cui {=storename=} accerti:</p>
           <ul>
               <li>la mancanza della confezione esterna e/o dell'imballo interno originale;</li><li>l'assenza di elementi integranti del prodotto;</li><li>il danneggiamento del prodotto per cause diverse dal suo trasporto.</li>
           </ul>
           <p>Nel caso di decadenza del diritto di recesso, {=storename=} provveder&agrave; a restituire al mittente il bene acquistato, addebitando allo stesso le spese di spedizione.</p>
           <h4>Privacy</h4>
           <p>18. I dati personali richiesti in fase di inoltro dell'ordine sono raccolti e trattati al fine di soddisfare le espresse richieste del Cliente e non verranno in nessun caso e a nessun titolo ceduti a terzi. {=storename=} garantisce ai propri clienti il rispetto della normativa in materia di trattamento dei dati personali, disciplinata dal codice della privacy di cui al DL 196 del 30.06.03.<br>Titolare del trattamento dati &egrave; {=storename=}.</p>
           <p>19. Reclami: Ogni eventuale reclamo dovr&agrave; essere rivolto a {=storename=}.</p>
           <p>20. Legge applicabile: Il contratto di vendita tra il Cliente e {=storename=} s'intende concluso in Italia e regolato dalla Legge Italiana. Per la soluzione di controversie civili e penali derivanti dalla conclusione del presente contratto di vendita a distanza, se il Cliente &egrave; un consumatore, la competenza territoriale &egrave; quella del foro di riferimento del suo comune di residenza; in tutti gli altri casi, la competenza territoriale &egrave; esclusivamente quella del Foro di Roma.</p>
        </div>

    </div>
    <div class="modal-footer">
        <div class="form-inline">
            <button class="btn pull-left hidden-xs" data-dismiss="modal" aria-hidden="true">{= t('template:store.close') =}</button>
        </div>
    </div>
</script>
