<script type="text/javascript">
    var store_texts = {
        'product_not_found': "Nessun prodotto trovato",
        'product_found': " prodotto trovato",
        'product_found__plural': " prodotti trovati",
        'all_products': "Tutti"
    };
</script>

<script type="text/javascript" src="/ecommerce/static-assets/packages/other-js-libs/lodash-3.10.1.js"></script>
<script type="text/javascript" src="/ecommerce/static-assets/packages/bootstrap-3.3.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/ecommerce/static-assets/packages/other-js-libs/jquery.validate.min.js"></script>
<script type="text/javascript" src="/ecommerce/static-assets/packages/other-js-libs/jquery.json.min.js"></script>
<script type="text/javascript" src="/ecommerce/static-assets/packages/other-js-libs/jstorage.min.js"></script>
<script type="text/javascript" src="/ecommerce/static-assets/packages/other-js-libs/imagesloaded.pkgd.min.js"></script>
{#<script type="text/javascript" src="/ecommerce/static-assets/packages/other-js-libs/masonry.pkgd.min.js"></script>#}
<script type="text/javascript" src="/ecommerce/static-assets/lw-jquery-xml-cart/js/lw-jquery-xml-cart-1.5.5.js"></script>

