<footer class="section" id="footer">
            <div class="container"> 
                <div class="row">
                    <div class="col-sm-4">
                        <hgroup class="section-title">
                            <!-- <h1>Majeeko</h1> -->
                            <img src="/landing/img/majeeko-brand-editor.svg" 
                            style="height:25px; width:auto; margin-bottom:15px; " alt="Brand">
                        </hgroup>
                        <address>
                            <small> 
                                Via Giovanni Giolitti 34 c/o Luiss Enlabs <br>
                                00185 Roma Italia<br>
                                P. IVA 13278551000
                            </small>
                        </address>
                        <phone>
                            {# <span class="glyphicon glyphicon-earphone"></span> #}
                            <a href="tel:00390640048802"> 
                                <strong>+39 06 400 488 02</strong>
                            </a>
                        </phone>
                    </div>
                    {# <div class="col-sm-2">
                        <hgroup class="section-title">
                            <h4>Navigazione</h4>
                            <ul class="list-unstyled" id="footer-nav">
                                <li>
                                    <a href="#"> 
                                    <span class="glyphicon glyphicon-menu-right"></span>
                                        Servizio
                                    </a>
                                </li>
                                <li>
                                    <a href="#"> 
                                    <span class="glyphicon glyphicon-menu-right"></span>
                                        Temi
                                    </a>
                                </li>
                                <li>
                                    <a href="#"> 
                                    <span class="glyphicon glyphicon-menu-right"></span>
                                        Prezzi
                                    </a>
                                </li>
                                <li>
                                    <a href="#"> 
                                    <span class="glyphicon glyphicon-menu-right"></span>
                                        Tutorial
                                    </a>
                                </li>
                                <li>
                                    <a href="#"> 
                                    <span class="glyphicon glyphicon-menu-right"></span>
                                        Team
                                    </a>
                                </li>
                                <li>
                                    <a href="#"> 
                                    <span class="glyphicon glyphicon-menu-right"></span>
                                        Contatti
                                    </a>
                                </li>
                            </ul>
                        </hgroup>
                    </div> #}
                    <div class="col-sm-5 hidden-xs">
                        <hgroup class="section-title">
                            <h4>Investitori</h4>
                            <ul class="list-inline" id="footer-nav">
                                <li>
                                    <!-- <a href="#">LVENTURE</a> -->
                                    <img src="/landing/img/partners/LVG_logo_negativo.png" 
                            style="height:25px; width:auto; margin-bottom:15px; " alt="LVG">
                                </li>
                                <li>
                                    <!-- <a href="#">SEEWEB</a> -->
                                    <img src="/landing/img/partners/logo-seeweb.png" 
                                    style="height:25px; width:auto; margin-bottom:15px; " alt="seeweb">
                                </li>
                                <li>
                                    <!-- <a href="#">CLUB ITALIA</a> -->
                                    <img src="/landing/img/partners/cii-logox2.png" 
                                    style="height:25px; width:auto; margin-bottom:15px; " alt="Club italia investimenti">
                                </li>
                            </ul>
                        </hgroup>
                        <hgroup class="section-title">
                            <h4>Partners</h4>
                            <ul class="list-inline" id="footer-nav">
                                <li>
                                    <!-- <a href="#">AMAZON</a> -->
                                    <img src="/landing/img/partners/logo-aws.png" 
                                    style="height:25px; width:auto; margin-bottom:15px; " alt="Amazon services">
                                </li>
                            </ul>
                        </hgroup>
                    </div>
                    <div class="col-sm-3 social-links-tab">
                        <hgroup class="section-title">
                            <h4>Socials</h4>
                        </hgroup>
                            <ul class="list-inline" id="social-links">
                                <li>
                                    <a target="blank" href="http://go.majeeko.com/mj-fb" class="fa fa-facebook"></a>
                                </li>
                                <li>
                                    <a target="blank" href="http://go.majeeko.com/mj-tw" class="fa fa-twitter"></a>
                                </li>
                                <li>
                                    <a target="blank" href="http://go.majeeko.com/mj-gp" class="fa fa-google-plus"></a>
                                </li>
                                <li>
                                    <a target="blank" href="http://go.majeeko.com/mj-yt" class="fa fa-youtube"></a>
                                </li>
                                <li>
                                    <a target="blank" href="http://go.majeeko.com/mj-in" class="fa fa-linkedin"></a>
                                </li>
                            </ul>
                    </div>
                </div>
            </div>
            <div id="copyrights">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6" id="copyright">
                            <p>© 2016 <strong>Sync s.r.l.</strong></p>
                        </div>
                        <div class="col-sm-6" id="legals">
                            <p>
                                <a href="/pages/terms" target="_blank">
                                    Termini e Condizioni
                                </a> 
                                -
                                <a href="/pages/privacy" target="_blank">
                                    Privacy Policy
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
