	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>

		{% if title %}
		{=title=}
		{% else %}
            {= t('translation:head.title') =}
		{% endif %}
	</title> 
	<meta name="description" content="{%if description %}{=description=}{% else %}{= t('translation:head.description') =}{% endif %}">
	<meta name="keywords" content="{= t('translation:head.keywords') =}"/>

	<!-- Meta tags x autore -->
	<meta name="author" content="{= PRIMARY_DOMAIN =}">
	<meta name="copyright" content="{= PRIMARY_DOMAIN =}">
	
	{% if PRIMARY_DOMAIN == 'majeeko.com' %}
	{# Google site verification #}
	<meta name="google-site-verification" content="yzIeFjaYs65n5nbGYRVWDm0wSxwCZHsKrHsHzGIgbD4" />
	{# Pinterest site verification #}
	<meta name="p:domain_verify" content="2db32c79deea7c186db9c95b7a938dd7"/>
	{% else %}
	<meta name="robots" content="noindex, nofollow">
	{% endif %}

	<meta name="apple-mobile-web-app-title" content="Majeeko">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<meta name="format-detection" content="telephone=no">

	
	<!-- favicon & image src -->
	<link rel="icon" href="/favicon.ico" />
	<link rel="image_src" href="/images/icone-dispositivi/iOS7_Icon_template.png">

	<!-- Facebook meta tags -->
	<meta property="fb:app_id" content="825354644200098">
	<meta property="og:image" content="{= ROOT_URL =}/images/ogimage.png">
	<meta property="og:image:type" content="image/png">
	<meta property="og:image:width" content="1000">
	<meta property="og:image:height" content="522">
	<meta property="og:url" content="{= ROOT_URL =}">
	<meta property="og:title" content="Majeeko">
	<meta property="og:description" content="{= t('translation:head.shortDesc') =}">
	<meta property="og:type" content="website">

	{% if NODE_ENV == 'production' %}
		{% include '../../../partials/newrelic-browser.html' %}
	{% endif %}

	<!-- icone dispositivi -->

	<!-- iOS 7 iPad (retina) -->
	<link href="/images/icone-dispositivi/iOS7_Icon_template.png"
		  sizes="152x152"
		  rel="apple-touch-icon-precomposed">

	<!-- iOS 6 iPad (retina) -->
	<link href="/images/icone-dispositivi/iOS7_Icon_template.png"
		  sizes="144x144"
		  rel="apple-touch-icon-precomposed">

	<!-- iOS 7 iPhone (retina) -->
	<link href="/images/icone-dispositivi/iOS7_Icon_template.png"
		  sizes="120x120"
		  rel="apple-touch-icon-precomposed">

	<!-- iOS 6 iPhone (retina) -->
	<link href="/images/icone-dispositivi/iOS7_Icon_template.png"
		  sizes="114x114"
		  rel="apple-touch-icon-precomposed">

	<!-- iOS 7 iPad -->
	<link href="/images/icone-dispositivi/iOS7_Icon_template.png"
		  sizes="76x76"
		  rel="apple-touch-icon-precomposed">

	<!-- iOS 6 iPad -->
	<link href="/images/icone-dispositivi/iOS7_Icon_template.png"
		  sizes="72x72"
		  rel="apple-touch-icon-precomposed">

	<!-- iOS 6 iPhone -->
	<link href="/images/icone-dispositivi/iOS7_Icon_template.png"
		  sizes="57x57"
		  rel="apple-touch-icon-precomposed">

	<!-- Startup images -->

	<!-- iOS 6 & 7 iPad (retina, portrait) -->
	<link href="/images/icone-dispositivi/apple-touch-startup-image-1536x2008.png"
		  media="(device-width: 768px) and (device-height: 1024px)
			     and (orientation: portrait)
			     and (-webkit-device-pixel-ratio: 2)"
		  rel="apple-touch-startup-image">

	<!-- iOS 6 & 7 iPad (retina, landscape) -->
	<link href="/images/icone-dispositivi/apple-touch-startup-image-1496x2048.png"
		  media="(device-width: 768px) and (device-height: 1024px)
			     and (orientation: landscape)
			     and (-webkit-device-pixel-ratio: 2)"
		  rel="apple-touch-startup-image">

	<!-- iOS 6 iPad (portrait) -->
	<link href="/images/icone-dispositivi/apple-touch-startup-image-768x1004.png"
		  media="(device-width: 768px) and (device-height: 1024px)
			     and (orientation: portrait)
			     and (-webkit-device-pixel-ratio: 1)"
		  rel="apple-touch-startup-image">

	<!-- iOS 6 iPad (landscape) -->
	<link href="/images/icone-dispositivi/apple-touch-startup-image-748x1024.png"
		  media="(device-width: 768px) and (device-height: 1024px)
			     and (orientation: landscape)
			     and (-webkit-device-pixel-ratio: 1)"
		  rel="apple-touch-startup-image">

	<!-- iOS 6 & 7 iPhone 5 -->
	<link href="/images/icone-dispositivi/apple-touch-startup-image-640x1096.png"
		  media="(device-width: 320px) and (device-height: 568px)
			     and (-webkit-device-pixel-ratio: 2)"
		  rel="apple-touch-startup-image">

	<!-- iOS 6 & 7 iPhone (retina) -->
	<link href="/images/icone-dispositivi/apple-touch-startup-image-640x920.png"
		  media="(device-width: 320px) and (device-height: 480px)
			     and (-webkit-device-pixel-ratio: 2)"
		  rel="apple-touch-startup-image">

	<!-- iOS 6 iPhone -->
	<link href="/images/icone-dispositivi/apple-touch-startup-image-320x460.png"
		  media="(device-width: 320px) and (device-height: 480px)
			     and (-webkit-device-pixel-ratio: 1)"
		  rel="apple-touch-startup-image">

	
	<!-- Fogli di stile -->
    


	<!-- respond.js per IE8 -->

	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->
	
	{# 
	{% if first_time %}{% include '../../../partials/scripts/facebook-pixel.html' %}{% endif %} 
	#}

	{% include '../../../partials/zopim.html' %}
	{% include '../../../partials/scripts/google-analytics.html' %}
	{% include '../../../partials/scripts/facebook-pixel.html' %}
	{% include '../../../partials/scripts/popcorn-metrics.html' %}
	{% include '../../../partials/scripts/hotjar-metrics.html' %}

    {# {% include 'analytics/usability-tools.html' %} #}

    <script src="/components/jquery/dist/jquery.min.js"></script>
    <script src="/components/bootstrap/dist/js/bootstrap.min.js"></script>

    <script type="text/javascript">
    	$('.carousel').carousel({
    	    interval: false
    	}); 
        $(window).scroll(function() {
          if ($(document).scrollTop() > 50) {
            $('.navbar').addClass('shrink');
            $('.st0').css('fill', '#666');
          } else {
            $('.navbar').removeClass('shrink');
            $('.st0').css('fill', '#FFF');
          }
        });

     	//	jQuery(document).ready(function ($) {
	    //    $(window).stellar();
	    // });
	
        // $(document).ready(function(){
        // 	$("body").mouseleave(function(){ $('#leaveModal').modal('show'); });		
        // });	

		window.onbeforeunload = function (event) {
		};

        // window.addEventListener("beforeunload", function (e) {
        //   var confirmationMessage = "\o/";

        //   (e || window.event).returnValue = confirmationMessage; //Gecko + IE
        //   return confirmationMessage;                            //Webkit, Safari, Chrome
        // });
        
    </script>
    <script type="text/javascript">
        // new smooth scroll script
        $(function() {
            $('a.goto').click(function() {
                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
                if (target.length) {
                    $('html, body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            });
        });
    </script>
