<!-- Modal -->
<div class="modal fade" id="leaveModal" tabindex="-1" role="dialog" aria-labelledby="leaveModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <img id="bunny" src="./img/da-rid/bunny.png">
        <h1 class="modal-title" id="leaveModal">Aspetta! <small class="hidden-xs"><i>...Prima di andare</i></small></h1>
        <p class="lead">Lo sapevi che puoi risparmiare 20€ sulla versione PRO?</p>
        <p><strong class="coupon">#couponsconto</strong></p>
      </div>
      <!-- <div class="modal-body">
      </div> -->
      <div class="modal-footer">
        <button type="button" class="btn btn-lg btn-default hidden-xs" data-dismiss="modal">NO GRAZIE</button>
        <a href="http://go.majeeko.com/login_lc" type="button" class="btn btn-lg btn-primary">Approfitta subito</a>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModal">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title">Accedi con il tuo profilo Facebook e crea un sito web gratuito.</h3>
      </div>
      <div class="modal-body">
        <!-- <p class="lead">Accedi e crea un sito web gratuito.</p> -->
        <a href="{=accedi=}" class="btn btn-lg login">
            <span class="fa fa-facebook"></span>
            <span class="text">Accedi</span>
        </a>
        <p class="small">Majeeko non pubblicherà MAI nulla sul tuo profilo o pagina Facebook.</p>
        <!-- <p><strong>Majeeko non pubblicherà MAI nulla sul tuo profilo o pagina Facebook</strong></p> -->
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">NO GRAZIE</button>
        <button type="button" class="btn btn-primary">Approfitta subito</button>
      </div> -->
    </div>
  </div>
</div>
