<nav class="section navbar navbar-default navbar-fixed-top" id="main-nav">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <svg version="1.1" id="brand-majeeko" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             viewBox="0 0 163.9 52.3" style="enable-background:new 0 0 163.9 52.3;" xml:space="preserve">
        <g>
            <path class="st0" d="M1.2,9c1.3-0.2,2.5-0.3,3.6-0.3C6,8.7,7.2,8.8,8.4,9l7.7,19.3l8-19.3c1-0.2,2-0.3,3.2-0.3s2.3,0.1,3.4,0.3
                l1.6,33.7C31.1,42.9,30,43,28.9,43c-1,0-2-0.1-3-0.3l-0.8-22.9l-6.8,15.8c-0.4,0.1-0.9,0.1-1.4,0.2c-0.5,0-0.9,0.1-1.4,0.1
                c-0.4,0-0.8,0-1.2,0s-0.8-0.1-1.3-0.2L6.6,19.5L5.9,42.7c-1,0.2-2,0.3-2.9,0.3c-1,0-2-0.1-3.1-0.3L1.2,9z"/>
            <path class="st0" d="M49.2,26.5c0-0.7-0.1-1.4-0.4-1.8c-0.2-0.5-0.6-0.8-1-1.1c-0.4-0.3-1-0.4-1.6-0.5S44.8,23,44.1,23
                c-1.7,0-3.5,0.3-5.4,1c-0.4-0.8-0.8-1.6-1-2.3c-0.2-0.7-0.3-1.6-0.3-2.6c1.4-0.5,2.7-0.8,4.1-1c1.4-0.2,2.7-0.3,3.8-0.3
                c3.2,0,5.8,0.8,7.6,2.3c1.8,1.6,2.7,4.1,2.7,7.5v14.1c-1.1,0.3-2.4,0.7-4,1s-3.3,0.5-5.3,0.5c-1.6,0-3.1-0.1-4.4-0.4
                s-2.5-0.8-3.4-1.4c-1-0.7-1.7-1.5-2.2-2.5s-0.8-2.3-0.8-3.8s0.3-2.8,1-3.8c0.6-1,1.5-1.8,2.5-2.4s2.1-1,3.4-1.3
                c1.2-0.3,2.5-0.4,3.8-0.4c0.9,0,1.9,0,3,0.1C49.2,27.3,49.2,26.5,49.2,26.5z M49.2,31.3c-0.4-0.1-0.8-0.1-1.2-0.2
                c-0.4,0-0.8-0.1-1.2-0.1c-1.5,0-2.7,0.3-3.6,0.8c-0.9,0.5-1.3,1.4-1.3,2.6c0,0.8,0.2,1.4,0.5,1.9c0.3,0.4,0.8,0.8,1.2,1
                c0.5,0.2,1,0.3,1.5,0.4c0.5,0,1,0.1,1.4,0.1c0.5,0,0.9,0,1.4-0.1s0.9-0.1,1.2-0.2L49.2,31.3L49.2,31.3z"/>
            <path class="st0" d="M76.5,32.3c0.1,1.9,0.8,3.2,2,4.1c1.2,0.8,2.7,1.3,4.7,1.3c1.1,0,2.1-0.1,3.3-0.3c1.1-0.2,2.2-0.5,3.2-0.9
                c0.3,0.6,0.6,1.4,0.9,2.2c0.2,0.9,0.4,1.8,0.4,2.8c-2.4,0.9-5.2,1.4-8.2,1.4c-2.2,0-4.2-0.3-5.8-0.9s-2.9-1.5-3.9-2.6
                s-1.8-2.4-2.2-4c-0.5-1.5-0.7-3.2-0.7-5c0-1.8,0.2-3.5,0.8-5c0.5-1.6,1.2-2.9,2.2-4.1s2.2-2.1,3.7-2.7c1.5-0.7,3.1-1,5.1-1
                c1.7,0,3.2,0.3,4.5,0.9s2.4,1.4,3.4,2.4c0.9,1,1.6,2.3,2.1,3.7s0.7,2.9,0.7,4.6c0,0.6,0,1.2-0.1,1.8c0,0.6-0.1,1-0.2,1.4L76.5,32.3
                L76.5,32.3L76.5,32.3z M86,27.7c-0.1-1.5-0.5-2.7-1.2-3.7c-0.8-0.9-1.8-1.4-3.2-1.4c-1.6,0-2.8,0.4-3.6,1.3s-1.3,2.1-1.5,3.7H86
                V27.7z"/>
            <path class="st0" d="M100.5,32.3c0.1,1.9,0.8,3.2,2,4.1c1.2,0.8,2.7,1.3,4.7,1.3c1.1,0,2.1-0.1,3.3-0.3c1.1-0.2,2.2-0.5,3.2-0.9
                c0.3,0.6,0.6,1.4,0.9,2.2c0.2,0.9,0.4,1.8,0.4,2.8c-2.4,0.9-5.2,1.4-8.2,1.4c-2.2,0-4.2-0.3-5.8-0.9s-2.9-1.5-3.9-2.6
                s-1.8-2.4-2.2-4c-0.5-1.5-0.7-3.2-0.7-5c0-1.8,0.2-3.5,0.8-5c0.5-1.6,1.2-2.9,2.2-4.1s2.2-2.1,3.7-2.7c1.5-0.7,3.1-1,5.1-1
                c1.7,0,3.2,0.3,4.5,0.9s2.4,1.4,3.4,2.4c0.9,1,1.6,2.3,2.1,3.7s0.7,2.9,0.7,4.6c0,0.6,0,1.2-0.1,1.8c0,0.6-0.1,1-0.2,1.4
                L100.5,32.3L100.5,32.3z M110,27.7c-0.1-1.5-0.5-2.7-1.2-3.6c-0.8-0.9-1.8-1.4-3.2-1.4c-1.6,0-2.7,0.4-3.6,1.3
                c-0.8,0.9-1.3,2.1-1.5,3.7H110z"/>
            <path class="st0" d="M118.8,8.1c1.1-0.2,2.2-0.3,3.3-0.3c1.1,0,2.2,0.1,3.3,0.3v34.3c-1.1,0.2-2.2,0.3-3.3,0.3s-2.2-0.1-3.3-0.3
                V8.1z M126.3,29.7l6-11.5c1.2-0.2,2.5-0.3,3.7-0.3s2.3,0.1,3.5,0.3l-6.2,11.2l7.2,13c-1.3,0.2-2.5,0.3-3.7,0.3
                c-1.1,0-2.2-0.1-3.5-0.3L126.3,29.7z"/>
            <path class="st0" d="M152.2,43c-2,0-3.7-0.3-5.1-1c-1.5-0.6-2.7-1.5-3.6-2.7c-1-1.1-1.7-2.5-2.2-4s-0.7-3.2-0.7-5
                c0-1.8,0.2-3.4,0.7-5s1.2-2.9,2.2-4.1c1-1.1,2.2-2,3.6-2.7c1.5-0.7,3.2-1,5.1-1c2,0,3.7,0.3,5.2,1s2.7,1.6,3.7,2.7s1.7,2.5,2.2,4.1
                s0.7,3.2,0.7,5c0,1.8-0.2,3.4-0.7,5c-0.5,1.5-1.2,2.9-2.2,4s-2.2,2-3.7,2.7C155.9,42.6,154.1,43,152.2,43z M152.2,37.9
                c1.8,0,3-0.6,3.8-1.9s1.1-3.2,1.1-5.6s-0.4-4.3-1.1-5.6c-0.8-1.3-2-1.9-3.8-1.9c-1.7,0-3,0.6-3.7,1.9c-0.8,1.3-1.1,3.2-1.1,5.6
                s0.4,4.3,1.1,5.6C149.2,37.2,150.5,37.9,152.2,37.9z"/>
            <g>
                <path class="st1" d="M57.7,0.6c0.1-0.6,0.6-0.8,1-0.3L61.1,3c0.4,0.5,1.3,0.8,2,0.7l3.6-0.5c0.7-0.1,0.9,0.3,0.6,0.9l-1.8,3.2
                    c-0.3,0.6-0.4,1.5-0.1,2.1l1.6,3.3c0.3,0.6,0,1-0.7,0.8l-3.6-0.8c-0.6-0.1-1.6,0.1-2,0.6L58,16c-0.5,0.5-0.9,0.3-1-0.4l-0.4-3.7
                    c-0.1-0.7-0.6-1.5-1.2-1.8l-3.2-1.8c-0.6-0.3-0.6-0.8,0-1.1l3.4-1.5c0.6-0.3,1.2-1,1.3-1.7L57.7,0.6z"/>
            </g>
            <path class="st0" d="M66.9,25.1L66.9,25.1c0,0.1,0,0.2-0.1,0.3C66.9,25.3,66.9,25.2,66.9,25.1L66.9,25.1c-0.1-2.1-0.3-4.3-0.6-6.4
                l0,0c-0.2-1.3-1.8-2.1-3.5-1.9c-1.8,0.3-3,1.5-2.9,2.8l0,0l0,0l0,0l0,0c0.3,1.9,0.4,3.8,0.5,5.7c0,0.8,0,1.5,0,2.3
                c0,6.9-0.7,15.3-2.9,21.3l0,0C57.1,50,58,51.4,59.6,52s3.2,0.1,3.6-1l0,0c2.5-6.6,3.7-15.7,3.7-23.4C67,26.8,67,26,66.9,25.1z
                 M66.4,26.4c-0.1,0.1-0.2,0.2-0.3,0.3C66.2,26.6,66.3,26.5,66.4,26.4z M66.8,25.6c0,0.1-0.1,0.2-0.1,0.3
                C66.8,25.8,66.8,25.7,66.8,25.6z M66.7,26c-0.1,0.1-0.1,0.2-0.2,0.3C66.5,26.2,66.6,26.1,66.7,26z M65.7,27
                c0.1-0.1,0.2-0.2,0.3-0.3C66,26.8,65.8,26.9,65.7,27z"/>
        </g>
        </svg>
      </a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
            {# 
            <li><a href="overview.html">Servizio</a></li>
            <li><a href="themes.html">Temi</a></li>
            <li><a href="prices.html">Prezzi</a></li>
            <li><a href="blog.html">Tutorial</a></li>
            <li><a href="team.html">Team</a></li>
            <li><a href="contacts.html">Contatti</a></li>
            <li class="dropdown hidden-sm">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-globe"></i>
                    Lingua 
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="#">Italiano</a></li>
                    <li><a href="#">Inglese</a></li>
                    <li><a href="#">Tedesco</a></li>
                </ul>
            </li> 
            #}
            <li>
                <a href="{=accedi=}" class="login">
                    <span class="fa fa-facebook"></span>
                    <span class="text">Accedi</span>
                </a>
            </li>
        </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
</nav>
