<section class="section overview" id="overview-crea">
    <div class="container text-left"> 
        <div class="row">
            <div class="col-sm-6 overview-right">
                <img class="img-responsive" src="img/step-screens/add-ecommerce.jpg">
            </div>
            <div class="col-sm-5 overview-left">
                <hgroup class="section-title">
                    <h1>Crea il tuo negozio.</h1>
                </hgroup>
                <p class="lead">Aggiungi la pagina e-commerce.</p>
                <p>
                    Entra nella sezione Pagine ed aggiungine una scegliendo quella dedicata all'E-commerce. 
                </p>
                <a href="{=accedi=}" class="btn btn-md btn-default" >
                    inizia ora
                </a>
            </div>
        </div>
    </div>
</section>
<section class="section overview" id="overview-inserisci">
    <div class="container text-right"> 
        <div class="row">
            <div class="col-sm-6 overview-left">
                <img class="img-responsive" src="img/step-screens/amministra-ecommerce.jpg">
            </div>
            <div class="col-sm-5 col-md-offset-1 overview-right">
                <hgroup class="section-title">
                    <h1>Inserisci i tuoi prodotti.</h1>
                </hgroup>
                <p class="lead">Organizza il tuo catalogo.</p>
                <p>
                    Entra in Amministra e-commerce, configura il metodo con cui preferisci farti pagare, inserisci categorie, prodotti e sarai subito online con il tuo nuovo negozio di e-commerce!  
                </p>
                <a href="{=accedi=}" class="btn btn-md btn-default" >
                    inizia ora
                </a>
            </div>
        </div>
    </div>
</section>
<section class="section overview" id="overview-vendi">
    <div class="container text-left"> 
        <div class="row">
            <div class="col-sm-6 col-md-offset-1 overview-right">
                <img class="img-responsive" src="img/step-screens/vaionline.jpg">
            </div>
            <div class="col-sm-5 overview-left">
                <hgroup class="section-title">
                    <h1>Comincia a vendere.</h1>
                </hgroup>
                <p class="lead">Clicca Vai Online e scegli Majeeko PRO.</p>
                <p>
                    Ora scegli il nome del tuo sito, quello che tecnicamente si chiama dominio. Alla fine sarai online, indicizzato sui motori di ricerca    per farti trovare nuovi clienti.
                </p>
                <a href="{=accedi=}" class="btn btn-md btn-default" >
                    inizia ora
                </a>
            </div>
        </div>
    </div>
</section>
