<section class="section overview" id="overview-iscriviti">
    <div class="container text-left"> 
        <div class="row">
        	<div class="col-sm-6 col-md-offset-1 overview-right">
        	    <img class="img-responsive" src="../img/step-screens/manager.jpg">
        	</div>
            <div class="col-sm-5 overview-left">
                <hgroup class="section-title">
                    <h1>Iscriviti</h1>
                </hgroup>
                <p class="lead">Prova il servizio gratuitamente.</p>
                <p>
                    Fai il login con Facebook per entrare nella tua aera riservata dove troverai le Pagine Facebook che amministri. Sincronizzale per importare i contenuti e inizia l'esperienza Majeeko in modo semplice e gratuito!  
                </p>
                <a href="{=accedi=}" class="btn btn-md btn-default" >
                    inizia ora
                </a>
            </div>
        </div>
    </div>
</section>
<section class="section overview" id="overview-personalizza">
    <div class="container text-right"> 
        <div class="row">
            <div class="col-sm-6 overview-left">
                <img class="img-responsive" src="../img/step-screens/editor.jpg">
            </div>
            <div class="col-sm-5 col-md-offset-1 overview-right">
                <hgroup class="section-title">
                    <h1>Personalizza il tuo sito</h1>
                </hgroup>
                <p class="lead">Modifica la grafica per renderlo unico.</p>
                <p>
                    La magia è fatta! Majeeko ha già creato il sito con i colori del tuo logo, divertiti a personalizzarlo cambiando la grafica e caratteri, scrivi nuovi testi e inserisci nuove pagine. Puoi fare tutto questo in modo semplice all'interno dell'Editor. 
                </p>
                <a href="{=accedi=}" class="btn btn-md btn-default" >
                    inizia ora
                </a>
            </div>
        </div>
    </div>
</section>
<section class="section overview" id="overview-pubblica">
    <div class="container text-left"> 
        <div class="row">
        	<div class="col-sm-6 col-md-offset-1 overview-right">
        	    <img class="img-responsive" src="../img/step-screens/vaionline.jpg">
        	</div>
            <div class="col-sm-5 overview-left">
                <hgroup class="section-title">
                    <h1>Pubblica il tuo sito</h1>
                </hgroup>
                <p class="lead">Fatti trovare da nuovi clienti online.</p>
                <p>
                    Ora scegli il nome del tuo sito, quello che tecnicamente si chiama dominio.
                    Alla fine sarai online, indicizzato sui motori di ricerca e quindi facilmente rintracciabile da nuovi clienti. 
                </p>
                <a href="{=accedi=}" class="btn btn-md btn-default" >
                    inizia ora
                </a>
            </div>
        </div>
    </div>
</section>
