<section class="section overview" id="overview-manager">
    <div class="container text-left"> 
        <div class="row">
            <div class="col-sm-6 col-md-offset-1 overview-right">
                <img class="img-responsive" src="img/editor.png">
            </div>
            <div class="col-sm-5 overview-left">
                <hgroup class="section-title">
                    <h1>Manager</h1>
                </hgroup>
                <p class="lead">Un unico accesso per domarli tutti</p>
                <p>
                    Un unico accesso per gestire tutti i siti dei tuoi clienti in modo facile e veloce, senza installazioni, password, e in assoluta sicurezza.
                </p>
                <button type="button" class="btn btn-MD btn-default">RICHIEDI INFO</button>
            </div>
        </div>
    </div>
</section>
<section class="section overview" id="overview-editor">
    <div class="container text-right"> 
        <div class="row">
            <div class="col-sm-6  overview-left">
                <img class="img-responsive" src="img/editor.png">
            </div>
            <div class="col-sm-5 col-md-offset-1 overview-right">
                <hgroup class="section-title">
                    <h1>Editor</h1>
                </hgroup>
                <p class="lead">Modifica il tuo sito in velocità</p>
                <p>
                    Un editor visuale per modificare grafica e contenuti del tuo cliente anche in mobilità da tablet e smartphone, senza ricorrere ad una sola riga codice.
                </p>
                <button type="button" class="btn btn-MD btn-default">RICHIEDI INFO</button>
            </div>
        </div>
    </div>
</section>
