<section class="section" id="secure-payment">
    <div class="container"> 
        <div class="row">
            <div class="col-sm-12">
                <hgroup class="section-title">
                    <h1>Pagamento sicuro</h1>
                </hgroup>
                <p class="lead">Acquista in tutta sicurezza con carta di credito, PayPal o bonifico bancario.</p>
                <img id="img-cards" src="img/paypal_carte.png" 
                    style="height:45px; width:auto; margin-bottom:15px; " alt="Paga con carta di credito">
            </div>
        </div>
    </div>
</section>
