<section class="section" id="pricing">
    <div class="container"> 
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <hgroup class="section-title">
                    <h1>Confronta i piani</h1>
                </hgroup>
                <p class="lead">Majeeko é uno strumento potente per il tuo business a fronte di un piccolissimo investimento, scegli il piano che preferisci, e <b>vai online!</b></p>
                <div class="row list">
                    {# end license #}
                    <div class="col-sm-4 list-item">
                        <div class="panel panel-default price-panel toggle" data-toggle="modal" data-target="#loginModal">
                            <!-- Default panel contents -->
                            <div class="panel-heading">
                                <span class="plan">DEMO</span>
                            </div>
                            <div class="panel-body">
                                <p class="price">
                                    <span class="value">GRATIS</span>
                                </p>
                            </div>
                            <!-- List group -->
                            <ul class="list-group hidden-xs">
                                {% set pricing = 'pricing.freemium' %}
                                <li class="list-group-item"> 
                                    {# <span class="glyphicon glyphicon-globe"></span> #} 
                                    <span class="badge">
                                        <i class="glyphicon glyphicon-remove"></i>
                                    </span>
                                    <strong>{= t('pricing.domain') =}</strong> <br>
                                    <small class="sampledomain">{= t(pricing + '.domain-demo') =}</small>
                                </li>
                                <li class="list-group-item">
                                    <span class="badge">
                                        <i class="glyphicon glyphicon-ok"></i>
                                    </span>
                                    <strong>8</strong>
                                    {= t('pricing.layout') =}
                                </li>
                                <li class="list-group-item">
                                    <span class="badge">
                                        <i class="glyphicon glyphicon-remove"></i>
                                    </span>
                                    <strong>0</strong>
                                    {= t('pricing.email') =}
                                </li>
                                <li class="list-group-item">
                                    <span class="badge">
                                        <i class="glyphicon glyphicon-remove"></i>
                                    </span>
                                    {= t('pricing.sync') =}
                                </li>
                                <li class="list-group-item ">
                                    <span class="badge">
                                        <i class="glyphicon glyphicon-remove"></i>
                                    </span>
                                    {= t('pricing.stats') =}
                                </li>
                                <li class="list-group-item">
                                    <span class="badge">
                                        <i class="glyphicon glyphicon-remove"></i>
                                    </span>
                                    {= t('pricing.pages') =}
                                </li>
                                <li class="list-group-item">
                                    <span class="badge">
                                        <i class="glyphicon glyphicon-remove"></i>
                                    </span>
                                    {= t('pricing.adv') =}
                                </li>
                                <li class="list-group-item">
                                    <span class="badge">
                                        <i class="glyphicon glyphicon-remove"></i>
                                    </span>
                                    {= t('pricing.googleindexing') =}
                                </li>
                                <li class="list-group-item">
                                    <span class="badge">
                                        <i class="glyphicon glyphicon-remove"></i>
                                    </span>
                                    {= t('pricing.ecommerce') =}
                                </li>
                            </ul>
                            <div class="panel-footer">
                                <button type="button" class="btn btn-primary btn-lg btn-block">
                                    <span class="glyphicon glyphicon-piggy-bank"></span>
                                    {= t('banner.prova_pulz') =}
                                </button>
                            </div>
                        </div>
                    </div>
                    {# end license #}
                    {# license  #}  
                    <div class="col-sm-4 list-item">
                        <div class="panel panel-default price-panel toggle" data-toggle="modal" data-target="#loginModal">
                            <!-- Default panel contents -->
                            <div class="panel-heading">
                                <div class="recommended-graphic" style="display:block;">
                                    TOP SELLER
                                </div>
                                <span class="plan">PREMIUM</span>
                            </div>
                            <div class="panel-body">
                                <p class="price">
                                    <span>€</span>
                                    <span class="value">99</span>
                                    <span>/anno</span>
                                </p>
                            </div>

                            <!-- List group -->
                            <ul class="list-group hidden-xs">
                                {% set pricing = 'pricing.premium' %}
                                <li class="list-group-item"> 
                                    {# <span class="glyphicon glyphicon-globe"></span> #} 
                                    <span class="badge">
                                        <i class="glyphicon glyphicon-ok"></i>
                                    </span>
                                    <strong>{= t('pricing.domain') =}</strong><br>
                                    <small class="sampledomain">{= t(pricing + '.domain-demo') =}</small>
                                </li>
                                <li class="list-group-item">
                                    <span class="badge">
                                        <i class="glyphicon glyphicon-ok"></i>
                                    </span>
                                    <strong>8</strong>
                                    {= t('pricing.layout') =}
                                </li>
                                <li class="list-group-item">
                                    <span class="badge">
                                        <i class="glyphicon glyphicon-ok"></i>
                                    </span>
                                    <strong>2</strong>
                                    {= t('pricing.email') =}
                                </li>
                                <li class="list-group-item">
                                    <span class="badge">
                                        <i class="glyphicon glyphicon-ok"></i>
                                    </span>
                                    {= t('pricing.sync') =}
                                </li>
                                <li class="list-group-item">
                                    <span class="badge">
                                        <i class="glyphicon glyphicon-ok"></i>
                                    </span>
                                    {= t('pricing.stats') =}
                                </li>
                                <li class="list-group-item">
                                    <span class="badge">
                                        <i class="glyphicon glyphicon-ok"></i>
                                    </span>
                                    {= t('pricing.pages') =}
                                </li>
                                <li class="list-group-item">
                                    <span class="badge">
                                        <i class="glyphicon glyphicon-ok"></i>
                                    </span>
                                    {= t('pricing.adv') =}
                                </li>
                                <li class="list-group-item">
                                    <span class="badge">
                                        <i class="glyphicon glyphicon-ok"></i>
                                    </span>
                                    {= t('pricing.googleindexing') =}
                                </li>
                                <li class="list-group-item">
                                    <span class="badge">
                                        <i class="glyphicon glyphicon-remove"></i>
                                    </span>
                                    {= t('pricing.ecommerce') =}
                                </li>
                            </ul>
                            <div class="panel-footer">
                                <button type="button" class="btn btn-primary btn-lg btn-block">
                                    <span class="glyphicon glyphicon-shopping-cart"></span>
                                    {= t('pricing.buy') =}
                                </button>
                            </div>
                        </div>
                    </div>
                    {# end license #}
                    {# license  #}  
                    <div class="col-sm-4 list-item">
                        <div class="panel panel-default price-panel toggle" data-toggle="modal" data-target="#loginModal">
                          <!-- Default panel contents -->
                            <div class="panel-heading">
                                <span class="plan">PRO <span class="visible-xs">(E-Commerce)</span></span>
                            </div>
                            <div class="panel-body">
                                <p class="price">
                                    <span>€</span>
                                    <span class="value">179</span>
                                    <span>/anno</span>
                                </p>
                            </div>

                            <!-- List group -->
                            <ul class="list-group hidden-xs">
                                {% set pricing = 'pricing.advanced' %}
                                <li class="list-group-item"> 
                                    {# <span class="glyphicon glyphicon-globe"></span> #} 
                                    <span class="badge">
                                        <i class="glyphicon glyphicon-ok"></i>
                                    </span>
                                    <strong>{= t('pricing.domain') =}</strong> <br>
                                    <small class="sampledomain">{= t(pricing + '.domain-demo') =}</small>
                                </li>
                                <li class="list-group-item">
                                    <span class="badge">
                                        <i class="glyphicon glyphicon-ok"></i>
                                    </span>
                                    <strong>8</strong>
                                    {= t('pricing.layout') =}
                                </li>
                                <li class="list-group-item">
                                    <span class="badge">
                                        <i class="glyphicon glyphicon-ok"></i>
                                    </span>
                                    <strong>5</strong>
                                    {= t('pricing.email') =}
                                </li>
                                <li class="list-group-item">
                                    <span class="badge">
                                        <i class="glyphicon glyphicon-ok"></i>
                                    </span>
                                    {= t('pricing.sync') =}
                                </li>
                                <li class="list-group-item">
                                    <span class="badge">
                                        <i class="glyphicon glyphicon-ok"></i>
                                    </span>
                                    {= t('pricing.stats') =}
                                </li>
                                <li class="list-group-item">
                                    <span class="badge">
                                        <i class="glyphicon glyphicon-ok"></i>
                                    </span>
                                    {= t('pricing.pages') =}
                                </li>
                                <li class="list-group-item">
                                    <span class="badge">
                                        <i class="glyphicon glyphicon-ok"></i>
                                    </span>
                                    {= t('pricing.adv') =}
                                </li>
                                <li class="list-group-item">
                                    <span class="badge">
                                        <i class="glyphicon glyphicon-ok"></i>
                                    </span>
                                    {= t('pricing.googleindexing') =}
                                </li>
                                <li class="list-group-item">
                                    <span class="badge">
                                        <i class="glyphicon glyphicon-ok"></i>
                                    </span>
                                    {= t('pricing.ecommerce') =}
                                </li>
                            </ul>
                            <div class="panel-footer">
                                <button type="button" class="btn btn-primary btn-lg btn-block">
                                    <span class="glyphicon glyphicon-shopping-cart"></span>
                                    {= t('pricing.buy') =}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                {# end license #}
                <!-- <p><a href="shop.html">link</a></p>
                <button type="button" class="btn btn-default">Primary Default</button>
                <button type="button" class="btn btn-primary">Primary Button</button> -->
            </div>
        </div>
    </div>
</section>
