@charset "UTF-8";

@import "typography.less";

/* import font */
// @import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);
@import url(http://fonts.googleapis.com/css?family=Asap:400,700,400italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic);


/* prewiew */
@prewiew: #F69;

/* FONTS */
@font-family-sans-serif: 'Roboto', Helvetica, Arial,sans-serif;
@font-family-serif:'Sanchez', Georgia, Times New Roman, Times, serif;

/* FONT SIZE */
@font-size-sm: 16px;
@font-size-xs: 14px;

/* synkysyte */
@buy: #FFCC00;
@help:#F33;

/* status */
@status-synced: #9C0;
@status-pending: #FC0;
@status-unsynced: #ff3333;

/* grigi generici */
@black: #000;
@gray-darker:  lighten(#000, 13.5%); // #222
@gray-dark:    lighten(#000, 20%);   // #333
@gray:         lighten(#000, 33.5%); // #555
@gray-light:   lighten(#000, 46.7%); // #777
@gray-lighter: lighten(#000, 80.5%); // #eee
@gray-whiter: lighten(#000, 95.5%); // #eee
@white: #FFF;

/* colore primario */
@brand-primary: #F90;
@brand-gray: lighten(#F90, 45%) ;
/*@brand-primary-dark: #428bca;*/

/* colore secondario */
@brand-secondary: #8BB6D0;
@brand-secondary-text: #8BB6D0;
@brand-gray-secondary: lighten(#6DB3E4, 30%) ;

/* allerts */
@brand-success: #5cb85c;
@brand-info:    #5bc0de;
@brand-warning: #f0ad4e;
@brand-danger:  #d9534f;

/* socials */
@brand-facebook:  #374E79;
@brand-twitter:  #4AC5EC;
@brand-youtube:  #C43029;
@brand-vimeo:  #3FBAEC;
@brand-linkedin: #2779BA;

/* generico */
@padding-sections: 100px ;
@padding-element: 15px ;
@margin-element: 15px ;
@rounded-corners: 5px;
@squared-corners: 0px;

/* features */
@easy: #6FB95B;
@synchronized: #4D97C6;
@customizable: #EFA348;
@manager-panel: #89255C;
@serch-engine-optimized: #C73938;
@responsive: #A1A5A6;

/* devices */
@icon-desktop: url(../images/desktop.png) ;
@icon-tablet: url(../images/tablet.png) ;
@icon-phone: url(../images/phone.png) ;
