#ad{
    z-index: 9999999;
    position: fixed;
    bottom: 0px;
    left:0px;
    right: 0px;
    //right:50px;
    // background-color: transparent;
    color: #333;
    background-color: #F90;
    // max-width: 400px;
    box-shadow: 0px 0px 20px rgba(000, 000, 000, 0.5);
    // border: 10px solid #FFF;
    
    // height: 1px;
    // overflow: visible;
    // background-color: @outer_background;

    .container{
        // border: 10px solid #FFF;

        padding: 0px 0px 0px 0px;
        // text-align: left;
        width: 100% !important;
        max-width: 100%;
        // height: 50px;
        margin-top: 0px;
        margin-bottom: 0px;

        a#link-majeeko-ad-free{
            background-color: #F90;
            padding: 10px 10px 10px 10px;
            color: #333;


            #brand-ad-majeeko-free{
                height: 40px;
                margin-top: 5px;
                // margin-left: 15px;
                // margin-right: 15px;
            }

            #message-ad-majeeko-free{
                margin-top: 13px;
            }
            p{
                line-height: 100%;
                font-size: 12px;
                margin-bottom: 0px;
            }
            // a{
            //     color: #333;
            // }
        }

        :hover#link-majeeko-ad-free{
            padding: 10px 10px 10px 10px;
            color: #333;
            background-color: darken(#CC7A00, 10%);
        }
    }
}   
