@import "_config.less";

.carousel-inner{
    overflow: inherit !important;
}

.window-height{
    height: 100%;
    min-height: 100%;

}

.headline {
    -webkit-animation: mysecond 2s;
    /* Chrome, Safari, Opera */
    
    animation: mysecond 2s;
}
/* Chrome, Safari, Opera */

@-webkit-keyframes mysecond {
    from {
        margin-top: 20%;
        opacity: 0;
        filter: alpha(opacity=0);
    }
    to {
        margin-top: 0%;
        opacity: 1;
        filter: alpha(opacity=100);
    }
}
/* Standard syntax */

@keyframes mysecond {
    from {
        margin-top: 20%;
        opacity: 0;
        filter: alpha(opacity=0);
    }
    to {
        margin-top: 0%;
        opacity: 1;
        filter: alpha(opacity=100);
    }
}
#browser-window {
    -webkit-animation: myfirst 3s;
    /* Chrome, Safari, Opera */
    
    animation: myfirst 3s;
}
/* Chrome, Safari, Opera */

@-webkit-keyframes myfirst {
    from {
        margin-top: 150%;
    }
    to {
        margin-top: 0%;
    }
}
/* Standard syntax */

@keyframes myfirst {
    from {
        margin-top: 150%;
    }
    to {
        margin-top: 0%;
    }
}
#landing, #banner-home {
    background-color: #333 !important;
}
#landing .carousel, #banner-home .carousel {
    background-color: #333 !important;
    // background: -webkit-radial-gradient(#999,#333);
    //  	background: -o-radial-gradient(#999,#333);
    //  	background: -moz-radial-gradient(#999,#333);
    //  	background: radial-gradient(#999,#333);
    // background-color:#001;
    // background-image: radial-gradient(#999 5%, transparent 5%),
    // radial-gradient(#999 2%, transparent 6%);
    // background-size:20px 20px;
    // background-position: 0 0, 5px 5px;
    //background-image:url(../images/blurry_background_1.jpg);
    /*
	opacity: 0.6;
    filter: alpha(opacity=60);  For IE8 and earlier 
    */
    
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;

    background-attachment: fixed;
    background-position: center;
}
#landing .carousel-caption, #banner-home .carousel-caption {
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding: 0px 0px 0px 0px;
}
#landing .carousel-caption .container, #banner-home .carousel-caption .container {
    padding-bottom: 0px;
     padding-top: 0px;
    // padding-top: 13%;

    .banner-col-cont{
        padding-top: 33%;
    }
    .banner-col-sx{
        // overflow: hidden;
        font-family: @font-family-sans-serif;
    }
    .banner-col-dx{
        overflow: hidden;
    }
}
.landing-hello {
    padding-top: 5%;
    font-family: @font-family-sans-serif;
}
.landing-hello i strong {
    color: @brand-secondary !important;
    font-family: @font-family-sans-serif;
}
.landing-title {
    font-size: 48px !important;
    /*color:#F90 !important;*/
    
    padding-bottom: 20px;
    margin-top: 0px !important;
    font-weight: 700 !important;
    font-style: normal;
}


.landing-site-preview {
    background-color: @gray-whiter;
    /*margin-bottom:-50%;*/
    /*position:absolute;
	bottom:-50%;*/
    
    overflow: hidden;
    /*cursor: pointer;*/
    
    // min-height: 900px;
    /*max-height:800px;*/

    .small-theme-min{
        width:100% !important;
        margin-top:0px;
        
        -webkit-transition: all 0.8s ease-in-out;    
        -moz-transition: all 0.8s ease-in-out;    
        -o-transition: all 0.8s ease-in-out;    
        -ms-transition: all 0.8s ease-in-out;
        }
    :hover.small-theme-min{
        margin-top:-90%;
        }
}
.calltoaction {
    font-family: @font-family-sans-serif;
    /*position:absolute;
	bottom: 20px;
	background:#0F0;*/
}
#landing .box-shadow, #banner-home .box-shadow {
    /*
	box-shadow: 10px 50px 60px 0px #353535 !important;
	-webkit-box-shadow: 10px 50px 60px 0px #353535 !important;
	-moz-box-shadow: 10px 50px 60px 0px #353535 !important;
	*/
}
#landing .carousel-caption .container strong, #banner-home .carousel-caption .container strong {
    /*color:#FFF;*/
}
#landing .carousel-caption .container small, #banner-home .carousel-caption .container small {
    color: #CCC;
    font-style: italic;
    font-size: 16px;
}
#landing .carousel-caption .container i, #banner-home .carousel-caption .container i {
    color: #ccc;
    font-style: italic;
    font-size: 20px;
    padding-bottom: 0px !important;
    margin-bottom: 0px !important;
}
#landing .browser, #banner-home .browser {
    background-color: rgba(255, 255, 255, 0.7) !important;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom: 1px solid #ccc;
    /*
	background-color:#666 !important;
	
	background: -webkit-linear-gradient(#CCC,#999); 
  	background: -o-linear-gradient(#CCC,#999); 
  	background: -moz-linear-gradient(#CCC,#999);
  	background: linear-gradient(#CCC,#999);
  	*/
}
#landing .browser span, #banner-home .browser span {
    /*border:1px solid #999;*/
    
    width: 12px;
    height: 12px;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
.reputation .container {
    padding: 0px 0px 0px 0px !important;
}

#fa-facebook-home{ 

    border-top-left-radius: 3px !important;
    border-bottom-left-radius: 3px !important;

    .fa-facebook {
        color: #3b5998 !important;
        text-shadow: none !important;
        font-style: normal !important;
    }

    
}
#reputation {

    position: absolute;
    bottom: 0px;
    width: 100%;
    padding: 10px 0px 10px 0px;
    background-color: rgba(255, 255, 255, 0.9) !important;
    border-bottom: 1px solid #ccc;
    // background-color: #333;
    // background: -webkit-linear-gradient(#FFF, #DFE4E8);
    // background: -o-linear-gradient(#FFF, #DFE4E8);
    // background: -moz-linear-gradient(#FFF, #DFE4E8);
    // background: linear-gradient(#FFF, #DFE4E8);

}

#reputation p {
    color: #333;
    font-size: 16px;
    text-shadow: none;
}

 .cookies{
        text-align: center !important;
        border-color: #666;
        background-color: #666;
        padding: 4px 5px 5px 5px;
        font-size: 12px;
        color: #ccc;
        margin-bottom: 0px;
        // position: fixed;
        // width: 100%;
        // bottom:0px;
        // text-shadow:none;

        strong{
            color: #CCC;
        }

        .close{
            color: #FFF;
            // font-size: 16px;
            top: -4px;
            right: 5px;
        }

        a, a:hover{
            color: #CCC;
        }
    }


.fadeimage {
    -webkit-animation: fadein 5s;
    /* Safari, Chrome and Opera > 12.1 */
    
    -moz-animation: fadein 5s;
    /* Firefox < 16 */
    
    -ms-animation: fadein 5s;
    /* Internet Explorer */
    
    -o-animation: fadein 5s;
    /* Opera < 12.1 */
    
    animation: fadein 5s;
}
@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
/* Firefox < 16 */

@-moz-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
/* Safari, Chrome and Opera > 12.1 */

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
/* Internet Explorer */

@-ms-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
/* Opera < 12.1 */

@-o-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
/* iPads (landscape) ----------- */

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    #landing .carousel-caption .container, #banner-home .carousel-caption .container {
        // padding-top: 15%;
    }
    .landing-hello {
        padding-top: 0%;
    }
    .landing-title {
        font-size: 37px !important;
    }
    .landing-p {
        font-size: 20px !important;
    }
    #landing .carousel-caption .container small, #banner-home .carousel-caption .container small {
        font-size: 16px;
    }
    #landing .carousel-caption .container i, #banner-home .carousel-caption .container i {
        font-size: 16px;
    }
}
/* iPads (portrait) ----------- */

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    #landing .carousel-caption .container, #banner-home .carousel-caption .container {
        padding-top: 15%;
    }
    #banner-home .carousel-caption .banner-col-sx{
        margin-top: 0px !important;
        height: auto;
        text-align: center;
    }
    .landing-hello {
        padding-top: 40%;
        //font-size: 10px !important;
    }
    .landing-title {
        font-size: 55px !important;
        padding-bottom: 0px;
    }
}
/*layouts smaller than 600px, iPhone and mobiles*/

@media only screen and (max-width: 480px), screen and (max-device-width: 480px) {
    #landing .carousel, #banner-home .carousel {
        text-align: center !important;
        background: -webkit-linear-gradient(#333, #999);
        /* Safari 5.1-6.0 */
        
        background: -o-linear-gradient(#333, #999);
        /* For Opera 11.6-12.0 */
        
        background: -moz-linear-gradient(#333, #999);
        /* For Firefox 3.6-15 */
        
        background: linear-gradient(#333, #999);
        /* Standard syntax */
        
        -moz-background-size: cover;
        -webkit-background-size: cover;
        background-size: cover;

    }
    #landing .carousel-caption .container, #banner-home .carousel-caption .container {
        padding-top: 20%;
        text-align: center !important;
    }
    #banner-home .carousel-caption .banner-col-sx{
        margin-top: 0px !important;
        height: auto;
        text-align: center;
    }
    .landing-hello {
        text-align: center !important;
        font-size: 10px !important;
    }
    .landing-title {
        font-size: 25px !important;
        padding-bottom: 10px;
        text-align: center !important;
    }
    .pull-left, .pull-right {
        float: none !important;
    }
    .landing-p {
        font-size: 18px !important;
        text-align: center !important;
    }
    #landing .carousel-caption .container small, #banner-home .carousel-caption .container small {
        font-size: 16px;
    }
    #landing .carousel-caption .container i, #banner-home .carousel-caption .container i {
        font-size: 16px;
    }
}

#browser-window {
    .loading-star {
    	position: absolute;
    	left: 50%;
    	top: 50%;

    	width: 80px;
    	height: 80px;
    	margin-left: -40px;
    	margin-top: -40px;

        // background-color: #FFF;
        background-image: url(../images/star.png);
        background-position: center center;
        background-repeat: no-repeat;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        background-size: cover;
        border-radius: 100%;
        -webkit-animation: scaleout 1.0s infinite ease-in-out;
        animation: scaleout 1.0s infinite ease-in-out;
    }
    .landing-site-preview {
        position: relative;
    }
    #iframe-wrapper {
        height: 100%;
        #previewIFrame {
            width:200% !important;
            height:200% !important;
            transform: scale(0.5);
            transform-origin: 0 0;
        }
    }
}

@-webkit-keyframes scaleout {
    0% {
        -webkit-transform: scale(0.0)
    }
    100% {
        -webkit-transform: scale(1.0);
        opacity: 0;
    }
}
@keyframes scaleout {
    0% {
        transform: scale(0.0) rotate(0deg);
        -webkit-transform: scale(0.0) rotate(0deg);
    }
    100% {
        transform: scale(1.0) rotate(90deg);
        -webkit-transform: scale(1.0) rotate(90deg);
        opacity: 0;
    }
}
