#cookiesModal{
	font-family: Arial, Helvetica, SansSerif;

	.modal-dialog{
		background-color: #FFF;
		color:#666;
		margin-top: 60PX;
	}
	.modal-header{
		background-color: #FFF;
		color:#666;
		border-bottom: 1px solid #CCC;

		h1, h2, h3, h4, h5, h6{
			font-family: Arial, Helvetica, SansSerif;
			color:#666;
		}
	}
	.modal-body{
		background-color: #FFF;
		color:#666;
		font-size: @font-size-small;
		

		#cookiesModalContainer{
			padding: inherit;

			h1, h2, h3, h4, h5, h6{
				font-family: Arial, Helvetica, SansSerif;
				padding: 0px 0px 0px 0px;
			}

			p{
				padding-left:0px;
				padding-right:0px;
			}

			ul{
				margin-left: 0px;
				padding-left: 15px;
			}

		}
	}
	.modal-footer{
		background-color: #FFF;
		color:#666;
		border-top: 1px solid #CCC;

	}
}

#cookies-alert-container{
	top:0;

	.alert-warning{
		background-color: #333;
    	border-color: #FFF;
    	color: #CCC;
    	border-color: #666;
    	padding-top: 8px;
    	padding-bottom: 8px;
    	text-align: center;

	    
	    border-top-left-radius: @squared-corners;
	    border-top-right-radius: @squared-corners;	    
	    border-bottom-left-radius: @squared-corners;
	    border-bottom-right-radius: @squared-corners;

	    .close{
	    	color: #CCC;
	    }
	}
}
