@import "_config.less";

@secondary_sidebar_width: 330px;

@black: #000;
@white: #FFF;

@color-editor-main-background: #333;
@color-editor-main-border: #666;
@color-editor-main-text: hsl(0%, 0%, 96%);

@color-editor-generic-background: #333; //input
@color-editor-generic-border: #666;
@color-editor-generic-text: hsl(0%, 0%, 85%);
@color-editor-generic-error: @brand-warning;

@color-editor-generic-hover-background: hsl(0%, 0%, 28%);
@color-editor-generic-hover-text: hsl(0%, 0%, 90%);

@color-editor-selected-background: hsl(0%, 0%, 22%);
@color-editor-selected-text: hsl(0%, 0%, 92%);
@color-editor-selected-error: @brand-warning;

@color-editor-selected-hover-background: hsl(0%, 0%, 13%);
@color-editor-selected-hover-text: hsl(0%, 0%, 95%);

@color-editor-input-background: #e2e2e2;
@color-editor-input-background-focus: #fafafa;
@color-editor-input-text: #333;
@color-editor-input-text-focus: #111;
@color-editor-input-border: #6b6b6b;
@color-editor-input-border-focus: #191919;
@color-editor-input-placeholder: #444;

@editor-input-border-radius: 2px;

@editor-blue: rgba(24,25,43,0.5);
@editor-blue-solid: rgb(24,25,43);


@import "variables.less";
@import "thumbnail.less";
@import "../../assets/bootstrap-less/bootstrap.less";
@import url(http://fonts.googleapis.com/css?family=Asap:400,700,400italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic);
@import "typography.less";

@import "editor/form-elements";
@import "editor/topbar";
@import "editor/layout";
@import "editor/sidebar";
@import "editor/modal";
@import "editor/store";
@import "editor/buy";
@import "editor/ad";


/* GENERIC SETTINGS */

.icon-true{
	color: #00A000;
}
.icon-false{
	color: #ce343c;
}


p{
	padding: 0;
	margin: 0;
	font-weight: normal;
}

.no-gutter{
	padding-left: 0!important;
	padding-right: 0!important;
}

.truncate{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.touch {
	-webkit-overflow-scrolling: touch;
}
