@charset "UTF-8";

// ------ FORMS ---------

#contactform .formsection {
    float: left;
}
.wrapper form, .event-popup form {
    background: #F6F6F6;
}
optgroup {
    color: red;
    -webkit-appearance: none;
}
option {
    color: #333;
    
    background: #FFF;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
#adminbar form {
    overflow: auto;
}
label {
    display: block;
    margin-bottom: 10px;
}
.required {
    color: #9CF;
    font-weight: bold;
    font-size: 18px;
    display: inline !important;
}
.formsection {
    overflow: auto;
    position: relative;
}
.formsection a {
    overflow: auto;
    position: relative;
    font-weight: 700;
}
.formsection span {
    display: block;
    padding: 6px;
}
.float-span {
    width: 30%;
    float: left;
    padding: 6px 6px 6px 6px !important;
}
#contact-form, #register-domain-form {
    overflow: auto;
}
#contact-form h3, #register-domain-form h3 {
    padding: 6px;
    margin-bottom: 10px;
    margin-top: 10px;
    clear: both;
}

// stili forms generali 

input, text, textarea, select, file, submit, .url-web {
    margin: 0px;
    padding: 0px;
    display: block;
    
    padding: 10px 20px;
    margin: 0px 0px;
    border: 0px;
    color: #666;
    width: 100% !important;
    
    -webkit-appearance: none;
    background: #E5E5E5 !important;
    font-size: 14px;
    
    height: 44px;
    
    border-radius: 0px;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.url-web {
    text-align: center;
}
#suggested_names {
    color: #333;
    font-weight: bold;
}
.domainextension {
    background-color: #999;
}
input:focus, text:focus, textarea:focus, select:focus, file:focus, submit:focus {
    background-color: #FFF;
    color: #666;
}
input[type="text"] {} textarea, input[type="textarea"] {
    min-height: 124px !important;
    
    line-height: 120%;
}

checkbox, input[type="checkbox"] {
    margin-top: 2px;
    width: 15px !important;
    height: 15px !important;
    border: 0px;
    padding: 0px 0px 0px 0px;
    background: #999;
    display: block !important;
    
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -o-border-radius: 15px;
    -ns-border-radius: 15px;
}
.cbp-mc-column li input[type="checkbox"] {
    float: right;
    display: inline;
}
.cbp-mc-column li label {
    float: left;
}
input[type="select"] {
    background-color: #333;
}
input[type="checkbox"]:checked {
    background-color: #ccc;
}
#privacy-check {
    float: left;
    margin-top: 5px;
    margin-right: 5px;
}
input[type="submit"] {
    cursor: pointer !important;
    color: #FFF;
}
.pulz {
    width: 100%;
    
    background-color: #9CF;
    color: #FFF;

    cursor: pointer;
    
    font-weight: normal;
    text-transform: uppercase;
}
.styled-select {
    text-transform: uppercase !important;
    float: left;
    width: 211px;
    height: 55px;
    border: 0px;
    
    overflow: hidden;
    
    text-align: center;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
}
.second-select {
    margin-left: 10px;
}
:hover.styled-select {
    background: #FFF url(http://www.hellobrand.it/images/select.png) right center no-repeat;
    color: #999 !important;
}
.styled-select select {
    color: #FFF;
    
    text-transform: uppercase !important;
    background: transparent;
    width: 201px;
    padding-left: 10px;
    padding-right: 10px;
    
    font-size: 15px;
    line-height: 1;
    border: 0;
    border-radius: 0;
    height: 40px;
    padding-top: 15px;
    border: 1px solid #CCC;
    text-align: left;
    font-family: 'Oswald', Arial, sans-serif;
    font-weight: 300;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    -ns-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
}
:hover.styled-select select {
    color: #999 !important;
}
.styled-select select option {
    text-transform: uppercase !important;
    color: #000;
    background: #FFF;
    border: 0;
    border-radius: 0;
    
    border-bottom: 1px solid #CCC;
    padding: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    -ns-appearance: none;
}
#contact-form-message, #contact-form-submit {
    float: none !important;
}

// errori

form label.error {
    display: block;
    padding: 5px 10px;
    background: #F00;
    color: #000;
    position: absolute;
    top: 0px;
    right: 0px;
}
#success, #error {
    display: none
}
#success span p {
    padding: 5px 10px;
    background: #9bd32d;
    color: #000 !important;
}
#error span p {
    padding: 5px 10px;
    background: #c0392b;
    color: #000 !important;
}
