@import "_config.less";

#fb-page-search {
    // font-size: 10px;
    // position: absolute;
    // background-color: #FFF;
    // margin: 0px;
    // padding: 0px;
    // z-index: 9999999999;
    margin-bottom: 20px;

    ul.dropdown-menu {
        list-style-type: none;
        margin: 0px;
        padding: 0px;
        color: #666 !important;
        border-radius: 0;
        li {
            display: block;
            margin: 0px;
            padding: 0px;
            cursor: pointer;
            //border-bottom: 1px solid @gray-lighter;
            &:hover {
                background-color: @brand-gray-secondary;
            }
        }
    }

    .singlesuggest p {
        font-size: 11px;
        color: @gray-light;
        text-shadow: none;
    }
    .suggestpagename {
        text-shadow: none;
        font-size: 12px;
        font-weight: bold;
        color: #6DB3E4;
        margin-top: 10px;
        margin-bottom: 3px;
    }
    .pagedatacategory {
        display: block;
        font-weight: bold;
    }
    .pagedatalikes {
        display: block;
    }
    .pagedatalikes strong {
        padding-left: 5px;
        color: #666 !important;
    }
    .suggestimg {
        padding-right: 0px !important;
        width: 100px;
    }

    .ng-isolate-scope{
        z-index: 999999;
    }

    .search-input-wrapper {
        padding: 0;
        border: none;

        & > ul.dropdown-menu {
            width: 100%;
            z-index: 10;
        }
    }
}