@import "_config.less";

// DEVICES ICONS

.devices-icon {
    background-color: @gray-lighter;
    background-repeat: no-repeat;
    background-position: center;
    width: 36px;
    height: 35px;
    margin-right: 1px;
    display: block;
    /*margin-top:15px;*/

    float: left;
}
.devices-icon-desktop {
    background-image: @icon-desktop;
}
.devices-icon-tablet {
    background-image: @icon-tablet;
}
.devices-icon-phone {
    background-image: @icon-phone;
}
.online {
    color: @brand-success;
}
.offline {
    color: @brand-danger;
}
.branding {
    display: none;
}
.block {
    display: block;
}
.box-shadow {
    box-shadow: 1px 2px 2px 0px @gray-lighter;
    -webkit-box-shadow: 1px 2px 2px 0px @gray-lighter;
    -moz-box-shadow: 1px 2px 2px 0px @gray-lighter;
}
.box-shadow-dark {
    box-shadow: 1px 2px 2px 0px @gray-dark;
    -webkit-box-shadow: 1px 2px 2px 0px @gray-dark;
    -moz-box-shadow: 1px 2px 2px 0px @gray-dark;
}
.box-shadow-inset {
    /*
	box-shadow: 0px 3px 5px 0px @gray-light inset;
	-webkit-box-shadow: 0px 3px 5px 0px @gray-light inset;
	-moz-box-shadow: 0px 3px 5px 0px @gray-light inset;
	*/
}
.r {
    float: right;
}
.l {
    float: left;
}

/* share buttons */

.sharelink {
    display: block;
    text-align: center;
    // text-align: center;
    /*padding:10px;
	display:block;
	text-align:center;
	line-height:15px;*/
    /*background-position:center center;
	background-repeat:no-repeat;
	border:1px solid #CCC;
 	width:30px;
	height:30px;
		-webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	text-indent: -999px;*/

    .fa {
        text-align: center;
        display: block;
        font-size: 20px;
        line-height: 40px;
        background-color: #FFF !important;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border-top-left-radius: 50%;
        border-top-right-radius: 50%;
        border-bottom-right-radius: 50%;
        border-bottom-left-radius: 50%;
    }
}
:hover.sharelink {
    color: #FFF !important;
}
.f, a:hover.f {
    /*background-color:#374E79;*/

    color: #374E79;
    /*background-image:url(../img/social_icons/getconnected_fb.png);*/
}
.t, a:hover.t {
    /*background-color:#00ACEE;*/

    color: #00ACEE;
    /*background-image:url(../img/social_icons/getconnected_twitter.png);*/
}
.go, a:hover.go {
    /*background-color:#00ACEE;*/

    color: #c23321;
    /*background-image:url(../img/social_icons/getconnected_twitter.png);*/
}
.pad {
    cursor: pointer;
    /*background:@white !important;
	position:absolute;*/
    /*padding:20px;*/

    box-shadow: 1px 2px 2px 0px @gray-lighter;
    -webkit-box-shadow: 1px 2px 2px 0px @gray-lighter;
    -moz-box-shadow: 1px 2px 2px 0px @gray-lighter;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
}
:hover.pad {
    transform: scale(1.02);
    /*margin-left:-8px;
	margin-top:-8px;*/

    box-shadow: 4px 4px 12px 0px @gray-lighter;
    -webkit-box-shadow: 4px 4px 12px 0px @gray-lighter;
    -moz-box-shadow: 4px 4px 12px 0px @gray-lighter;
}
:active.pad {
    transform: scale(0.95);
    /*margin-left:-8px;
	margin-top:-8px;*/

    box-shadow: 2px 2px 12px 0px @gray;
    -webkit-box-shadow: 2px 2px 12px 0px @gray;
    -moz-box-shadow: 2px 2px 12px 0px @gray;
}
.no-gutter {
    padding-left: 0;
    padding-right: 0;
    /*background:#066;*/
}
h1, h2, h3, h4, h5, h6 {
    /*font-style:italic;*/

    font-weight: normal;
    font-family: 'Asap', sans-serif;
    // font-family: @font-family-sans-serif;
    font-weight: 700;
    /*letter-spacing:1px;*/

    color: @brand-primary;
    /*
	line-height:100%;
	margin-top:0px;
	padding-top:0px;
	text-transform:uppercase;
	*/
    /*
	text-shadow: 1px 1px 1px  @gray-light ;
	-webkit-text-shadow: 1px 1px 1px  @gray-light ;
	-moz-text-shadow: 1px 1px 1px  @gray-light ;
	*/
}
small {
    font-weight: 400;
}
.progress, .progress-bar {
    -webkit-border-top-left-radius: @squared-corners;
    -webkit-border-top-right-radius: @squared-corners;
    -moz-border-radius-topleft: @squared-corners;
    -moz-border-radius-topright: @squared-corners;
    border-top-left-radius: @squared-corners;
    border-top-right-radius: @squared-corners;
    webkit-border-bottom-left-radius: @squared-corners;
    -webkit-border-bottom-right-radius: @squared-corners;
    -moz-border-radius-bottomleft: @squared-corners;
    -moz-border-radius-bottomright: @squared-corners;
    border-bottom-left-radius: @squared-corners;
    border-bottom-right-radius: @squared-corners;
    font-size: 14px;
}
.nav-pills li a {
    background-color: @gray;
    color: @white;
    margin-bottom: 3px;
    cursor: pointer;
    -webkit-border-top-left-radius: @squared-corners;
    -webkit-border-top-right-radius: @squared-corners;
    -moz-border-radius-topleft: @squared-corners;
    -moz-border-radius-topright: @squared-corners;
    border-top-left-radius: @squared-corners;
    border-top-right-radius: @squared-corners;
    webkit-border-bottom-left-radius: @squared-corners;
    -webkit-border-bottom-right-radius: @squared-corners;
    -moz-border-radius-bottomleft: @squared-corners;
    -moz-border-radius-bottomright: @squared-corners;
    border-bottom-left-radius: @squared-corners;
    border-bottom-right-radius: @squared-corners;
    .badge {
        /*background-color:@gray-lighter;*/
        /*color:@gray !important;
		 background:none;*/

        color: @brand-primary;
        background: @gray-darker;
    }
    .fa, .glyphicon {
        color: @brand-primary;
    }
}
.nav-pills > li.active > a, .nav-pills > li > a:hover, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    background-color: @brand-primary;
    color: darken(@brand-primary, 30%);
    color: @gray;
    .fa {
        color: @gray;
    }
    .badge {
        /*background-color:@gray-light;*/
        /*color:@gray !important;
		 background:none;*/

        color: @brand-primary;
    }
}
.form-control {
    font-weight: 400;
    border: 1px solid @gray-lighter;
    background-color: @white;
    /*border:0px !important;*/

    -webkit-border-top-left-radius: @squared-corners !important;
    -webkit-border-top-right-radius: @squared-corners !important;
    -moz-border-radius-topleft: @squared-corners !important;
    -moz-border-radius-topright: @squared-corners !important;
    border-top-left-radius: @squared-corners !important;
    border-top-right-radius: @squared-corners !important;
    webkit-border-bottom-left-radius: @squared-corners !important;
    -webkit-border-bottom-right-radius: @squared-corners !important;
    -moz-border-radius-bottomleft: @squared-corners !important;
    -moz-border-radius-bottomright: @squared-corners !important;
    border-bottom-left-radius: @squared-corners !important;
    border-bottom-right-radius: @squared-corners !important;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
// :focus.form-control{
// 	box-shadow: none;
// 	 -webkit-box-shadow: none;
// 	 -moz-box-shadow: none;
// 	 box-shadow: none;
// 	 border:1px solid @brand-primary;
// 	 border:@squared-corners !important;
// 	}
.btn {
    /*font-family: @font-family-sans-serif;*/

    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    webkit-border-bottom-left-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-bottomleft: 3px;
    -moz-border-radius-bottomright: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
.label {
    /*text-transform:uppercase;*/

    font-weight: 400;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
}
span.input-group-addon {
    top: 0px;
    /*text-transform:uppercase;*/

    border-color: @gray-whiter;
    font-weight: 400;
    color: @gray-light;
    //background:@gray-lighter;
    background-color: @gray-whiter;
    //background-image: repeating-linear-gradient(-45deg, transparent, transparent 5px, @gray-light 5px, @gray-whiter 10px);
    -webkit-border-top-left-radius: @squared-corners;
    -webkit-border-top-right-radius: @squared-corners;
    -webkit-border-bottom-right-radius: @squared-corners;
    -webkit-border-bottom-left-radius: @squared-corners;
    -moz-border-radius-topleft: @squared-corners;
    -moz-border-radius-topright: @squared-corners;
    -moz-border-radius-bottomright: @squared-corners;
    -moz-border-radius-bottomleft: @squared-corners;
    border-top-left-radius: @squared-corners;
    border-top-right-radius: @squared-corners;
    border-bottom-right-radius: @squared-corners;
    border-bottom-left-radius: @squared-corners;
}
span.input-group-btn {
    .btn {
        -webkit-border-top-left-radius: @squared-corners;
        -webkit-border-top-right-radius: 3px !important;
        -webkit-border-bottom-right-radius: 3px !important;
        -webkit-border-bottom-left-radius: @squared-corners;
        -moz-border-radius-topleft: @squared-corners;
        -moz-border-radius-topright: 3px !important;
        -moz-border-radius-bottomright: 3px !important;
        -moz-border-radius-bottomleft: @squared-corners;
        border-top-left-radius: @squared-corners;
        border-top-right-radius: 3px !important;
        border-bottom-right-radius: 3px !important;
        border-bottom-left-radius: @squared-corners;
    }
}
.btn-primary.disabled, .btn-primary.disabled.active, .btn-primary.disabled.focus, .btn-primary.disabled:active, .btn-primary.disabled:focus, .btn-primary.disabled:hover, .btn-primary[disabled], .btn-primary[disabled].active, .btn-primary[disabled].focus, .btn-primary[disabled]:active, .btn-primary[disabled]:focus, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary, fieldset[disabled] .btn-primary.active, fieldset[disabled] .btn-primary.focus, fieldset[disabled] .btn-primary:active, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary:hover {
    font-family: @font-family-sans-serif;
    background: @brand-primary;
    color: @white;
    border-color: @brand-primary;
}
.form-control {
    background: @white;
    font-weight: 300;
    /*color:@white;*/
}
.btn-buy {
    font-family: @font-family-sans-serif;
    background: darken(@brand-primary, 10%);
    color: lighten(@brand-primary, 30%);
    border-color: darken(@brand-primary, 10%);
    /*font-weight:300;*/
    /*box-shadow: 0px 3px 0px 0px @brand-primary-dark ;
	-webkit-box-shadow: 0px 3px 0px 0px @brand-primary-dark ;
	-moz-box-shadow: 0px 3px 0px 0px @brand-primary-dark ;*/
}
:hover.btn-buy {
    background: darken(@brand-primary, 10%);
    color: @white;
    border-color: darken(@brand-primary, 10%);
    /*font-weight:300;*/
    /*box-shadow: 0px 3px 0px 0px @brand-primary-dark ;
	-webkit-box-shadow: 0px 3px 0px 0px @brand-primary-dark ;
	-moz-box-shadow: 0px 3px 0px 0px @brand-primary-dark ;*/
}
.btn-default {
    font-family: @font-family-sans-serif;
    background: @gray;
    color: @white;
    border-color: @gray;
    /*font-weight:300;*/
    /*box-shadow: 0px 3px 0px 0px @brand-primary-dark ;
	-webkit-box-shadow: 0px 3px 0px 0px @brand-primary-dark ;
	-moz-box-shadow: 0px 3px 0px 0px @brand-primary-dark ;*/
}
:hover.btn-default {
    background: darken(@gray, 20%);
    border-color: darken(@gray, 20%);
    color: @gray;
    /*box-shadow: 0px 0px 0px 0px @brand-primary-dark ;
	-webkit-box-shadow: 0px 0px 0px 0px @brand-primary-dark ;
	-moz-box-shadow: 0px 0px 0px 0px @brand-primary-dark ;*/
}
.btn-primary {
    font-family: @font-family-sans-serif;
    background: @brand-primary;
    color: @white;
    border-color: @brand-primary;
    /*font-weight:300;*/
    /*box-shadow: 0px 3px 0px 0px @brand-primary-dark ;
	-webkit-box-shadow: 0px 3px 0px 0px @brand-primary-dark ;
	-moz-box-shadow: 0px 3px 0px 0px @brand-primary-dark ;*/
}
:hover.btn-primary {
    background: darken(@brand-primary, 20%);
    border-color: darken(@brand-primary, 20%);
    color: @brand-primary !important;
    /*box-shadow: 0px 0px 0px 0px @brand-primary-dark ;
	-webkit-box-shadow: 0px 0px 0px 0px @brand-primary-dark ;
	-moz-box-shadow: 0px 0px 0px 0px @brand-primary-dark ;*/
}
:hover.btn-primary:disabled {
	color: @white !important;
}
.btn-facebook-login {
    background: @brand-facebook;
    color: @white;
    border-color: @brand-facebook;
    /*box-shadow: 0px 3px 0px 0px @brand-primary-dark ;
	-webkit-box-shadow: 0px 3px 0px 0px @brand-primary-dark ;
	-moz-box-shadow: 0px 3px 0px 0px @brand-primary-dark ;*/
}
:hover.btn-facebook-login {
    background: darken(@brand-primary, 20%);
    border-color: darken(@brand-primary, 20%);
    color: @brand-primary !important;
    /*box-shadow: 0px 0px 0px 0px @brand-primary-dark ;
	-webkit-box-shadow: 0px 0px 0px 0px @brand-primary-dark ;
	-moz-box-shadow: 0px 0px 0px 0px @brand-primary-dark ;*/
}
/*.btn-facebook-login:after {
  content: url(https://dl.dropboxusercontent.com/u/54149043/CssDeck/fb-icon.png);
  display: block;
  padding: 9px 10px 5px 15px;
}*/

.btn-link {
    border: none;
}
.img-responsive {
    width: 100% !important;
    height: auto !important;
}
.img-circle {
    /*box-shadow: 5px 5px 5px 0px @gray-light ;
	-webkit-box-shadow: 5px 5px 5px 0px @gray-light ;
	-moz-box-shadow: 5px 5px 5px 0px @gray-light ;
	background: @white;*/
}
:hover.img-circle {
    /*box-shadow: 2px 2px 2px 0px @gray-darker ;
	-webkit-box-shadow: 2px 2px 2px 0px @gray-darker ;
	-moz-box-shadow: 2px 2px 2px 0px @gray-darker ;
	background:@gray-lighter;*/
}
:onclick.img-circle {
    border: 1px solid #C00;
    background: #096;
}
.alert {
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    a {
        font-weight: bold;
    }
}
.alert-top {
    margin-bottom: 0px;
}
.intro {
    margin-bottom: 100px;
}
.panel, .panel-heading, .panel-body {
    border: 0px;
    -webkit-border-top-left-radius: 0px;
    -webkit-border-top-right-radius: 0px;
    -moz-border-radius-topleft: 0px;
    -moz-border-radius-topright: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    webkit-border-bottom-left-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;
    -moz-border-radius-bottomleft: 0px;
    -moz-border-radius-bottomright: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    p {
        font-weight: 400;
    }
}
.nav-stacked > li + li {
    margin-top: 0px;
}
.pagination > li:first-child > a, .pagination > li:first-child > span {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
.pagination > li:last-child > a, .pagination > li:last-child > span {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.username {
    color: @brand-secondary;
}
/* GENERAL STYLES */

body {
    font-family: @font-family-sans-serif;
    font-weight: 300;
    font-size: 16px;
    /*font-family:@font-family-sans-serif;*/

    background: @gray-dark;
    color: @gray;
}
a {
    color: @brand-primary;
    transition: all .15s;
	&.website-link{
		color: @brand-secondary;
		text-decoration: underline;
		&:hover{
			color: darken(@brand-secondary, 20%);
			text-decoration: underline;
		}
	}
}
a:hover {
    color: darken(@brand-primary, 20%);
    text-decoration: none;
}
.container {
    /*background: #C63;*/

    padding-top: @padding-sections;
    padding-bottom: @padding-sections;
    /*
	padding-left:30px;
	padding-right:30px;
	*/
}
.container-fluid {
    /*background:#EDF2F7;
	padding: 0px;*/
}
.cover-bg {
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


/* PULSE UNSYNKED */

@keyframes "pulse-unsynced" {
    0% {
        background-color: @status-unsynced;
    }
    50% {
        background-color: lighten(@status-unsynced, 20%);
    }
    100% {
        background-color: @status-unsynced;
    }
}
@-moz-keyframes "pulse-unsynced" {
    0% {
        background-color: @status-unsynced;
    }
    50% {
        background-color: lighten(@status-unsynced, 20%);
    }
    100% {
        background-color: @status-unsynced;
    }
}
@-webkit-keyframes "pulse-unsynced" {
    0% {
        background-color: @status-unsynced;
    }
    50% {
        background-color: lighten(@status-unsynced, 20%);
    }
    100% {
        background-color: @status-unsynced;
    }
}
@-ms-keyframes "pulse-unsynced" {
    0% {
        background-color: @status-unsynced;
    }
    50% {
        background-color: lighten(@status-unsynced, 20%);
    }
    100% {
        background-color: @status-unsynced;
    }
}
/* PULSE PENDING */

@keyframes "pulse-pending" {
    0% {
        background-color: @status-pending;
    }
    50% {
        background-color: lighten(@status-pending, 20%);
    }
    100% {
        background-color: @status-pending;
    }
}
@-moz-keyframes "pulse-pending" {
    0% {
        background-color: @status-pending;
    }
    50% {
        background-color: lighten(@status-pending, 20%);
    }
    100% {
        background-color: @status-pending;
    }
}
@-webkit-keyframes "pulse-pending" {
    0% {
        background-color: @status-pending;
    }
    50% {
        background-color: lighten(@status-pending, 20%);
    }
    100% {
        background-color: @status-pending;
    }
}
@-ms-keyframes "pulse-pending" {
    0% {
        background-color: @status-pending;
    }
    50% {
        background-color: lighten(@status-pending, 20%);
    }
    100% {
        background-color: @status-pending;
    }
}
/* STATUS */

.status-pending {
    border-right: 2px solid @status-pending;

    a.btn-circle, a.btn {
        background-color: @status-pending;
        color: #FFF;

        // -webkit-animation: pulse-pending 1.5s linear infinite;
        // -moz-animation: pulse-pending 1.5s linear infinite;
        // -ms-animation: pulse-pending 1.5s linear infinite;
        // animation: pulse-pending 1.5s linear infinite;

        // -webkit-transition-duration: 1s;
        //    -moz-transition-duration: 1s;
        //    -o-transition-duration: 1s;
        //    transition-duration: 1s;
        //    -webkit-transition-property: -webkit-transform;
        //    -moz-transition-property: -moz-transform;
        //    -o-transition-property: -o-transform;
        //    transition-property: transform;
    }
    :hover.btn-circle, :hover.btn {
        background-color: lighten(@status-pending, 30%);
        color: #FFF;
        // -webkit-transform: rotate(50deg);
        // -moz-transform: rotate(50deg);
        // -o-transform: rotate(50deg);
        // -ms-transform: rotate(50deg);
        // transform: rotate(50deg);

    }
    .btn-circle:onclick, .btn:onclick {
        background-color: darken(@status-pending, 30%);
        color: #FFF;
    }
}
.status-synced {
    border-right: 2px solid @status-synced;

    a.btn-circle, a.btn  {
        background-color: @status-synced;
        color: #FFF;
    }
    :hover.btn-circle, :hover.btn {
        background-color: darken(@status-synced, 30%);
        color: #FFF;
    }
}
.status-unsynced {
    border-right: 2px solid @status-unsynced;
    a.btn-circle, a.btn {
        background-color: @status-unsynced;
        -webkit-animation: pulse-unsynced 1.5s linear infinite;
        -moz-animation: pulse-unsynced 1.5s linear infinite;
        -ms-animation: pulse-unsynced 1.5s linear infinite;
        animation: pulse-unsynced 1.5s linear infinite;
        color: #FFF;
    }
    :hover.btn-circle, :hover.btn {
        background-color: darken(@status-unsynced, 30%);
        color: #FFF;
    }
}

/* PULSE SINC */

.refresh{
    margin-top: 20px;

    .status-syncing{
        background-color: @brand-secondary!important;
        transition: all 0.3s;
        color: @gray !important;

        .fa, .gliphicon{
            color: @gray !important;
        }

        .glyphicon-refresh{
            color: @gray !important;

        -webkit-animation-name: spin;
        -webkit-animation-duration: 1s; /* 40 seconds */
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-timing-function: linear;

        /* mozilla ff */
        -moz-animation-name: spin;
        -moz-animation-duration: 1s; /* 40 seconds */
        -moz-animation-iteration-count: infinite;
        -moz-animation-timing-function: linear;

        /* microsoft ie */
        -ms-animation-name: spin;
        -ms-animation-duration: 1s; /* 40 seconds */
        -ms-animation-iteration-count: infinite;
        }
    }
}

.status-syncing{
    background-color: lighten(@brand-secondary, 20%) !important;
    transition: all 0.3s;

    h1, h2, h3, h4, h5, h6, .list-title, .badge{
        color: @brand-secondary !important;
        background-color: lighten(@brand-secondary, 20%) !important;
    }

    .photoContainer{
        opacity: 0.3;
    }

    .btn, :hover.btn{
        background-color: @brand-secondary !important;

        &.status-unsynced .glyphicon-refresh,
        .glyphicon-refresh{

        -webkit-animation-name: spin;
         -webkit-animation-duration: 1s; /* 40 seconds */
         -webkit-animation-iteration-count: infinite;
         -webkit-animation-timing-function: linear;

         /* mozilla ff */
         -moz-animation-name: spin;
         -moz-animation-duration: 1s; /* 40 seconds */
         -moz-animation-iteration-count: infinite;
         -moz-animation-timing-function: linear;

         /* microsoft ie */
         -ms-animation-name: spin;
         -ms-animation-duration: 1s; /* 40 seconds */
         -ms-animation-iteration-count: infinite;
        }
    }
    .last-update{
        background-color: @brand-secondary !important;
        strong{
        color: darken(@brand-secondary, 40%);

        }
    }
}

@keyframes spin {
    0% {
        transform:rotate(0deg);
    }
    100% {
        transform:rotate(360deg);
    }
}
@keyframes spin {
    0% {
        transform:rotate(0deg);
    }
    100% {
        transform:rotate(360deg);
    }
}

/* ADMIN BAR */

.navbar-inverted {
    background: @gray;
    font-weight: 300;
    border: none;
    /*height: 66px;
	line-height: 67px;
	font-size: 14px;*/

    .navbar-nav {
        border-left: 1px solid @gray-light;
        li {
            border-right: 1px solid @gray-light;
        }
        a {
            color: @gray-lighter !important;
            text-transform: uppercase;
        }
        a:hover, .active a, .active a:hover {
            color: @brand-primary !important;
            background: none !important;
        }
    }
    .navbar-brand {
        background: @brand-primary;
        color: @white;
    }
}
/* NAVIGATION BAR */

.navbar-default .navbar-toggle {
    border-width: 0px !important;
    border-color: @white !important;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
}
.navbar-toggle {
    padding: 12px 10px;
    // background-color: @gray-lighter;
}
.navbar-main-collapse {
    /*background-color:@gray-lighter;*/
}
.navbar-default {
    margin-bottom: 0px;
    background: @white;
    border: none;
    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-radius: 0px;
    .container {
        /*background:#EDF2F7;*/

        font-family: @font-family-sans-serif;
        padding-top: 0px;
        padding-bottom: 0px;
        .navbar-nav {
            /*background:#C36;*/

            a {
                // font-weight: 700;
                color: @gray !important;
                font-weight: 400;
                padding-top: 20px;
                padding-bottom: 20px;
                line-height: 35px;
            }
            a:hover, .active a:hover {
                color: @brand-primary !important;
                background: none;
            }
            .active a {
                color: @brand-primary !important;
                background: none;
                /*background:@brand-primary;*/
            }
            .glyphicon-user {
                color: @brand-primary;
            }
            #navbar-brand-img {
                height: 40px !important;
                max-height: 40px !important;
                margin-top: 2px;
            }
        }
    }
}
/* BANNER */

#banner-home {
    .pad {
        box-shadow: 1px 2px 2px 0px darken(@gray, 30%);
        -webkit-box-shadow: 1px 2px 2px 0px darken(@gray, 30%);
        -moz-box-shadow: 1px 2px 2px 0px darken(@gray, 30%);
    }
    .box-shadow {
        box-shadow: 1px 2px 2px 0px darken(@gray, 30%);
        -webkit-box-shadow: 1px 2px 2px 0px darken(@gray, 30%);
        -moz-box-shadow: 1px 2px 2px 0px darken(@gray, 30%);
    }

    position: relative;
    z-index: 10;

    .carousel-caption {

        .full-height {
            height: 100%;
        }

		@media screen and (min-width: 992px) {
            .banner-col-sx {
                height: 100%;
            }
            .banner-content-container {
                position: relative;
                top: 50%;
            }
            .banner-content-container-1 { margin-top: -210px }
            .banner-content-container-2 { margin-top: -150px }
            .banner-content-container-3 { margin-top: -230px }
        }
        @media screen and (max-width: 991px) {
            .banner-col-sx {
                margin-top: 80px;
                height: 310px;
            }
            position: relative;
            #browser-window {
                height: 500px;
            }
            .container .banner-col-cont {
                padding-top: 20px !important;
            }
        }
    }
}
/* BANNER */

#carousel-example-generic {
    background-repeat: no-repeat;
    background-position: center;
    /*background-attachment:fixed;*/

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    .pad {
        box-shadow: 1px 2px 2px 0px darken(@brand-primary, 30%);
        -webkit-box-shadow: 1px 2px 2px 0px darken(@brand-primary, 30%);
        -moz-box-shadow: 1px 2px 2px 0px darken(@brand-primary, 30%);
    }
}
@media (max-width: 767px) {
    .carousel .row .span3 {
        display: block;
        float: left;
        width: 25%;
        margin-left: 0;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
}
.jumbotron {
    background: @brand-primary;
    margin-bottom: 0px;
    padding: 0px;
    h1, h2, h3, h4, h5, h6 {
        color: @brand-primary;
    }
    .container-fluid {
        /*background:#EDF2F7;*/

        padding: 0px;
    }
    p {
        color: @white;
    }
    strong {
        color: @brand-secondary;
    }
}
.carousel-control.left, .carousel-control.right {
    background-image: none !important;
}
.item {
    /*background-image:url(../images/foto.jpg);*/

    background-repeat: no-repeat;
    background-position: center;
    /*background-attachment:fixed;*/

    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 700px;
}
.carousel-caption {
    /**/

    bottom: 30%;
    /*bottom:0px;*/
    /*background:#FFF;*/
    /*margin-top:-25%;*/

    transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -webkit-transition: all .25s ease-in-out;
    h1, h2, h3, h4, h5, h6 {
        /*color:@brand-facebook;
		font-style:italic;
		font-weight:700;
		font-size:100px;*/
    }
    p {
        font-weight: 400;
        font-size: 25px;
    }
}
.slide {
    li {
        list-style: none;
    }
}
.item.next .carousel-caption {
    opacity: 0;
    bottom: 0px;
    transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -webkit-transition: all .25s ease-in-out;
}
/* TEAM */

#team {
    /*background:@white;*/

    background: @gray-whiter;
    color: @gray;
    h1, h2, h3, h4, h5, h6 {
        color: @brand-primary;
        // margin-bottom: 0px;
        /*font-size:18px;*/
    }
    span {
        /*display:block;*/
    }
    .name {
        /*font-size:20px;*/
    }
    .name, .surname {
        /*display:block;*/

        color: @brand-secondary;
        font-size: 20px;
    }
    .position {
        text-transform: uppercase;
        font-size: 12px;
    }
    .btn-circle {
        /*background: @gray;*/

        color: @white;
    }

    /* SOCIAL LINKS */

    .social-link-facebook {
        background: #374E79;
        color: #374E79;
    }
    .social-link-twitter {
        background: @brand-twitter;
        color: @white;
    }
    .social-link-youtube {
        background: @brand-youtube;
        color: @white;
    }
    .social-link-vimeo {
        background: @brand-vimeo;
        color: @white;
    }
    .social-link-linkedin {
        background: @brand-linkedin;
        color: @white;
    }

}
.team-social-links {
    margin-top: 20px;
}

/* ADVANTAGES */

#advantages {
    /*background:@white;*/

    background-color: @brand-gray-secondary;
    color: @gray;
    h1, h2, h3, h4, h5, h6 {
        color: @brand-primary;
        /*font-size:22px;*/
    }
    p {
        color: @gray;
    }
}
.feature {
    /*padding-top:@padding-element;*/
    /*padding-bottom:@padding-element;*/

    background-color: @white;
    margin-bottom: @margin-element;
    h1, h2, h3, h4, h5, h6 {
        color: @brand-secondary !important;
        font-family: 'Asap', Arial, Helvetica, sans-serif;
    }
    p {
        padding-bottom: 15px;
    }
    /*.pad{
	box-shadow: 1px 2px 2px 0px darken(@gray-light, 10%) !important;
	-webkit-box-shadow: 1px 2px 2px 0px darken(@gray-light, 10%) !important;
	-moz-box-shadow: 1px 2px 2px 0px darken(@gray-light, 10%) !important;
	}

	:hover.pad{
		box-shadow: 4px 4px 12px 0px darken(@gray-light, 10%) !important;
		-webkit-box-shadow: 4px 4px 12px 0px darken(@gray-light, 10%) !important;
		-moz-box-shadow: 4px 4px 12px 0px darken(@gray-light, 10%) !important;
	}*/
}
/*.single-feature{
		background-color:@brand-primary;
		}*/

#feature-001 #feature-icon-place {
    background-color: @easy !important;
}
#feature-002 #feature-icon-place {
    background-color: @manager-panel !important;
}
#feature-003 #feature-icon-place {
    background-color: @synchronized !important;
}
#feature-004 #feature-icon-place {
    background-color: @serch-engine-optimized !important;
}
#feature-005 #feature-icon-place {
    background-color: @customizable !important;
}
#feature-006 #feature-icon-place {
    background-color: @responsive !important;
}
.singlestep .row .no-gutter {
    /**/

    overflow: hidden;
}
.singlestep .row .no-gutter img {
    /*-webkit-transition: all 0.8s ease-in-out;
		-moz-transition: all 0.8s ease-in-out;
		-o-transition: all 0.8s ease-in-out;
		-ms-transition: all 0.8s ease-in-out;*/
}
:hover.singlestep .row .no-gutter img {
    /*
		width:130% !important;
		max-width:130% !important;
		margin-left:-15%;
		margin-top:-15%;*/
    /*padding-bottom:30px;*/
}

/* RESELLER */

#reseller, .reseller {
    background: darken(@brand-primary, 10%);
    color: @white;
    /*background-image:url(../images/reseller.jpg);
	background-image:url(../images/10-fun-games-that-look-like-office-work-06f8fea1c3.jpg);
*/

    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    h1, h2, h3, h4, h5, h6 {
        color: @white;
        font-weight: 400;
    }
    .lead {
        font-weight: 400;
        text-shadow: 1px 1px 1px @gray-light;
        -webkit-text-shadow: 1px 1px 1px @gray-light;
        -moz-text-shadow: 1px 1px 1px @gray-light;
    }
    .pad {
        box-shadow: 1px 2px 2px 0px darken(@brand-primary, 30%);
        -webkit-box-shadow: 1px 2px 2px 0px darken(@brand-primary, 30%);
        -moz-box-shadow: 1px 2px 2px 0px darken(@brand-primary, 30%);
    }
}

/* HELP */

#help, .help {
    background: @help;
    /*color:@white;*/

    .container {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    h1, h2, h3, h4, h5, h6 {
        /**/

        color: @white;
    }
    .lead {
        color: @white;
    }
    .pad {
        box-shadow: 1px 2px 2px 0px darken(@help, 50%);
        -webkit-box-shadow: 1px 2px 2px 0px darken(@help, 50%);
        -moz-box-shadow: 1px 2px 2px 0px darken(@help, 50%);
    }
    :hover.pad {
        box-shadow: 4px 4px 12px 0px darken(@help, 50%);
        -webkit-box-shadow: 4px 4px 12px 0px darken(@help, 50%);
        -moz-box-shadow: 4px 4px 12px 0px darken(@help, 50%);
    }
    a {
        /*color:@gray-darker;
		font-weight:400;*/
    }
    .btn {
        /*background:@help;
		color:@white;
		border-color:@white;*/
    }
}
.panel-help {
    background: @help;
    .panel-body {
        background: @white;
    }
}
.bg-help {
    background: @help;
    color: @white;
}

/* HELP SIDEBAR */

.help-sidebar {
    /*padding:15px;
	padding-bottom:15px;
	background:@gray-lighter;
	color:@white;*/

    margin-bottom: 15px;
    h1, h2, h3, h4, h5, h6 {
        color: @white;
        /*font-size:14px;*/
    }
}
.serch-sidebar {
    background-color: @brand-primary;
    margin-bottom: 15px;
}
.filter-sidebar {
    /*background-color:@brand-primary;*/

    margin-bottom: 15px;
}

/* PRICE */

#price, .price {
    background-color: @brand-primary;
    color: @gray-darker;
    /*background-image:url(../images/porcellino.jpg);
	background-repeat: no-repeat;
	background-position: center;

	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;*/

    h1, h2, h3, h4, h5, h6 {
        /**/

        color: darken(@buy, 25%);
        margin-top: 10px;
        margin-bottom: 0PX;
        ;
        /*font-size:18px;*/
    }


    .list-group-item-first {
        background-color: lighten(@brand-primary, 40%);
    }
    .lead {
        color: @brand-primary;
    }
    .pad {
        box-shadow: 1px 2px 2px 0px darken(@brand-primary, 25%);
        -webkit-box-shadow: 1px 2px 2px 0px darken(@brand-primary, 25%);
        -moz-box-shadow: 1px 2px 2px 0px darken(@brand-primary, 25%);
    }
    :hover.pad {
        box-shadow: 4px 4px 12px 0px darken(@brand-primary, 25%);
        -webkit-box-shadow: 4px 4px 12px 0px darken(@brand-primary, 25%);
        -moz-box-shadow: 4px 4px 12px 0px darken(@brand-primary, 25%);
    }
    li {
        color: @gray;
    }

}

/* PRICE NEW */

#price-new, .price-new {
    background-color: @brand-primary;
    color: @gray-darker;

    .price {
        position: relative;
        overflow: hidden;
    }
    .recommended-graphic {
        text-align: center;
        background-color: @brand-secondary;
        /*padding:4px;*/

        color: @white;
        position: absolute;
        z-index: 100;
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ns-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        width: 190px;
        top: 22px;
        left: -54px;
        border-left: 45px solid transparent;
        border-right: 45px solid transparent;
        line-height: 30px;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: bold;
        box-shadow: 1px 1px 4px 0px darken(@brand-secondary, 25%);
        -webkit-box-shadow: 1px 1px 4px 0px darken(@brand-secondary, 25%);
        -moz-box-shadow: 1px 1px 4px 0px darken(@brand-secondary, 25%);
    }
    h1, h2, h3, h4, h5, h6 {
        /**/

        color: darken(@brand-primary, 25%);
        margin-top: 10px;
        /*font-size:18px;*/
    }
    .list-group {
        border: 0px;
        background-color: lighten(@brand-primary, 40%);
        line-height: 130%;
    }
    .list-group-item-last {
        padding: 0px 0px 0px 0px;
    }
    .list-group-item-first {
        background-color: lighten(@brand-primary, 40%);
        line-height: 100%;
        h1, h2, h3, h4, h5, h6 {
            color: darken(@brand-primary, 25%);
            margin-top: 10px;
            font-size: 14px;
            text-transform: uppercase;
            font-style: normal;

        }
        .mounthprice {
            font-size: 14px;
            display: block;
        }
    }
    .lead {
        color: @white;
    }
    .pad {
        box-shadow: 1px 2px 2px 0px darken(@brand-primary, 25%);
        -webkit-box-shadow: 1px 2px 2px 0px darken(@brand-primary, 25%);
        -moz-box-shadow: 1px 2px 2px 0px darken(@brand-primary, 25%);
    }
    :hover.pad {
        box-shadow: 4px 4px 12px 0px darken(@brand-primary, 25%);
        -webkit-box-shadow: 4px 4px 12px 0px darken(@brand-primary, 25%);
        -moz-box-shadow: 4px 4px 12px 0px darken(@brand-primary, 25%);
    }
    li {
        color: @gray;


    }

    .badge {
           background-color: #FFF;
           padding: 0px 0px;
           font-size: @font-size-sm;

        }
    .glyphicon-ok{
            color: @status-synced ;

        }
    .glyphicon-remove{
            color: @status-unsynced ;
        }

    .sampledomain{
        font-size: 12px;
        color: @gray-light;
    }

    .pricing {
        font-family: 'Asap', sans-serif;
        font-weight: 700;
        font-size: 40px;
        text-transform: uppercase;
        color: darken(@brand-primary, 25%);
    }

    .recommended:hover.pad {
        transform: scale(1.10);
    }
    .recommended:active.pad {
        transform: scale(0.95);
    }
    .recommended {
        transform: scale(1.05);
    }
    .recommended .pad {
        transform: scale(1.05);
    }

    :hover.recommended .pad {
        transform: scale(1.10);
    }

}

/* LANDING */

#landing, .landing {
    background: @gray-light;
    color: #FFF !important;
    .container {
        padding: 150px 0px 0px 0px;
    }
    .calltoaction {
        margin-bottom: 0px !important;
    }
    .landing-p {
        /*margin-bottom:0px !important;*/
    }
    .btn {
        /*background:@buy;
		color:@gray-dark;
		border-color:@buy;*/
    }
    .pad {
        box-shadow: 1px 2px 2px 0px darken(@gray, 10%);
        -webkit-box-shadow: 1px 2px 2px 0px darken(@gray, 10%);
        -moz-box-shadow: 1px 2px 2px 0px darken(@gray, 10%);
    }
    .box-shadow {
        box-shadow: 1px 2px 2px 0px @black;
        -webkit-box-shadow: 1px 2px 2px 0px @black;
        -moz-box-shadow: 1px 2px 2px 0px @black;
    }
    .small-theme-min {
        width: 100% !important;
        margin-top: 0px;
        -webkit-transition: all 0.8s ease-in-out;
        -moz-transition: all 0.8s ease-in-out;
        -o-transition: all 0.8s ease-in-out;
        -ms-transition: all 0.8s ease-in-out;
    }
    :hover.small-theme-min {
        margin-top: -90%;
    }
}

/* THEMES */

#themes, .themes {
    background: @gray-dark;
    /*color:@white;*/

    h1, h2, h3, h4, h5, h6 {
        /*color:@gray-light;*/
        /*font-size:18px;*/
    }
    .box-shadow {
        box-shadow: 1px 2px 2px 0px @gray-dark;
        -webkit-box-shadow: 1px 2px 2px 0px @gray-dark;
        -moz-box-shadow: 1px 2px 2px 0px @gray-dark;
    }
    .lead {
        color: @gray-lighter;
    }
    .pad {
        box-shadow: 1px 2px 2px 0px darken(@gray, 25%);
        -webkit-box-shadow: 1px 2px 2px 0px darken(@gray, 25%);
        -moz-box-shadow: 1px 2px 2px 0px darken(@gray, 25%);
    }
    :hover.pad {
        box-shadow: 4px 4px 12px 0px darken(@gray, 25%);
        -webkit-box-shadow: 4px 4px 12px 0px darken(@gray, 25%);
        -moz-box-shadow: 4px 4px 12px 0px darken(@gray, 25%);
    }
    .box-shadow {
        box-shadow: 1px 2px 2px 0px darken(@gray, 25%);
        -webkit-box-shadow: 1px 2px 2px 0px darken(@gray, 25%);
        -moz-box-shadow: 1px 2px 2px 0px darken(@gray, 25%);
    }
    .list-group, .list-group-item:first-child, .list-group-item:last-child {
        -webkit-border-top-left-radius: 0px;
        -webkit-border-top-right-radius: 0px;
        -moz-border-radius-topleft: 0px;
        -moz-border-radius-topright: 0px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        webkit-border-bottom-left-radius: 0px;
        -webkit-border-bottom-right-radius: 0px;
        -moz-border-radius-bottomleft: 0px;
        -moz-border-radius-bottomright: 0px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
    ul {
        margin-bottom: 0px;
    }
    li {
        color: @gray;
    }
    .small-theme-min {
        width: 100% !important;
        margin-top: 0px;
        -webkit-transition: all 0.8s ease-in-out;
        -moz-transition: all 0.8s ease-in-out;
        -o-transition: all 0.8s ease-in-out;
        -ms-transition: all 0.8s ease-in-out;
    }
    :hover.small-theme-min {
        margin-top: -90%;
    }
    .theme-detail-modal {
        margin-top: 0px !important;
        padding-top: 0px !important;
    }
    .wrapper-site-preview {
        height: 300px;
        background: @prewiew;
        padding: 20px 0px;
        div {
            padding: 10px;
            color: #FFF;
            font-weight: 400;
        }
        .pad {
            cursor: pointer;
            /*background:@white !important;
		position:absolute;*/
            /*padding:20px;*/

            box-shadow: 1px 2px 2px 0px darken(@prewiew, 50%);
            -webkit-box-shadow: 1px 2px 2px 0px darken(@prewiew, 50%);
            -moz-box-shadow: 1px 2px 2px 0px darken(@prewiew, 50%);
            -webkit-transition: all 0.1s ease-in-out;
            -moz-transition: all 0.1s ease-in-out;
            -o-transition: all 0.1s ease-in-out;
            -ms-transition: all 0.1s ease-in-out;
        }
        :hover.pad {
            /*margin-left:-8px;
		margin-top:-8px;*/

            box-shadow: 4px 4px 12px 0px darken(@prewiew, 50%);
            -webkit-box-shadow: 4px 4px 12px 0px darken(@prewiew, 50%);
            -moz-box-shadow: 4px 4px 12px 0px darken(@prewiew, 50%);
        }
    }
    /*.btn{
		background:@buy;
		color:@white;
		border-color:@white;
		}*/
}
/* USER IDENTITY BOX */

#video, .video {
    background: @gray-dark;
    h1, h2, h3, h4, h5, h6 {
        /*color:@gray-light;*/
    }
}
/* USER IDENTITY BOX */

#user-detail {
    background: @gray-dark;
    color: @gray-lighter;
    /**/

    margin-bottom: 3px;
    h1, h2, h3, h4, h5, h6 {
        color: @gray-lighter;
        margin-bottom: 0px;
        /*margin-top:15px;*/
    }
    span {
        /*display:block;*/
        /*font-size:25px;*/

        color: @white;
    }
    p {
        color: @gray-lighter;
    }
    strong {
        color: @brand-secondary;
    }
}
#user-avatar {
    /*margin-top:15px;
	margin-bottom:15px;*/
}

/* LIST */

.bg-gradient-animate{
    background: linear-gradient(270deg, @gray-whiter, @gray-lighter, @gray-whiter);
    background-size: 800% 100%;

    -webkit-animation: AnimationName 4s ease infinite;
    -moz-animation: AnimationName 4s ease infinite;
    -o-animation: AnimationName 4s ease infinite;
    animation: AnimationName 4s ease infinite;
}

 @-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-o-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.loading-list-item{
    // background-color: @gray-whiter;

    .list-title{
        background-color: @gray-whiter;
        height: 16px;
        width: 30%;
    }
    .list-page-category{
        background-color: @gray-whiter;
        height: 16px;
        width: 20%;
    }
    .list-domain{
        display: block;
        background-color: @gray-whiter;
        height: 16px;
        // margin-bottom: 5px;
        width: 40%;
    }
    .page-details{
        li{
            background-color: @gray-whiter;
            height: 16px;
            // margin-bottom: 5px;
            width: 10%;
        }
    }
    .last-update{
        small{
            display: block;
            // background-color: @gray-whiter;
            height: 16px;
            // margin-bottom: 5px;
            width: 40%;
        }
    }
    .btn-circle{
        // background-color: @gray-whiter !important;
        color: #fff;
    }
}

#reseller-list, .manager-page {
    background: lighten(@brand-secondary, 20%);

    .box-shadow, .page-content {
        box-shadow: 1px 2px 2px 0px darken(@brand-secondary, 15%);
    }
	.page-content{
		background-color: #fff;
		padding: 1em 1em 3em 1em;
	}
}
.list {
    /*padding-left:0px;*/
    .page_img_thumb{
        position: absolute;
    }
}
.list-item {
    background: @white;
    margin-bottom: @margin-element;
    position: relative;
    // display: flex;
    /*border-bottom:1px solid @gray-lighter;*/

    .list-title-mobile{


        h1, h2, h3, h4, h5, h6 {
        background-color: #FFF;
        padding: 10px 15px;
        border-bottom: 1px solid #ccc;
        // color: #FFF;
        margin: 0px 0px 0px 0px;
        font-size: 14px;
        /*font-size:18px;
        margin-bottom:0px;*/
        }

    }

    h1, h2, h3, h4, h5, h6 {
        color: @brand-primary;
        margin-bottom: 5px;
        /*font-size:18px;
		margin-bottom:0px;*/
    }
    .list-page-category{
         margin-bottom: 5px;
    }
    .page-details{
        // position: absolute;
        // bottom: 0px;

        li{
            padding-left: 0px;
            padding-right: 5px;
            margin-top: 5px;
        }
    }
    /*.page_img_thumb{
		border-right:1px solid @gray-lighter;
		}*/

    .photoContainer {
        border-right: 1px solid #EDF2F7;
        padding-right: 0px;
        background-color: @gray-whiter;
        padding-bottom: 100%;
        border-radius: 0px;
    }
    .list-item-details {
        position: relative;
    }
    .badge {
        margin: 0px;
        padding: 0px;
        background: none;
        color: @brand-primary;
        font-weight: 700;
    }
}
.synkysitedata {
    /*position:absolute;
		bottom:20px;
		overflow:auto;*/

    margin: 0px;
    /*width:100%;*/
    /*
		padding-top:5px;
		margin-top:10px;
		border-top:1px solid @gray-lighter;
		*/
    /*margin-top: 20px;
		margin-bottom: 10px;*/
}
.btn-group-edit-list {
    // align-self: flex-end ;
    // background-color: #ccc;
    margin-top: 5px;


        li{
            width: 40px;
            height: 40px;
            padding: 0px;
            border-top-left-radius: 50%;
            border-top-right-radius: 50%;
            border-bottom-right-radius: 50%;
            border-bottom-left-radius: 50%;
            overflow: hidden;
            margin-right: 3px;
            line-height: 100%;

        }
}
.btn-group-edit-list-buttons {
    // align-self: flex-end ;
    // background-color: #ccc;
    margin-top: 15px;
    // position: absolute;
    // bottom: 0px;
    // left: 0px;


        li{
            margin-bottom: 5px;
            // width: 40px;
            // height: 40px;
            // padding: 0px;
            // border-top-left-radius: 50%;
            // border-top-right-radius: 50%;
            // border-bottom-right-radius: 50%;
            // border-bottom-left-radius: 50%;
            // overflow: hidden;
            // margin-right: 3px;
            // line-height: 100%;

        }
}
.list-title {
    font-size: 16px;
    color: @gray-lighter;
    font-style: normal;
    margin-top: 15px;
    margin-bottom: 10px;
}
.list-domain {
    font-size: 14px;
    color: @gray-light;
}
.last-update {
    padding: 6px 10px 5px 10px;
    background-color: @gray-lighter;
    color: @gray-light;
    margin-bottom: 0px !important;
}
.photoContainer {
    /*padding-left:0px;
	padding-right:0px;*/
}
.btn-circle {
    display: block;
    width: 40px;
    height: 40px;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    text-align: center;
    /*margin-top: 15px;*/
    /*padding: 7px 16px;*/
    /*border: 2px solid #fff;*/

    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    /**/

    font-size: 16px;
    line-height: 40px;
    color: @gray;
    /*background: 0 0;*/

    // background-color: @gray;
    // -webkit-transition: background .3s ease-in-out;
    // -moz-transition: background .3s ease-in-out;
    // transition: background .3s ease-in-out;
}
/*layouts smaller than 600px, iPhone and mobiles*/

@media only screen and (max-width: 480px), screen and (max-device-width: 480px) {
    .name, .surname {
        display: block;
        ;
    }
    /*.btn-circle {
		width: 30px;
		height: 30px;
		font-size:14px;
		}*/
}
.btn-circle:hover, .btn-circle:focus {
    outline: 0;
    // color: #fff;
    // background-color: #666;
}
/* COLOPHON */

#colophon {
    background: @gray;
    color: @gray-lighter;
    a, a:hover {
        color: @gray-lighter;
    }
    h1, h2, h3, h4, h5, h6 {
        color: @brand-primary;
    }
    li {
        padding: 5px 0px 5px 0px;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-bottom-color: @gray-light;
    }
}
/* FOOTER */

#footer {
    background: @gray-dark;
    color: @gray-lighter;

    .container {
        padding-bottom: 0px;

        h1, h2, h3, h4, h5, h6 {
            color: @brand-primary;
            font-size: 16px;
        }
        a.btn-circle {
            // background-color: @gray-dark !important;
            font-size: 40px;
        }
        phone {
            display: block;
            font-size: 20px;
            margin-top: 20px;
            color: @brand-secondary !important;
            font-weight: 700;
        }
        .investor {
            margin-bottom: 10px;
            img {
                max-height: 25px;
            }
        }
        .legals {
            border-top: 1px solid @gray;
            font-size: 14px;
            font-weight: 700;
            li {
                padding: 20px 0px 20px 15px;
            }
        }
        .socials-links{
            text-align: right;
        }
        .pad {
            box-shadow: 1px 2px 2px 0px darken(@gray-dark, 25%);
            -webkit-box-shadow: 1px 2px 2px 0px darken(@gray-dark, 25%);
            -moz-box-shadow: 1px 2px 2px 0px darken(@gray-dark, 25%);
        }
        :hover.pad {
            box-shadow: 4px 4px 12px 0px darken(@gray-dark, 25%);
            -webkit-box-shadow: 4px 4px 12px 0px darken(@gray-dark, 25%);
            -moz-box-shadow: 4px 4px 12px 0px darken(@gray-dark, 25%);
        }


    }
}

/* SOCIAL LINKS */

.social-link-facebook {
    // background: #374E79;
    color: #374E79;
}
.social-link-twitter {
    // background: @brand-twitter;
    color: @brand-twitter;
}
.social-link-youtube {
    // background: @brand-youtube;
    color: @brand-youtube;
}
.social-link-vimeo {
    // background: @brand-vimeo;
    color: @brand-vimeo;
}
.social-link-linkedin {
    // background: @brand-linkedin;
    color: @brand-linkedin;
}

/* back to top */

#toTop {
    cursor: pointer;
    display: block;
    /*display: none;*/

    z-index: 9999999;
    opacity: .8;
    position: fixed;
    top: 100%;
    margin-top: -59px;
    left: 50%;
    /**/

    margin-left: -24px;
    border-radius: 24px;
    -moz-border-radius: 24px;
    -webkit-border-radius: 24px;
    -o-border-radius: 24px;
    -ns-border-radius: 24px;
    width: 50px;
    line-height: 48px;
    height: 48px;
    /*background-color: #6DB2E3;*/

    background-color: @brand-primary;
    /* font-size: 14px;*/

    text-align: center;
    color: @white;
    text-transform: uppercase;
}

/* EDITOR */


// .editor, #editor {
//     #total-price {
//         display: block;
//         margin-top: 20px;
//         color: @brand-primary;
//         font-size: 30px;
//         font-weight: 700;
//     }
//     .sidebar {
//         top: 51px;
//         position: fixed;
//         top: 0px;
//         bottom: 0px;
//         left: 0px;
        
//         display: block;
        
//         overflow-x: hidden;
//         overflow-y: auto;
//         color: @white;

//         .sidebar-header {
//             background-color: @gray;
//             margin-bottom: 3px;
//             #brand-editor {
//                 padding: 10px 25px 10px 25px;
//             }
//         }
//         .sidebar-user {
//             line-height: 100%;
//             background-color: @gray-light;
//             margin-bottom: 3px;
//             #brand-editor {
//                 padding: 10px 55px 10px 55px;
//             }
//             .editor-pagename {
//                 color: @brand-primary;
//             }
//             p.editor-user {
//                 margin-top: 10px;
//             }
//         }
//         .nav-pills > li.active > a, .nav-pills > li > a:hover, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
//             background-color: @gray-light;
//             color: @gray-lighter;
//             .fa, .glyphicon {
//                 color: @gray-lighter;
//             }
//             .badge {
//                 color: @brand-primary;
//             }
//         }
//         .nav-sidebar-buy {
//             margin-right: -20px;
//             margin-left: -20px;
//             li {
//                 a {
//                     background-color: @brand-primary;
//                     color: @gray-dark;
//                     .fa, .glyphicon {
//                         color: @gray-dark;
//                     }
//                     .badge {
//                         color: @gray-dark;
//                     }
//                 }
//             }
//             li.active > a, li > a:hover, li.active > a:hover, li.active > a:focus {
//                 background-color: darken(@brand-primary, 10%);
//                 color: @gray-dark;
//                 .fa, .glyphicon {
//                     color: @gray-dark;
//                 }
//                 .badge {
//                     color: @gray-dark;
//                 }
//                 img{
//                     opacity: 0.5;
//                 }
//             }
//         }
//     }
//     .nav-sidebar {
//         margin-right: -20px;
//         margin-bottom: 20px;
//         margin-left: -20px;
//     }
//     #accordion-editor-sidebar {
//         background: #fdfs;
//         margin-right: -20px;
//         margin-bottom: 20px;
//         margin-left: -20px;
//         .panel-heading {
//             padding: 0px 0px 0px 0px;
//             background-color: @gray;
//             color: @white;
//             a {
//                 display: block;
//                 padding: 10px 15px;
//             }
//             .panel-title {
//                 font-weight: 400;
//             }
//         }
//     }
//     .main {
//         background-color: #fff;
//         padding: 0px;
//         position: fixed;
//         top: 0px;
//         bottom: 0px;
//         left: 0px;
//         right: 0px;
//         display: block;
//         background-image: url(images/star.png) center center no-repeat;
//     }
// }

/* MODAL */

.modal-header {
    border: none;
    color: @white;
    /**/

    background-color: @brand-primary;
    -webkit-border-top-left-radius: @rounded-corners;
    -webkit-border-top-right-radius: @rounded-corners;
    -moz-border-radius-topleft: @rounded-corners;
    -moz-border-radius-topright: @rounded-corners;
    border-top-left-radius: @rounded-corners;
    border-top-right-radius: @rounded-corners;
    webkit-border-bottom-left-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;
    -moz-border-radius-bottomleft: 0px;
    -moz-border-radius-bottomright: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    .close {
        /*display:block;
		 background:#000;
		 padding:10px;*/
    }
}
.modal-title {
    color: @white !important;
    /**/

    font-weight: 400;
}
.modal-content {
    border: none;
    background-color: @brand-gray-secondary;
    color: @gray;
    position: relative;
    -webkit-border-top-left-radius: @rounded-corners;
    -webkit-border-top-right-radius: @rounded-corners;
    -moz-border-radius-topleft: @rounded-corners;
    -moz-border-radius-topright: @rounded-corners;
    border-top-left-radius: @rounded-corners;
    border-top-right-radius: @rounded-corners;
    webkit-border-bottom-left-radius: @rounded-corners;
    -webkit-border-bottom-right-radius: @rounded-corners;
    -moz-border-radius-bottomleft: @rounded-corners;
    -moz-border-radius-bottomright: @rounded-corners;
    border-bottom-left-radius: @rounded-corners;
    border-bottom-right-radius: @rounded-corners;
    .map-canvas, #map-canvas {
        background-color: @gray;
        color: @white;
        // height: 408px;
        height: 486px;
        // min-height: 100%;
    }
    .nav-tabs {
        /*background-color: @gray;*/

        li {
            a {
                background-color: @gray-lighter;
            }
        }
        li.active {
            a {
                background-color: @gray !important;
                color: @white
            }
        }
    }
    .sidebar {
        position: relative;
        height: 100%;
        display: block;
        /*padding: 20px;*/

        overflow-x: hidden;
        overflow-y: auto;
        /*border-right: 1px solid #EEE;
		background-color: #999;*/
    }
    #accordion {
        margin-right: -20px;
        margin-bottom: 20px;
        margin-left: -20px;
    }
}
.modal-footer {
    border: none;
    background-color: @white;
    -webkit-border-top-left-radius: 0px;
    -webkit-border-top-right-radius: 0px;
    -moz-border-radius-topleft: 0px;
    -moz-border-radius-topright: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    webkit-border-bottom-left-radius: @rounded-corners;
    -webkit-border-bottom-right-radius: @rounded-corners;
    -moz-border-radius-bottomleft: @rounded-corners;
    -moz-border-radius-bottomright: @rounded-corners;
    border-bottom-left-radius: @rounded-corners;
    border-bottom-right-radius: @rounded-corners;
}



/* Facebook  button */

.fb-icon-bg {
    background: #354f88;
    height: 37px;
    margin: 0 0 -37px 0;
    width: 41px;
}
.fb-icon-bg:after {
    content: url(https://dl.dropboxusercontent.com/u/54149043/CssDeck/fb-icon.png);
    display: block;
    padding: 9px 10px 5px 15px;
}
.fb-bg {
    background: #3b5998;
    display: block;
    height: 37px;
    margin: 0 0 30px 41px;
    /*width: 166px;*/
}
.fb-bg:after {
    color: #fff;
    content: "facebook login";
    font-family: 'Oswald', sans-serif;
    height: 37px;
    left: 15%;
    position: relative;
    text-transform: uppercase;
    top: 22%;
    /**/

    width: 41px;
}
.fb-bg:hover {
    cursor: pointer;
}
.fb-bg:active {
    background: #354f88;
}
/* brousers cases */

.imac {
    padding-top: @padding-element;
    /*
	 background:@gray-dark;
	 padding-top:20px;
	 padding-bottom:60px;

	 border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;

	margin-bottom:70px;
	z-index:1;
	*/
}
.imac:after {
    /*
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  z-index:0;
  border-left: 80px solid transparent;
  border-right: 80px solid transparent;
  border-top: none;
  border-bottom: 200px solid @gray-dark;
  margin-left:-80px;
  bottom: -70px;
  left: 50%;
  */
}
.browser {
    /*display:none;*/

    padding: 6px 5px;
    background: @gray-lighter;
    overflow: auto;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    /*
	border-top-left-radius: 3px;
	-moz-border-top-left-radius: 3px;
	-webkit-border-top-left-radius: 3px;
	-ms-border-top-left-radius: 3px;
	-o-border-top-left-radius: 3px;

	border-top-right-radius: 3px;
	-moz-border-top-right-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-ms-border-top-right-radius: 3px;
	-o-border-top-right-radius: 3px;
	*/
}
.b {
    border: 1px solid #F6F6F6;
    float: left;
    /*margin-left:3px;*/

    display: block;
    background: #D0D0D0;
    width: 10%;
    height: 8px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.w {
    border: 1px solid #F6F6F6;
    float: left;
    margin-left: 5px;
    display: block;
    background: #F6F6F6;
    width: 70%;
    height: 8px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.browser-button{
	float: left;
	margin-left: 5px;
	display: block;
	background: @gray-light;
	width: 10px;
	height: 10px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	box-shadow: inset 1px 1px 1px 1px darken(@gray-light, 10%);
}
.r {
    .browser-button;
    //background:#F00;
}
.y {
	.browser-button;
	//background: #FC0;
}
.g {
	.browser-button;
    //background: #6C0;
}

.rules {
    height: 100%;
    overflow: auto;
    background-color: #ccc;
    background-image: url('../images/ruler-h.png'), url('../images/ruler-v.png');
    background-position: left top, left top;
    /*background-size: 100% 100%;*/
    overflow-x: hidden;
    background-repeat: no-repeat;
}
.viewport {
    height: 100%;
    margin: auto;
    position: relative;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
}
.desktop-viewport {
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    width: 100%;
    /*width: 1440px;*/
    /*height: 900px;*/
}
.pad-viewport {
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    width: 768px;
    /*height: 1024px;*/
}
.phone-viewport {
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    width: 320px;
    /*height: 540px;*/
}
.devices-icon {
    cursor: pointer;
}
.current {
    color: #F00;
    background-color: #999;
}
#app_preview {
    /*width: 320px;
	height: 540px;*/
    /*background-color: #000000;
	min-height: 540px;
	*/

    // position: fixed;
    width: 100%;
    height: 100%;
    border: 0px;
    margin: auto;
    -webkit-overflow-scrolling: touch;
    overflow: auto;
    // overflow-y: scroll;
}
.text-danger {
    color: #FF9999;
    font-weight: 400;
}
.has-warning .form-control, .has-warning .input-group-addon {
    border-color: @brand-primary;
    background-color: lighten(@brand-primary, 40%);
    color: @brand-primary;
}
:focus {
    /*background-color:lighten(@brand-secondary, 20%);
	border-color: lighten(@brand-secondary, 10%);
	color: darken(@brand-secondary, 30%);
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;*/
}
/* pad */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    .container {
        padding-top: 65px;
        padding-bottom: 30px;
        padding-left: 3px;
        padding-right: 3px;
        /**/
    }
    .landing-hello {
        padding-top: 0px !important;
    }
    #footer {
        .container {
            padding-left: 15px;
            padding-right: 15px;
            /**/
        }
    }
    .recommended {
        transform: none;
    }
    .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
        /*padding-left: 0px;
		padding-right: 0px;*/
    }
    .list-item, .feature {
        margin-bottom: 5px;
    }
    .name, .surname {
        display: block;
    }
}
/* phone */

@media only screen and (max-width: 768px), screen and (max-device-width: 768px) {
    body {
        font-size: 14px;
    }
    .navbar-brand {
        padding: 10px;
    }
    #navbar-brand-img {
        height: 30px;
        margin-top: -5px;
        // background-color: #ccc;
    }
    .navbar-default .container .navbar-nav {
        background-color: @gray-whiter;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .navbar-default .container .navbar-nav a{
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
        // background-color: @gray-lighter;
        border-bottom: 1px solid @gray-lighter;

    }
    .container {
        padding-top: 65px;
        padding-bottom: 65px;
        /*padding-left: 3px;
		padding-right: 3px;*/
    }
    .intro{
        margin-bottom: 50px;
    }
    .singlestep{
        margin-bottom: 20px!important;
    }
    #footer, .navbar {
        .container {
            text-align: center;
            // padding-left: 15px;
            // padding-right: 15px;
            /**/

            .socials-links{
                text-align: center;
            }
        }
    }

    .recommended {
        transform: none;
    }
    .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
        /*padding-left: 0px;
		padding-right: 0px;*/
    }
    .row {
        /*padding-left: 0px;
		padding-right: 0px;*/
    }
    .list-item, .feature {
        /*
		border-bottom: 1px solid #ccc;*/

        margin-bottom: 5px;
        .list-title {
            /*font-size: 12px;*/
        }
    }
    .name, .surname {
        display: block;
    }
}
.spinner {
    background-image: url(../images/star.png);
    background-position: center center;
    background-repeat: no-repeat;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
    border-radius: 100%;
    -webkit-animation: pp 5s infinite;
    /* Safari 4+ */

    -moz-animation: pp 5s infinite;
    /* Fx 5+ */

    -o-animation: pp 5s infinite;
    /* Opera 12+ */

    animation: pp 5s infinite;
    /* IE 10+, Fx 29+ */
    /*
		  animation-name: infinitespinning, scaleout;
		  animation-duration: infinite, infinite;
		  animation-timing-function: linear, linear;

		  -webkit-animation-name: infinitespinning, scaleout;
		  -webkit-animation-duration: 1.0s, 1.0s;
		  -webkit-animation-timing-function: linear, linear;


		  -webkit-animation:infinitespinning 1.0s infinite linear,
		  					scaleout 1.0s infinite linear;
		  animation:infinitespinning 3.0s infinite linear,
		  			scaleout 1.0s infinite linear;


		-webkit-animation: NAME-YOUR-ANIMATION 5s infinite;
  		-moz-animation:    NAME-YOUR-ANIMATION 5s infinite;
  		-o-animation:      NAME-YOUR-ANIMATION 5s infinite;
  		animation:         NAME-YOUR-ANIMATION 5s infinite;

		 */
}
@keyframes scaleout {
    0% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    }
    100% {
        transform: scale(5.0);
        -webkit-transform: scale(5.0);
        /*opacity: 0;*/
    }
}
@-webkit-keyframes scaleout {
    0% {
        -webkit-transform: scale(0.0)
    }
    100% {
        -webkit-transform: scale(5.0);
        /*opacity: 0;*/
    }
}
@keyframes infinitespinning {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
@-webkit-keyframes infinitespinning {
    from {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }
}

// MATTIA

*[ng-cloak] {
    display: none !important;
}
// .animate-enter,
// .animate-leave
// {
//   -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
//   -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
//   -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
//   -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
//   transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
//   position: relative;
//   display: block;
// }
// .animate-enter.animate-enter-active,
// .animate-leave {
//   opacity: 1;
//   top: 0;
//   height: 30px;
// }
// .animate-leave.animate-leave-active,
// .animate-enter {
//   opacity: 0;
//   top: -50px;
//   height: 0px;
// }
.animate-repeat.ng-move, .animate-repeat.ng-enter, .animate-repeat.ng-leave {
    transition: 160ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    position: relative;
    overflow: hidden;
}
.animate-repeat.ng-leave.ng-leave-active, .animate-repeat.ng-move, .animate-repeat.ng-enter {
    opacity: 0;
    max-height: 0;
    // transform: translateZ(-1000px);
    // top: -50px;
}
.animate-repeat.ng-leave, .animate-repeat.ng-move.ng-move-active, .animate-repeat.ng-enter.ng-enter-active {
    opacity: 1;
    max-height: 200px;
    // transform: translateZ(0);
    // height: auto;
    // top: 0;
}
.domain-suggestions {
    ul li {
        cursor: pointer !important;
        input[type=checkbox] {
            cursor: pointer !important;
        }
    }
}


// FLAGS flag-icon-css
@flag-icon-css-path: '/components/flag-icon-css/flags';
@flag-icon-rect-path: '/4x3';
@flag-icon-square-path: '/1x1';
@import '../../public/components/flag-icon-css/less/flag-icon-base';
.flag-icon(it);
.flag-icon(gb);

.navbar-default .container .navbar-nav a.change-language-link{
	padding-right: 5px;
	padding-left: 5px;
}
.nav .flag-icon{
	width: 23px;
	border: solid 1px #ddd;
	background-size: cover;
}

.badge-pro-version{
	padding: 2px 6px;
	border-radius: 3px;
	background-color: #fb0;
	color: white;
	font-size: 12px;
	margin-left:10px;
}
