@font-face {
    font-family: 'entypo';
    src: url('../../fonts/Entypo/entypo.eot');
    src: url('../../fonts/Entypo/entypo.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/Entypo/entypo.woff2') format('woff2'),
         url('../../fonts/Entypo/entypo.woff') format('woff'),
         url('../../fonts/Entypo/entypo.ttf') format('truetype'),
         url('../../fonts/Entypo/entypo.svg#entypo') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'entypo-social';
    src: url('../../fonts/Entypo-Social/entypo-social.eot');
    src: url('../../fonts/Entypo-Social/entypo-social.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/Entypo-Social/entypo-social.woff2') format('woff2'),
         url('../../fonts/Entypo-Social/entypo-social.woff') format('woff'),
         url('../../fonts/Entypo-Social/entypo-social.ttf') format('truetype'),
         url('../../fonts/Entypo-Social/entypo-social.svg#entypo') format('svg');
    font-weight: normal;
    font-style: normal;

}