{% extends "../layouts/master.html" %}
{% block content %}

    <div class="content-container">
        <div class="grid-item item-col-1">
            <div class="grid-item-content">
                <div class="item-header">
                    <div class="icon">
                        <i class="fa fa-calendar"></i>
                    </div>
                    <h6 class="image-caption text-center">{= postData.title =}</h6>
                </div>

                {% include "../../__default/partials/event-detail-content.html" %}


            </div>
        </div>
        <div class="clearfix"></div>
    </div>

{% endblock %}
