{% extends "../layouts/master.html" %}
{% block content %}

    <div class="content-container">
        <div class="grid">
            <div class="grid-item item-col-1">
                <div class="grid-item-content">
                    <div class="item-header">
                        <h3 class="section-title">{= title =}</h3>
                    </div>
                    <p>{= text | safe =}</p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>


        {% include "../partials/store.html"%}
        {% if photos %}
            {% include "../partials/loop-single-album.html" %}
        {% endif %}
        <div class="clearfix"></div>
    </div>

{% endblock %}
