{% extends "../layouts/master.html" %}
{% block content %}

    {% include "../partials/company.html" %}

    <div class="content-container">
        {% if page.configuration.contents.homepage.showNews %}
            {% include "../partials/loop-news.html" %}
            <div class="clearfix"></div>
        {% endif %}
        {% if page.configuration.contents.homepage.showAlbums %}
            {% include "../partials/loop-albums.html" %}
            <div class="clearfix"></div>
        {% endif %}
        {% if page.configuration.contents.homepage.showEvents %}
            {% include "../partials/loop-events.html" %}
            <div class="clearfix"></div>
        {% endif %}
    </div>
    {% if page.configuration.contents.homepage.showContacts %}
        {% include "../partials/contacts.html" %}
    {% endif %}

{% endblock %}
