{% extends "../layouts/master.html" %}
{% block content %}

    <div class="content-container">
        <div class="grid-item col-xs-12">
            <div class="grid-item-content">
                <div class="item-header">
                    <div class="icon">
                        {% if postData.type == "status"  %}
                            <i class="fa fa-newspaper-o"></i>
                        {% endif %}
                        {% if postData.type == "photo"  %}
                            <i class="fa fa-picture-o"></i>
                        {% endif %}
                        {% if postData.type == "video"  %}
                            <i class="fa fa-video-camera"></i>
                        {% endif %}
                        {% if postData.type == "link"  %}
                            <i class="fa fa-link"></i>
                        {% endif %}
                    </div>
                    <h6 class="image-caption text-center">{= postData.title =}</h6>
                </div>

                {% include "../../__default/partials/news-detail-content.html" %}

            </div>
        </div>
        <div class="clearfix"></div>
    </div>

{% endblock %}
