{% import "../../__default/partials/loop-macros.html" as macros %}
{% extends "../layouts/master.html" %}
{% block content %}

    <div class="content-container">
        <h2 class="section-title">{= page|getSectionTitle('news') =}</h2>
        {% include "../partials/loop-news.html" %}
        <div class="clearfix"></div>

        {= macros.pagination(isHome, active, prev_page, next_page, pages) =}
    </div>

{% endblock %}
