// @import "/components/fakeLoader/fakeLoader.css";

/**
 *
 * DYNAMIC STYLES
 *
 */

@padding-none: 0px;
@margin-none: 0px;

@squared-corners: 0px;

@padding-contents: 60px;
@padding-vertical-contents: 60px;
@padding-vertical-sections: 40px;


// // colors variables
@outer_background: #333;
@inner_background: #FFF;
@titles: #ccc;
@texts: #666666;

// // new colors variables
@mjk_text:         @texts;
@mjk_nav_bg:       @inner_background;
@mjk_link_text:    @titles;
@mjk_nav_text:     @titles;
@mjk_well_bg:      #4E7AC7;
@mjk_jumbotron_bg:  #7FB2F0;
@mjk_bg:           @outer_background;

// // social links colors variables

@facebook-color: #374E79;
@twitter-color: #55acee;
@vimeo-color: #4bf;
@youtube-color: #C43029;
@skype-color: #00AFF0;

// // fonts variables

@custom-font-text: 'Roboto Slab', Helvetica, Arial, sans-serif;
@custom-font-title: "Droid Serif", Georgia, Times, serif;

@font-custom-family-sans-serif: 'Roboto Slab', Helvetica, Arial, sans-serif;
@font-custom-family-serif: "Droid Serif", Georgia, Times, serif;

@font-text: @custom-font-text;
@font-title: @custom-font-title;

// @font-family-sans-serif: 'Droid Sans';
// @font-family-serif: "Droid Serif";

@font-family-titles: 'Montserrat', sans-serif;;
@font-weight-titles: 700;
@font-family-paragraphs: 'Montserrat', sans-serif;;
@font-weight-paragraphs: 400;

// navbar variables
// contol height logo main nav

@height-navbar: 80px;
@width-navbar: 80px;

// global-alignment
@global-alignment: @align-left;
@align-left: left;
@align-center: center;
@align-right: right;
