
// default commons in templates
@import url(config.less);
@import url(commons/utility.less);
@import url(variables.less);
@import "assets/bootstrap-less/bootstrap.less";


// defolt stiles for shop section in templates
@import url(components/banner.less);

// defolt stiles for shop section in templates
@import url(components/shop.less);

// defolt stiles for advertising section in templates
@import url(components/company.less);

body{
	width: 100%;
	height: 980px;
}
.btn{
	border-radius: @squared-corners;
}

.no-gutter{
	padding-left: @padding-none;
	padding-right: @padding-none;
}
.section{
	height: 100%;
	border-bottom:1px solid #ccc;
	padding-top: @padding-vertical-contents;
	padding-bottom: @padding-vertical-sections;
	// text-align: @global-alignment;
	.container{
		padding-left: @grid-gutter-width;
		padding-right: @grid-gutter-width;
	}
}
.breadcrumb{
	border-radius: @squared-corners;
	padding: 10px 15px;
}
ul.pagination{
	border-radius: @squared-corners;
	margin: @padding-none @padding-none;
	margin: @padding-none @padding-none;
	//padding: 10px 15px;
}

.new{
	position: absolute;
	border-radius: 40px;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	margin-left: 15px;
	margin-top: 15px;
	}


@media (max-width: @screen-xs-max){
	#shop{
		background-color: #000;
	}
}
