.templateFONT{
	font-family: @font-text;
	FONT-FAMILY: @font-title;
}
.elementTemplatePORTFOLIO{
	display: none;
}
@import "../../__default/styles/edit-entry.less";
@import "../../__default/styles/config.less";
@import "variables.less";
@import "assets/bootstrap-less/bootstrap.less";
@import "assets/less/ad.less";
@import "assets/less/cookiesmodal.less";

@import "../../__default/styles/commons/modal-details.less";
@import "../../__default/styles/commons/utility.less";
@import "../../__default/styles/commons/ecommerce.less";

// @import "assets/bootstrap-less/glyphicons.less";
// @import "components/bootstrap-social/bootstrap-social.css";
// @import "components/font-awesome/css/font-awesome.min.css";
// @import url("/components/ModalWindowEffects/css/component.css");
// @import "components/bootstrap-modal-carousel/dist/css/bootstrap-modal-carousel.min.css";

// @import "http://fonts.googleapis.com/css?family=Muli:300,400,300italic,400italic";
@import "http://fonts.googleapis.com/css?family=Montserrat:400,700";


/* -------------------------------------------------------------- FORMS */


:focus{
    // background:lighten(@brand-primary, 40%);
    // border-color: lighten(@brand-primary, 40%);
    // color: darken(@brand-primary, 30%);
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    }

/* -------------------------------------------------------------- MASTER */

.wrapper{
    -webkit-font-smoothing: antialiased;
    background-color: @inner_background;
    overflow: auto;
    margin-left: 0px;
    margin-right: 0px;
    font-family: @font-family-paragraphs;
    font-weight: @font-weight-paragraphs;
}

.single-detail-page{
    margin-top: @height-navbar + 50px;
}

h1, h2, h3, h4, h5, h6 {
        //font-size: 16px;
        font-family: @font-family-titles;
        font-weight: @font-weight-titles;

        // color: @brand-primary;
        // margin-top: 0px;
        // margin-bottom: 0px;
    }

section, .section{
    background-color: @inner_background;
    // border-bottom: 1px solid @text-color;
    padding-left: 0px;
    padding-right: 0px;

    .container{
    width: 100%;
    // padding-top: @padding-vertical-contents;
    // padding-bottom: @padding-vertical-contents;

    // max-width: 100% !important;
    // width: 100% !important;
    // background-color: lighten(@text-color, 55%);

    hgroup.section-title{
        // margin-bottom: @padding-vertical-contents;
        // border-bottom: 1px solid @gray;
        position: relative;
        background: @brand-primary;
        overflow: auto;
        text-align: center;

        h1, h2, h3, h4, h5, h6 {
            color: darken(@brand-primary, 15%);
           // color: lighten(@brand-primary, 100%);
           text-transform: uppercase;
           padding-top: @padding-vertical-contents;
           padding-bottom: @padding-vertical-contents;
           text-shadow: -1px -1px 2px lighten(@brand-primary, 10%);
           }


        .goto{
            position: absolute;
            bottom: 10px;
            right: 15px;
            font-size: @font-size-small;

            }
        }
    }
}


/* -------------------------------------------------------------- SECTIONS */


/* ------------------------------- NAV */
nav#main-nav {

    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 0;

    background-color: @inner_background;
    margin-bottom: 0px;
    border-radius: 0px;
    border: 0px;
     border-right: 1px solid #ccc;

    .container{
        width: 100%;
        max-width: none;
        padding-top: @padding-none;
        padding-bottom: @padding-none;
        padding-left: 30px;
        padding-right: 30px;

        .navbar-header{
            float: none;
            margin-top: 30px;


            .navbar-brand{
                margin-left: 0px;
                float: none;
                display: block;
                // padding: 30px;
                padding: @padding-none;
                // background-color: #ccc;
                height: auto;

                #brand-img, img{
                    width: 100%;
                    height: auto;
                    // height: @height-navbar;
                    // width: @width-navbar;
                    }
                }
        }
        .navbar-collapse{
            padding-left: 0px;
            padding-right: 0px;
            // background-color: @brand-primary;
            margin-top: 30px;

            ul.navbar-nav{
                float: none;
                // border-top: 1px solid @text-color;

                li{
                    float: none;
                    width: 100%;
                    margin-bottom: 3px;
                }
                .navbar-nav-link{
                    // background-color: #ccc;
                    padding-left: @padding-none;
                    padding-right: @padding-none;
                    color: @text-color;
                    // line-height: @height-navbar;
                    padding-top: 3px;
                    padding-bottom: 3px;
                    font-size: @font-size-small;
                    text-transform: uppercase;
                    text-align: center;
                    font-weight: 700;
                        // border-bottom: 1px solid @text-color;
                }
                a:hover.navbar-nav-link, .current-navbar-nav-link{
                    color: @brand-primary;
                }
                li.active{
                    a{
                        color: @brand-primary;
                        background-color: @inner_background;
                        pointer-events: none;
                    }
                }

            }
        }
        .socials-widjet{
            position: absolute;
            bottom: 30px;
            left: 0px;
            width: 100%;
            // background-color: #ccc;
            text-align: center;



            .list{
                padding-left: 30px;
                padding-right: 30px;
                // float: left;
                margin: auto;
                margin-top: 0px;
                margin-bottom: 0px;
                padding: auto;
                border-top: 1px solid @text-color;
                border-bottom: 1px solid @text-color;

                li{
                    padding-left: @padding-none;
                    padding-right: @padding-none;
                    display: inline-block;

                    .company_social_link{
                        display: block;
                        font-size: 20px;
                        // background-color: #666;
                    }

                    }
            }


        }

    }
}

/* ------------------------------- BANNER */
section#banner {
    background-color: @gray-darker;
    // height: 100%;
    overflow: hidden;
	position: relative;



	.caption{
		// background-color: #ccc;
		text-transform: uppercase;
		padding: @padding-none @padding-contents;
		left: 0px;
		right: 0px;
		top: 40%;
		bottom: 0px;
		position: absolute;
		z-index: 10;
		text-align: center;


		h1, h2, h3, h4, h5, h6 {
			letter-spacing: -5px;
			font-size: 80px;
			color: #fff;
			font-weight: @font-weight-titles;
			margin-top: 0px;
			margin-bottom: 0px;
			line-height: 100%;
			text-shadow: 0 1px 2px rgba(0,0,0,.6);
			}

	}

	.banner-fade-slide-container{
		height: 100%;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}



    .container{
        padding-top: @padding-none;
        padding-bottom: @padding-none;
    }
}

/* ------------------------------- COMPANY */
section#company {
    background-color: darken(@brand-primary, 15%);
    color: darken(@brand-primary, 15%);

    a{
        color: @brand-primary;
    }

    #company-short-description{
        margin-bottom: 0px;
        color: @inner_background;
        text-align: center;
        padding-top: @padding-vertical-contents;
        padding-bottom: @padding-vertical-contents;
        padding-left: @padding-contents;
        padding-right: @padding-contents;
        font-family: @font-family-paragraphs;
        font-weight: @font-weight-paragraphs;

        p{
           margin-bottom: 0px;
        }
    }

    hgroup.section-title{
        background-color: @brand-primary;
        // background: @gray-light;
        // border-color: darken(@brand-primary, 15%);

        .goto{
        }
    }

    h1, h2, h3, h4, h5, h6 {
        // color: @inner_background;
        text-transform: uppercase;
    }

    // #company-short-description{
    //     color: @texts;
    //     }
}

/* ------------------------------- LOOP GENERAL */

@import "../../__default/styles/commons/post-structure.less";

section.loop {
	background-color:  lighten(@outer_background, 50%);

	.post{
		@background-post : @inner_background;
		@background-post-hover : @text-color;
		text-decoration: none;
		background-color: @background-post;
		border: none;
		transition: all 0.15s;
		border-right: 1px solid #ccc;
		text-align: center;
		margin: 0;

		h1, h2, h3, h4, h5, h6 {
			font-family: @font-family-paragraphs;
			font-weight: 700;
			text-transform: uppercase;
			color: @brand-primary;
			font-size: @font-size-base;
			transition: color 0.15s;
			text-align: center;
            font-style: @font-size-base;
		}
		p {
			color: @text-color;
			opacity: 1;
			transition: all 0.15s;
		}
		time{
			display: block;
			position: absolute;
			overflow: auto;
			font-family: @font-family-paragraphs;
			font-size: @font-size-small*0.9;

			padding: auto;
			text-align: center;
			top: 0;

			.date-item{
				color:  lighten(@text-color, 30%);
				padding: 5px 10px;
				display: block;
				background-color: @text-color;
				text-align: center;
				float: left;
				transition: all 0.15s;
			}
		}
		.post-content{
			border-bottom-color: @background-post;
			border-right-color: @background-post;
			text-align: left;
			transition: all 0.15s;
			word-wrap: break-word;
			//transition: height 0s;
		}
		.post-img{
			background-color: @background-post-hover;
			transition: opacity 0.15s;
		}

		.post-attributes{
			background-color: darken(@brand-primary, 15%);
			border-top: solid 1px darken(@brand-primary, 16%);
			text-align: center;
			color: @inner_background !important;
			transition: opacity 0.15s;
			.post-attributes-single{
				color:  lighten(@text-color, 30%);
			}
		}

		&:hover{
			background-color: @background-post-hover;
			color: @inner_background;
			p{
				color: @inner_background;
			}
			time {
				.date-item{
					background-color: @text-color;
					color: @inner_background;
				}
			}
			.post-img, .post-attributes{
				opacity: 0.5;
			}
			.post-content{
				border-bottom-color: @background-post-hover;
				border-right-color: @background-post-hover;
			}
		}
	}
}




section#loop-news {
	background-color:  lighten(@outer_background, 50%);
	.post-content{
		h1, h2, h3, h4, h5, h6 {
			text-transform: none;
            text-align: left;
            line-height: 100%;
            font-style: @font-size-small;
		}
		p{
			font-size: @font-size-small;
            margin-top: 20px;
		}
	}
	time{
		z-index: 100;
	}
}
/* ------------------------------- LOOP NEWS
section#loop-news {
     background-color:  lighten(@outer_background, 50%);

    h1, h2, h3, h4, h5, h6 {
        // color: @gray-lighter;
    }
    .post {
        // background-color: @gray-lighter;

        .col-md-12{

            .post-sx{
                background-color: #fff;
                width: 50%;
                position: relative;
                float: left;
            }

            .post-dx{
                background-color: #ccc;
                width: 50%;
                position: relative;
                float: left;
            }
        }
    }
}

/* ------------------------------- LOOP EVENTS
section#loop-events {
	@background-loop-event: lighten(@outer_background, 50%);
    background-color:  @background-loop-event;

    h1, h2, h3, h4, h5, h6 {
        // color: @gray-lighter;
    }
	h2{
		height: 7em;
		display: block;
		margin: 0px;
		padding: 2em 1em 2.4em 1em;
		overflow: hidden;
	}
	h2:after {
		content: "";
		text-align: center;
		position: absolute;
		bottom: 0;
		right: 5%;
		width: 90%;
		height: 2em;//fade(@color, 50%)
		background: linear-gradient(to bottom, fade(@inner_background, 0%), fade(@inner_background, 100%) 50%);
	}


    .post {
        // background-color: @gray-lighter;

        .post-attributes{
			padding-left: 1em;
			padding-right: 1em;
            // padding-top: @padding-base-horizontal;
            // padding-bottom: @padding-base-horizontal;
            // background-color: @text-color;
            // font-size: @font-size-small;
            // margin-left: 0px;
            // margin-bottom: 0px;

            // overflow: auto;

            li{
                // float: none;

                strong{

                }
            }
        }
		&:hover{
			h2:after {
				content: "";
				text-align: center;
				position: absolute;
				bottom: 0;
				right: 5%;
				width: 90%;
				height: 2em;//fade(@color, 50%)
				background: linear-gradient(to bottom, fade(@text-color, 0%), @text-color 50%);
			}
		}
    }
}*/

/* ------------------------------- LOOP ALBUMS*/
section#loop-albums {
     background-color:  lighten(@outer_background, 50%);

    .container{
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .post {
        position: relative;

        .post-dx{
            background-color: @gray-darker;
            position: absolute;
            top: 0px;
            bottom: 0px;
            width: 100%;
            z-index: 8;
            float: none;
            height: 100%;
            display: none;
            opacity: 0.8;
            filter: alpha(opacity=80); // For IE8 and earlier

            h1, h2, h3, h4, h5, h6 {
                color: @inner_background;
                padding-top: 40%;
                text-align: center;
            }

            .post-attributes{
                position: absolute;
                bottom: 0px;
                width: 100%;
            }
        }
    }
    :hover.post{
        .post-dx{
            display: block;
        }

    }
}

/* ------------------------------- PAGINE INTERNE */

.page{
    section.loop, section#loop-albums, section#loop-events section#loop-news {
        background-color: @brand-primary;
        color: @gray-lighter;

        .section-title{
            h1, h2, h3, h4, h5, h6 {
                // color: @gray-lighter;
                 color: @inner_background;
            }
        }
    }

}

/* ------------------------------- PAGINATION */

.pagination{
	margin: 20px;
    background-color: @brand-primary;

    border-top-left-radius: @squared-corners;
    order-top-right-radius: @squared-corners;
    border-bottom-left-radius: @squared-corners;
    border-bottom-right-radius: @squared-corners;

	li{
		border-top-left-radius: @squared-corners;
		order-top-right-radius: @squared-corners;
		border-bottom-left-radius: @squared-corners;
		border-bottom-right-radius: @squared-corners;

		a{
			background-color: @texts;
			color: @brand-primary;
			border:0px;

			border-top-left-radius: @squared-corners;
			border-top-right-radius: @squared-corners;
			border-bottom-left-radius: @squared-corners;
			border-bottom-right-radius: @squared-corners;
		}
		.active{
			background-color: @brand-primary;
			color: @texts;
		}
		span.navigation-disabled, span.navigation-disabled:hover{
			background-color: contrast(@texts, darken(@texts,5%), lighten(@texts,5%));
			color: @brand-primary;
			border:0px;

			border-radius: @squared-corners;
		}
	}

}

/* ------------------------------- MAP */
section#map {
    background-color: @gray-lighter;

    h1, h2, h3, h4, h5, h6 {
        //font-size: 16px;
        //color: @brand-primary;
    }
    .container-fluid{
    padding-top: 0px;
    padding-bottom: 0px;

    hgroup.section-title{
        margin-bottom: 0px;
        border-bottom: 1px solid @gray;
        background: @gray-light;
        overflow: auto;
        display: none;
        }
    #map-canvas {
        min-height: 600px;
        background: @gray-darker;
        }
    }

}

/* ------------------------------- CONTACTS */
section#contact-form {
    // background-color: @inner_background;
    background-color: lighten(@text-color, 15%);
    color: @text-color;
    // background-color:  lighten(@text-color, 40%);
    font-size: 12px;
    //color: @gray-lighter;

    h1, h2, h3, h4, h5, h6 {
            // color: @brand-primary;
        }

    a{
        // color: @gray-lighter;
        }

    hgroup.section-title{
        // background: @gray-light;

        .goto{

            a{
                // color: @text-color;
                }
            }
        }

    form{
        overflow: auto;
        padding-top: @padding-vertical-contents;
        padding-bottom: @padding-vertical-contents;
        padding-left: @padding-contents;
        padding-right: @padding-contents;

        .form-control{
            //background-color: lighten(@text-color, 30%);
        }
    }

    h1, h2, h3, h4, h5, h6 {
        //color: @text-color;
    }
    p{
        color: @text-color;
    }
	.form-group{
		padding: 0 10px;
	}
}

/* ------------------------------- FOOTER */
section#footer {
    text-align: center;
    background-color: @outer_background;
    color: @inner_background;
    border: none;
    font-size: @font-size-small;

    .container-fluid{
        #footer-nav-links{
            .list-inline{
                margin-left: 0px;
            }

            .list{
                padding-bottom: 10px;
                // border-bottom: 1px solid lighten(@outer_background, 30% );

                li{
                    // padding-left: 0px;
                    text-transform: uppercase;
                    padding-top: 0px;
                    padding-bottom: 0px;
                    padding-right: 0px;
                    padding-left: 0px;
                    // border-right: 1px solid lighten(@outer_background, 70% );


                    .navbar-nav-link{
                        font-size: @font-size-small;
                        line-height: 100%;
                        display: block;
                        padding-top: 10px;
                        padding-bottom: 10px;
                        padding-left: 0px;
                        padding-right: 0px;
                        color: @inner_background;
                        background-color: darken(@brand-primary, 16%);
                    }
                }
                li:last-child {
                    border-right: 0px;
                }
            }
        }
    }

    .container{
        padding-top: @padding-vertical-contents;
        padding-bottom: @padding-vertical-contents;
        padding-left: @padding-contents;
        padding-right: @padding-contents;
        olor: lighten(@outer_background, 50% );

        a{
            color: @brand-primary;
        }
        a:hover{
            color: lighten(@brand-primary, 30%);
        }


        #credits{
            font-size: @font-size-small;
            // color: @inner_background;
            a{
                color: #F90;
            }
            a:hover{
                color: darken(#F90, 15%);
            }
        }

        .company_social_link, #company_social_links{
            margin-top: 22px;
            // color: lighten(@outer_background, 60% );
            font-size: floor((@font-size-base * 1.5));
        }


    }

    h1, h2, h3, h4, h5, h6 {
        font-size: @font-size-small;
        color: @brand-primary;
    }

    address{

        span{
            display: block;
        }
    }
	.hours-small{
		margin-bottom:20px;
		.hours-status-now{
			font-style: italic;
			font-size: 105%;
		}
	}

    #credits{
        font-size: @font-size-small;
        color: @brand-primary;
    }
}

/* ------------------------------- MODALS */



@media only screen and (max-width: 480px), screen and (max-device-width: 480px)  {

    .nav#main-nav{}

}


body.store-page{
	.shopping-cart-btn-container p.pull-right{
		margin: 8px 8px 0 0;
	}
	.product-attributes h5{
		font-size: 1.8em;
	}
	.navbar{
		margin-bottom: 0;
	}
	.product-item{
		border-bottom: solid 1px @outer_background;
	}
	.section.shop{
		.navbar-collapse{
			background-color: contrast(@texts);
		}
	}

}
