{% extends "../layouts/master.html" %}
{% block content %}
		
		<section class="section" id="company">
			<div class="container">
				<div class="row">
					{# TITOLO SEZIONE #}
					<hgroup class="col-md-12 section-title" id="map-section-title">
						<h1 class="pull-left">404</h1>
						<span class="pull-right goto">
							<a href="">vai alla sezione</a>
						</span>
					</hgroup>
					{# FINE TITOLO SEZIONE #}
					{# CONTENUTI SEZIONE #}
					<div class="col-md-12">
						<p id="company-short-description" class="lead">
							non funziona
						</p>
						<p>
							<a href="#">+</a>
						</p>
					</div>
					{# FINE CONTENUTI SEZIONE #}
				</div>
			</div>
		</section>
		
{% endblock %}
