{% extends "../layouts/master.html" %}
{% block content %}

		<section class="section" id="custom-page">
			<div class="container">
				<div class="row">
					{# TITOLO SEZIONE #}
					<hgroup class="col-md-12 section-title" id="map-section-title">
						<h1 class="">{= title =}</h1>
					</hgroup>
					{# FINE TITOLO SEZIONE #}
					{# CONTENUTI SEZIONE #}
					<div class="col-md-12">
						<div id="company-short-description" class="lead">{= text | safe =}</div>
					</div>
					{# FINE CONTENUTI SEZIONE #}
                </div>
            </div>
        </section>


        {% include "../partials/store.html"%}
        {% if photos %}
			{# {= album|json(2) =} #}
			{% include "../partials/loop-single-album.html" %}
		{% endif %}
		
{% endblock %}
