{% extends "../layouts/master.html" %}
{% block content %}

	<section class="section single-detail-page" id="loop-news">
		<div class="container">
			<div class="row">

				<hgroup class="col-md-12 section-title" id="map-section-title">
					<h1 class="pull-left">{= postData.title =}</h1>
				</hgroup>

				{% include "../../__default/partials/news-detail-content.html" %}

			</div>
		</div>
	</section>

{% endblock %}
