<div class="edit-entry">
	<ul class="list-inline pull-right">
		<li>
			<a class="btn btn-primary btn-md btn-majeeko-editor" href="#">
				<span class="fa fa-eye-slash"></span>
			</a>
		</li>
	</ul>
</div>
