{# ADVANTAGES #}
<section class="page-section" id="advantages">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="col-xs-12">
          <div class="row">
            <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 col-lg-offset-1 col-md-offset-1 text-center intro">
              <h1 class="text-center">{= t('intro.title') =}</h1>
				<p class="lead text-center"> 
					{= t('intro.description') =}
				</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row equal-row"> 
		{# SINGLE FEATURE #}
		<a class="block" href="#" data-toggle="modal" data-target="#myLogin" role="button">
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
				<div class="col-xs-12 feature pad singlestep">
			       <div class="row">
					<div class="col-sm-12 col-xs-12 text-center no-gutter">
						<img src="/images/homepage/fb-login-step.min.jpg" class="img-responsive fadeimage lazy" alt="{= t('steps.accedi.name') =}">
					</div>
			        <div class="col-sm-12 col-xs-12 equal-col">
			          <h2 class="text-center list-title">{= t('steps.accedi.name') =}</h2>
			          	<p class="text-center"> 
			          		{= t('steps.accedi.description') =}	
			          	</p>
			        </div>
			      </div>
			    </div>
			</div>
		</a>
		{# END SINGLE FEATURE #}
		{# SINGLE FEATURE #}
		<a class="block" href="#" data-toggle="modal" data-target="#myLogin" role="button">
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
				<div class="col-xs-12 feature pad singlestep">
			       <div class="row">
			              <div class="col-sm-12 col-xs-12 text-center no-gutter">
							<img src="/images/homepage/sync-step.min.jpg" class="img-responsive fadeimage lazy" alt="{= t('steps.sincronizza.name') =}">
			              </div>
			        <div class="col-sm-12 col-xs-12 equal-col">
			          <h2 class="text-center list-title">{= t('steps.sincronizza.name') =}</h2>
				          <p class="text-center"> 
				          	{= t('steps.sincronizza.description') =}
				          </p>
			        </div>
			      </div>
			    </div>
			</div>
		</a>    
		{# END SINGLE FEATURE #}
		{# SINGLE FEATURE #}
		<a class="block" href="#" data-toggle="modal" data-target="#myLogin" role="button">
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
				<div class="col-xs-12 feature pad singlestep">
			       <div class="row">
			              <div class="col-sm-12 col-xs-12 text-center no-gutter">
							<img src="/images/homepage/public-step.min.jpg" class="img-responsive fadeimage lazy" alt="{= t('steps.pubblica.name') =}">
			              </div>
			        <div class="col-sm-12 col-xs-12 equal-col">
			          <h2 class="text-center list-title">{= t('steps.pubblica.name') =}</h2>
				          <p class="text-center"> 
				          	{= t('steps.pubblica.description') =}
				          </p>
			        </div>
			      </div>
			    </div>
			</div>
		</a>    
		{# END SINGLE FEATURE #}
    </div>
  </div>
</section>
{# END ADVANTAGES #}
