<div class="alert alert-warning alert-dismissible cookies hidden-xs" role="alert" ng-cloak ng-show=" !cookiesAccepted ">
  <button type="button" class="close" aria-label="Accept and close" ng-click="acceptCookies()"><span aria-hidden="true">&times;</span></button>
    {= t('translation:cookies.main') =} <a href="#" data-toggle="modal" data-target="#cookiesModal">{= t('translation:cookies.link') =}</a>.
</div>


