{# <h1 style="position:fixed;top:0;left:0;z-index:10000000000">DOMAIN {= PRIMARY_DOMAIN =}</h1>
<h1 style="position:fixed;top:50px;left:0;z-index:10000000000">IS EDITOR {= isEditor =}</h1> #}
<script>
	document.domain = '{= PRIMARY_DOMAIN =}';
</script>
