{# 
<!-- HELP -->
<section class="page-section" id="help">
  <div class="container">
		<div class="row">
        	<div class="col-lg-2 col-md-2 col-sm-2 col-xs-5 text-center">
            	<a href="/beta_2/pubblic-website/modules/reference.php" data-toggle="modal" data-target="#myHelp" role="button">
            	<img class="img-responsive img-thumbnail img-circle pad" src="{= t('help.icon') =}" alt="{= t('help.title') =}" style="margin-top:10px;">
                </a>
            </div>
        	<div class="col-lg-10 col-md-10 col-sm-10 col-xs-7">
            	<h1 class="text-left">{= t('help.title') =}</h1>
                <p class="lead text-left hidden-xs">
                	{= t('help.description') =}         
                </p>
            </div>
        </div>
  </div>
</section>
<!-- END HELP --> 
#}

{# FOOTER #}
<section class="page-section" id="footer">
	<div class="container"> 
		<div class="row">
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
				<address>
					<h1>&copy; 2016 {= t('footer.copyright') =}</h1>
					<small> {= t('footer.address') =} <br>
					{= t('footer.country') =}<br />
                        {= t('footer.vat') =} {= t('footer.vat_code') =}</small>
					<a href="tel:00390640048802">
						<phone> 
							<span class="glyphicon glyphicon-earphone"></span> 
							{= t('footer.phone') =}
						</phone>
					</a>
				</address>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
				<h1><!-- {= t('navigation.partners') =} --> Investors</h1>
				<ul class="list-inline">
					<li class="investor">
						<img src="/images/LVG_logo_negativo.png" class="" alt="LUISS ENLABS"/> 
					</li>
					<li class="investor">
                        <img src="/images/cii-logox2.png" class="" alt="Club Italia Investimenti"/>
					</li>
                </ul>
                <ul class="list-inline">
					<li class="investor">
                        <img src="/images/logo-seeweb.png" class="" alt="Seeweb"/>
                    </li>
					
					{# <li class="investor">
						<img src="/images/logo-aws.png" class="" alt="Amazon Web Services"/> 
					</li> #}
				</ul>
				<h1 style="margin-top:10px;">{= t('navigation.partners') =}</h1>
				<ul class="list-inline">
					{# <li class="investor">
						<img src="/images/LVG_logo_negativo.png" class="" alt="LUISS ENLABS"/> 
					</li>
					<li class="investor">
						<img src="/images/cii-logox2.png" class="" alt="Club Italia Investimenti"/>
					</li>
					<li class="investor">
						<img src="/images/logo-seeweb.png" class="" alt="Seeweb"/> 
					</li> #}
					<li class="investor">
						<img style="max-height:40px;" src="/images/logo-aws.png" class="" alt="Seeweb"/> 
					</li>
				</ul>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 socials-links">
				{# <h1>{= t('navigation.socials') =}</h1> #}
				<ul class="list-inline">
					<li class="no-gutter"> 
						<a href="https://www.facebook.com/pages/Majeeko/1404483733202318" rel="publisher" target="_blank" class="sharelink">
						<i class="pad f fa fa-facebook"></i>
						</a> 
					</li>
					<li class="no-gutter"> 
						<a href="https://twitter.com/majeekoit" rel="publisher" target="_blank" class="sharelink">
						<i class="pad t fa fa-twitter"></i>
						</a> 
					</li>
					<li class="no-gutter"> 
						<a href="https://google.com/+Majeeko-app" rel="publisher" target="_blank" class="sharelink">
						<i class="pad fa fa-google-plus social-link-youtube"></i>
						</a> 
					</li>
					<li class="no-gutter"> 
						<a href="https://youtube.com/c/Majeeko-app" rel="publisher" target="_blank" class="sharelink">
						<i class="pad fa fa-youtube-play social-link-youtube"></i>
						</a> 
					</li>
					<li class="no-gutter"> 
						<a href="https://www.linkedin.com/company/majeeko" rel="publisher" target="_blank" class="sharelink">
						<i class="pad fa fa-linkedin social-link-linkedin"></i>
						</a> 
					</li>
				</ul>
			</div>
			<div class="col-sm-12 legals">
				<div class="row">
					<div class="col-sm-6">
						<ul class="list-inline">
							<li class=""> 
								<a href="#" data-toggle="modal" data-target="#myTerms">
									{= t('navigation.termini') =}
								</a>
							</li>
							<li class=""> 
								<a href="#" data-toggle="modal" data-target="#myPrivacy">
									{= t('navigation.privacy') =}
								</a>
							</li>
							<li class=""> 
								<a href="" ng-click="openContactsModal()">
									{= t('navigation.contatti') =}
								</a>
							</li>
							<li class=""> 
								<a href="http://blog.majeeko.com" target="blank">
		                            {= t('navigation.blog') =}
								</a>
							</li>
						</ul>
					</div>
					<div class="col-sm-6">
						<ul class="list-inline text-right">
		                    {# <li>
		                        {= t('navigation.set_lang_change') =}:
		                    </li> #}
		                    <li>
		                        <a href="?setLng=it" title="{= t('navigation.set_lang_change') =}: {= t('navigation.set_lang_name_it') =}"><span class="flag-icon flag-icon-it"></span> {= t('navigation.set_lang_name_it') =}</a>
		                    </li>
		                    <li>
		                        <a href="?setLng=en" title="{= t('navigation.set_lang_change') =}: {= t('navigation.set_lang_name_en') =}"><span class="flag-icon flag-icon-gb"></span> {= t('navigation.set_lang_name_en') =}</a>
		                    </li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{# END FOOTER #}
