<head>

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>
		{% if title %}
		{=title=}
		{% else %}
            {= t('translation:head.title') =}
		{% endif %}
	</title>
	<meta name="description" content="{= t('translation:head.description') =}">
	<meta name="keywords" content="{= t('translation:head.keywords') =}"/>

	<!-- Meta tags x autore -->
	<meta name="author" content="{= PRIMARY_DOMAIN =}">
	<meta name="copyright" content="{= PRIMARY_DOMAIN =}">

	{% if PRIMARY_DOMAIN == 'majeeko.com' %}
	{# Google site verification #}
	<meta name="google-site-verification" content="yzIeFjaYs65n5nbGYRVWDm0wSxwCZHsKrHsHzGIgbD4" />
	{# Pinterest site verification #}
	<meta name="p:domain_verify" content="2db32c79deea7c186db9c95b7a938dd7"/>
	{% else %}
	<meta name="robots" content="noindex, nofollow">
	{% endif %}

	<meta name="apple-mobile-web-app-title" content="Majeeko">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<meta name="format-detection" content="telephone=no">


	<!-- favicon & image src -->
	<link rel="icon" href="/favicon.ico" />
	<link rel="image_src" href="/images/icone-dispositivi/iOS7_Icon_template.png">

	<!-- Facebook meta tags -->
	<meta property="fb:app_id" content="">
	<meta property="og:image" content="/images/ogimage.png">
	<meta property="og:image:type" content="image/png">
	<meta property="og:image:width" content="1000">
	<meta property="og:image:height" content="522">
	<meta property="og:url" content="{= ROOT_URL =}">
	<meta property="og:title" content="Majeeko">
	<meta property="og:description" content="{= t('translation:head.shortDesc') =}">
	<meta property="og:type" content="website">

	{% if NODE_ENV == 'production' %}
		{% include './newrelic-browser.html' %}
	{% endif %}

	<!-- iOS 7 iPad (retina) -->
	<link href="/images/icone-dispositivi/iOS7_Icon_template.png"
		  sizes="152x152"
		  rel="apple-touch-icon-precomposed">

	<!-- iOS 6 iPad (retina) -->
	<link href="/images/icone-dispositivi/iOS7_Icon_template.png"
		  sizes="144x144"
		  rel="apple-touch-icon-precomposed">

	<!-- iOS 7 iPhone (retina) -->
	<link href="/images/icone-dispositivi/iOS7_Icon_template.png"
		  sizes="120x120"
		  rel="apple-touch-icon-precomposed">

	<!-- iOS 6 iPhone (retina) -->
	<link href="/images/icone-dispositivi/iOS7_Icon_template.png"
		  sizes="114x114"
		  rel="apple-touch-icon-precomposed">

	<!-- iOS 7 iPad -->
	<link href="/images/icone-dispositivi/iOS7_Icon_template.png"
		  sizes="76x76"
		  rel="apple-touch-icon-precomposed">

	<!-- iOS 6 iPad -->
	<link href="/images/icone-dispositivi/iOS7_Icon_template.png"
		  sizes="72x72"
		  rel="apple-touch-icon-precomposed">

	<!-- iOS 6 iPhone -->
	<link href="/images/icone-dispositivi/iOS7_Icon_template.png"
		  sizes="57x57"
		  rel="apple-touch-icon-precomposed">

	<!-- Startup images -->

	<!-- iOS 6 & 7 iPad (retina, portrait) -->
	<link href="/images/icone-dispositivi/apple-touch-startup-image-1536x2008.png"
		  media="(device-width: 768px) and (device-height: 1024px)
			     and (orientation: portrait)
			     and (-webkit-device-pixel-ratio: 2)"
		  rel="apple-touch-startup-image">

	<!-- iOS 6 & 7 iPad (retina, landscape) -->
	<link href="/images/icone-dispositivi/apple-touch-startup-image-1496x2048.png"
		  media="(device-width: 768px) and (device-height: 1024px)
			     and (orientation: landscape)
			     and (-webkit-device-pixel-ratio: 2)"
		  rel="apple-touch-startup-image">

	<!-- iOS 6 iPad (portrait) -->
	<link href="/images/icone-dispositivi/apple-touch-startup-image-768x1004.png"
		  media="(device-width: 768px) and (device-height: 1024px)
			     and (orientation: portrait)
			     and (-webkit-device-pixel-ratio: 1)"
		  rel="apple-touch-startup-image">

	<!-- iOS 6 iPad (landscape) -->
	<link href="/images/icone-dispositivi/apple-touch-startup-image-748x1024.png"
		  media="(device-width: 768px) and (device-height: 1024px)
			     and (orientation: landscape)
			     and (-webkit-device-pixel-ratio: 1)"
		  rel="apple-touch-startup-image">

	<!-- iOS 6 & 7 iPhone 5 -->
	<link href="/images/icone-dispositivi/apple-touch-startup-image-640x1096.png"
		  media="(device-width: 320px) and (device-height: 568px)
			     and (-webkit-device-pixel-ratio: 2)"
		  rel="apple-touch-startup-image">

	<!-- iOS 6 & 7 iPhone (retina) -->
	<link href="/images/icone-dispositivi/apple-touch-startup-image-640x920.png"
		  media="(device-width: 320px) and (device-height: 480px)
			     and (-webkit-device-pixel-ratio: 2)"
		  rel="apple-touch-startup-image">

	<!-- iOS 6 iPhone -->
	<link href="/images/icone-dispositivi/apple-touch-startup-image-320x460.png"
		  media="(device-width: 320px) and (device-height: 480px)
			     and (-webkit-device-pixel-ratio: 1)"
		  rel="apple-touch-startup-image">


	<!-- Fogli di stile -->
    <!--<link rel="stylesheet" href="https://cdn.jsdelivr.net/g/bootstrap@3.3.5(css/bootstrap.min.css),bootstrap-social@4.10.1,angular.textangular@1.4.6(textAngular.css)">-->
    <!--
    <link href="/components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/components/bootstrap-social/bootstrap-social.css" rel="stylesheet">
    <link href="/components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/components/angular-bootstrap-colorpicker/css/colorpicker.min.css" rel="stylesheet">
    -->
    {# <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" media="screen"> #}
    <link href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-social/4.10.1/bootstrap-social.css" rel="stylesheet" media="screen">
    <link href="/components/font-awesome/css/font-awesome.min.css" rel="stylesheet" media="screen">
    <link href="//cdnjs.cloudflare.com/ajax/libs/angular-bootstrap-colorpicker/3.0.19/css/colorpicker.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" type="text/css" href="/components/angular-ui-grid/ui-grid.min.css">

	<!-- textAngular -->
	<link rel='stylesheet' href='/components/textAngular/dist/textAngular.css'>

	<!-- minicolors -->
	<link rel="stylesheet" href="/components/jquery-minicolors/jquery.minicolors.css">


	<link href="/css/editor.css" rel="stylesheet" media="screen">



	<!-- respond.js per IE8 -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	{% if first_time %}{% include 'scripts/facebook-pixel.html' %}{% endif %}

	{% include 'zopim.html' %}
	{% include 'analytics/usability-tools.html' %}
</head>
