

<!-- Event Modal login -->
<div id="myLogin" class="modal fade ">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<!-- -->
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="{= t('translation:modals.close') =}">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">{= t('translation:modals.login_access') =}</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-12">
						<p class="text-center">{= t('translation:modals.login_title') =}</p>
				    	<div>
							
							
							{# <form role="form">
							    <div class="form-group">
							      <label for="exampleInputEmail1">Email address</label>
							      <input type="email" class="form-control input-lg" id="exampleInputEmail1" placeholder="Enter email">
							    </div>
							    <div class="form-group">
							      <label for="exampleInputPassword1">Password</label>
							      <input type="password" class="form-control input-lg" id="exampleInputPassword1" placeholder="Password">
							    </div>
							    <div class="checkbox">
							      <label>
							        <input type="checkbox">
							        Check me out </label>
							    </div>
							    <button type="submit" class="btn btn-default btn-lg btn-block">Registrati</button>
							</form>  #}
							       
				        	
				            <a class="pad btn btn-block btn-social btn-facebook" 
				            style="margin-bottom:15px;"
				            href="/auth/facebook"
				            role="button" 
				            target="_self">
				                <i class="fa fa-facebook"></i> {= t('translation:modals.login_acc_fb') =}
				            </a>
				        </div>
				        <p class="text-center"><small>{= t('translation:modals.login_body') =}</small></p>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">{= t('translation:modals.close') =}</button>
				{# <button type="button" class="btn btn-primary">Save changes</button> #}
			</div>
			<!-- -->
		</div>
	</div>
</div>

{# <!-- Terms & conditions login --> #}
<div id="myTerms" class="modal fade ">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<!-- -->
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">{= t('navigation.termini') =}</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-12">
                        {= t('translation:modals.terms_body') =}
                    </div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">{= t('translation:modals.close') =}</button>
				{# <button type="button" class="btn btn-primary">Save changes</button> #}
			</div>
			<!-- -->
		</div>
	</div>
</div>
{# <!-- Terms & conditions login --> #}

<!-- Event Modal login -->
<div id="myPrivacy" class="modal fade ">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<!-- -->
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="{= t('translation:modals.close') =}">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">{= t('navigation.privacy') =}</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-12">
                        {= t('translation:modals.privacy_body') =}
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">{= t('translation:modals.close') =}</button>
				{# <button type="button" class="btn btn-primary">Save changes</button> #}
			</div>
			<!-- -->
		</div>
	</div>
</div>

<div id="cookiesModal" class="modal fade ">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<!-- -->
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="{= t('translation:modals.close') =}">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">{= t('translation:navigation.cookies') =}</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-12">
                        {= t('translation:modals.cookies_body') =}
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">{= t('translation:modals.close') =}</button>
				{# <button type="button" class="btn btn-primary">Save changes</button> #}
			</div>
			<!-- -->
		</div>
	</div>
</div>

<!-- EDIT Modal login -->
<div id="myEdit" class="modal fade ">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<!-- -->
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">Modal title</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-3 sidebar">

						<ul class="nav nav-pills nav-stacked nav-sidebar">
							<li class="active">
								<a href="#">
									<span>settings</span>
									<span class="glyphicon glyphicon-cog pull-right"></span>
									<!---->
								</a>
							</li>
							<li>
								<a href="#">
									<span>graphics</span>
									<span class="glyphicon glyphicon-pencil pull-right"></span>
									<!---->
								</a>
							</li>
							<li>
								<a href="#">
									<span>contents</span>
									<span class="glyphicon glyphicon-pencil pull-right"></span>
									<!---->
								</a>
							</li>
							<li>
								<a href="#">
									<span>Pubblica</span>
									<span class="glyphicon glyphicon-globe pull-right"></span>
									<!---->
								</a>
							</li>
						</ul>

					</div>
					{##}
					{# 
					<div class="col-md-9  main">
						<!--inizia iframe -->
						<div class="  rules">
							<div class="viewport desktop-viewport">
								<div class="spinner" id="loader1"></div>
								<iframe name="InlineFrame1" scrolling="yes" frameborder="0" id="app_preview" src="http://{= pageName =}.{= PRIMARY_DOMAIN =}" style="display: block;"></iframe>
							</div>
						</div>
						<!-- fine iframe -->
					</div> 
					#}
					
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Chiudi</button>
				<button type="button" class="btn btn-primary">Save changes</button>
			</div>
			<!-- -->
		</div>
	</div>
</div>

<!-- Event Modal Settings -->
<div id="mySertting" class="modal fade ">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<!-- -->
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">Editor modal</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-12">
						<!-- tab panel -->

							<!-- Nav tabs -->
							  <ul class="nav nav-tabs" role="tablist">
							    <li role="presentation" class="active"><a href="#generalsettings" aria-controls="Generali" role="tab" data-toggle="tab">Generali</a></li>
							    <li role="presentation"><a href="#socialsettings" aria-controls="Social" role="tab" data-toggle="tab">Social</a></li>
							    <li role="presentation"><a href="#navsettings" aria-controls="Menu" role="tab" data-toggle="tab">Menu</a></li>
							  </ul>

							 <!-- Tab panes -->
							  <div class="tab-content">
							    <div role="tabpanel" class="tab-pane active" id="generalsettings">
							    	<form>
									  <div class="form-group">
									    <label for="sitename">Nome</label>
									    <input type="text" class="form-control" id="sitename" placeholder="Nome">
									  </div>
									  <div class="form-group">
									    <label for="payoff">payoff</label>
									    <input type="password" class="form-control" id="payoff" placeholder="payoff">
									  </div>
									  <div class="form-group">
									    <label for="shortdescription">shortdescription</label>
									    <input type="text" class="form-control" id="shortdescription" placeholder="shortdescription">
									  </div>
									  <div class="form-group">
									    <label for="vatcode">vatcode</label>
									    <input type="text" class="form-control" id="vatcode" placeholder="vatcode">
									  </div>
									</form>
							    </div>
							    <div role="tabpanel" class="tab-pane" id="socialsettings">
							    	<form>
									  <div class="form-group">
									    <label for="e-mail ">e-mail</label>
									    <input type="text" class="form-control" id="e-mail" placeholder="e-mail">
									  </div>
									  <div class="form-group">
									    <label for="Skype">Skype</label>
									    <input type="password" class="form-control" id="Skype" placeholder="Skype">
									  </div>
									  <div class="form-group">
									    <label for="Twitter">Twitter</label>
									    <input type="text" class="form-control" id="Twitter" placeholder="Twitter">
									  </div>
									  <div class="form-group">
									    <label for="vatcode">Youtube</label>
									    <input type="text" class="form-control" id="Youtube" placeholder="Youtube">
									  </div>
									</form>
							    </div>
							    <div role="tabpanel" class="tab-pane" id="navsettings">
							    	<form>
									  <div class="form-group">
									    <label for="news ">e-news</label>
									    <input type="text" class="form-control" id="e-mail" placeholder="news">
									  </div>
									  <div class="form-group">
									    <label for="Eventi">Eventi</label>
									    <input type="password" class="form-control" id="Eventi" placeholder="Eventi">
									  </div>
									  <div class="form-group">
									    <label for="Album">Album</label>
									    <input type="text" class="form-control" id="Album" placeholder="Album">
									  </div>
									  <div class="form-group">
									    <label for="Contatti">Contatti</label>
									    <input type="text" class="form-control" id="Youtube" placeholder="Contatti">
									  </div>
									</form>
							    </div>
							  </div>

						<!-- end tab panel -->
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Chiudi</button>
				<button type="button" class="btn btn-primary">Save changes</button>
			</div>
			<!-- -->
		</div>
	</div>
</div>

<!-- Event Modal Settings -->
<div id="myGraphics" class="modal fade ">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<!-- -->
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title">Modal title</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-12">
						<!-- tab panel -->

							<!-- Nav tabs -->
							  <ul class="nav nav-tabs" role="tablist">
							    <li role="presentation" class="active"><a href="#templatesettings" aria-controls="templatesettings" role="tab" data-toggle="tab">templatesettings</a></li>
							    <li role="presentation"><a href="#columnsettings" aria-controls="columnsettings" role="tab" data-toggle="tab">columnsettings</a></li>
							    <li role="presentation"><a href="#coloursettings" aria-controls="coloursettings" role="tab" data-toggle="tab">coloursettings</a></li>
							  </ul>	

							<!-- Tab panes -->
							  <div class="tab-content">
							    <div role="tabpanel" class="tab-pane active" id="templatesettings">
							    	<form>
									  <div class="form-group">
									    <label for="sitename">Nome</label>
									    <select class="form-control">
										  <option>1</option>
										  <option>2</option>
										  <option>3</option>
										  <option>4</option>
										  <option>5</option>
										</select>
									  </div>
									</form>
							    </div>
							    <div role="tabpanel" class="tab-pane" id="columnsettings">
							    	<form>
									  <div class="form-group">
									    <label for="sitename">Nome</label>
									    <select class="form-control">
										  <option>1</option>
										  <option>2</option>
										  <option>3</option>
										  <option>4</option>
										  <option>5</option>
										</select>
									  </div>
									  <div class="form-group">
									    <label for="sitename">Nome</label>
									    <select class="form-control">
										  <option>1</option>
										  <option>2</option>
										  <option>3</option>
										  <option>4</option>
										  <option>5</option>
										</select>
									  </div>
									  <div class="form-group">
									    <label for="sitename">Nome</label>
									    <select class="form-control">
										  <option>1</option>
										  <option>2</option>
										  <option>3</option>
										  <option>4</option>
										  <option>5</option>
										</select>
									  </div>
									  <div class="form-group">
									    <label for="sitename">Nome</label>
									    <select class="form-control">
										  <option>1</option>
										  <option>2</option>
										  <option>3</option>
										  <option>4</option>
										  <option>5</option>
										</select>
									  </div>
									</form>
							    </div>
							    <div role="tabpanel" class="tab-pane" id="coloursettings">
							    	
							    </div>
							  </div>
  

						<!-- end tab panel -->
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Chiudi</button>
				<button type="button" class="btn btn-primary">Save changes</button>
			</div>
			<!-- -->
		</div>
	</div>
</div>


<script type="text/ng-template" id="main-contacts.tpl">
<div class="modal-header">
	<button type="button" class="close" aria-label="{= t('translation:modals.close') =}" ng-click="$close()">
		<span aria-hidden="true">&times;</span>
	</button>
	<h4 class="modal-title">{= t('navigation.contatti') =}</h4>
</div>

<form name="contactForm" >
	<div class="modal-body">
		<div class="row">
			<div class="col-md-6">
				<div gmap id="map-canvas"></div>
			</div>
			<div class="col-md-6" ng-hide="contactFormSuccess">
				<div class="row">
					<div class="col-md-6">
						<div class="form-group" ng-class="{'has-error': !contactFormData.name.valid && contactForm.name.$touched}">
							<label for="InputName">{= t('contactForm.name') =}:</label>
							<input type="text" class="form-control" name="name" id="InputName" placeholder="{= t('contactForm.name') =}" required="required" ng-trim="true" ng-model="contactFormData.name.content" ng-blur="validateContactForm()">
		    				<p ng-show="!contactFormData.name.valid && contactForm.name.$touched" class="help-block">{= t('contactForm.insert_name') =}</p>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group" ng-class="{'has-error': !contactFormData.surname.valid && contactForm.surname.$touched}">
							<label for="InputSurame">{= t('contactForm.surname') =}:</label>
							<input type="text" class="form-control" name="surname" id="InputSurame" placeholder="{= t('contactForm.surname') =}" required="required" ng-trim="true" ng-model="contactFormData.surname.content" ng-blur="validateContactForm()">
		    				<p ng-show="!contactFormData.surname.valid && contactForm.surname.$touched" class="help-block">{= t('contactForm.insert_surname') =}</p>
						</div>
					</div>
				</div>
				<div class="form-group" ng-class="{'has-error': !contactFormData.email.valid && contactForm.email.$touched }">
					<label for="InputEmail">{= t('contactForm.email') =}</label>
					<input type="email" class="form-control" name="email" id="InputEmail" placeholder="{= t('contactForm.email') =}" required="required" ng-trim="true" ng-model="contactFormData.email.content" ng-blur="validateContactForm()">
					<div ng-show="!contactFormData.email.valid && contactForm.email.$touched" class="help-block">{= t('contactForm.insert_email') =}</div>
				</div>
				<div class="form-group" ng-class="{'has-error': !contactFormData.message.valid && contactForm.message.$touched}">
			        <label for="message">{= t('contactForm.message') =}</label>
			        <textarea class="form-control" id="message" name="message" type="textarea" rows="10" required="required" ng-blur="validateContactForm()" ng-model="contactFormData.message.content"></textarea>
    				<p ng-show="!contactFormData.message.valid && contactForm.message.$touched" class="help-block">{= t('contactForm.insert_message') =}</p>
				</div>
				<div class="form-group">
					<div
					    vc-recaptcha
					    key="'6LfRpAYTAAAAACtJXOIil6NSUs7CU0NanbQ9LGeV'"
					    on-success="recaptchaSuccess(response)"
						on-expire="recaptchaExpire()"
					></div>
				</div>
                <div class="form-group">
                    <div class="checkbox">
                        <label for="privacy"><input name="privacy" type="checkbox" ng-blur="validateContactForm()" ng-model="contactFormData.privacy">
                        <small>{= t('contactForm.privacy') =}</small></label>
                    </div>
                </div>
                <!-- error messages -->
                <div class="alert alert-danger" role="alert" ng-show="contactFormShowError.validation">
                    {= t('contactForm.validation') =}
                </div>
                <div class="alert alert-danger" role="alert" ng-show="contactFormShowError.privacy">
                    {= t('contactForm.check_privacy') =}
                </div>
                <div class="alert alert-danger" role="alert" ng-show="contactFormShowError.captcha">
                    {= t('contactForm.captcha') =}
                </div>
                <div class="alert alert-danger" role="alert" ng-show="contactFormShowError.emailaddress">
                    {= t('contactForm.emailaddress') =}
                </div>
                <div class="alert alert-danger" role="alert" ng-show="contactFormShowError.cannotsend">
                    {= t('contactForm.cannotsend') =}
                </div>
			</div>
            <div class="col-md-6" ng-show="contactFormSuccess">
                <div class="alert alert-success" role="alert">
                    {= t('contactForm.success') =}
                </div>
            </div>
		</div>
	</div>
	<div class="modal-footer" ng-hide="contactFormSuccess">
		<button type="button" class="btn btn-default" ng-click="$close()">{= t('translation:modals.close') =}</button>
        <button type="submit" class="btn btn-primary fixed-width-button-6em" ng-click="sendContactForm()" ng-hide="contactFormSending ">{= t('contactForm.send') =}</button>
        <button type="submit" class="btn btn-standard fixed-width-button-6em" disabled="disabled" ng-show="contactFormSending"><i class="fa fa-refresh fa-spin"> </i>&nbsp;</button>
	</div>
</form>
</script>
