<nav class="navbar navbar-default navbar-fixed-top box-shadow"  role="navigation">

<!-- allert -->
{% include 'cookies-allert.html' %}
<!-- allert end -->

	<div class="container">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			
			<button type="button"  id="nav-toggle" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			
			<a class="navbar-brand scroll-link" href="#banner-home" data-id="banner-home">
				<img src="/images/Hosting-Tophost-2.jpg" class="navbar-brand-img" id="navbar-brand-img" height="40px;" style="margin-top:3px;">
			</a>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse navbar-main-collapse" id="main-nav">
			<ul class="nav navbar-nav navbar-right">
	           {#  <li>
					<a class="scroll-link" href="#advantages" data-id="advantages">{= t('navigation.servizio') =}</a>
				</li>
				<li>
					<a class="scroll-link" href="#themes" data-id="themes">{= t('navigation.temi') =}</a>
				</li>
				<li>
					<a class="scroll-link" href="#price-new" data-id="price-new">{= t('navigation.prezzi') =}</a>
				</li>
				<li>
					<a class="scroll-link hidden-xs" href="#team" data-id="team">{= t('navigation.team') =}</a>
				</li> #}
				{% if user %}
				<li>
					<a href="/manager">{= t('navigation.manager') =}</a>
				</li>
				{% endif %}

				<li>
					<a class="scroll-link" href="#price-new" data-id="price-new">{= t('navigation.prezzi') =}</a>
				</li>

				
				{# {% if user %}
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<span class="glyphicon glyphicon-user"></span> 
						<strong class="username">{= user.facebook.profile.name.givenName =}</strong>
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu" role="menu">
						<li>
							<a href="/logout">{= t('navigation.esci') =}</a>
						</li>
					</ul>
				</li>
				{% else %}
				<li class="">
					<a href="/auth/facebook" role="button" id="fb-accedi-nav">
						<div class="pad btn btn-sm btn-social btn-facebook"> <i class="fa fa-facebook"></i>
							{= t('navigation.accedi') =}
						</div>
					</a>
				</li>
				{% endif %} #}
				
			</ul>
		</div>
		<!-- /.navbar-collapse -->
	</div>
	<!-- /.container -->
</nav>
