<div class="row">
	<div class="col-lg-12">
		<script type="text/ng-template" id="page-search-results-template.html">
			<li>
				<div class="row">
					<div class="col-xs-12 singlesuggest">
						<div class="row">
							<div class="col-xs-4 singlesuggest suggestimg">
								<img class="img-responsive fadeimage lazy" ng-src="{{match.model.picture.data.url}}"></div>
							<div class="col-xs-8 singlesuggest suggestname">
								<div class="suggestpagename" bind-html-unsafe="match.model.name | typeaheadHighlight:query"></div>
								<p>
									<span class="pagedatacategory">{{match.model.category}}</span>
									<span class="pagedatalikes">
										<span class="glyphicon glyphicon-thumbs-up"></span> <strong>{{match.model.likes}}</strong>
									</span>
								</p>
								<span class="toput" style="display:none;">{{match.model.link}}</span>
							</div>
						</div>
					</div>
				</div>
			</li>
		</script>

		<form class="home-url-form" ng-submit="createPreview($event)">	
			<div id="fb-page-search" class="input-group input-group-lg ">

				<span class="input-group-addon hidden-xs" id="fa-facebook-home">
					<i class="fa fa-facebook"></i>
				</span>

				<!-- {{selectedPage}} -->

				<span class="form-control search-input-wrapper">
					<input class="form-control input-lg" name="url_fb" id="url_fb" placeholder="{= t('banner.nome_pagina') =}" autocomplete="off"
						typeahead="page as page.name for page in searchPage($viewValue)" 
						typeahead-template-url="page-search-results-template.html"
						ng-model="selectedPage"
						typeahead-loading="loadingPages"
						typeahead-wait-ms="200"
					>
				</span>

				<span class="input-group-btn">
					<input type="submit" name="inviafb" id="inviafb" value="{= t('banner.prova_pulz') =}" class="btn btn-primary btn-lg" ng-disabled="!selectedPage.id">
				</span>
			</div>

			<span id="indicator1" ng-show="loadingPages">
				 <small>{= t('banner.cerca') =}</small>
			</span>
		</form>
	</div>
</div>