<section class="page-section" id="price-new">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="col-xs-12">
          <div class="row">
            <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 col-lg-offset-1 col-md-offset-1 text-center intro">
              <h1 class="text-center">{= t('pricing.title') =}</h1>
              <p class="lead text-center">
              	{= t('pricing.description') =}
			  </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row equal-row"> 
      <!-- license-->
	  <div class="col-lg-10 col-md-12 col-sm-12 col-xs-12 col-lg-offset-1">
		<a class="" data-toggle="modal" data-target="#myLogin">
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center equal-col free" style="height: 472px;"> 
				
				<ul class="list-group text-left price pad ">
					<!-- <div class="recommended-graphic">
						top seller
					</div> -->
					<!--<li class="list-group-item alert-warning list-group-item-first">
						<h2 class="text-center"> Free</h2>
					</li>-->
					<li class="list-group-item text-center list-group-item-first">
						<div class="btn-lg btn-block"> 
							<h2 class="text-center">{= t('pricing.demoversion') =}</h2>
							<span></span>
							<strong class="pricing">{= t('pricing.free') =}</strong>
							<span></span>
						</div>
					</li>
					{% set pricing = 'pricing.freemium' %}
					<li class="list-group-item"> 
						{# <span class="glyphicon glyphicon-globe"></span> #} 
						<span class="badge">
							<i class="glyphicon glyphicon-remove"></i>
						</span>
						<strong>{= t('pricing.domain') =}</strong> <br>
						<small class="sampledomain">{= t(pricing + '.domain-demo') =}</small>
					</li>
					<li class="list-group-item">
						<span class="badge">
							<i class="glyphicon glyphicon-ok"></i>
						</span>
						<strong>8</strong>
						{= t('pricing.layout') =}
					</li>
					<li class="list-group-item">
						<span class="badge">
							<i class="glyphicon glyphicon-remove"></i>
						</span>
						<strong>0</strong>
						{= t('pricing.email') =}
					</li>
					<li class="list-group-item">
						<span class="badge">
							<i class="glyphicon glyphicon-remove"></i>
						</span>
						{= t('pricing.sync') =}
					</li>
					<li class="list-group-item ">
						<span class="badge">
							<i class="glyphicon glyphicon-remove"></i>
						</span>
						{= t('pricing.stats') =}
					</li>
					<li class="list-group-item">
						<span class="badge">
							<i class="glyphicon glyphicon-remove"></i>
						</span>
						{= t('pricing.pages') =}
					</li>
					<li class="list-group-item">
						<span class="badge">
							<i class="glyphicon glyphicon-remove"></i>
						</span>
						{= t('pricing.adv') =}
					</li>
                    <li class="list-group-item">
						<span class="badge">
							<i class="glyphicon glyphicon-remove"></i>
						</span>
                        {= t('pricing.googleindexing') =}
                    </li>
					<li class="list-group-item">
						<span class="badge">
							<i class="glyphicon glyphicon-remove"></i>
						</span>
						{= t('pricing.ecommerce') =}
					</li>

					<li class="list-group-item list-group-item-last text-center">
						<div class="btn btn-block btn-lg btn-buy buy"> 
							<span class="glyphicon glyphicon-piggy-bank"></span> {= t('banner.prova_pulz') =}
						</div>
					</li>
					
				</ul>
			</div>
		</a>
		{# license  #}
		<a  class="" data-toggle="modal" data-target="#myLogin">
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center equal-col recommended" style="height: 472px;"> 
				
				<ul class="list-group text-left price pad ">
					<div class="recommended-graphic" style="display:block;">
                        {= t('pricing.topseller') =}
					</div>
					<!--<li class="list-group-item alert-warning list-group-item-first"></li>-->
					<li class="list-group-item text-center list-group-item-first">
						<div class="btn-lg btn-block"> 
							<h2 class="text-center"> {= t('pricing.premium_version') =}</h2>
							<span></span>
							<strong class="pricing">€ 99</strong>
							<span>/ {= t('pricing.year') =}</span>
						</div>
					</li>
					{% set pricing = 'pricing.premium' %}
					<li class="list-group-item"> 
						{# <span class="glyphicon glyphicon-globe"></span> #} 
						<span class="badge">
							<i class="glyphicon glyphicon-ok"></i>
						</span>
						<strong>{= t('pricing.domain') =}</strong><br>
						<small class="sampledomain">{= t(pricing + '.domain-demo') =}</small>
					</li>
					<li class="list-group-item">
						<span class="badge">
							<i class="glyphicon glyphicon-ok"></i>
						</span>
						<strong>8</strong>
						{= t('pricing.layout') =}
					</li>
					<li class="list-group-item">
						<span class="badge">
							<i class="glyphicon glyphicon-ok"></i>
						</span>
						<strong>2</strong>
						{= t('pricing.email') =}
					</li>
					<li class="list-group-item">
						<span class="badge">
							<i class="glyphicon glyphicon-ok"></i>
						</span>
						{= t('pricing.sync') =}
					</li>
					<li class="list-group-item">
						<span class="badge">
							<i class="glyphicon glyphicon-ok"></i>
						</span>
						{= t('pricing.stats') =}
					</li>
					<li class="list-group-item">
						<span class="badge">
							<i class="glyphicon glyphicon-ok"></i>
						</span>
						{= t('pricing.pages') =}
					</li>
					<li class="list-group-item">
						<span class="badge">
							<i class="glyphicon glyphicon-ok"></i>
						</span>
						{= t('pricing.adv') =}
					</li>
                    <li class="list-group-item">
						<span class="badge">
							<i class="glyphicon glyphicon-ok"></i>
						</span>
                        {= t('pricing.googleindexing') =}
                    </li>
					<li class="list-group-item">
						<span class="badge">
							<i class="glyphicon glyphicon-remove"></i>
						</span>
						{= t('pricing.ecommerce') =}
					</li>

					<li class="list-group-item list-group-item-last text-center">
						
						<div class="btn btn-block btn-lg btn-buy buy"> 
							<span class="glyphicon glyphicon-shopping-cart"></span>{= t('pricing.buy') =}
						</div>
					</li>
					
				</ul>
			</div>
		</a>
		{# end license #}
		{# license  #}   
		<a class="" data-toggle="modal" data-target="#myLogin">
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center equal-col pro" style="height: 476px;"> 
				
				<ul class="list-group text-left price pad ">
					<div class="recommended-graphic" style="display:none;">
						{#top seller #}
					</div>
					<li class="list-group-item text-center list-group-item-first">
						<div class="btn-lg btn-block"> 
							<h2 class="text-center"> {= t('pricing.pro') =}</h2>
							<span></span>
							<strong class="pricing">€ 179</strong>
                            <span>/ {= t('pricing.year') =}</span>
						</div>
					</li>
					{% set pricing = 'pricing.advanced' %}
					<li class="list-group-item"> 
						{# <span class="glyphicon glyphicon-globe"></span> #} 
						<span class="badge">
							<i class="glyphicon glyphicon-ok"></i>
						</span>
						<strong>{= t('pricing.domain') =}</strong> <br>
						<small class="sampledomain">{= t(pricing + '.domain-demo') =}</small>
					</li>
					<li class="list-group-item">
						<span class="badge">
							<i class="glyphicon glyphicon-ok"></i>
						</span>
						<strong>8</strong>
						{= t('pricing.layout') =}
					</li>
					<li class="list-group-item">
						<span class="badge">
							<i class="glyphicon glyphicon-ok"></i>
						</span>
						<strong>2</strong>
						{= t('pricing.email') =}
					</li>
					<li class="list-group-item">
						<span class="badge">
							<i class="glyphicon glyphicon-ok"></i>
						</span>
						{= t('pricing.sync') =}
					</li>
					<li class="list-group-item">
						<span class="badge">
							<i class="glyphicon glyphicon-ok"></i>
						</span>
						{= t('pricing.stats') =}
					</li>
					<li class="list-group-item">
						<span class="badge">
							<i class="glyphicon glyphicon-ok"></i>
						</span>
						{= t('pricing.pages') =}
					</li>
					<li class="list-group-item">
						<span class="badge">
							<i class="glyphicon glyphicon-ok"></i>
						</span>
						{= t('pricing.adv') =}
					</li>
                    <li class="list-group-item">
						<span class="badge">
							<i class="glyphicon glyphicon-ok"></i>
						</span>
                        {= t('pricing.googleindexing') =}
                    </li>
                    <li class="list-group-item">
						<span class="badge">
							<i class="glyphicon glyphicon-ok"></i>
						</span>
                        {= t('pricing.ecommerce') =}
                    </li>

					<li class="list-group-item list-group-item-last text-center">
						<div class="btn btn-block btn-lg btn-buy buy"> 
							<span class="glyphicon glyphicon-shopping-cart"></span>{= t('pricing.buy') =}
                        </div>
					</li>
					
				</ul>
			</div>
		</a>            
		{# end license #}
	  </div> 
    </div>
  </div>
</section>
