<section class="page-section hidden-xs" id="team">
  <div class="container container-xs-height">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="row">
            <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 col-lg-offset-1 col-md-offset-1 text-center intro">
              <h1 class="text-center">{= t('team.title') =}</h1>
              <p class="lead text-center"> 
                {= t('team.description') =}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row equal-row"> 
      <!-- license-->
      
<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 single-team text-center">
  <div class="row">
    <div style="height: 263px;" class="col-lg-12 col-md-12 col-sm-12 col-xs-6  equal-col"> 
    <!--<a href="/facebook/auth" data-toggle="modal" data-target="#myLogin" role="button"></a>-->
    <img src="/images/homepage/team/simone.min.jpg" class="img-responsive img-thumbnail img-circle box-shadow lazy" id="user-avatar">
    </div>
    <div style="height: 96px;" class="col-lg-12 col-md-12 col-sm-12 col-xs-6 equal-col">
      <h2 class="text-center team-name">
      	<span class="name">Simone</span> 
		<span class="surname">Golcic</span> 
      </h2>
      <p class="text-center"><strong class="position">founder / ceo</strong> </p>
      {#<p class="text-center hidden-xs hidden"> La sua passione è il codice e le strategie aziendali.
		Nato a Udine nel 1983, inizia la sua carriera da programmatore nel 2003, subito dopo aver terminato gli studi con specializzazione in commercio elettronico.
	 </p>#}
    </div>
  </div>
  <!---->
  <ul class="list-inline hidden-xs team-social-links">
    <li>
		<a href="http://it.linkedin.com/pub/simone-golcic/16/a69/64/it" class="btn btn-circle social-link-linkedin pad" role="button" target="_blank">
		<i class="fa fa-linkedin"></i><!--In-->
		</a>
	</li><!--
    <li>
		<a href="http://www.facebook.com" class="btn btn-circle social-link-facebook box-shadow" role="button" target="_blank">
		<i class="fa fa-facebook"></i>fb
		</a>
	</li>-->
    <li>
		<a href="https://twitter.com/SimoneGolcic" class="btn btn-circle social-link-twitter pad" role="button" target="_blank">
		<i class="fa fa-twitter"></i>
		</a>
	</li>
	{# <li>
		<a href="/beta_2/pubblic-website/modules/contattaci.php" class="btn btn-circle social-link pad" role="button" data-toggle="modal" data-target="#myContacts">
		<i class="glyphicon glyphicon-envelope"></i><!--In-->
		</a>
	</li> #}
  </ul>
  
</div>
      
<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 single-team text-center">
  <div class="row">
    <div style="height: 263px;" class="col-lg-12 col-md-12 col-sm-12 col-xs-6  equal-col"> 
    <!--<a href="/facebook/auth" data-toggle="modal" data-target="#myLogin" role="button"></a>-->
    <img src="/images/homepage/team/roberto.min.jpg" class="img-responsive img-thumbnail img-circle box-shadow lazy" id="user-avatar">
    </div>
    <div style="height: 96px;" class="col-lg-12 col-md-12 col-sm-12 col-xs-6 equal-col">
      <h2 class="text-center team-name">
      	<span class="name">Roberto</span> 
		<span class="surname">Leonarduzzi</span> 
      </h2>
      <p class="text-center"><strong class="position">founder / cco </strong> </p>
      {#<p class="text-center hidden-xs hidden"> Web Designer del futuro, mai soddisfatto sempre alla ricerca di nuove soluzioni per siti e video. Ha lavorato e collaborato con le migliori agenzie di Udine. Vj per passione e divertimento, appassionato di musica dal 1984 anno della sua nascita. </p>#}
    </div>
  </div>
  <!---->
  <ul class="list-inline hidden-xs team-social-links">
    <li>
		<a href="http://it.linkedin.com/in/robertoleonarduzzi/" class="btn btn-circle social-link-linkedin pad" role="button" target="_blank">
		<i class="fa fa-linkedin"></i><!--In-->
		</a>
	</li><!--
    <li>
		<a href="http://www.facebook.com" class="btn btn-circle social-link-facebook box-shadow" role="button" target="_blank">
		<i class="fa fa-facebook"></i>fb
		</a>
	</li>-->
    <li>
		<a href="https://twitter.com/vjtokyo" class="btn btn-circle social-link-twitter pad" role="button" target="_blank">
		<i class="fa fa-twitter"></i>
		</a>
	</li>
	{# <li>
		<a href="/beta_2/pubblic-website/modules/contattaci.php" class="btn btn-circle social-link pad" role="button" data-toggle="modal" data-target="#myContacts">
		<i class="glyphicon glyphicon-envelope"></i><!--In-->
		</a>
	</li> #}
  </ul>
  
</div>
      
<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 single-team text-center">
  <div class="row">
    <div style="height: 263px;" class="col-lg-12 col-md-12 col-sm-12 col-xs-6  equal-col"> 
    <!--<a href="/facebook/auth" data-toggle="modal" data-target="#myLogin" role="button"></a>-->
    <img src="/images/homepage/team/fabio.min.jpg" class="img-responsive img-thumbnail img-circle box-shadow lazy" id="user-avatar">
    </div>
    <div style="height: 96px;" class="col-lg-12 col-md-12 col-sm-12 col-xs-6 equal-col">
      <h2 class="text-center team-name">
      	<span class="name">Fabio</span> 
		<span class="surname">Tonutti</span> 
      </h2>
      <p class="text-center"><strong class="position">founder /  cmo </strong> </p>
      {#<p class="text-center hidden-xs hidden"> Il vecchio del gruppo (Udine 1979) ma non il più saggio. Ha collaborato con aziende del settore marketing di Milano, città di adozione per anni.
		Nato come grafico e ora per hobby insegna alla nuove generazioni.
		La Ducati è il suo credo. </p>#}
    </div>
  </div>
  <!---->
  <ul class="list-inline hidden-xs team-social-links">
    <li>
		<a href="http://it.linkedin.com/pub/fabio-tonutti/6/a37/538/it" class="btn btn-circle social-link-linkedin pad" role="button" target="_blank">
		<i class="fa fa-linkedin"></i><!--In-->
		</a>
	</li><!--
    <li>
		<a href="http://www.facebook.com" class="btn btn-circle social-link-facebook box-shadow" role="button" target="_blank">
		<i class="fa fa-facebook"></i>fb
		</a>
	</li>-->
    <li>
		<a href="https://twitter.com/fabiotonutti" class="btn btn-circle social-link-twitter pad" role="button" target="_blank">
		<i class="fa fa-twitter"></i>
		</a>
	</li>
	{# <li>
		<a href="/beta_2/pubblic-website/modules/contattaci.php" class="btn btn-circle social-link pad" role="button" data-toggle="modal" data-target="#myContacts">
		<i class="glyphicon glyphicon-envelope"></i><!--In-->
		</a>
	</li> #}
  </ul>
  
</div>
      
<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 single-team text-center">
  <div class="row">
    <div style="height: 263px;" class="col-lg-12 col-md-12 col-sm-12 col-xs-6  equal-col"> 
    <!--<a href="/facebook/auth" data-toggle="modal" data-target="#myLogin" role="button"></a>-->
    <img src="/images/homepage/team/mattia.min.jpg" class="img-responsive img-thumbnail img-circle box-shadow lazy" id="user-avatar">
    </div>
    <div style="height: 96px;" class="col-lg-12 col-md-12 col-sm-12 col-xs-6 equal-col">
      <h2 class="text-center team-name">
      	<span class="name">Mattia</span> 
      	<span class="name">Carel</span> 
		<span class="surname">Borini</span> 
      </h2>
      <p class="text-center"><strong class="position">cto</strong> </p>
      {#<p class="text-center hidden-xs hidden"> Il vecchio del gruppo (Udine 1979) ma non il più saggio. Ha collaborato con aziende del settore marketing di Milano, città di adozione per anni.
		Nato come grafico e ora per hobby insegna alla nuove generazioni.
		La Ducati è il suo credo. </p>#}
    </div>
  </div>
  <!---->
  <ul class="list-inline hidden-xs team-social-links">
    <li>
		<a href="https://www.linkedin.com/in/mattiacarelborini/en" class="btn btn-circle social-link-linkedin pad" role="button" target="_blank">
		<i class="fa fa-linkedin"></i><!--In-->
		</a>
	</li><!--
    <li>
		<a href="http://www.facebook.com" class="btn btn-circle social-link-facebook box-shadow" role="button" target="_blank">
		<i class="fa fa-facebook"></i>fb
		</a>
	</li>-->
    <li>
		<a href="https://twitter.com/mettjus" class="btn btn-circle social-link-twitter pad" role="button" target="_blank">
		<i class="fa fa-twitter"></i>
		</a>
	</li>
	{# <li>
		<a href="/beta_2/pubblic-website/modules/contattaci.php" class="btn btn-circle social-link pad" role="button" data-toggle="modal" data-target="#myContacts">
		<i class="glyphicon glyphicon-envelope"></i><!--In-->
		</a>
	</li> #}
  </ul>
  
</div>
            <!-- end license --> 
      
    </div>
  </div>
</section>
