<section class="page-section" id="themes">
  <div class="container">

    {# INTRO SECTION #}
  	<div class="row">
      <div class="col-xs-12">
        <div class="col-xs-12">
          <div class="row">
            <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 col-lg-offset-1 col-md-offset-1 text-center intro">
              <h1 class="text-center">
                {=t('temi.title')=}
              </h1>
              <p class="lead text-center"> 
                {=t('temi.description')=}
              </p>
              {# TEMPLATE CATEGORY LIST #}
              <ul class="list-inline">
                <li><button type="button" class="btn btn-default btn-xs pad">wellness</button></li>
                <li><button type="button" class="btn btn-default btn-xs pad">food & beverage</button></li>
                <li><button type="button" class="btn btn-default btn-xs pad">Music</button></li>
                <li><button type="button" class="btn btn-default btn-xs pad">Art & design</button></li>
              </ul>
              {# END TEMPLATE CATEGORY LIST #}
            </div>
          </div>
        </div>
      </div>
    </div>
    {# END INTRO SECTION #}

    {# TEMPLATES LIST #}
    <div class="row equal-row"> 
      {# SINGLE TEMPLATE #}         
         <a href="/beta_2/pubblic-website/modules/themes-modal.php?idtheme=0" data-toggle="modal" data-target="#myEdit" role="button">
           <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="row">
              <div class="col-xs-12 pad no-gutter equal-col">
                <div class="row">
                  <div class="col-xs-12">

                    {# BROWSER #}
                    <div class="browser">
                      <span class="r"></span>
                      <span class="y"></span>
                      <span class="g"></span>
                    </div>
                    {# END BROWSER #}

                    {# TEMPLATE PREVIEW #}
                    <div class="sito" style="max-height:220px; min-height:220px; overflow:hidden; background-color:#;">
                      <img data-original="http://synkysite.com/beta_2/templates/screens-synkysite/1-temple-min.jpg" src="http://synkysite.com/beta_2/templates/screens-synkysite/1-temple-min.jpg" class="img-responsive small-theme-min lazy" alt="" id="">
                    </div>
                    {# END TEMPLATE PREVIEW #}

                    {# TEMPLATE INFO #}
                    <ul class="list-group">
                      <li class="list-group-item"><small>theme id: </small></li>
                      <li class="list-group-item"><small>theme category: </small></li>
                      <li class="list-group-item">Tema:<h5><strong>Temple</strong></h5></li>
                      <li class="list-group-item">img: </li>
                      <li class="list-group-item">
                        <span class="label label-default tecnology-icon-html">html5</span>
                        <span class="label label-default tecnology-icon-css">css3</span>
                        <span class="label label-default tecnology-icon-js">javascript</span>
                      </li>
                      <li class="list-group-item" style="overflow:auto;">
                        <span class="devices-icon devices-icon-desktop"></span>
                        <span class="devices-icon devices-icon-tablet"></span>
                        <span class="devices-icon devices-icon-phone"></span>
                      </li>
                    </ul>
                    {# END TEMPLATE INFO #}

                  </div>
                </div>
              </div>
            </div>
            
            {#  
             <div class="col-xs-12 pad equal-col">
               <div class="row">
                 <div class="col-xs-12">
                   <div class="row">
           			<div class="browser">
      					<span class="r"></span>
      					<span class="y"></span>
      					<span class="g"></span>
      				</div>

      				<div class="sito" style="max-height:220px; min-height:220px; overflow:hidden; background-color:#;">
      					<img data-original="http://synkysite.com/beta_2/templates/screens-synkysite/1-temple-min.jpg" src="http://synkysite.com/beta_2/templates/screens-synkysite/1-temple-min.jpg" class="img-responsive small-theme-min lazy" alt="" id="">
      				</div>
                     
               			<ul class="list-group">
               				<li class="list-group-item"><small>theme id: </small></li>
               				<li class="list-group-item"><small>theme category: </small></li>
               				<li class="list-group-item">Tema:<h5><strong>Temple</strong></h5></li>
               				<li class="list-group-item">img: </li>
               				<li class="list-group-item">
                        <span class="label label-default tecnology-icon-html">html5</span>
               					<span class="label label-default tecnology-icon-css">css3</span>
                        <span class="label label-default tecnology-icon-js">javascript</span>
                      </li>
                      <li class="list-group-item" style="overflow:auto;">
                        <span class="devices-icon devices-icon-desktop"></span>
                        <span class="devices-icon devices-icon-tablet"></span>
                        <span class="devices-icon devices-icon-phone"></span>
                      </li>
               			</ul>

                   </div>
                 </div>
               </div>
             </div>
            #}
           </div>
         </a>
         {# END SINGLE TEMPLATE #}     
    </div>
    {# END TEMPLATES LIST #}
  </div>
 </section> 