{% if PRIMARY_DOMAIN == 'majeeko.com' %}
<!--Start of Zopim Live Chat Script-->
<script type="text/javascript">
window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
_.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute("charset","utf-8");
$.src="//v2.zopim.com/?2HOHSyHF9yKRyQZYWKrutqpObYrut6y2";z.t=+new Date;$.
type="text/javascript";e.parentNode.insertBefore($,e)})(document,"script");
</script>
{% if user and user.facebook and user.facebook.profile and user.facebook.profile.id %}
<script>
    $zopim(function() {
        $zopim.livechat.addTags("user_id_{=user.facebook.profile.id=}");
    });
</script>
{% endif %}
<!--End of Zopim Live Chat Script-->
{% endif %}
