<!doctype html>
<html ng-app="template">


{% include "../partials/head.html" %}

{% if isHome %}
<body class="index" id="{= name =}" ng-controller="page">
{% else %}
<body class="page" id="{= name =}" ng-controller="page">
{% endif %}

	<div class="fakeloader"></div>

    {% include '../../__default/partials/back-top.html' %}
    
	<div class="wrapper">

	   	{% include "../partials/header.html" %}
	    {% block content %}{% endblock %}
	    {% include "../partials/footer.html" %} 
	    
	</div>

{% include "../partials/scripts/main.html" %}
{% include "../../../views/partials/domain.html" %} 

<div id="fb-root"></div>

</body>

{% include '../../__default/partials/modal-templates.html' %}
{% include "../../__default/partials/ad.html" %} 
{% include '../../__default/partials/cookies-alert.html' %}
{% include "../../__default/partials/cookie-modal.html" %}

</html>
