<div class="container footer">
    <div class="content row">
        <div class="col-xs-12">
            {% if order.facebook_page_id %}<a href="/editor/{=order.facebook_page_id=}">Torna nell'editor</a><br>{% endif %}
            <a href="/">Torna nel manager</a>
            <div class="signature text-center">
                <p>
                    <strong>Sync s.r.l.</strong><br>
                    Via Giovanni Giolitti 34 c/o Luiss Enlabs<br>
                    00185 Roma Italia<br>
                    P. IVA 13278551000<br>
                    +39 06 400 488 02
                </p>

            </div>
        </div>
    </div>
</div>
<script src="/components/jquery/dist/jquery.min.js"></script>
<script src="/components/lodash/lodash.min.js"></script>
<script src="/components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/components/angular/angular.js"></script>
<script src="/components/braintree-web/dist/braintree.js"></script>
<script src="/components/angular-credit-cards/release/angular-credit-cards.js"></script>
<script src="/js/order/order.js"></script>

<!--Start of Zopim Live Chat Script-->
<script type="text/javascript">
    window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
            d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
    _.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute("charset","utf-8");
        $.src="//v2.zopim.com/?2HOHSyHF9yKRyQZYWKrutqpObYrut6y2";z.t=+new Date;$.
                type="text/javascript";e.parentNode.insertBefore($,e)})(document,"script");
</script>
<!--End of Zopim Live Chat Script-->
{% include "../partials/scripts/google-analytics.html" %}
