<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>
    {% if title %}
        {=title=}
    {% else %}
        {= t('translation:head.title') =}
    {% endif %}
</title>
<meta name="description" content="{= t('translation:head.description') =}">
<meta name="keywords" content="{= t('translation:head.keywords') =}"/>

<!-- Meta tags x autore -->
<meta name="author" content="{= PRIMARY_DOMAIN =}">
<meta name="copyright" content="{= PRIMARY_DOMAIN =}">
<meta name="robots" content="noindex, nofollow">

<meta name="apple-mobile-web-app-title" content="Majeeko">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
<meta name="apple-mobile-web-app-capable" content="yes">

<!-- favicon & image src -->
<link rel="icon" href="/favicon.ico" />

{% if NODE_ENV == 'production' %}
    {% include '../partials/newrelic-browser.html' %}
{% endif %}

<link href="//bootswatch.com/lumen/bootstrap.min.css" rel="stylesheet" media="screen">
<link href="/components/font-awesome/css/font-awesome.min.css" rel="stylesheet" media="screen">

<link href="/css/order-page.css" rel="stylesheet" media="screen">

<!-- respond.js per IE8 -->
<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->
