<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <img src="/images/brand-colors.png" class="navbar-brand-img" id="navbar-brand-img" alt="Majeeko" style="margin-top:3px; height: 60px; padding: 15px 0 5px 0;">
            <br>
            <strong style="text-transform: uppercase; padding-bottom: 10px;">Pagina sicura d'ordine<br></strong>
        </div>
    </div>
</div>
