{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="content row">
        <div class="main-container">

            {% if order.status == "paid" or order.status == "pending_billing" %}
                <div class="col-xs-12 ">
                    <h3 class="main-section-title">Pagamento completato</h3>
                </div>
                <div class="col-xs-12 col-sm-9">
                    <div class="alert alert-success">
                        {% if order.payment_info.payment_method == "bank_transfer" %}
                            Il pagamento a mezzo bonifico è stato ricevuto.
                        {% else %}
                            Il pagamento online è andato a buon fine.
                        {% endif %}
                    </div>
                </div>
            {% elseif order.status == "pending" %}
                <div class="col-xs-12 ">
                    <h3 class="main-section-title">Pagamento</h3>
                </div>
                <div class="col-xs-12 col-sm-9">
                    <p>
                        Hai scelto di effettuare il pagamento tramite <strong>bonifico bancario</strong>:
                        ti abbiamo inviato via email i dati per effettuare il pagamento.
                    </p>
                    <p>
                        <a href="/purchase/orders/render/{=order['_id']|safe=}/changePaymentMethod" onclick="trackEventBuy('change_payment_method_from_{=order.status=}')">
                            <i class="glyphicon glyphicon-chevron-left"></i> Cambia metodo di pagamento
                        </a>
                    </p>
                </div>
            {% endif %}
            <div class="col-xs-12">
                <h3 class="main-section-title spaced">Dati di fatturazione</h3>
            </div>
            <div ng-controller="BillingController">
                <div class="col-xs-12 col-sm-12 col-md-9">
                    <p>
                        Per completare l'ordine, compila i dati di fatturazione.<br>
                        I campi con l'asterisco sono abbiligatori.
                    </p>
                    <form name="billing_info_form" method="post" action="/purchase/orders/render/submit" novalidate>
                        <input type="hidden" name="orderId" value="{=order['_id']|safe=}">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group" ng-class="{ 'has-warning': !billing_info_form.first_name.$valid }">
                                    <label for="first_name">
                                        {= t('translation:editor.buy.name') =}
                                        <span class="required">*</span>
                                    </label>
                                    <input class="form-control" type="text" name="first_name" value="{= order.billing_info.first_name =}"
                                           ng-model="billing_info.first_name"
                                           ng-minlength="2"
                                           required />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group" ng-class="{ 'has-warning': !billing_info_form.last_name.$valid }">
                                    <label for="last_name">
                                        {= t('translation:editor.buy.second_name') =}
                                        <span class="required">*</span>
                                    </label>
                                    <input class="form-control" type="text" name="last_name" value="{= order.billing_info.last_name =}"
                                           ng-model="billing_info.last_name"
                                           ng-minlength="2"
                                           required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group" ng-class="{ 'has-warning': !billing_info_form.email.$valid }">
                                    <label for="email">
                                        {= t('translation:editor.buy.email') =}
                                        <span class="required">*</span>
                                    </label>
                                    <input class="form-control" type="email" name="email" value="{= order.billing_info.email =}"
                                           ng-model="billing_info.email"
                                           ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/"
                                           required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group" ng-class="{ 'has-warning': !billing_info_form.phone.$valid }">
                                    <label for="phone">
                                        {= t('translation:editor.buy.phone') =}
                                        <span class="required">*</span>
                                    </label>
                                    <input class="form-control" type="text" name="phone" value="{= order.billing_info.phone =}"
                                           ng-model="billing_info.phone"
                                           ng-pattern="/^\+{0,1}[0-9\- ]{6,16}$/"
                                           required>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group" ng-class="{ 'has-warning': !billing_info_form.address.$valid  }">
                                    <label for=""  >
                                        {= t('translation:editor.buy.address') =}
                                        <span class="required">*</span>
                                     </label>
                                    <input class="form-control" type="text" name="address" value="{= order.billing_info.address =}"
                                           ng-model="billing_info.address"
                                           ng-minlength="7"
                                           required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group" ng-class="{ 'has-warning': !billing_info_form.city.$valid }">
                                    <label for="city">
                                        {= t('translation:editor.buy.city') =}
                                        <span class="required">*</span>
                                    </label>
                                    <input class="form-control" type="text" name="city" value="{= order.billing_info.city =}"
                                           ng-model="billing_info.city"
                                           ng-minlength="3"
                                           required>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group" ng-class="{ 'has-warning': !billing_info_form.zip.$valid }">
                                    <label for="zip">
                                        {= t('translation:editor.buy.zip') =}
                                        <span class="required">*</span>
                                    </label>
                                    <input class="form-control" type="text" name="zip" value="{= order.billing_info.zip =}"
                                           ng-model="billing_info.zip"
                                           ng-pattern="/^[0-9]{4,6}$/"
                                           required>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group" ng-class="{ 'has-warning': !billing_info_form.province.$valid }">
                                    <label for="province">
                                        {= t('translation:editor.buy.province') =}
                                        <span class="required">*</span>
                                    </label>
                                    <input class="form-control" type="text" name="province" value="{= order.billing_info.province =}"
                                           ng-model="billing_info.province"
                                           ng-pattern="/^[a-zA-Z]{2,}$/"
                                           required>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group" ng-class="{ 'has-warning': !billing_info_form.ssn.$valid }">
                                    <label for="ssn">
                                        {= t('translation:editor.buy.fisc_code') =}
                                        <span class="required">*</span>
                                    </label>
                                    <input class="form-control" type="text" name="ssn" value="{= order.billing_info.ssn =}"
                                           ng-model="billing_info.ssn"
                                           ng-pattern="/^[a-z]{6}\d{2}[a-z]\d{2}[a-z]\d{3}[a-z]$/i"
                                           required>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label for="business_name">
                                        {= t('translation:editor.buy.business_name') =} ({= t('translation:editor.buy.only_vat') =})
                                    </label>
                                    <input class="form-control form-block" type="text" name="business_name" value="{= order.billing_info.business_name =}">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group" >
                                    <label for="vat">
                                        {= t('translation:editor.buy.vat') =} ({= t('translation:editor.buy.only_vat') =})
                                    </label>
                                    <input class="form-control" type="text" name="vat" value="{= order.billing_info.vat =}">
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <button type="submit" class="btn btn-primary" ng-disabled="!billing_info_form.$valid">
                            Completa ordine
                        </button>
                    </form>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block footer_scripts %}
    <script type="application/javascript">
        angular.module('orderpage').constant('orderDetails', {
            'id': '{=order["_id"]|safe=}',
            'billing_info': {=JSON.stringify(order["billing_info"])=}
        });
        trackEventBuy("ORDERPAGE-service:{=order.type=}-status:{=order.status=}");
    </script>
{% endblock %}

