{% extends "layout.html" %}
{% block content %}
    <div class="container">
        <div class="content row">
            <div class="main-container">
                <div class="col-xs-12 ">
                    <h3 class="main-section-title">Riepilogo ordine</h3>
                </div>
                <div class="col-xs-12 col-sm-9">
                    {% if invalidCoupon %}
                        <div class="alert alert-danger">
                            Il coupon inserito ({= insertedCoupon =}) non è valido.
                        </div>
                    {% endif %}
                    {% if notAppliedCoupon %}
                        <div class="alert alert-danger">
                            Il coupon inserito ({= insertedCoupon =}) non è applicabile a quest'ordine.
                        </div>
                    {% endif %}
                    {% include "cart.html" %}
                    <a href="#" ng-click="display_coupon_form = true" ng-hide="display_coupon_form">Hai un codice sconto?</a>
                    <form class="form-inline" id="couponForm" name="applyCoupon" method="post" action="/purchase/orders/render/applyCoupon" ng-show="display_coupon_form" ng-clok>
                        <input type="hidden" name="orderId" value="{=order['_id']|safe=}">
                        <div class="form-group">
                            <label for="coupon" class="sr-only">Coupon</label>
                            <input type="text" class="form-control" id="coupon" name="coupon" placeholder="Codice coupon">
                        </div>
                        <button type="submit" class="btn btn-default">Applica coupon</button>
                    </form>
                </div>
                <div class="col-xs-12">
                    <h3 class="main-section-title spaced">Dati di pagamento</h3>
                </div>
                <div ng-controller="PaymentController">
                    <div class="col-xs-12 col-sm-12 col-md-9">
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <div class="form-group">
                                    <label for="paymentMethod">Metodo di pagamento:</label>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="paymentMethod" ng-model="paymentMethod" id="paymentMethod_cc" value="credit_card" checked>
                                            Carta di Credito
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="paymentMethod" ng-model="paymentMethod" id="paymentMethod_paypal" value="paypal">
                                            PayPal
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="paymentMethod" ng-model="paymentMethod" id="paymentMethod_banktransfer" value="banktransfer">
                                            Bonifico bancario
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <div class="row" ng-show="paymentMethod == 'credit_card'">
                                    <form name="creditCardForm" novalidate>
                                        <div class="col-xs-12">
                                            <div class="form-group" ng-class="{'has-warning has-feedback': !creditCardForm.number.$valid && creditCardForm.number.$dirty,
                                                                                'has-success has-feedback': creditCardForm.number.$valid}">
                                                <label for="cc_number">Numero Carta di Credito
                                                </label>
                                                <div class="input-group">
                                                    <input type="text" class="form-control" id="cc_number" name="number"
                                                           ng-model="creditCard.number"
                                                           required="required"
                                                           cc-number
                                                           cc-format
                                                           cc-eager-type
                                                           cc-type="cardType">
                                                    <span class="input-group-addon">
                                                        <i ng-hide="creditCardForm.number.$ccEagerType == 'Visa' ||
                                                                    creditCardForm.number.$ccEagerType == 'MasterCard' ||
                                                                    creditCardForm.number.$ccEagerType == 'American Express' ||
                                                                    creditCardForm.number.$ccEagerType == 'Discover' ||
                                                                    creditCardForm.number.$ccEagerType == 'Diners Club'" class="glyphicon glyphicon-credit-card"></i>
                                                        <span ng-cloak ng-show="creditCardForm.number.$ccEagerType == 'Visa'"><i class="fa fa-cc-visa"></i></span>
                                                        <span ng-cloak ng-show="creditCardForm.number.$ccEagerType == 'MasterCard'"><i class="fa fa-cc-mastercard"></i></span>
                                                        <span ng-cloak ng-show="creditCardForm.number.$ccEagerType == 'American Express'"><i class="fa fa-cc-amex"></i></span>
                                                        <span ng-cloak ng-show="creditCardForm.number.$ccEagerType == 'Discover'"><i class="fa fa-cc-discover"></i></span>
                                                        <span ng-cloak ng-show="creditCardForm.number.$ccEagerType == 'Diners Club'"><i class="fa fa-cc-diners-club"></i></span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-6">
                                            <div class="form-group" ng-class="{'has-warning has-feedback': (!creditCardForm.expire_month.$valid && creditCardForm.expire_month.$dirty)||
                                                                                                            (!creditCardForm.expire_year.$valid && creditCardForm.expire_year.$dirty)}">
                                                <label >Scadenza (Mese/Anno)</label>
                                                <div class="row">
                                                    <div class="col-xs-6">
                                                        <select class="form-control col-xs-6" name="expire_month" id="cc_expire_month"
                                                                ng-model="creditCard.expire_month"
                                                                ng-options="m for m in creditCardMonthOptions">
                                                        </select>
                                                    </div>
                                                    <div class="col-xs-6">
                                                        <select class="form-control col-xs-6" name="expire_year" id="cc_expire_year"
                                                                ng-model="creditCard.expire_year"
                                                                ng-options="y for y in creditCardYearOptions">
                                                        </select>
                                                    </div>
                                                </div>
                                           </div>
                                        </div>
                                        <div class="col-xs-12 col-sm-6">
                                            <div class="form-group" ng-class="{'has-warning has-feedback': !creditCardForm.cvv.$valid && creditCardForm.cvv.$dirty,
                                                                                'has-success has-feedback': creditCardForm.cvv.$valid}">
                                                <label for="cc_cvv">CVV
                                                    <small>
                                                        <i class="glyphicon glyphicon-info-sign"
                                                       data-toggle="popover" data-placement="top" title="Codice di sicurezza" data-content="Riporta il numero di 3-4 cifre che trovi sul retro della carta di credito."></i>
                                                    </small>
                                                </label>
                                                <input type="text" class="form-control" id="cc_cvv"
                                                       name="cvv"
                                                       ng-model="creditCard.cvv"
                                                       required="required"
                                                       cc-cvc
                                                       cc-type="creditCardForm.number.$ccType" />

                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div id="paypalContainer"></div>
                                <div id="error_container"></div>
                            </div>
                        </div>
                        <div class="clearfix"></div>

                        {#<div class="col-xs-12">
                            <div class="checkbox" ng-class="{ 'has-warning': !formRegistrant.accept_terms }">
                                <label>
                                    <input type="checkbox" name="accept_terms" ng-model="formRegistrant.accept_terms" required>
                                    {= t('translation:editor.buy.accept_terms', {URL:"/pages/terms/"}) =}
                                </label>
                            </div>
                        </div>#}
                        <button class="btn btn-primary" ng-hide="loading" ng-click="submit()" ng-disabled="paymentMethod == 'credit_card' && !creditCardForm.$valid">
                            Conferma pagamento
                        </button>
                        <div class="progress progress-striped active" style="width:180px;" ng-show="loading">
                            <div class="progress-bar" style="width: 100%">Convalida ordine in corso</div>
                        </div>
                        <p><br><i>{= t('translation:editor.buy.accept_terms', {URL:"/pages/terms/"}) =}</i></p>

                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
{% endblock %}
{% block footer_scripts %}
<script type="application/javascript">
    angular.module('orderpage').constant('orderDetails', {
        'id': '{=order["_id"]|safe=}',
        'totalAmount': '{=order.total=}'
    });

    trackEventBuy("ORDERPAGE-service:{=order.type=}-status:{=order.status=}");
</script>
{% endblock %}
