<table class="table table-bordered">
    {% for item in order.cart %}
        <tr>
            <td>{= t('translation:orderpage.cart.type.'+item.type) =}:
                <strong>{% if item.type == "service" %}{= t('translation:orderpage.cart.value.'+item.value) =}{% else %}{=item.value=}{% endif %}</strong></td>
            <td>{=item.price|currencyEUR|safe=}</td>
        </tr>
    {% endfor %}
    <tr>
        <td><strong>TOTALE</strong></td>
        <td><strong>{=order.total|currencyEUR|safe=}</strong></td>
    </tr>
    <tr>
        <td colspan="2">
            <i>Tutti i prezzi indicati s'intendono IVA inclusa.</i>
        </td>
    </tr>
</table>
