{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="content row">
        <div class="main-container">
            <div class="col-xs-12 ">
                <h3 class="main-section-title">{= t('translation:thank_you.title') =}!</h3>
            </div>
            <div class="col-xs-12 col-sm-9">
            	<p>Ti ringraziamo per aver effettuato il tuo acquisto sul sito su Majeeko.com .</p>
                <p>{= t('translation:thank_you.go_to') =} <a href="/manager">{= t('translation:thank_you.admin_page') =}</a>.</p>
				<br><br>
                <h4>Hai bisogno di aiuto?</h4>
                <p>Un team di professionisti è pronto e a tua competa disposizione per qualsiasi tua necessità.<br>Contattaci in chat o via mail a assistenza@majeeko.com</p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
{% endblock %}
{% block footer_scripts %}
    <script type="application/javascript">
        trackEventBuy("ORDERPAGE-service:{=order.type=}-status:{=order.status=}");
    </script>
{% endblock %}
