<!DOCTYPE html>
<!--[if IE 8]>
<html class="no-js lt-ie9" lang="en" >
<![endif]-->
<!--[if gt IE 8]>
<!-->
<html class="no-js" ng-app="orderpage">
<!--<![endif]-->
<html manifest="/cache.manifest">
<head>
    {% include "_head.html" %}
</head>
<body>
    {% include "_header.html" %}
    {% block content %}{% endblock %}
    {% include "_footer.html" %}
    {% block footer_scripts %}{% endblock %}
</body>
</html>
