{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="content row">
        <div class="main-container">
            <div class="col-xs-12 ">
                <h3 class="main-section-title">In attesa di pagamento</h3>
            </div>
            <div class="col-xs-12 col-sm-9">
                <p>
                    Per completare la procedura d'acquisto è necessario effettuare un bonifico bancario con le seguenti coordinate:
                </p>
                <ul>
                    <li>{= t('translation:bank_transfer_details.intestatario') =}: <strong>Sync srl</strong></li>
                    {# The IBAN code has to be written like this. Please leave it in a single line without spaces.#}
                    <li>IBAN:<strong class="iban_separator"><span class="iban_separator">IT84</span><span class="iban_separator">R020</span><span class="iban_separator">0805</span><span class="iban_separator">2030</span><span class="iban_separator">0010</span><span class="iban_separator">3632</span><span class="iban_separator">456</span></strong></li>
                    <li>{= t('translation:bank_transfer_details.causale') =}: {=order['_id']|safe=}</li>
                    <li>Importo: {=order.total|currencyEUR|safe=}</li>
                </ul>
                <p>
                    Ti ricordiamo che il tuo sito sarà disponibile non appena riceveremo l'accredito del bonifico.
                </p>
                <p>
                    <a href="/purchase/orders/render/{=order['_id']|safe=}/changePaymentMethod" onclick="trackEventBuy('change_payment_method_from_{=order.status=}')">
                        <i class="glyphicon glyphicon-chevron-left"></i> Cambia metodo di pagamento
                    </a>
                </p>
                <br><br>
                <h4>Hai bisogno di aiuto?</h4>
                <p>Un team di professionisti è pronto e a tua competa disposizione per qualsiasi tua necessità.<br>Contattaci in chat o via mail a assistenza@majeeko.com</p>
                <br><br>
                <h4>Riepilogo ordine</h4>
                {% include "cart.html" %}
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
{% endblock %}
{% block footer_scripts %}
    <script type="application/javascript">
        trackEventBuy("ORDERPAGE-service:{=order.type=}-status:{=order.status=}");
    </script>
{% endblock %}
