<section class="window-height" id="banner">
    <div class="caption">
        <h1 id="company-caption-description" class="lead">
            {= page.configuration.settings.slogan =}
        </h1>
    </div>
    <div id="banner-image-holder" class="banner-fade-slide-container" {= page|getBannerStyle|safe =} >
    {% include "../../__default/partials/banner-fade-slides.html" %}
    </div>
</section>
