<section class="section" id="footer">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 no-gutter" id="footer-nav-links">
				<ul class="list list-inline nav-justified">
					{% include "../../__default/partials/footer/footer-nav-links.html" %}
				</ul>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-md-offset-1" id="company_social_links">
				<ul class="list-inline">
					{% include "../../__default/partials/footer/social-links.html" %}
				</ul>
			</div>
			<div class="col-md-10 col-md-offset-1" id="company_info">
                {% include "../../__default/partials/footer/address.html" %}
                <div class="fb-like" data-href="{= page.data.pageData.link =}" data-colorscheme="light" data-width="90" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>
                {% include "../../__default/partials/footer/hours-small.html" %}
			</div>
			<div class="col-md-10 col-md-offset-1" id="credits">
				{% include "../../__default/partials/footer/credits.html" %}
			</div>
		</div>
	</div>
</section>
