{% include '../../__default/partials/cookies-alert.html' %}

{% if isHome %}
<nav class="section navbar navbar-default col-xs-3 col-md-2 navbar-home" id="main-nav">
{% else %}
<nav class="section navbar navbar-default col-xs-3 col-md-2" id="main-nav">
{% endif %}
	<div class="container">

		{# Brand and toggle get grouped for better mobile display #}
		<div class="navbar-header">
			{##}
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>

			<a class="navbar-brand" href="/" title="{= name =}">
				<img id="brand-img img-responsive fadeimage lazy" src="{= page|getProfilePicture =}" alt="{= name =}">
				{# <img id="brand-img img-responsive fadeimage lazy" src="http://graph.facebook.com/{= page.data.pageData.id =}/picture?type=large" alt="{= name =}"> #}
			</a>
		</div>

		{# Collect the nav links, forms, and other content for toggling #}
		<div class="collapse navbar-collapse " id="">
			<ul class="nav navbar-nav no-gutter">
			{% for index,item in page.configuration.settings.menu %}
				{% if item.active %}
                <li{% if slug and slug == item|getItemSlug %} class="active"{% endif %}>
					<a class="navbar-nav-link" href="/{= item|getItemSlug =}">
						<span class="nav-label">{= item.label =}</span>
					</a>
				</li>
				{% endif %}
			{% endfor %}
			</ul>
		</div>

		{# <div class="socials-widjet">
			<ul class="list list-inline">
				{% include "../../__default/partials/footer/social-links.html" %}
			</ul>
		</div> #}

	</div>
</nav>

{# in questo file o in uno di quelli inclusi c'è un errore, quindi ili master che include questo file viene scartato e viene fatto un fallback sul master di default components #}
