{% set loop_posts = photos %}

<section class="section loop" id="loop-albums">
	<div class="container">

		<div class="row"></div>

		<div class="row posts-loop no-gutter">

			{% for post in loop_posts %}

			<div class="post-column {= columns|generateBootstrapColumn('md') =}">

				<a class="post btn-modal" href="/albums/{= album_id =}/?customIndex={= loop.index0 =}&" title="{= title =}"
                   modal="album-modal-fullscreen.tpl"
					modal-container="modal-window-fullscreen.tpl"
					>

					<div class="row posts-loop no-gutter">
						<div class="col-md-12 post-sx no-gutter">
							<div class="thumbnail square-thumbnail" style="background-image: url({= post.source =})">
							</div>
						</div>
						<div class="post-dx">
						</div>
					</div>

				</a>

			</div>

			{% endfor %}

		</div>

	</div>
</section>
