{% set kindOfPost = 'album' %}

{% import "../../__default/partials/loop-macros.html" as macros %}

{% if page.albums.length %}
{% set loop_posts = page.albums %}
<section class="section loop" id="loop-albums">
	<div class="container">
        <div class="row">
            {= macros.sectionTitle(isHome, kindOfPost, title) =}
        </div>
		<div class="row posts-loop no-gutter">
			{% for post in loop_posts %}
			<div class="post-column {= albums_columns|generateBootstrapColumn('md') =} " show-hide show-hide-id="{= post.id =}" show-hide-type-of-post="{= kindOfPost =}">
				<a class="post btn-modal" href="/albums/{= post.id =}" title="{= post.title|addslashes =}"
					modal="album-modal-fullscreen.tpl"
					modal-container="modal-window-fullscreen.tpl">
					<div class="row no-gutter">
						<div class="col-md-12 post-dx no-gutter">
							<h2>{= post.title =}</h2>
						</div>
						<div class="col-md-12 post-sx no-gutter">
							<div class="thumbnail square-thumbnail" style="background-image: url({= post.cover_image =});"></div>
						</div>

					</div>
				</a>

			</div>
			{% endfor %}

		</div>

        {= macros.pagination(isHome, active, prev_page, next_page, pages) =}
	</div>
</section>
{% elif not isHome %}
	<section class="section loop" data-enable_columns="1" data-layout_columns="{= layoutColumns =}" id="loop-albums">
    <div class="container">
        <div class="row">
            {= macros.sectionTitle(isHome, kindOfPost, title) =}
        </div>
		<div class="row posts-loop no-gutter row-height">
			<p style="text-align: center">Non ci sono elementi in questa sezione.</p>
		    <div class="clearfix"></div>
		</div>

    </div>
</section>
{% endif %}
