{% if page.data.pageData.location.latitude && page.data.pageData.location.longitude %}

<section class="section" id="map">
	<div class="container-fluid">
		<div class="row">

			<hgroup class="col-md-12 section-title" id="map-section-title">
				<h1 class="pull-left">Map</h1>
			</hgroup>

			<div class="col-md-12 map no-gutter">
				<div class="window-height" id="map-canvas"></div>
			</div>

		</div>
	</div>
</section>

{% include "../../__default/partials/map.html" %}

{% endif %}
