{% if isStore %}
<section class="section shop loop" data-enable_columns="1" data-layout_columns="{= layoutColumns =}" id="loop-news">
    <div class="container">
        <div class="row posts-loop no-gutter row-height">

            <div id="mainContainer" style="display: none;">
                <nav class="navbar navbar-default">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#store-navbar-collapse-1" aria-expanded="false">
                                    <span class="sr-only">Toggle store navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>

                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse" id="store-navbar-collapse-1">
                                <ul class="nav navbar-nav">
                                    <li class="dropdown" dropdown>
                                        <a href="#" class="dropdown-toggle" data-toggle="categoriesList" role="button" aria-haspopup="true" aria-expanded="false" dropdown-toggle>
                                            {= t('template:store.categories_tit') =} <span class="caret"></span></a>
                                        <ul class="dropdown-menu" role="menu" id="categoriesList">
                                            <li class="active-category category-list-item-all">
                                                <a data-categoryindex="all" href="#/category/uid-all" class="category-link-all category-link">
                                                    {= t('template:store.all_categories') =}
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                                <form class="navbar-form navbar-left" role="search">
                                    <div class="form-group">
                                        <input type="text" type="search" class="search-product form-control" placeholder="{= t('template:store.search') =}...">
                                    </div>
                                    <button disabled class="btn btn-default clear-search-result-btn" type="button" title="{= t('template:store.cancel') =}">&times;</button>
                                </form>
                                <ul class="nav navbar-nav navbar-right">
                                    <li><span class="pull-right shopping-cart-btn-container"></span></li>
                                </ul>
                            </div><!-- /.navbar-collapse -->
                </nav>

                <div id="productsContainer" class="thumbnails"></div>
                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
            <script type="text/template" class="sidebar-catgegories-template">
                <% _.each(_oData.categoriesCollection,function( listItem ){ %>
                <li class="category-list-item-<%- listItem.index %>">
                    <a data-categoryindex="<%- listItem.index %>" href="#/category/uid-<%- listItem.index %>/<%- listItem.slug %>"
                       class="category-link-<%- listItem.index %> category-link">
                        <%- listItem.name %>
                        <span class="badge"><%- listItem.products_length %></span>
                    </a>
                </li>
                <% }) %>
            </script>

            {% include "../../__default/partials/store-body.html"%}
        </div>
    </div>
</section>
{% set layoutColumns = columns %}
{% set kindOfPost = 'news' %}

<!-- Products Grid -->
<script type="text/template" class="products-grid-template">
    <% var i = 0; %>
    <% if( Object.keys(_oData.currentProductCollection).length < 1) { %>
    <div class="col-xs-12 col-sm-12">
        <div class="alert alert-warning ">
            {= t('template:store.no_products_alert') =}
        </div>
    </div>
    <% } else { %>
    <% _.each( _oData.currentProductCollection, function( listItem ){
    productUrl = "#/product/uid-" + listItem.index + "/" + listItem.slug;
    productImg = _.get(listItem, "thumbPath.src", false); %>
    <li data-productindex="<%- listItem.index %>" class="product-item post-column {= layoutColumns|generateBootstrapColumn('md') =}">

        <a class="post btn-modal product-id-<%- listItem.index %> product-link" data-productindex="<%- listItem.index %>" href="<%- productUrl %>" title="<%- listItem.name %>">
            <div class="post-container">
                <div class="post-img col-xs-12 {= [isHome, layoutColumns, 'news', 3]|elementsGridColumns('img')  =}  {= [isHome, layoutColumns, kindOfPost, 3]|juxtaposeClass =} no-gutter">
                    <div class="thumbnail dynamic-height" data-set_background_image="<%- productImg %>"
                         style="background-image: url('<%- productImg %>')">
                    </div>
                </div>
                <div class="post-content col-xs-12  {= [isHome, layoutColumns, kindOfPost, 3]|elementsGridColumns('content') =} {= [isHome, layoutColumns, kindOfPost, 3]|juxtaposeClass =} no-gutter column-height">
                    <h2 class="post-title"><%- listItem.name %></h2>
                    <p><%- listItem.categoryName %></p>
                    <p>{= t('template:store.price') =}: <%- listItem.formattedPrice %></p>

                </div>
                <div class="clearfix"></div>
            </div>
        </a>

    </li>
    <% if(i % {= layoutColumns=} == {= layoutColumns=}-1) { %> <div class="clearfix"></div><% } %>
    <% i++; %>
    <% }); };  %>
</script>
<!-- /Products Grid -->
{% endif %}
