
{% if ! pageData.paid %}
<div class="col-xs-12 no-gutter">
    <div class="alert text-center alert-purchase-button" role="alert" ng-click="toggleEditorPanel('buy')">
        <span class="icon"><i class="fa fa-star"></i></span>
        {= t('translation:editor.ad_ancora_free') =}
        <br>
        <strong>{= t('translation:editor.ad_acquista_e_vai') =}</strong>
    </div>
</div>
{% endif %}
