<div ng-controller="editorPublishCtrl" id="buyModal">

    <div class="modal-header">
        <button type="button" class="close" aria-label="Close" ng-click="$close();trackEventBuy('close');">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
            Vai online con Majeeko!
        </h4>
    </div>

    <div class="modal-body">
        <div class="row body-row">
            <div class="col-xs-12 col-md-5 features-col body-col">
                <div class="single-feature row">
                    <div class="col-xs-3 col-sm-2  feature-icon">
                        <h5><i class="glyphicon glyphicon-refresh"></i></h5>
                    </div>
                    <div class="col-xs-9 col-sm-10 feature-body">
                        <h5 class="feature-title">Aggiornamento automatico</h5>
                        <p class="feature-description">
                            Il tuo sito sarà sempre aggiornato con gli ultimi contenuti della pagina Facebook.
                        </p>
                    </div>
                </div>
                <div class="single-feature row">
                    <div class="col-xs-3 col-sm-2  feature-icon">
                        <h5><i class="fa fa-bar-chart"></i></h5>
                    </div>
                    <div class="col-xs-9 col-sm-10 feature-body">
                        <h5 class="feature-title">Statistiche visitatori</h5>
                        <p class="feature-description">
                            Analizza facilmente quanti utenti visitano il tuo sito Majeeko quotidianamente.
                        </p>
                    </div>
                </div>
                <div class="single-feature row">
                    <div class="col-xs-3 col-sm-2  feature-icon">
                        <h5><i class="fa fa-files-o"></i></h5>
                    </div>
                    <div class="col-xs-9 col-sm-10 feature-body">
                        <h5 class="feature-title">Pagine aggiuntive pubbliche</h5>
                        <p class="feature-description">
                            Due pagine aggiuntive per inserire i tuoi contenuti personalizzati.
                        </p>
                    </div>
                </div>
                <div class="single-feature row">
                    <div class="col-xs-3 col-sm-2  feature-icon">
                        <h5><i class="fa fa-globe"></i></h5>
                    </div>
                    <div class="col-xs-9 col-sm-10 feature-body">
                        <h5 class="feature-title">Inserimento su Google</h5>
                        <p class="feature-description">
                            Il tuo sito sarà presente all'interno dei risultati di ricerca di Google.
                        </p>
                    </div>
                </div>
                <div class="single-feature row">
                    <div class="col-xs-3 col-sm-2  feature-icon">
                        <h5>
                            <span class="customicon-www">
                                <i class="fa fa-circle-thin circle"></i><span class="overwww">www</span>
                            </span>
                        </h5>
                    </div>
                    <div class="col-xs-9 col-sm-10 feature-body">
                        <h5 class="feature-title">1 nome di dominio</h5>
                        <p class="feature-description">
                            Un nome facile per il tuo sito.<br>Es. www.{{ demodomain }}
                        </p>
                    </div>
                </div>
                <div class="single-feature row">
                    <div class="col-xs-3 col-sm-2  feature-icon">
                        <h5><i class="fa fa-envelope-o"></i></h5>
                    </div>
                    <div class="col-xs-9 col-sm-10 feature-body">
                        <h5 class="feature-title">2 caselle di posta da 1GB</h5>
                        <p class="feature-description">
                            Ottieni indirizzi professionali per la tua attività.<br>Es. info@{{ demodomain }}
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-7 body-col vertical-align-container">
                <div class="vertical-align-content">
                    <form id="purchaseForm" name="purchaseForm"  novalidate>
                        <div class="buy-form-content" ng-if="pms.step == 'loading'">
                            <p class="text-center">
                                Caricamento in corso...
                                <div ng-show="pms.orderObj.status">
                                    <small><br>Impossibile caricare correttamente l'ordine<br>Codice errore: <code>STATUS:{{ pms.orderObj.status }}  ID:{{ pms.orderObj._id }}</code></small>
                                </div>
                            </p>
                        </div>
                        <div class="buy-form-content" ng-if="pms.step == 'pending'">
                            <div class="claim-head">
                                Ordine inserito
                            </div>
                            <p class="text-center "  style="padding-bottom: 30px;">Vai alla <a target="_blank" href="{{ pms.order_url }}">pagina dell'ordine</a> per inserire i dati di fatturazione.</p>
                            <div class="button text-center">
                                <a target="_blank" href="{{ pms.order_url }}" class="btn btn-buy">
                                    Completa ordine
                                </a>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="buy-form-content" ng-if="pms.step == 'pending_payment'">
                            <div class="claim-head">
                                Ordine inserito
                            </div>
                            <p class="text-center " style="padding-bottom: 30px;">Vai alla <a target="_blank" href="{{ pms.order_url }}">pagina dell'ordine</a> per ottenere i dati per effettuare il pagamento.</p>
                            <div class="button text-center">
                                <a target="_blank" href="{{ pms.order_url }}" class="btn btn-buy">
                                    Completa pagamento
                                </a>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="buy-form-content" ng-if="pms.step == 'pending_billing'">
                            <div class="claim-head">
                                Pagamento ricevuto
                            </div>
                            <p class="text-center "  style="padding-bottom: 30px;">Vai alla <a target="_blank" href="{{ pms.order_url }}">pagina dell'ordine</a> per inserire i dati di fatturazione.</p>
                            <div class="button text-center">
                                <a target="_blank" href="{{ pms.order_url }}" class="btn btn-buy">
                                    Completa ordine
                                </a>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="buy-form-content" ng-if="pms.step == 'completed'">
                            <div class="claim-head">
                                Ordine concluso
                            </div>
                            <p class="text-center"  style="padding-bottom: 30px;">L'ordine è stato completato.<br>Ricarica la pagina (tasto F5).</p>
                        </div>
                        <div class="buy-form-content" ng-show="pms.step == 'domain'" ng-if="pms.step == 'domain' || pms.step == 'pro'">
                            <div class="form-group buy-form-email"
                                 ng-class="{'has-feedback has-error': !purchaseForm.email.$valid, 'has-feedback has-success': purchaseForm.email.$valid}">
                                <label class="control-label" for="domain">Indirizzo e-mail</label>
                                <input class="form-control" type="email" name="email" placeholder=""
                                       ng-model="pms.purchaseInfo.email"
                                       ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/"
                                       required>
                                <div ng-show="!purchaseForm.email.$valid" class="help-block help-error">
                                    Formato indirizzo email non valido
                                </div>
                            </div>

                            <div class="form-group buy-form-domain"
                                 ng-class="{'has-feedback has-error': (!purchaseForm.domain.$valid || !pms.inputDomainValid || pms.errorDomainGeneric), 'has-feedback has-success': (purchaseForm.domain.$valid && pms.inputDomainValid && !pms.errorDomainGeneric)}">
                                <label class="control-label" for="domain">Nome dominio scelto</label>
                                <div class="input-group">
                                    <div class="input-group-addon">www.</div>
                                    <input class="form-control" type="text" name="domain" placeholder="{= t('translation:editor.buy.domainame') =}"
                                           ng-model="pms.inputDomain"
                                           ng-pattern="/^[a-z0-9][a-z0-9-]{1,61}[a-z0-9](\.it|\.com|\.net|\.org|\.biz|\.info)$/"
                                           minlength="3"
                                           required>
                                </div>
                                <div ng-hide="pms.loadingSuggestions">
                                    <div ng-if="!purchaseForm.domain.$valid || !pms.inputDomainValid" class="help-block help-error">
                                        {= t('translation:editor.buy.alert_invalid_domain') =}
                                    </div>
                                    <div ng-if="pms.errorDomainGeneric" class="help-block help-error">
                                        {= t('translation:editor.buy.alert_domain_generic_error') =}
                                    </div>
                                    <div ng-if="!(!purchaseForm.domain.$valid || !pms.inputDomainValid) && !pms.errorDomainGeneric && !pms.inputDomainAvailable" class="help-block help-warning">
                                        Dominio non disponibile, continua con l'acquisto solo se il dominio è già in tuo possesso ed intendi utilizzarlo per il nuovo sito. Riceverai tutte le informazioni via e-mail al termine della procedura.
                                    </div>
                                    <div ng-if="!(!purchaseForm.domain.$valid || !pms.inputDomainValid) && !pms.errorDomainGeneric && pms.inputDomainAvailable" class="help-block help-success">
                                        Dominio disponibile.
                                    </div>
                                </div>
                            </div>
                            <div class="form-group buy-form-suggestions" ng-hide="pms.loadingSuggestions || !purchaseForm.domain.$valid || !pms.inputDomainValid">
                                <div ng-show="pms.suggestions.length">
                                    <label class="control-label" for="domain">Domini aggiuntivi <span class="label-minor">(+ € 18/anno - opzionale)</span></label>
                                    <div class="row">
                                        <div class="checkbox col-md-6" ng-repeat="suggestion in pms.suggestions|orderBy:'domainName'">
                                            <label ng-class="{'active':suggestion.selected}" class="label-switch">
                                                <div class="onoffswitch">
                                                    <input type="checkbox"
                                                           ng-model="suggestion.active"
                                                           class="onoffswitch-checkbox"
                                                           name="domains"
                                                           value="{{suggestion.domainName}}">
                                                    <div class="onoffswitch-label">
                                                        <span class="onoffswitch-switch"></span>
                                                    </div>
                                                </div>
                                                {{suggestion.domainName}}
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div ng-show="pms.loadingSuggestions">
                                <p>
                                    Validazione dominio in corso...
                                </p>
                            </div>
                            <div class="buy-form-btns-next text-right">
                                <button class="btn btn-buy" ng-click="pms.step = 'pro'; trackEventBuy('choose_version','choose_domain')" ng-disabled="!purchaseForm.$valid">Continua</button>
                            </div>
                        </div>

                        <div class="buy-form-pro" ng-show="pms.step == 'pro'" ng-if="pms.step == 'domain' || pms.step == 'pro'">
                            <div class="claim-head">
                                Quale versione desideri?
                            </div>
                            <table class="table table-bordered table-buy">
                                <thead>
                                    <tr>
                                        <th ng-class="{'active': pms.purchaseInfo.service == 'premium'}">
                                            <h4>Majeeko Premium</h4>
                                            <p class="service-price">€ 99/anno</p>
                                        </th>
                                        <th ng-class="{'active': pms.purchaseInfo.service == 'pro'}">
                                            <h4>Majeeko PRO</h4>
                                            <p class="service-price">€ 179/anno</p>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="fature" ng-class="{'active': pms.purchaseInfo.service == 'premium'}">
                                            2 pagine personalizzate pubbliche
                                        </td>
                                        <td class="fature" ng-class="{'active': pms.purchaseInfo.service == 'pro'}">
                                            2 pagine personalizzate pubbliche
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="fature-minor" ng-class="{'active': pms.purchaseInfo.service == 'premium'}">
                                            ---
                                        </td>
                                        <td class="fature" ng-class="{'active': pms.purchaseInfo.service == 'pro'}">
                                            <div class="single-feature">
                                                <div class="feature-body">
                                                    <h5 class="feature-title">E-commerce <i class="fa fa-shopping-cart"></i></h5>
                                                    <p class="feature-description" >
                                                        Inizia a vendere con il tuo sito.
                                                    </p>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center" ng-class="{'active': pms.purchaseInfo.service == 'premium'}">
                                            <div class="radio">
                                                <label>
                                                    <input ng-model="pms.purchaseInfo.service" type="radio" name="service" value="premium" checked>
                                                    Versione Premium
                                                </label>
                                            </div>

                                            {#<div class="checkbox">
                                                <label class="label-switch">
                                                    <div class="onoffswitch">
                                                        <input type="checkbox" ng-model="pms.purchaseInfo.service" class="onoffswitch-checkbox" id="switchPremium"
                                                               ng-true-value="false" ng-false-value="true">
                                                        <label class="onoffswitch-label" for="switchPremium">
                                                            <span class="onoffswitch-switch"></span>
                                                        </label>
                                                    </div>
                                                    Majeeko Premium
                                                </label>
                                            </div>#}
                                        </td>
                                        <td class="text-center" ng-class="{'active': pms.purchaseInfo.service == 'pro'}">
                                            <div class="radio">
                                                <label>
                                                    <input ng-model="pms.purchaseInfo.service" type="radio" name="service" value="pro" checked>
                                                    Versione PRO
                                                </label>
                                            <div>
                                            {#<div class="checkbox">
                                                <label class="label-switch">
                                                    <div class="onoffswitch">
                                                        <input type="checkbox" ng-model="pms.purchaseInfo.service" class="onoffswitch-checkbox" id="switchPro"
                                                               ng-true-value="true" ng-false-value="false">
                                                        <label class="onoffswitch-label" for="switchPro">
                                                            <span class="onoffswitch-switch"></span>
                                                        </label>
                                                    </div>
                                                    Majeeko PRO
                                                </label>
                                            </div>#}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="buy-form-confirm button">
                                <button class="btn btn-default pull-left" ng-click="pms.step = 'domain';trackEventBuy('choose_domain','choose_version')">
                                    Indietro
                                </button>
                                <button class="btn btn-buy pull-right" ng-click="confirmOrder()">
                                    Conferma ordine
                                </button>
                                <div class="clearfix"></div>
                            </div>
                        </div>

                        <div class="buy-form-content" ng-if="pms.step == 'upgrade'">
                            <div class="claim-head">
                                Passa alla versione Majeeko PRO:
                                <div class="minor"> + € 80/anno</div>
                            </div>
                            <div class="row">
                                <div class="col-sm-8 col-sm-offset-2">
                                    <div class="single-feature boxed row active">
                                        <div class="col-xs-3 col-sm-2  feature-icon">
                                            <h5><i class="fa fa-shopping-cart"></i></h5>
                                        </div>
                                        <div class="col-xs-9 col-sm-10 feature-body">
                                            <h5 class="feature-title">Modulo e-commerce</h5>
                                            <p class="feature-description" >
                                                Rendi pubblica la pagina "Negozio" e inizia a vendere con il tuo sito.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group buy-form-email"
                                 ng-class="{'has-feedback has-error': !purchaseForm.email.$valid, 'has-feedback has-success': purchaseForm.email.$valid}">
                                <label class="control-label" for="domain">Indirizzo e-mail</label>
                                <input class="form-control" type="email" name="email" placeholder=""
                                       ng-model="pms.purchaseInfo.email"
                                       ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/"
                                       required>
                                <div ng-show="!purchaseForm.email.$valid" class="help-block help-error">
                                    Indirizzo non corretto
                                </div>
                            </div>
                            <div class="form-group button text-center">
                                <button type="button" class="btn btn-buy" ng-click="confirmOrder();">
                                    Conferma ordine
                                </button>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
