<div class="modal-header">
        <button type="button" class="close" aria-label="Close" ng-click="$close()">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title"> 
            <span class="glyphicon glyphicon-bookmark"></span>
            {= t('translation:editor.modifica') =}: {{currentPageAttr.real_name}}
        </h4>
        <p class="small">
            {= t('translation:editor.aggiungi_nuove_funzionalit_al_tuo_sito_') =}
        </p>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-xs-12">
            <div class="col-md-12 alert alert-danger" role="alert">
                <i class="fa fa-info-circle"></i>
                <span>{= t('translation:editor.compila_correttamente_tutti_i_campi_per_continuare') =}</span>
            </div>
            <div class="col-md-12 alert alert-info" role="alert">
                <i class="fa fa-info-circle"></i>
                <span>{= t('translation:editor.inserisci_tuti_i_dati_necessari_alla_registrazione_del_dominio_') =}</span>
            </div>
        </div>
        <div class="col-xs-8">
            <div class="form-group" ng-class="{ 'has-warning': !isActive(page.id) }">
                <label class="label" for="">{= t('translation:editor.titolo_pagina') =}</label>
                <input class="form-control" type="text" ng-model="currentPageAttr.label"/>
            </div>
        </div>
        <div class="col-xs-4">
            <div class="form-group">
                <label class="label" for="">{= t('translation:editor.visibilit_') =}</label>
                {#<button class="btn btn-primary btn-blok pad">
                    <input type="checkbox" ng-model="currentPageAttr.active"/>
                {= t('translation:editor.pubblica_privata') =}
                </button>#}
                <input type="checkbox" ng-model="currentPageAttr.active"/>
                {= t('translation:editor.pubblica_privata') =}
            </div>
        </div>
        <div class="col-xs-12">
            {% if ! pageData.paid %}
            <div class="form-group" ng-class="{ 'has-warning': !isActive(page.id) }">
                <label class="label" for="">{= t('translation:editor.descrizione_pagina_seo') =}</label>
                <input class="form-control" type="text" ng-model="currentPageAttr.label"/>
            </div>
            {% endif %}
            <div class="form-group" ng-show="currentPage!= undefined">
                <div ng-hide="!currentPage.album">
                    <select class="form-control" name="page_agg_1_album" id="page_agg_1_album"
                        ng-options="opt.value as opt.label for opt in options.albums"
                        ng-model="currentPage.album"
                        ng-change="albumChanged(currentPage)">
                        <option value="false">
                        -- {= t('translation:editor.contenuti.select_album') =} --
                        </option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="label" for="">{= t('translation:editor.descrizione_estesa') =}</label>
                <text-angular-toolbar ta-toolbar="[['bold','italics','ul'],['justifyLeft','justifyCenter','justifyRight'],['insertLink']]" name="toolbarExtraPage" id="toolbarExtraPage"></text-angular-toolbar>
                <text-angular ng-model="currentPage.text" ta-target-toolbars="toolbarExtraPage"></text-angular>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <div class="row">
        <div class="col-xs-12">
            <button class="btn btn-default pull-left" ng-click="$close($event)">
                {= t('translation:editor.chiudi') =}
            </button>
            <button class="btn btn-default" ng-click="removeExtraPage(currentPage.id);$close($event)" ng-show="currentPage != undefined">
                {= t('translation:editor.rimuovi') =}
            </button>
            <button class="btn btn-primary">
                {= t('translation:editor.salva') =}
            </button>
        </div>
    </div>
</div>
