<div class="modal-header">
        <button type="button" class="close" aria-label="Close" ng-click="$close()">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
            <i class="fa fa-file"></i>
            {= t('translation:editor.modifica_pagina') =} {{ page_title_default }}
        </h4>
        <p class="small">
            {= t('translation:editor.modifica_le_impostazioni_della_sezione_editingsettings_real_name_del_tuo_sito_',{'REALNAME':'{{ page_title_default }}'}) =}
        </p>
</div>
<div class="modal-body">
    <form name="contactsPageForm" novalidate>
        <div class="row">
            <div class="col-xs-12">
                <div class="col-md-12 alert alert-danger" role="alert" ng-show="!editingSettings.email">
                    <i class="fa fa-info-circle"></i>
                    <span>{= t('translation:editor.per_visualizzare_il_modulo_di_contatto_inserisci_l_indirizzo_email_') =}</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                {= macros.pageVisibility("editingSettings.active") =}
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    <label class="label control-label">{= t('translation:editor.titolo_pagina') =}</label>
                    <input class="form-control" type="text" ng-model="editingSettings.label"/>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group" ng-class="{ 'has-warning': !contactsPageForm.email.$valid }">
                    <label class="label control-label" for="">{= t('translation:editor.indirizzo_email') =}</label>
                    <input class="form-control" name="email" type="email" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" ng-model="editingSettings.email"/>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <div class="row">
        <div class="col-xs-12">
            <button class="btn btn-default pull-left" ng-click="$close()">
                {= t('translation:editor.chiudi') =}
            </button>
            <button class="btn btn-primary" ng-click="saveModifyPage(editingSettings.id);$close();" ng-disabled="!contactsPageForm.email.$valid">
                {= t('translation:editor.salva') =}
            </button>
        </div>
    </div>
</div>
