<div class="modal-header">
    <button type="button" class="close" aria-label="Close" ng-click="$close()">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">
        <i class="fa fa-file"></i>
        {= t('translation:editor.modifica') =} {{ page_title_default }}
    </h4>
    <p class="small">
        {= t('translation:editor.modifica_le_impostazioni_homepage') =}
    </p>
</div>
<div class="modal-body">
    <div class="row form-group">
        <div class="col-sm-12">
            <label class="label control-label" for="toolbarExtraPage-edit-home-profile">{= t('translation:editor.sezioni_visibili_in_home') =}</label>
        </div>
        <div class="col-sm-6">
            <div class="checkbox">
                <label class="label-switch">
                    <div class="onoffswitch">
                        <input type="checkbox" ng-model="editingHomepage.showNews" ng-change="trackEventAction('toggle_home_visibility_news')" class="onoffswitch-checkbox" id="switchNews">
                        <label class="onoffswitch-label" for="switchNews">
                            <span class="onoffswitch-switch"></span>
                        </label>
                    </div>
                    {= t('translation:editor.ultime_news') =}
                </label>
            </div>
            <div class="checkbox">
                <label class="label-switch">
                    <div class="onoffswitch">
                        <input type="checkbox" ng-model="editingHomepage.showAlbums" ng-change="trackEventAction('toggle_home_visibility_albums')" class="onoffswitch-checkbox" id="switchAlbums">
                        <label class="onoffswitch-label" for="switchAlbums">
                            <span class="onoffswitch-switch"></span>
                        </label>
                    </div>
                    {= t('translation:editor.ultimi_album') =}
                </label>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="checkbox">
                <label class="label-switch">
                    <div class="onoffswitch">
                        <input type="checkbox" ng-model="editingHomepage.showEvents" ng-change="trackEventAction('toggle_home_visibility_events')" class="onoffswitch-checkbox" id="switchEvents">
                        <label class="onoffswitch-label" for="switchEvents">
                            <span class="onoffswitch-switch"></span>
                        </label>
                    </div>
                    {= t('translation:editor.ultimi_eventi') =}
                </label>
            </div>
            <div class="checkbox" ng-show="editingHomepage.showEvents">
                <label class="label-switch">
                    <div class="onoffswitch">
                        <input type="checkbox" ng-model="editingHomepage.showPastEvents" class="onoffswitch-checkbox" id="switchPastEvents">
                        <label class="onoffswitch-label" for="switchPastEvents">
                            <span class="onoffswitch-switch"></span>
                        </label>
                    </div>
                    {= t('translation:editor.ultimi_eventi_include_past') =}
                </label>
            </div>
            <div class="checkbox">
                <label class="label-switch">
                    <div class="onoffswitch">
                        <input type="checkbox" ng-model="editingHomepage.showContacts" ng-change="trackEventAction('toggle_home_visibility_contacts')" class="onoffswitch-checkbox" id="switchContacts">
                        <label class="onoffswitch-label" for="switchContacts">
                            <span class="onoffswitch-switch"></span>
                        </label>
                    </div>
                    {= t('translation:editor.mappa_e_contatti') =}
                </label>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="form-group">
                <label class="label control-label" for="toolbarExtraPage-edit-home-profile">{= t('editor.impostazioni.description') =}</label>
                <text-angular-toolbar ta-toolbar="[['bold','italics','ul'],['justifyLeft','justifyCenter','justifyRight'],['insertLink']]" name="toolbarExtraPage-edit-home-profile" id="toolbarExtraPage-edit-home-profile"></text-angular-toolbar>
                <text-angular ng-model="editingSettings.profilo_aziendale" ta-target-toolbars="toolbarExtraPage-edit-home-profile"></text-angular>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <div class="row">
        <div class="col-xs-12">
            <button class="btn btn-default pull-left" ng-click="$close()">
                {= t('translation:editor.chiudi') =}
            </button>
            <button class="btn btn-primary" ng-click="saveModifyPage('home');$close();">
                {= t('translation:editor.salva') =}
            </button>
        </div>
    </div>
</div>
