<script type="text/ng-template" id="sync-done-buy.tpl">
    <div class="modal-header">
        <button type="button" class="close" aria-label="{= t('translation:editor.chiudi') =}" ng-click="$close($event)">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">{= t('translation:editor.sync_done_buy.title') =}</h4>
        <p class="small">
            {= t('translation:editor.sync_done_buy.subtitle') =}.
        </p>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-xs-12 text-center">
                <p style="color: #f90; font-size: 1.1em; text-transform: uppercase">{= t('translation:editor.passa_alla_versione_premium_') =}</p>
                <p>{= t('translation:editor.sync_done_buy.promise') =}</p>
                <a href="#" class="btn btn-buy" style="text-shadow: none;" ng-click="$close($event);toggleEditorPanel('buy');trackEventButton('open_buy_from_sync')" role="button">
                    <i class="glyphicon glyphicon-globe"></i>
                    {= t('editor.pubblicazione.title') =}
                </a>
            </div>
        </div>
    </div>
</script>
