<div class="modal-header">
    <button type="button" class="close" aria-label="Close" ng-click="$close()">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">
        <i class="fa fa-file"></i>
        {= t('translation:editor.modifica_pagina_personalizzata') =}
    </h4>

    {= t('translation:editor.modifica_impostazioni_sezione', {'ID':'{{editingSettings.label}}'}) =}
</div>
<div ng-show="editingSettings.step=='init'">
	<div class="modal-body">

        {% if !pageData.paid %}
        <div class="row">
            <div class="col-xs-12">
                <div class="col-md-12 alert alert-danger" role="alert">
                    <i class="fa fa-info-circle"></i>
                    <span>{= t('translation:editor.contenuti.extra_pages_in_standard') =}</span>
                </div>
            </div>
        </div>
        {% endif %}

		<div class="row">
			<div class="col-xs-12 col-md-4">

                {= macros.pageVisibility("editingSettings.active") =}

                <div>
                    <label class="label control-label">{= t('translation:editor.contenuti.images_of_extra_page') =}</label>
                    <p>{= t('translation:editor.album_associato') =}: <strong>{{ getAlbumTitle(editingSettings.content.album) }}</strong></p>
                </div>
                <div>
                    <button class="btn btn-default btn-edit" ng-click="doEditAlbum(editingSettings)"><i class="fa fa-pencil-square-o"></i> {= t('translation:editor.modifica') =}</button>
                </div>
            </div>
            <div class="col-xs-12 col-md-8">
				<div class="form-group" ng-class="{ 'has-warning': editingSettings.label.$error.required }">
                    <label class="label control-label" for="extraPageTitle">{= t('translation:editor.titolo_pagina') =}</label>
                    <input class="form-control" id="extraPageTitle" type="text" ng-model="editingSettings.label" required/>
				</div>
				<div class="form-group">
                    <label class="label control-label" for="toolbarExtraPageEditing">{= t('translation:editor.testo_del_corpo') =}</label>
                    <text-angular-toolbar ta-toolbar="[['bold','italics','ul'],['justifyLeft','justifyCenter','justifyRight'],['insertLink']]" name="toolbarExtraPageEditing" id="toolbarExtraPageEditing"></text-angular-toolbar>
					<text-angular ng-model="editingSettings.content.text" ta-target-toolbars="toolbarExtraPageEditing"></text-angular>
				</div>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<div class="row">
			<div class="col-xs-12">
				<button class="btn btn-default pull-left" ng-click="$close($event)">
					{= t('translation:editor.chiudi') =}
				</button>
                <button class="btn btn-default btn-delete pull-left" ng-click="editingSettings.step = 'removeConfirm'">
                    {= t('translation:editor.elimina_pagina') =}
                </button>
				<button class="btn btn-primary" ng-click="saveModifyPage(editingSettings.type);$close();" ng-disable="editingSettings.label.$error.required">
					{= t('translation:editor.salva') =}
				</button>
			</div>
		</div>
	</div>
</div>
<div ng-show="editingSettings.step=='selectNewAlbum'">
	<div class="modal-body">
		<div class="row">
			<div class="col-xs-12">
				<h4>{= t('translation:editor.seleziona_galleria') =}</h4>
				<select class="form-control" name="newAlbum" id="newAlbum"
						ng-options="opt.value as opt.label for opt in options.albums"
						ng-model="editingSettings.newAlbum.album">
					<option value="">-- {= t('translation:editor.nessuna_galleria') =} --</option>
				</select>
			</div>

		</div>
	</div>
	<div class="modal-footer">
		<div class="row">
			<div class="col-xs-12">
				<button class="btn btn-default pull-left" ng-click="editingSettings.step='init'">
					{= t('translation:editor.annulla') =}
				</button>
				<button class="btn btn-primary" ng-click="updateContentsByAlbum(editingSettings.newAlbum);">
					{= t('translation:editor.avanti') =}
				</button>
			</div>
		</div>
	</div>
</div>
<div ng-show="editingSettings.step=='setTextNewAlbum'">
    <div class="modal-body">
        <div class="row">
            <div class="col-xs-12">
                {#<h4>{= t('translation:editor.modifica_selezione_album') =}</h4>
                <p>{= t('translation:editor.stai_per_sostituire_l_album_precedentemente_selezionato') =}:</p>
                <table class="table">
                    <tr>
                        <td>{= t('translation:editor.vecchio_album') =}</td>
                        <td>{{ getAlbumTitle(editingSettings.content.album) }}</td>
                    </tr>
                    <tr>
                        <td>{= t('translation:editor.nuovo_album') =}</td>
                        <td>{{ getAlbumTitle(editingSettings.newAlbum.album) }}</td>
                    </tr>
                </table>#}
                <h4>{= t('translation:editor.aggiornamento_contenuti_pagina') =}</h4>
                <p>{= t('translation:editor.desideri_aggiornare_i_contenuti_della_pagina_con_il_titolo_e_la_descrizione_dell_album_selezionato_') =}</p>
                <div class="panel panel-default">
                    <div class="panel-heading">{= t('translation:editor.anteprima') =}</div>
                    <table class="table">
                        <tr>
                            <td style="width:20%"><strong>{= t('translation:editor.nuovo_titolo') =}:</strong></td>
                            <td>
                                <p ng-bind-html="editingSettings.newAlbum.titolo"></p>
                            </td>
                        </tr>
                        <tr>
                            <td><strong>{= t('translation:editor.nuovo_corpo') =}:</strong></td>
                            <td><p ng-bind-html="editingSettings.newAlbum.text"></p></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row">
            <div class="col-xs-12">
                <button class="btn btn-default pull-left" ng-click="editingSettings.step='init'">
                    {= t('translation:editor.annulla') =}
                </button>
                <button class="btn btn-primary" ng-click="updateAlbum(editingSettings, false)">
                    {= t('translation:editor.no_sostituisci_solo_l_album') =}
                </button>
                <button class="btn btn-primary" ng-click="updateAlbum(editingSettings, true)">
                    {= t('translation:editor.s_cambia_anche_i_testi') =}
                </button>
            </div>
        </div>
    </div>
</div>
<div ng-show="editingSettings.step=='removeConfirm'">
    <div class="modal-body">
        <div class="row">
            <div class="col-xs-12">
                <h4>
                    {= t('translation:editor.contenuti.confirm_delete') =}
                </h4>
                {= t('translation:editor.contenuti.you_are_deleting',{'pagename': '{{ editingSettings.label }}'}) =}
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row">
            <div class="col-xs-12">
                <button class="btn btn-default pull-left" ng-click="editingSettings.step='init'">
                    {= t('translation:editor.annulla') =}
                </button>
                <button class="btn btn-primary" ng-click="removeExtraPage(editingSettings.id);$close();">
                    {= t('translation:editor.contenuti.do_confirm_delete') =}
                </button>
            </div>
        </div>
    </div>
</div>
