<!-- ORDER NAV -->
<div class="row" id="contents-order">
    <div class="col-xs-12">
        {# <hgroup class="editor-section-title clearfix">
            <H6>
                <span class="pull-left">{= t('editor.contenuti.voci_menu') =}</span>

                <span class="pull-right">
                    <a href="#" class="fa fa-question-circle"></a>
                </span>

            </H6>
        </hgroup> #}
        <div ui-sortable ng-model="choices.settings.menu">
            <div class="form-group"
                ng-repeat="item in choices.settings.menu"
                ng-class="{ 'has-warning': !item.active || !pageCanBeDisplayed(item.id,pageData) }">
                <label class="label sort-handle" for="menu_voce2">
                    {{item.real_name}}
                </label>
                <div class="input-group btn btn-primary btn-md btn-block pad" ng-disabled="!item.active" ng-class="{'has-warning': !item.label}"
                style="padding:0px 0px 0px 0px">
                    <span class="move input-group-addon">
                        <i class="glyphicon glyphicon-sort"></i>
                    </span>
                    {# <input class="form-control" type="text" id="menu_voce2" name="menu_voce2" ng-model="item.label"> #}
                    <button class="btn btn-primary btn-block" role="button">
                        {{item.label}}
                    </button>
                    <span class="input-group-addon">
                        <input class="enable_menu_voce" name="menu_voce2_enable" type="checkbox" ng-model="item.label">
                    </span>
                </div>

                <!-- <small class="message-forms-error text-danger">Attenzione: la pagina é nascosta</small> -->
                {# <button class="btn btn-primary btn-md btn-block pad"
                role="button"
                >
                {{item.label}}
                </button> #}
                <small class="message-forms-error text-danger"
                    ng-show="!pageCanBeDisplayed(item.id,pageData)">
                    {= t('translation:editor.contenuti.empty_page_alert') =}
                </small>
            </div>
        </div>
    </div>  
</div>
<!-- END ORDER NAV -->
