<div class="modal-header">
    <button type="button" class="close" aria-label="Close" ng-click="$close()">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">
        <i class="fa fa-file"></i>
        {= t('translation:editor.modifica_pagina_personalizzata') =}
    </h4>
</div>
<div class="modal-body" ng-show="editingSettings.step!='removeConfirm'">

    {% if !pageData.paid %}
    <div class="row">
        <div class="col-xs-12">
            <div class="col-md-12 alert alert-danger" role="alert">
                <i class="fa fa-info-circle"></i>
                <span>{= t('translation:editor.contenuti.extra_pages_in_standard') =}</span>
            </div>
        </div>
    </div>
    {% endif %}
	<div class="row">
		<div class="col-xs-12">
            <div class="alert alert-info" ng-if="editingSettings.content.type=='store'">
                <p>
                    Il pannello <a href="#" ng-click="showStoreAdmin()" style="color:white; text-decoration: underline;"><strong>Amministra E-commerce</strong></a> è raggiungibile dal menu principale dell'editor.
                </p>
            </div>

            {= macros.pageVisibility("editingSettings.active") =}
            <div class="form-group" ng-class="{ 'has-warning': editingSettings.label.$error.required }">
                <label class="label control-label">{= t('translation:editor.titolo_pagina') =}</label>
				<input class="form-control" type="text" ng-model="editingSettings.label" required/>
			</div>

			<div class="form-group">
                <label class="label control-label">{= t('translation:editor.testo_del_corpo') =}</label>
				<text-angular-toolbar ta-toolbar="[['bold','italics','ul'],['justifyLeft','justifyCenter','justifyRight'],['insertLink']]" name="toolbarExtraPageEditing" id="toolbarExtraPageEditing"></text-angular-toolbar>
				<text-angular ng-model="editingSettings.content.text" ta-target-toolbars="toolbarExtraPageEditing"></text-angular>
			</div>
		</div>
	</div>
</div>
<div class="modal-footer" ng-show="editingSettings.step!='removeConfirm'">
    <div class="row">
        <div class="col-xs-12">
            <button class="btn btn-default pull-left" ng-click="$close($event)">
                {= t('translation:editor.chiudi') =}
            </button>
            <button class="btn btn-default pull-left btn-delete" ng-click="editingSettings.step = 'removeConfirm'">
                {= t('translation:editor.rimuovi') =}
            </button>
            <button class="btn btn-primary" ng-click="saveModifyPage(editingSettings.type);$close();" ng-disable="editingSettings.label.$error.required">
                {= t('translation:editor.salva') =}
            </button>
        </div>
    </div>
</div>
<div ng-show="editingSettings.step=='removeConfirm'">
    <div class="modal-body">
        <div class="row">
            <div class="col-xs-12">
                <h4>{= t('translation:editor.contenuti.confirm_delete') =}</h4>
                {= t('translation:editor.contenuti.you_are_deleting',{'pagename': '{{ editingSettings.label }}'}) =}
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row">
            <div class="col-xs-12">
                <button class="btn btn-default pull-left" ng-click="editingSettings.step='init'">
                    {= t('translation:editor.annulla') =}
                </button>
                <button class="btn btn-default btn-delete" ng-click="removeExtraPage(editingSettings.id);$close();">
                    {= t('translation:editor.contenuti.do_confirm_delete') =}
                </button>
            </div>
        </div>
    </div>
</div>
