<!-- PAGINA AGGIUNTIVA 1 -->
<div class="row" id="contents-extra">
    <div class="col-xs-12">
        <div class="form-group">
        <label class="label">{= t('translation:editor.aggiungi_pagina') =}</label>
            <button class="btn btn-primary btn-lg btn-block pad"
            role="button"
            ng-click="openAddPageModal()">
            {= t('translation:editor.aggiungi_pagina') =}
            </button>
        </div>
    </div>
</div>
