<script type="text/ng-template" id="add-page.tpl">
    {% include "contents-extra-add.html" %}
</script>
<script type="text/ng-template" id="modify-page.tpl">
    {% include "contents-page-modify.html" %}
</script>
<script type="text/ng-template" id="modify-page-home.tpl">
    {% include "contents-page-modify-home.html" %}
</script>
<script type="text/ng-template" id="modify-page-basicPage.tpl">
	{% include "contents-page-modify-basicPage.html" %}
</script>
<script type="text/ng-template" id="modify-page-contactsPage.tpl">
    {% include "contents-page-modify-contactsPage.html" %}
</script>
<script type="text/ng-template" id="modify-page-textPage.tpl">
    {% include "contents-page-modify-textPage.html" %}
</script>
<script type="text/ng-template" id="modify-page-albumPage.tpl">
	{% include "contents-page-modify-albumPage.html" %}
</script>
