<div class="modal-header">
    <button type="button" class="close" aria-label="Close" ng-click="$close();">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">
        <i class="fa fa-file"></i>
        {= t('translation:editor.aggiungi_sezione') =}
    </h4>
    <p class="small">
        {= t('translation:editor.aggiungi_nuove_funzionalita_al_tuo_sito') =}
    </p>
</div>
<div ng-show="newPage.step=='init'">
    <div class="modal-body">
         <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <!-- Nav tabs -->
                    <div class="row">
                        <div class="col-md-4" ng-click="newPage.type = 'text'" >
                            <button class="btn btn-default btn-block pad" ng-class="{'active': newPage.type == 'text'}">
                                <i class="fa fa-pencil" style="display:block; font-size:30px; margin-bottom: 10px;"></i>
                                <div>{= t('translation:editor.pagina_testuale') =}</div>
                            </button>
                            {% if !pageData.paid %}
                            <div class="text-center">
                                <small>Online con Majeeko Premium</small>
                            </div>
                            {% endif %}
                        </div>
                        <div class="col-md-4" ng-click="newPage.type = 'album'">
                            <button class="btn btn-default btn-block pad" ng-class="{'active':newPage.type == 'album'}">
                                <i class="fa fa-picture-o" style="display:block; font-size:30px; margin-bottom: 10px;"></i>
                                <div>{= t('translation:editor.pagina_da_album') =}</div>
                            </button>
                            {% if !pageData.paid %}
                            <div class="text-center">
                                <small>Online con Majeeko Premium</small>
                            </div>
                            {% endif %}
                        </div>
                        <div class="col-md-4" ng-click="newPage.type = 'store'" ng-show="!hasStore()">
                            <button class="btn btn-default btn-block pad" ng-class="{'active':newPage.type == 'store'}">
                                <i class="fa fa-shopping-cart" style="display:block; font-size:30px; margin-bottom: 10px;"></i>
                                <div>Pagina e-commerce</div>
                            </button>
                            {% if !pageData.isPro %}
                                <div class="text-center">
                                    <small>Online con Majeeko PRO</small>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row">
            <div class="col-xs-12">
                <button class="btn btn-default pull-left" ng-click="$close($event);">
                    {= t('translation:editor.chiudi') =}
                </button>
                <button class="btn btn-primary" ng-click="newPage.step = 'setContentInit'" ng-disabled="newPage.type == ''">
                    {= t('translation:editor.avanti') =}
                </button>
            </div>
        </div>
    </div>
</div>{# end init step #}
<div ng-show="newPage.step =='setContentInit' && newPage.type == 'text'">{# step: adding a text page #}
    <div class="modal-body">
        {% if !pageData.paid %}
            <div class="row">
                <div class="col-xs-12">
                    <div class="col-md-12 alert alert-danger" role="alert">
                        <i class="fa fa-info-circle"></i>
                        <span>{= t('translation:editor.contenuti.extra_pages_in_standard') =}</span>
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <label class="label control-label" for="titolo">{= t('translation:editor.titolo_pagina') =}</label>
                    <input class="form-control" type="text" name="titolo" id="titolo" placeholder="{= t('translation:editor.titolo_pagina') =}" ng-model="newPage.titolo">
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    <label class="label control-label">{= t('editor.contenuti.extra_page_labels.modify_descriptionh') =}</label>
                    <text-angular-toolbar ta-toolbar="[['bold','italics','ul'],['justifyLeft','justifyCenter','justifyRight'],['insertLink']]" name="toolbarText" id="toolbarText"></text-angular-toolbar>
                    <text-angular ng-model="newPage.text" ta-target-toolbars="toolbarText"></text-angular>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row">
            <div class="col-xs-12">
                <button class="btn btn-default pull-left" ng-click="$close($event);">
                    {= t('translation:editor.chiudi') =}
                </button>
                <button class="btn btn-default pull-left" ng-click="initModal('init', 'text');">
                    {= t('translation:editor.indietro') =}
                </button>
                <button class="btn btn-primary" ng-click="addExtraPage(newPage); $close($event)" ng-disabled="!newPage.titolo || !newPage.text">
                    {= t('translation:editor.conferma') =}
                    {# <span class="glyphicon glyphicon-ok-sign"></span> #}
                </button>
            </div>
        </div>
    </div>
</div>{# end step text page #}

<div ng-show="newPage.step=='setContentInit' && newPage.type == 'album'">{# begin Album page: select album #}
    <div class="modal-body">
        {% if !pageData.paid %}
            <div class="row">
                <div class="col-xs-12">
                    <div class="col-md-12 alert alert-danger" role="alert">
                        <i class="fa fa-info-circle"></i>
                        <span>{= t('translation:editor.contenuti.extra_pages_in_standard') =}</span>
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <label class="label control-label" for="menu_voce_agg1">{= t('editor.contenuti.extra_page_labels.select_album') =}</label>
                    <select class="form-control" name="page_agg_1_album" id="page_agg_1_album"
                            ng-model="newPage.album"
                            ng-change="setContentsByAlbum(newPage)">
                        <option value="">-- {= t('translation:editor.contenuti.select_album') =} --</option>
                        <option ng-repeat="opt in options.albums" value="{{ opt.value }}">{{ opt.label }}</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row">
            <div class="col-xs-12">
                <button class="btn btn-default pull-left" ng-click="$close($event);">
                    {= t('translation:editor.chiudi') =}
                </button>
                <button class="btn btn-default pull-left" ng-click="initModal('init', 'album');">
                    {= t('translation:editor.indietro') =}
                </button>
                <button class="btn btn-primary" ng-click="newPage.step = 'setContentStep2'" ng-disabled="! newPage.album">
                    {= t('translation:editor.conferma') =}
                </button>
            </div>
        </div>
    </div>
</div>{# end select album step#}

<div ng-show="newPage.step =='setContentInit' && newPage.type == 'store'">{# step: adding a text page #}
    <div class="modal-body">
        <div class="row">
            <div class="col-xs-12">
                <div class="alert alert-info">
                    <p>
                        Una volta creata la pagina che contiene il negozio, verrà abilitato il pannello
                        <strong>Amministra E-commerce</strong> raggiungibile dal menu principale dell'editor.
                    </p>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    <label class="label control-label" for="titolo">Nome pagina negozio</label>
                    <input class="form-control form-block" type="text" name="titolo" id="titolo" placeholder="titolo" ng-model="newPage.titolo">
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    <label class="label control-label">{= t('editor.contenuti.extra_page_labels.modify_descriptionh') =}</label>
                    <text-angular-toolbar ta-toolbar="[['bold','italics','ul'],['justifyLeft','justifyCenter','justifyRight'],['insertLink']]" name="toolbarStore" id="toolbarStore"></text-angular-toolbar>
                    <text-angular ng-model="newPage.text" ta-target-toolbars="toolbarStore"></text-angular>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row">
            <div class="col-xs-12">
                <button class="btn btn-default pull-left" ng-click="close($event); initModal();">
                    Chiudi
                </button>
                <button class="btn btn-default pull-left" ng-click="initModal('init', 'store');">
                    Indietro
                </button>
                <button class="btn btn-primary" ng-click="addExtraPage(newPage); $close($event)" ng-disabled="!newPage.titolo || !newPage.text">
                    Conferma
                </button>
            </div>
        </div>
    </div>
</div>{# end step text page #}

<div ng-show="newPage.step =='setContentStep2' && newPage.type == 'album'">{# album step 2: setting properties #}
    <div class="modal-body">
        <div class="row">
            <div class="col-xs-12">
                <p>{= t('translation:editor.album_selezionato') =}: <strong>{{ newPage.albumTitle }}</strong></p>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    <label class="label" for="titolo">{= t('translation:editor.titolo_pagina') =}</label>
                    <input class="form-control form-block" type="text" name="titolo" id="titolo" placeholder="{= t('translation:editor.titolo_pagina') =}" ng-model="newPage.titolo">
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    <label class="label">{= t('editor.contenuti.extra_page_labels.modify_descriptionh') =}</label>
                    <text-angular-toolbar ta-toolbar="[['bold','italics','ul'],['justifyLeft','justifyCenter','justifyRight'],['insertLink']]" name="toolbarAlbum" id="toolbarAlbum"></text-angular-toolbar>
                    <text-angular ng-model="newPage.text" ta-target-toolbars="toolbarAlbum"></text-angular>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row">
            <div class="col-xs-12">
                <button class="btn btn-default pull-left" ng-click="$close($event);">
                    {= t('translation:editor.chiudi') =}
                </button>
                <button class="btn btn-default" ng-click="initModal('setContentInit', 'album');">
                    {= t('translation:editor.indietro') =}
                </button>
                <button class="btn btn-primary" ng-click="addExtraPage(newPage); $close($event)" ng-disabled="!newPage.titolo">
                    {= t('translation:editor.conferma') =}
                    {# <span class="glyphicon glyphicon-ok-sign"></span> #}
                </button>
            </div>
        </div>
    </div>
</div>
