<div class="modal-header">
        <button type="button" class="close" aria-label="Close" ng-click="$close()">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
            <i class="fa fa-file"></i>
            {= t('translation:editor.modifica_pagina') =} {{ page_title_default }}
        </h4>
        <p class="small">
            {= t('translation:editor.modifica_le_impostazioni_della_sezione_editingsettings_id_del_tuo_sito_',{'ID':'{{ page_title_default }}'}) =}
        </p>
</div>
<style>.table-bordered{border:solid 1px transparent; background: #fff; height:10px; margin-bottom:5px;}</style>
<div class="modal-body">
    <div class="row">
        <div class="col-xs-12">
            {= macros.pageVisibility("editingSettings.active") =}
            <div class="form-group">
                <label class="label control-label" for="">{= t('translation:editor.titolo_pagina') =}</label>
                <input class="form-control" type="text" ng-model="editingSettings.label"/>
            </div>
        </div>
        <div class="col-xs-12">
            <label class="label control-label" for="">{= t('translation:editor.impaginazione') =}</label>
            <div class="row">
                <div class="col-sm-3">
                    <div class="btn btn-pads btn-default btn-block pad" ng-class="{'active': editingSettings.columns == 1}" ng-click="editingSettings.columns = 1">
                        <div>
                        <table class="table table-bordered">
                            <tr><td></td></tr>
                            <tr><td></td></tr>
                            <tr><td></td></tr>
                        </table>
                        </div>

                        <div class=" text-center">
                            1 {= t('translation:editor.grafica.column') =}
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="btn btn-pads btn-default btn-block pad" ng-class="{'active': editingSettings.columns == 2}" ng-click="editingSettings.columns = 2">
                        <div>
                        <table class="table table-bordered">
                            <tr><td></td><td></td></tr>
                            <tr><td></td><td></td></tr>
                            <tr><td></td><td></td></tr>
                        </table>
                        </div>
                        <div class="text-center">
                            2 {= t('translation:editor.grafica.column_plural') =}
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="btn btn-pads btn-default btn-block pad" ng-class="{'active': editingSettings.columns == 3}" ng-click="editingSettings.columns = 3">
                        <div>
                        <table class="table table-bordered">
                            <tr><td></td><td></td><td></td></tr>
                            <tr><td></td><td></td><td></td></tr>
                            <tr><td></td><td></td><td></td></tr>
                        </table>
                        </div>
                        <div class="text-center">
                            3 {= t('translation:editor.grafica.column_plural') =}
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="btn btn-pads btn-default btn-block pad" ng-class="{'active': editingSettings.columns == 4}" ng-click="editingSettings.columns = 4">
                        <div>
                        <table class="table table-bordered">
                            <tr><td></td><td></td><td></td><td></td></tr>
                            <tr><td></td><td></td><td></td><td></td></tr>
                            <tr><td></td><td></td><td></td><td></td></tr>
                        </table>
                        </div>
                        <div class="text-center">
                            4 {= t('translation:editor.grafica.column_plural') =}
                        </div>
                    </div>
                </div>
            </div>
            <div ng-show="editingSettings.id == 'albums'" ng-cloak>
                <div class="alert alert-warning alert-spaced" ng-show="!pageData.num_albums">
                    {= t('translation:editor.grafica.hidden_because_no_albums') =}
                </div>
                <div class="alert alert-warning alert-spaced" ng-show="pageData.num_albums && editingSettings.columns > pageData.num_albums">
                    {= t('translation:editor.grafica.few_albums_alert',{'count': pageData.num_albums}) =}
                </div>
            </div>
            <div ng-show="editingSettings.id == 'news'" ng-cloak>
                <div class="alert alert-warning alert-spaced" ng-show="!pageData.num_posts">
                {= t('translation:editor.grafica.hidden_because_no_posts') =}
                </div>
                <div class="alert alert-warning alert-spaced" ng-show="pageData.num_posts && editingSettings.columns > pageData.num_posts">
                {= t('translation:editor.grafica.few_posts_alert',{'count': pageData.num_posts}) =}
                </div>
            </div>
            <div ng-show="editingSettings.id == 'events'" ng-cloak>
                <div class="alert alert-warning alert-spaced" ng-show="!pageData.num_events">
                {= t('translation:editor.grafica.hidden_because_no_events') =}
                </div>
                <div class="alert alert-warning alert-spaced" ng-show="pageData.num_events && editingSettings.columns > pageData.num_events">
                {= t('translation:editor.grafica.few_events_alert',{'count': pageData.num_events}) =}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <div class="row">
        <div class="col-xs-12">
            <button class="btn btn-default pull-left" ng-click="$close()">
                {= t('translation:editor.chiudi') =}
            </button>
            <button class="btn btn-primary" ng-click="saveModifyPage(editingSettings.id);$close();">
                {= t('translation:editor.salva') =}
            </button>
        </div>
    </div>
</div>
