<div class="modal-header">
        <button type="button" class="close" aria-label="{= t('translation:editor.chiudi') =}" ng-click="$close($event)">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">{= t('translation:editor.elementi_nascosti') =}</h4>
        <p class="small">
            {= t('editor.contenuti.show_hide_modal_title') =}.
        </p>
    </div>
    <div class="modal-body" id="logo-selection">
        <div class="row" ng-show="hiddenData.news.length >0">
            <div class="col-xs-12">
                <hgroup class="editor-section-title clearfix">
                    <p><strong>{= t('dettagli.news') =}</strong></p>
                </hgroup>
            </div>
            <div class="col-xs-12 btn btn-pads pad" ng-repeat="post in hiddenData.news" ng-click="post.show = !post.show; countHidden(post.show);" ng-class="{active:post.show}">
                <div class="row">
                    <div class="col-xs-2">
                        <div class="thumbnail square-thumbnail pad" ng-style="{'background-image':'url(' + (post.cover_image || '/images/news-standard.jpg') + ')'}"></div>
                    </div>
                    <div class="col-xs-10 text-left truncate">
                        <p>{{ post.title || post.description }}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" ng-show="hiddenData.album.length >0">
            <div class="col-xs-12">
                <hgroup class="editor-section-title clearfix">
                    <p><strong>{= t('dettagli.albums') =}</strong></p>
                </hgroup>
            </div>
            <div class="col-xs-12 btn btn-pads pad" ng-repeat="album in hiddenData.album" ng-click="album.show = !album.show; countHidden(album.show);" ng-class="{active:album.show}">
                <div class="row">
                    <div class="col-xs-2">
                        <div class="thumbnail square-thumbnail pad" ng-style="{'background-image':'url(' + (album.cover_image || '/images/photo-standard.jpg') + ')'}"></div>
                    </div>
                    <div class="col-xs-10 text-left truncate">
                        <p>{{album.title}}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" ng-show="hiddenData.event.length >0">
            <div class="col-xs-12">
                <hgroup class="editor-section-title clearfix">
                    <p><strong>{= t('dettagli.eventi') =}</strong></p>
                </hgroup>
            </div>
            <div class="col-xs-12 btn btn-pads pad" ng-repeat="evento in hiddenData.event" ng-click="evento.show = !evento.show; countHidden(evento.show);" ng-class="{active:evento.show}">
                <div class="row">
                    <div class="col-xs-2">
                        <div class="thumbnail square-thumbnail pad" ng-style="{'background-image':'url(' + (evento.cover_image.source || '/images/event-standard.jpg') + ')'}"></div>
                    </div>
                    <div class="col-xs-10 text-left truncate">
                        <p>{{evento.title}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="$close($event);saveHiddenPosts()" ng-disabled="canSubmit == 0">{= t('editor.contenuti.show_hide_modal_revert') =}</button>
    </div>
</div>
