{= macros.youAreEditing(t('translation:editor.pagine_title'), "menu") =}
<div class="scrollable with-nav-on-top">
    <form name="contents" method="post" ng-controller="editorContentsCtrl">
        {# <div class="alert alert-warning" ng-hide="canAdd">
            {= t('translation:editor.sono_disponibili_2_pagine_aggiuntive') =}
        </div> #}

        <ul class="nav nav-pills nav-stacked nav-sidebar" ng-model="choices.settings.menu" ng-show="canAdd()">
            <li class="select-panel">
                <a class="btn-nav btn-block pad" href="#" ng-click="openAddPageModal()">
                    <span class="select-panel-icon"><i class="fa fa-file"></i></span>
                    <span class="select-panel-title">{= t('translation:editor.aggiungi_pagina') =}</span>
                    <span class="pull-right"><i class="glyphicon glyphicon-plus"></i></span>
                </a>
            </li>
        </ul>

        <ul class="nav nav-pills nav-stacked nav-sidebar sortables">
            <li class="select-panel">
                <div class="row">
                    <div class="col-xs-1 no-gutter text-center">&nbsp;</div>
                    <div class="col-xs-9  no-gutter page_title truncate">
                        {= t('translation:editor.home') =}
                    </div>
                    <div class="col-xs-2 no-gutter page_edit_btn">
                        <button class="btn btn-default btn-md btn-middle btn-block" ng-click="openModifyPage('home')"><i class="fa fa-pencil-square-o"></i></button>
                    </div>
                </div>
            </li>
        </ul>

        <ul class="nav nav-pills nav-stacked nav-sidebar sortables" ng-sortable="sortableOptions">
            <li class="select-panel" ng-repeat="item in choices.settings.menu" ng-show="canShow(item)" ng-class="{'not-visible': ! item.active}">

                <div class="row">
                    <div class="col-xs-1 no-gutter drag-handle text-center">
                        <i class="fa fa-ellipsis-v"></i>
                        <i class="fa fa-ellipsis-v"></i>
                    </div>
                    <div class="col-xs-9 no-gutter page_title truncate">
                        <span class="not-visible-icon" ng-if="!item.active" ng-cloak>
                            <i class="fa fa-eye-slash"></i>
                        </span>
                        {{item.label}}
                        <small style="opacity: 0.6;" ng-show="item.real_name_default != item.label">({{ item.real_name_default }})</small>
                    </div>
                    <div class="col-xs-2 no-gutter page_edit_btn">
                        <button class="btn btn-default btn-md btn-middle btn-block" ng-click="openModifyPage(item.id)"><i class="fa fa-pencil-square-o"></i></button>
                    </div>
                </div>
            </li>
        </ul>
    </form>
    {% include "contents-extra-modal.html" %}
</div>
