{% import "macros.html" as macros %}

<div class="window-height" id="editor-panel-container"> {#'navbar-inverse':darkMode,'navbar-default':!darkMode,#}

	<div class="window-height touch" ng-cloak>
		<div class="editor-panel clearfix " ng-cloak>
            <div class="col-xs-12 no-gutter close-button-bar">
                <div class="col-xs-2" ng-click="toggleEditorPanel('panel') ">
                    <a href="#" class="btn close pull-right">
                        <span aria-hidden="true" title="{= t('translation:editor.chiudi') =}">&times;</span>
                    </a>
                </div>
                <div class="col-xs-10 page-title-container">
                    <div class="label">{= t('translation:editor.stai_amministrando') =}:</div>
                    <div class="truncate">
                        {= pageData.configuration.settings.nome_sito =}
                    </div>
                </div>
            </div>

            {% include "alerts.html" %}

            <div class="col-xs-12 no-gutter editor-panel-content {% if ! pageData.paid %}with-ad{% endif %}">


                <div class="panel-step no-gutter selected-sub-panel" id="editor-nav-sidebar-menu">
                    {% include "editor-nav-sidebar.html" %}
                </div>

                <div ng-controller="editorSettingsCtrl">
                    <div class="panel-step no-gutter" id="editor-nav-sidebar-settings-seo" ng-cloak>
                        {% include "settings-seo.html" %}
                    </div>
                    <div class="panel-step no-gutter" id="editor-nav-sidebar-settings-contacts" ng-cloak>
                        {% include "settings-contacts.html" %}
                    </div>
                </div>

                <div ng-controller="editorGraphicsCtrl">
                    <div class="panel-step no-gutter" id="editor-nav-sidebar-graphics" ng-cloak>
                        {% include "graphics.html" %}
                    </div>
                    <div class="panel-step no-gutter" id="editor-nav-sidebar-graphics-colours" ng-cloak>
                        {% include "graphics-colours.html" %}
                    </div>
                    <div class="panel-step no-gutter" id="editor-nav-sidebar-graphics-fonts" ng-cloak>
                        {% include "graphics-fonts.html" %}
                    </div>
                    <div class="panel-step no-gutter" id="editor-nav-sidebar-graphics-themes" ng-cloak>
                        {% include "graphics-themes.html" %}
                    </div>
                </div>


                <div class="panel-step no-gutter" id="editor-nav-sidebar-contents" ng-cloak>
                    {% include "contents.html" %}
                </div>
            </div>

            <div class="col-xs-12 settings-confirm-bottom" id="settings-confirm">
                <div class="btn-group btn-block">
                    <div class="col-xs-2 no-gutter">
                        <button class="btn btn-default btn-md btn-left btn-block pad" ng-click="reset();trackEventPublishBtn('reset');"
                                data-toggle="tooltip"
                                data-placement="top"
                                title="{= t('translation:editor.reset_tooltip') =}">
                            <i class="fa fa-undo"></i>
                        </button>
                    </div>
                    <div class="col-xs-2 no-gutter">
                        <button class="btn btn-default btn-md btn-middle btn-block pad" ng-click="save();trackEventPublishBtn('save');"
                                data-toggle="tooltip"
                                data-placement="top"
                                title="{= t('translation:editor.save_tooltip') =}">
                            <i class="fa fa-floppy-o"></i>
                        </button>
                    </div>
                    <div class="col-xs-8 no-gutter">
                        <button class="btn btn-primary btn-md btn-right btn-block pad" ng-click="publish();trackEventPublishBtn('publish');">
                            {= t('translation:editor.main.publish') =}
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </div>
	<!-- END BOTTOM BUTTONS -->
</div>
