<!-- NAV SIDEBAR -->
<div class="scrollable">
    <ul class="nav nav-pills nav-stacked nav-sidebar">
        <li class="refresh select-panel">
            <a class="btn-nav btn-block pad"  href="#" ng-click="sync('{= pageData.id =}')" ng-class="{'status-synced':syncing=== false,'status-syncing': syncing ===true}">
                <span class="select-panel-icon"><i class="fa fa-facebook"></i></span>
                <span class="select-panel-title">{= t('translation:editor.aggiorna') =}</span>
                <span class="pull-right"><i class="glyphicon glyphicon-refresh"></i></span>
            </a>
        </li>
    </ul>
    <ul class="nav nav-pills nav-stacked nav-sidebar">
        <li class="select-panel">
            <a href="#" ng-click="toggleEditorPanel('settings-seo') ">
                <span class="select-panel-icon"><i class="fa fa-cog"></i></span>
                <span class="select-panel-title">{= t('translation:editor.impostazioni.title') =}</span>
                <span class="pull-right"><i class="glyphicon glyphicon-menu-right"></i></span>
            </a>
        </li>
    </ul>
    <ul class="nav nav-pills nav-stacked nav-sidebar">
        <li class="select-panel">
            <a href="#" ng-click="toggleEditorPanel('graphics') ">
                <span class="select-panel-icon"><i class="fa fa-paint-brush"></i></span>
                <span class="select-panel-title">{= t('translation:editor.grafica.title') =}</span>
                <span class="pull-right"><i class="glyphicon glyphicon-menu-right"></i></span>
            </a>
        </li>
    </ul>
    <ul class="nav nav-pills nav-stacked nav-sidebar">
        <li class="select-panel">
            <a href="#" ng-click=" toggleEditorPanel('contents') ">
                <span class="select-panel-icon"><i class="fa fa-file"></i></span>
                <span class="select-panel-title">{= t('translation:editor.pagine_title') =}</span>
                <span class="pull-right"><i class="glyphicon glyphicon-menu-right"></i></span>
            </a>
        </li>
        <li class="select-panel">
            <a href="#" ng-click="toggleEditorPanel('settings-contacts') ">
                <span class="select-panel-icon"><i class="fa fa-phone"></i></span>
                <span class="select-panel-title">{= t('translation:editor.sincronizza.contacts') =}</span>
                <span class="pull-right"><i class="glyphicon glyphicon-menu-right"></i></span>
            </a>
        </li>
        <li class="select-panel" ng-show="showHiddenPostsModal">
            <a class="btn-nav btn-block pad" href="#" ng-click="showHiddenPosts()">
                <span class="select-panel-icon"><i class="fa fa-eye-slash"></i></span>
                <span class="select-panel-title">{= t('editor.contenuti.show_hide_tab_title') =}</span>
                <span class="pull-right"><i class="fa fa-pencil-square-o"></i></span>
            </a>
        </li>
        <li class="select-panel" ng-show="hasStore()">
            <a class="btn-nav btn-block pad" href="#" ng-click="showStoreAdmin()">
                <span class="select-panel-icon"><i class="fa fa-shopping-cart"></i></span>
                <span class="select-panel-title">Amministra E-commerce</span>
                <span class="pull-right"><i class="fa fa-pencil-square-o"></i></span>
            </a>
        </li>
    </ul>
</div>
