{= macros.youAreEditing(t('editor.grafica.title') + " / " + t('translation:editor.colori'), "graphics") =}
<div class="scrollable with-nav-on-top">
    <div id="graphic-colours">
        <ul class="nav nav-pills nav-stacked nav-sidebar">
            <li class="select-panel colors-list">
                <div class="form-group" ng-class="{ 'has-warning': !choices.graphics.colors.titles }">
                    <label class="label control-label" for="home_album">{= t('translation:editor.grafica.primary_color') =}</label>
                    <div class="input-group">
                        <span class="input-group-addon glyphicon glyphicon-tint" ng-style="{backgroundColor: choices.graphics.colors.titles, borderColor: choices.graphics.colors.titles, color: choices.graphics.colors.titles}"></span>
                        <input type="text" class="form-control" minicolors="{position:'bottom left'}"  ng-model="choices.graphics.colors.titles" ng-change="trackEventAction('change_color', 'titles')" >
                    </div>
                    {# <small class="message-forms-error text-danger">{= t('translation:editor.attenzione_non_stato_impostato_nessun_colore') =}</small> #}
                </div>
                <div class="form-group" ng-class="{ 'has-warning': !choices.graphics.colors.texts}">
                    <label class="label control-label" for="home_album">{= t('translation:editor.grafica.texts_color') =}</label>
                    <div class="input-group">
                        <span class="input-group-addon glyphicon glyphicon-tint" ng-style="{backgroundColor: choices.graphics.colors.texts, borderColor: choices.graphics.colors.texts, color: choices.graphics.colors.texts}"></span>
                        <input type="text" class="form-control" minicolors="{position:'bottom left'}" ng-model="choices.graphics.colors.texts" ng-change="trackEventAction('change_color', 'texts')">
                        <div>
                            <input type="text" class="form-control" ng-model="choices.graphics.colors.texts">
                        </div>
                    </div>
                    {# <small class="message-forms-error text-danger">{= t('translation:editor.attenzione_non_stato_impostato_nessun_colore') =}</small> #}
                </div>
                <div class="form-group" ng-class="{ 'has-warning': !choices.graphics.colors.inner_background }">
                    <label class="label control-label" for="home_album">{= t('translation:editor.grafica.int_background') =}</label>
                    <div class="input-group">
                        <span class="input-group-addon glyphicon glyphicon-tint" ng-style="{backgroundColor: choices.graphics.colors.inner_background, borderColor: choices.graphics.colors.inner_background, color: choices.graphics.colors.inner_background}"></span>
                        <input type="text" class="form-control" minicolors ng-model="choices.graphics.colors.inner_background" ng-change="trackEventAction('change_color', 'inner_background')">
                        <div>
                            <input type="text" class="form-control" ng-model="choices.graphics.colors.inner_background">
                        </div>
                    </div>
                    {# <small class="message-forms-error text-danger">{= t('translation:editor.attenzione_non_stato_impostato_nessun_colore') =}</small> #}
                </div>

                <div class="form-group" ng-class="{ 'has-warning': !choices.graphics.colors.outer_background }">
                    <label class="label control-label" for="home_album">{= t('translation:editor.grafica.ext_background') =}</label>
                    <div class="input-group">
                        <span class="input-group-addon glyphicon glyphicon-tint" ng-style="{backgroundColor: choices.graphics.colors.outer_background, borderColor: choices.graphics.colors.outer_background, color: choices.graphics.colors.outer_background}"></span>
                        <input type="text" class="form-control" minicolors ng-model="choices.graphics.colors.outer_background">
                        <div>
                            <input type="text" class="form-control" ng-model="choices.graphics.colors.outer_background" ng-change="trackEventAction('change_color', 'outer_background')">
                        </div>
                    </div>
                    {# <small class="message-forms-error text-danger">{= t('translation:editor.attenzione_non_stato_impostato_nessun_colore') =}</small> #}
                </div>
            </li>
        </ul>
    </div>
</div>
<!-- END COLOURS SETTINGS -->
