<!-- COLUMNS SETTINGS -->

{= macros.youAreEditing(t('editor.grafica.title') + " / " + "Impaginazione ####", "graphics") =}
<div class="col-xs-12">
    <div id="graphic-grid">
        {# <hgroup class="editor-section-title clearfix">
            <H6>
                <span class="pull-left">{= t('editor.grafica.columns') =}</span>
                <span class="pull-right">
                    <a href="#" class="fa fa-question-circle"></a>
                </span>
            </H6>
        </hgroup> #}

        <div class="form-group"
             ng-class="{ 'has-warning': !pageData.num_posts || choices.graphics.columns.news > pageData.num_posts}">
            <label class="label" for="home_post">{= t('translation:editor.grafica.no_news_cols') =}</label>
            <div class="btn-group btn-group-justified" role="group" aria-label="...">
                <div class="btn-group" role="group" ng-repeat="btn in [1,2,3,4]">
                    <button type="button" class="btn btn-primary btn-lg pad" ng-class="{'active': btn <= choices.graphics.columns.news }" ng-click="choices.graphics.columns.news = btn"
                            ng-class="{ 'disabled': !pageData.num_events || choices.graphics.columns.news > pageData.num_events}">
                        {{btn}}
                        {# <span class="glyphicon glyphicon-th-large"></span> #}
                    </button>
                </div>
            </div>
            <small class="message-forms-error text-danger" ng-show="!pageData.num_posts">
                {= t('translation:editor.grafica.hidden_because_no_posts') =}
            </small>
            <small class="message-forms-error text-danger" ng-show="pageData.num_posts && choices.graphics.columns.news > pageData.num_posts">{= t('translation:editor.grafica.few_posts_alert',{'count': pageData.num_posts}) =}</small>
        </div>

        <div class="form-group"
             ng-class="{ 'has-warning': !pageData.num_events || choices.graphics.columns.events > pageData.num_events}">
            <label class="label" for="home_event">{= t('translation:editor.grafica.no_events_cols') =}</label>
            <div class="btn-group btn-group-justified" role="group" aria-label="...">
                <div class="btn-group" role="group" ng-repeat="btn in [1,2,3,4]">
                    <button type="button" class="btn btn-primary btn-lg pad" ng-class="{'active': btn <= choices.graphics.columns.events }" ng-click="choices.graphics.columns.events = btn"
                            ng-class="{ 'disabled': !pageData.num_events || choices.graphics.columns.events > pageData.num_events}">
                        {{btn}}
                        {# <span class="glyphicon glyphicon-th-large"></span> #}
                    </button>
                </div>
            </div>
            <small class="message-forms-error text-danger" ng-show="!pageData.num_events">{= t('translation:editor.attenzione_questa_sezione_verr_nascosta_perch_non_ci_sono_eventi_a_disposizione') =}</small>
            <small class="message-forms-error text-danger" ng-show="pageData.num_events && choices.graphics.columns.events > pageData.num_events">{= t('translation:editor.attenzione_hai_solo_pagedata_num_events_eventi_a_disposizione_e_il_sistema_decider_la_disposizione_migliore',{'NUM_EVENTS':'{{pageData.num_events}}'}) =}</small>
        </div>

        <div class="form-group"
             ng-class="{ 'has-warning': !pageData.num_albums || choices.graphics.columns.albums > pageData.num_albums}">
            <label class="label" for="home_album">{= t('translation:editor.grafica.no_albums_cols') =}</label>
            <div class="btn-group btn-group-justified" role="group" aria-label="...">
                <div class="btn-group" role="group" ng-repeat="btn in [1,2,3,4]">
                    <button type="button" class="btn btn-primary btn-lg pad" ng-class="{'active': btn <= choices.graphics.columns.albums }" ng-click="choices.graphics.columns.albums = btn"
                            ng-class="{ 'disabled': !pageData.num_events || choices.graphics.columns.albums > pageData.num_events}">
                        {{btn}}
                        {# <span class="glyphicon glyphicon-th-large"></span> #}
                    </button>
                </div>
            </div>
            <small class="message-forms-error text-danger" ng-show="!pageData.num_albums">{= t('translation:editor.attenzione_questa_sezione_verr_nascosta_perch_non_ci_sono_album_a_disposizione') =}</small>
            <small class="message-forms-error text-danger" ng-show="pageData.num_albums && choices.graphics.columns.albums > pageData.num_albums">{= t('translation:editor.attenzione_hai_solo_pagedata_num_albums_album_a_disposizione_e_il_sistema_decider_la_disposizione_migliore',{'NUM_ALBUMS':'{{pageData.num_albums}}'}) =}</small>
        </div>
    </div>
</div>

<!-- END COLUMNS SETTINGS -->
