{= macros.youAreEditing(t('editor.grafica.title'), "menu") =}
<div class="scrollable with-nav-on-top">
    <ul class="nav nav-pills nav-stacked nav-sidebar">
        <li class="select-panel">
            <a class="btn-nav btn-block pad" href="#" ng-click="openChangeLogoPopup()" role="button">
                <span class="select-panel-icon"><i class="fa fa-picture-o"></i></span>
            <span class="select-panel-title">
                {= t('translation:editor.logo') =}
            </span>
                <span class="pull-right"><i class="fa fa-pencil-square-o"></i></span>
            </a>
        </li>
        <li class="select-panel">
            <a class="btn-nav btn-block pad" href="#" ng-click="openChangeBannerPopup()" role="button">
                <span class="select-panel-icon"><i class="fa fa-picture-o"></i></span>
            <span class="select-panel-title">
                {= t('translation:editor.copertina') =}
            </span>
                <span class="pull-right"><i class="fa fa-pencil-square-o"></i></span>
            </a>
        </li>
        <li class="select-panel">
            <a href="#" ng-click="toggleEditorPanel('graphics-themes') ">
                <span class="select-panel-icon"><i class=" glyphicon glyphicon-list-alt"></i></span>
                <span class="select-panel-title">{= t('translation:editor.temi') =}</span>
                <span class="pull-right"><i class="glyphicon glyphicon-menu-right"></i></span>
            </a>
        </li>
        <li class="select-panel">
            <a href="#" ng-click="toggleEditorPanel('graphics-colours') ">
                <span class="select-panel-icon"><i class="glyphicon glyphicon-tint"></i></span>
                <span class="select-panel-title">{= t('translation:editor.colori') =} </span>
                <span class="pull-right"><i class="glyphicon glyphicon-menu-right"></i></span>
            </a>
        </li>
        <li class="select-panel">
            <a href="#" ng-click="toggleEditorPanel('graphics-fonts') ">
                <span class="select-panel-icon"><i class="glyphicon glyphicon-font"></i></span>
                <span class="select-panel-title">{= t('translation:editor.caratteri') =} </span>
                <span class="pull-right"><i class="glyphicon glyphicon-menu-right"></i></span>
            </a>
        </li>
    </ul>
</div>
<script type="text/ng-template" id="modify-logo-modal.tpl">
    {% include "graphics-logo-edit.html" %}
</script>
<script type="text/ng-template" id="modify-banner-modal.tpl">
    {% include "graphics-banner-edit.html" %}
</script>
