{= macros.youAreEditing( "Immagini ####", "menu") =}



    <ul class="nav nav-pills nav-stacked nav-sidebar">
        <li class="select-panel">
            <a href="#" ng-click="openChangeLogoPopup()" role="button">
                <span class="select-panel-icon"><i class="fa fa-picture-o"></i></span>
                <span class="select-panel-title">{= t('translation:editor.grafica.select_logo_title') =}</span>
                <span class="pull-right"><i class="fa fa-pencil-square-o"></i></span>
            </a>
        </li>
        <li class="select-panel">
            <a href="#" ng-click="openChangeBannerPopup()" role="button">
                <span class="select-panel-icon"><i class="fa fa-picture-o"></i></span>
                <span class="select-panel-title">{= t('translation:editor.grafica.select_banner_title') =}</span>
                <span class="pull-right"><i class="fa fa-pencil-square-o"></i></span>
            </a>
        </li>
    </ul>

{# <div class="col-xs-12">

    <div class="form-group">
        <label class="label">{= t('translation:editor.grafica.select_logo_title') =}</label>
        <button class="btn btn-primary btn-lg btn-block pad"
                ng-click="openChangeLogoPopup()" role="button">
            <div class="row">
                
                <div class="col-xs-3">
                    <img id="brand-img" class="img-responsive fadeimage lazy" ng-src="{{selectedProfilePicture.src}}" alt="name">
                </div>
                
                <div class="col-xs-12">{= t('translation:editor.grafica.select_logo_title') =}</div>
            </div>
        </button>
        <small class="message-forms-error text-danger">{= t('translation:editor.attenzione_l_immagine_troppo_piccola_e_potrebbe_risultare_sgranata') =}</small>
    </div>

    <div class="form-group">
        <label class="label">{= t('translation:editor.grafica.select_banner_title') =}</label>
        <button class="btn btn-primary btn-lg btn-block pad"
                ng-click="openChangeBannerPopup()" role="button">
            <div class="row">
                
                <div class="col-xs-3">
                    <img id="cover-img" class="img-responsive fadeimage lazy" >
                </div>
                
                <div class="col-xs-12">{= t('translation:editor.grafica.select_banner_title') =}</div>
            </div>
        </button>
        <small class="message-forms-error text-danger">{= t('translation:editor.attenzione_l_immagine_troppo_piccola_e_potrebbe_risultare_sgranata') =}</small>
    </div>
</div> #}
