{= macros.youAreEditing( t('editor.grafica.title') + " / " + t('translation:editor.caratteri'), "graphics") =}
<div class="scrollable with-nav-on-top">
    <div id="graphic-fonts">
        <ul class="nav nav-pills nav-stacked nav-sidebar">
            {% for fontName, fontProp in allFonts %}
            <li class="select-panel fonts-list" >
                <a class="btn-nav btn-block pad" ng-class="{'active':choices.graphics.fonts === '{=fontName=}' }"
                ng-click="fontClickHandler('{=fontName=}')">
                    <p>
                        <span class="select-panel-icon"><i class=" glyphicon glyphicon-font"></i></span>
                        <span class="select-panel-title">{=fontProp.label=}</span>
                    </p>
                    <h3 ng-style="{'font-family': {=fontProp.titles=}}">
                        ABCDEFGHIJKL...
                    </h3>
                    <p ng-style="{'font-family': {=fontProp.texts=}}">
                        abcdefghijklmnopqrstuvwxyz
                    </p> 
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
