{# TEMPLATES SETTINGS #}
{= macros.youAreEditing(t('editor.grafica.title') + " / " + t('translation:editor.temi'), "graphics") =}
<div class="scrollable with-nav-on-top">
    <div id="graphic-themes">
        <ul class="nav nav-pills nav-stacked nav-sidebar">
            {% for template in templates %}
                <li class="select-panel themes-list">
                    <a class="btn-nav btn-block pad" ng-class="{'active': choices.graphics.template == '{= template.value =}' }" ng-click="selectTheme('{= template.value =}')" ng-cloak>
                        <h5>
                            <span class="select-panel-icon"><i class=" glyphicon glyphicon-list-alt"></i></span>
                            {= template.label =}
{#
                            <span class="badge pull-right new">NEW</span>
#}
                        </h5>
                        <div class="img-theme-container">
                            <img class="img-responsive" ng-src="/templates/{= template.value =}/thumbnail.jpg" alt="{= template.label =} Template" ng-cloak>
                        </div>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
{# END TEMPLATES SETTINGS #}
