<div class="modal-header">
    <button type="button" class="close" aria-label="{= t('template:editor.chiudi') =}" ng-click="$close($event)">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">{= t('translation:editor.grafica.select_logo_title') =}</h4>
   {# <p class="small">
        {= t('translation:editor.grafica.select_logo_from_album') =} Facebook
    </p>#}
</div>
<div class="modal-body">

    <div ng-show="! pageData.profile_pictures.length">
        <div class="alert alert-warning">
            {= t('translation:editor.no_logos') =}
        </div>
    </div>
    <div ng-show="pageData.profile_pictures.length">
        <div class="row">
            <div class="col-xs-12 form-group">
                <div class="checkbox">
                    <label class="label-switch">
                        <div class="onoffswitch">
                            <input type="checkbox" ng-model="newLogoUseSync"
                                   ng-change="toggleLogoSync()"
                                   class="onoffswitch-checkbox" id="switchSync">
                            <label class="onoffswitch-label" for="switchSync">
                                <span class="onoffswitch-switch"></span>
                            </label>
                        </div>
                        {= t('translation:editor.use_facebook_logo') =}
                    </label>
                </div>
            </div>
        </div>

        <div class="row" id="logo-selection" ng-show="!newLogoUseSync">
            <div class="col-xs-12">
                <div class="label control-label">
                {= t('translation:editor.select_logo') =}
                </div>
            </div>
            <div class="col-sm-3 col-xs-6" ng-repeat="img in pageData.profile_pictures">
                <div class="img-select-container"
                     ng-class="{ 'active': img.id == newLogoId}"
                     ng-click="checkNewLogo(img.id)"
                     role="radio">
                    <div class="square-thumbnail img-select-holder" ng-style="{'background-image':'url(' + img.src + ')'}"></div>
                    <div class="img-select-icon"><i class="fa fa-check"></i></div>
                </div>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>
</div>
<div class="modal-footer">
    <div class="row">
        <div class="col-xs-12">
            <button class="btn btn-default pull-left" ng-click="$close($event)">
                {= t('translation:editor.annulla') =}
            </button>
            <button class="btn btn-primary" ng-click="selectNewLogo(newLogoId);$close($event)">
                {= t('translation:editor.salva') =}
            </button>
        </div>
    </div>
</div>
