<div class="modal-header">
    <button type="button" class="close" aria-label="{= t('translation:editor.chiudi') =}" ng-click="$close($event)">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">{= t('translation:editor.grafica.select_banner_title') =}</h4>
    <p class="small">
        {= t('translation:editor.grafica.select_banner_from_album') =} Facebook
    </p>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-xs-12 form-group">
            <div class="checkbox">
                <label class="label-switch">
                    <div class="onoffswitch">
                        <input type="checkbox" ng-model="banner_use_sync"
                               class="onoffswitch-checkbox" id="switchSync">
                        <label class="onoffswitch-label" for="switchSync">
                            <span class="onoffswitch-switch"></span>
                        </label>
                    </div>
                    {= t('translation:editor.use_facebook_cover') =}
                </label>
            </div>
        </div>
    </div>
    <div class="row" ng-hide="banner_use_sync">
        <div class="col-xs-12">
            <label class="label control-label">{= t('translation:editor.select_banner') =}</label>
            <div class="alert alert-danger" role="alert" ng-hide="banner_selection_valid">
                <i class="fa fa-info-circle"></i>
                {= t('translation:editor.grafica.select_min_one') =}
            </div>
        </div>
    </div>
    <div class="row" id="banner-selection" ng-hide="banner_use_sync">
        <div class="col-sm-6 col-xs-12" ng-repeat="img in pageData.cover_pictures">
            <div class="img-select-container"
                 ng-class="{ 'active': banner_selected_images_flags[img.id] }"
                 ng-click="toggleBannerSelection(img.id)"
                 id="bannerselect{{img.id}}"
                 role="checkbox">
                <div class="thumbnail landscape-thumbnail img-select-holder banner-thumbnail" ng-style="{'background-image':'url(' + img['src'] + ')'}"></div>
                <div class="img-select-icon"><i class="fa fa-check"></i></div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="modal-footer">
    <div class="row">
        <div class="col-sm-12">
            <button class="btn btn-default pull-left" ng-click="$close($event)">
                {= t('translation:editor.grafica.discard') =}
            </button>
            <button class="btn btn-default" ng-click="cleanSelectedBanners()" ng-hide="banner_use_sync">
                {= t('translation:editor.grafica.uncheck') =}
            </button>
            <button class="btn btn-primary" ng-disabled="! banner_selection_valid" ng-click="selectNewBanner(banner_selected_images_flags,banner_use_sync);$close($event)">
                {= t('translation:editor.salva') =}
            </button>
        </div>
    </div>
</div>
