<!-- NEW COLOURS SETTINGS -->

{= macros.youAreEditing(t('editor.grafica.title') + " / " + "Colors ####", "graphics") =}

<div id="graphic-colours">
    {# <hgroup class="editor-section-title clearfix">
        <H6>
            <span class="pull-left">
                {= t('editor.grafica.colors') =}
                Colori suggeriti
            </span>
            <span class="pull-right">
                <a href="#" class="fa fa-question-circle"></a>
            </span>
        </H6>
    </hgroup> #}

    <div class="form-group" id="reset-colors">
        <label class="label" for="home_album">{= t('translation:editor.colori_random') =}</label>

        <div class="input-group btn btn-primary btn-lg btn-block pad"
        style="padding:0px 0px 0px 0px">
            <div class="input-group-addon fa fa-eyedropper"></div>
            <button class="btn-primary btn-lg btn-block"
            role="button"
            ng-click="feelLucky()"
            >
            {= t('translation:editor.mi_sento_colorato') =}
            </button>
        </div>

        {# <button class="btn btn-primary btn-lg btn-block pad"
        role="button"
        ng-click="feelLucky()"
        >
        <i class="fa fa-eyedropper" ></i>
        mi sento colorato
        </button> #}
    </div>

    <div class="form-group" ng-repeat="btn in [1,2,3]">
        <label class="label" for="home_album">{= t('translation:editor.palette_colori_fantasia') =}</label>
        <div class="btn-group btn-group-justified pad" role="group" aria-label="...">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-primary btn-lg">
                    <span class="glyphicon glyphicon-tint"></span>
                </button>
            </div>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-primary btn-lg"
                ng-style="{backgroundColor: choices.graphics.colors.titles, borderColor: choices.graphics.colors.titles, color: choices.graphics.colors.titles}"
                >
                    <span class="glyphicon glyphicon-tint"></span>
                </button>
            </div>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-primary btn-lg"
                ng-style="{backgroundColor: choices.graphics.colors.texts, borderColor: choices.graphics.colors.texts, color: choices.graphics.colors.texts}"
                >
                    <span class="glyphicon glyphicon-tint"></span>
                </button>
            </div>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-primary btn-lg"
                ng-style="{backgroundColor: choices.graphics.colors.inner_background, borderColor: choices.graphics.colors.inner_background, color: choices.graphics.colors.inner_background}"
                >
                    <span class="glyphicon glyphicon-tint"></span>
                </button>
            </div>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-primary btn-lg"
                ng-style="{backgroundColor: choices.graphics.colors.outer_background, borderColor: choices.graphics.colors.outer_background, color: choices.graphics.colors.outer_background}"
                >
                    <span class="glyphicon glyphicon-tint"></span>
                </button>
            </div>
        </div>
    </div>

</div>
<!-- END NEW COLOURS SETTINGS -->

<!-- COLOURS SETTINGS -->
<div id="graphic-colours">
    <hgroup class="editor-section-title clearfix">
        <H6>
            <span class="pull-left">
                {# {= t('editor.grafica.colors') =} #}
                {= t('translation:editor.colori_avanzati') =}
            </span>
            {# <span class="pull-right">
                <a href="#" class="fa fa-question-circle"></a>
            </span> #}
        </H6>
    </hgroup>

    <div class="form-group" ng-class="{ 'has-warning': !choices.graphics.colors.titles }">
        <label class="label" for="home_album">{= t('translation:editor.grafica.primary_color') =}</label>

        <div class="input-group">
            <span class="input-group-addon glyphicon glyphicon-tint" ng-style="{backgroundColor: choices.graphics.colors.titles, borderColor: choices.graphics.colors.titles, color: choices.graphics.colors.titles}"></span>

            <input type="text" class="form-control" minicolors  ng-model="choices.graphics.colors.titles" >
        </div>
        {# <small class="message-forms-error text-danger">{= t('translation:editor.attenzione_non_stato_impostato_nessun_colore') =}</small> #}
    </div>

    <div class="form-group" ng-class="{ 'has-warning': !choices.graphics.colors.texts}">
        <label class="label" for="home_album">{= t('translation:editor.grafica.texts_color') =}</label>

        <div class="input-group">

            <span class="input-group-addon glyphicon glyphicon-tint" ng-style="{backgroundColor: choices.graphics.colors.texts, borderColor: choices.graphics.colors.texts, color: choices.graphics.colors.texts}"></span>

            <input type="text" class="form-control" minicolors ng-model="choices.graphics.colors.texts">

            <div>
                <input type="text" class="form-control" ng-model="choices.graphics.colors.texts">
            </div>

        </div>
        {# <small class="message-forms-error text-danger">{= t('translation:editor.attenzione_non_stato_impostato_nessun_colore') =}</small> #}
    </div>

    <div class="form-group" ng-class="{ 'has-warning': !choices.graphics.colors.inner_background }">
        <label class="label" for="home_album">{= t('translation:editor.grafica.int_background') =}</label>

        <div class="input-group">

            <span class="input-group-addon glyphicon glyphicon-tint" ng-style="{backgroundColor: choices.graphics.colors.inner_background, borderColor: choices.graphics.colors.inner_background, color: choices.graphics.colors.inner_background}"></span>

            <input type="text" class="form-control" minicolors ng-model="choices.graphics.colors.inner_background">

            <div>
                <input type="text" class="form-control" ng-model="choices.graphics.colors.inner_background">
            </div>
        </div>
        {# <small class="message-forms-error text-danger">{= t('translation:editor.attenzione_non_stato_impostato_nessun_colore') =}</small> #}
    </div>

    <div class="form-group" ng-class="{ 'has-warning': !choices.graphics.colors.outer_background }">
        <label class="label" for="home_album">{= t('translation:editor.grafica.ext_background') =}</label>

        <div class="input-group">

            <span class="input-group-addon glyphicon glyphicon-tint" ng-style="{backgroundColor: choices.graphics.colors.outer_background, borderColor: choices.graphics.colors.outer_background, color: choices.graphics.colors.outer_background}"></span>

            <input type="text" class="form-control" minicolors ng-model="choices.graphics.colors.outer_background">

            <div>
                <input type="text" class="form-control" ng-model="choices.graphics.colors.outer_background">
            </div>
        </div>
        {# <small class="message-forms-error text-danger">{= t('translation:editor.attenzione_non_stato_impostato_nessun_colore') =}</small> #}
    </div>
</div>
<!-- END COLOURS SETTINGS -->
