{% macro youAreEditing(pageName, goto) %}
    <ul class="nav nav-pills nav-stacked nav-sidebar">
        <li class="select-panel">
            <a href="#" ng-click="toggleEditorPanel('{=goto=}',true) ">
                <span class="select-panel-icon"><i class="glyphicon glyphicon-menu-left"></i></span>
                <span class="select-panel-title">{=pageName=}</span>
                <!-- <span class="pull-right"><i class="fa fa-pencil-square-o"></i></span> -->
            </a>
        </li>
    </ul>
{% endmacro %}

{% macro pageVisibility(model) %}

    {#<hgroup class="editor-section-title">
        <h4>
            {= t('translation:editor.page_visibility') =}
        </h4>
    </hgroup>#}
    <label class="label control-label" for="switchVisible{=model=}">{= t('translation:editor.page_visibility') =}</label>
    <div class="checkbox">
        <label class="label-switch">
            <div class="onoffswitch">
                <input type="checkbox" ng-model="{=model=}" class="onoffswitch-checkbox" id="switchVisible{=model=}" ng-change="trackEventAction('toggle_visibility','{=model=}')">
                <label class="onoffswitch-label" for="switchVisible{=model=}">
                    <span class="onoffswitch-switch"></span>
                </label>
            </div>
            <span class="value-label">{= t('translation:editor.pagina_pubblica') =}</span>
        </label>
    </div>
{% endmacro %}

