<!-- CONTACT SETTINGS -->
{= macros.youAreEditing(t('translation:editor.sincronizza.contacts'), "menu") =}
<div class="scrollable with-nav-on-top">
    <div id="settings-socials">
        <ul class="nav nav-pills nav-stacked nav-sidebar">
            <li class="select-panel socials-list">
                <div class="form-group" ng-class="{ 'has-warning': !choices.settings.mail }">
                    <label class="label control-label" for="mail">
                        {= t('editor.impostazioni.email') =}
                    </label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-envelope-o"></i></span>
                        <input class="form-control" name="mail" type="text" ng-model="choices.settings.mail" placeholder="{= t('translation:editor.indirizzo_email') =}">
                        <div id="txtHintmail" class="confirm"></div>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-warning': !choices.settings.phone }">
                    <label class="label control-label" for="phone">
                        {= t('translation:editor.buy.phone') =}
                    </label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                        <input class="form-control" name="phone" type="text" ng-model="choices.settings.phone" placeholder="{= t('translation:editor.telephone_number') =}">
                        <div id="txtHintmail" class="confirm"></div>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-warning': !choices.settings.social.skype }">
                    <label class="label control-label" for="skype">{= t('editor.impostazioni.skype') =}</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-skype"></i></span>
                        <input class="form-control" name="skype" type="text" placeholder="{= t('translation:editor.impostazioni.skype') =}" ng-model="choices.settings.social.skype">
                        <div id="txtHintinstagram" class="confirm"></div>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-warning': !choices.settings.social.twitter }">
                    <label class="label control-label" for="twitter">{= t('editor.impostazioni.twitter') =}</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-twitter"></i></span>
                        <input class="form-control" name="twitter" type="text" placeholder="es: https://twitter.com/u/username" ng-model="choices.settings.social.twitter" ng-pattern="/(http:\/\/|https:\/\/)(www\.)?(twitter\.com)\/.+$/">
                        <div id="txtHinttwitter" class="confirm"></div>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-warning': !choices.settings.social.youtube }">
                    <label class="label control-label" for="youtube">{= t('editor.impostazioni.youtube') =}</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-youtube-play"></i></span>
                        <input class="form-control" name="youtube" type="text" placeholder="es: https://www.youtube.com/user/usename" ng-model="choices.settings.social.youtube" ng-pattern="/^(https?\:\/\/|http:\/\/)(www\.)?(youtube\.com|youtu\.?be)\/.+$/">
                        <div id="txtHintyoutube" class="confirm"></div>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-warning': !choices.settings.social.vimeo }">
                    <label class="label control-label" for="vimeo">{= t('editor.impostazioni.vimeo') =}</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-vimeo"></i></span>
                        <input class="form-control" name="vimeo" type="text" placeholder="es: https://vimeo.com/channels/nomecanale" ng-model="choices.settings.social.vimeo" ng-pattern="/(http:\/\/|https:\/\/)(www\.)?(vimeo.com)\/.+$/">
                        <div id="txtHintvimeo" class="confirm"></div>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-warning': !choices.settings.social.pinterest }">
                    <label class="label control-label" for="pinterest">{= t('editor.impostazioni.pinterest') =}</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-pinterest-square"></i></span>
                        <input class="form-control" name="pinterest" type="text" placeholder="es: https://pinterest.com/username" ng-model="choices.settings.social.pinterest" ng-pattern="/(http:\/\/|https:\/\/)(www\.)?(pinterest\.com)\/.+$/">
                        <div id="txtHintpinterest" class="confirm"></div>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-warning': !choices.settings.social.instagram }">
                    <label class="label control-label" for="instagram">{= t('editor.impostazioni.instagram') =}</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-instagram"></i></span>
                        <input class="form-control" name="instagram" type="text" placeholder="es: https://instagram.com/username" ng-model="choices.settings.social.instagram" ng-pattern="/(http:\/\/|https:\/\/)(www\.)?(instagram\.com)\/.+$/">
                        <div id="txtHintinstagram" class="confirm"></div>
                    </div>
                </div>
                <div class="form-group" ng-class="{ 'has-warning': !choices.settings.social.tripadvisor }">
                    <label class="labe control-label control-label" for="tripadvisor">{= t('editor.impostazioni.tripadvisor') =}</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-tripadvisor"></i></span>
                        <input class="form-control" name="tripadvisor" type="text" placeholder="es: https://tripadvisor.com/username" ng-model="choices.settings.social.tripadvisor" ng-pattern="/(http:\/\/|https:\/\/)(www\.)?(tripadvisor\.(com|it))\/.+$/">
                        <div id="txtHinttripadvisor" class="confirm"></div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<!-- END CONTACT SETTINGS -->
