
<!-- {= macros.youAreEditing(t('editor.impostazioni.title'), "menu") =} -->
{= macros.youAreEditing("Impostazioni", "menu") =}

<ul class="nav nav-pills nav-stacked nav-sidebar">
    <li class="select-panel">
        <a href="#" ng-click="toggleEditorPanel('settings-seo') ">
            <span class="select-panel-icon"><i class="fa fa-cog"></i></span>
            <span class="select-panel-title">{= t('editor.impostazioni.general') =} / SEO</span>
            <span class="pull-right"><i class="glyphicon glyphicon-menu-right"></i></span>
        </a>
    </li>

    <li class="select-panel">
        <a href="#" ng-click="toggleEditorPanel('settings-contacts') ">
            <span class="select-panel-icon"><i class="fa fa-paint-brush"></i></span>
            <span class="select-panel-title">{= t('translation:editor.contatti') =}</span>
            <span class="pull-right"><i class="glyphicon glyphicon-menu-right"></i></span>
        </a>
    </li>

    <li class="select-panel">
        <a href="#" ng-click=" toggleEditorPanel('settings-socials') ">
            <span class="select-panel-icon"><i class="fa fa-pencil"></i></span>
            <span class="select-panel-title">{= t('editor.impostazioni.social') =}</span>
            <span class="pull-right"><i class="glyphicon glyphicon-menu-right"></i></span>
        </a>
    </li>
</ul>
