<!-- SOCIAL SETTINGS -->
{# {= macros.youAreEditing(t('editor.impostazioni.title') + " / " + t('editor.impostazioni.social'), "menu") =} #}
{= macros.youAreEditing("Socials", "menu") =}

<div class="col-xs-12">
    <div class="form-group" ng-class="{ 'has-warning': !choices.settings.social.twitter }">
        <label class="label" for="twitter">{= t('editor.impostazioni.twitter') =}</label>
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-twitter"></i></span>
            <input class="form-control" name="twitter" type="text" placeholder="es: https://twitter.com/u/username" ng-model="choices.settings.social.twitter" ng-pattern="/(http:\/\/|https:\/\/)(www\.)?(twitter\.com)\/.+$/">
            <div id="txtHinttwitter" class="confirm"></div>
        </div>
    </div>
    <div class="form-group" ng-class="{ 'has-warning': !choices.settings.social.youtube }">
        <label class="label" for="youtube">{= t('editor.impostazioni.youtube') =}</label>
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-youtube-play"></i></span>
            <input class="form-control" name="youtube" type="text" placeholder="es: https://www.youtube.com/user/usename" ng-model="choices.settings.social.youtube" ng-pattern="/^(https?\:\/\/|http:\/\/)(www\.)?(youtube\.com|youtu\.?be)\/.+$/">
            <div id="txtHintyoutube" class="confirm"></div>
        </div>
    </div>
    <div class="form-group" ng-class="{ 'has-warning': !choices.settings.social.vimeo }">
        <label class="label" for="vimeo">{= t('editor.impostazioni.vimeo') =}</label>
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-vimeo"></i></span>
            <input class="form-control" name="vimeo" type="text" placeholder="es: https://vimeo.com/channels/nomecanale" ng-model="choices.settings.social.vimeo" ng-pattern="/(http:\/\/|https:\/\/)(www\.)?(vimeo.com)\/.+$/">
            <div id="txtHintvimeo" class="confirm"></div>
        </div>
    </div>
    <div class="form-group" ng-class="{ 'has-warning': !choices.settings.social.pinterest }">
        <label class="label" for="pinterest">{= t('editor.impostazioni.pinterest') =}</label>
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-pinterest-square"></i></span>
            <input class="form-control" name="pinterest" type="text" placeholder="es: https://pinterest.com/username" ng-model="choices.settings.social.pinterest" ng-pattern="/(http:\/\/|https:\/\/)(www\.)?(pinterest\.com)\/.+$/">
            <div id="txtHintpinterest" class="confirm"></div>
        </div>
    </div>
    <div class="form-group" ng-class="{ 'has-warning': !choices.settings.social.instagram }">
        <label class="label" for="instagram">{= t('editor.impostazioni.instagram') =}</label>
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-instagram"></i></span>
            <input class="form-control" name="instagram" type="text" placeholder="es: https://instagram.com/username" ng-model="choices.settings.social.instagram" ng-pattern="/(http:\/\/|https:\/\/)(instagram\.com)\/.+$/">
            <div id="txtHintinstagram" class="confirm"></div>
        </div>
    </div>
    <div class="form-group" ng-class="{ 'has-warning': !choices.settings.social.tripadvisor }">
        <label class="label" for="tripadvisor">{= t('editor.impostazioni.tripadvisor') =}</label>
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-tripadvisor"></i></span>
            <input class="form-control" name="tripadvisor" type="text" placeholder="es: https://tripadvisor.com/username" ng-model="choices.settings.social.tripadvisor" ng-pattern="/(http:\/\/|https:\/\/)(www\.)?(tripadvisor\.(com|it))\/.+$/">
            <div id="txtHinttripadvisor" class="confirm"></div>
        </div>
    </div>
</div>
        
<!-- END SOCIAL SETTINGS -->
