<!-- GENERAL SEO -->

{= macros.youAreEditing(t('translation:editor.impostazioni.title'), "menu") =}

<div class="scrollable with-nav-on-top">
    <div id="settings">
        <ul class="nav nav-pills nav-stacked nav-sidebar">
            <li class="select-panel settings-list">
                <div class="form-group" ng-class="{ 'has-warning': !choices.settings.nome_sito }">
                    <label class="label control-label" for="newname">
                        {= t('editor.impostazioni.name') =}
                        <span class="required">*</span>
                    </label>
                    <input class="form-control" name="newname" type="text" ng-model="choices.settings.nome_sito">
                </div>

                <div class="form-group" {#ng-class="{ 'has-warning': !choices.settings.slogan }"#}>
                    <label class="label control-label" for="sitetitle">
                        {= t('editor.impostazioni.payoff') =}
                        {#<span class="required">*</span>#}
                    </label>
                    <input class="form-control" name="sitetitle" type="text" ng-model="choices.settings.slogan" >
                </div>

                <div class="form-group" {#ng-class="{ 'has-warning': !choices.settings.partita_iva }"#}>
                    <label class="label control-label" for="piva">
                        {= t('editor.impostazioni.vat') =}
                        {#<span class="required">*</span>#}
                    </label>
                    <input class="form-control" name="piva" type="text" ng-model="choices.settings.partita_iva">
                </div>

                <div class="form-group" ng-class="{ 'has-warning': !choices.settings.profilo_aziendale }">
                    <label class="label control-label" for="sitedescription">
                        {= t('editor.impostazioni.description') =}
                    </label>
                     <text-angular-toolbar ta-toolbar="[['bold','italics','ul'],['justifyLeft','justifyCenter','justifyRight']]" name="{{ 'toolbar'+$index }}" id="{{ 'toolbar'+$index }}"></text-angular-toolbar>
                    <text-angular ng-model="choices.settings.profilo_aziendale" ta-target-toolbars="{{'toolbar'+$index}}"></text-angular>
                </div>

            </li>
        </ul>
    </div>
</div>

<!-- END GENERAL SEO -->
