<div class="modal-header">
    <button type="button" class="close" aria-label="Close" ng-click="$close();">
        <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">
        <i class="fa fa-picture-o"></i>
        Scegli l'immagine per il prodotto
    </h4>
    <p class="small">
    </p>
</div>

<div ng-show="chooseImage.step=='step1'">
    <div class="modal-body">
        <div class="row">
            <div class="col-xs-12">
                <div class="form-group">
                    <label class="label" for="chooseAlbum">{= t('editor.contenuti.extra_page_labels.select_album') =}</label>
                    <select class="form-control" name="chooseAlbum" id="chooseAlbum"
                            ng-options="album.label for album in albums"
                            ng-model="vm.selectedAlbum">

                        <option value="">-- {= t('translation:editor.contenuti.select_album') =} --</option>

                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row">
            <div class="col-xs-12">
                <button class="btn btn-default pull-left" ng-click="$close();">
                    {= t('translation:editor.chiudi') =}
                </button>
                <button class="btn btn-primary" ng-click="modalStep('step2');" ng-disabled="! vm.selectedAlbum">
                    {= t('translation:editor.avanti') =}
                </button>
            </div>
        </div>
    </div>
</div>

<div ng-show="chooseImage.step =='step2'">
    <div class="modal-body">
        <div class="row">
            <div class="col-xs-12">
                <p>Seleziona una delle immagini dell'album <strong>{{ vm.album.title }}</strong></p>
            </div>
            <div class="col-xs-12">
            <div class="row" id="logo-selection">
                <div class="col-md-3 col-xs-6" ng-repeat="img in vm.album.photos">
                    <div class="img-select-container"
                         {# ng-class="{ 'active': img.id == pageData.configuration.graphics.logoId}" #}
                         ng-click="selectProductImage(img);$close($event)"
                         role="radio">
                        <div class="square-thumbnail img-select-holder" ng-style="{'background-image':'url(' + img.miniature + ')'}"></div>
                        <div class="img-select-icon"><i class="fa fa-check"></i></div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="row">
            <div class="col-xs-12">
                <button class="btn btn-default pull-left" ng-click="$close();">
                    {= t('translation:editor.chiudi') =}
                </button>
                <button class="btn btn-default" ng-click="modalStep('step1');">
                    {= t('translation:editor.indietro') =}
                </button>
                {# <button class="btn btn-primary" ng-click="addExtraPage(chooseImage); $close($event)" ng-disabled="!chooseImage.titolo">
                    {= t('translation:editor.conferma') =}
                </button> #}
            </div>
        </div>
    </div>
</div>
