<div class="store-container" ng-controller="storeAdminCtrl">
    <div class="modal-header">
        <button type="button" class="close" aria-label="Close" ng-click="$close($event)">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
            Amministrazione E-Commerce
            <span ng-show="isSaving || isLoading" class="status-syncing">&nbsp; &nbsp; <i class="glyphicon glyphicon-refresh"></i></span>
        </h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-xs-12 col-sm-3 col-md-2 store-sidebar">
                <ul class="nav nav-pills vertical-tabs nav-stacked nav-sidebar">
                    <li class="select-panel" ng-repeat="tab in tabs">
                        <a href="#" ng-click="onClickTab(tab)" ng-class="{active:isActiveTab(tab.url)}">
                            <span class="select-panel-title">{{tab.title}}</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-9 col-md-10 store-main-container" ng-include="currentTab"></div>
        </div>
    </div>
    {#<div class="modal-footer">
        <div calss="row">
            <div class="col-xs-12 col-sm-12">
                <div class="alert alert-info" role="alert" ng-show="vm.isSaving">Sto salvando...</div>
                <div class="alert alert-danger" role="alert" ng-show="vm.isFailed">Errore nel salvataggio</div>
            </div>
        </div>
    </div>#}
</div>

<script type="text/ng-template" id="products.tpl">
    <div class="row">
        <div class="col-xs-12 col-sm-10">
            <h3 class="tab_title">{= t('translation:editor.store.product__plural') =}</h3>
        </div>
        <div class="col-xs-12 col-sm-2" ng-show="canAddProduct">
            <span class="pull-right">
                <button type="button" class="btn btn-default btn-add" ng-click="editProductTab()"><i class="fa fa-plus"></i>{= t('translation:editor.store.product_add') =}</button>
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12">
            <div ng-show="!canAddProduct" class="alert alert-warning">
                {= t('translation:editor.store.no_products_no_category') =}
            </div>

            <div ng-show="products.length === 0 && canAddProduct">
                {= t('translation:editor.store.no_products') =}
            </div>

            <table ng-hide="products.length === 0" class="table table-bordered table-store table-products">
                <thead>
                    <tr>
                        <th class="col-product-image">{= t('translation:editor.store.image') =}</th>
                        <th class="col-product-name">{= t('translation:editor.store.product_name') =}</th>
                        <th class="col-product-id">{= t('translation:editor.store.sku') =}</th>
                        <th class="col-product-price">{= t('translation:editor.store.price') =}</th>
                        <th class="col-product-quantity">{= t('translation:editor.store.qt') =}</th>
                        {#<th class="col-product-availability">{= t('translation:editor.store.availability') =}</th>#}
                        <th class="col-product-action"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="product in products | orderBy : 'productName' | filter : paginate">
                        <td class="col-product-image">

                            <div class="thumbnail" ng-show="product.thumbPath.src"
                                 style="background-image: url('{{product.thumbPath.src}}'); background-position: center center; background-size: cover;"></div>
                        </td>
                        <td class="col-product-name">{{product.productName}}</td>
                        <td class="col-product-id">{{product.productID}}</td>
                        <td class="col-product-price">{{product.productPrice | currency:"€ "}}</td>
                        <td class="col-product-quantity">{{product.quantity}}</td>
                        {#<td class="col-product-availability">
                            <i ng-if="product.availability" class="fa fa-check-square-o icon-true"></i>
                            <i ng-if="!product.availability" class="fa fa-square-o icon-false"></i>
                        </td>#}
                        <td class="col-product-action"><button type="button" class="btn btn-default btn-edit" ng-click="editProductTab(product)"><i class="fa fa-pencil"></i> {= t('translation:edit') =}</button></td>
                    </tr>
                </tbody>
            </table>
            <div ng-hide="products.length === 0" class="pull-right">
                <pagination total-items="vm.totalItems('products')" ng-model="vm.currentPage"
                    max-size="5" boundary-links="true"
                    items-per-page="vm.numPerPage" class="pagination-sm">
                </pagination>
            </div>
        </div>
    </div>
    <!--<div ui-grid="storeProductsGrid.config" ui-grid-pagination="" class="grid"></div> -->
</script>

<script type="text/ng-template" id="categories.tpl">
    <div class="row">
        <div class="col-xs-12 col-sm-10">
            <h3 class="tab_title">{= t('translation:editor.store.category__plural') =}</h3>
        </div>
        <div class="col-xs-12 col-sm-2">
            <span class="pull-right">
                <button type="button" class="btn btn-default btn-add" ng-click="editCategoryTab(undefined)"><i class="fa fa-plus"></i> {= t('translation:editor.store.add_category') =}</button>
            </span>
        </div>
        <div class="col-xs-12 col-sm-12">
            <div ng-show="categories.length === 0" class="alert alert-warning">{= t('translation:editor.store.no_category') =}</div>

            <table ng-hide="categories.length === 0" class="table table-bordered table-store table-categories">
                <thead>
                    <tr>
                        <th class="col-category-id">{= t('translation:editor.store.cat_id') =}</th>
                        <th class="col-category-name">{= t('translation:editor.store.category_name') =}</th>
                        <th class="col-category-action">{= t('translation:editor.store.actions') =}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="category in categories | orderBy : 'categoryName' | filter : paginate">
                        <td class="col-category-id">{{category.categoryID}}</td>
                        <td class="col-category-name">{{category.categoryName}}</td>
                        <td class="col-category-action"><button type="button" class="btn btn-default btn-edit" ng-click="editCategoryTab(category)"><i class="fa fa-pencil"></i> {= t('translation:edit') =}</button></td>
                    </tr>
                </tbody>
            </table>
            <div ng-hide="categories.length === 0" class="pull-right">
                <pagination total-items="vm.totalItems('categories')" ng-model="vm.currentPage"
                  max-size="5" boundary-links="true"
                  items-per-page="vm.numPerPage" class="pagination-sm">
                </pagination>
            </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="orders.tpl">
    <div class="row">
        <div class="col-xs-12 col-sm-12">
            <h3 class="tab_title">{= t('translation:editor.store.orders_title') =}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12">
            <div class="alert alert-info" ng-show="orders.length === 0">{= t('translation:editor.store.no_orders') =}</div>
            <table ng-hide="orders.length === 0" class="table table-bordered table-store">
                <thead>
                    <tr>
                        <th class="col-order-id">{= t('translation:editor.store.order_id') =}</th>
                        <th class="col-order-client">{= t('translation:editor.store.order_client') =}</th>
                        <th class="col-order-status">{= t('translation:editor.store.order_state') =}</th>
                        <th class="col-order-amount">{= t('translation:editor.store.order_amount') =}</th>
                        <th class="col-order-date">{= t('translation:editor.store.order_date') =}</th>
                        <th class="col-order-action">{= t('translation:editor.store.actions') =}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="order in orders | orderBy : '-order.created_at' | filter : paginate">
                        <td class="col-order-id">{{order.orderID}}</td>
                        <td class="col-order-client">{{ order.customer.name }} {{ order.customer.last_name }}</td>
                        <td class="col-order-status">{{order.status}}</td>
                        <td class="col-order-amount">{{ order.total | currency:"€" }}</td>
                        <td class="col-order-date">{{order.date | date:"short"}}</td>
                        <td class="col-order-action"><button type="button" class="btn btn-default btn-edit" ng-click="showOrderTab(order)"><i class="fa fa-pencil"></i> {= t('translation:editor.store.details') =}</button></td>
                    </tr>
                </tbody>
            </table>
            <div ng-hide="orders.length === 0" class="pull-right">
                <pagination total-items="vm.totalItems('orders')" ng-model="vm.currentPage"
                  max-size="5" boundary-links="true"
                  items-per-page="vm.numPerPage" class="pagination-sm">
                </pagination>
            </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="configuration.tpl">
    <div class="row">
        <div class="col-xs-12 col-sm-10">
            <h3 class="tab_title">Configurazione E-commerce</h3>
        </div>
    </div>
    <form name="configurationInputForm" ng-submit="vm.saveModel(configurationInputForm, vm.providers.configuration, configurationForm.model)" sf-schema="configurationForm.schema" sf-form="configurationForm.form" sf-model="configurationForm.model">
    </form>
</script>

<script type="text/ng-template" id="add_category.tpl">
    <div class="row">
        <div class="col-xs-12 col-sm-10">
            <h3 class="tab_title">Modifica categoria</h3>
        </div>
    </div>
    <form name="categoryAddForm" sf-schema="categoryForm.schema" sf-form="categoryForm.form" sf-model="categoryForm.model" ng-submit="vm.saveModel(categoryAddForm, vm.providers.category, categoryForm.model)">
    </form>
    <div class="row bottom-actions">
        <div class="col-xs-12">
            <button type="button" class="btn btn-default btn-delete" ng-click="vm.deleteModel(vm.providers.category, categoryForm.model)" ng-show="updatingElement">{= t('translation:editor.store.category_delete') =}</button>
            <button type="button" class="btn btn-default" ng-click="back('categories.tpl')">{= t('translation:editor.store.categories_back_to') =}</button>
        </div>
    </div>
    <div class="clearfix"></div>
</script>

<script type="text/ng-template" id="add_product.tpl">
    <div class="row">
        <div class="col-xs-12 col-sm-10">
            <h3 class="tab_title">Modifica prodotto</h3>
        </div>
    </div>
    <form name="productAddForm" sf-schema="productForm.schema" sf-form="productForm.form" sf-model="productForm.model" ng-submit="vm.saveModel(productAddForm, vm.providers.product, productForm.model)">
    </form>
    <div class="row bottom-actions">
        <div class="col-xs-12">
            <button type="button" class="btn btn-default btn-delete" ng-click="vm.deleteModel(vm.providers.product, productForm.model)" ng-show="updatingElement">{= t('translation:editor.store.product_delete') =}</button>
            <button type="button" class="btn btn-default" ng-click="back('products.tpl')">{= t('translation:editor.store.products_back_to') =}</button>
        </div>
    </div>
</script>

<script type="text/ng-template" id="show_order.tpl">
    <div class="row">
        <div class="col-xs-12 col-sm-10">
            <h3 class="tab_title">Gestione ordine</h3>
        </div>
    </div>
    <form name="orderEditForm" sf-schema="orderForm.schema" sf-form="orderForm.form" sf-model="orderForm.model" ng-submit="vm.saveModel(orderEditForm, vm.providers.order, orderForm.model)">
    </form>
</script>

<script type="text/ng-template" id="textangulartemplate.tpl">
    <div class="form-group" ng-class="{'has-error': hasError()}">
        <label class="control-label" ng-show="showTitle()">{{form.title}}</label>
        <text-angular-toolbar  ta-toolbar="[['bold','italics','ul'],['justifyLeft','justifyCenter','justifyRight'],['insertLink']]" name="toolbar{{ form.key }}" id="toolbar{{ form.key }}"></text-angular-toolbar>
        <text-angular schema-validate="form" ng-model="$$value$$" format="form.format"  ta-target-toolbars="toolbar{{ form.key }}"></text-angular>
    </div>
</script>
<script type="text/ng-template" id="switchtemplate.tpl">
    <div class="form-group {{form.htmlClass}}"
         ng-class="{'has-error': form.disableErrorState !== true &&  hasError(), 'has-success': form.disableSuccessState !== true &&  hasSuccess()}">
        <label class="label-switch">
            <div class="onoffswitch">
                <input id="switch{{ form.key }}"
                       type="checkbox"
                       class="onoffswitch-checkbox {{form.fieldHtmlClass}}"
                       sf-changed="form"
                       ng-disabled="{{ form.readonly }}"
                       ng-model="$$value$$"
                       ng-model-options="form.ngModelOptions"
                       schema-validate="form"
                       name="{{form.key.slice(-1)[0]}}">
                <label class="onoffswitch-label" for="switch{{ form.key }}">
                    <span class="onoffswitch-switch"></span>
                </label>
            </div>
            <span class="value-label">{{form.title}}</span>
        </label>
    </div>
</script>
<script type="text/ng-template" id="singleimagetemplate.tpl">
    <div class="form-group {{form.htmlClass}}"
           ng-class="{'has-error': form.disableErrorState !== true &&  hasError(), 'has-success': form.disableSuccessState !== true &&  hasSuccess()}">
        <label class="control-label" ng-show="showTitle()">{{form.title}}</label>
        <div ng-show="$$value$$" class="row">
            <div class="col-xs-6 col-sm-3 col-md-2">
                <div class="thumbnail square-thumbnail"
                        style="background-image: url('{{ $$value$$.src }}'); background-position: center center; background-size: cover;"></div>
            </div>
            {#
            <div ng-show="$$value$$.title" class="col-xs-6 col-sm-3 col-md-2">
                <div class="value-label">{{ $$value$$.title }}</div>
            </div>
            #}
            <div class="clearfix"></div>
            <div class="col-xs-12">
                <div class="btn btn-default btn-edit" ng-click="buttonClick(null, form)">
                    <i class="fa fa-edit"></i>
                    Cambia immagine
                </div>
            </div>
        </div>
        <div ng-hide="$$value$$" class="row">
            <div class="col-xs-12">
                <div class="btn btn-default btn-add" ng-click="buttonClick(null, form)">
                    <i class="fa fa-edit"></i>
                    Scegli immagine
                </div>
            </div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="arraytabletemplate.tpl">
    <table ng-show="$$value$$"
           sf-array="form"
           class="table table-bordered table-store {{form.htmlClass}}">
        <thead>
        <tr>
            <th class="col-single-order-productid">{= t('translation:editor.store.sku') =}</th>
            <th class="col-single-order-productname">{= t('translation:editor.store.product_name') =}</th>
            <th class="col-single-order-price">{= t('translation:editor.store.price') =}</th>
            <th class="col-single-order-quantity">{= t('translation:editor.store.qt') =}</th>
        </tr>
        </thead>
        <tbody>
            <tr class="{{form.fieldHtmlClass}}"
                ng-repeat="line in $$value$$ track by $index">
                <td>
                    {{ line.productID }}
                </td>
                <td>
                    {{ line.name }}
                </td>
                <td>
                    {{ line.price | currency:"€" }}
                </td>
                <td>
                    {{ line.quantity }}
                </td>
            </tr>
        </tbody>
    </table>
</script>
<script type="text/ng-template" id="displayonlytemplate.tpl">
    <div class="form-group row static-form">
        <label class="col-sm-3 control-label">{{form.title}}</label>
        <div class="col-sm-9">
            <p class="form-control-static">{{$$value$$}}</p>
        </div>
    </div>
</script>
<script type="text/ng-template" id="displayonlydatetemplate.tpl">
    <div class="form-group row static-form">
        <label class="col-sm-3 control-label">{{form.title}}</label>
        <div class="col-sm-9">
            <p class="form-control-static">{{$$value$$ | formattedDate}}</p>
        </div>
    </div>
</script>
<script type="text/ng-template" id="displayonlywithcurrencytemplate.tpl">
<div class="form-group row static-form">
    <label class="col-sm-3 control-label">{{form.title}}</label>
    <div class="col-sm-9">
        <p class="form-control-static">{{$$value$$ | currency:"€ "}}</p>
    </div>
</div>
</script>


