<script type="text/ng-template" id="store-admin-modal.tpl">
    {% include "store-admin.html" %}
</script>
<script type="text/ng-template" id="store-image-picker.tpl">
    {% include "store-image-picker.html" %}
</script>
