<nav class="navbar"
     id="editor-navbar-top" {#ng-class="{'navbar-inverse':darkMode,'navbar-default':!darkMode}" ng-init="darkMode = true;"#}>
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                {% if is_tophost %}
                    <img src="/images/tophost-white-majeeko.png" class="navbar-inverse-brand"
                         style="height:22px; width:auto ">
                {% else %}
                    <img src="/images/majeeko-brand-editor.svg" class="navbar-inverse-brand"
                         style="height:22px; width:auto ">
                    {#
                            <img src="/images/majeeko-brand-editor-pos.svg" class="navbar-default-brand" style="height:22px; width:auto ">
                    #}
                {% endif %}
            </a>
        </div>
        <ul class="nav navbar-nav" ng-cloak>
            <li class="toggle" ng-class="{ active: openEditorPanel}">
                <a href="#" ng-click="toggleEditorPanel('panel') " ng-cloak>

            <span class="badge" ng-hide="openEditorPanel">
              <i class="fa fa-bars"></i>
            </span>
                    <span class="nav-item-text" ng-hide="openEditorPanel">{= t('translation:editor.modifica') =}</span>

            <span class="badge" ng-hide="!openEditorPanel">
                <i class="fa fa-times"></i>
            </span>
                    <span class="nav-item-tex" ng-hide="!openEditorPanel">{= t('translation:editor.chiudi') =}</span>

                </a>
            </li>
            {% if ! pageData.paid %}
            <li ng-class="{ active: currentEditorPanel == 'buy' }">
                <a href="#" class="editor-buy-button"
                   ng-click="toggleEditorPanel('buy')"
                   role="button">
                    <span class="badge">
                        <i class="glyphicon glyphicon-globe"></i>
                    </span>
                    <span class="nav-item-text">
                        {= t('editor.pubblicazione.title') =}
                    </span>
                </a>
            </li>
            {% elseif !pageData.isPro %}
                <li ng-class="{ active: currentEditorPanel == 'buy' }">
                    <a href="#" class="editor-buy-button"
                       ng-click="toggleEditorPanel('buy')"
                       role="button">
                    <span class="badge">
                        <i class="glyphicon glyphicon-globe"></i>
                    </span>
                        <span class="nav-item-text">
                            Passa a PRO
                        </span>
                    </a>
                </li>
            {% endif %}
        </ul>
        <ul class="nav navbar-nav navbar-right" style="margin-right:0px;">

            {#<li class="toggle-lighter hidden-md hidden-sm hidden-xs" ng-click="darkMode = false;">
              <a href="#" >
                <span class="badge" >
                  {= t('translation:editor.chiaro') =}
                </span>
              </a>
            </li>
            <li class="toggle-darker active hidden-md hidden-sm hidden-xs" ng-click="darkMode = true;">
              <a href="#" >
                <span class="badge" >
                  {= t('translation:editor.scuro') =}
                </span>
              </a>
            </li>#}

            <li class="toggle-desktop active hidden-md hidden-sm hidden-xs">
                <a href="#">
            <span class="badge">
              <i class="fa fa fa-desktop"></i>
            </span>
                </a>
            </li>
            <li class="toggle-pad hidden-md hidden-sm hidden-xs">
                <a href="#">
            <span class="badge">
              <i class="fa fa fa-tablet"></i>
            </span>
                </a>
            </li>
            <li class="toggle-phone hidden-md hidden-sm hidden-xs">
                <a href="#">
            <span class="badge">
              <i class="fa fa fa-mobile"></i>
            </span>
                </a>
            </li>
            <li class="dropdown hidden-sm hidden-xs">
                <a class="" href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                    <img class="nav-user-photo"
                         src="{= user.facebook.profile_picture =}"
                         alt="username">
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                    {#<li>
                      <a href="#">
                        <i class="fa fa-user margin-right-5"></i>
                        {= t('translation:editor.il_tuo_profilo') =}
                      </a>
                    </li>#}
                    {% if not is_tophost %}
                        <li>
                            <a href="/manager">
                                <i class="fa fa-list"></i>
                                {= t('translation:editor.manager') =}
                            </a>
                        </li>
                    {% endif %}
                    {# <li role="separator" class="divider"></li> #}
                    {% if is_tophost %}
                        <li>
                            <a href="/logout">
                <span class="pull-right">
                  <i class="fa fa-sign-out"></i>
                </span>
                                <span>{= t('translation:editor.logout') =}</span>
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </li>
        </ul>

        {# </div> #}
    </div>
</nav>
