{% set bannerImages = page|getBannerPictures %}
{% if bannerImages.length > 0 %}
    <div class="row">
        <div class="col-lg-12">
            <div class="topcover">
                {% include "../../__default/partials/banner-carousel.html" %}
            </div>
        </div>
    </div>
{% endif %}
