<div class="row">
    <div class="col-lg-12">
        <div class="display text-center">
            <h1>{% if page.configuration.settings.slogan.length>1 %}
                    {= page.configuration.settings.slogan =}
                {% else %}
                    {= page.configuration.settings.nome_sito||page.data.pageData.name =}
                {% endif %}</h1>
            <p class="lead">{= page.configuration.settings.profilo_aziendale | safe=}</p>
        </div>
    </div>
</div>
