<div class="row">
    <div class="col-xs-12">
        <div class="display text-center">
            <h2 class="section-title">{= page|getSectionTitle('contacts') =}</h2>
        </div>
    </div>
</div>



<div class="row">
    <div class="col-sm-12 col-md-5">
        <address>
            <h5>{= page.configuration.settings.nome_sito||page.data.pageData.name =}</h5>

            {% if page.configuration.settings.partita_iva %}
                <div class="vat-code address-line">{= t('template:footer.piva') =} {= page.configuration.settings.partita_iva =}</div>
            {% endif %}

            {% if page.data.pageData.location.city %}
                <div class="address address-line">{= page.data.pageData.location.street =}, {= page.data.pageData.location.city =}</div>
            {% endif %}

            {% if page.configuration.settings.phone %}
                <div class="phone address-line">{= t('template:footer.phone') =}:
                    <a href="tel:{= page.configuration.settings.phone =}">{= page.configuration.settings.phone =}</a></div>
            {% endif %}
        </address>
        {% include "../../__default/partials/contact/hours-full.html" %}

    </div>

    {% if page.configuration.settings.mail %}
        <div class="col-sm-12 col-md-7 ">
            <h5>Inviaci un messaggio</h5>
            <section class="section" id="contact-form" ng-controller="contactsCtrl" id="contact-form" ng-cloak>
                <form role="row form" ng-submit="sendContactForm()" name="contactForm" ng-hide="formSuccess">
                    <div class="form-group"
                         ng-class="{ 'text-danger': contactForm.email.$invalid && !contactForm.email.$pristine }">
                        <label for="InputEmail">{= t('template:contacts.email') =}</label>
                        <input class="form-control input-md" id="InputEmail"
                               placeholder="{= t('template:contacts.email') =}"
                               ng-model="contactFormData.email" required
                               type="email"
                               name="email">
                        <small class="text-danger" ng-show="contactForm.email.$invalid && !contactForm.email.$pristine">{= t('template:contacts.invalid_email') =}</small>
                    </div>

                    <div class="form-group">
                        <label for="InputName">{= t('template:contacts.firstname') =}</label>
                        <input class="form-control input-md" id="InputName"
                               placeholder="{= t('template:contacts.firstname') =}"
                               ng-model="contactFormData.firstname"
                               type="text"
                               name="firstname">
                    </div>

                    <div class="form-group">
                        <label for="InputSurname">{= t('template:contacts.lastname') =}</label>
                        <input class="form-control input-md" id="InputSurname"
                               placeholder="{= t('template:contacts.lastname') =}"
                               ng-model="contactFormData.lastname"
                               type="text"
                               name="lastname">
                    </div>

                    <div class="form-group" ng-class="{ 'text-danger': contactForm.message.$invalid && !contactForm.message.$pristine }">
                        <label for="message">{= t('template:contacts.message') =}</label>
                    <textarea class="form-control" rows="10"
                              placeholder="{= t('template:contacts.message') =}"
                              ng-model="contactFormData.message" required
                              name="message"></textarea>
                        <small class="text-danger" ng-show="contactForm.message.$invalid && !contactForm.message.$pristine">{= t('template:contacts.message_required') =}</small>
                    </div>

                    <div class="checkbox" ng-class="{ 'text-danger': contactForm.privacy.$invalid && !contactForm.privacy.$pristine }">
                        <label>
                            <input type="checkbox" name="privacy"
                                   ng-model="contactFormData.privacy" required
                                    >
                            <span ng-model="contactFormData.privacy" >{= t('template:contacts.privacy') =}</span>
                        </label>
                    </div>

                    <div class="form-group">
                        <label for="InputCaptcha"><img src="/captcha.png" alt="captcha"></label>
                        <input class="form-control input-md" id="InputCaptcha"
                               placeholder="Inserisci il codice"
                               ng-model="contactFormData.captcha_result"
                               name="captcha_result">
                    </div>

                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-primary btn-xl" ng-disabled="contactForm.$invalid || sending">{= t('template:contacts.send') =}</button>
                    </div>
                </form>

                <div class="form-messages" ng-cloak>
                    <div class="alert alert-success" role="alert" ng-show="formSuccess">{= t('template:contacts.message_success') =}</div>
                    <div class="alert alert-danger" role="alert" ng-show="formError">{= t('template:contacts.message_error') =}</div>
                </div>
            </section>
        </div>
    {% endif %}
</div>
