<div id="footer" class="row">
    <div class="col-lg-12">
        <hr>
    </div>
    <div class="col-md-4 col-xs-12" id="company_info">
        {% include "../../__default/partials/footer/address.html" %}

        <div class="fb-like" data-href="{= page.data.pageData.link =}" data-colorscheme="light" data-width="90" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>

        {% include "../../__default/partials/footer/hours-small.html" %}
    </div>
    <div class="col-xs-12 col-md-4" id="footer-nav-links">
        <ul class="list">
            {% for index,item in page.configuration.settings.menu %}
                {% if item.active %}
                    <li>
                        <a class="navbar-nav-link" href="/{= item|getItemSlug =}">
                            <span class="nav-label">{= item.label =}</span>
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>

    <div class="col-xs-12 col-md-4 text-center" id="company_social_links">
        <ul class="list-inline">
            {% include "../../__default/partials/footer/social-links.html" %}
        </ul>
    </div>
    <div class="clearfix"></div>
    <div class="col-xs-12 text-left" id="credits">
        {% include "../../__default/partials/footer/credits.html" %}
    </div>

</div>
