<header class="navbar navbar-fixed-top" role="banner">
    <div class="container">
        <div class="navbar-header">
            <button class="btn btn-navbar navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".collapse">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand sitename" href="/"><img class="brand-img fadeimage lazy" src="{= page|getProfilePicture =}" alt="{= page.configuration.settings.nome_sito||page.data.pageData.name =}"></a>
        </div>
        <nav class="sitenav collapse navbar-collapse bs-navbar-collapse" role="navigation" id="navbar-collapse" >
            <ul class="nav navbar-nav">
                {% for index,item in page.configuration.settings.menu %}
                    {% if item.active %}
                        <li{% if slug and slug == item|getItemSlug or slug == item['id'] %} class="active"{% endif %}>
                            <a class="navbar-nav-link" href="/{= item|getItemSlug =}">
                                <span class="nav-label">{= item.label =}</span>
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="text-center hidden-xs hidden-sm">
                    <a href="{= page.data.pageData.link =}" rel="publisher" target="_blank" class="company_social_link navbar-nav-link"><i class="f fa fa-facebook-square"></i></a>
                </li>
                {% if page.configuration.settings.social.twitter %}
                    <li class="text-center hidden-xs hidden-sm">
                        <a href="{= page.configuration.settings.social.twitter =}" rel="publisher" target="_blank" class="company_social_link navbar-nav-link"><i class="twitter fa fa-twitter-square"></i></a>
                    </li>
                {% endif %}
                {% if page.configuration.settings.social.vimeo %}
                    <li class="text-center hidden-xs hidden-sm">
                        <a href="{= page.configuration.settings.social.vimeo =}" rel="publisher" target="_blank" class="company_social_link navbar-nav-link"><i class="vimeo fa fa-vimeo-square"></i></a>
                    </li>
                {% endif %}
                {% if page.configuration.settings.social.youtube %}
                    <li class="text-center hidden-xs hidden-sm">
                        <a href="{= page.configuration.settings.social.youtube =}" rel="publisher" target="_blank" class="company_social_link navbar-nav-link"><i class="youtube fa fa-youtube-play"></i></a>
                    </li>
                {% endif %}
                {% if page.configuration.settings.social.skype %}
                    <li class="text-center hidden-xs hidden-sm">
                        <a href="skype:{= page.configuration.settings.social.skype =}" rel="publisher" target="_blank" class="company_social_link navbar-nav-link"><i class="skype fa fa-skype"></i></a>
                    </li>
                {% endif %}
                {% if page.configuration.settings.social.pinterest %}
                    <li class="text-center hidden-xs hidden-sm">
                        <a href="{= page.configuration.settings.social.pinterest =}" rel="publisher" target="_blank" class="company_social_link navbar-nav-link"><i class="pinterest fa fa-pinterest-square"></i></a>
                    </li>
                {% endif %}
                {% if page.configuration.settings.social.instagram %}
                    <li class="text-center hidden-xs hidden-sm">
                        <a href="{= page.configuration.settings.social.instagram =}" rel="publisher" target="_blank" class="company_social_link navbar-nav-link"><i class="instagram fa fa-instagram"></i></a>
                    </li>
                {% endif %}
                {% if page.configuration.settings.social.tripadvisor %}
                    <li class="text-center hidden-xs hidden-sm">
                        <a href="{= page.configuration.settings.social.tripadvisor =}" rel="publisher" target="_blank" class="company_social_link navbar-nav-link"><i class="tripadvisor fa fa-tripadvisor"></i></a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
</header>

