{% set loop_posts = page.albums %}
{% set layoutColumns = albums_columns %}
{% set kindOfPost = 'album' %}

{% import "../../__default/partials/loop-macros.html" as macros %}

<div class="row">
    <div class="col-lg-12">
        <div class="display text-center">
            <h2>{= page|getSectionTitle('albums') =}</h2>

        </div>
    </div>
</div>
{% if loop_posts.length %}
    {% for post in loop_posts %}
        {% if loop.first or (loop.index - 1) % layoutColumns == 0 %}
            <div class="row posts-loop loop-albums">
        {% endif %}

        <div class="post-column {= layoutColumns|generateBootstrapColumn('md') =}" show-hide show-hide-id="{= post.id =}" show-hide-type-of-post="{= kindOfPost =}">
            <a href="{= post|getPostUrl(kindOfPost) =}" title="{= post.title|addslashes =}">
                <div class="thumbnail" style="background-image:url('{= post.cover_image =}');"></div>

                <h6 class="image-caption text-center">{= post.title|truncateText(30) =}</h6>
            </a>
        </div>

        {% if loop.last or (loop.index - 1) % layoutColumns == layoutColumns-1 %}
            <div class="clearfix"></div>
        </div>
        {% endif %}
    {% endfor %}

    <div class="row">
        {= macros.pagination(isHome, active, prev_page, next_page, pages) =}
    </div>
{% elif not isHome%}
    <div class="row posts-loop loop-events">
        <p style="text-align: center">Non ci sono elementi in questa sezione.</p>
        <div class="clearfix"></div>
    </div>
{% endif %}
