{% set loop_posts = page.events %}
{% set layoutColumns = events_columns %}
{% set kindOfPost = 'event' %}

{% import "../../__default/partials/loop-macros.html" as macros %}


<div class="row">
    <div class="col-lg-12">
        <div class="display text-center">
            <h2>{= page|getSectionTitle('events') =}</h2>
        </div>
    </div>
</div>

{% if page.events.length %}
    {% for post in loop_posts %}
        {% if loop.first or (loop.index - 1) % layoutColumns == 0 %}
            <div class="row posts-loop loop-events">
        {% endif %}
            <div class="post-column {= layoutColumns|generateBootstrapColumn('md') =}" show-hide show-hide-id="{= post.id =}" show-hide-type-of-post="{= kindOfPost =}">
                <div class="row">
                    {# Image #}
                    <div class="    col-sm-{= ([isHome, layoutColumns, kindOfPost]|elementsGridColumns).colSmImg  =}
                                    col-md-{= ([isHome, layoutColumns, kindOfPost]|elementsGridColumns).colMdImg =}
                                    {% if layoutColumns < 3 %}
                                        col-sm-push-{= ([isHome, layoutColumns, kindOfPost]|elementsGridColumns).colSmContent  =}
                                        col-md-push-{= ([isHome, layoutColumns, kindOfPost]|elementsGridColumns).colMdContent =}
                                    {% endif %}
                        ">
                        <a href="{= post|getPostUrl(kindOfPost) =}">
                            <div class="dynamic-height thumbnail" style="
                                background-image:url('{= post.cover_image.source =}');
                                background-position: center center;
                                {% if post.cover_image.is_fallback %}opacity: 0.3;{% endif %}
                                background-size:cover;
                                min-height:190px;
                                width:100%"></div>
                        </a>
                    </div>
                    {# Text #}
                    <div class="col-sm-{= ([isHome, layoutColumns, kindOfPost]|elementsGridColumns).colSmContent  =} col-md-{= ([isHome, layoutColumns, kindOfPost]|elementsGridColumns).colMdContent =}
                        {% if layoutColumns < 3 %}
                            col-sm-pull-{= ([isHome, layoutColumns, kindOfPost]|elementsGridColumns).colSmImg  =}
                            col-md-pull-{= ([isHome, layoutColumns, kindOfPost]|elementsGridColumns).colMdImg =}
                        {% endif %}">
                        <h6>{= post.title|truncateText(60) =}</h6>
                        {% if post.start_time %}
                            <div class="text-muted"><small><i class="glyphicon glyphicon-time"></i> {= post|displayTimeEvent("short") =}</small></div>
                        {% endif %}
                        <p>{= post.description|truncateText(70) =}
                            <br><a href="{= post|getPostUrl(kindOfPost) =}">{= t('template:navigation.events.more_info') =} <i class="fa fa-long-arrow-right"></i></a>
                        </p>
                    </div>
                </div>
            </div>

        {% if loop.last or (loop.index - 1) % layoutColumns == layoutColumns-1 %}
                <div class="clearfix"></div>
            </div>
        {% endif %}
    {% endfor %}

    <div class="row">
        {= macros.pagination(isHome, active, prev_page, next_page, pages) =}
    </div>
{% else %}
        <div class="row posts-loop loop-events">
            <p style="text-align: center">Non ci sono elementi in questa sezione.</p>
            <div class="clearfix"></div>
        </div>
{% endif %}
