{% if photos %}
    <div class="row">
        {% for photo in photos %}
            <div class="col-sm-3">
                <a class="imagelightbox" rel="extra_images" data-caption="{= photo.description =}" title="{= photo.title|truncateText(100) =}" href="{= photo.source =}">
                    <div class="mg3" style="background-image:url('{= photo.source =}'); background-position: center center; background-size:cover; padding-bottom: 100%; width:100%"></div>
                </a>
            </div>

        {% endfor %}
        <div class="clearfix"></div>
    </div>
{% endif %}
