{% if isStore %}
    {% include "../../__default/partials/store-body-layout-sidebar.html"%}
    {% include "../../__default/partials/store-body.html"%}
    {% set layoutColumns = columns %}
    {% set kindOfPost = 'news' %}

    <!-- Products Grid -->
    <script type="text/template" class="products-grid-template">
        <% var i = 0; %>
        <% if( Object.keys(_oData.currentProductCollection).length < 1) { %>
        <div class="col-xs-12 col-sm-12">
            <div class="alert alert-warning ">
                {= t('template:store.no_products_alert') =}
            </div>
        </div>
        <% } else { %>
        <% _.each( _oData.currentProductCollection, function( listItem ){
        productUrl = "#/product/uid-" + listItem.index + "/" + listItem.slug;
        productImg = _.get(listItem, "thumbPath.src", false); %>
        <li data-productindex="<%- listItem.index %>" class="product-item {= layoutColumns|generateBootstrapColumn('md') =}">
            <div class="post-column">
                <% if(productImg){ %>
                <div class="row">
                    {# Image #}
                    <div class="col-sm-{= ([isHome, layoutColumns, kindOfPost]|elementsGridColumns).colSmImg  =} col-md-{= ([isHome, layoutColumns, kindOfPost]|elementsGridColumns).colMdImg =}
                                        {% if layoutColumns < 3 %}
                                            col-sm-push-{= ([isHome, layoutColumns, kindOfPost]|elementsGridColumns).colSmContent  =}
                                            col-md-push-{= ([isHome, layoutColumns, kindOfPost]|elementsGridColumns).colMdContent =}
                                        {% endif %}">
                        <a data-productindex="<%- listItem.index %>" href="<%- productUrl %>"
                           class="product-id-<%- listItem.index %> product-link">
                            <div class="dynamic-height thumbnail"
                                 style="background-image:url('<%- productImg %>'); background-position: center center; background-size:cover;"></div>
                        </a>
                    </div>
                    {# Text #}
                    <div class="col-sm-{= ([isHome, layoutColumns, kindOfPost]|elementsGridColumns).colSmContent  =} col-md-{= ([isHome, layoutColumns, kindOfPost]|elementsGridColumns).colMdContent =}
                                        {% if layoutColumns < 3 %}
                                            col-sm-pull-{= ([isHome, layoutColumns, kindOfPost]|elementsGridColumns).colSmImg  =}
                                            col-md-pull-{= ([isHome, layoutColumns, kindOfPost]|elementsGridColumns).colMdImg =}
                                        {% endif %}">
                        <a data-productindex="<%- listItem.index %>" href="<%- productUrl %>"
                           class="product-id-<%- listItem.index %> product-link">
                            <h6><%- listItem.name %></h6>
                        </a>
                        <p>{= t('template:store.price') =}: <%- listItem.formattedPrice %>
                            <br>
                            <a data-productindex="<%- listItem.index %>" href="<%- productUrl %>" class="product-id-<%- listItem.index %> product-link">
                                {= t('template:store.read_details') =}
                            </a>
                        </p>
                    </div>
                </div>
                <% } else { %>
                <h6><%- listItem.name %></h6>
                <p>{= t('template:store.price') =}: <%- listItem.formattedPrice %>
                    <br>
                    <a data-productindex="<%- listItem.index %>" href="<%- productUrl %>" class="product-id-<%- listItem.index %> product-link">
                        {= t('template:store.read_details') =}
                    </a>
                </p>
                <% } %>
            </div>
        </li>
        <% if(i % {= layoutColumns=} == {= layoutColumns=}-1) { %> <div class="clearfix"></div><% } %>
        <% i++; %>
        <% }); }; %>
    </script>
    <!-- /Products Grid -->
{% endif %}
