{% extends "../layouts/master.html" %}
{% block content %}

	<section class="section single-detail-page" id="loop-albums">
		<div class="container">
			<div class="row">

				{% include "../../__default/partials/page-intro.html" %}

				{% include "../../__default/partials/album-detail-content.html" %} 

			</div>
		</div>
	</section>

{% endblock %}
