{% extends "../layouts/master.html" %}
{% block content %}

		{# {% include "../../__default/partials/banner-slide.html" %} #}
		
		<section class="section loop" id="loop-albums">
			<div class="container">
				<div class="row">
					{% include "../../__default/partials/page-intro.html" %}
				</div>

				{% if photos %}
					{# {= album|json(2) =} #}
					{% include "../partials/loop-single-album.html" %}
				{% endif %}

			</div>
		</section>
		
{% endblock %}
