{% extends "../layouts/master.html" %}
{% block content %}

	{# <pre>{= postData|json(2) =}</pre> #}

	<section class="section single-detail-page" id="loop-news">
		<div class="container">
			<div class="row">

				{% include "../../__default/partials/page-intro.html" %}

				{% include "../../__default/partials/news-detail-content.html" %} 

			</div>
		</div>
	</section>

{% endblock %}
