 /* header pagine interne */

 #page-header{
 	h1, h2, h3, h4, h5, h6{
 		color: @mjk_advantages_h_titles;
 		font-weight: 700;
 		text-shadow: 1px 1px darken(@mjk_banner_h_titles, 30%) !important;
 	}

 	.lead{
 		margin-bottom: @padding-vertical-contents / 2;
 		font-weight: 400;
 	}
 }

/* Stili banner home */

.carousel,
.item,
.active {
    height: 100% !important;
}

.carousel-inner {
    height: 100% !important;
}

/* Background images are set within the HTML using inline CSS, not here */

.fill {
    width: 100% !important;
    height: 100% !important;
    background-position: center ;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-position:center;
    background-attachment: fixed;
    box-shadow:inset 0px 0px 300px #000;
    opacity: 0.4;
    filter: alpha(opacity=40); /* For IE8 and earlier */
}

#banner{
	// overflow-y: hidden;
	height: 100% !important;
	position: relative !important;
	// border-bottom: 0px;
	// background-color: #8BB6D0;
	color: @mjk_banner_txt;
	text-align: @align-right;
	padding-top: 0px;
	padding-bottom: 0px;
	border-bottom: 0px;

	.carousel-caption{

		.banner-sx{
			margin-top: -5%;
			text-align: @align-left;
		}
		p{
			strong{
				color: #8bb6d0;
				font-size: @font-size-large;
				font-weight: normal;
			}
		}
		top: 30%;
		left: 0px;
		right: 0px;
	}

	h1, h2, h3, h4, h5, h6{
		color: @mjk_banner_h_titles;
		font-size: 25px;
		font-weight: 700;
		text-shadow: 1px 1px darken(@mjk_banner_h_titles, 50%);
	}

	a{
		// color: @mjk_banner_link;
	}

	.lead{
		font-size: 50px;
		line-height: 100%;
		font-weight: 400;
	}

	.btn-default{
		color: @mjk_banner_link;
		background-color: @mjk_banner;
		border-color: @mjk_banner_link;
		font-weight: 700;
	}
	.btn-primary{
		margin-top: @padding-vertical-contents / 2;
		color: @mjk_banner;
		background-color: @mjk_banner_link;
		border-color: @mjk_banner_link;
		font-weight: 700;

		box-shadow: 0px 6px 0px 0px darken(@mjk_banner_link, 10%);
		text-shadow: -1px -1px darken(@mjk_banner_h_titles, 10%);
	}
	.btn-primary:hover{
		background-color: darken(@mjk_banner_link, 5%);
		box-shadow: 0px 6px 0px 0px darken(@mjk_banner_link, 15%);
		text-shadow: -1px -1px darken(@mjk_banner_h_titles, 15%);
	}
	// .btn-primary:active{
	// 	background-color: darken(@mjk_banner_link, 5%);
	// 	box-shadow: 0px 6px 0px 0px darken(@mjk_banner_link, 15%);
	// 	text-shadow: -1px -1px darken(@mjk_banner_h_titles, 15%);
	// }
	.icon-prev, .icon-next{
		background-color: @mjk_banner_link;
		border-radius: 50%;
	}
	
	.offer{
		width: 100%;
		position: absolute;
		z-index: 200;
		background-color: #ccc;
		bottom: 0px;
		text-align: @align-center;
		padding: 10px;

		h4{
			text-shadow: none;
			color: #999;
		}
	}
}

.see-more{
	.goto{
		.glyphicon{
			line-height: 40px;
			font-size: 30px;
			color: #FFF;
			opacity: 0.4;
	    	filter: alpha(opacity=40); /* For IE8 and earlier */
		}
		width: 40px;
		height: 40px;
		margin: auto;
		display: block;
	}
	text-align: @align-center;
	position: absolute;
	bottom: 20px;
	width: 100%;
	z-index: 99999999;
}

// .pics_carousel{
// 	.carousel-caption{
// 		display: inline-block;
// 		vertical-align: middle;
// 		background-color: #ccc;
// 	}

// }

.browser-window{
	margin-top: -10%;
	border-top-left-radius: @border-radius-base;
	border-top-right-radius: @border-radius-base;
	box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.6);

	.browser {
	    padding: 6px 5px;
	    background-color: rgba(255, 255, 255, 0.6);
	    overflow: auto;
	    border-top-left-radius: @border-radius-base;
	    border-top-right-radius: @border-radius-base;

	    .browser-button{
	    	float: left;
	    	margin-left: 5px;
	    	display: block;
	    	background: @gray-light;
	    	width: 10px;
	    	height: 10px;
	    	border-radius: 5px;
	    	-moz-border-radius: 5px;
	    	-webkit-border-radius: 5px;
	    	-ms-border-radius: 5px;
	    	-o-border-radius: 5px;
	    	box-shadow: inset 1px 1px 1px 1px darken(@gray-light, 10%);
	    }
	    .r {
	        .browser-button;
	        //background:#F00;
	    }
	    .y {
	    	.browser-button;
	    	//background: #FC0;
	    }
	    .g {
	    	.browser-button;
	        //background: #6C0;
	    }
	 
	}

}

.mobile-window{
	position: absolute;
	// height: 100%;
	bottom: 48%;
	left: -100px;
	width: 200px;
	padding: 15px 10px;
	background-color: rgba(255, 255, 255, 0.6);
	border-radius: @border-radius-large;
	box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.6);

	.speaker{
		margin: auto;
		width: 50px;
		height: 5px;
		background-color: @gray-light;
		border-radius: 5px;
		margin-bottom: 15px;
	}
}

#page-header{
	padding-top: @height-navbar * 1.5;
	padding-bottom: @height-navbar / 1.5;

	background-position: center ;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow:inset 0px 0px 300px #000;
    border-bottom: 0px;
    // opacity: 0.4;
    // filter: alpha(opacity=40); 

    .bg{
    	opacity: 0.4;
    	filter: alpha(opacity=40); 
    }

	.container{
		h1, h2, h3, h4, h5, h6{
			color: @mjk_advantages_h_titles;
			font-weight: 400;
			text-shadow: 1px 1px darken(@mjk_advantages_h_titles, 5%);
		}
		opacity: 1;
		filter: alpha(opacity=100);
	}
	height: auto;
	text-align: @align-center;
	background-color: #333;
}

@media (max-width: @screen-lg){
	#banner{
		.mobile-window{
			bottom: 37%;
		}
	}
}

@media (max-width: @screen-md){
	#banner{
		h1, h2, h3, h4, h5, h6{
			color: @mjk_banner_h_titles;
			font-size: 18px;
			font-weight: 700;
		}
		.lead{
			font-size: 35px;
			line-height: 100%;
			margin-bottom: 20px;
		}
		.mobile-window{
			bottom: 17%;
		}
	}
}

@media (max-width: @screen-tablet){
	#banner{
		.carousel-caption{
			.banner-sx{
				text-align: @align-center;
				margin-top: 0%;
			}

			h1, h2, h3, h4, h5, h6{
				color: @mjk_banner_h_titles;
				// font-size: 20px;
				font-weight: 700;
			}
			.lead{
				// font-size: 25px;
				line-height: 100%;
				margin-bottom: 20px;
				background-color: transparent;
			}

			.btn{
				margin-top: 10px;
				margin-bottom: 35px;
			}
			// top: @height-navbar * 1.5 !important;
			// bottom: 0px;
			overflow: hidden;
			top: 30%;
			margin-top: -10%;
		}
	}
	.browser-window{
		margin-top: 0px;
	}
	.mobile-window{
		display: none;
	}
}

@media (max-width: @screen-phone){
	#banner, .pics_carousel{
		.carousel-caption{
			.banner-sx{
				text-align: @align-center;
				margin-top: 0%;
			}
			h1, h2, h3, h4, h5, h6{
				color: @mjk_banner_h_titles;
				font-size: 20px;
				font-weight: 700;
			}
			.lead{
				font-size: 30px;
				line-height: 100%;
				margin-bottom: 20px;
				background-color: transparent;
			}

			.btn{
				margin-top: 10px;
				margin-bottom: 35px;
			}
			top: @height-navbar * 1.2 !important;
			bottom: 0px;
			overflow: hidden;
			top: 30%;
			margin-top: -10%;
		}
		.pic-carousel-caption{
			bottom:0px;
			top: 30% !important;
		}
	}
	.browser-window{
		margin-top: 0px;
	}
	.mobile-window{
		display: none;
	}
}
