#footer{
	background-color: @mjk_footer;
	color: @mjk_footer_txt;
	padding-bottom: @padding-none;
	border-bottom:none;

	h1, h2, h3, h4, h5, h6{
		color: @mjk_footer_link;
		font-size: @font-size-base;
	}

	a{
		color: @mjk_footer_txt;
	}
	a:hover{
			color: @mjk_footer_link;
	}
	.btn-default{
		color: @mjk_footer_link;
		background-color: @mjk_footer;
		border-color: @mjk_footer_link;
	}
	.btn-primary{
		color: @mjk_footer;
		background-color: @mjk_footer_link;
		border-color: @mjk_footer_link;
	}
	#footer-nav{
		.glyphicon{
			color: @mjk_footer_link;
		}

	}
	.social-links-tab{
		#social-links{
			font-size: @font-size-large;
		}
		text-align: @align-right;
	}
	#copyrights{
		background-color: darken(@mjk_footer, 5%);
		color: darken(@mjk_footer_txt, 20%);
		margin-top: @padding-vertical-contents;
		padding-top: 30px;
		padding-bottom: 30px;
		// text-align: @align-right;

		#copyright{
			text-align: @align-left;
		}
		#legals{
			text-align: @align-right
		}
	}
	phone a{
		color: #8bb6d0;
	}
}

.fb-page{
	width: 100%;
}

@media (max-width: @screen-phone){
	#footer{
		.social-links-tab{
			margin-top: 15px;
			text-align: @align-center !important;
		}
		#copyrights{
			#copyright{
				text-align: @align-center;
			}
			#legals{
				text-align: @align-center
			}
			// text-align: @align-center !important;

		}
	}

}
