#brand-majeeko{
	.st0{fill:#FFFFFF;}
	.st1{fill:#F7982C;}
	transition: all 0.6s ease;
	// background-color: #ccc;
}

#main-nav-landing{
	// background-color: @mjk_main_nav;
	// color: @mjk_main_nav_txt;
	background-color: transparent !important;
	padding-top: 0px;
	padding-bottom: 0px;
	border-bottom: 0px;
	position: absolute;
	width: 100%;
	// z-index: 999999;
	border:0px;

	.navbar-header{
		.navbar-brand{
			img, svg, #brand-majeeko{
				margin: 0px auto;
				height: @height-navbar / 2;
				width: 127px;
				// background-color: #D90000 !important;
			}
			float: none;
			text-align: center;
			display: block;
			margin-top: 20px;
		}
		float: none;
		text-align: center;
	}
	.fa-facebook{
		color: #FFF !important;
	}
}

#main-nav{
	margin-bottom: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	

	// background-color: @mjk_main_nav;
	background-color: rgba(255, 255, 255, 0.1);
	// height: @height-navbar;
	color: @mjk_main_nav_txt;
	// position: absolute;
	width: 100%;
	// z-index: 999999;
	border:0px;
	border-bottom: 1px solid ;
	border-bottom-color: rgba(255, 255, 255, 0.2) ;

	.container{
        // background-color: #ccc;

		.navbar-header{
			.navbar-brand{
				// height: @height-navbar / 2;
				// width: auto;
				// background-color: #ccc;
				// background-image: url("img/cioce.png");
				background-position: center; 
				height: @height-navbar / 2;
				width: 127px;
				padding: 0px 10px 0px 10px;
	            //width: @height-navbar / 2;
	            display: block;
				margin-top: @height-navbar / 6;
  				margin-bottom: @height-navbar / 6;
  				// background-color: #999;

				img, #brand-majeeko{
					margin: 0px auto;
					height: @height-navbar / 2;
	                width: auto;
	                // background-color: #D90000 !important;
				}
			}
			// float: none;
			// text-align: center;
		}
		.nav{
			li{
				a{
					font-weight: 400;
					line-height: @height-navbar / 2;
					color: #FFF;
					// background-color: #666;
					padding: 0px @height-navbar / 8;
					margin-top: @height-navbar / 6;
  					margin-bottom: @height-navbar / 6;
					// margin-top: 20px;
				}
				a:hover{
					color: #FFF;
				}
				.dropdown-menu{
					text-align:  @align-center;
					li{
						a{
							margin: 0px 0px 0px 0px;
						}
						a:hover{
							background-color: rgba(255, 255, 255, 0.2);
						}
					}
					background-color: rgba(255, 255, 255, 0.6);
					margin-top: 2px;
					padding: 0px 0px;
				}
				.login{
					line-height: @height-navbar / 2;
					background-color: @brand-facebook;
					border: 1px solid lighten(@brand-facebook, 10%);
					color: lighten(@brand-facebook, 60%);
					margin-left: @height-navbar / 8;
					padding: 0px;
					border-radius: @border-radius-small;

					.fa{
						padding: @height-navbar / 8 @height-navbar / 6;
						// padding-right: @height-navbar / 6;
						border-right: 1px solid lighten(@brand-facebook, 10%);
					}
					.text{
						padding: @height-navbar / 8 @height-navbar / 6;
						// padding: 0px @height-navbar / 4;
						// padding-left: @height-navbar / 8;
						// border-right: 1px solid rgba(0, 0, 0, 0.2);
					}
				}
			}
		}	
		.navbar-form{
			margin-top: @height-navbar / 6;
  			margin-bottom: @height-navbar / 6;
  			background-color: #999;

			.btn{
				// line-height: @height-navbar / 2;
				// padding: 0px @height-navbar / 8;
			}
		}

	}
	.fa-facebook{
		color: #FFF !important;
	}
	transition: all 0.6s ease;
}

.shrink{
	background-color: #FFF !important;
	border-bottom-color: #ccc !important;
		
		// .navbar-brand{
		// 	img{
		// 		fill: #333 !important;
		// 	}
		// }

		.nav{
			li{
				a{
					color: #999 !important;
				}
				.login{
					color: #FFF !important;
				}
			}
			.dropdown-menu{
				li{
					a{
						// margin: 0px 0px 0px 0px;
					}
					a:hover{
						// background-color: rgba(255, 255, 255, 0.2);
					}
				}
				background-color: #FFF !important;
			}
		}
}

@media (max-width: @screen-tablet){
	.navbar-brand{
		height: @height-navbar / 2;
		// width: 127px;
		width: 100% !important;
		display: block;
		// margin: auto !important;

		img, svg, #brand-majeeko{
			margin: auto !important;
		}
	}
}

@media (max-width: @screen-phone){
	.navbar-brand{
		height: @height-navbar / 2;
		// width: 127px;
		width: 100% !important;
		display: block;
		// margin: auto !important;

		img, svg, #brand-majeeko{
			margin: auto !important;
		}
	}
}
