/* -------------------------------------------------------------- CENTRED MODAL */

.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

/* -------------------------------------------------------------- MODAL CONTENT */

.modal-content{
	.modal-header{
		background-color: @mjk_pricing;
		color: #FFF;
		small{
			color: #FFF;
		}
		.modal-title{
			line-height: 100%;
		}
	}
	.modal-body{
		h1, h2, h3, h4, h5, h6{
			color: @mjk_overview_h_titles;
			font-weight: 100;
			text-shadow: 1px 1px lighten(@mjk_overview, 20%);
		}
	}
	.modal-footer{
		// background-color: @mjk_pricing;
		// color: #FFF;
	}
	.btn-default{
			border-color: lighten(@mjk_advantages, 10%);
			color: lighten(@mjk_advantages, 10%)
		}
	:hover.btn-default{
		background-color: lighten(@mjk_advantages, 10%);
		border-color: lighten(@mjk_advantages, 10%);
		color: #FFF;
	}
	.btn-primary{
		// margin-top: @padding-vertical-contents / 2;
		color: @mjk_banner;
		background-color: @mjk_banner_link;
		border-color: @mjk_banner_link;
		font-weight: 700;
		// box-shadow: 0px 6px 0px 0px darken(@mjk_banner_link, 10%);
		text-shadow: -1px -1px darken(@mjk_banner_h_titles, 10%);
	}
	border-radius: @squared-corners;
}

/* -------------------------------------------------------------- MODAL CONTENT */

.coupon{
	color: #333;
	font-size: @font-size-large;
}

#leaveModal, #loginModal{
	.modal-content{
		.modal-header{
			.close{
				margin-top: -18px;
			}
			#bunny{
				padding-bottom: 15px;
			}
			background-color: @mjk_pricing;
			background: radial-gradient(circle, lighten(@mjk_pricing, 20%), darken(@mjk_pricing, 5%));
			color: #FFF;
			padding-top: 30px;
			padding-bottom: 30px;
		}
		.modal-body{
			// background-color: @mjk_pricing;
			// color: #FFF;
		}
		.modal-footer{
			// background-color: @mjk_pricing;
			// color: #FFF;
			text-align: @align-center !important;
		}
		text-align: @align-center !important;
	}
	.login{
		line-height: @height-navbar / 2;
		background-color: @brand-facebook;
		border: 1px solid lighten(@brand-facebook, 10%);
		color: lighten(@brand-facebook, 60%);
		// margin-left: @height-navbar / 8;
		padding: 0px;
		border-radius: @border-radius-small;
		margin-bottom: 30px;

		.fa{
			padding: @height-navbar / 8 @height-navbar / 6;
			// padding-right: @height-navbar / 6;
			border-right: 1px solid lighten(@brand-facebook, 10%);
		}
		.text{
			padding: @height-navbar / 8 @height-navbar / 6;
			// padding: 0px @height-navbar / 4;
			// padding-left: @height-navbar / 8;
			// border-right: 1px solid rgba(0, 0, 0, 0.2);
		}
	}
}

@media (max-width: @screen-phone){
	#leaveModal, #loginModal{
		// .close{
		// 	margin-top: -18px;
		// }
		.lead{
			font-weight: 400;
		}
	}
}
