.overview{
	background-color: lighten(@mjk_overview, 30%);
	color: @mjk_overview_txt;
	text-align: @align-center;
	border-bottom: 0px;
	overflow: hidden;


	h1, h2, h3, h4, h5, h6{
		color: @mjk_overview_h_titles;
		font-weight: 100;
		text-shadow: 1px 1px lighten(@mjk_overview, 20%);
	}

	.btn{
		margin-top: 30px;
	}

	// .form-control, .input-group-addon{
	// 	background-color: lighten(@mjk_video, 10%);
	// 	border-color: darken(@mjk_video, 5%);
	// 	color: lighten(@mjk_video, 30%)
	// }

	// .btn-primary{
	// 	border-radius: @squared-corners;
	// 	color: lighten(@mjk_video, 10%);
	// 	background-color: darken(@mjk_video, 10%);
	// 	border-color: darken(@mjk_video, 10%);
	// }

	.img-responsive{
		background-color: lighten(@mjk_overview, 25%);
		padding: 10px;
	}
}

.overview-left{
	float: left;
}
.overview-right{
	float: right;
}

@media (max-width: @screen-phone){
	.overview-left{
		float: none;
	}
	.overview-right{
		float: none;
	}
	.btn{
		margin-bottom: 30px;
	}
}
