.glyphicon-ok{
	color: green;
}
.glyphicon-remove{
	color: red;
}

#pricing{
	background-color: @mjk_pricing;
	color: @mjk_pricing_txt;
	text-align: @align-center;
	border-bottom: 0px;
	background: radial-gradient(circle, lighten(@mjk_pricing, 10%), darken(@mjk_pricing, 5%));

	h1, h2, h3, h4, h5, h6{
		color: lighten(@mjk_pricing, 100%);
		font-weight: 100;
		text-shadow: 1px 2px darken(@mjk_banner_link, 5%);
	}

	.lead{
		margin-bottom: @padding-vertical-contents;
		ont-weight: 400;
		// line-height: 100%;
		// font-weight: 100;
	}

	a{
		color: @mjk_pricing_link;
	}

	.btn-default{
		// color: @mjk_banner_link;
		// background-color: @mjk_banner;
		// border-color: @mjk_banner_link;
		// font-weight: 700;
	}
	.btn-primary{
		border-radius: @squared-corners;
		color: lighten(@mjk_pricing, 30%);
		background-color: darken(@mjk_pricing, 10%);
		border-color: darken(@mjk_pricing, 10%);
		
		box-shadow: 0px 6px 0px 0px darken(@mjk_pricing, 15%);
		text-shadow: -1px -1px darken(@mjk_pricing, 20%);
		margin-bottom: 6px;
	}

	.price-panel {
		text-align: left;
		border-radius: @squared-corners;
	    position: relative;
	    overflow: hidden;
	    font-weight: 100;
	    border:none;
	    // box-shadow: 0px 6px 0px 0px darken(@mjk_banner_link, 5%);

	    .panel-heading, .panel-body, .panel-footer{
	    	background-color: lighten(@mjk_pricing, 40%);
	    	// line-height: 100%;
	    }
	    .panel-heading{
	    	padding-bottom: 0px;
	    	text-align: center;
	    	border:none;
	    }
	    .panel-body{
	    	padding-top: 0px;
	    	text-align: center;
	    	// line-height: 100%;
	    }
	    .panel-footer{
	    	padding: 0px;
	    }

	    .badge{
	    	background-color: transparent;
        	padding: 0px 0px;
        	color: @mjk_pricing;
			// font-size: @font-size-sm;
	    }

	    .plan{
	    	font-weight: 700;
	    	color: darken(@mjk_pricing, 25%);
	    }
	    .value{
	    	font-size: 50px;
	    	font-weight: 100;
	    	color: darken(@mjk_pricing, 25%);
	    }
	    .price{
	    	margin-bottom: 0px;
	    }
	    .glyphicon-ok{
	            // color: @status-synced ;

	        }
	    .glyphicon-remove{
	            // color: @status-unsynced ;
	        }

		.recommended-graphic {
		    text-align: center;
		    background-color: @mjk_advantages;
		    color: #FFF;
		    position: absolute;
		    z-index: 100;
		    transform: rotate(-45deg);
		    -webkit-transform: rotate(-45deg);
		    -moz-transform: rotate(-45deg);
		    -ns-transform: rotate(-45deg);
		    -o-transform: rotate(-45deg);
		    width: 190px;
		    top: 26px;
		    left: -54px;
		    border-left: 45px solid transparent;
		    border-right: 45px solid transparent;
		    line-height: @font-size-small * 2;
		    text-transform: uppercase;
		    font-size: @font-size-small;
		    font-weight: bold;
		    // box-shadow: 1px 1px 4px 0px darken(@brand-primary, 25%);
		    // -webkit-box-shadow: 1px 1px 4px 0px darken(@brand-primary, 25%);
		    // -moz-box-shadow: 1px 1px 4px 0px darken(@brand-primary, 25%);
		}
	}
}

