#reputation{
	height: 10%;
	position: relative !important;
	// border-bottom: 0px;
	// background-color: #FFF;
	// background-color: #000;
	// color: @mjk_banner_txt;
	// text-align: @align-right;
	padding-top: 0px;
	padding-bottom: 0px;
	text-align: @align-center;
	border-bottom: 1px solid #ccc;

	.container{
		height: 100%;
		// background-color: #000;
		overflow: auto;

	}

	.img-reputation{
		position: relative !important;
		height: 100%;
		width: auto;
		margin: auto;
		padding: 15px;
	}
}

#feed{
	text-align: center;
	// background-color: transparent;
	background-color: rgba(255, 255, 255, 1);
	background: linear-gradient(to left, @gray-lighter, #FFF);
	border-top: 1px solid #ccc;
	position: absolute;
	z-index: 200;
	bottom: 0px;
	width: 100%;
	// border-top: 1px solid #ccc;
	text-align: @align-center;
	padding-top:0px;
	padding-bottom: 0px;
	overflow: visible;
	// border:0px;
	// box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6);

	.container{
		// height: 100px;
		overflow: visible;
		padding-top: 15px;
		padding-bottom: 15px;

		.bubble{
			// background-color: #999;
			// display: -moz-flex;
  			// display: flex;
			// background-color: rgba(255, 255, 255, 1);
			// background: linear-gradient(to right, @gray-lighter, #FFF);
		}

		.testimonial{
			.img-user{
				overflow: hidden;
				width: auto;
				margin: auto;
				width: 80px;
				height: 80px;
				border-radius: 100%;
				border:2px solid #FFF;
				background-color: #333;
				box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);

				// position: absolute;
				// margin-top: -60px;

				img{
					box-shadow: inset 5px 5px 20px rgba(0, 0, 0, 0.3);
				}
			}
			// background-color: #666;
			float: left;
          	// -moz-flex: initial;
          	// flex: initial;
		}
		.user-feedback{
			p{
				margin-bottom: 0px;
				margin-top: 0px;
				color: #333;
				line-height: 120%;
				text-align: @align-left;
				font-size: 14px;
				color: #999;
			}

			.signature{
				margin-top: 5px;
				color: #666;
			}
			margin-top: 5px;
			padding-left: 25px;
			float: left;
			max-width: 450px;
          	// -moz-flex: 2;
          	// flex: 2;
		}

	}
}
