#secure-payment{
	padding-top: @padding-vertical-sections;
	padding-bottom: @padding-vertical-sections;
	color: lighten(@mjk_pricing, 30%);
	background-color: darken(@mjk_pricing, 10%);
	text-align: @align-center;
	border-bottom: 0px;
	text-align: @align-center;

	h1, h2, h3, h4, h5, h6{
		color: lighten(@mjk_pricing, 40%);
		margin-top: 0px;
		font-weight: 100;
		text-shadow: 1px 1px darken(@mjk_pricing, 20%);
	}

	.lead{
		margin-bottom: @padding-vertical-contents / 2;
		ont-weight: 400;
		// line-height: 100%;
		// font-weight: 400;
	}

	#img-cards{
		background-color: darken(@mjk_pricing, 5%);
		padding: 10px;
	}
}
