
@border-global:0px;

// default styles for shop section in templates ---------------------//

.background-shop-color{
		background-color: @mjk_shop;
		.color{
			color: darken(@mjk_shop, 40%);
		}
	}
.background-shop-color-lighten{
		background-color: lighten(@mjk_shop, 10%);
	}
.background-shop-color-darken{
		background-color: darken(@mjk_shop, 40%);
	}
.color-p-shop{
	color: @mjk_shop_txt
	}

.border {
    border: @border-global solid darken(@mjk_shop, 20%);
    .top {
        border-top: @border-global solid darken(@mjk_shop, 20%); 
    }
    .bottom {
        border-bottom: @border-global solid darken(@mjk_shop, 20%);
    }
    .left {
        border-left: @border-global solid darken(@mjk_shop, 20%); 
    }
    .right {
        border-right: @border-global solid darken(@mjk_shop, 20%);
    }
}

// modules ------------------------------------------------------------ //

.panel{
	.panel-heading{
		.global-contents-padding;
		.background-shop-color-lighten;
		.border > .bottom;
		// border-radius: @squared-corners !important;
	}
	.panel-body{
		.global-contents-padding;
		.background-shop-color-lighten;
		// border-radius: @squared-corners !important;
	}
	.panel-footer{
		.background-shop-color-lighten;
		.global-contents-padding;
		.border > .top;
		// border-radius: @squared-corners !important;
		// padding:0px 0px;
	}
	.border;
}

.breadcrumb{
	// + ::before{
	// 	.background-shop-color > .color;
	// 	}
	.background-shop-color > .color;
	a, .active{
		.background-shop-color-lighten;
		.background-shop-color > .color;
	}
	.background-shop-color-lighten;
	.background-shop-color > .color;
	.border;
}

ul.pagination{
	.background-shop-color > .color;
	a{
		.background-shop-color-lighten;
		.border;
		.background-shop-color > .color;
	}
}

#cats{
	li{
		a{
			.background-shop-color-lighten;
			.global-contents-padding;
			.border > .top;
			.border > .left;
			.border > .right;
			transition: all 0.3s ease;
			// .color-p-shop;
			// border-radius: 0px;
		}
		a:hover{
			.background-shop-color-darken;
			//.color-p-shop;
		}
		margin-top: 0px;
		// border-radius: 0px;
	}
	li:last-child a{
		.border > .bottom;
	}
	li.active{
		// .background-shop-color-darken;
		a{
			.background-shop-color-darken;
			// .color-p-shop;
		}
	}
}

// shop module ------------------------------------------------------------ //

#shop{

	h1, h2, h3, h4, h5, h6{
		// .fa-facebook
		// margin-top: 0px;
		// margin-bottom: 0px;
		color: @mjk_shop_h_titles;
	}
	a{
		color: @mjk_shop_link;
		text-decoration: none;
	}
	.btn-default{
		.background-shop-color-darken;
		.border;
		// color: @mjk_shop_link;
	}
	.btn-primary{
		color: lighten(@mjk_shop_link, 50%);
		background-color: @mjk_shop_link;
		.border;

		// -webkit-transition: all 0.7s ease;
		// transition: all 0.7s ease;
	}
	.btn-primary:hover {
		//zoom: 150%;
		//box-shadow: 0 10px 6px -6px grey;
	}
	
	.shop-nav{
		// .border > .bottom;
		.tags{
			.label{
				.background-shop-color-darken;
				.border;
			}
		}
		text-align: @align-left;
	}
	#loop-shop{
		margin-top: 20px;
		// background-color: #FF0000;
	}
	.shop-chart{
		h4{
			margin-bottom: 0px;
			margin-top: 0px;
		}
		.panel-body{
			.shop-chart-list{
				margin-bottom: 0px;

				 li{
					.global-contents-padding;
					.border > .bottom;
				}
				li:last-child{
					border-bottom: none;
				}
			}
			padding: 0px 0px;
		}
		.panel-footer{padding: 0px 0px;}
		// border-radius: @squared-corners !important;
	}
	.price{
		.background-shop-color-darken;
		.border;
		// font-weight: bold;
		font-size: @font-size-large;
		// margin-bottom: @grid-gutter-width;
		padding: 10px 20px;
		margin-bottom: 0px;
		// border-radius: 0px;
	}
	.product{
		overflow: hidden;
		a{
			.background-shop-color > .color;
		}
		// p{margin-bottom: 0px;}
		a:hover{
			.new{
				margin-top: -50px;
			}
			.sale{
				margin-top: -50px;
			}
			.img{
				opacity: 0.3;
			}
		}
		h3, .product-title{
			// .global-contents-padding > .bottom;
			font-size: 16px;
			margin-top: 0px;
		}
		.img{
			.border;
			margin-bottom: 0px;
			// border:1px solid lighten(@mjk_shop, 100%);
			padding: 0px;
			border: 0px;
			transition: all 0.3s ease;
			// border-radius: 0px;
		}
		.panel-heading{
			padding: 0px 0px;
		}
		.panel-content{
			// padding: 0px @grid-gutter-width;
			margin-bottom: 0px;
			background-color: transparent;
			// border:0px;
			box-shadow: none;
		}
		.panel-footer{padding: 0px 0px;}
		.new{
			background-color: #8BB6D0;
			color: lighten(@mjk_shop, 10%);
			box-shadow: 0 5px 5px -5px #000;
		}
		.sale{
			background-color: @mjk_shop_h_titles;
			color: lighten(@mjk_shop, 10%);
			box-shadow: 0 5px 5px -5px #000;
		}
		.sale-amounth{
			color: @mjk_shop_h_titles;
		}
		.background-shop-color-lighten;
		// .border;
		// border-radius: @squared-corners;
		text-align: @align-left;
	}
	.background-shop-color;
	.background-shop-color > .color;
	// .color-p-shop;
	text-align: @align-center;
}

@media only screen and (max-width: 480px){
	h3{
		font-size: 12px;
	}
}