{% extends "../layouts/master.html" %}
{% block content %}
		
	{# <pre>{= postData|json(2) =}</pre> #}

	<section class="section single-detail-page" id="loop-events">
		<div class="container">
			<div class="row">

				<hgroup class="col-md-12 section-title" id="map-section-title">
					<h1 class="pull-left">{= title =}</h1>
					<span class="pull-right goto">
						<a href="">vai alla sezione</a>
					</span>
				</hgroup>
				
				{% include "../../__default/partials/event-detail-content.html" %}

			</div>
		</div>
	</section>
		
{% endblock %}
