{% extends "../layouts/master.html" %}
{% block content %}

		{# {% include "../partials/banner-slide.html" %} #}
		
		<section class="section" id="company">
			<div class="container">
				<div class="row">
					{# TITOLO SEZIONE #}
					<hgroup class="col-md-12 section-title" id="map-section-title">
						<h1 class="">{= title =}</h1>
						{# <span class="pull-right goto">
							<a href="">vai alla sezione</a>
						</span> #}
					</hgroup>
					{# FINE TITOLO SEZIONE #}
					{# CONTENUTI SEZIONE #}
					<div class="col-md-10 col-md-offset-1">
						<div id="company-short-description" class="lead">{= text | safe =}</div>
						{# <p>
							<a href="#">+</a>
						</p> #}
					</div>
					{# FINE CONTENUTI SEZIONE #}
				</div>
			</div>
		</section>

		{% include "../partials/store.html" %}
		{% if photos %}
			{# {= album|json(2) =} #}
			{% include "../partials/loop-single-album.html" %}
		{% endif %}
		
{% endblock %}
