
// default commons in templates
@import url(config.less);
@import url(commons/utility.less);
@import url(variables.less);
@import "assets/bootstrap-less/bootstrap.less";
@import url(thumbnail.less);

// defolt stiles for shop section in templates
@import url(components/text.less);
@import url(components/contacts.less);
@import url(components/exterior.less);
@import url(components/interior.less);
@import url(components/plan.less);
@import url(components/project.less);
@import url(components/navbar.less);



html, body{
	width: 100%;
	height: 100%;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.imgTitle(@url){
  background-image: url(@url);
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.menuClass{
  position: fixed !important;
  top: 0 !important;
  background-color: rgb(0, 0, 0);
  bottom: auto !important;
}

.lastRow{
	display: none;
}

.btn{
	border-radius: @squared-corners;
}

.no-gutter{
	padding-left: @padding-none;
	padding-right: @padding-none;
}
.section{
	height: 100%;
	width: 100%;
	border-bottom:1px solid #ccc;
	padding-top: @padding-vertical-contents;
	padding-bottom: @padding-vertical-sections;
	// text-align: @global-alignment;
	.container{
		padding-left: @grid-gutter-width;
		padding-right: @grid-gutter-width;
	}

	.container-fluid{
		width:100%;
		height: 100%;
	}
}
.breadcrumb{
	border-radius: @squared-corners;
	padding: 10px 15px;
}
ul.pagination{
	border-radius: @squared-corners;
	margin: @padding-none @padding-none;
	margin: @padding-none @padding-none;
	//padding: 10px 15px;
}

.new{
	position: absolute;
	border-radius: 40px;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	margin-left: 15px;
	margin-top: 15px;
	}


@media (max-width: @screen-xs-max){
	#shop{
		background-color: #000;
	}
}
