{% include '../../../__default/partials/script-includes.html' %}

<script type="text/javascript" src="/js/components/imagelightbox/dist/imagelightbox.min.js"></script>
<script type="text/javascript" src="/js/components/imagelightbox/dist/init.min.js"></script>


<!-- Plugin JavaScript -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<script src="/js/templates/salazar/classie.js"></script>
<script src="/js/templates/salazar/cbpAnimatedHeader.js"></script>
<script src="/js/templates/salazar/freelancer.js"></script>



{% if !page.data.paid_on && !isEditor && !url2png %}
<script type="text/javascript">
    $("#footer").css("padding-bottom", $("#ad").height()*1.5);
</script>
{% endif %}
