{# Used by template/pages/event-detail-content.html #}

{% if postData.start_time %}
<div class="row row-detail">
    <div class="icon">
        <i class="glyphicon glyphicon-time"></i>
    </div>
    <div class="desc">
        <span displaytime="{= postData.start_time =}" data-custom_format="long"{% if postData.end_time %} data-end_time="{= postData.end_time =}"{% endif %}></span>
        <br>
    </div>
    <div class="clearfix"></div>
</div>
{% endif %}
{% if postData.place %}
<div class="row row-detail">
    <div class="icon">
        <i class="glyphicon glyphicon-map-marker" style="vertical-align: middle;"></i>
    </div>
    <div class="desc">
        {= postData.place.name =}
        {% if postData.place['location'] %}
        <small class="address">({= postData|getLocationAddress =} -
            <a target="_blank" href="{= postData|getLocationUrl =}"><i class="fa fa-globe"></i>
                {= t('template:navigation.events.map') =}</a>)
        </small>
        {% endif %}
    </div>
    <div class="clearfix"></div>
</div>
{% endif %}
{% if postData.ticket_uri %}
<div class="row row-detail">
    <div class="icon">
        <i class="fa fa-ticket"></i>
    </div>
    <div class="desc">
        {= t('template:navigation.events.tickets_available') =}: <a target="_blank" href="{= postData.ticket_uri =}">{= t('template:navigation.events.tickets_find') =}</a>
    </div>
    <div class="clearfix"></div>
</div>
{% endif %}
{% if postData["invited_count"] > 0  %}
<div class="row row-detail">
    <div class="icon">
        <i class="fa fa-users"></i>
    </div>
    <div class="desc">
        {= t('template:navigation.events.people_yes') =}: {= postData.attending_count =} -
        {= t('template:navigation.events.people_x') =}: {= postData.maybe_count =} -
        {= t('template:navigation.events.people_tot') =}: {= postData.invited_count =}
    </div>
    <div class="clearfix"></div>
</div>
{% endif %}

<script type="text/javascript">
    $(document).ready(function() {
        $(".row-detail .icon").addClass("col-xs-1 col-sm-offset-1 text-center");
        $(".row-detail .desc").addClass("col-xs-10 col-sm-9 text-left");
        $(".row-detail").append('<div class="clearfix"></div>');
        var centerIcons = function() {
            $(".row-detail").each(function () {
                var h = $(this).children(".desc").height();
                $(this).children(".icon").css('line-height', h + "px");
            });
        };
        centerIcons();
        $(window).resize(function(){
            centerIcons();
        });
    });
</script>
