<section class="section" id="company">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <hgroup class="section-title">
                            <h1>company</h1>
                            <!-- <h2>Titolo</h2>
                            <h3>Titolo</h3> -->
                        </hgroup>
                        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ac ex efficitur, viverra metus eu, consectetur sem. In hac habitasse platea dictumst. Nunc cursus est a semper dapibus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam ac ex efficitur, viverra metus eu, consectetur sem. In hac habitasse platea dictumst. Nunc cursus est a semper dapibus.
                        </p>
                        <p><a href="#">link</a></p>
                        <button type="button" class="btn btn-default">Primary Default</button>
                        <button type="button" class="btn btn-primary">Primary Button</button>
                    </div>
                </div>
            </div>
        </section>
