{% extends './layouts/master_landing_carousel.html' %}
{% block landing_head %}
    <link href="/landing/css/style.css" rel="stylesheet" media="screen">
{% endblock %}
{% block landing_content %}
<nav class="section navbar navbar-default navbar-fixed-top" id="main-nav-landing" >
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <img src="/landing/img/majeeko-brand-editor.svg" style="height:50px; width:auto " alt="Majeeko">
            </a>
        </div>
    </div>
</nav>
<header class="section carousel slide window-height carousel-fade pics_carousel" id="banner" data-ride="carousel" data-interval="false">

    <!-- Indicators -->
    {# 
    <ol class="carousel-indicators">
        <li data-target="#banner" data-slide-to="0" {% if carouselIndex == 0 %}class="active"{% endif %}></li>
        <li data-target="#banner" data-slide-to="1" {% if carouselIndex == 1 %}class="active"{% endif %}></li>
        <li data-target="#banner" data-slide-to="2" {% if carouselIndex == 2 %}class="active"{% endif %}></li>
        <li data-target="#banner" data-slide-to="3" {% if carouselIndex == 3 %}class="active"{% endif %}></li>
        <li data-target="#banner" data-slide-to="4" {% if carouselIndex == 3 %}class="active"{% endif %}></li>
        <li data-target="#banner" data-slide-to="5" {% if carouselIndex == 3 %}class="active"{% endif %}></li>
    </ol> 
    #}

    <!-- Wrapper for Slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item {% if carouselIndex == 0 %} active{% endif %}" id="palestra">
            <div class="fill" style="background-image:url('/landing/img/palestra.jpg');"></div>
            <div class="carousel-caption">
                <h2>HAI UN'ATTIVIT&Aacute;?</h2>
                <p class="lead">Crea il tuo sito web<br> dalla Pagina Facebook.</p>
                <a href="http://go.majeeko.com/login_lc" id="fb-accedi-nav" role="button" type="button" class="btn btn-lg btn-primary">PROVA GRATUITA</a>
            </div>
        </div>
        <div class="item {% if carouselIndex == 1 %} active{% endif %}" id="artigiano">
            <div class="fill" style="background-image:url('/landing/img/artigiano.jpg');"></div>
            <div class="carousel-caption">
                <h2>HAI UN'ATTIVIT&Aacute;?</h2>
                <p class="lead">Crea il tuo sito web<br> dalla Pagina Facebook.</p>
                <a href="http://go.majeeko.com/login_lc" id="fb-accedi-nav" role="button" type="button" class="btn btn-lg btn-primary">PROVA GRATUITA</a>
            </div>
        </div>
        <div class="item {% if carouselIndex == 2 %} active{% endif %}" id="ristorante">
            <div class="fill" style="background-image:url('/landing/img/ristorante.jpg');"></div>
            <div class="carousel-caption">
                <h2>HAI UN'ATTIVIT&Aacute;?</h2>
                <p class="lead">Crea il tuo sito web<br> dalla Pagina Facebook.</p>
                <a href="http://go.majeeko.com/login_lc" id="fb-accedi-nav" role="button" type="button" class="btn btn-lg btn-primary">PROVA GRATUITA</a>
            </div>
        </div>
        <div class="item {% if carouselIndex == 3 %} active{% endif %}" id="ristorante">
            <div class="fill" style="background-image:url('/landing/img/negozio.jpg');"></div>
            <div class="carousel-caption">
                <h2>HAI UN'ATTIVIT&Aacute;?</h2>
                <p class="lead">Crea il tuo sito web<br> dalla Pagina Facebook.</p>
                <a href="http://go.majeeko.com/login_lc" id="fb-accedi-nav" role="button" type="button" class="btn btn-lg btn-primary">PROVA GRATUITA</a>
            </div>
        </div>
        <div class="item {% if carouselIndex == 4 %} active{% endif %}" id="ristorante">
            <div class="fill" style="background-image:url('/landing/img/caffe2.jpg');"></div>
            <div class="carousel-caption">
                <h2>HAI UN'ATTIVIT&Aacute;?</h2>
                <p class="lead">Crea il tuo sito web<br> dalla Pagina Facebook.</p>
                <a href="http://go.majeeko.com/login_lc" id="fb-accedi-nav" role="button" type="button" class="btn btn-lg btn-primary">PROVA GRATUITA</a>
            </div>
        </div>
        <div class="item {% if carouselIndex == 5 %} active{% endif %}" id="ristorante">
            <div class="fill" style="background-image:url('/landing/img/massaggi.jpg');"></div>
            <div class="carousel-caption">
                <h2>HAI UN'ATTIVIT&Aacute;?</h2>
                <p class="lead">Crea il tuo sito web<br> dalla Pagina Facebook.</p>
                <a href="http://go.majeeko.com/login_lc" id="fb-accedi-nav" role="button" type="button" class="btn btn-lg btn-primary">PROVA GRATUITA</a>
            </div>
        </div>
        {#
        <div class="item {% if carouselIndex == 6 %} active{% endif %}" id="ristorante">
            <div class="fill" style="background-image:url('/landing/img/Comp_80252721.jpg');"></div>
            <div class="carousel-caption">
                <h2>HAI UN'ATTIVIT&Aacute;?</h2>
                <p class="lead">Crea il tuo sito web<br> dalla Pagina Facebook.</p>
                <a href="http://go.majeeko.com/login_lc" id="fb-accedi-nav" role="button" type="button" class="btn btn-lg btn-primary">PROVA GRATUITA</a>
            </div>
        </div>
        #}
    </div>

    <!-- Controls -->
    {# 
    <a class="left carousel-control" href="#banner" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#banner" data-slide="next">
        <span class="icon-next"></span>
    </a> 
    #}

</header>

{% endblock %}
