{% extends './layouts/master_landing_new.html' %}
{% block landing_head %}
    <link href="/landing/css/style.css" rel="stylesheet" media="screen">
{% endblock %}
{% block landing_content %}
<header class="section carousel slide window-height" id="banner" data-ride="carousel" data-interval="false">
    <!-- Wrapper for Slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item {% if carouselIndex == 0 %} active{% endif %}" id="negozio">
            <div class="fill" style="background-image:url('img/banner/magician.jpg');"
            data-stellar-background-ratio="0.5"></div>
            <div class="carousel-caption container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="row">
                            <div class="col-sm-6 banner-sx">
                                <h2>Fai come ottica IN centro</h2>
                                <p class="lead">Crea il tuo sito web<br> in un click.</p>
                                <p class="hidden-xs">
                                    Accedi con il tuo profilo facebook e crea il tuo sito.
                                </p>
                                <a href="http://go.majeeko.com/login_lc" class="btn btn-lg btn-primary">prova gratis</a>
                            </div>
                            <div class="col-sm-6">
                                <div class="browser-window">
                                    <div class="browser">
                                        <span class="r"></span>
                                        <span class="y"></span>
                                        <span class="g"></span>
                                    </div>
                                    <img class="img-responsive" src="/images/example-websites/284351312453.min.jpg">
                                </div>
                                {# <div class="mobile-window">
                                    <div class="speaker"></div>
                                    <img class="img-responsive" src="img/da-rid/circe.png">
                                </div> #}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <section class="section hidden-xs" id="feed">
                <div class="container"> 
                    <div class="row">
                        <div class="col-md-12 bubble">
                            <div class="row">
                                <div class="testimonial">
                                    <div class="img-user">
                                        <img class="img-responsive" src="https://scontent-frt3-1.xx.fbcdn.net/hprofile-xaf1/v/t1.0-1/p320x320/10577173_990986817600641_4269663441014783924_n.jpg?oh=a3565b7cf222eb14e249ee622297e91e&oe=5746294F">
                                    </div>
                                </div>
                                <div class="user-feedback">
                                    <p><i>"Majeeko è pratico e veloce e mi permette di aggiornare il sito anche mentre lavoro."</i></p>
                                    <p class="signature"><strong>Ivan Zuliani</strong></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="item {% if carouselIndex == 1 %} active{% endif %}" id="artigiano">
            <div class="fill" style="background-image:url('img/banner/magician.jpg');"
            data-stellar-background-ratio="0.5"></div>
            <div class="carousel-caption container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="row">
                            <div class="col-sm-6 banner-sx">
                                <h2>Fai come Effe Costruzioni</h2>
                                <p class="lead">Crea il tuo sito web<br> in un click.</p>
                                <p class="hidden-xs">
                                    Accedi con il tuo profilo facebook e crea il tuo sito.
                                </p>
                                <a href="http://go.majeeko.com/login_lc" class="btn btn-lg btn-primary">prova gratis</a>
                            </div>
                            <div class="col-sm-6">
                                <div class="browser-window">
                                    <div class="browser">
                                        <span class="r"></span>
                                        <span class="y"></span>
                                        <span class="g"></span>
                                    </div>
                                    <img class="img-responsive" src="/images/example-websites/429735447184336.min.jpg">
                                </div>
                                {# <div class="mobile-window">
                                    <div class="speaker"></div>
                                    <img class="img-responsive" src="img/da-rid/circe.png">
                                </div> #}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <section class="section hidden-xs" id="feed">
                <div class="container"> 
                    <div class="row">
                        <div class="col-md-12 bubble">
                            <div class="row">
                                <div class="testimonial">
                                    <div class="img-user">
                                        <img class="img-responsive" src="img/clients/cioce.png">
                                    </div>
                                </div>
                                <div class="user-feedback">
                                    <p><i>"Grazie a majeeko mi sono fatta il sito da sola, é stato facilissimo! E mi diverto pure ad aggiornarlo!"</i></p>
                                    <p class="signature"><strong>Matteo</strong></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="item {% if carouselIndex == 2 %} active{% endif %}" id="ristorante">
            <div class="fill" style="background-image:url('img/banner/magician.jpg');"
            data-stellar-background-ratio="0.5"></div>
            <div class="carousel-caption container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="row">
                            <div class="col-sm-6 banner-sx">
                                <h2>Fai come Ristorante Al Tiglio</h2>
                                <p class="lead">Crea il tuo sito web<br> in un click.</p>
                                <p class="hidden-xs">
                                    Accedi con il tuo profilo facebook e crea il tuo sito.
                                </p>
                                <a href="http://go.majeeko.com/login_lc" class="btn btn-lg btn-primary">prova gratis</a>
                            </div>
                            <div class="col-sm-6">
                                <div class="browser-window">
                                    <div class="browser">
                                        <span class="r"></span>
                                        <span class="y"></span>
                                        <span class="g"></span>
                                    </div>
                                    <img class="img-responsive" src="/images/example-websites/1429863320618474.min.jpg">
                                </div>
                                {# <div class="mobile-window">
                                    <div class="speaker"></div>
                                    <img class="img-responsive" src="img/da-rid/circe.png">
                                </div> #}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <section class="section hidden-xs" id="feed">
                <div class="container"> 
                    <div class="row">
                        <div class="col-md-12 bubble">
                            <div class="row">
                                <div class="testimonial">
                                    <div class="img-user">
                                        <img class="img-responsive" src="https://scontent-frt3-1.xx.fbcdn.net/hprofile-xpf1/v/l/t1.0-1/p320x320/12523020_10153848792228407_9017529398341028116_n.jpg?oh=f8e52f4a32938c8df224e118b47c444d&oe=572B1794">
                                    </div>
                                </div>
                                <div class="user-feedback">
                                    <p><i>"Finalmente posso avere un sito web per il mio ristorante: la mia attività mi occupa gran parte della giornata e non avrei tempo da dedicare all’aggiornamento di un sito."</i></p>
                                    <p class="signature"><strong>Sabrina Zoz</strong></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</header>
{% endblock %}
