{% extends './layouts/master_landing_generati.html' %}
{% block landing_head %}
    <link href="/landing/css/style.css" rel="stylesheet" media="screen">
{% endblock %}
{% block landing_content %}
<header class="section carousel slide window-height" id="banner" data-ride="carousel">
    <!-- Wrapper for Slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <div class="fill" style="background-image:url('img/banner/magician.jpg');"
            data-stellar-background-ratio="0.5"></div>
            <div class="carousel-caption container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="row">
                            <div class="col-sm-5 banner-sx">
                                <h2>{=pageName=}</h2>
                                <p class="lead">Il tuo sito web aspetta il tuo ultimo tocco.</p>
                                <p class="hidden-xs">
                                    Accedi e <strong>personalizzalo subito!</strong>
                                </p>
                                <a href="http://go.majeeko.com/custom2_login" class="btn btn-lg btn-primary">prova gratis</a>
                            </div>
                            <div class="col-sm-6">
                                <div class="browser-window">
                                    <div class="browser">
                                        <span class="r"></span>
                                        <span class="y"></span>
                                        <span class="g"></span>
                                    </div>
                                    <!-- <div class="loading-star" 
										disable-ng-animate 
										ng-show=" state == 'generating-preview' "
										ng-cloak>
									</div>

									<div id="iframe-wrapper" style="position:relative" ng-show="preview.url &&  state == 'preview-ready' " ng-cloak>
									<iframe id="previewIFrame" class=" lazy" ng-src="{{preview.url}}" frameborder="0"></iframe>
									</div> -->
                                    <img class="img-responsive" src="{{preview.url}}">
                                </div>
                                {# 
                                <div class="mobile-window">
                                    <div class="speaker"></div>
                                    <img class="img-responsive" src="img/da-rid/circe.png">
                                </div> 
                                #}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}

{% block page_scripts %}

<script>
	angular.module('majeeko.main')
	.controller('customPreviewCtrl', function (
		$scope,
		$http,
		$sce
	) {
		var pageId = "{=pageId=}";
		console.debug('Create preview for page with id:', pageId)
		$scope.state = 'generating-preview';
		return $http.post('/api/fetch-preview', {
			id: pageId
		}).then(function (res,err) {
			if(res) {
				$scope.preview = {
					// page_name: $scope.selectedPage.name,
					url: $sce.trustAsResourceUrl(res.data.url)
				}
				console.debug('Preview generated');
				$scope.state = 'preview-ready';
			}
		})
	})
</script>
{% endblock %}
