{% extends './layouts/master_landing_new.html' %}
{% block landing_head %}
    <link href="/landing/css/style.css" rel="stylesheet" media="screen">
{% endblock %}
{% block landing_content %}
<header class="section carousel slide window-height" id="banner" data-ride="carousel">
    <!-- Wrapper for Slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <div class="fill" style="background-image:url('img/banner/magician.jpg');"
            data-stellar-background-ratio="0.5"></div>
            <div class="carousel-caption container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="row">
                            <div class="col-sm-6 banner-sx">
                                <h2>Fai come HelloBrand</h2>
                                <p class="lead">Crea il tuo sito web<br> in un click.</p>
                                <p class="hidden-xs">
                                    Accedi con il tuo profilo facebook e crea il tuo sito.
                                </p>
                                <a href="http://go.majeeko.com/login_lc" class="btn btn-lg btn-primary">prova gratis</a>
                            </div>
                            <div class="col-sm-6">
                                <div class="browser-window">
                                    <div class="browser">
                                        <span class="r"></span>
                                        <span class="y"></span>
                                        <span class="g"></span>
                                    </div>
                                    <img class="img-responsive" src="img/da-rid/circe.png">
                                </div>
                                {# <div class="mobile-window">
                                    <div class="speaker"></div>
                                    <img class="img-responsive" src="img/da-rid/circe.png">
                                </div> #}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<section class="section hidden-xs" id="feed">
    <div class="container"> 
        <div class="row">
            <div class="col-md-12 bubble">
                <div class="row">
                    <div class="testimonial">
                        <div class="img-user">
                            <img class="img-responsive" src="img/clients/cioce.png">
                        </div>
                    </div>
                    <div class="user-feedback">
                        <p><i>"Grazie a majeeko mi sono fatta il sito da sola, é stato facilissimo! E mi diverto pure ad aggiornarlo!"</i></p>
                        <p class="signature"><strong>Rita Cioce</strong></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
