{% extends './layouts/master_landing_passaapro.html' %}
{% block landing_head %}
    <link href="/landing/css/style.css" rel="stylesheet" media="screen">
{% endblock %}
{% block landing_content %}
<nav class="section navbar navbar-default navbar-fixed-top" id="main-nav-landing" >
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <img src="/landing/img/majeeko-brand-editor.svg" style="height:50px; width:auto " alt="Majeeko">
            </a>
        </div>
    </div>
</nav>
<header id="banner" class="section carousel slide window-height carousel-fade pics_carousel" data-ride="carousel" data-interval="false">

    <!-- Indicators -->
    {# 
    <ol class="carousel-indicators">
        <li data-target="#banner" data-slide-to="0" {% if carouselIndex == 0 %}class="active"{% endif %}></li>
        <li data-target="#banner" data-slide-to="1" {% if carouselIndex == 1 %}class="active"{% endif %}></li>
        <li data-target="#banner" data-slide-to="2" {% if carouselIndex == 2 %}class="active"{% endif %}></li>
        <li data-target="#banner" data-slide-to="3" {% if carouselIndex == 3 %}class="active"{% endif %}></li>
        <li data-target="#banner" data-slide-to="4" {% if carouselIndex == 3 %}class="active"{% endif %}></li>
        <li data-target="#banner" data-slide-to="5" {% if carouselIndex == 3 %}class="active"{% endif %}></li>
    </ol> 
    #}

    <!-- Wrapper for Slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item active" id="reseller">
            <div class="fill" style="background-image:url('/landing/img/banner/ecommerce-bg.jpg');"></div>
            <div class="carousel-caption pic-carousel-caption smaller-xs" style="top:33%">
                <h2>COMINCIA A VENDERE<span class="hidden-xs"> ONLINE</span>!</h2>
                <p class="lead">Attiva ora il tuo e-commerce.</p>
                <p style="font-size:20px;">Solo per te in omaggio il passaggio a <b>Majeeko PRO</b> </p>
                <a href="mailto:info@majeeko.com?&subject= Richiesta attivaziono Majeeko Pro&body= Richiedo l'attivazione gratuita di Majeeko Pro:(inserire di seguito Nome e numero di telefono per essere contattati)" id="fb-accedi-nav" role="button" type="button" class="btn btn-lg btn-primary">inizia ora</a>
            </div>
            <div class="see-more">
                <a class="goto" href="#overview-crea">
                    <span class="glyphicon glyphicon-chevron-down"></span>
                </a>
            </div>
            {# <section class="section hidden-xs" id="feed">
                <div class="container"> 
                    <div class="row">
                        <div class="col-md-12 bubble">
                            <div class="row">
                                <div class="testimonial">
                                    <div class="img-user">
                                        <img class="img-responsive" src="./img/da-rid/cioce.png">
                                    </div>
                                </div>
                                <div class="user-feedback">
                                    <p><i>"Da subito majeeko mi é sembrato la soluzione ideale per ottimizzare il mio lavoro di social media manager e non devo dividere il budject con un webmaster."</i></p>
                                    <p class="signature"><strong>Rita Cioce</strong></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section> #}
        </div>
    </div>

    <!-- Controls -->
    {# 
    <a class="left carousel-control" href="#banner" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#banner" data-slide="next">
        <span class="icon-next"></span>
    </a> 
    #}

</header>
{% endblock %}
