{% extends './layouts/master_landing_ecommerce.html' %}
{% block landing_head %}
    <link href="/landing/css/style.css" rel="stylesheet" media="screen">
{% endblock %}
{% block landing_content %}
<header class="section carousel slide window-height" id="banner" data-ride="carousel" data-interval="false">
    <!-- Wrapper for Slides -->
    <div class="carousel-inner" role="listbox">
        <div class="item {% if carouselIndex == 0 %} active{% endif %}" id="negozio">
            <div class="fill" style="background-image:url('img/banner/ecommerce-bg.jpg');"
            data-stellar-background-ratio="0.5"></div>
            <div class="carousel-caption container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="row">
                            <div class="col-sm-6 banner-sx">
                                <h2>Fai come Kia Tappeti</h2>
                                <p class="lead">
                                    Vendi online i tuoi prodotti dal sito web.
                                </p>
                                <p style="font-size: 22px;">
                                    Porta online la tua attività!<strong></strong> 
                                </p>
                                <a href="http://go.majeeko.com/login_lc" class="btn btn-lg btn-primary">inizia ora</a>
                            </div>
                            <div class="col-sm-6">
                                <div class="browser-window">
                                    <div class="browser">
                                        <span class="r"></span>
                                        <span class="y"></span>
                                        <span class="g"></span>
                                    </div>
                                    <img class="img-responsive" src="/images/example-websites/627284400741016.min.jpg">
                                </div>
                                {# <div class="mobile-window">
                                    <div class="speaker"></div>
                                    <img class="img-responsive" src="/images/example-websites/627284400741016_mobile.jpg">
                                </div> #}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <section class="section hidden-xs" id="feed">
                <div class="container"> 
                    <div class="row">
                        <div class="col-md-12 bubble">
                            <div class="row">
                                <div class="testimonial">
                                    <div class="img-user">
                                        <img class="img-responsive" src="./img/clients/kia.png">
                                    </div>
                                </div>
                                <div class="user-feedback">
                                    <p><i>"Grazie a Majeeko Pro ora posso far conoscere e vendere con facilità i miei tappeti persiani in tutta Italia"</i></p>
                                    <p class="signature"><strong>Kia</strong></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</header>
{% endblock %}
