.templateFONT{
	font-family: @font-text;
	FONT-FAMILY: @font-title;
}
.elementTemplateSIMPOSIO{
	display: none;
}
@import "../../__default/styles/edit-entry.less";
@import "../../__default/styles/config.less";
@import "variables.less";
@import "assets/bootstrap-less/bootstrap.less";
@import "assets/less/ad.less";
@import "assets/less/cookiesmodal.less";

@import "../../__default/styles/commons/modal-details.less";
@import "../../__default/styles/commons/utility.less";
@import "../../__default/styles/commons/ecommerce.less";

// @import "assets/bootstrap-less/glyphicons.less";
// @import "components/bootstrap-social/bootstrap-social.css";
// @import "components/font-awesome/css/font-awesome.min.css";

@height-navbar: 100px;
@width-navbar: 100px;

/* -------------------------------------------------------------- FORMS */


:focus{
    // background:lighten(@brand-primary, 40%);
    // border-color: lighten(@brand-primary, 40%);
    // color: darken(@brand-primary, 30%);
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    }

/* -------------------------------------------------------------- MASTER */

.wrapper{
    -webkit-font-smoothing: antialiased;
    margin-left: 0px;
    margin-right: 0px;
    font-family: @font-text;
    //font-family: 'Josefin Slab', serif;
    font-variant: 400;
    //font-family: @font-family-paragraphs;
}

.single-detail-page{
    margin-top: @height-navbar + 50px;
}

h1, h2, h3, h4, h5, h6 {
        //font-size: 16px;
        // font-family: @font-family-titles;
        font-family: @font-title;
        text-transform: capitalize;
        color: darken(@brand-primary, 20%);
    }

section, .section{
    background-color: @inner_background;
    // border-bottom: 1px solid @text-color;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;

    .container{
    padding-top: @height-navbar / 2;
    padding-bottom: @height-navbar / 2;

    // max-width: 100% !important;
    // width: 100% !important;
    // background-color: lighten(@text-color, 55%);

    hgroup.section-title{
        margin-bottom: 100px;
        // border-bottom: 1px solid @gray;
        position: relative;
        // background: @gray-light;
        overflow: auto;
        margin-top: @height-navbar;

        h1, h2, h3, h4, h5, h6 {
            // text-transform: uppercase;
            // font-family: 'Josefin Slab', serif;
            font-weight: 700;
            }

        .goto{
            position: absolute;
            bottom: 10px;
            right: 15px;

            }
        }
    }
}


/* -------------------------------------------------------------- SECTIONS */


/* ------------------------------- NAV */

nav.navbar-home {
    position: absolute;
}
nav#main-nav {
    height: @height-navbar;
    background-color: rgba(255, 255, 255, 0.5);
    bottom: 0px;
    z-index: 10;
    width: 100%;
    margin-bottom: 0px;
    border-radius: 0px;
    border: 0px;
    box-shadow: 0px 5px 15px rgba(000, 000, 000, 0.1);

    /* transition */
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;

    .container{
        // background-color: rgba(255, 255, 255, 0.5);
        padding-top: @height-navbar / 4;
        padding-bottom: @height-navbar / 4;

        .navbar-brand{
            height: @height-navbar / 2;
            width: auto;
            //width: @height-navbar / 2;
            display: block;
            padding-top: @padding-none;
            padding-bottom: @padding-none;
            // margin-left: 0px;

                img#brand-img, img{
                    height: @height-navbar / 2;
                    width: auto;
                    //width: @height-navbar / 2;
                }
            }
        .navbar-collapse{
            .nav, .list, .navbar-nav{
                margin-bottom: 0px;
                margin-top: 0px;
                // padding-left: @height-navbar;
                // padding-left: @height-navbar / 4;

                a.navbar-nav-link{
                    // text-transform: uppercase;
                    font-weight: 700px;
                    background-color: rgba(255, 255, 255, 0.8);
                    padding-left: @height-navbar / 4;
                    padding-right: @height-navbar / 4;
                    line-height: @height-navbar / 2;
                    padding-top: @padding-none;
                    padding-bottom: @padding-none;
                    margin-left: 5px;
                }
                a:hover.navbar-nav-link{
                    color: rgba(255, 255, 255, 0.8);
                    background-color: @brand-primary;
                }
                li.active{
                    a{
                    color: rgba(255, 255, 255, 0.8);
                    background-color: @brand-primary; 
                    pointer-events: none; 
                    }
                }
            }

        }

        
    }
}

.main-nav-scrolled{
    background-color: rgba(255, 255, 255, 1) !important;
}


/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

.navbar-collapse{
    margin-top: @height-navbar / 4;
}
}

.navbar-toggle{
    margin-top: 0px;
    margin-bottom: @height-navbar / 4;
    // margin-right: 20px / 2;
    margin-bottom: 0px;
    margin-left: 0px;
    height: @height-navbar / 2;
    width: @height-navbar / 2;

    .icon-bar{
        width: 100%;
    }
}


// nav#main-nav {
//     background-color: rgba(255, 255, 255, 0.5);
//     margin-bottom: 0px;
//     border-radius: 0px;
//     border: 0px;


//     .container{
//         padding-top: @height-navbar / 6;
//         padding-bottom: @height-navbar / 6;

//         .navbar-brand{
//             display: block;
//             padding: @padding-none;
//             height: @height-navbar / 2;
//             width: @height-navbar / 2;
//             margin-left: 0px;

//             img#brand-img, img{
//                 margin-bottom: 0px;
//                 margin-top: 0px;
//                 height: @height-navbar / 2;
//                 width: @height-navbar / 2;
//                 }
//             }

//         .navbar-nav{
           
//             margin-bottom: 0px;
//             margin-top: 0px;
//             // margin-top: @height-navbar / 6;
//         }    
//         a.navbar-nav-link{
//             background-color: rgba(255, 255, 255, 0.8);
//             text-transform: uppercase;  
//             font-size: @font-size-base;
//             color: @brand-primary;
//             line-height: @height-navbar / 2;
//             padding-left: @height-navbar / 2;
//             padding-right: @height-navbar / 2;
//             padding-top: @padding-none;
//             padding-bottom: @padding-none;
//             margin-left: 5px;
//         }
//         a:hover.navbar-nav-link{
//             color: rgba(255, 255, 255, 0.9);
//             background-color: darken(@brand-primary, 10%) ;
//         }

//         .navbar-collapse{

//             .nav, .list, .navbar-nav{
//                 margin-bottom: 0px;
//                 margin-top: 0px;
//                 // padding-left: @height-navbar;
//                 // padding-left: @height-navbar / 4;

//                 a.navbar-nav-link{
//                     color: @brand-primary;
//                     line-height: @height-navbar;
//                     padding-top: @padding-none;
//                     padding-bottom: @padding-none;

//                 }
//                 a:hover.navbar-nav-link{
//                     color:  lighten(@brand-primary, 10%);
//                 }
//             }

//         }
//     }
// }

/* ------------------------------- BANNER */
section#banner {
    background-color: @gray-darker;
    // height: 100%;
    overflow: hidden;

    .carousel-inner{
        // height: 100%;

        .item{

            background-position:center;
            background-repeat:no-repeat;    
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover; 

            // position: relative;
            // top: 50%;
            // transform: translateY(-50%);

            .carousel-caption{
                // background-color: #ccc;
                text-transform: uppercase;
                padding-top: @padding-none;
                padding-bottom: @padding-none;
                padding-left: @padding-contents;
                padding-right: @padding-contents;
                left: 0px;
                right: 0px;
                top: 40%;
                bottom: 0px;


                h1, h2, h3, h4, h5, h6 {
                    letter-spacing: -5px;
                    font-size: 80px;
                    color: #fff;
                    font-weight: @font-weight-titles;
                    margin-top: 0px;
                    margin-bottom: 0px;
                    line-height: 100%;
                    }

            }
        }
    }

    
    .container{
        padding-top: @padding-none;
        padding-bottom: @padding-none;
    }
}

/* ------------------------------- COMPANY */
section#company {
    background-color: @brand-primary;
    color: @gray-lighter;

    a{
        color: @inner_background;
    }

    p{
       color: @inner_background;
    }

    hgroup.section-title{
        // background: @gray-light;
        border-color: @inner_background;

        .goto{ 
        }
    }

     h1, h2, h3, h4, h5, h6 {
        color: @inner_background;
        }

    #company-short-description{
        color: @inner_background;
        }    
}

/* ------------------------------- LOOP GENERAL */


@import "../../__default/styles/commons/post-structure.less";

section.loop {
	@background-post : lighten(@brand-primary, 30%);

	background-color:  lighten(@brand-primary, 20%);
	.post{
		text-decoration: none;
		background-color:  @background-post;
		margin-bottom: 30px;
		transition: all 0.3s;
        text-align: left;

		h1, h2, h3, h4, h5, h6 {
			color: @brand-primary;
			font-size: @font-size-small;
			transition: all 0.3s;
		}
		p{
			color: @text-color;
			transition: all 0.3s;
            margin-top: 15px;
		}
		time{
			display: block;
			color: @text-color;
			background-color:  darken(@brand-primary, 20%);
			padding: 5px 10px;
			font-size: @font-size-large;
		}
		.post-content{
			border-bottom-color: @background-post;
			border-right-color: @background-post;
			word-wrap: break-word;
		}

		.post-attributes{
			background-color: @text-color;
			border-top: solid 1px darken(@text-color, 1%);
			text-align: center;
			color: @inner_background !important;
		}
		.post-img,.post-attributes{
			opacity: 1;
			transition: all 0.3s;
		}
		&:hover{
			//opacity: 1;
			h1, h2, h3, h4, h5, h6{
				color: @inner_background;
			}
			p{
				color: @inner_background;
			}
			.post-img{
				opacity: 0.5;
			}
			.post-attributes{
				opacity: 0.7;

			}
		}
	}
}

/* ------------------------------- LOOP NEWS 
section#loop-news {
    // background-color: #FF0000;
    // background-color: @brand-primary;
    // color: @gray-lighter;

    h1, h2, h3, h4, h5, h6 {
        // color: @gray-lighter;
    }
    .post {
        // background-color: @gray-lighter;
    }
}

/* ------------------------------- LOOP EVENTS
section#loop-events {
    // background-color: #FF0000;
    background-color: lighten(@brand-primary, 15%);
    // color: @gray-lighter;

    h1, h2, h3, h4, h5, h6 {
        // color: @gray-lighter;
    }
    .post {
        // background-color: @gray-lighter;
    }
	.post-attribute-single{
		font-size: @font-size-base*0.9;
	}
}

/* ------------------------------- LOOP ALBUMS */
section#loop-albums {
    // background-color: #FF0000;
    background-color: @gray-darker;
    // color: @gray-lighter;

    .section-title{
        h1, h2, h3, h4, h5, h6 {
            // color: @gray-lighter;
             color: contrast(@gray-darker,@text-color,hsl(hue(@text-color),saturation(@text-color),100%-lightness(@text-color)));// @text-color;
        }
    }
}

/* ------------------------------- PAGINE INTERNE */

.page{
    section.loop, section#loop-albums, section#loop-events section#loop-news {
        background-color: @brand-primary;
        color: @gray-lighter;

        .section-title{

            h1, h2, h3, h4, h5, h6 {
                // color: @gray-lighter;
                 color: @inner_background;
            }
        }
    }
    section#loop-albums{
        background-color: @gray-darker;
    }

}

/* ------------------------------- PAGINATION */

.pagination{

    border-top-left-radius: @squared-corners;
    order-top-right-radius: @squared-corners;     
    border-bottom-left-radius: @squared-corners;
    border-bottom-right-radius: @squared-corners;

    li{
        border-top-left-radius: @squared-corners;
        order-top-right-radius: @squared-corners;     
        border-bottom-left-radius: @squared-corners;
        border-bottom-right-radius: @squared-corners;

        a{
            background-color: @texts;
            color: @brand-primary;
            border:0px;

            border-radius: @squared-corners;
        }
        .active{
            background-color: @brand-primary;
            color: @texts;
        }
		span.navigation-disabled, span.navigation-disabled:hover{
			background-color: contrast(@texts, darken(@texts,5%), lighten(@texts,5%));
			color: @brand-primary;
			border:0px;

			border-radius: @squared-corners;
		}
    }

}

/* ------------------------------- MAP */
section#map {
    background-color: @gray-lighter;

    h1, h2, h3, h4, h5, h6 {
        //font-size: 16px;
        //color: @brand-primary;
    }
    .container-fluid{
    padding-top: 0px;
    padding-bottom: 0px;

    hgroup.section-title{
        margin-bottom: 0px;
        border-bottom: 1px solid @gray;
        background: @gray-light;
        overflow: auto;
        display: none;
        }
    #map-canvas {
        min-height: 600px;
        background: @gray-darker;
        }    
    }
    
}

/* ------------------------------- CONTACTS */
section#contact-form {
    background-color: @brand-primary;
    color: lighten(@text-color, 40%);
    // background-color:  lighten(@text-color, 40%);
    //color: @gray-lighter;

    

    a{
        // color: @gray-lighter;
        }

    hgroup.section-title{
        // background: @gray-light;

        h1, h2, h3, h4, h5, h6 {
                color: @inner_background;
            }

        .goto{

            a{
                // color: @text-color;
                }
            }
        }

    h1, h2, h3, h4, h5, h6 {
        //color: @text-color;
    }
    p{
        color: @text-color;
    }
}

/* ------------------------------- FOOTER */
section#footer {
    // background-color:darken(@brand-primary, 30%);
    background-color: @outer_background;
    border: none;

    .container{
        color: lighten(@outer_background, 70% );

        h1, h2, h3, h4, h5, h6 {
            font-size: @font-size-base;
            //color: @brand-primary;
        }

        address{
            span{
                display: block;
            }
        }

		.hours-small{
			margin-bottom:20px;
			.hours-status-now{
				font-weight: bold;
				font-size: 102%;
			}
		}

        #footer-nav-links{
            .list{
                padding-bottom: 10px;
                // border-bottom: 1px solid lighten(@outer_background, 30% );

                li{
                    // padding-left: 0px;
                    text-transform: uppercase;
                    padding-top: 0px;
                    padding-bottom: 0px;
                    padding-right: 6px;
                    // border-right: 1px solid lighten(@outer_background, 70% );


                    .navbar-nav-link{
                        line-height: 100%;
                        display: block;
                        padding-top: 3px;
                        padding-bottom: 3px;
                        padding-left: 10px;
                        padding-right: 10px;
                        color: @outer_background;
                        background-color: lighten(@outer_background, 15% );
                    }
                }
                li:last-child {
                    border-right: 0px;
                }
            }
        }

        .company_social_link, #company_social_links{
            margin-top: 22px;
            color: lighten(@outer_background, 60% );
            font-size: floor((@font-size-base * 1.6));

            .list-inline{
                padding-left: 0px;

                a{
					padding: 5px 10px 6px 12px;//0 7px;
					display: inline-block;
					background: #fff;
					text-align: center;
					border-radius: 5px;
                    .fa{
                        color: @outer_background;
						font-size: 20px;
                    }
                }
                a:hover{
                    .fa{
                        
                        color: @outer_background;
                        color: @brand-primary;
                    }
                }

                
            }

            
        }
        #credits{
            font-size: @font-size-small;
            // color: @inner_background;
            a{
                color: #F90;
            }
            a:hover{
                color: darken(#F90, 15%);
            }
        }
    }  
}

body.store-page {

	.container {
		padding-bottom: 25px;
	}
	.section-title{
		margin-bottom: 25px;
	}
	.panel {
		text-align: left;
		border-color: fade(@texts, 50%);
		.panel-heading {
			text-align: center;
			background: @outer_background;
			color: contrast(@outer_background);
			border-color: fade(@texts, 50%);
		}
		.panel-body {
			background: @inner_background;
			border-color: fade(@texts, 50%);
		}
		.list-group {
			.list-group-item {
				background: @inner_background;
				.badge {
					background-color: darken(@inner_background, 10%);
					color: @brand-primary;
					border-radius: 3px;
					float: right;
				}

				&.active-category {
					background: @brand-primary;
					color: @inner_background;
					a {
						color: lighten(@inner_background, 5%);
					}
					.badge {
						background-color: darken(@brand-primary, 10%);
						color: @inner_background;
					}
				}
			}
		}
	}
	li.product-item {
		list-style: none;
	}
	ul#productsContainer {
		padding: 0;
		margin: 0 -15px;
	}
}
