<!doctype html>
<html ng-app="template">

{% include "../partials/head.html" %}

<body class="{% if isHome %}index{% else %}page{% endif %} {% if isStore %}store-page bs-3{% endif %}" id="{= name =}" ng-controller="page">

    {% include "../../__default/partials/open_body.html" %}

    {% include '../../__default/partials/back-top.html' %}
    	
	<div class="wrapper">

		{% include "../partials/header.html" %}
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 no-gutter">
		{% block content %}{% endblock %}
		{% include "../partials/footer.html" %}
    </div>

	</div>

	{% include "../partials/scripts/main.html" %}

</body>

{% include '../../__default/partials/modal-templates.html' %}
{% include "../../__default/partials/ad.html" %}
{% include "../../__default/partials/cookie-modal.html" %}

</html>
