.templateFONT{
	font-family: @font-text;
	FONT-FAMILY: @font-title;
}
.elementTemplatePARALLELO{
	display: none;
}
@import "../../__default/styles/edit-entry.less";
@import "../../__default/styles/config.less";
@import "variables.less";
@import "assets/bootstrap-less/bootstrap.less";
@import "assets/less/ad.less";
@import "assets/less/cookiesmodal.less";

@import "../../__default/styles/commons/modal-details.less";
@import "../../__default/styles/commons/utility.less";
@import "../../__default/styles/commons/ecommerce.less";

// @import "assets/bootstrap-less/glyphicons.less";
// @import "components/bootstrap-social/bootstrap-social.css";
// @import "components/font-awesome/css/font-awesome.min.css";
// @import url("/components/ModalWindowEffects/css/component.css");
// @import "components/bootstrap-modal-carousel/dist/css/bootstrap-modal-carousel.min.css";

// @import url(https://fonts.googleapis.com/css?family=Roboto+Slab);

@height-navbar: 100px;
@width-navbar: 100px;


/* -------------------------------------------------------------- MASTER */

.thumbnail{
    background-color: darken(@inner_background, 5%);
}

body{
    background-color: @outer_background;
    font-family:@font-text;
    // font-family: 'Roboto Slab', Helvetica, Arial, sans-serif;
    //font-weight: @font-weight-paragraphs;
    font-weight: 300;
    text-align: center;
}
 .wrapper{
    position: relative;
 	// background-color: @outer_background;
    -webkit-font-smoothing: antialiased;
    margin-left: auto;
    margin-right: auto;
    // font-family:'Lato', Helvetica, Arial, sans-serif;
    font-family: @font-text;
    // font-family: 'Roboto Slab', Helvetica, Arial, sans-serif;
    //font-weight: @font-weight-paragraphs;
    text-align: center;
    margin-top: @height-navbar;
    max-width: @container-lg;
    // background-color: #000;

    .wrapper-content{
        box-shadow: 0px 0px 20px darken(@outer_background, 20%);
        // border: 15px solid #FFF;
    }
}


section, .section{
    // background-color: @outer_background;
    // background-color: @outer_background;
    // border-bottom: 1px solid @texts;

    .container, .container-fluid{
        width: inherit;
        background-color: @inner_background;
        padding-top: @height-navbar / 2;
        // padding-bottom: @height-navbar / 2;
        // border-bottom: 1px solid lighten(@texts, 10%);
        // box-shadow: 0px 0px 20px rgba(000, 000, 000, 0.1);
        overflow: hidden;

        padding-right: 30px;
        padding-left: 30px;
        // padding-bottom: @height-navbar;
        // background-color: @brand-primary;

        .page-intro{
            // margin-bottom: @height-navbar / 3;
            // background-color: lighten(@brand-primary, 10%);
            overflow: auto;

            .col-md-12{
                padding-left: 0px;
                padding-right: 0px;
            }

            hgroup.section-title{
                margin-bottom: 0px;
                margin-top: 0px;
                position: relative;
                overflow: auto;
                margin-bottom: @padding-base-horizontal * 2;
                // margin-bottom: @height-navbar / 2;
                // background-color: lighten(@brand-primary, 10%);

                h1, h2, h3, h4, h5, h6, .page-title {
                    margin-top: 0px;
                    margin-bottom: 0px;
                    // margin-bottom: @height-navbar / 3;
                    // font-family:'Lato', Helvetica, Arial, sans-serif;
                    font-family: @font-title;
                    text-transform: uppercase;
                    // font-family: 'Roboto Slab', Helvetica, Arial, sans-serif;
                    font-weight: 300;

                }
                :before {
                    content: "";
                    display: block;
                    width: 30%;
                    height: 1px;
                    background-color: lighten(@texts, 30%);
                    margin: 11px auto;
                }
                :after {
                    content: "";
                    display: block;
                    width: 30%;
                    height: 1px;
                    background-color: lighten(@texts, 30%);
                    margin: 11px auto;
                }
            }

            .page-description{
                margin-bottom: 0px;
                // background-color: #FFF;
                // color: #000;

                p{
                    margin-bottom: 0px;
                }
            }
        }
    }
}

/* -------------------------------------------------------------- SECTIONS */


/* -------------------------------------------------------------- NAV */

nav.navbar-home {
    position: absolute;
}
nav#main-nav {
    background-color: @inner_background;
    background-color: transparent;
    position: absolute;
    top: -@height-navbar / 2;
    height: 500px;
    // height: @height-navbar;
    // bottom: 0px;
    z-index: 1;
    width: 100%;
    margin-bottom: 0px;
    border-radius: 0px;
    border: 0px;
    // box-shadow: 0px 0px 20px rgba(000, 000, 000, 0.1);

    .container, .container-fluid{
        height: 500px;
        // background-color: inner_background;
        background-color: transparent;
        padding-top: @padding-none;
        padding-bottom: @padding-none;
        border-bottom: 0px;
        box-shadow: none;

        .navbar-header{
            float: none;
            // width: @width-navbar * 1.5;
            height: @height-navbar + 24px;
            // width: @width-navbar + 20px;
            margin-left: auto;
            margin-right: auto;
            // background-color: @inner_background;
            // margin-top: 20px;
            // margin-bottom: 20px;

            position: absolute;
            left: 50%;

            .navbar-brand{
                height: @height-navbar + 24px;
                // width: @width-navbar + 20px;
                display: block;
                padding: 12px;
                margin-left: auto;
                margin-right: auto;
                box-shadow: 0px 0px 20px rgba(000, 000, 000, 0.1);
                background-color: @inner_background;

                position: relative;
                left: -50%;

                img#brand-img, img{
                    // width: @width-navbar;
                    width: auto;
                    height: @height-navbar;
                    box-shadow: 0px 0px 20px rgba(000, 000, 000, 0.1);
                    background-color: @inner_background;
                    // height: @height-navbar;
                    // width: auto;
                }
            }
        }


        .navbar-collapse{
            width: auto;
            background-color: @outer_background;
            position: absolute;
            bottom: 0px;

            .nav, .list, .navbar-nav{
                margin-bottom: 0px;
                margin-top: 0px;
                // padding-left: @height-navbar;
                // padding-left: @height-navbar / 4;

                a.navbar-nav-link{
                    color: @brand-primary;
                    text-transform: uppercase;
                    line-height: @height-navbar;
                    padding-top: @padding-none;
                    padding-bottom: @padding-none;
                    font-weight: 400;
                    // border-left: 1px solid lighten(@brand-primary, 10%);
                    // border-right: 1px solid darken(@brand-primary, 10%);
                }
                a:hover.navbar-nav-link{
                    color: lighten(@brand-primary, 30%);
                    ackground-color: @inner_background;
                }
                li.active{
                    a{
                        color: lighten(@brand-primary, 30%);
                        background-color: @inner_background;
                    }
                }
            }
        }

    }
}

.navbar-toggle{
    margin-top: 20px / 2;
    margin-right: 20px / 2;
    margin-bottom: 0px;
    margin-left: 0px;
    height: @height-navbar - 20px;
    width: @height-navbar - 20px;

    .icon-bar{
        width: 100%;
    }
}

 /* -------------------------------------------------------------- NAV ABSOLUTE */


nav#nav {
    // margin-top: -@height-navbar;
    // z-index: 999999;
    border-bottom: 0px;
    background-color: transparent;
    position: absolute;
    z-index: 1;
    bottom:0px;
    width: 100%;

    .container, .container-fluid{
        background-color: transparent;
        padding-top: 0px;
        padding-bottom: 0px;

        box-shadow: none;

        #navbar-overlay{
            padding-left: @padding-base-horizontal * 2;
            padding-right: @padding-base-horizontal * 2;



            .nav, .list, .navbar-nav{
                // box-shadow: 0px 0px 20px rgba(000, 000, 000, 0.8);
                margin-bottom: 0px;
                margin-top: 0px;
                // padding-left: @height-navbar;
                // padding-left: @height-navbar / 4;

                a.navbar-nav-link{
                    opacity:0.8;
                    background-color: @brand-primary;
                    color: @inner_background;
                    text-transform: uppercase;
                    line-height: @height-navbar / 1.5;
                    padding-top: @padding-none;
                    padding-bottom: @padding-none;
                    font-weight: 700;
                    // border-left: 1px solid lighten(@brand-primary, 10%);
                    // border-right: 1px solid darken(@brand-primary, 10%);
                }
                a:hover.navbar-nav-link{
                    opacity:1;
                    color: @texts;
                    background-color: @inner_background;
                }
                li.active{
                    a{
                        opacity:1;
                        color: @texts;
                        background-color: @inner_background;
                    }
                    a:hover{
                        opacity:1;
                        color: @brand-primary;
                        background-color: @inner_background;
                    }
                }
            }
        }

        // .navbar-toggle{
        //     background-color: #ccc;
        // }
    }
}

 /* -------------------------------------------------------------- NAV ABSOLUTE */


nav#nav-mobile {
    // margin-top: -@height-navbar;
    // z-index: 999999;
    border-bottom: 0px;
    background-color: transparent;
    // position: absolute;
    // z-index: 1;
    // bottom:0px;
    // width: 100%;

    .container, .container-fluid{
        background-color: transparent;
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;
        margin-left: 0px !important;
        margin-right: 0px !important;
        box-shadow: none;

        #navbar-overlay-mob{
            //padding-left: @padding-base-horizontal * 2;
            //padding-right: @padding-base-horizontal * 2;



            .nav, .list, .navbar-nav{
                // box-shadow: 0px 0px 20px rgba(000, 000, 000, 0.8);
                margin-bottom: 0px;
                margin-top: 0px;
                // padding-left: @height-navbar;
                // padding-left: @height-navbar / 4;
                color: @inner_background !important;

                a.navbar-nav-link{
                    // opacity:0.8;
                    background-color: @brand-primary;
                    color: @texts !important;
                    text-transform: uppercase;
                    line-height: @height-navbar / 1.5;
                    padding-top: @padding-none;
                    padding-bottom: @padding-none;
                    font-weight: 700;
                    // border-left: 1px solid lighten(@brand-primary, 10%);
                    // border-right: 1px solid darken(@brand-primary, 10%);
                }
                a:hover.navbar-nav-link{
                    opacity:1;
                    color: @texts;
                    background-color: @inner_background;
                }
                li.active{
                    a{
                        opacity:1;
                        color: @texts;
                        background-color: @inner_background;
                    }
                    a:hover{
                        opacity:1;
                        color: @brand-primary;
                        background-color: @inner_background;
                    }
                }
            }
        }

        .navbar-toggle{

            .icon-bar{
                background-color: @inner_background;
            }
        }
    }
}

 /* -------------------------------------------------------------- BANNER & CAROUSEL */

section#banner {
    // background-color: @texts;
    // height: 100%;
    overflow: hidden;
    // padding-top: @height-navbar;
    position: relative;


    .container, .container-fluid{
        border-bottom: 0px;
        margin-top: 0px;
        padding-top: 0px;
        padding-left: 0px;
        padding-right: 0px;
        position: relative;

        #nav-banner{
            border-bottom:0px;
        }

        .carousel-control{
            background-color: #ccc;

            .glyphicon{
                background-color: #ccc;
            }
        }

        .carousel-inner{
            background-color: @brand-primary;
            height: 500px;

            .banner-image-holder{
                height: 100% !important;
            }

            .item{
                height: 500px;
                // opacity:0.2;
                // background-color: @brand-primary;
                // background-color: @outer_background;
                // background-position:center;
                // background-repeat:no-repeat;
                // -webkit-background-size: cover;
                // -moz-background-size: cover;
                // -o-background-size: cover;
                // background-size: cover;
            }
        }

        h1, h2, h3, h4, h5, h6 {
            //font-size: 16px;
            //color: @brand-primary;
        }

    }
}

/* -------------------------------------------------------------- CAROUSEL */
.carousel{
    // background-color: @texts;

    .carousel-indicators{
        li{}
        .active{
            background-color: @brand-primary;
            border-color: @brand-primary;
        }
    }
    .carousel-inner{
        // background-color: @texts;
        // height: 100%;

        .banner-image-holder{
            // opacity:0.5;
        }

        .item{
            // opacity:0.2;
            // background-color: @brand-primary;
            // background-color: @outer_background;
            // background-position:center;
            // background-repeat:no-repeat;
            // -webkit-background-size: cover;
            // -moz-background-size: cover;
            // -o-background-size: cover;
            // background-size: cover;
        }
    }
    .carousel-control, .carousel-control.right, .carousel-control.right{
        background-image: none;

        .glyphicon{
            // background-color: @brand-primary;
            color: @brand-primary;
        }
    }

}

/* -------------------------------------------------------------- COMPANY */

section#company, section#custom-page {

    .container, .container-fluid{
        // padding-top: 0px;
        // background-color: darken(@inner_background, 10%);
        // padding-top: @height-navbar;
        // padding-bottom: @height-navbar / 2;


        .page-intro{
            // background: @brand-primary;
            // padding-top: @height-navbar / 2;


            hgroup.section-title{
            // border-bottom: 1px solid @brand-primary;
            // background: @brand-primary;
            position: relative;
            overflow: auto;

                h1, h2, h3, h4, h5, h6 {
                    // color: @inner_background;
                }

                // .goto{
                // }

                :after {
                    // background-color: @inner_background;
                }
            }

        }
    }

}
.page-description{
    // padding-top: @height-navbar / 4;
    padding-bottom: @height-navbar / 2;
}

/* -------------------------------------------------------------- LOOP GENERAL */

section.loop {

    .container, .container-fluid{

        hgroup.section-title{
            margin-bottom: 100px;
            position: relative;
            overflow: auto;

            // .goto{
            // }
        }
        .posts-loop{
            .post-column{

                a.post{
                    color: @texts;
                    background-color: darken(@inner_background, 5%);
                    // background-color: lighten(@outer_background, 10%);
                    // background-color: lighten(@brand-primary, 30%);
                    display: block;
                    margin-bottom: 30px;
                    position: relative;
                    // box-shadow: 2px 2px 8px darken(@inner_background, 10%);
                    // border: 1px solid lighten(@brand-primary, 30%);
                    // border: 1px solid darken(@outer_background, 10%);
                    // border-top: 1px solid @outer_background;
                    // border-bottom: 1px solid @outer_background;

                    .row{
                        margin-left: 0px;
                        margin-right: 0px;
                    }
                    .col-xs-12, .col-sm-6, .col-sm-12, .col-md-12{
                        padding-left: 0px;
                        padding-right: 0px;
                    }

                    .post-sx{
                        // padding-bottom: 0px;
                        // position: relative;
                        // background-color: @brand-primary;
                        // border-bottom: 1px solid lighten(@brand-primary, 30%);

                        .post-image{
                            opacity:1;

                        }

                        .post-type{
                            // background-color: @brand-primary;
                            // color: @brand-primary;
                            // height: 0px;
                            width: 100%;
                            position: absolute;
                            bottom: -28px;

                            .icon{
                                // margin-left: auto;
                                // margin-right: auto;
                                // background-color: @texts;
                                text-align: center;
                                color: @inner_background;
                                background-color: @outer_background;
                                position: relative;

                                width: 60px;
                                height: 60px;
                                line-height: 60px;
                                font-size: 20px;
                                display: inline-block;
                                border:1px solid @inner_background;
                                // box-shadow: 0px 0px 8px darken(@inner_background, 10%);
                                // border-top-left-radius: 50%;
                                // border-top-right-radius: 50%;
                                // border-bottom-left-radius: 50%;
                                // border-bottom-right-radius: 50%;
                            }
                        }
                    }
                    .post-dx{

                        // position: relative;
                        // padding-bottom: 15px;

                        .post-title{
                            margin-top: 50px;
                            font-size: @font-size-large;
                            padding: 0px @padding-base-horizontal 0px @padding-base-horizontal;
                            font-family: @font-title;
                            font-weight: 400;
                            text-transform: uppercase;
							word-wrap: break-word;
                        }
                        .post-description{
                            padding: 0px @padding-base-horizontal 0px @padding-base-horizontal;
							word-wrap: break-word;
                        }

                        .post-type{
                            // background-color: @brand-primary;
                            // color: @brand-primary;
                            // height: 0px;
                            width: 100%;
                            position: absolute;
                            top: -28px;

                            .icon{
                                // margin-left: auto;
                                // margin-right: auto;
                                // background-color: @texts;
                                text-align: center;
                                color: @inner_background;
                                background-color: @outer_background;
                                position: relative;

                                width: 60px;
                                height: 60px;
                                line-height: 60px;
                                font-size: 20px;
                                display: inline-block;
                                border:1px solid @inner_background;
                                // box-shadow: 2px 2px 8px darken(@inner_background, 10%);
                                // border-top-left-radius: 50%;
                                // border-top-right-radius: 50%;
                                // border-bottom-left-radius: 50%;
                                // border-bottom-right-radius: 50%;
                            }

                        }
                    }
                }
                .post-attributes{
                    margin-bottom: 0px;
                    // color:@texts;
                    // height: 0px;
                    // display: inline;

                    li{
                        // background-color: darken(@inner_background, 5%);
                        color:@texts;
                        // background-color: @brand-primary;
                        // background-color: lighten(@inner_background, 5%);
                        padding: @padding-base-horizontal;
                        margin-top: 1px;
                        font-weight: 700;
                        // border-bottom: 1px solid @outer_background;
                    }
                }
                :hover.post{
                    // background-color: @brand-primary;

                    .post-sx{
                        .post-image{
                            // opacity:0.5;
                        }
                    }

                    .post-dx{
                        .post-title{
                            color: lighten(@brand-primary, 20%)
                        }
                        .post-description, .post-attributes{
                            // color: @inner_background !important;

                            a{
                                // color: @inner_background;
                                // font-weight: bold;
                            }

                            li{
                                color: @inner_background !important;
                            }
                        }
                    }
                }
            }
            .juxtaposed-sm-true, .juxtaposed-md-true{
                text-align: left;

                .post-dx{
                    // height: 0px;
                    // background-color: #ccc;
                    // padding-bottom: 100%;
                    // position: absolute;
                }

                .post-title{
                    margin-top: 20px !important;
                }

                .post-type{
                    top:50% !important;
                    left:-1px !important;
                    margin-top: -28px;
                }
            }
        }
    }
}

.post-attributes{
    margin-bottom: 0px;
    // color:@texts;
    // height: 0px;
    // display: inline;

    li{
        // background-color: darken(@inner_background, 5%);
        color:@texts;
        // background-color: @brand-primary;
        // background-color: lighten(@inner_background, 5%);
        padding: 0px @padding-base-horizontal 0px @padding-base-horizontal;
        margin-top: 1px;
        font-weight: 700;
        // border-bottom: 1px solid @outer_background;
    }
}





/* -------------------------------------------------------------- LOOP NEWS */

section#loop-news {

    .container, .container-fluid{

        hgroup.section-title{
            // margin-bottom: 100px;
            // border-bottom: 1px solid @texts;
            // position: relative;
            // background: @texts;
            // overflow: auto;
        }
    }
}

/* -------------------------------------------------------------- LOOP ALBUMS */

section#loop-albums {
    // background-color: lighten(@texts, 5%);
    // color: @outer_background;
    overflow: auto;

    .container, .container-fluid{

        hgroup.section-title{
            // border-bottom: 1px solid @texts;
            // background: @texts;
        }

        .post{
            display: block;
            // margin-bottom: 30px;

            .post-dx{
                .post-title{
                    margin-top: 50px;
                    font-size: @font-size-base;
                    padding: @padding-base-horizontal;
                }
                .post-description{
                    padding: @padding-base-horizontal;
                }

                .post-attributes{
                    margin-bottom: @margin-none;

                    li{
                        padding: @padding-base-horizontal;
                        margin-top: 1px;
                    }
                }
            }
        }

        // .carousel-inner{
        //     background-color: transparent;

        //     .item{
        //         background-color: transparent;
        //     }
        // }
    }
}

section.loop-slyde-albums{

    .container, .container-fluid{
        background-color: @texts;
        padding-left: @padding-base-horizontal;
        padding-right: @padding-base-horizontal;

        .carousel-inner{
            background-color: transparent;

            .item{
                background-color: transparent;

                .post{
                    box-shadow: 2px 2px 8px darken(@texts, 10%);
                }
            }
        }
    }
}

/* -------------------------------------------------------------- LOOP EVENTS */

section#loop-events {
    // background-color: lighten(@outer_background, 10%);
    overflow: auto;

    .container, .container-fluid{

        hgroup.section-title{
            // border-bottom: lighten(@outer_background, 10%);
            // background: lighten(@outer_background, 10%);
        }

        .post{
            // color: @texts;
            // background-color: lighten(@outer_background, 20%);
            display: block;
            // margin-bottom: 30px;
            // border: 1px solid lighten(@outer_background, 20%);

            .post-attributes{
                margin-bottom: @padding-base-horizontal;
                // margin-bottom: @margin-none;
                // height: 0px;
                // display: inline;

                li{
                    background-color: transparent;
                    padding: 0px @padding-base-horizontal 0px @padding-base-horizontal ;
                    margin-top: 1px;

                    // border-bottom: 1px solid @outer_background;
                }
            }
        }
    }
}

/* -------------------------------------------------------------- PAGINATION */

.pagination{
    border: 0px;

    li{
        a{
            font-weight: 700;
            border: 0px;
            background-color: @inner_background;
            // color: @outer_background;
        }
        a:hover{
            // background-color: @brand-primary;
            // color: @outer_background;
        }
        .active{
            // background-color: @brand-primary;
            color: @texts;
        }
		span.navigation-disabled, span.navigation-disabled:hover{
			font-weight: 700;
			border: 0px;
			background-color: @inner_background;
		}
    }

}

/* -------------------------------------------------------------- PAGINE INTERNE */

.page{
    .wrapper{
        section.loop, section#loop-albums, section#loop-events, section#loop-news, section#map, section#contact-form {
        // background-color: @outer_background;
        // padding-top: @height-navbar * 1.5;

            .container, .container-fluid{
                padding-bottom: @height-navbar / 2;

                .section-title{
                    h1, h2, h3, h4, h5, h6 {
                         color: @brand-primary;
                    }
                }
            }


        }
        section#loop-albums{
            // background-color: @texts;
        }
    }
}

/* -------------------------------------------------------------- HOME */

.index{
    .wrapper{
        section.loop, section#loop-albums, section#loop-events, section#loop-news, section#map, section#contact-form {
        // background-color: @outer_background;



            .container, .container-fluid{
                padding-top: 0px;
                padding-bottom: 0px;
                // background-color: #000;
            }
        }
    }
}
section.single-detail-page{
    // padding-top: @height-navbar;
    text-align: left;
}

/* -------------------------------------------------------------- CONTACTS */
section#map {

    .container, .container-fluid{
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 0px;

        #map-canvas{
            height: 500px;
        }
    }
}

#map-canvas{
    min-height: 250px;
    height: 263px;
    padding-left: @padding-base-horizontal;
    // position: absolute;
    // top: 0px;
    // left: 0px;
    // right: 0px;
    // bottom: 0px;
}

#contact-form-map{
    background-color: #ccc;
}

.map{
    position: relative;
}


/* -------------------------------------------------------------- CONTACTS */
section#contact-form {
    background-color: @inner_background;
    padding-bottom: @height-navbar / 2;

    .container, .container-fluid{


        .page-intro{
            hgroup.section-title{
                position: relative;
                overflow: auto;

                h1, h2, h3, h4, h5, h6 {
                    // color: @brand-primary;
                }
            }

            .page-description{
                // color: lighten(@outer_background, 20%);
            }
        }

        .privacy-module{
            margin-bottom: 0px;
            margin-top: 0px;
            line-height: 100%;
        }
        .question{
            // display: block;
            // padding: 5px;
            // border: 1px solid @brand-primary;
        }

        .input-group-addon{
            color: @texts;
        }
    }
}

/* -------------------------------------------------------------- FOOTER */

section#footer {
    text-align: left;
    background-color: transparent;
    // background-color: @texts;
    color: @inner_background;
    border: none;
    font-size: 12px;

    .container, .container-fluid{
        padding-left: 0px;
        padding-right: 0px;
        background-color: transparent;
        color: @inner_background;
        padding-top: 0px;
        // padding-top: @height-navbar / 1.5;
        padding-bottom: @height-navbar / 1.5;
        font-weight: 700;

        h1, h2, h3, h4, h5, h6 {
            font-family:@font-title;
            font-size: @font-size-base;
            font-weight: 700;
            // color: @brand-primary;
        }

        address{
            span{
                font-size: 12px;
                display: block;
            }
        }

        #footer-nav-links{
            .list{
                padding-bottom: 10px;
                // border-bottom: 1px solid lighten(@texts, 10% );

                li{
                    padding-top: 0px;
                    padding-bottom: 0px;

                    .navbar-nav-link{
                        display: block;
                        padding-top: 0px;
                        padding-bottom: 0px;
                    }
                }
            }
        }

        #company_social_links{
            // background-color: @inner_background;
            // padding-bottom: @height-navbar / 2;
            margin-top: 22px;
            font-size: floor((@font-size-base * 2));

            ul.nav-justified{
                margin-left: 0px;

                li.list-single-social{
                    margin-left: 0px;
                    margin-right: 0px;
                    padding-left: 0px;
                    padding-right: 0px;

                    .fa-facebook, .fa-facebook-square{
                        color: @inner_background;
                    }
                    .fa-twitter, .fa-twitter-square{
                        color: @inner_background;
                    }
                    .fa-vimeo, .fa-vimeo-square{
                        color: @inner_background;
                    }
                    .fa-youtube, .fa-youtube-play{
                        color: @inner_background;
                    }

                    .fa-skype, .fa-skype-square{
                        color: @inner_background;
                    }
                }
            }
        }

        .facebook a {
            background-color: @facebook-color;
            display: block;
        }
        .twitter a{
            background-color: @twitter-color;
            display: block;
        }
        .vimeo a{
            background-color: @vimeo-color;
            display: block;
        }
        .youtube a{
            background-color: @youtube-color;
            display: block;
        }

        .skype a{
            background-color: @skype-color;
            display: block;
        }

        #credits{
            font-size: @font-size-small;
            a{
                color: #F90;
            }
            a:hover{
                color: darken(#F90, 15%);
            }
        }
		.hours-small{
			margin-bottom:20px;
			.hours-status-now{
				font-weight: 300;
			}
		}
    }
}
#main-nav > .container {
    overflow:hidden;
    position:relative;
}

body.store-page{
	.navbar.navbar-store{
		margin-bottom: 20px;
		.navbar-collapse{
			background-color: @inner_background;
			padding:0;
		}
		.navbar-right{
			margin-right: 0;
		}
	}
	.shopping-cart-btn-container p.pull-right{
		margin: 8px 8px 0 0;
	}
	.product-attributes h5{
		font-size: 1.8em;
	}
}
