
#contacts{
  background-color: @mjk_bg;
  color: @mjk_text;
  .row:first-child{
    margin-bottom: 20%;
  }

  #rights{
    border-top: 1px solid white;
    margin-top: 25px;
  }
}


@media only screen and (min-width : 768px) {
  #contacts > .container{
    margin-top: 200px;
  }
}
