#exterior{
    background-color: @mjk_bg;

    #title{
      height: 14%;
      width: auto;
      #img{
        .imgTitle('/templates/lessTemplate/exterior.png');
      }
    }

  #secondRow{
    height: 58%;
    margin-bottom: 4%;

    div:first-child{
      margin-bottom: 2%;
    }

    div{
      height: 50%;

      .image{
        height: 100%;
        .thumbnail;
      }
    }
  }

  #thirdRow{
    height: 28%;
    div{
      height: 100%;

      .image{
        height: 100%;
        .thumbnail;
      }
    }
  }
}





@media only screen and (min-width : 992px) {

  #exterior{
    padding-left: 100px;
    padding-right: 100px;
    #secondRow{
      height: 27% !important;
      margin-bottom: 2%;

      div:first-child{
        margin-bottom: 0;
      }

      div{
        height: 100%;



        .image{
          .thumbnail;
          height: 100%;
        }
      }
    }

    #thirdRow{
      height: 27% !important;
      margin-bottom: 2%;
      div{
        height: 100%;

        .image{
          .thumbnail;
          height: 100%;
        }
      }
    }

  .lastRow{
    display: block !important;
    height: 27%;

    div{
      height: 100%;

      .image{
        .thumbnail;
        height: 100%;
      }
    }
  }

  }


}
