#menu{
  background-color: @mjk_nav_bg;
  #myNavbar{
    ul{
      li{
        a{
          color: @mjk_nav_text;
        }
        }
      }
    }
}



@media only screen and (min-width : 768px) {
  #menu{
    bottom: 0;
    top: auto;
    margin-bottom: 0;
      border:0;
      background-color: @mjk_nav_bg;
      display: flex;
      position: absolute;

      .navbar-header{
        display: none;
      }
  }
}
