#plan{
  background-image: url('http://resumee.net/wp-content/uploads/2016/01/house-plans-by-cost-to-build-in-cost-ro-build-modern-home-kid-room-duobux.jpg');
  background-size: cover;
  background-position: center;

  #title{
    height: 14%;
    width: auto;
    #img{
      .imgTitle('/templates/lessTemplate/plan.png');
    }
  }

  #buttonRow{
    margin-top: 40%;
    text-align: center;

    button{
      background-color: @mjk_link_text;
    }
  }

}
