#project{
  background-image: url('http://www.genovic.com/thumbs/2014/06/Nature-Wallpaper-HD-for-Desktop-Free-Download-Full-Size.jpg');
  background-size: cover;
  background-position: center;

  .row{
    div{
      text-align: center;
      width: 205px;
      
      #titleImg{
        background-image: url('/templates/lessTemplate/title.png');
        background-repeat: no-repeat;
        height: 70px;
      }
    }
  }

}
