// defolt stiles for shop section in templates
.breadcrumb{
	background-color: lighten(@mjk_shop, 10%);
}

ul.pagination{
	a{
		background-color: lighten(@mjk_shop, 10%);
		color: @mjk_shop_link;
	}
}

#shop{
	background-color: @mjk_shop;
	// background-image: repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(255,255,255,.1) 35px, rgba(255,255,255,.1) 70px);
	color: @mjk_shop_txt;
	text-align: @align-center;
	
	h1, h2, h3, h4, h5, h6{
		color: @mjk_shop_h_titles;
	}

	a{
		color: @mjk_shop_link;
	}
	.btn-default{
		color: @mjk_shop_link;
		background-color: lighten(@mjk_shop, 10%);
		border-color: @mjk_shop_link;
	}
	.btn-primary{
		color: lighten(@mjk_shop, 10%);
		background-color: @mjk_shop_link;
		border-color: @mjk_shop_link;

		-webkit-transition: all 0.7s ease;
		transition: all 0.7s ease;
	}
	.btn-primary:hover {
		zoom: 150%;
		box-shadow: 0 10px 6px -6px grey;
	}
	
	.shop-nav{
		#cats{}
		#cats li a{
			background-color: darken(@mjk_shop, 40%);
			border-radius: @squared-corners;
		}
		text-align: @align-left;
	}
	#loop-shop{
		margin-top: 30px;
		// background-color: #FF0000;
	}
	.product{
		a{color: @mjk_shop_txt;}

		.price{
			font-weight: bold;
			font-size: @font-size-large;
			margin-bottom: @grid-gutter-width;
			padding: 5px 10px;
			border-radius: 0px;
		}
		.new{
			background-color: #8BB6D0;
			color: lighten(@mjk_shop, 10%);
		}
		.img{
			margin-bottom: 0px;
			// border:1px solid lighten(@mjk_shop, 100%);
			padding: 0px;
			border-radius: 0px;
		}
		h3, .product-title{
			font-size: 16px;
		}
		.product-content{
			padding: 0px @grid-gutter-width;
			margin-bottom: 0px;
			background-color: transparent;
			border:0px;
			box-shadow: none;
		}
		border-radius: @squared-corners;
		background-color: lighten(@mjk_shop, 10%);
		text-align: @align-left;
		border:0px;
	}
}

@media only screen and (max-width: 480px){
	h3{
		font-size: 12px;
	}
}