#text{
  .row{
    #titleDiv{
      margin-bottom: 20px;

      color: @mjk_text;
    }

    div{
      color: @mjk_text;
      }
  }
}


@media only screen and (min-width : 768px) {
  #text{
    p{
      column-count: 2;
    }
  }

  #text > .container-fluid{
        margin-top: 200px;
      }
}
