<script src="http://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>

{% if NODE_ENV == 'development' %}
<!-- build:js common.js -->
<script src="/components/moment/moment.js"></script>
<script src="/components/jquery/dist/jquery.min.js"></script>
<script src="/components/lodash/lodash.min.js"></script>
<script src="/components/ramda/dist/ramda.min.js"></script>
<script src="/components/jquery-ui/jquery-ui.min.js"></script>
<script src="/components/bootstrap/dist/js/bootstrap.min.js"></script>

<script src="/components/rxjs/dist/rx.all.js"></script>
<script src="/components/angular/angular.js"></script>
<script src="/components/angular-rx/dist/rx.angular.js"></script>
<script src="/components/angular-animate/angular-animate.min.js"></script>
<script src="/components/angular-cookies/angular-cookies.min.js"></script>
<script src="/components/angular-bootstrap/ui-bootstrap.min.js"></script>
<script src="/components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script src="/components/angular-recaptcha/release/angular-recaptcha.min.js"></script>
<script src="/js/contacts/_module.js"></script>
<script src="/js/main.js"></script>
<script src="/js/utils.ng.js"></script>

<script src="/js/modernizr.custom.64951.js"></script>
<script src="/__plugins/jsliang-eqHeight.coffee-e604543/jquery.eqheight.js"></script>
<script src="/js/page-search/_module.js"></script>
<!-- endbuild -->
{% else %}
<script src="/js/concat/common.js"></script>
{% endif %}

{% if is_main_homepage %}

    {% if NODE_ENV == 'development' %}
    <!-- build:js main-homepage.js -->
    <script src="/js/homepage.js"></script>
    <!-- endbuild -->
    {% else %}
    <script src="/js/concat/main-homepage.js"></script>
    {% endif %}


{% else %}{# questo è per le pagine di editor e di manager #}

    {% if NODE_ENV == 'development' %}
    <!-- build:js internal.js -->
    <script src="/components/webfontloader/webfontloader.js"></script>
    <script src="/components/jquery-minicolors/jquery.minicolors.min.js"></script>
    <script src="/components/angular-minicolors/angular-minicolors.js"></script>
    <script src="/components/angular-ui-sortable/sortable.min.js"></script>
    <script src="/components/angular-bootstrap-colorpicker/js/bootstrap-colorpicker-module.min.js"></script>
    <script src="/components/bootbox/bootbox.min.js"></script>

    {# da valutare se devono essere inseriti qui o meno #}

    <script src="/components/textAngular/dist/textAngularSetup.js"></script>
    <script src='/components/textAngular/dist/textAngular-rangy.min.js'></script>
    <script src='/components/textAngular/dist/textAngular-sanitize.min.js'></script>
    <script src='/components/textAngular/dist/textAngular.js'></script>
    <script src='/components/braintree-angular/dist/braintree-angular.js'></script>
    <script src="/components/angular-ui-mask/dist/mask.js"></script>
    <script src="/components/slick-carousel/slick/slick.js"></script>
    <script src="/components/angular-slick/dist/slick.js"></script>
    <script src="/components/Sortable/Sortable.min.js"></script>
    <script src="/components/Sortable/ng-sortable.js"></script>
    {# end da valutare #}

    <script src="/js/manager/_module.js"></script>
    <script src="/js/editor/_module.js"></script>
    {# Module "editor" i18n needs #}
    
    <script src="/js/tophost/page-selector.js"></script>
    <script src="/js/internal.js"></script>
    {# <!-- <script src="/components/less/dist/less.js"></script> --> #}
    <!-- endbuild -->
    {% else %}
    <script src="/js/concat/internal.js"></script>
    {% endif %}
    <script type="text/javascript">
        angular.module('editor').constant('messagesText', {
            session_expired_title: "{= t('translation:editor.main.session_expired_title') =}",
            session_expired_body: "{= t('translation:editor.main.session_expired_body') =}",
            session_expired_do_access: "{= t('translation:editor.main.session_expired_do_access') =}",
            publish_alert_title: "{= t('translation:editor.main.publish_alert_title') =}",
            publish_alert_body: "{= t('translation:editor.main.publish_alert_body') =}",
            publish_alert_no: "{= t('translation:editor.main.publish_alert_no') =}",
            publish_alert_yes: "{= t('translation:editor.main.publish_alert_yes') =}",
            show_hide_message: "{= t('translation:editor.contenuti.show_hide_message') =}",
            show_hide_title: "{= t('translation:editor.contenuti.show_hide_title') =}",
            show_hide_cancel: "{= t('translation:editor.contenuti.show_hide_cancel') =}",
            show_hide_confirm: "{= t('translation:editor.contenuti.show_hide_confirm') =}",
            go_online: "{= t('translation:editor.pubblicazione.title') =}",
            sync_complete_body: "{= t('translation:editor.sync_done_buy.title') =}<br><small>{= t('translation:editor.sync_done_buy.subtitle') =}</small>",
            no_album_selected: "{= t('translation:editor.contenuti.no_album_selected') =}",
            close: "{= t('translation:editor.chiudi') =}",
            page_name:{
                'home': "{= t('translation:editor.contenuti.home') =}",
                'news': "{= t('translation:editor.contenuti.news') =}",
                'events': "{= t('translation:editor.contenuti.events') =}",
                'albums': "{= t('translation:editor.contenuti.gallery') =}",
                'contacts': "{= t('translation:editor.contenuti.contacts') =}",
                'extra-page': "{= t('translation:editor.contenuti.extra-page') =}"
            }
        });
    </script>
{% endif %}



<script type="text/javascript">
$(document).ready(function(event){

    $(".toggle").click( function(event){
      $(".pagewrap").addClass("active");
      $(".pagewrap").removeClass("active");
      // $(".editor-panel-container").removeClass("active");
    });

  $(".toggle-desktop").click( function(event){
    $(".toggle-desktop").addClass("active");
    $(".toggle-pad").removeClass("active");
    $(".toggle-phone").removeClass("active");
    
    $(".viewport").addClass("desktop-viewport");
    $(".viewport").removeClass("pad-viewport");
    $(".viewport").removeClass("phone-viewport");
  });
  $(".toggle-pad").click( function(event){
    $(".toggle-desktop").removeClass("active");
    $(".toggle-pad").addClass("active");
    $(".toggle-phone").removeClass("active");
    
    $(".viewport").removeClass("desktop-viewport");
    $(".viewport").addClass("pad-viewport");
    $(".viewport").removeClass("phone-viewport");
    
  });
  $(".toggle-phone").click( function(event){
    $(".toggle-desktop").removeClass("active");
    $(".toggle-pad").removeClass("active");
    $(".toggle-phone").addClass("active");
    
    $(".viewport").removeClass("desktop-viewport");
    $(".viewport").removeClass("pad-viewport");
    $(".viewport").addClass("phone-viewport");
  });
});
</script>


{# <script>
    (function() {
        function resizeIframe () {

            var windowW = $(window).width()
            var finalW = windowW - windowW * 16.6667/100

            if($(window).width() >= 992) {
                $(".window-width").css('width',finalW);
            } else {
                $(".window-width").css('width',$(window).width());

            }
        }
        resizeIframe()
        $(window).resize(resizeIframe);
    })()
</script> #}

{% include 'google-analytics.html' %}
{% include 'facebook-pixel.html' %}
{% include 'popcorn-metrics.html' %}
{% include 'hotjar-metrics.html' %}

<!-- Google fonts -->


<script type="text/javascript">

$(function() {
	$(".equal-row").eqHeight(".equal-col");
});

$(function() {
	// navigation click actions
	$('.scroll-link').on('click', function(event){
		event.preventDefault();
		var sectionID = $(this).attr("data-id");
		scrollToID('#' + sectionID, 750);
	});
	// scroll to top action
	$('.scroll-top').on('click', function(event) {
		event.preventDefault();
		$('html, body').animate({scrollTop:0}, 'slow');
	});
	// mobile nav toggle
	$('#nav-toggle').on('click', function (event) {
		event.preventDefault();
		$('#main-nav').toggleClass("open");
	});
});


function scrollToID(id, speed){
	var offSet = 10;
	var targetOffset = $(id).offset().top - offSet;
	var mainNav = $('#main-nav');
	$('html,body').animate({scrollTop:targetOffset}, speed);
	if (mainNav.hasClass("open")) {
		mainNav.css("height", "1px").removeClass("in").addClass("collapse");
		mainNav.removeClass("open");
	}
}


// window.fbAsyncInit = function() {
//   FB.init({
//     appId      : '262044553961671',
//     xfbml      : true,
//     version    : 'v2.1'
//   });

//   // ADD ADDITIONAL FACEBOOK CODE HERE
// };

$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})

</script>



{% if first_time %}

    <!--ClickMeter.com code for conversion: conversione-dal-blog -->
    <script type='text/javascript'>
        var ClickMeter_conversion_id = '3347C0D7498848ADBD7FDCCF5D9E1BF1';
        var ClickMeter_conversion_value = '0.00';
        var ClickMeter_conversion_commission = '0.00';
        var ClickMeter_conversion_commission_percentage = '0.00';
        var ClickMeter_conversion_parameter = 'empty';
    </script>
    <script type='text/javascript' id='cmconvscript' src='//s3.amazonaws.com/scripts-clickmeter-com/js/conversion.js'></script>
    <noscript>
        <img height='0' width='0' alt='' src='//www.clickmeter.com/conversion.aspx?id=3347C0D7498848ADBD7FDCCF5D9E1BF1&val=0.00&param=empty&com=0.00&comperc=0.00' />
    </noscript>

    <script type="text/javascript">
        fbq('track', 'CompleteRegistration');
    </script>

{% endif %}

<script>
$(function() {
    function resizePreview() {
        if($('#browser-window').length) {
            $('#browser-window > .landing-site-preview').height($(window).height() - $('#browser-window').position().top - $('#browser-window > .browser').height())
        }
    }
    $(window).on('resize', resizePreview)
    resizePreview()
})
</script>
