<!-- ***************Contacts**************************************-->
    <section class="section" id="contacts">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
              <h3>Nderim & Co. Ltd.</h3>
          </div>
        </div>

        <div class="row">
        <div class="col-sm-4">
          <div id="location">
            <h4>Location</h4>
            <p>AVENUE STREET, 88520</p>
            <P>Colorado</P>
            <p>USA</p>
          </div>
        </div>


          <div class="col-sm-4">
            <div id="sales">
              <h4>Sales</h4>
              <p>OXFORDLINES STREET, 11020</p>
              <P>Oxford</P>
              <p>UK</p>
            </div>

          </div>

          <div class="col-sm-4">
            <div id="info">
              <h4>Info</h4>
              <p>email: rimitopalli@gmial.com</p>
              <p>developed by: Nderim Topalli</p>
              <p>Udine</p>
            </div>
          </div>
          </div>


        <div id="rights">
          <p>@all rights reserved NderimTopalli</p>
        </div>
      </div>

    </section>
    <!-- ***************PLAN**************************************-->
