<!-- ***************Interior**************************************-->
    <section class="section" id="interior">
      <div class="container-fluid">
        <div class="row" id="title">
          <div id="img"></div>
        </div>



          <div class="row" id="secondRow">
            <div class="col-md-8 ">
              <div class="image"></div>
            </div>
            <div class="col-md-4 ">
              <div class="image"></div>
            </div>
          </div>


          <div class="row" id="thirdRow">
            <div class="col-md-4" >
              <div class="image"></div>
            </div>
            <div class="col-md-8 lastRow">
              <div class="image"></div>
            </div>
          </div>


          <div class="row lastRow">
            <div class="col-md-8">
              <div class="image"></div>
            </div>
            <div class="col-md-4" >
              <div class="image"></div>
            </div>
          </div>
      </div>
    </section>
<!-- ***************PLAN**************************************-->
