
  <nav class="navbar navbar-default navbar-fixed-top" id="menu">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">H - O - T - C</a>
      </div>
       <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav col-centered">
            <li>
                <a href="#project">PROJECT</a>
            </li>
            <li>
                <a href="#text">ABOUT</a>
            </li>
            <li>
                <a href="#exterior">EXTERIOR</a>
            </li>
            <li>
                <a href="#plan">PLAN</a>
            </li>
            <li>
                <a href="#interior">INTERIOR</a>
            </li>
            <li>
                <a href="#contacts">CONTACTS</a>
            </li>
          </ul>

      </div>
    </div>
  </nav>
