<!-- ***************PLAN**************************************-->
    <section class="section" id="plan">
      <div class="container-fluid">
        <div class="row" id="title">
          <div id="img"></div>
        </div>

        <div class="row" id="buttonRow">
          <div class="col-xs-12">
            <button class="btn btn-default">Download Plan</button>
          </div>
        </div>
      </div>
    </section>
<!-- ***************PLAN**************************************-->
