<!-- ***************Text**************************************-->
      <section class="section" id="text">
        <div class="container-fluid" >
          <div class="row">

            <div class="col-md-4 col-xs-12" id="titleDiv">
              <h2>House on <br>The Clif</h2>
            </div>

            <div class="col-md-8 col-xs-12">
              <p id="loremText">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Delectus quisquam beatae sit eaque excepturi non, provident sequi eos ab nisi tempore maiores repellat perferendis repellendus,
                qui odit cumque! Nisi, odio?
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Blanditiis quae rerum qui numquam dolorem eius et iste sed tempore voluptas? Soluta id deserunt earum, laborum?
              Inventore odio porro corrupti quo.
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Praesentium itaque voluptatem libero at ipsa rem perferendis,
                culpa tenetur explicabo iusto ea harum obcaecati optio, in aspernatur beatae sapiente porro ducimus
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Praesentium voluptatem odit, molestias possimus quae eum labore impedit tenetur quia corporis voluptas, qui optio inventore sapiente
              <span class="lastRow">
                ducimus ea suscipit! Consequatur, reprehenderit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati dolores quibusdam quaerat provident necessitatibus consectetur,
                quidem maiores ipsam pariatur, rerum quisquam, labore magnam amet asperiores corporis sint accusantium molestiae ex.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Perferendis quia iste, obcaecati ex repellat, saepe pariatur soluta,
                necessitatibus quasi odit cum, a sequi veniam officiis.
                Molestiae assumenda voluptas, dolorum pariatur.
              </span>
            </p>
            </div>
          </div>

        </div>
      </section>
<!-- ***************Text**************************************-->
