/*!
	jQuery XML Store / Shop - Shopping Cart
	Created by LivelyWorks - http://livelyworks.net
	Ver. 1.5.5 - 02 DEC 2014
*/
body {
	overflow:auto;
  /*padding-bottom: 20px;*/
}

a {
    outline: none!important;
}

.disable-scrolling {
    /*overflow: hidden;*/
}

label.error {
    color: #b94a48;
}

.fl{
	float:left;
}

.fr{
	float:right;
}

.clear{
	clear:both;
}

.left-align, td.left-align, th.left-align {
	text-align:left;
}
.right-align, td.right-align, th.right-align {
	text-align:right;
}

.center-align, td.center-align , th.center-align {
	text-align:center;
}

.modal .lw-modal-body {
  padding: 5px;
}

.lw-modal-body img {
	margin: 8px;
}

.no-cursor {
	cursor: default;
}

.shopping-cart-btn-container {
	display: inline-block; float: right;
}

/* item specifics */

/* product details modal footer height */
.product_details_modal .modal-footer{
	height:50px;
}
/* cart holder modal footer height */
#cartHolder .modal-footer{
		height:80px;
}
/* show cart button top margin */
#showCart{
	margin-top:40px;
}

/* Categories breadcrumb color */
#productsBreadcrumb {
	/*color:#aaa;*/
	border-bottom: 1px #dddddd solid;  border-radius: 0;
}
/* Current Category */
.active-category {
	margin-left:1px;
}
/* Current Category link */
.bs-2 .active-category a {
	background:#fff;
	color:#FAA732;
}

.bs-3 .list-group-item a {
    color: #555;
    text-decoration: none;
}

.bs-3 .list-group-item.active-category, .bs-3 .list-group-item.active-category:hover, .bs-3 .list-group-item.active-category:focus, .bs-3 .list-group-item.active-category a {
    z-index: 2;
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
}

.bs-3 .list-group-item:hover, .bs-3 .list-group-item:focus {
    color: #555;
    text-decoration: none;
    background-color: #f5f5f5;
}

#current_products_count {
	margin-top:8px;
}




/* Thumbnail image holder */
.thumb-holder {
	margin:0 auto;
	min-width:100px;
	max-height:200px;
    padding: 10px;
	overflow:hidden;
	background:#ffffff url(../img/ajax-loader.gif) center center no-repeat;
	-webkit-border-radius: 4px;
	  -moz-border-radius: 4px;
	  border-radius: 4px;
	  text-align: center;
}

.thumbnail a {
  color: white !important;
}

.panel-heading .panel-title {
  font-size: 18px !important;
}

.modal-dialog {
  z-index: 1050;
  margin-top: 90px;
}

#addToCartBtnContainer a {
  color: white;
}

.modal .order-page-body {
  padding-top: 1px;
}

.product-item {
	width 				: 185px;
	/*background 			: rgba(255,255,255,0.06); */

	-webkit-opacity 	: 0;
	-moz-opacity 		: 0;
	 opacity 			: 0;

	margin: 20px 20px 0px 0!important;

	-webkit-transition  : margin-top .5s ease-in-out, opacity .5s ease-in-out, background .3s ease-in-out;
    -moz-transition     : margin-top .5s ease-in-out, opacity .5s ease-in-out, background .3s ease-in-out;
    -ms-transition      : margin-top .5s ease-in-out, opacity .5s ease-in-out, background .3s ease-in-out;
    -o-transition       : margin-top .5s ease-in-out, opacity .5s ease-in-out, background .3s ease-in-out;
     transition         : margin-top .5s ease-in-out, opacity .5s ease-in-out, background .3s ease-in-out;
     text-align         : center;

     -webkit-border-radius: 4px;
	  -moz-border-radius: 4px;
	  border-radius: 4px;
}

.bs-3 .product-item {
    list-style: none;
}

.product-item.fade-in {
	margin: 0px 20px 20px 0!important;
	-webkit-opacity: 1;
	  -moz-opacity: 1;
	  opacity: 1;
}

.bs-2 .product-item:hover{
  background: rgba(0,0,0,0.2);
}

.product-item .thumb-holder img {
	-moz-transition: 0.6s;
	-webkit-transition: 0.6s;
	transition: 0.6s;

	max-width:100%;
}

.product-item .thumb-holder img:hover {

	-moz-transform: scale(1.1) rotate(0.01deg);
	-webkit-transform: scale(1.1) rotate(0.01deg);
	transform: scale(1.1) rotate(0.01deg);
}

.product-attributes {
	color:#aaa;
}

.container.page-content .product-attributes a {
  color: white;
}

#productsContainer {
    padding: 10px;
}

#productsContainer .product-name {
	font-size:110%;
}

/* Price amount color */
.product-price {
	color:#c80000;
}
#productsContainer .product-price{
	font-size:130%;
}

/* Product summery */
.product_sum{
	min-height:70px;
}

.old-product-price {
	color:#aaa; text-decoration: line-through; font-size:90%; font-weight: normal;
}

/* sidebar navigation */
.sidebar-nav {
    padding: 9px 0;
 }

.lw-header-bar {
	background-color: #2c2c2c;
	background-image: -moz-linear-gradient(top, #333333, #222222);
	background-image: -ms-linear-gradient(top, #333333, #222222);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333333), to(#222222));
	background-image: -webkit-linear-gradient(top, #333333, #222222);
	background-image: -o-linear-gradient(top, #333333, #222222);
	background-image: linear-gradient(top, #333333, #222222);
	background-repeat: repeat-x;
}

.bs-3 .lw-header-bar {
    padding: 8px;
}

.lw-nested-group-controls .controls{
    margin-bottom: 10px;
}

#searchedProductCounts {
    display: inline-block; padding: 4px; color: #898989;
}

.bs-callout-danger {
 border-left-color: #d9534f!important;
}
.bs-callout {
padding: 10px;
margin: 10px 0;
border: 1px solid #eee;
border-left-width: 5px;
border-radius: 3px;
color: #aaa;
}

.color-red {
    color: #d9534f;
}
.bs-3-form label.error{
    text-decoration: none; font-weight: normal; display: inline-block; padding: 4px 0 0 0; font-size: 80%;
}

.preloader {
  font-size: 10px;
  margin: 5em auto;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load4 1.3s infinite linear;
  animation: load4 1.3s infinite linear;
}
@-webkit-keyframes load4 {
  0%,
  100% {
    box-shadow: 0em -3em 0em 0.2em #ffffff, 2em -2em 0 0em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 -0.5em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 0em #ffffff;
  }
  12.5% {
    box-shadow: 0em -3em 0em 0em #ffffff, 2em -2em 0 0.2em #ffffff, 3em 0em 0 0em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 -0.5em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 -0.5em #ffffff;
  }
  25% {
    box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 0em #ffffff, 3em 0em 0 0.2em #ffffff, 2em 2em 0 0em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 -0.5em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 -0.5em #ffffff;
  }
  37.5% {
    box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 0em #ffffff, 2em 2em 0 0.2em #ffffff, 0em 3em 0 0em #ffffff, -2em 2em 0 -0.5em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 -0.5em #ffffff;
  }
  50% {
    box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 0em #ffffff, 0em 3em 0 0.2em #ffffff, -2em 2em 0 0em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 -0.5em #ffffff;
  }
  62.5% {
    box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 0em #ffffff, -2em 2em 0 0.2em #ffffff, -3em 0em 0 0em #ffffff, -2em -2em 0 -0.5em #ffffff;
  }
  75% {
    box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 0em #ffffff, -3em 0em 0 0.2em #ffffff, -2em -2em 0 0em #ffffff;
  }
  87.5% {
    box-shadow: 0em -3em 0em 0em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 0em #ffffff, -3em 0em 0 0em #ffffff, -2em -2em 0 0.2em #ffffff;
  }
}
@keyframes load4 {
  0%,
  100% {
    box-shadow: 0em -3em 0em 0.2em #ffffff, 2em -2em 0 0em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 -0.5em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 0em #ffffff;
  }
  12.5% {
    box-shadow: 0em -3em 0em 0em #ffffff, 2em -2em 0 0.2em #ffffff, 3em 0em 0 0em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 -0.5em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 -0.5em #ffffff;
  }
  25% {
    box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 0em #ffffff, 3em 0em 0 0.2em #ffffff, 2em 2em 0 0em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 -0.5em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 -0.5em #ffffff;
  }
  37.5% {
    box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 0em #ffffff, 2em 2em 0 0.2em #ffffff, 0em 3em 0 0em #ffffff, -2em 2em 0 -0.5em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 -0.5em #ffffff;
  }
  50% {
    box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 0em #ffffff, 0em 3em 0 0.2em #ffffff, -2em 2em 0 0em #ffffff, -3em 0em 0 -0.5em #ffffff, -2em -2em 0 -0.5em #ffffff;
  }
  62.5% {
    box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 0em #ffffff, -2em 2em 0 0.2em #ffffff, -3em 0em 0 0em #ffffff, -2em -2em 0 -0.5em #ffffff;
  }
  75% {
    box-shadow: 0em -3em 0em -0.5em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 0em #ffffff, -3em 0em 0 0.2em #ffffff, -2em -2em 0 0em #ffffff;
  }
  87.5% {
    box-shadow: 0em -3em 0em 0em #ffffff, 2em -2em 0 -0.5em #ffffff, 3em 0em 0 -0.5em #ffffff, 2em 2em 0 -0.5em #ffffff, 0em 3em 0 -0.5em #ffffff, -2em 2em 0 0em #ffffff, -3em 0em 0 0em #ffffff, -2em -2em 0 0.2em #ffffff;
  }
}
