<h2>Acquisto su Majeeko.</h2>

<p>ID Ordine: {= _id.toString() =}</p>
<p>ID Pagina: {= facebook_page_id =}</p>
{# <p>Dominio ricercato: {= dominio =}</p> #}
<p>Domini:</p>
<ul>
	{% for domain in domains %}
	<li>{= domain =}</li>
	{% endfor %}
</ul>
<p>Ragione Sociale: {= billing_info.business_name =}</p>
<p>Partita IVA: {= billing_info.vat =}</p>
<p>Nome: {= billing_info.first_name =}</p>
<p>Cognome: {= billing_info.last_name =}</p>
<p>Codice Fiscale: {= billing_info.ssn =}</p>
<p>Telefono: {= billing_info.phone =}</p>
<p>Email: {= billing_info.email =}</p>
<p>Indirizzo: {= billing_info.address =}</p>
<p>Cap: {= billing_info.zip =}</p>
<p>Comune: {= billing_info.city =}</p>
<p>Provincia: {= billing_info.province =}</p>
<p>Prezzo Totale: {= total =}</p>

<h3>Operazioni da fare:</h3>

<ul>
	<li>acquistare domini</li>
	<li>configurare DNS</li>
	<li>configurare 2 caselle e-mail</li>
	<li>configurare ReCaptcha per i domini acquistati</li>
</ul>