<address>
    <h1>
    {# &copy;  #}
    {= page.configuration.settings.nome_sito||page.data.pageData.name =}</h1>
    {% if page.configuration.settings.partita_iva %}
    <span class="vat-code">{= t('template:footer.piva') =} {= page.configuration.settings.partita_iva =}</span>
    {% endif %}
    <span class="address">{= page.data.pageData.location.street =} {= page.data.pageData.location.city =}</span>
    {% if page.configuration.settings.phone %}
    <span class="phone">
    {= t('template:footer.phone') =}: <a href="tel:{= page.configuration.settings.phone =}">
            {= page.configuration.settings.phone =}</a>
    </span>
    {% endif %}
    {# {% if page.data.pageData.emails %}
    <span> <a href="mailto:{= page.pageData.emails =}">{= page.data.pageData.emails =}</a> </span>
    {% endif %} #}
</address>



{# {% if page.data.pageData.hours %}
    <div class="container">
        <div class="row">
            {% for day, v in page.data.pageData.hours %}
                <!-- nome del giorno -->
                <div class="col-md-1">
                <h3>{= day =}</h3>

                {% for h in v %}
                <!-- orario -->
                    {= h[1]=}
                {% endfor %} 
                </div>
            {% endfor %}
        </div>
    </div>
{% endif %} #}
