{# {% for index,item in page.configuration.settings.menu %}
	{% if item.active %}
	<li>
		<a class="navbar-nav-link" href="/{= item|getItemSlug =}">
			<span class="nav-label">{= item.label =}</span>
		</a>
	</li>
	{% endif %}
{% endfor %} #}
