{% if page|getHours %}
    <div class="hours-small">
        {% if page|getHours('now-status') %}
        <div class="hours-status-now">
            {% if page|getHours('now-status') == "open" %}Ora siamo aperti{% endif %}
            {% if page|getHours('now-status') == "closed" %}Ora siamo chiusi{% endif %}
        </div>

        {% if page|getHours('today-hours') %}
            <div class="hours-today"><span class="hours-today-label">Gli orari di oggi:</span> <span class="hours-today-value">{= page|getHours('today-hours') =}</span></div>
        {% endif %}

    </div>
{% endif %}
