
    <li>
        <a href="{= page.data.pageData.link =}" rel="publisher" target="_blank" class="company_social_link">
            <i class="f fa fa-facebook-square"></i>
        </a>
    </li>

    {% if page.configuration.settings.social.twitter %}
    <li>
        <a href="{= page.configuration.settings.social.twitter =}" rel="publisher" target="_blank" class="company_social_link">
            <i class="twitter fa fa-twitter-square"></i>
        </a>
    </li>
    {% endif %}

    {% if page.configuration.settings.social.vimeo %}
    <li>
        <a href="{= page.configuration.settings.social.vimeo =}" rel="publisher" target="_blank" class="company_social_link">
            <i class="vimeo fa fa-vimeo-square"></i>
            {# <i class=" vimeo fa fa-vimeo"></i> #}
        </a>
    </li>
    {% endif %}

    {% if page.configuration.settings.social.youtube %}
    <li>
        <a href="{= page.configuration.settings.social.youtube =}" rel="publisher" target="_blank" class="company_social_link">
            <i class="youtube fa fa-youtube-play"></i>
        </a>
    </li>
    {% endif %}

    {% if page.configuration.settings.social.skype %}
        <li>
            <a href="skype:{= page.configuration.settings.social.skype =}" rel="publisher" target="_blank" class="company_social_link">
                <i class="skype fa fa-skype"></i>
            </a>
        </li>
    {% endif %}

    {% if page.configuration.settings.social.pinterest %}
        <li>
            <a href="{= page.configuration.settings.social.pinterest =}" rel="publisher" target="_blank" class="company_social_link">
                <i class="pinterest fa fa-pinterest-square"></i>
            </a>
        </li>
    {% endif %}

    {% if page.configuration.settings.social.instagram %}
        <li>
            <a href="{= page.configuration.settings.social.instagram =}" rel="publisher" target="_blank" class="company_social_link">
                <i class="instagram fa fa-instagram"></i>
            </a>
        </li>
    {% endif %}

    {% if page.configuration.settings.social.tripadvisor %}
        <li>
            <a href="{= page.configuration.settings.social.tripadvisor =}" rel="publisher" target="_blank" class="company_social_link">
                <i class="tripadvisor fa fa-tripadvisor"></i>
            </a>
        </li>
    {% endif %}

    {#
        <li>
            <a href="https://plus.google.com/107767713597132362773" rel="publisher" target="_blank" class="company_social_link">
                <i class="go fa fa-google-plus-square"></i>
            </a>
        </li>
    #}

