<div class="content-container lead">
    <div class="row">
        <div class="col-xs-12">
            {% set bannerImages = page|getBannerPictures %}

            {% include "../../__default/partials/banner-carousel.html" %}
            <div class="text-center company-text">
                <h2>
                    {% if page.configuration.settings.slogan.length>1 %}
                        {= page.configuration.settings.slogan =}
                    {% else %}
                        {= page.configuration.settings.nome_sito||page.data.pageData.name =}
                    {% endif %}
                </h2>
            </div>
            <div class="text-left company-text">
                <p>{= page.configuration.settings.profilo_aziendale | safe=}</p>
            </div>
        </div>
    </div>
</div>
