{% if page.data.pageData.location.latitude or page.configuration.settings.mail %}
    <div class="content-container" id="contacts-container">
        <h2 class="section-title">{= page|getSectionTitle('contacts') =}</h2>

        <div class="grid content-full-width">
            {% if page.data.pageData.location.latitude %}
                <div class="grid-item item-col-1 {% if page.configuration.settings.mail and isHome %}col-lg-6{% endif %}">
                    <div class="grid-item-content">
                        <div class="item-header">
                            <div class="icon">
                                <i class="fa fa-map-marker"></i>
                            </div>
                        </div>

                        {% include "../../__default/partials/footer/address.html" %}

                        <div class="no-gutter map">
                            <div style="height:50%" id="map-canvas"></div>
                        </div>
                        <script type="text/javascript">
                            var width_set = document.getElementById("contacts-container").offsetWidth *0.5;
                            document.getElementById("map-canvas").style.height = width_set + "px";
                        </script>

                        {% include "../../__default/partials/map.html" %}
                    </div>
                </div>
            {% endif %}

            {% if not isHome and  page|getHours('week-hours')  %}
                <div class="grid-item item-col-1">
                    <div class="grid-item-content">
                        <div class="item-header">
                            <div class="icon">
                                <i class="fa fa-clock-o"></i>
                            </div>
                        </div>
                        {% include "../../__default/partials/contact/hours-full.html" %}
                    </div>
                </div>
            {% endif %}

            {% if page.configuration.settings.mail %}
                <div id="" class="grid-item item-col-1 {% if page.data.pageData.location.latitude and isHome %}col-lg-6{% endif %}">
                    <div class="grid-item-content">
                        <div class="item-header">
                            <div class="icon">
                                <i class="fa fa-envelope"></i>
                            </div>
                            <h6 class="image-caption text-center truncate">{= t('template:navigation.contacts.title') =}</h6>
                        </div>

                        <div class="contact-form" id="contact-form" ng-controller="contactsCtrl" ng-cloak>

                            <form role="form" class="row" ng-submit="sendContactForm()" name="contactForm" ng-hide="formSuccess">
                                <div class="col-md-12 form-group"
                                     ng-class="{ 'text-danger': contactForm.email.$invalid && !contactForm.email.$pristine }">
                                    <input class="form-control input-md" id="InputEmail"
                                           placeholder="{= t('template:contacts.email') =}"
                                           ng-model="contactFormData.email" required
                                           type="email"
                                           name="email">
                                    <small class="text-danger"
                                           ng-show="contactForm.email.$invalid && !contactForm.email.$pristine">{= t('template:contacts.invalid_email') =}</small>
                                </div>

                                <div class="col-md-12 form-group">
                                    <input class="form-control input-md" id="InputName"
                                           placeholder="{= t('template:contacts.firstname') =}"
                                           ng-model="contactFormData.firstname"
                                           name="firstname">
                                </div>

                                <div class="col-md-12 form-group">
                                    <input class="form-control input-md" id="InputSurname"
                                           placeholder="{= t('template:contacts.lastname') =}"
                                           ng-model="contactFormData.lastname"
                                           name="lastname">
                                </div>

                                <div class="col-md-12 form-group"
                                     ng-class="{ 'text-danger': contactForm.message.$invalid && !contactForm.message.$pristine }">
                        <textarea class="form-control input-md" rows="10"
                                  placeholder="{= t('template:contacts.message') =}"
                                  ng-model="contactFormData.message" required
                                  name="message"></textarea>
                                    <small class="text-danger"
                                           ng-show="contactForm.message.$invalid && !contactForm.message.$pristine">{= t('template:contacts.message_required') =}</small>
                                </div>

                                <div class="col-md-12 checkbox text-left text-danger"
                                     ng-class="{ 'text-danger': contactForm.privacy.$invalid && !contactForm.privacy.$pristine }">
                                    <label>
                                        <input type="checkbox" name="privacy"
                                               ng-model="contactFormData.privacy" required
                                                >
                                        <span ng-model="contactFormData.privacy" ><small>{= t('template:contacts.privacy') =}</small></span>
                                    </label>
                                </div>

                                <div class="col-md-12 form-group text-left">
                                    <label for="InputCaptcha"><img src="/captcha.png" alt="captcha"></label>
                                    <input class="form-control input-md" id="InputCaptcha"
                                           placeholder="Inserisci il codice"
                                           ng-model="contactFormData.captcha_result"
                                           name="captcha_result">
                                </div>

                                <div class="col-md-12 form-group text-center">
                                    <button type="submit" class="btn btn-primary btn-xl" ng-disabled="contactForm.$invalid || sending">{= t('template:contacts.send') =}</button>
                                </div>
                            </form>
                            <div class="form-messages" ng-cloak>
                                <div class="alert alert-success" role="alert" ng-show="formSuccess">{= t('template:contacts.message_success') =}</div>
                                <div class="alert alert-danger" role="alert" ng-show="formError">{= t('template:contacts.message_error') =}</div>
                            </div>
                            <div class="clearfix"></div>

                        </div>
                    </div>

                </div>
            {% endif %}
            <div class="clearfix"></div>
        </div>
    </div>
{% endif %}
