
<section class="section" id="footer">

    <div id="company_info">
        {% include "../../__default/partials/footer/address.html" %}
        <div class="fb-like" data-href="{= page.data.pageData.link =}" data-colorscheme="light" data-width="90" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>
        {% include "../../__default/partials/footer/hours-small.html" %}
    </div>
    <div id="company_social_links">
        <ul class="list-inline">
            {% include "../../__default/partials/footer/social-links.html" %}
        </ul>
    </div>
    <div id="credits">
        {% include "../../__default/partials/footer/credits.html" %}
    </div>

</section>

