{% if page.posts.length %}
{% set loop_posts = page.posts %}
{% set layoutColumns = news_columns %}
{% set kindOfPost = 'news' %}

{% import "../../__default/partials/loop-macros.html" as macros %}

<div class="grid masonry">
    {% for post in loop_posts %}
        <div class="grid-item item-col-{=layoutColumns=}"><div show-hide show-hide-id="{= post.id =}" show-hide-type-of-post="{= kindOfPost =}">
            <a class="post" href="/news/{=post.id=}" title="{= post.title|addslashes =}">
                <div class="grid-item-content">
                    <div class="item-header">
                        <div class="icon">
                            {% if post.type == "status"  %}
                                <i class="fa fa-newspaper-o"></i>
                            {% endif %}
                            {% if post.type == "photo"  %}
                                <i class="fa fa-picture-o"></i>
                            {% endif %}
                            {% if post.type == "video"  %}
                                <i class="fa fa-video-camera"></i>
                            {% endif %}
                            {% if post.type == "link"  %}
                                <i class="fa fa-link"></i>
                            {% endif %}
                        </div>
                        <h6 class="image-caption text-center truncate">{= post.title|truncateText(80) =}</h6>
                    </div>
                    <div class="row">
                        {# Image #}
                        <div class="col-sm-{= ([isHome, layoutColumns, kindOfPost]|elementsGridColumns).colSmImg  =} col-md-{= ([isHome, layoutColumns, kindOfPost]|elementsGridColumns).colMdImg =}">
                            <div class="thumbnail" style="background-image:url('{= post.cover_image =}'); background-position: center center; background-size:cover;  width:100%; padding-bottom:100%;"></div>
                        </div>

                        {# Text #}
                        <div class="col-sm-{= ([isHome, layoutColumns, kindOfPost]|elementsGridColumns).colSmContent  =} col-md-{= ([isHome, layoutColumns, kindOfPost]|elementsGridColumns).colMdContent =}">
                            {% if post.created_time %}
                                <span class="text-muted"><small><i class="glyphicon glyphicon-time"></i> {= post|displayTimePost =}</small><br></span>
                            {% endif %}
                            <p>{= post.description|truncateText(150) =}</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                </div>
            </a>
        </div></div>
    {% endfor %}
</div>
{% elif not isHome %}
    <div>
        <p style="text-align: center">Non ci sono elementi in questa sezione.</p>
        <div class="clearfix"></div>
    </div>
{% endif %}
