{% if photos %}
    <div class="grid masonry">
    {% for photo in photos %}

        <div class="post-album grid-item item-col-4">
            <a class="post btn-modal" href="/albums/{= album_id =}/?customIndex={= loop.index0 =}&" title="{= title =}"
               modal="album-modal-fullscreen.tpl"
               modal-container="modal-window-fullscreen.tpl"
                    >
                <div class="grid-item-content">
                    <div class="thumbnail" style="background-image:url('{= photo.source =}'); background-position: center center; background-size:cover; padding-bottom: 100%; width:100%"></div>
                </div>
            </a>
        </div>

    {% endfor %}
    </div>

{% endif %}
