{% set kindOfPost = 'album' %}

{% import "../../__default/partials/loop-macros.html" as macros %}

{% if page.albums.length %}
{% set loop_posts = page.albums %}
{% set layoutColumns = albums_columns %}
<div class="grid masonry">
    {% for post in loop_posts %}
        <div class="post-album grid-item item-col-{=layoutColumns=}">
            <div show-hide show-hide-id="{= post.id =}" show-hide-type-of-post="{= kindOfPost =}">
                <a class="post btn-modal" href="/albums/{=post.id=}" title="{= post.title|addslashes =}" modal="album-modal-fullscreen.tpl" modal-container="modal-window-fullscreen.tpl">
                    <div class="grid-item-content">
                        <div class="item-header">
                            <div class="icon">
                                <i class="fa fa-camera-retro"></i>
                            </div>
                            <h6 class="image-caption text-center truncate">{= post.title|truncateText(50) =}</h6>
                        </div>

                        <div class="thumbnail" style="background-image:url('{= post.cover_image =}'); width:100%; padding-bottom:100%;"></div>
                    </div>
                </a>
            </div>
        </div>

    {% endfor %}
</div>
{% elif not isHome %}
    <div>
        <p style="text-align: center">Non ci sono elementi in questa sezione.</p>
        <div class="clearfix"></div>
    </div>
{% endif %}