{% set kindOfPost = 'event' %}

{% import "../../__default/partials/loop-macros.html" as macros %}

{% if page.events.length %}
{% set loop_posts = page.events %}
{% set layoutColumns = events_columns %}
<div class="grid masonry">
    {% for post in loop_posts %}
        <div class="grid-item item-col-{=layoutColumns=}"><div show-hide show-hide-id="{= post.id =}" show-hide-type-of-post="{= kindOfPost =}">
            <a class="post" href="/events/{=post.id=}" title="{= post.title|addslashes =}">
                <div class="grid-item-content">
                    <div class="item-header">
                        <div class="icon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <h6 class="image-caption text-center">{= post.title|truncateText(80) =}</h6>
                    </div>
                    <div class="thumbnail" style="background-image:url('{= post.cover_image.source =}'); background-position: center center; background-size:cover; width:100%;
                    {% if layoutColumns > 2 %}padding-bottom:100%;{% else %}padding-bottom:50%;{% endif %}">
                        {% if post.start_time %}
                            <div class="inner-details"><i class="glyphicon glyphicon-time"></i> {= post|displayTimeEvent("short") =}</div>
                        {% endif %}
                    </div>
                </div>
            </a>
        </div></div>
    {% endfor %}
</div>
{% elif not isHome %}
<div>
    <p style="text-align: center">Non ci sono elementi in questa sezione.</p>
    <div class="clearfix"></div>
</div>
{% endif %}


