<div class="content-container" id="sidebar-menu">
    <div class="sitename">
        <div>
            <a class="" href="/"><img class="brand-img fadeimage lazy img-responsive" src="{= page|getProfilePicture =}" alt="{= page.configuration.settings.nome_sito||page.data.pageData.name =}"></a>
        </div>
        <a  href="/"><h1 class="content-boxed">
            {= page.configuration.settings.nome_sito||page.data.pageData.name =}
        </h1></a>
    </div>
    <div class="spacer"></div>
    <div id="nav" class="content-boxed">
        <div class="navbar-header">
            <button class="btn btn-navbar navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".collapse">
                MENU <i class="fa fa-bars"></i>
            </button>
        </div>
        <nav class="sitenav collapse navbar-collapse bs-navbar-collapse" role="navigation" id="navbar-collapse" >
            <ul class="nav navbar-nav">
                {% for index,item in page.configuration.settings.menu %}
                    {% if item.active %}
                        <li{% if slug and slug == item|getItemSlug or slug == item['id'] %} class="active"{% endif %}>
                            <a class="navbar-nav-link" href="/{= item|getItemSlug =}">
                                <span class="nav-label">{= item.label =}</span>
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </nav>
    </div>

    <div class="spacer"></div>
    <ul class="list-inline content-boxed">
        {% include "../../__default/partials/footer/social-links.html" %}
    </ul>

    <div class="clearfix"></div>
</div>
