{% set loop_posts = postData.photos.data %}

<section class="section" id="modal-carousel">


	{% if loop_posts.length > 1 %}
	<div id="gallery-carousel-modal" class="carousel slide" data-ride="carousel">

		<!-- Indicators -->
		<ol class="carousel-indicators">
		{% for index, post in loop_posts %}
			{% if index == 0 %}
			<li data-target="#gallery-carousel-modal" data-slide-to="{= index =}" class="active"></li>
			{% else %}
			<li data-target="#gallery-carousel-modal" data-slide-to="{= index =}"></li>
			{% endif %}
		{% endfor %}
		</ol>


		<!-- Wrapper for slides -->
		<div class="carousel-inner" role="listbox">
		{% for index, post in loop_posts %}

			{% if index == 0 %}
				<div class="item window-height active">
					<img src="{= post.cover_image =}" class="fadeimage lazy"  alt="">
					<!-- <div class="carousel-caption">...</div> -->
				</div>
			{% else %}
				<div class="item window-height">
					<img src="{= post.cover_image =}" class="fadeimage lazy"  alt="">
					<!-- <div class="carousel-caption">...</div> -->
				</div>
			{% endif %}

		{% endfor %}
		</div>

		<!-- Controls -->
		<a class="left carousel-control" href="#gallery-carousel-modal" role="button" data-slide="prev">
			<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="right carousel-control" href="#gallery-carousel-modal" role="button" data-slide="next">
			<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>

	</div>
	{% else %}
	<div class="col-xs-12">
		<img class="img-responsive fadeimage lazy" src="{= loop_posts[0].cover_image =}" alt="">
	</div>
	{% endif %}

</section>
