<div class="container-fluid">
	<div class="row">
		{% if postData.type == "status"  %}
			<div class="col-xs-12">
				<div class="post-dx">
					<p class="lead post-description">{= postData|getPostDescription =}</p>
				</div>
			</div>
		{% endif %}

		{% if postData.type == "link" %}
			
			{% if postData.caption == 'soundcloud.com' && postData.link %}
			<div class="col-xs-12 no-gutter">
				<div class="post-sx">
					<iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url={= postData.link =}&amp;color={=page|getColor('titles',true)=}&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
				</div>
			</div>
			<div class="col-xs-12">
				<div class="post-dx">
					<p class="lead post-description">{= postData|getPostDescription =}</p>
					<p>
						<a href="{= postData.link =}" target="blank">{= postData.link =}</a>
					</p>
				</div>
			</div>
			{% else %}
			<div class="col-md-6 col-xs-12 no-gutter">
				<div class="post-sx">
					<img class="img-responsive fadeimage lazy" src="{= postData|getPostImage =}" alt="{= postData|getPostTitle =}">
				</div>
			</div>
			<div class="col-md-6 col-xs-12">
				<div class="post-dx">
					<p class="lead post-description">{= postData|getPostDescription =}</p>
					<p>
						<a href="{= postData.link =}" target="blank">{= postData.link =}</a>
					</p>
				</div>
			</div>
			{% endif %}
			
		{% endif %}

		{% if postData.type == "video" %}
			<div class="col-xs-12 no-gutter">
				<div class="post-sx">
					{% if postData.caption == 'soundcloud.com' && postData.link %}

						<iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url={= postData.link =}&amp;color=00aabb&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>

					{% elif postData.caption == 'youtube.com' && postData.source %}

						<div class="embed-responsive embed-responsive-16by9">
						  <iframe class="embed-responsive-item" src="{= postData.source =}" frameborder="0" allowfullscreen ng-cloak></iframe>
						</div>

					{% elif postData.caption == 'vimeo.com' && postData.source %}

						<div class="embed-responsive embed-responsive-16by9">
						  <iframe class="embed-responsive-item" src="{= postData.source =}?color=ffffff" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
						</div>

					{% elif postData.source %}
						<div class="embed-responsive embed-responsive-16by9">
							<video class="embed-responsive-item" controls="" autoplay="" name="media"><source src="{= postData.source =}" type="video/mp4"></video>
						</div>
					{% else %}
						<div class="col-md-6 col-xs-12">
							<img class="img-responsive fadeimage lazy" src="{= postData|getPostImage =}" alt="">
						</div>
					{% endif %}
				</div>
			</div>

			<div class="col-xs-12">
				<div class="post-dx">
					<p class="lead post-description">{= postData|getPostDescription =}</p>
					{# <pre>{= postData|json(2) =}</pre> #}
				</div>

			</div>

			{% elif postData.type == "photo"  %}
				{% if postData|getPostImage|isString === true %}
					<div class="col-md-5 col-xs-12 no-gutter">
						<div class="post-sx">
							<img class="img-responsive fadeimage lazy" src="{= postData|getPostImage =}" alt="{= postData|getPostTitle =}">
						</div>
					</div>
				{% else %}
				{% set post_images = postData|postImages %}
					<div class="col-md-5 col-xs-12 no-gutter">
						<div class="post-sx">
							{% include "../../__default/partials/modal-slide.html" %}
						</div>
					</div>
			{% endif %}
		<div class="col-md-7 col-xs-12">
			<div class="post-dx">
				<p class="lead post-description">{= postData|getPostDescription =}</p>
				{# <pre>{= postData|json(2) =}</pre> #}
			</div>
		</div>
		{% endif %}
	</div>
	<div class="row no-gutter">
		<div class="col-md-12 col-xs-12 no-gutter">
			<ul class="list-unstyled post-attributes">
				<li>
					<i class="glyphicon glyphicon-time"></i>
					<time pubdate datetime="10-12-14" class="date">
						<span class="date-item day">{= postData.created_time|date('d') =}</span>
						<span class="date-item mounth">{= postData.created_time|date('m') =}</span>
						<span class="date-item year">{= postData.created_time|date('Y') =}</span>
					</time>
				</li>
				{# <li>
			  		<i class="fa fa-thumbs-o-up"></i>
			  		<strong>{= post.likes.data.length|default(0) =} </strong>
			  	</li> #}
			</ul>
		</div>
	</div>
	{# <pre>{=postData|json(2)=}</pre> #}
</div>
