{% if isStore %}
    <div id="mainContainer" style="display: none;">
        <div class="grid">
            <div class="grid-item item-col-1">
                <nav class="navbar navbar-default">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#store-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle store navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="store-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li class="dropdown" dropdown>
                                <a href="#" class="dropdown-toggle" data-toggle="categoriesList" role="button" aria-haspopup="true" aria-expanded="false" dropdown-toggle>
                                    {= t('template:store.categories_tit') =} <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu" id="categoriesList">
                                    <li class="active-category category-list-item-all">
                                        <a data-categoryindex="all" href="#/category/uid-all" class="category-link-all category-link">
                                            {= t('template:store.all_categories') =}
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <form class="navbar-form navbar-left" role="search">
                            <div class="form-group">
                                <input type="text" type="search" class="search-product form-control" placeholder="{= t('template:store.search') =}...">
                            </div>
                            <button disabled class="btn btn-default clear-search-result-btn" type="button" title="{= t('template:store.cancel') =}">&times;</button>
                        </form>
                        <ul class="nav navbar-nav navbar-right">
                            <li><span class="pull-right shopping-cart-btn-container"></span></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </nav>
            </div>
        </div>

        <div id="productsContainer" class="grid masonry thumbnails"></div>
        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
    <script type="text/template" class="sidebar-catgegories-template">
        <% _.each(_oData.categoriesCollection,function( listItem ){ %>
        <li class="category-list-item-<%- listItem.index %>">
            <a data-categoryindex="<%- listItem.index %>" href="#/category/uid-<%- listItem.index %>/<%- listItem.slug %>"
               class="category-link-<%- listItem.index %> category-link">
                <%- listItem.name %>
                <span class="badge"><%- listItem.products_length %></span>
            </a>
        </li>
        <% }) %>
    </script>


    {% include "../../__default/partials/store-body.html"%}
    {% set layoutColumns = columns %}
    {% set kindOfPost = 'news' %}

    <!-- Products Grid -->
    <script type="text/template" class="products-grid-template">
        <% if( Object.keys(_oData.currentProductCollection).length < 1) { %>
        <div class="grid-item item-col-1">
            <div class="alert alert-warning ">
                {= t('template:store.no_products_alert') =}
            </div>
        </div>
        <% } else { %>
        <% _.each( _oData.currentProductCollection, function( listItem ){
        productUrl = "#/product/uid-" + listItem.index + "/" + listItem.slug;
        productImg = _.get(listItem, "thumbPath.src", false); %>

        <div data-productindex="<%- listItem.index %>" class="product-item grid-item item-col-{=layoutColumns=}">
            <a class="post  product-id-<%- listItem.index %> product-link" data-productindex="<%- listItem.index %>" href="<%- productUrl %>" title="{= post.title|addslashes =}">
                <div class="grid-item-content">
                    <div class="item-header">
                        <h6 class="image-caption text-center truncate"><%- listItem.name %></h6>
                    </div>
                    <div class="row">
                        <% if(productImg){ %>
                        <div class="col-sm-{= ([isHome, layoutColumns, kindOfPost]|elementsGridColumns).colSmImg  =} col-md-{= ([isHome, layoutColumns, kindOfPost]|elementsGridColumns).colMdImg =}">
                            <div class="thumbnail" style="background-image:url('<%- productImg %>'); background-position: center center; background-size:cover;  width:100%; padding-bottom:100%;"></div>
                        </div>
                        <% } %>
                        <div class="<% if(productImg){ %>col-sm-{= ([isHome, layoutColumns, kindOfPost]|elementsGridColumns).colSmContent  =}
                                        col-md-{= ([isHome, layoutColumns, kindOfPost]|elementsGridColumns).colMdContent =}
                                        <% }else{ %>
                                        col-sm-12
                                        <% } %>">
                            <span class="text-muted"><small>{= t('template:store.price') =}: <%- listItem.formattedPrice %></small><br></span>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </a>
        </div>
        <% }); }; %>
    </script>
    <!-- /Products Grid -->
{% endif %}
