// @import "/components/fakeLoader/fakeLoader.css";

/**
 * 
 * DYNAMIC STYLES
 * 
 */

@padding-none: 0px;
@margin-none: 0px;

@squared-corners: 0px;

@padding-contents: 60px;
@padding-vertical-contents: 60px;
@padding-vertical-sections: 40px;


// // colors variables
@outer_background: #333;
@inner_background: #FFF;
@titles: #ccc;
@texts: #666666;

// // new colors variables
@mjk_text:         #ccc;
@mjk_nav_bg:       #ccc;
@mjk_link_text:    #ccc;
@mjk_nav_text:     #ccc;
@mjk_well_bg:      #ccc;
@mjk_jumbotron_bg: #ccc;
@mjk_bg:           #ccc;

// // social links colors variables

@facebook-color: #374E79;
@twitter-color: #55acee;
@vimeo-color: #4bf;
@youtube-color: #C43029;
@skype-color: #00AFF0;

// // fonts variables

@custom-font-text: 'Roboto Slab', Helvetica, Arial, sans-serif;
@custom-font-title: "Droid Serif", Georgia, Times, serif;

@font-custom-family-sans-serif: 'Roboto Slab', Helvetica, Arial, sans-serif;
@font-custom-family-serif: "Droid Serif", Georgia, Times, serif;

@font-text: @custom-font-text;
@font-title: @custom-font-title;

// @font-family-sans-serif: 'Droid Sans';
// @font-family-serif: "Droid Serif";

@font-family-titles: 'Montserrat', sans-serif;;
@font-weight-titles: 700;
@font-family-paragraphs: 'Montserrat', sans-serif;;
@font-weight-paragraphs: 400;

// navbar variables
// contol height logo main nav

@height-navbar: 80px;
@width-navbar: 80px;

/* socials */
@brand-facebook:  #374E79;
@brand-twitter:  #4AC5EC;
@brand-youtube:  #C43029;
@brand-vimeo:  #3FBAEC;
@brand-linkedin: #2779BA;

// global-alignment
@global-alignment: @align-left;
@align-left: left;
@align-center: center;
@align-right: right;









