// PER COMPILARE I LESS ESEGUIRE IL COMANDO: gulp less-landing

@import url(https://fonts.googleapis.com/css?family=Allerta);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800,800italic,700italic,600italic,700,600,400italic,300italic,300);


// default commons in templates
@import url(../../components/bootstrap/less/bootstrap.less);
@import url(/components/font-awesome/css/font-awesome.min.css);
@import url(config.less);
@import url(commons/utility.less);
@import url(variables.less);


// defolt stiles for shop section in templates
// @import url(components/main-nav.less);
@import url(components/main-nav.less);

// defolt stiles for banner section in templates
@import url(components/banner.less);
@import url(components/reputation.less);
@import url(components/overview.less);
@import url(components/pricing.less);
@import url(components/secure.less);
@import url(components/footer.less);
@import url(components/modals.less);


.global-contents-padding{
	padding: @grid-gutter-width / 1.5;
	.top{padding-top: @grid-gutter-width / 1.5;}
	.bottom{padding-bottom: @grid-gutter-width / 1.5;}
	.left{padding-left: @grid-gutter-width / 1.5;}
	.right{padding-right: @grid-gutter-width / 1.5;}
}

html, body, #wrapper, .pagewrap {
    height: 100%;
    // font-family: @font-family-titles;
    font-family: 'Open Sans', sans-serif;
} 

// modules ------------------------------------------------------------ //

.btn{
	// border-radius: @squared-corners;
	font-weight: 700;
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
}
.no-gutter{
	padding-left: @padding-none;
	padding-right: @padding-none;
}
.section{
	.container{
		// padding-left: @grid-gutter-width;
		// padding-right: @grid-gutter-width;
	}
	border-bottom:1px solid #ccc;
	padding-top: @padding-vertical-contents;
	padding-bottom: @padding-vertical-sections;
}
.breadcrumb-container{
	.breadcrumb{
		a{
			background-color: transparent;
			color: #999;
		}
		.active{
			background-color: transparent;
			color: #ccc;
		}
		.global-contents-padding;
		text-align: @align-left;
		background-color: transparent;
		margin-bottom: 0px;
	}
	background-color: lighten(@mjk_advantages, 25%);
	width: 100%;
	// top: 0px;
	// position: relative;
}
// .affix{
//         top: @height-navbar / 2;
//     }

// .breadcrumb{
// 	.global-contents-padding;
// 	text-align: @align-left;
// }

ul.pagination{
	// border-radius: @squared-corners;
	margin: @padding-none @padding-none;
	margin: @padding-none @padding-none;
}

.new{
	position: absolute;
	border-radius: 40px;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	margin-left: 15px;
	margin-top: 15px;

	// -webkit-transition: all 0.7s ease;
	transition: all 0.3s ease;
	}

.sale{
	position: absolute;
	border-radius: 40px;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	margin-left: 15px;
	margin-top: 15px;

	// -webkit-transition: all 0.7s ease;
	transition: all 0.3s ease;
	}

.btn-circle{
	background-color: #ccc;
	border-radius: 100%;
	width: 40px;
	height: 40px;
	// line-height: 20px;
}

.btn-default{
		border-color: lighten(@mjk_advantages, 10%);
		color: lighten(@mjk_advantages, 10%)
	}
:hover.btn-default{
	background-color: lighten(@mjk_advantages, 10%);
	border-color: lighten(@mjk_advantages, 10%);
	color: #FFF;
}


@media (max-width: @screen-xs-max){
	.container{
		text-align: center;
	}
	// #shop{
	// 	background-color: #000;
	// }
}	

@media (max-width: @screen-phone){
	.section{
		.container{
			// padding-left: @grid-gutter-width;
			// padding-right: @grid-gutter-width;
			.section-title{
				h1, h2, h3, h4, h5, h6{
					font-size: 25px;
					// font-weight: 700;
				}
			}
		}
		// border-bottom:1px solid #ccc;
		padding-top: @padding-vertical-contents / 2;
		padding-bottom: 0px;
	}
	.list{
		padding: 1px;
		.list-item{
			margin:0px;
			padding: 1px;

			.panel{
				margin-bottom: 1px;
			}
		}
	}
}



