<section id="banner">
    <div id="banner-image-holder" class="window-height banner-fade-slide-container" {= page|getBannerStyle|safe =} >
    {% include "../../__default/partials/banner-fade-slides.html" %}
    </div>
</section>
