<section class="section" id="company">
	<div class="container">
		<div class="row">

			<hgroup class="col-md-12 section-title" id="map-section-title">
				<h1>{= page.configuration.settings.nome_sito||page.data.pageData.name =}</h1>
			</hgroup>

			<div class="col-md-12">
				<div id="company-short-description" class="lead">{= page.configuration.settings.profilo_aziendale | safe=}</div>
			</div>

		</div>
	</div>
</section>
