{% extends "../../__default/partials/head.html" %}

{% block content %}

{# 
<script src="/components/jquery-sticky/jquery.sticky.js"></script> 
<script type="text/javascript">
  $(window).load(function(){
    $("#main-nav").sticky({ topSpacing: 0 });
  });
</script>#}

{% endblock %}
