{% include '../../__default/partials/cookies-alert.html' %}

{% if isHome %}
<nav class="section navbar navbar-default navbar-home" id="main-nav">
{% else %}
<nav class="section navbar navbar-default navbar-fixed-top" id="main-nav">
{% endif %}

	<div class="container">

		{# Brand and toggle get grouped for better mobile display #}
		<div class="navbar-header">
			{##}
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>

			<a class="navbar-brand" href="/" title="{= name =}">
				<img id="brand-img fadeimage lazy" src="{= page|getProfilePicture =}" alt="{= name =}">
				{# <img id="brand-img fadeimage lazy" src="http://graph.facebook.com/{= page.data.pageData.id =}/picture?type=large" alt="{= name =}"> #}
			</a>
		</div>

		{# Collect the nav links, forms, and other content for toggling #}

		<div class="collapse navbar-collapse" id="bs-navbar-collapse">
			<ul class="nav navbar-nav navbar-left">
			{% for index,item in page.configuration.settings.menu %}
				{% if item.active %}
				<li{% if slug and slug == item|getItemSlug %} class="active"{% endif %}>
					<a class="navbar-nav-link" href="/{= item|getItemSlug =}">
						<span class="nav-label">{= item.label =}</span>
					</a>
				</li>
				{% endif %}
			{% endfor %}
			</ul>

			<div class="socials-widjet pull-right">
				<ul class="list list-inline">
					<li class="text-center">
						<a href="{= page.data.pageData.link =}" rel="publisher" target="_blank" class="company_social_link navbar-nav-link">
							<i class="f fa fa-facebook-square"></i>
						</a>
					</li>
					{% if page.configuration.settings.social.twitter %}
					<li class="text-center">
						<a href="{= page.configuration.settings.social.twitter =}" rel="publisher" target="_blank" class="company_social_link navbar-nav-link">
							<i class="twitter fa fa-twitter-square"></i>
						</a>
					</li>
					{% endif %}
					{% if page.configuration.settings.social.vimeo %}
					<li class="text-center">
						<a href="{= page.configuration.settings.social.vimeo =}" rel="publisher" target="_blank" class="company_social_link navbar-nav-link">
							<i class="vimeo fa fa-vimeo-square"></i>
						</a>
					</li>
					{% endif %}
					{% if page.configuration.settings.social.youtube %}
					<li class="text-center">
						<a href="{= page.configuration.settings.social.youtube =}" rel="publisher" target="_blank" class="company_social_link navbar-nav-link">
							<i class="youtube fa fa-youtube-play"></i>
						</a>
					</li>
					{% endif %}
					{% if page.configuration.settings.social.skype %}
					<li class="text-center">
						<a href="skype:{= page.configuration.settings.social.skype =}" rel="publisher" target="_blank" class="company_social_link navbar-nav-link">
							<i class="skype fa fa-skype"></i>
						</a>
					</li>
					{% endif %}

                    {% if page.configuration.settings.social.pinterest %}
                        <li class="text-center">
                            <a href="{= page.configuration.settings.social.pinterest =}" rel="publisher" target="_blank" class="company_social_link navbar-nav-link">
                                <i class="pinterest fa fa-pinterest-square"></i>
                            </a>
                        </li>
                    {% endif %}

                    {% if page.configuration.settings.social.instagram %}
                        <li class="text-center">
                            <a href="{= page.configuration.settings.social.instagram =}" rel="publisher" target="_blank" class="company_social_link navbar-nav-link">
                                <i class="instagram fa fa-instagram"></i>
                            </a>
                        </li>
                    {% endif %}

                    {% if page.configuration.settings.social.tripadvisor %}
                        <li class="text-center">
                            <a href="{= page.configuration.settings.social.tripadvisor =}" rel="publisher" target="_blank" class="company_social_link navbar-nav-link">
                                <i class="tripadvisor fa fa-tripadvisor"></i>
                            </a>
                        </li>
                    {% endif %}
				</ul>
			</div>

		</div>

	</div>
</nav>
