{% set kindOfPost = 'news' %}

{% import "../../__default/partials/loop-macros.html" as macros %}

{% if page.posts.length %}
	{% set loop_posts = page.posts %}
	{% set layoutColumns = news_columns %}
	<section class="section loop" data-enable_columns="1" data-layout_columns="{= layoutColumns =}" id="loop-news">
	    <div class="container">
	        <div class="row">
	            {= macros.sectionTitle(isHome, kindOfPost, title) =}
	        </div>

	        {= macros.postsLoop(isHome, layoutColumns, kindOfPost, loop_posts) =}
	        {= macros.pagination(isHome, active, prev_page, next_page, pages) =}

	    </div>
	</section>
{% elif not isHome %}
	<section class="section loop" data-enable_columns="1" data-layout_columns="{= layoutColumns =}" id="loop-news">
	    <div class="container">
	        <div class="row">
	            {= macros.sectionTitle(isHome, kindOfPost, title) =}
	        </div>
			<div class="row posts-loop no-gutter row-height">
				<p style="text-align: center">Non ci sono elementi in questa sezione.</p>
			    <div class="clearfix"></div>
			</div>

	    </div>
	</section>
{% endif %}
