{% set kindOfPost = 'album' %}

{% import "../../__default/partials/loop-macros.html" as macros %}

{% if page.albums.length %}
{% set loop_posts = page.albums %}
{% set layoutColumns = albums_columns %}
<section class="section loop" data-enable_columns="0" data-disable_img_resize="1" data-layout_columns="{= layoutColumns =}" id="loop-albums">
    <div class="container">
        <div class="row">
            {= macros.sectionTitle(isHome, kindOfPost, title) =}
        </div>


        <div class="row posts-loop no-gutter">
            {% for post in loop_posts %}

            {% set urlHref = "/albums/" + post.id %}
            {% set urlModal = "album-modal-fullscreen.tpl" %}
            {% set urlModalContainer = "modal-window-fullscreen.tpl" %}

            <div class="post-column {= layoutColumns|generateBootstrapColumn('md') =}"
                 show-hide show-hide-id="{= post.id =}" show-hide-type-of-post="{= kindOfPost =}">

                <a class="post btn-modal"
                    href="{= urlHref =}"
                    title="{= post.title|addslashes =}"
                    modal="{= urlModal =}"
                    modal-container="{= urlModalContainer =}">

                    <div class="post-container">
                        <div class="post-img col-xs-12
                                    {= [isHome, layoutColumns, kindOfPost, 3]|elementsGridColumns('img')  =}
                                    {= [isHome, layoutColumns, kindOfPost, 3]|juxtaposeClass =} no-gutter">

                            <div class="thumbnail"
                                 style="background-image: url('{= post.cover_image ||'/images/photo-standard.jpg' =}')"></div>
                        </div>


                        <div class="post-content col-xs-12
                                    {= [isHome, layoutColumns, kindOfPost, 3]|elementsGridColumns('content') =}
                                    {= [isHome, layoutColumns, kindOfPost, 3]|juxtaposeClass =} no-gutter">
                            <div class="title-container">
                                <h2 class="post-title truncate">{= post.title|truncateText(60) =}</h2>
                            </div>
                        </div>

                        <div class="clearfix"></div>
                    </div>
                </a>

            </div>


            {% endfor %}
            <div class="clearfix"></div>
        </div>


        <div class="posts-loop no-gutter">
    		{= macros.pagination(isHome, active, prev_page, next_page, pages) =}
        </div>


    </div>
</section>
{% elif not isHome %}
<section class="section loop" data-enable_columns="0" data-disable_img_resize="1" data-layout_columns="{= layoutColumns =}" id="loop-albums">
    <div class="container">
        <div class="row">
            {= macros.sectionTitle(isHome, kindOfPost, title) =}
        </div>
        <div class="row posts-loop no-gutter">
            <p style="text-align: center">Non ci sono elementi in questa sezione.</p>
            <div class="clearfix"></div>
        </div>
    </div>
</section>
{% endif %}
