.templateFONT{
	font-family: @font-text;
	FONT-FAMILY: @font-title;
}
.elementTemplateOPUS{
	display: none;
}
@import "../../__default/styles/edit-entry.less";
@import "../../__default/styles/config.less";
@import "variables.less";
@import "assets/bootstrap-less/bootstrap.less";
@import "assets/less/ad.less";
@import "assets/less/cookiesmodal.less";

@import "../../__default/styles/commons/modal-details.less";
@import "../../__default/styles/commons/utility.less";
@import "../../__default/styles/commons/ecommerce.less";


:focus{
	box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    }

a:hover{
    text-decoration: none;
}

*,a{
	outline: none !important;
}

.row{
	margin-left: -@outer-padding;
	margin-right: -@outer-padding;
}

/* -------------------------------------------------------------- MASTER */

body{
    background-color: @outer_background;
	overflow: auto;
	position: relative;
	font-family: @font-text;
	font-weight: 400;
}
h1,h2,h3,h4,h5,h6{
	font-family: @font-title;
	font-weight: 700;
}

.content-boxed{
	padding: 0 @outer-padding;
}
.content-container{
	padding: @outer-padding 0;
	border-radius: @radius;
	background-color: fade(@inner_background,70%);
	box-shadow: 1px 1px 6px fade(#111, 20%);
	margin: 20px 0;
	overflow:hidden;

	.company-text{
		padding: 0 @outer-padding;
	}

	.section-title{
		text-align: center;
		color: @brand-primary;
	}
	.grid-item{
		padding: @outer-padding;
		margin: 0 0 @outer-padding 0;

		.row{
			padding: 0;
			box-sizing: content-box;
		}
		.grid-item-content{
			background-color: @inner_background;
			padding: 10px;
			transition: all 0.3s;
			box-shadow: 2px 2px 5px fade(darken(@outer_background,20%),20%);
			font-size:13px;
			border-color: darken(@inner_background,4%);
			border-width: 1px;
			border-style: solid;

			h6, p{
				word-wrap: break-word;
			}

			h1, h6{
				font-size: 18px;
				font-family: @font-title;
				color:@brand-primary;
				margin: 0 0 6px 0;
				line-height: 26px;
				text-align: center;
				&.truncate{
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
				}
			}

			.item-header{
				text-align: center;
				.icon{
					color:fade(@texts,60%);
					font-size: 22px;
				}
				h1, h6{
					padding: 0 5%;
				}
			}
			.thumbnail{
				position: relative;
				margin-bottom: 5px;
				.inner-details{
					background-color: fade(@inner_background,80%);
					padding: @outer-padding;
					color:@brand-primary;
					text-shadow: 1px 1px 5px fade(@inner_background,45%),
								 -1px 1px 5px fade(@inner_background,45%),
								 -1px -1px 5px fade(@inner_background,45%),
								 1px -1px 5px fade(@inner_background,45%);
					width: 100%;
					text-align: center;
					display: block;
					position: absolute;
					bottom: 0;
				}
			}
			p{
				font-size: 13px;

			}
			address{
				text-align: center;
				span{
					display: block;
				}
			}
		}
		a{
			color:@texts;
			&:hover{
				.grid-item-content{
					transform: scale(1.03);
					background-color: @inner_background;

					box-shadow: 2px 2px 10px fade(desaturate(darken(@outer_background,15%),50%),70%);
				}
			}
		}

	}


	&.lead{
		background-color: @inner_background;
		font-size: 16px;
	}
}

.item-col-1,.item-col-2,.item-col-3,.item-col-4,.item-col-6{ width: 100%;}

@media only screen and (max-width: @screen-sm){
	.content-container{
		border-radius: 3px;
		margin: 8px 5px;
	}
	.sidebar{

		.sitename {
			text-align: center;
			img {
				width: auto;
				height: 150px;
				border-radius: 0 !important;
				display: inline;
				padding: 5px;
			}
		}
		.navbar-nav{
			width: 100%;
			margin: 0;
		}
		.navbar-header{
			.navbar-toggle{
				width: 100%;
				margin:0;
				display: block;
				text-align: center;
				&:active{
					box-shadow: none;
					background-color: fade(@brand-primary,20%);
				}
			}
		}
	}




}
@media only screen and (min-width: @screen-sm){

	@main-content: 550px;

	#wrapper{
		position: relative;
	}
	.navbar-nav{
		width: 100%;
	}

	.navbar-header{
		display: none;
	}

	#sidebar-menu{
		position: fixed;
		width: 175px;
	}
	.main-content{
		float: right;
		width: @main-content;
		position: relative;
	}

}
@media only screen and (min-width: @screen-md){
	@main-content: 760px;
	#sidebar-menu{
		width: 185px;
	}
	.main-content{
		width: @main-content;
	}
	.item-col-2{width:@main-content/2;}
	.item-col-3{width:@main-content/3;}
	.item-col-4,.item-col-6{width:@main-content/4;}
}
@media only screen and (min-width: @screen-lg){
	@main-content: 950px;
	#sidebar-menu{
		width: 195px;
	}
	.main-content{
		width: @main-content;
	}
	.item-col-2{width:@main-content/2;}
	.item-col-3{width:@main-content/3;}
	.item-col-4,.item-col-6{width:@main-content/4;}
}

.sidebar{
	.sitename{
		margin-top: -@outer-padding;
		img{
			border-top-left-radius: @radius;
			border-top-right-radius: @radius;
		}
		h1{
			font-family: @font-title;
			font-weight: 900;
			color: @brand-primary;
			font-size: 20px;
			text-transform: uppercase;
			text-align: center;
			margin-top: @outer-padding;
			margin-bottom: @outer-padding;
		}
	}

	.navbar-nav{

		li{
			width: 100%;
			text-align: center;
			background-color: transparent;
			a{
				padding: @outer-padding/2;
				color: fade(@texts,90%);
				font-family: @font-text;
				font-size: 13px;
				text-transform: uppercase;
				background-color: transparent;
				transition: color 0.3s, background-color 0.3s;
				font-weight: 800;

				&:hover{
					color: @texts;
					background-color: fade(@brand-primary,10%);
				}

			}

			&.active{
				a{
					color: @inner_background;
					background-color: @brand-primary;

				}

			}

			&:not(:last-child){
				border-bottom: dashed fade(@brand-primary,20%) 1px;
			}
		}
	}

	.navbar-collapse, .navbar-nav{
		padding: 0;
	}

	.spacer{
		height:1px;
		background-color: fade(@inner_background, 80%);
		margin-top: @outer-padding;
		margin-bottom: @outer-padding;
	}

	.list-inline{
		text-align: center;
		li a{
			/*background-color: fade(#ffffff, 90%);
			padding: 2px 5px;*/
			margin: 0 2px;
		}
	}
}


.wrapper{
    -webkit-font-smoothing: antialiased;
    background-color: transparent;

    margin: auto;

	@media (min-width: 768px) {
		max-width: 750px;
	}
	@media (min-width: 992px) {
		max-width: 970px;
	}
	@media (min-width: 1200px) {
		max-width: 1170px;
	}
}

#carousel_banner, #banner-image-holder{
	margin-top: -@outer-padding;
	border-top-left-radius: @radius;
	border-top-right-radius: @radius;
	overflow: hidden;
}



/* ------------------------------- PAGINATION */

.pagination{
    border-radius: @squared-corners;

    li {
		border-radius: @squared-corners;

		a {
			color: @brand-primary;
			border: 0px;
			background-color: @inner_background;
			border-radius: @squared-corners;
		}
		.active {
			background-color: @brand-primary;
			color: @inner_background;
		}
		span.navigation-disabled, span.navigation-disabled:hover {
			color: @brand-primary;
			border: 0px;
			background-color: lighten(@inner_background,5%);
			border-radius: @squared-corners;
		}
	}
}


/* ------------------------------- CONTACTS */
#contact-form {
    color: @text-color;
 	input, textarea{
		border-radius: 0;
	}
	textarea{resize:vertical;}
}


#footer{
	@footer-color: contrast(@outer_background, @inner_background, @texts);
	color: @footer-color;
	text-align: center;
	address{
		font-size:12px;
		margin: 10px 0;
		h1{
			font-size: 16px;
		}
		span{
			display: block;
		}
	}
	#credits{
		font-size: 14px;
		margin-bottom: 50px;
	}
	a{
		color: @footer-color;
		border-bottom: dotted 1px fade(@footer-color,70%);
	}
	.hours-small{
		font-size: 12px;
		margin-bottom: 24px;
		.hours-status-now{
			color: @texts;
			display: inline-block;
			padding: 0.1em 0.5em;
			background-color: fade(@inner_background,70%);
			margin-bottom: 0.2em;
		}
		.hours-today-label{
			display: block;
		}
	}
}


/* ------------------------------- MODALS */
.modal{
	h4{
		font-family: @font-text;
		font-weight: 700;
	}
}
.media-side-image{
	@media screen and ( min-width: 768px ) {
		max-height: 650px;
		overflow: hidden;
	}
	@media screen and ( max-height: 700px ) and ( min-width: 768px ) {
		max-height: 450px;
		overflow: hidden;
	}

	text-align: center;

}
.media-fullwidth-container, .media-side-image, .media-carousel-container{
	margin-bottom: @outer-padding;
}
.image-ratio-less1{
	@media screen and ( min-width: 768px ){
		img{
			display: inline;
			height: 100%;
			width: auto;
		}
	}

	@media screen and ( min-width: 768px ) {
		img{
			max-height: 650px;
		}
	}
	@media screen and ( max-height: 700px ) and ( min-width: 768px ) {
		img{
			max-height: 450px;
		}
	}

}
.content-container .grid-item .modal-content-container{
	padding: 0;
	margin-bottom: @outer-padding;
	.post-title{
		display: none;
	}
	a{
		color: contrast(@inner_background,darken(@brand-primary,10%),lighten(@brand-primary,10%));
		border-bottom: dotted 1px @brand-primary;
		img{
			border-bottom: none;
		}
		&:hover{
			color: @brand-primary;
			border-bottom-style: solid;
		}
	}
}
@media screen and ( min-width: @screen-md ) {
	.grid-item {
		.col-md-6, .col-md-4, .col-md-3{
			&.modal-content-container{
				padding-left: @outer-padding !important;
			}

		}
	}
}
.post-title{
	margin-top: 0;
	font-size: @font-size-large;
	// margin-top: 0px;
}
.post-attributes{
	li{
		text-align: center;
		line-height: 2em;
		color: fade(@texts,75%);
	}
}
/* ------------------------------- MODAL CAROUSEL */
.modal-fullscreen, 
.modal-fullscreen .modal-dialog, 
.modal-fullscreen .modal-content
{
    width: 100%;
    bottom: 0px;
    left: 0px;
    position: fixed;
    right: 0px;
    top: 0px;
    margin: 0px 0px 0px 0px;
    background-color: rgba(0, 0, 0, 0.5);

}

section#modal-carousel {
    // background-color: @gray-darker;
    // height: 100%;
    background-color: transparent !important;
    overflow: hidden;

    .carousel-inner{
        // height: 100%;

        .item{
            text-align: center;

            img{
                max-height: 800px;
                width: auto;
                height: auto;
                padding: auto;
                margin: auto;
            }
        }
    }
}

.hours-table{
	width: auto;
	margin-left: auto;
	margin-right: auto;
	border: none;
	tbody > tr >td{
		border-left: none;
		border-right: none;
		padding: 0.66em 1.5em;
		&:not(:last-child){
			border-right: solid 1px fade(@texts, 20%);
		}
	}

}


*[ng-cloak] {
    display: none;
}



.remove {
	top:0;
	left:0;
	width: 100%;
	border-radius: 3px;
}


body.store-page{
	.shopping-cart-btn-container p.pull-right{
		margin: 7px 6px 0 0;
	}
	.grid-item{
		float: left;
	}
	.product-attributes h5{
		font-size: 1.8em;
	}
	.navbar{
		margin-bottom: 0;
	}
}
