#ad-partner{
	background-color: gray;
	background-image: repeating-linear-gradient(45deg, transparent, transparent 35px, rgba(255,255,255,.1) 35px, rgba(255,255,255,.1) 70px);
	color: #FF0000;
	text-align: @align-center;
	
	h1, h2, h3, h4, h5, h6{
		color: #FF0000;
	}

	a{
		color: #FF0000;
	}
	.btn-default{
		color: #FF0000;
		background-color: #000;
		border-color: #FF0000;
	}
	.btn-primary{
		color: #000;
		background-color: #FF0000;
		border-color: #FF0000;
	}
}