#banner{
	background-color: @mjk_banner;
	color: @mjk_banner_txt;
	text-align: @align-right;

	h1, h2, h3, h4, h5, h6{
		color: @mjk_banner_h_titles;
	}

	a{
		color: @mjk_banner_link;
	}
	.btn-default{
		color: @mjk_banner_link;
		background-color: @mjk_banner;
		border-color: @mjk_banner_link;
	}
	.btn-primary{
		color: @mjk_banner;
		background-color: @mjk_banner_link;
		border-color: @mjk_banner_link;
	}
}
