#main-nav{
	background-color: @mjk_main_nav;
	color: @mjk_main_nav_txt;

	h1, h2, h3, h4, h5, h6{
		color: @mjk_main_nav_h_titles;
	}

	a{
		color: @mjk_main_nav_link;
	}
	.btn-default{
		color: @mjk_main_nav_link;
		background-color: @mjk_main_nav;
		border-color: @mjk_main_nav_link;
	}
	.btn-primary{
		color: @mjk_main_nav;
		background-color: @mjk_main_nav_link;
		border-color: @mjk_main_nav_link;
	}
}