<!DOCTYPE html>
<!--[if IE 8]>
<html class="no-js lt-ie9" lang="en" >
<![endif]-->
<!--[if gt IE 8]>
<!-->
<html class="no-js">
<!--<![endif]-->
<html>
<head>
    {% include "../partials/head.html" %}
    {% block landing_head %}{% endblock %}
    <!-- <script type="text/javascript" src="/js/logger.js"></script> -->
</head>
<body data-spy="scroll" data-target="#main-nav">
	<div class="pagewrap">
		{# {% include '../partials/nav-landing.html' %} #}
		{% block landing_content %}{% endblock %}
		<section class="section overview" id="overview-crea">
		    <div class="container text-left"> 
		        <div class="row">
		            <div class="col-sm-6 overview-right">
		                <img class="img-responsive" src="img/step-screens/add-ecommerce.jpg">
		            </div>
		            <div class="col-sm-5 overview-left">
		                <hgroup class="section-title">
		                    <h1>Crea il tuo negozio.</h1>
		                </hgroup>
		                <p class="lead">Aggiungi la pagina e-commerce.</p>
		                <p>
		                    Entra nella sezione Pagine ed aggiungine una scegliendo quella dedicata all'E-commerce. 
		                </p>
		                <a href="{=accedi=}" class="btn btn-md btn-default" >
		                    inizia ora
		                </a>
		            </div>
		        </div>
		    </div>
		</section>
		<section class="section overview" id="overview-inserisci">
		    <div class="container text-right"> 
		        <div class="row">
		            <div class="col-sm-6 overview-left">
		                <img class="img-responsive" src="img/step-screens/amministra-ecommerce.jpg">
		            </div>
		            <div class="col-sm-5 col-md-offset-1 overview-right">
		                <hgroup class="section-title">
		                    <h1>Inserisci i tuoi prodotti.</h1>
		                </hgroup>
		                <p class="lead">Organizza il tuo catalogo.</p>
		                <p>
		                    Entra in Amministra e-commerce, configura il metodo con cui preferisci farti pagare, inserisci categorie, prodotti e sarai subito online con il tuo nuovo negozio di e-commerce!  
		                </p>
		                <a href="{=accedi=}" class="btn btn-md btn-default" >
		                    inizia ora
		                </a>
		            </div>
		        </div>
		    </div>
		</section>
		<section class="section overview" id="overview-vendi">
		    <div class="container text-left"> 
		        <div class="row">
		            <div class="col-sm-6 col-md-offset-1 overview-right">
		                <img class="img-responsive" src="img/step-screens/passa-a-pro.jpg">
		            </div>
		            <div class="col-sm-5 overview-left">
		                <hgroup class="section-title">
		                    <h1>Comincia a vendere.</h1>
		                </hgroup>
		                <p class="lead">Clicca Passa a PRO.</p>
		                <p>
		                    Rendi pubblico il tuo negozio online e comincia subito a guadagnare dai nuovi clienti che ti troveranno sul web.
		                </p>
		                <a href="{=accedi=}" class="btn btn-md btn-default" >
		                    inizia ora
		                </a>
		            </div>
		        </div>
		    </div>
		</section>		
		{# {% include '../partials/overview-ecommerce.html' %} #}
		{% include '../partials/prices.html' %}
		{% include '../partials/payment-security.html' %}
		{% include '../partials/footer.html' %}
	</div>
	{% include '../partials/modals.html' %}
	{# {% include '../../../partials/scripts/main.html' %} #}
	{# {% block page_scripts %}{% endblock %} #}
</body>
{# {% include "../partials/domain.html" %} #}
</html>
