<!DOCTYPE html>
<!--[if IE 8]>
<html class="no-js lt-ie9" lang="en" >
<![endif]-->
<!--[if gt IE 8]>
<!-->
<html class="no-js">
<!--<![endif]-->
<html>
<head>
    {% include "../partials/head.html" %}
    {% block landing_head %}{% endblock %}
    <!-- <script type="text/javascript" src="/js/logger.js"></script> -->
</head>
<body data-spy="scroll" data-target="#main-nav">
	<div class="pagewrap">
		{% include '../partials/nav-landing.html' %}
		{% block landing_content %}{% endblock %}
		{% include '../partials/overview-ecommerce.html' %}
		{% include '../partials/prices.html' %}
		{% include '../partials/payment-security.html' %}
		{% include '../partials/footer.html' %}
	</div>
  {% include '../partials/modals.html' %}
	{# {% include '../../../partials/modal.html' %} #}
	{# {% include '../../../partials/scripts/main.html' %} #}
	{# {% block page_scripts %}{% endblock %} #}
</body>
{# {% include "../partials/domain.html" %} #}
</html>
