<!doctype html>
<html ng-app="template">
    <head>
        {% include "../partials/head.html" %}
    </head>
	<body ng-controller="page" id="page-top" {% if isStore %}class="store-page bs-3"{% endif %}>
        {% include "../../__default/partials/open_body.html" %}

        <div class="wrapper" id="pagewrap" style="width:1005; height: 100%">
			{% block content %}{% endblock %}
		</div>

		<div class="scroll-top page-scroll visible-xs visible-sm">
			<a class="btn btn-primary" href="#page-top">
				<i class="fa fa-chevron-up"></i>
			</a>
		</div>

		<!-- {#{% include '../../__default/partials/modal-templates.html' %}#} -->
        {% if isStore %}
            <!-- Modal Placeholder -->
            <div id="modalContainer">
                <div class="modal fade" id="commonModal">
                    <div class="modal-dialog">
                        <div class="modal-content common-modal-content">
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div>
            </div>
            <!-- Modal Placeholder -->
        {% endif %}
		{% include "../../__default/partials/cookie-modal.html" %}

		{% include "../partials/scripts/main.html" %}

    
	</body>
</html>
