#blog{
	height: auto;
	background-color: @mjk_well_bg;
	padding-bottom: 100px;
	color: @mjk_text;

	#firstRow{
		margin-bottom: 50px;
		line-height: 2.5;
	
		#title{
			text-align: center;
		}

		#text{
			text-align: center;
		}
	}


	#secondRow{
		.caption{
			text-align: center;
			color: @mjk_text;

			.man{
				height: 20px;
				width: 20px;
				float: left;
			}

			hr{
				border-top: 0.5px solid #ccc;
			}

			span{
				font-size: 1em;
				float: left;
			}

			.nr{
				font-size: 1em;
			}

			.name{
				font-size: 0.7em
			};
		}
	}
}