#charts{
	height: auto;
	background-image: url('/templates/creative/51h.jpg');
	background-size: cover;
	background-position: 50% 50%;
	background-repeat:no-repeat; 
	
	.container-fluid{
		height: 100%;
		width: 100%;
		padding-top: 50px;


		img{
			height:35px;
			width:35px;
		}

		em{
			color: @mjk_text;
		}
	}  

}