#contacts{
	height: auto;
	background-color: @mjk_well_bg;
	padding: 60px;
	color: @mjk_text;

	#projectsDiv{
		text-align: center;
		
		.row:first-child{
			margin-bottom: 20px;
		}
		.col-md-3{
			padding:0;
		}

		#firstRow{
			margin-bottom: 5%;
		}
	}

	#postsDiv{
		text-align: center;

		.row:first-child{
			margin-bottom: 20px;
		}

		ul{
			list-style-type: none;
			text-align: center;

			li{
				margin-bottom: 10px;
			}
		}
	}

	#aboutDiv{
		text-align: center;

		.row:first-child{
			margin-bottom: 20px;
		}

		p{
			line-height: 2;
		}
	}
}


 @media only screen and (max-width : 320px) {
        #contacts{
        	padding: 0;
        }
    }