#features{
    height: auto;
    color: @mjk_text;
    background-color: @mjk_well_bg;
    .row{
        line-height: 2.5;
    }

    .checkImg{
        height: 10px;
        width: 10px;
    }

    .container-fluid > .row > .col-md-5 {
        .row:not(:last-child){
            margin-bottom: 20px;
        }
        .row:nth-child(3) > .col-md-12 {
            .row{
                margin-bottom: 10px;
            }
            .row > div {
                padding-right: 0;
            }
        }
    }


    #iphone{
        width:200px;
        height: 420px;
    }
}
