#footer{
	height: auto;
	background-image: url('/templates/creative/277h.jpg');
	background-size: cover;
	background-position: 1% 85%;
	background-repeat: no-repeat;
	color: @mjk_text;

	.row{
		text-align: cover
	}

	#copyRight{
		color: #ddd;
		font-family: fantasy;
	}

	img{
		width: 20px;
		height: 20px;
	}
}