#home{
    background-image: url('/templates/creative/105h.jpg');
    background-size: cover;
    background-position: center;
    color: @mjk_text;
    
    .row{
        line-height: 2;
    }

    #homeText{
       
        margin-top: 50px;
    }

    #title{
        font-family: fantasy;
        font-size: 4em;
    }

    #text{
        font-family: sans-serif;
        font-size: 1.1em;
    }
}



 @media only screen and (min-width : 768px) {
        #homeText{
            margin-top: 200px !important;
        }
    }

    /* Medium Devices, Desktops */
    @media only screen and (min-width : 992px) {
         #homeText{
            margin-left: 400px;
            margin-top: 250px !important;
        }
    }
