#portfolio{
    height: auto;
    padding-top: 30px;
    background-color: @mjk_well_bg;
    color: @mjk_text;

    .backgroundDivImg(@url){
        background-image: url(@url);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        height: 400px;
        width: auto;
    }
    .row:first-child{
        margin-bottom: 30px;
    }
    .row:nth-child(2) > div > div{
        padding: 0;
        margin-bottom: 30px;
    }

    #firstImg{
        .backgroundDivImg('/templates/creative/23h.jpg');
    }
    #secondImg{
        .backgroundDivImg('/templates/creative/114h.jpg');
    }
    #thirdImg{
        .backgroundDivImg('/templates/creative/186h.jpg');
    }
    #fourthImg{
        .backgroundDivImg('/templates/creative/147h.jpg');
    }


    button{
        width:150px;
        border-radius: 20px;
        border: 1.5px solid #ccc;
    }
}
