#semiFeatures{
    color:@mjk_text;
    background-color: @mjk_well_bg;
	.row{
		line-height: 2.5;
        font-family: roboto;
        font-size: 1.1em;
	}

    height: auto;
    .row:first-child{
        margin-bottom: 25px;
    }
    .img{
        height: 50px;
        widows: 50px;
    }

    
}
