#social{
	height: auto;
	color: @mjk_text;
	background-color: @mjk_bg;
	

	#carousel-example-generic{
		line-height: 2.5;
	}
	
	.carousel-inner{
		height: 100%;
		background-color: @mjk_well_bg;

		text-align: center;

		img{
			height: 70px;
			width: 70px;
		}

		.row{
			margin-bottom: 20px;
		}

		.text{
			font-family: fantasy;
			font-size: 1.4em;
		}
	}

	#carIndicators{
		margin-bottom: -40px;

		li{
		 background-color: black;
		}
	}
}