#team{
    background-color: @mjk_well_bg;
    color: @mjk_text;
    height: auto;

    #content{
        line-height: 2.5;
        text-align: center;
        font-family: monospace;

        .row:nth-child(2){
            margin-bottom: 15px;
        }

        #subTitle{
            color: red;
        }

        #title{
            font-size: 2em;
        }
    }

   
}
