#work{
	height: auto;
	color: @mjk_text;
	font-family: serif;
	padding: 0;

	#clients{
		height: 500px;
		padding-top: 60px;
		background-image: url('/templates/creative/147h.jpg');
		background-size: cover;
		background-repeat: no-repeat; 

		.row{
			margin-bottom: 20px;
		}
	}

	#works{
		height: 500px;
		padding-top: 60px;
		background-image: url('/templates/creative/79h.jpg');
		background-size: cover;
		background-repeat: no-repeat; 

		.row{
			margin-bottom: 20px;
		}
	}

	button{
		background-color: transparent;
		border-radius: 100px;
		color: white;
	}
}