@import "/components/fakeLoader/fakeLoader.css";

/**
 * 
 * DYNAMIC STYLES
 * 
 */

@padding-none: 0px;
@margin-none: 0px;

@squared-corners: 0px;

@padding-contents: 60px;
@padding-vertical-contents: 60px;


// // colors variables
@outer_background: #333;
@inner_background: #FFF;
@titles: #ccc;
@texts: #666666;

// // new colors variables
@mjk_text:         #ccc;
@mjk_nav_bg:       #ccc;
@mjk_link_text:    #ccc;
@mjk_nav_text:     #ccc;
@mjk_well_bg:      #ccc;
@mjk_jumbotron_bg: #ccc;
@mjk_bg:           #ccc;

// // social links colors variables

@facebook-color: #3b5998;
@twitter-color: #55acee;
@vimeo-color: #1ab7ea;
@youtube-color: #C43029;
@skype-color: #00aff0;
@pinterest-color: #bd081c;
@instagram-color: #3f729b;
@tripadvisor-color: #589442;

// // fonts variables

@custom-font-text: 'Roboto Slab', Helvetica, Arial, sans-serif;
@custom-font-title: "Droid Serif", Georgia, Times, serif;

@font-custom-family-sans-serif: 'Roboto Slab', Helvetica, Arial, sans-serif;
@font-custom-family-serif: "Droid Serif", Georgia, Times, serif;

@font-text: @custom-font-text;
@font-title: @custom-font-title;

// @font-family-sans-serif: 'Droid Sans';
// @font-family-serif: "Droid Serif";

@font-family-titles: 'Montserrat', sans-serif;;
@font-weight-titles: 700;
@font-family-paragraphs: 'Montserrat', sans-serif;;
@font-weight-paragraphs: 400;

// navbar variables
// contol height logo main nav

@height-navbar: 80px;
@width-navbar: 80px;

//COMMONS:

.fb_iframe_widget{
	overflow: hidden;
	iframe{
		background: transparent !important;
	}
}
.fb-like, #fb-like{
	overflow: hidden;
	margin-bottom: 0.7em;
}

