
.remove {
	//cursor: pointer;
	position:absolute;
	top:0;
	left: @grid-gutter-width / 2;
	width: 100%;
	width: calc(~"100%" - @grid-gutter-width);
	z-index:9;

	height: 0;
	overflow: hidden;

	background: rgba(0,0,0,0.5);

	transition: all 0.3s;

	.remove-text{
		float: left;
		color: #eee;
		font-size: 14px;
		line-height: 18px;
		padding: 11px 8px 11px;
		text-transform: uppercase;
	}

	a {
		//transition: all .5s;
		background: #ff9900 !important;
		border-color: #ff9900 !important;
		cursor: pointer;
		display: inline-block;
		padding: 10px 15px 12px;
		color: #333 !important;
		font-size: 18px;
		line-height: 18px;
		float:right;
		transition: border-color 0.3s, background 0.3s, color 0.3s;
		&:hover{
			border-color: #874b00 !important;
			background: #c67d00 !important;
			color: #eee !important;
		}
	}
	&.showing{
		height: 40px;
	}

}

/*
:hover.post-column .edit-entry{
	top:0px;
	// bottom:0px;
}
.edit-entry{
	font-family: 'Roboto', sans-serif;
	background: @gray-dark;
	color: @gray-lighter;
	// padding: 10px 10px 10px 10px;
	overflow: auto;
	font-size: 14px;
	line-height: 100%;
	position: absolute;
	//width: 100%;
	z-index:9;
	top: -60px;
	left: @grid-gutter-width / 2;
	right: @grid-gutter-width / 2;
	transition: 0.3s;
	// bottom: 0px;
	//z-index: 10;
	// padding-bottom: 100%;
	
	

	.list-inline{
		margin-bottom: 0px;
		margin-left: 0px;
		padding: 10px 10px 10px 10px;

		li{
			padding-right: 0px;

			.btn-primary{
			
			}
			.btn-majeeko-editor{
				background: #ff9900 !important;
				border-color: #ff9900 !important;
				border-radius: 3px;
				cursor: pointer;
				font-family: 'Roboto', sans-serif;
			}

			// a{
			// 	color: darken(#F90, 20%);
			// 	background:#F90 ;
			// 	display: block;
			// 	padding: 5px 10px 5px 10px;
			// }
			// a:hover{
			// 	color: #F90;
			// 	background: darken(#F90, 20%);
			// 	display: block;
			// 	padding: 5px 10px 5px 10px;
			// }
		}

	}
}*/


