{% if page.configuration.settings.mail %}
<section class="section" id="contact-form" ng-controller="contactsCtrl">
	<div class="container">
		<div class="row">

			<hgroup class="col-md-12 section-title" id="map-section-title">
				<h1>{= page|getSectionTitle('contacts') =}</h1>
			</hgroup>

			<div class="col-md-12 no-gutter contact-form" id="contact-form" ng-cloak>

				<form role="row form" ng-submit="sendContactForm()" name="contactForm" ng-hide="formSuccess">
				    <div class="col-md-4 form-group"
				     	ng-class="{ 'text-danger': contactForm.email.$invalid && !contactForm.email.$pristine }">
						<label for="InputEmail">{= t('template:contacts.email') =}</label>
						<input class="form-control input-md" id="InputEmail"
							placeholder="{= t('template:contacts.email') =}"
							ng-model="contactFormData.email" required
							type="email"
							name="email">
						<small class="text-danger"
							ng-show="contactForm.email.$invalid && !contactForm.email.$pristine">{= t('template:contacts.invalid_email') =}</small>
				    </div>

				    <div class="col-md-4 form-group">
						<label for="InputName">{= t('template:contacts.firstname') =}</label>
						<input class="form-control input-md" id="InputName"
							placeholder="{= t('template:contacts.firstname') =}"
							ng-model="contactFormData.firstname"
							name="firstname">
				    </div>

				    <div class="col-md-4 form-group">
						<label for="InputSurname">{= t('template:contacts.lastname') =}</label>
						<input class="form-control input-md" id="InputSurname"
							placeholder="{= t('template:contacts.lastname') =}"
							ng-model="contactFormData.lastname"
							name="lastname">
				    </div>

				    <div class="col-md-12 form-group"
				    	ng-class="{ 'text-danger': contactForm.message.$invalid && !contactForm.message.$pristine }">
						<label for="message">{= t('template:contacts.message') =}</label>
						<textarea class="form-control input-md" rows="10"
							placeholder="{= t('template:contacts.message') =}"
							ng-model="contactFormData.message" required
							name="message"></textarea>
						<small class="text-danger"
							ng-show="contactForm.message.$invalid && !contactForm.message.$pristine">{= t('template:contacts.message_required') =}</small>
				    </div>

				    <div class="col-md-12 checkbox text-center text-danger"
				    	ng-class="{ 'text-danger': contactForm.privacy.$invalid && !contactForm.privacy.$pristine }">
						<label>
							<input type="checkbox" name="privacy"
								ng-model="contactFormData.privacy" required
								>
							<span ng-model="contactFormData.privacy" >{= t('template:contacts.privacy') =}</span>
						</label>
					</div>

					<div class="col-md-4 col-md-offset-4 form-group text-center">
						<label for="InputCaptcha"><img src="/captcha.png" alt="captcha"></label>
						<input class="form-control input-md" id="InputCaptcha"
							placeholder="Inserisci il codice"
							ng-model="contactFormData.captcha_result"
							name="captcha_result">
					</div>

				    <div class="col-md-12 form-group text-center">
				    	<button type="submit" class="btn btn-primary btn-xl" ng-disabled="contactForm.$invalid || sending">{= t('template:contacts.send') =}</button>
				    </div>
				</form>
			    <div class="col-md-12 form-messages" ng-cloak>
			    	<div class="alert alert-success" role="alert" ng-show="formSuccess">{= t('template:contacts.message_success') =}</div>
			    	<div class="alert alert-danger" role="alert" ng-show="formError">{= t('template:contacts.message_error') =}</div>
			    	{#
			    	<div class="alert alert-info" role="alert">...</div>
			    	<div class="alert alert-warning" role="alert">...</div>
			    	<div class="alert alert-danger" role="alert">...</div>
			    	#}
			    </div>

			</div>

		</div>
	</div>
</section>
{% endif %}
