{% if page|getHours('week-hours') %}
    <div class="hours-full">
        <h6 class="hours-title">Orari</h6>
        <table class="table table-bordered hours-table">
            {% for hours in page|getHours('week-hours') %}
                <tr>
                    <td>{= hours.start_day_label =} {% if hours.start_day != hours.end_day %} - {= hours.end_day_label =}{% endif %}</td>
                    <td>{= hours.hours_label =}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endif %}
