{% extends "../layouts/master.html" %}
{% block content %}
		
		<section class="section" id="company">
			<div class="container">
				<div class="row">

					{% include "../../__default/partials/page-intro.html" %}

				</div>
			</div>
		</section>
		
{% endblock %}
