{% extends "../layouts/master.html" %}
{% block content %}
		
	{# <pre>{= postData|json(2) =}</pre> #}
	{% include "../partials/banner.html" %}

	<section class="section single-detail-page" id="loop-events">
		<div class="container">
			<div class="row">

				{# {% include "../../__default/partials/page-intro.html" %} #}
				
				{% include "../../__default/partials/event-detail-content.html" %} 

			</div>
		</div>
	</section>
		
{% endblock %}
