{% extends "../layouts/master.html" %}
{% block content %}

		{# {% include "../../__default/partials/banner-slide.html" %} #}

		{% include "../partials/banner.html" %}
		
		<section class="section loop" id="custom-page">
			<div class="container">
				<div class="row">
						
					{# TITOLO SEZIONE #}
					<div class="col-xs-12">
						<div class="row">
							<div class="col-xs-12">
								<div class="page-intro">
									<div class="col-md-12">
										<hgroup class="section-title">
											<h1 class="page-title">
												{= title =}
											</h1>
										</hgroup>
									</div>
									<div class="col-md-10 col-md-offset-1">
										<div class="lead page-description">
											{= text | safe =}
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					{# FINE TITOLO SEZIONE #}

				</div>

				{% include "../partials/store.html" %}
				{% if photos %}
					{# {= album|json(2) =} #}
					{% include "../partials/loop-single-album.html" %}
				{% endif %}

			</div>
		</section>
		
{% endblock %}
