
<section class="section carousel slide" data-ride="carousel" id="banner">
    <div class="container">
        {# <div class="carousel-inner" role="listbox"><div class="item" style="background-image:url('{= page|getBannerPicture =}');"></div></div></div> #}
        <div id="banner-image-holder" class="banner-fade-slide-container" {= page|getBannerStyle|safe =} >
        {% include "../../__default/partials/banner-fade-slides.html" %}
    </div>
    </div>
</section>

{# BANNER CENTERING #}
<script type="text/javascript">
    var resizeBanner = function(){
        var widthContainer = document.getElementById('banner-image-holder').offsetWidth;
        var heightContainer = widthContainer * 315 / 850;
        console.log(heightContainer);
        document.getElementById('banner-image-holder').style.height = "" + heightContainer + "px";
    }

    resizeBanner();
    window.onresize = resizeBanner;

</script>
