{% include '../../__default/partials/cookies-alert.html' %}

{% if isHome %}
<nav class="section navbar navbar-default navbar-home" id="main-nav">
{% else %}
<nav class="section navbar navbar-default" id="main-nav">
{% endif %}

	<div class="container">

		{# Brand and toggle get grouped for better mobile display #}
		<div id="navbar-header" class="navbar-header">
			{##}
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				<span class="sr-only">{= t('template:navigation.toggle') =}</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>

			<a id="navbar-brand" class="navbar-brand" href="/" title="{= name =}">
				<img id="brand-img" class="fadeimage lazy" src="{= page|getProfilePicture =}" alt="{= name =}">
				{# <img id="brand-img fadeimage lazy" src="http://graph.facebook.com/{= page.data.pageData.id =}/picture?type=large" alt="{= name =}"> #}
			</a>
		</div>

		{# Collect the nav links, forms, and other content for toggling #}
		<div class="collapse navbar-collapse no-gutter" id="bs-example-navbar-collapse-1">
			<ul class="nav nav-justified">
			{% for index,item in page.configuration.settings.menu %}
				{% if item.active %}
                <li{% if slug and slug == item|getItemSlug %} class="active"{% endif %}>
					<a class="navbar-nav-link" href="/{= item|getItemSlug =}">
						<span class="nav-label">{= item.label =}</span>
					</a>
				</li>
				{% endif %}
			{% endfor %}
			</ul>
		</div>

	</div>
</nav>
