{% if isStore %}
    {% set layoutColumns = columns %}
    {% set kindOfPost = 'news' %}
    <section class="section loop" data-enable_columns="1" data-layout_columns="{= layoutColumns =}" id="loop-news">
        <div class="container">
    {% include "../../__default/partials/store-body-layout-sidebar.html"%}
    {% include "../../__default/partials/store-body.html"%}
        </div>
    </section>
    <!-- Products Grid -->
    <script type="text/template" class="products-grid-template">
        <% if( Object.keys(_oData.currentProductCollection).length < 1) { %>
        <div class="col-xs-12">
            <div class="alert alert-warning">
                {= t('template:store.no_products_alert') =}
            </div>
        </div>
        <% } else { %>
        <% _.each( _oData.currentProductCollection, function( listItem ){
        productUrl = "#/product/uid-" + listItem.index + "/" + listItem.slug;
        productImg = _.get(listItem, "thumbPath.src", false); %>
        <div data-productindex="<%- listItem.index %>" class="product-item post-column {= layoutColumns|generateBootstrapColumn('md') =}">
            <a class="post btn-modal product-id-<%- listItem.index %> product-link" data-productindex="<%- listItem.index %>" href="<%- productUrl %>" title="<%- listItem.name %>">
                <div class="post-container">
                    <div class="post-img col-xs-12 {= [isHome, layoutColumns, 'news', 3]|elementsGridColumns('img')  =}  {= [isHome, layoutColumns, kindOfPost, 3]|juxtaposeClass =} no-gutter">
                        <div class="thumbnail dynamic-height" data-set_background_image="<%- productImg %>"
                             style="background-image: url('<%- productImg %>')">
                        </div>
                    </div>
                    <div class="post-content col-xs-12  {= [isHome, layoutColumns, kindOfPost, 3]|elementsGridColumns('content') =} {= [isHome, layoutColumns, kindOfPost, 3]|juxtaposeClass =} no-gutter column-height">
                        <h2 class="post-title"><%- listItem.name %></h2>
                        <p><%- listItem.categoryName %></p>
                        <p>{= t('template:store.price') =}: <%- listItem.formattedPrice %></p>
                    </div>
                    <div class="clearfix"></div>
                    {#{= postAttributes(isHome, layoutColumns, kindOfPost, post) =}#}
                </div>
            </a>
        </div>
        <% }); }; %>
    </script>
    <!-- /Products Grid -->
{% endif %}
