{# FILTRO PER DISPOSITIVI MOBILI #}
<div class="filter-sidebar hidden-sm hidden-md hidden-lg">
	<button type="button" class="btn btn-primary btn-lg btn-block box-shadow" data-toggle="collapse" data-target="#demo" >
		filtra {# <span class="caret"></span> #}
	</button>
	<div id="demo" class="collapse" style="margin-top:3px;">
		<ul class="nav nav-pills nav-stacked" role="tablist">
			<li ng-class=" {active : filter == 'all'} ">
				<a class="box-shadow filtertab" ng-click=" filter = 'all' " role="tab">
					{= t('pagine.tutte') =}
					<span class="badge pull-right">{{pages.length}}</span>
				</a>
			</li>
            <li ng-class=" {active : filter == 'pro'} ">
                <a class="box-shadow filtertab" ng-click=" filter = 'pro' " ng-disabled="proPages == 0" role="tab">
                    PRO
                    <span class="badge pull-right">{{proPages}}</span>
                </a>
            </li>
            <li ng-class=" {active : filter == 'synced'} ">
                <a class="box-shadow filtertab" ng-click=" filter = 'synced' " ng-disabled="paidPages == 0" role="tab">
                    {= t('pagine.standard') =}
                    <span class="badge pull-right">{{paidPages}}</span>
                </a>
            </li>
			<li ng-class=" {active : filter == 'pending'} ">
				<a class="box-shadow filtertab" ng-click=" filter = 'pending' " role="tab">
					{= t('pagine.free') =}
					<span class="badge pull-right">{{freePages}}</span>
				</a>
			</li>
			{# 
			<li id="mob-li-link-y">
				<a class="box-shadow filtertab" id="link-y"  onclick="javascript:inviadati5('y');" role="tab" data-toggle="tab">
					{= t('pagine.reseller') =}
					<span class="badge pull-right">15</span>
				</a>
			</li> 
			#}
		</ul>
	</div>
</div>
{# FINE FILTRO PER DISPOSITIVI MOBILI #}

{# FILTRO PER VERSIONE DEKSTOP #}
<div class="help-sidebar hidden-xs" ng-cloak>
	<ul class="nav nav-pills nav-stacked hidden-xs" role="tablist">

		{# 
		cerca pagine da implementare
		<li>
			<div class="input-group">
				<input type="text" class="form-control input-lg" placeholder="Search for...">
				<span class="input-group-btn">
					<button class="btn btn-primary btn-lg" type="button">
						<span class="glyphicon glyphicon-search"></span>
					</button>
				</span>
			</div>
		</li> 
		#}
		
		<li ng-class=" {active : filter == 'all'} ">
			<a class="box-shadow filtertab" ng-click=" filter = 'all' " role="tab">
				{= t('pagine.tutte') =}
				<span class="badge pull-right">{{pages.length}}</span>
			</a>
		</li>
        <li ng-class=" {active : filter == 'pro'} ">
            <a class="box-shadow filtertab" ng-click=" filter = 'pro' " ng-disabled="proPages == 0" role="tab">
                PRO
                <span class="badge pull-right">{{proPages}}</span>
            </a>
        </li>
        <li ng-class=" {active : filter == 'synced'} ">
            <a class="box-shadow filtertab" ng-click=" filter = 'synced' " ng-disabled="paidPages == 0" role="tab">
                {= t('pagine.standard') =}
                <span class="badge pull-right">{{paidPages}}</span>
            </a>
        </li>
		<li ng-class=" {active : filter == 'pending'} ">
			<a class="box-shadow filtertab" ng-click=" filter = 'pending' " role="tab">
				{= t('pagine.free') =}
				<span class="badge pull-right">{{freePages}}</span>
			</a>
		</li>

		{# 
		<li id="li-link-y">
			<a class="box-shadow filtertab" id="link-y"  onclick="javascript:inviadati5('y');" role="tab" data-toggle="tab">
				{= t('pagine.reseller') =}
				<span class="badge pull-right">15</span>
			</a>
		</li> 
		#}
	</ul>

</div>
{# FINE FILTRO PER VERSIONE DEKSTOP #}
