<div class="list-item box-shadow animate-repeat maj-animate"
	ng-repeat="account in pages | filterPageByStatus : filter |orderBy:sortFunction "
	ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}"
	ng-class=" {'status-synced': (account.status == 'paid' || account.status == 'pro'), 'status-pending': account.status == 'synced' , 'status-unsynced': account.status == 'unsynced' || account.generated_for_preview == true, 'status-syncing': account.loading} "
	ng-cloak>

	<div class="row equal-row">
		<div class="col-xs-12 hidden-lg hidden-md list-title-mobile">
			<h2 class="list-title">{{account.name}} <span ng-show="account.isPro" class="badge-pro-version">PRO</span></h2>
		</div>

		<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6" style="padding-right:0px;">
			<div class="photoContainer thumbnail square-thumbnail" style="background-image:url({{account.picture}});"></div>
			{# <div class="photoContainer thumbnail square-thumbnail" style="background-image:url(http://graph.facebook.com/{{account.facebook_id}}/picture?width=200&height=200);"></div> #}
		</div>

		<div class="col-lg-9 col-md-9 col-sm-8 col-xs-6">

			<h2 class="list-title hidden-sm hidden-xs">{{account.name}} <span ng-show="account.isPro" class="badge-pro-version">PRO</span></h2>

			{#<p class="hidden-sm hidden-xs list-page-category">
				<small>{{account.category}}</small>
			</p>#}

			<small class="list-domain hidden-xs" ng-show="account.domain && (account.hasOwnProperty('generated_for_preview') == false || account.generated_for_preview == false)" >
                <a class="website-link" target="_blank" href="http://{{account.domain}}">{{account.domain}}</a>
            </small>
			<ul class="list-inline synkysitedata hidden-sm hidden-xs page-details" ng-show="account.username && (account.hasOwnProperty('generated_for_preview') == false || account.generated_for_preview == false)" >
				<li>
					<small>
						<span class="badge">{{account.posts_count||0}}</span>
						{= t('dettagli.news') =}
					</small>
				</li>
				<li>
					<small>
						<span class="badge">{{account.albums_count||0}}</span>
						{= t('dettagli.albums') =}
					</small>
				</li>
				<li>
					<small>
						<span class="badge">{{account.events_count||0}}</span>
						{= t('dettagli.eventi') =}
					</small>
				</li>
				<li>
					<small>
						<span class="badge">{{account.likes||0}}</span>
						{= t('dettagli.likes') =}
					</small>
				</li>
			</ul>
			{# <ul class="list-inline btn-group-edit-list hidden-lg hidden-md hidden-sm">
				<li class="pad">
					<a class="btn btn-circle glyphicon glyphicon-refresh" role="button"
						ng-click="sync(account)"
						data-toggle="tooltip" data-placement="top"
						title="sincronizza il tuo sito"
						></a>
				</li>
				<li class="pad"
					ng-show="account.username && (account.hasOwnProperty('generated_for_preview') == false || account.generated_for_preview == false)"
				>
					<a class="btn btn-circle glyphicon glyphicon-pencil" role="button"
						href="/editor/{{account.username}}"
						data-toggle="tooltip" data-placement="top"
						title="personalizza il sito"
						target="_blank"></a>
				</li>
				<li class="pad"
					ng-show="account.url && (account.hasOwnProperty('generated_for_preview') == false || account.generated_for_preview == false)"
				>
					<a class="btn btn-circle glyphicon glyphicon-link" role="button"
						href="{{account.url}}"
						data-toggle="tooltip" data-placement="top"
						title="vai al sito"
						target="_blank"></a>
				</li>
			</ul> #}
			<ul class="list-inline btn-group-edit-list-buttons">
				<li> 
					<a class="btn btn-sm btn-block btn-refresh" 
						role="button" 
						ng-click="sync(account)"
						data-toggle="tooltip" data-placement="top"
						title="{= t('manager.sync') =}">
						<span class="glyphicon glyphicon-refresh"></span>
						{= t('manager.sync') =}
					</a>
				</li>
				<li ng-show="account.username">
					<a class="btn btn-sm btn-block" role="button"
						href="/editor/{{account.username}}"
						data-toggle="tooltip" data-placement="top"
						title="{= t('manager.edit') =}"
					>
						<span class="glyphicon glyphicon-pencil"></span>
						{= t('manager.edit') =}
					</a>
				</li>
				{# <li ng-show="account.url">
					<a class="btn btn-sm btn-block" role="button"
						href="{{account.url}}"
						data-toggle="tooltip" data-placement="top"
						title="{= t('manager.preview') =}"
						target="_blank">
						<span class="glyphicon glyphicon-link"></span>
						{= t('manager.preview') =}
					</a>
				</li> #}
				<li ng-show="account.piwikWidgetUrl">
					<a class="btn btn-sm btn-block" role="button"
						ng-click="viewWidget(account.piwikWidgetUrl)"
						data-toggle="tooltip" data-placement="top"
						title="{= t('analytics') =}"
						target="_blank">
						<span class="glyphicon glyphicon-scale"></span>
						{= t('analytics') =}
					</a>
				</li>
			</ul>
		</div>
		<div class="col-xs-12">
			<p class="last-update" ng-show="account.username">
				<small>{= t('dettagli.last_sync') =}: <strong>{{account.last_sync|date:'dd-MM-yyyy hh:mm:ss'}}</strong></small>
			</p>
			<p class="last-update" ng-hide="account.username">
				<small>{= t('manager.unsynced') =}</small>
			</p>
		</div>
	</div>

</div>

<!-- Event Modal Stats pages -->
<script type="text/ng-template" id="analytics_modal">
	<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="$close()">
		<span aria-hidden="true">&times;</span>
	</button>
        <h4 class="modal-title ">{= t('manager.analytics') =}</h4>
    </div>
	<div class="modal-body" style="padding:20px">
		<iframe ng-src="{{activeUrl}}" width="100%" height="600px" frameborder="0">  </iframe>
	</div>
    <div class="modal-footer">
        <button class="btn btn-default" type="button" ng-click="$close()">{= t('modals.close') =}</button>
    </div>   
</script>
