<div class="list-item box-shadow loading-list-item">

	<div class="row equal-row">
	
		<div class="col-lg-3 col-md-3 col-sm-3 col-xs-4" style="padding-right:0px;">
			<div class="photoContainer thumbnail square-thumbnail bg-gradient-animate">
				{# <img ng-src="http://graph.facebook.com/{{account.facebook_id}}/picture?width=200&height=200" class="img-responsive page_img_thumb fadeimage lazy" alt="{{account.name}}"> #}
			</div>
		</div>

		<div class="col-lg-9 col-md-9 col-sm-8 col-xs-8">

			<h2 class="list-title bg-gradient-animate"></h2>

			<p class="hidden-sm hidden-xs list-page-category bg-gradient-animate">
				<small></small>
			</p>
			
			<small class="list-domain hidden-xs bg-gradient-animate"></small>

			<ul class="list-inline synkysitedata hidden-sm hidden-xs page-details">
				<li class="bg-gradient-animate">
					<small>
						<span class="badge"></span>
						
					</small>
				</li>
				<li class="bg-gradient-animate">
					<small>
						<span class="badge"></span>
						
					</small>
				</li>
				<li class="bg-gradient-animate">
					<small>
						<span class="badge"></span>
						
					</small>
				</li>
				<li class="bg-gradient-animate">
					<small>
						<span class="badge"></span>
						
					</small>
				</li>
			</ul>
			
			{# 
			<ul class="list-inline btn-group-edit-list">
				<li>
					<a class="btn btn-circle glyphicon glyphicon-refresh bg-gradient-animate" id="synk" 
						title="synk your site! AutoSynks at h.12 + h.24"  
						data-toggle="modal" 
						data-target="#synkyn"
						style="cursor:default"></a>
				</li>
				<li>
					<a class="btn btn-circle glyphicon glyphicon-pencil bg-gradient-animate" role="button"
						title="personalizza il sito" 
						style="cursor:default"></a>
				</li>
				<li>
					<a class="btn btn-circle glyphicon glyphicon-link bg-gradient-animate" role="button"
						title="vai al sito" 
						style="cursor:default"></a>

				</li>
			</ul> 
			#}
			
			
		</div>
		<div class="col-xs-12">
			<p class="last-update">
				<small></strong></small>
			</p>
		</div>
	</div>

</div>
