<nav class="navbar navbar-default navbar-fixed-top box-shadow"  role="navigation">

	{# {% include '../cookies-allert.html' %} #}

	<div class="container">

		{# Brand and toggle get grouped for better mobile display #}

		<div class="navbar-header">
			<button type="button"  id="nav-toggle" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">{= t('navigation.toggle') =}</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/" data-id="banner-home">
				{# Majeeko brand #}
				{% if is_tophost %}
				<img src="/images/Hosting-Tophost-2.jpg" class="navbar-brand-img" id="navbar-brand-img" height="40px;" style="margin-top:3px;">
				{% else %}
				<img src="/images/brand-colors.png" class="navbar-brand-img" id="navbar-brand-img" height="40px;" style="margin-top:3px;">
				{% endif %}
			</a>
		</div>

		{# Collect the nav links, forms, and other content for toggling #}

		<div class="collapse navbar-collapse navbar-main-collapse" id="main-nav">
			<ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="change-language-link" href="?setLng=it" title="{= t('navigation.set_lang_change') =}: {= t('navigation.set_lang_name_it') =}"><span class="flag-icon flag-icon-it"></span></a>
                </li>
                <li>
                    <a class="change-language-link" href="?setLng=en" title="{= t('navigation.set_lang_change') =}: {= t('navigation.set_lang_name_en') =}"><span class="flag-icon flag-icon-gb"></span></a>
                </li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<span class="glyphicon glyphicon-user"></span>
						<strong class="username">{= user.facebook.profile.name.givenName =}</strong>
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu" role="menu">
						<li>
							<a href="/logout">{= t('navigation.esci') =}</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</nav>
