<div class="list-item box-shadow">
	<div class="row">
		<div class="col-xs-12" style="padding-bottom:10px">
			<h1 class="list-title" style="padding-left:20px">{= t('manager.no_pages.title') =}</h1>

			<p style="padding-left:20px">
				{= t('manager.no_pages.body') =}
			</p> 
			
			<ul>
				<li>
					<a href="https://www.facebook.com/pages/create" target="blank">
					{= t('manager.no_pages.business-page') =}
					</a>
				</li>
				<li>
					<a href="https://www.facebook.com/pages/create.php?migrate" target="blank">
					{= t('manager.no_pages.migrate') =}
					</a>
				</li>
			</ul>

			<p style="padding-left:20px">
				<small>{= t('manager.no_pages.foot') =}</small>
			</p>

		</div>
	</div>
</div>
