<div class="list-item box-shadow">
    <div class="row">
        <div class="col-xs-12" style="padding-bottom:10px">
            <h1 class="list-title" style="padding-left:20px">{= t('manager.no_standard_pages.title') =}</h1>

            <p style="padding-left:20px">{= t('manager.no_standard_pages.intro') =}</p>
            <ul>
                <li>{= t('manager.no_standard_pages.persona_domain') =}</li>
                <li>{= t('manager.no_standard_pages.2email') =}</li>
                <li>{= t('manager.no_standard_pages.autosync') =}</li>
                <li>{= t('manager.no_standard_pages.noad') =}</li>
                <li>{= t('manager.no_standard_pages.stat') =}</li>
            </ul>
        </div>
    </div>
</div>
