<div class="list-item box-shadow animate-repeat maj-animate" 
	ng-repeat="account in pages | orderBy : 'name' "
	ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}"
	ng-class=" {'status-synced': account.status == 'paid', 'status-pending': account.status == 'synced', 'status-unsynced': account.status == 'unsynced', 'status-syncing': account.loading} "
	ng-cloak>

	<div class="row equal-row">
	
		<div class="col-lg-3 col-md-3 col-sm-3 col-xs-4" style="padding-right:0px;">
			<div class="photoContainer thumbnail square-thumbnail" style="background-image:url({{account.picture}});"></div>
			{# <div class="photoContainer thumbnail square-thumbnail" style="background-image:url(http://graph.facebook.com/{{account.facebook_id}}/picture?width=200&height=200);"></div> #}
		</div>

		<div class="col-lg-9 col-md-9 col-sm-8 col-xs-8">

			<h2 class="list-title">{{account.name}}</h2>

			<p class="hidden-sm hidden-xs list-page-category">
				<small>{{account.category}}</small>
			</p>
			
			{# <small class="list-domain hidden-xs" ng-show="account.domain">{{account.domain}}</small> #}

			<ul class="list-inline synkysitedata hidden-sm hidden-xs page-details" ng-show="account.username">
				<li>
					<small>
						<span class="badge">{{account.posts_count||0}}</span>
						{= t('dettagli.news') =}
					</small>
				</li>
				<li>
					<small>
						<span class="badge">{{account.albums_count||0}}</span>
						{= t('dettagli.albums') =}
					</small>
				</li>
				<li>
					<small>
						<span class="badge">{{account.events_count||0}}</span>
						{= t('dettagli.eventi') =}
					</small>
				</li>
				<li>
					<small>
						<span class="badge">{{account.likes||0}}</span>
						{= t('dettagli.likes') =}
					</small>
				</li>
			</ul>
			<ul class="list-inline btn-group-edit-list">
				<button class="btn btn-primary btn-md pad" ng-click="bindPage(account)" ng-disabled="loading || binding">Seleziona Pagina</button>
			</ul>			
		</div>
		{# <div class="col-xs-12">
			<p class="last-update" ng-show="account.username">
				<small>{= t('dettagli.last_sync') =}: <strong>{{account.last_sync|date:'dd-MM-yyyy hh:mm:ss'}}</strong></small>
			</p>
			<p class="last-update" ng-hide="account.username">
				<small>Pagina non sincronizzata</small>
			</p>
		</div> #}
	</div>

</div>
