<div class="row hidden-xs">
	<div class="col-xs-12">
		<div class="col-xs-12 box-shadow" id="user-detail">
			<div class="row">
				<div class="col-sm-12 no-gutter">
					<div id="user-avatar">
						<img src="{= user.facebook.profile_picture =}" class="img-responsive fadeimage lazy" id="">
					</div>
				</div>
				<div class="col-lg-10 col-md-12 col-sm-12 col-xs-12">
					<p class="welcome" style="margin-top:10px;">
						{= t( 'user.hello', { 
							user_name: '<strong>' + user.facebook.profile.name.givenName + '</strong>' 
						}) =}
					</p>
					<p>
						<small>
							{= t( 'user.welcome_manager', {page_count: user.facebook.accounts.length} ) =}
						</small>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>