{% extends "layouts/master-generic-message.html" %}
{% block display_text %}
								
    <h1>{= t('translation:cancelled_purchase.title') =}</h1>
    <p>{= t('translation:cancelled_purchase.back_to') =} <a href="/manager">{= t('translation:cancelled_purchase.admin_page') =}</a>.</p>

{% endblock %}
