{% extends "layouts/editor.html" %}
{% block content %}
{% if is_tophost %}
<section class="pagewrap editor-panel-opened" id="editor" ng-controller="tophostEditorCtrl" ng-class="{'editor-panel-opened': openEditorPanel}">
{% else %}
<section class="pagewrap editor-panel-opened" id="editor" ng-controller="editorCtrl" ng-class="{'editor-panel-opened': openEditorPanel}">
{% endif %}
    {% include "./partials/editor/editor-panel.html" %}
    <div class="window-width main" id="main-container" ng-cloak>
        {% include "./partials/editor/topbar-editor.html" %}
        <div class="rulers">
            <div class="viewport desktop-viewport">
                <div id="loader1" ng-show="isSaving">
                    <div class="spinner">
                        <div class="double-bounce1"></div>
                        <div class="double-bounce2"></div>
                    </div>
                </div>
                <iframe name="InlineFrame1" scrolling="yes" frameborder="0" id="app_preview" ng-src="{{siteUrl}}" style="display: block;"></iframe>
            </div>
        </div>
    </div>
</section>

{% include "./partials/editor/contents-hidden-modal.html" %}
{% include "./partials/editor/store-admin-modal.html" %}

{% include "./partials/editor/buy.html" %}
{% include "./partials/editor/contents-sync-done.html" %}

{% endblock %}

{% block page_scripts %}
<script>
	angular.module('majeeko.main').value('pageData', {= JSON.stringify(pageData) =})
	angular.module('majeeko.main').value('fonts',{= JSON.stringify(allFonts)=})
    angular.module('majeeko.main').value('userData',{= JSON.stringify(user)=})
	angular.module('majeeko.main').value('embeddedWebsiteURL','{= embeddedWebsiteURL =}')
</script>
<script>
WebFont.load({
 google: {
     families: [{% for font in fonts %}{= font['texts'] | safe =},{= font['titles'] | safe =},{% endfor %}]
 }
});
</script>
{% endblock %}
