{% extends "layouts/master.html" %}

{% block content %}

	{% include 'partials/nav-generic.html' %}

    <section class="manager-page">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 page-content">
                    {% if pageContent == "privacy" %}
                        {= t('translation:modals.privacy_body') =}
                    {% elseif pageContent == "cookies" %}
                        {= t('translation:modals.cookies_body') =}
                    {% elseif pageContent == "terms" %}
                        {= t('translation:modals.terms_body') =}
                    {% endif %}
                </div>
            </div>
        </div>
    </section>

	{% include "./partials/footer.html" %}

{% endblock %}
