{% extends "layouts/master-generic-message.html" %}
{% block display_text %}
    <h1><span style="color: #dd0000;"><i class="fa fa-exclamation-circle"></i></span> {= t('manager.no_permission_granted.title') =}</h1>

    <p>{= t('manager.no_permission_granted.body', {"username": user.facebook.profile.displayName}) =}</p>

    <p>
        <a href="/auth/facebook" role="button" id="fb-accedi-nav">
            <button class="pad btn btn-sm btn-social btn-facebook"> <i class="fa fa-facebook"></i>
                {= t('navigation.accedi') =}
            </button>
        </a>
    </p>

    <p><small>{= t('manager.no_permission_granted.foot') =}</small></p>
{% endblock %}
