{% extends "layouts/master.html" %}

{% block content %}

	{% include "partials/manager/navbar.html" %}

	<section id="reseller-list" ng-controller="managerCtrl">
		<div class="container">
			<div class="row">

				{# LEFT COLUMN #}
				<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12" >
					<div class="row">
						<div class="col-xs-12" >
							{# PIPPO #}
							<div id="pippo">

								{% include "partials/manager/user-details.html" %}

								<div ng-show="!loading && pages.length" ng-cloak>{% include "partials/manager/filters.html" %}</div>
								
								{# 
								<div class="row hidden-xs" ng-cloak ng-show=" numPagesGaveError ">
									<div class="col-xs-12">
										<small class="text-danger">{{numPagesGaveError}} pagine hanno dato errore durante la sincronizzazione</small>
									</div>
								</div> 
								#}
							</div>
							{# FINE PIPPO #}
						</div>
					</div>
				</div>
				{# END LEFT COLUMN #}

				{# RIGHT COLUMN #}
				<div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
				{%if thankYou%}
							<div class="row" id="dati5" ng-show="thankYouVisible==true" ng-init="thankYouVisible=true">
								<div class="list-item box-shadow">
									<div class="row">
										<div class="col-xs-12" style="padding-bottom:10px">
											<h1 class="list-title" style="padding-left:20px">{= t('translation:thank_you.title') =}!<span class="pull-right" style="margin-right:20px" ng-click="thankYouVisible=false"><a href="">&times;</a></span></h1>
										</div>
									</div>
								</div>
							</div>
				{%endif%}
					<div class="row" id="dati5">
						<div class="col-xs-12">

								<div ng-show="loading">
									{% include "partials/manager/loading-list-item.html" %}
								</div>
								
								<div ng-show=" !loading && paidPages == 0 && pages.length && filter == 'synced' " ng-cloak>
									{% include "partials/manager/no-standard-pages.html" %}
								</div>

								<div ng-show=" !loading && pages.length == 0 " ng-cloak>
									{% include "partials/manager/no-pages.html" %}
								</div>

								{% include "partials/manager/list-item.html" %}

						</div>
					</div>

					{# [TODO] insert pagination #}

				</div>
				{# END RIGHT COLUMN #}

			</div>
		</div>
	</section>

	{% include "./partials/footer.html" %}

{% endblock %}
