{% extends "layouts/master-generic-message.html" %}
{% block display_text %}

    <h1>{= t('translation:bank_transfer_details.title') =}</h1>

    <p>
        {= t('translation:bank_transfer_details.intro',{total:order.totalPrice|currency}) =}:
    </p>

    <ul>
        <li>{= t('translation:bank_transfer_details.intestatario') =}: <strong>Sync srl</strong></li>
        <style>.iban_separator{padding-left:0.3em;}</style>
        {# The IBAN code has to be written like this. Please leave it in a single line without spaces.#}
        <li>IBAN: <strong><span class="iban_separator">IT84</span><span class="iban_separator">R020</span><span class="iban_separator">0805</span><span class="iban_separator">2030</span><span class="iban_separator">0010</span><span class="iban_separator">3632</span><span class="iban_separator">456</span></strong></li>
        <li>{= t('translation:bank_transfer_details.causale') =}: <strong>{= order._id =}</strong></li>
    </ul>

{% endblock %}
