{% extends "layouts/master.html" %}
{% block display_text %}

    <h1>{= t('translation:thank_you.title') =}!</h1>

	{% include "partials/manager/navbar.html" %}

	<section id="reseller-list">
		<div class="container">
			<div class="row">

				{# LEFT COLUMN #}
				<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12" >
					<div class="row">
						<div class="col-xs-12" >
							{# PIPPO #}
							<div id="pippo">

								{% include "partials/manager/user-details.html" %}
								

								<div ng-show="!loading && pages.length" ng-cloak>{% include "partials/manager/filters.html" %}</div>

								
								
								{# <div class="row hidden-xs" ng-cloak ng-show=" numPagesGaveError ">
									<div class="col-xs-12">
										<small class="text-danger">{{numPagesGaveError}} pagine hanno dato errore durante la sincronizzazione</small>
									</div>
								</div> #}
							</div>
							{# FINE PIPPO #}
						</div>
					</div>
				</div>
				{# END LEFT COLUMN #}

				{# RIGHT COLUMN #}
				<div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
					
					<div class="row" id="dati5">
						<div class="list-item box-shadow">
							<div class="row">
								<div class="col-xs-12" style="padding-bottom:10px">
									<h1 class="list-title" style="padding-left:20px">{= t('translation:thank_you.title') =}!</h1>

									<p style="padding-left:20px">
                                        {= t('translation:thank_you.go_to') =} <a href="/manager">{= t('translation:thank_you.admin_page') =}</a>
									</p>

                                    <!-- Facebook Pixel Code -->
                                    <script>
                                        !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
                                                n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
                                            n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
                                            t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
                                                document,'script','//connect.facebook.net/en_US/fbevents.js');

                                        fbq('init', '421915611342521');
                                        fbq('track', "PageView");
                                        fbq('track', 'Purchase', {value: 100, currency: 'EUR'});</script>
                                    <noscript><img height="1" width="1" style="display:none"
                                                   src="https://www.facebook.com/tr?id=421915611342521&ev=PageView&noscript=1"
                                                /></noscript>
                                    <!-- End Facebook Pixel Code -->

								</div>
							</div>
						</div>
					</div>

					{# [TODO] insert pagination #}

				</div>
				{# END RIGHT COLUMN #}


				{# <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
					
					<div class="row" id="dati5">
						<div class="col-xs-12">
								
								<h2>Grazie per aver acquistato il tuo Majeeko!</h2>

								<p>Procedi al <a href="/manager">manager</a></p>

						</div>
					</div>

				</div> #}

			</div>
		</div>
	</section>

	{% include "./partials/footer.html" %}

{% endblock %}
