{% extends "layouts/master.html" %}

{% block content %}

	{% include "partials/manager/navbar.html" %}

	<section id="reseller-list" ng-controller="pageSelectorCtrl">
		<div class="container">
			<div class="row">

				{# LEFT COLUMN #}
				<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12" >
					<div class="row">
						<div class="col-xs-12" >
							{# PIPPO #}
							<div id="pippo">

								{% include "partials/manager/user-details.html" %}

								{# {% include "partials/manager/filters.html" %} #}

								
								
								{# <div class="row hidden-xs" ng-cloak ng-show=" numPagesGaveError ">
									<div class="col-xs-12">
										<small class="text-danger">{{numPagesGaveError}} pagine hanno dato errore durante la sincronizzazione</small>
									</div>
								</div> #}
							</div>
							{# FINE PIPPO #}
						</div>
					</div>
				</div>
				{# END LEFT COLUMN #}

				{# RIGHT COLUMN #}
				<div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
					
					<div class="row" id="dati5">
						<div class="col-xs-12">

								<div ng-show="loading">
									{% include "partials/manager/loading-list-item.html" %}
								</div>
								
								<div ng-show=" !loading && paidPages == 0 && filter == 'synced' " ng-cloak>
									{% include "partials/manager/no-pages.html" %}
								</div>

								{% include "partials/manager/tophost-list-item.html" %}

						</div>
					</div>

					{# [TODO] insert pagination #}

				</div>
				{# END RIGHT COLUMN #}

			</div>
		</div>
	</section>

	{% include "partials/footer-tophost.html" %}

{% endblock %}