<!-- Header -->
<section class="section" id="banner">

    <div id="banner-image-holder" class="banner-image-holder banner-fade-slide-container" {= page|getBannerStyle|safe =} >
    {% include "../../__default/partials/banner-fade-slides.html" %}
    </div>
	<div id="company">
		<div class="container">
			<div class="boxcontainer">
				{% if page.configuration.settings.profilo_aziendale %}
				<div class="slogan">
					<div class="slogantext">
						{% if page.configuration.settings.slogan.length>1 %}
							{= page.configuration.settings.slogan =}
						{% else %}
							{= page.configuration.settings.nome_sito||page.data.pageData.name =}
						{% endif %}
					</div>
				</div>
				<div class="innertext">
                    <div class="innertext-text-container text-center">
					{= page.configuration.settings.profilo_aziendale | safe | truncateText(400) =}
                    </div>
				</div>
				{% else %}
				<div class="innertext">
                    <div class="innertext-text-container text-center">
                        {% if page.configuration.settings.slogan.length>1 %}
                            {= page.configuration.settings.slogan =}
                        {% else %}
                            {= page.configuration.settings.nome_sito||page.data.pageData.name | truncateText(400) =}
                        {% endif %}
                    </div>
				</div>
				{% endif %}
			</div>
		</div>
	</div>
</section>
