<section class="section loop" id="footer">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-6">
				{% include "../../__default/partials/footer/address.html" %}
                <div class="fb-like" data-href="{= page.data.pageData.link =}" data-colorscheme="dark" data-width="90" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>
				{% include "../../__default/partials/footer/hours-small.html" %}
			</div>
			<div class="col-xs-12 col-sm-6" id="company_social_links">
				<ul class="list-inline">
					{% include "../../__default/partials/footer/social-links.html" %}
				</ul>
			</div>
			<div class="clearfix"></div>
			<div class="col-xs-12 text-left" id="credits">
				{% include "../../__default/partials/footer/credits.html" %}
			</div>
		</div>
	</div>
</section>
