{% include "../../__default/partials/meta-tags.html" %}

<link href="/components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="/components/font-awesome/css/font-awesome.min.css" rel="stylesheet">

<link href="/css/dynamic.css" rel="stylesheet" media="screen">

<!--[if lt IE 9]>
    <style>.container {max-width: 960px}</style>
<![endif]-->
