<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top {% if isHome %}shrinkable{% endif %}">
	<div class="navbar-outer-container">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header page-scroll">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapse-main-nav">
					<span class="sr-only">MENU</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">
					<img class="brand-image" src="{= page|getProfilePicture =}" alt="{= page.configuration.settings.nome_sito||page.data.pageData.name =}" height="75">
				</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="collapse-main-nav">
				<ul class="nav navbar-nav navbar-right" id="main-nav">
					{% for index,item in page.configuration.settings.menu %}
						{% if item.active %}
						<li{% if slug and slug == item|getItemSlug or slug == item['id'] %} class="active"{% endif %}>
							<a href="/{= item|getItemSlug =}">{= item.label =}</a>
						</li>
						{% endif %}
					{% endfor %}
					<li class="text-center hidden-xs hidden-sm">
						<a href="{= page.data.pageData.link =}" rel="publisher" target="_blank" class="company_social_link navbar-nav-link"><i class="f fa fa-facebook-square"></i></a>
					</li>
					{% if page.configuration.settings.social.twitter %}
					<li class="text-center hidden-xs hidden-sm">
						<a href="{= page.configuration.settings.social.twitter =}" rel="publisher" target="_blank" class="company_social_link navbar-nav-link"><i class="twitter fa fa-twitter-square"></i></a>
					</li>
					{% endif %}
					{% if page.configuration.settings.social.vimeo %}
					<li class="text-center hidden-xs hidden-sm">
						<a href="{= page.configuration.settings.social.vimeo =}" rel="publisher" target="_blank" class="company_social_link navbar-nav-link"><i class="vimeo fa fa-vimeo-square"></i></a>
					</li>
					{% endif %}
					{% if page.configuration.settings.social.youtube %}
					<li class="text-center hidden-xs hidden-sm">
						<a href="{= page.configuration.settings.social.youtube =}" rel="publisher" target="_blank" class="company_social_link navbar-nav-link"><i class="youtube fa fa-youtube-play"></i></a>
					</li>
					{% endif %}
					{% if page.configuration.settings.social.skype %}
					<li class="text-center hidden-xs hidden-sm">
						<a href="skype:{= page.configuration.settings.social.skype =}" rel="publisher" target="_blank" class="company_social_link navbar-nav-link"><i class="skype fa fa-skype"></i></a>
					</li>
					{% endif %}
                    {% if page.configuration.settings.social.pinterest %}
                        <li class="text-center hidden-xs hidden-sm">
                            <a href="{= page.configuration.settings.social.pinterest =}" rel="publisher" target="_blank" class="company_social_link navbar-nav-link"><i class="pinterest fa fa-pinterest-square"></i></a>
                        </li>
                    {% endif %}
                    {% if page.configuration.settings.social.instagram %}
                        <li class="text-center hidden-xs hidden-sm">
                            <a href="{= page.configuration.settings.social.instagram =}" rel="publisher" target="_blank" class="company_social_link navbar-nav-link"><i class="instagram fa fa-instagram"></i></a>
                        </li>
                    {% endif %}
                    {% if page.configuration.settings.social.tripadvisor %}
                        <li class="text-center hidden-xs hidden-sm">
                            <a href="{= page.configuration.settings.social.tripadvisor =}" rel="publisher" target="_blank" class="company_social_link navbar-nav-link"><i class="tripadvisor fa fa-tripadvisor"></i></a>
                        </li>
                    {% endif %}
				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</div>
	</div>

	<!-- /.container-fluid -->
</nav>
