{% set loop_posts = page.events %}
{% set kindOfPost = 'event' %}

{% import "../../__default/partials/loop-macros.html" as macros %}

{% if loop_posts.length %}
{% set layoutColumns = events_columns %}
<section class="section loop content {% if not isHome %}single-page-loop{% endif %}" id="loop-events">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 section-title">
				<h2>{= page|getSectionTitle('events') =}</h2>
			</div>
		</div>
		{% for post in loop_posts %}
			{% if loop.first or (loop.index - 1) % layoutColumns == 0 %}
				<div class="row">
			{% endif %}
			<div class="col-xs-12 {= layoutColumns|generateBootstrapColumn('md') =} loop-column" show-hide show-hide-id="{= post.id =}" show-hide-type-of-post="{= kindOfPost =}">
				<div class="loop-column-img"
					 style="background-image: url('{= post.cover_image.source =}');
					"></div>
				<a class="loop-column-container" href="{= post|getPostUrl(kindOfPost) =}"
				   title="{= post.title|addslashes =}" {#modal="event-modal.tpl" modal-container="default-modal-window.tpl" #}
				>
					<div class="innertext">
						{% if post.start_time %}
						<div class="text-muted"><small><i class="glyphicon glyphicon-time"></i> {= post|displayTimeEvent("short") =}</small></div>
						{% endif %}
						<h4>{= post.title|truncateText(60) =}</h4>
						<p>{= post.description|truncateText(70) =}</p>
					</div>
				</a>
			</div>

		{% if loop.last or (loop.index - 1) % layoutColumns == layoutColumns-1 %}
			<div class="clearfix"></div>
		</div>
		{% endif %}
		{% endfor %}


		<div class="row">
			{= macros.pagination(isHome, active, prev_page, next_page, pages) =}
		</div>
	</div>
</section>
{% elseif not isHome %}

<section class="section loop content single-page-loop" id="loop-events">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 section-title">
				<h2>{= page|getSectionTitle('events') =}</h2>
			</div>
		</div>
        <div class="row">
            <p style="text-align: center">Non ci sono elementi in questa sezione.</p>
            <div class="clearfix"></div>
        </div>
	</div>
</section>
{% endif %}
