{% set kindOfPost = 'album' %}
{% set loop_posts = page.albums %}

{% import "../../__default/partials/loop-macros.html" as macros %}

{% if loop_posts.length %}
{% set layoutColumns = albums_columns %}
<section class="section loop content {% if not isHome %}single-page-loop{% endif %}" id="loop-albums">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 section-title">
				<h2>{= page|getSectionTitle('albums') =}</h2>
			</div>
		</div>

		{% for post in loop_posts %}
		{% if loop.first or (loop.index - 1) % layoutColumns == 0 %}
		<div class="row">
		{% endif %}

			<div class="col-xs-12 {= layoutColumns|generateBootstrapColumn('md') =} loop-column" show-hide show-hide-id="{= post.id =}" show-hide-type-of-post="{= kindOfPost =}">
				<div class="loop-column-img"
					 style="background-image: url('{= post.cover_image =}');
					"></div>
				<a class="loop-column-container" href="{= post|getPostUrl(kindOfPost) =}"
				   title="{= post.title|addslashes =}"
				   {#modal="album-modal-fullscreen.tpl"
				   modal-container="modal-window-fullscreen.tpl"#}>
					<div class="innertext">
						<h4>{= post.title|truncateText(40) =}</h4>
					</div>
				</a>
			</div>

		{% if loop.last or (loop.index - 1) % layoutColumns == layoutColumns-1 %}
			<div class="clearfix"></div>
		</div>
		{% endif %}
		{% endfor %}

		<div class="row">
			{= macros.pagination(isHome, active, prev_page, next_page, pages) =}
		</div>
	</div>
</section>
{% elif not isHome %}
<section class="section loop content single-page-loop" id="loop-albums">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 section-title">
				<h2>{= page|getSectionTitle('albums') =}</h2>
			</div>
		</div>
        <div class="row">
            <p style="text-align: center">Non ci sono elementi in questa sezione.</p>
            <div class="clearfix"></div>
        </div>
	</div>
</section>
{% endif %}
