{% if photos %}
<section class="section loop content " id="loop-albums">
    <div class="container">
        <div class="row">
        {% for photo in photos %}

            <div class="col-xs-12 col-sm-4 col-md-3 loop-column loop-column-album" >
                <div class="loop-column-img"
                     style="background-image: url('{= photo.source =}');
                "></div>
                <a class="loop-column-container imagelightbox"
                   rel="album_images"
                   href="{= photo.source =}"
                   data-caption="{= photo.description =}"
                   title="{= photo.title|truncateText(100) =}"
                   {#modal="album-modal-fullscreen.tpl"
                   modal-container="modal-window-fullscreen.tpl"#}><div class="innertext">
                        <h4><i class="fa fa-camera"></i></h4>
                    </div></a>
            </div>

        {% endfor %}
        </div>
    </div>
</section>
{% endif %}
