{% if isStore %}
<section class="section loop content " id="loop-news">
    <div class="container">
        {% include "../../__default/partials/store-body-layout-sidebar.html"%}
        {% include "../../__default/partials/store-body.html"%}
    </div>
</section>
{% set layoutColumns = columns %}
{% set kindOfPost = 'news' %}

<!-- Products Grid -->
<script type="text/template" class="products-grid-template">
    <% var i = 0; %>
    <% if( Object.keys(_oData.currentProductCollection).length < 1) { %>
    <div class="col-xs-12 col-sm-12">
        <div class="alert alert-warning ">
            {= t('template:store.no_products_alert') =}
        </div>
    </div>
    <% } else { %>
    <% _.each( _oData.currentProductCollection, function( listItem ){
    productUrl = "#/product/uid-" + listItem.index + "/" + listItem.slug;
    productImg = _.get(listItem, "thumbPath.src", false); %>
    <div data-productindex="<%- listItem.index %>" class="product-item col-xs-12 {= layoutColumns|generateBootstrapColumn('md') =} loop-column">
        <% if(productImg){ %>
        <div class="loop-column-img"
             style="background-image: url('<%- productImg %>');
					"></div>
        <% } %>
        <a class="loop-column-container product-id-<%- listItem.index %> product-link" data-productindex="<%- listItem.index %>" href="<%- productUrl %>" title="<%- listItem.name %>">
            <div class="innertext">
                <p><%- listItem.categoryName %></p>
                <h4><%- listItem.name %></h4>
                <p>{= t('template:store.price') =}: <%- listItem.formattedPrice %></p>
            </div>
        </a>

    </div>
    <% if(i % {= layoutColumns=} == {= layoutColumns=}-1) { %> <div class="clearfix"></div><% } %>
    <% i++; %>
    <% }); };  %>
</script>
<!-- /Products Grid -->
{% endif %}
