{% extends "../layouts/master.html" %}
{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="display text-center">
            <h2>{= postData.title =}</h2>
        </div>
        <div class="display">
            <p class="post-description">{= postData.description|escape|nl2br|safe =}</p>
        </div>
    </div>
</div>

    {% set photos = postData.photos %}
    {% set page_title = postData.title %}
    {% include "../partials/loop-single-album.html" %}
{% endblock %}
