{% extends "../layouts/master.html" %}
{% block content %}

{% if page.data.pageData.location.latitude && page.data.pageData.location.longitude %}
    <div class="row">
        <div class="col-xs-12">
            <div class="topcover" id="map">
                <div class="map">
                    <div id="map-canvas"></div>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    {% include "../../__default/partials/map.html" %}

{% endif %}


{% include "../partials/contacts-partial.html" %}



{% endblock %}
