{% extends "../layouts/master.html" %}
{% block content %}

<div class="row">
    <div class="col-lg-12">
        <div class="text-center">
            <h2>{= title =}</h2>
        </div>
        {= text | safe =}
    </div>
</div>
    {% include "../partials/store.html" %}
    {% if photos %}{% include "../partials/separator.html" %}{% endif %}

    {% set page_title = title %}
    {% include "../partials/loop-single-album.html" %}

{% endblock %}
