{% extends "../layouts/master.html" %}
{% block content %}


    <section class="section loop content {% if not isHome %}single-page-loop{% endif %}">
        <div class="container">


            <div class="row">
                <div class="col-xs-12 generic-column">
                    <div class="generic-column-container">
                        <div class="innertext">
                            <h2>{= postData.title =}</h2>
                            <p class="post-description">{= postData.description|escape|nl2br|safe =}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    {% set photos = postData.photos %}
    {% set page_title = postData.title %}
    {% set album_id = postData.id %}
    {% include "../partials/loop-single-album.html" %}

{% endblock %}
