.templateFONT{
	font-family: @font-text;
	FONT-FAMILY: @font-title;
}
.elementTemplateSALAZAR{
	display: none;
}
@import "../../__default/styles/edit-entry.less";
@import "../../__default/styles/config.less";
@import "variables.less";
@import "assets/bootstrap-less/bootstrap.less";
@import "assets/less/ad.less";
@import "assets/less/cookiesmodal.less";

@import "../../__default/styles/commons/modal-details.less";
@import "../../__default/styles/commons/utility.less";
@import "../../__default/styles/commons/imagelightbox.less";
@import "../../__default/styles/commons/ecommerce.less";

// @import "assets/bootstrap-less/glyphicons.less";
// @import "components/bootstrap-social/bootstrap-social.css";
// @import "components/font-awesome/css/font-awesome.min.css";

//@import url(http://fonts.googleapis.com/css?family=Playfair+Display:400,400italic,700,700italic,900,900italic);
//@import url(http://fonts.googleapis.com/css?family=Quicksand:400,300,700);


@footer_background: hsv(hue(@outer_background), saturation(@outer_background), 10%);

/* -------------------------------------------------------------- THUMBNAILS */

.thumbnail{
    overflow: hidden;
    padding: 0px 0px 0px 0px;
    border: none;
    margin-bottom: 0px;

     border-top-left-radius: @squared-corners;
     border-top-right-radius: @squared-corners;

     webkit-border-bottom-left-radius: @squared-corners;
     border-bottom-left-radius: @squared-corners;
     border-bottom-right-radius: @squared-corners;


    background-color:#333;
    box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.20) inset;
    
    overflow: hidden;
    
    background-position:center;
    background-repeat:no-repeat;
    background-size: cover; 

    img{
        vertical-align: middle;
	}
}

.dynamic-height{
	min-height: 120px;
}

    
.round-thumbnail{
    width:100%;
    height:0px;
    padding-bottom: 100%;

     border-top-left-radius: 50%;
     border-top-right-radius: 50%;
     
     webkit-border-bottom-left-radius: 50%;
     border-bottom-left-radius: 50%;
     border-bottom-right-radius: 50%;
    }   

.anamorfic-thumbnail{
    width:100%;
    height:0px;
    padding-bottom: 60%;
    }   
    
.vertical-thumbnail{
    width:100%;
    height:0px;
    padding-bottom: 160%;
    }

 .video-player{
    text-align: center;

    .glyphicon-play{
    background-color: rgba(255, 255, 255, 0.7);
    border: 2px solid @outer_background;
    color: @outer_background;
    width: 80px;
    height: 80px;
    font-size: 20px;
    line-height: 80px;
    position: absolute;
    top:50%;
    left: 50%;
    margin-left: -40px;
    margin-top: -40px;

    border-radius: 50%;
    }

 }   

/* -------------------------------------------------------------- FORMS */


:focus{
    box-shadow: none;
    }

/* -------------------------------------------------------------- MASTER */

.wrapper{
    -webkit-font-smoothing: antialiased;
    margin-left: 0px;
    margin-right: 0px;
    text-align: left;
}

body {
	font-family: @font-text;
	background-color: @footer_background;
}

a:focus {
	outline: none;
}
h1,h2,h3,h4,h5,h6{
	color: @brand-primary;
	font-family: @font-title;
}
h4, h5,h6{
	font-size: 18px;
}
nav {

	&.navbar.navbar-default.navbar-fixed-top {
		font-family: @font-title;
		text-transform: uppercase;
		font-weight: 700;

		background-color: fade(@inner_background,90%);
		border-bottom:none;

		.navbar-outer-container {
			margin-top: @outer-padding;
			margin-bottom: @outer-padding;
			border-top: solid 1px white;
			border-bottom: solid 1px white;
		}
		.navbar-brand {
			position: absolute;
			padding: 0 @outer-padding;
			transform: translate(0,-@outer-padding - 1);
			height: @height-navbar;
			left: 0;
			.brand-image {
				height: 100%;
			}
		}
		.navbar-toggle{
			margin: 0;
			height: @height-navbar - 2* (@outer-padding+1);

		}

		ul#main-nav {
			letter-spacing: 1px;
			li {
				a {
					height: @height-navbar - 2* (@outer-padding+1);
					line-height: @height-navbar - 2* (@outer-padding+1);
					padding: 0 @outer-padding;
					color: darken(@brand-primary, 2%);
					transition: background-color 0.3s;
					&:hover{
						background-color: fade(@brand-primary,10%);
					}
				}
			}
			.active > a {
				background-color: @brand-primary;
				color: lighten(@inner_background, 10%);
				&:hover{
					background-color: darken(@brand-primary,3%);
				}
			}
		}
	}

	@media (min-width: @screen-sm-min) {
		&.navbar.navbar-default.navbar-fixed-top {
			padding: 0;
			.navbar-header{
				position: relative;
			}
			.navbar-brand {
				position: absolute;
				transform: translate(0,-@outer-padding - 1);
				height: @height-navbar;
				left:0;
				padding: 0 0;
				.brand-image {
					height: 100%;
					box-shadow: none;
				}
			}
			.navbar-outer-container {
				transition: margin 0.3s;
				margin-top: @outer-padding;
				margin-bottom: @outer-padding;
			}
			&.shrinkable{
				.navbar-outer-container {
					margin-top: @outer-padding*2;
					margin-bottom: @outer-padding*2;
				}
				.navbar-brand {
					transition: all 0.3s;
					position: absolute;
					transform: translate(0,-@outer-padding*2 - 2);
					height: 150px;
					left:0;
					padding: 0 0;
					.brand-image {
						height: 100%;
						box-shadow: 2px 2px 8px fade(#333,50%);
					}
				}
			}
			&.shrinkable.navbar-shrink {
				.navbar-brand {
					transform: translate(0,-@outer-padding - 1);
					height: @height-navbar;
					padding: 0;
					.brand-image {
						box-shadow: none;
					}
				}
				.navbar-outer-container {
					margin-top: @outer-padding;
					margin-bottom: @outer-padding;
				}
			}
		}

	}
}


#banner{
	height: 400px;
	@media screen and (min-height: 700px) {
		height: 600px;
	}
	position: relative;
	padding: 0;
	overflow: hidden;

	#banner-image-holder{
		height: 400px;
		width:100%;
		@media screen and (min-height: 600px) {
			height: 600px;
		}
		position: absolute;
		z-index: 0;
		overflow: hidden;
	}
	#company{
		position: absolute;
		z-index: 2;
		bottom:0;
		width: 100%;
		.container{
			position: relative;
		}
		.slogan{
			width:100%;
			position: absolute;
			left: 0;
			top: -1.25em;
			text-align: center;
		}
		.slogantext{
			background-color: lighten(@inner_background,5%);
			color: @texts;
			display: inline-block;
			padding: 0.5em 1em;
			height:2.5em;
			line-height:1.5em;
			margin-left: auto;
			margin-right: auto;
		}
		.boxcontainer{
			background-color: fade(darken(@texts,10%),60%);
			color: @inner_background;
			padding: @outer-padding;
		}
		.innertext{
			border: solid 1px white;
			padding: 2em 0.5em;
			@media screen and (min-width: @screen-sm-min) {
				padding: 3em 4em;
			}
		}
		.innertext-text-container{
			font-size: 1.1em;
			line-height: 1.4em;
			max-height:6*1.4em;
			overflow: hidden;
		}
	}
}


section.section.content {
	@loop-column-height: 300px;
	@album_background_color: hsv(hue(@outer_background), saturation(@outer_background), lightness(@outer_background)*0.1);

	background-color: @outer_background;
	padding: 2em 0;
	.section-title {
		text-align: center;
		color: contrast(@outer_background,@inner_background,@brand-primary);
		h2 {
			font-size: 1.5em;
			/*text-shadow: 0 0 2px fade(#fff,10%),
				1px 1px 0 fade(hsl(hue(@brand-primary), saturation(@brand-primary), 100% - lightness(@brand-primary)),20%),
				2px 2px 1px fade(hsl(hue(@brand-primary), saturation(@brand-primary), 100% - lightness(@brand-primary)),20%),
				2px 2px 2px fade(hsl(hue(@brand-primary), saturation(@brand-primary), 80% - lightness(@brand-primary)),20%);*/
		}
	}
	&.single-page-loop{
		padding-top: @height-navbar*2;
	}
	.text-muted{
		color: fade(@texts,90%);
	}
	.generic-column {
		position: relative;
		margin: 1em 0;
		background-color: @inner_background;
		background-clip: content-box;
		.generic-column-container {
			display: block;
			margin: @outer-padding;
			border: solid 1px white;
			position: relative;
			z-index: 5;
			overflow: hidden;
			background-clip: content-box;
			.innertext {
				padding: 1em;
				color: @texts;
				p {
					line-height: 1.3em;
					overflow: hidden;
					word-wrap: break-word;
				}
				.text-muted{
					line-height: 1.5em;
					color: fade(@texts,75%);
				}
			}
			.hours-table{
				border-left: none;
				border-right: none;
				td{
					border-left: none;
					border-right: none;
					padding: 0.33em 1em 0.33em 0;
				}
				td:first-of-type{
					border-left: #fff;
				}
			}
			.map-small{
				height: 200px;
				@media (min-height: 400px) {
					height: 280px;
				}
			}
		}
	}

	.loop-column {
		position: relative;
		margin: 1em 0;
		background-color: @inner_background;
		background-clip: content-box;
		height: @loop-column-height;
		.loop-column-container {
			display: block;
			margin: @outer-padding;
			border: solid 1px white;
			position: relative;
			z-index: 5;
			height: @loop-column-height - 2*@outer-padding;
			text-decoration: none;
			overflow: hidden;
			background-clip: content-box;
			box-shadow: none;
			transition: box-shadow 0.3s;
			.innertext {
				padding-top: (@loop-column-height  - 2*@outer-padding)*0.5 + @outer-padding;
				padding-left: 1em;
				padding-right: 1em;
				color: @texts;
				h4 {
					line-height: 1.2em;
					max-height: 2*1.2em;
					overflow: hidden;
				}
				p {
					line-height: 1.3em;
					height: 2*1.3em;
					overflow: hidden;
					word-wrap: break-word;
				}
				@media (min-width: @screen-sm-min) {
					padding-left: 65%;
					padding-left: ~"calc( ( ( 100% + " 2*@outer-padding ~") * 0.68 ) + " @outer-padding ~")";
					padding-top: 1em;
					padding-bottom: 1em;
				}
			}
			&:hover{
				box-shadow: inset 0px 0px 80px 0px rgba(50,50,50,0.6);
			}
		}
		.loop-column-img {
			position: absolute;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center center;
			height: @loop-column-height/2;
			width: 90%;
			width: ~"calc( 100% - " @grid-gutter-width ~")";
			top: 0;
			left: @grid-gutter-width/2;
			z-index: 0;
			@media (min-width: @screen-sm-min) {
				height: @loop-column-height;
				width: 66.66%;
			}
		}
		@media (min-width: @screen-md-min) {
			&.col-md-6 {
				.loop-column-container {
					.innertext {
						padding-left: 0.43%;
						padding-left: ~"calc( ( ( 100% + " 2*@outer-padding ~") * 0.45 ) + " @outer-padding ~")";
					}
				}
				.loop-column-img {
					@media (min-width: @screen-md-min) {
						width: 43%;
					}
				}
			}

			&.col-md-4, &.col-md-3 {
				.loop-column-container {
					.innertext {
						padding-top: (@loop-column-height  - 2*@outer-padding)*0.5 + @outer-padding;
						padding-left: 1em;
						padding-right: 1em;
					}
				}
				.loop-column-img {
					height: @loop-column-height/2;
					width: 95%;
					width: ~"calc( 100% - " @grid-gutter-width ~")";

				}
			}
		}
	}
	&#loop-albums {

		background-color: @album_background_color;
		.section-title{
			h2{
				text-shadow: 1px 1px 1px fade(#fff,20%);
			}
		}
		.loop-column-container {
			display: table;
			width: 95%;
			width: ~"calc( 100% - " @outer-padding*2 ~")";
			text-align: center;
			transition: background-color 0.3s;
			.innertext {
				padding: 1em;
				display: table-cell;
				vertical-align: middle;

				transition: color 0.3s;

				@media (min-width: @screen-sm-min) {
					padding: 1em;
				}
				h4 {
					padding: 0;
					color: fade(white, 50%);
				}
			}
			&:hover, &:focus, &:active {
				background-color: fade(@album_background_color, 80%);
				box-shadow: none;
				text-decoration: none;
				.innertext h4{
					color: #fff;
				}
			}
		}

		.loop-column-img {
			height: @loop-column-height;
			width: 95%;
			width: ~"calc( 100% - " @grid-gutter-width ~")";
			top: 0;
			left: @grid-gutter-width/2;
			z-index: 0;
			@media (min-width: @screen-sm-min) {
				height: @loop-column-height;
				width: 95%;
				width: ~"calc( 100% - " @grid-gutter-width ~")";
			}
		}
	}
	&#loop-news {
		@news_background_color: lighten(@outer_background, 3%);
		background-color: @news_background_color;
		h4{
			margin: 0 0 0.5em 0;
		}
	}
}


.pagination > li {
	a {
		background-color: @inner_background;
		color: @texts;
		&.active{
			background-color: @brand-primary;
			color: @inner_background;
		}
	}
	span.navigation-disabled, span.navigation-disabled:hover{
		background-color: contrast(@inner_background,lighten(@inner_background, 5%), darken(@inner_background, 5%));
		color: @texts;
	}
}

#footer{
	background-color: @footer_background;
	border-top: solid 1px darken(@footer_background,1%);
	color: white;
	padding: 2em 0 3em 0;
	a{
		color: mix(#fff,@inner_background);
		border-bottom: dotted 1px mix(#eee,@inner_background);
		&:hover{
			color: mix(#aaa,@inner_background);
			border-bottom: dotted 1px mix(#999,@inner_background);
		}
		&.img{
			border-bottom: none;
		}
	}
	li{
		a{
			border-bottom: none;
		}
	}
	h1{
		padding: 0;
		margin: 0;
		font-size: 1.5em;
		line-height: 1.7em;
	}
	address{
		margin-bottom: 1em;
		span{
			display: block;
		}
	}
	.hours-small{
		line-height: 1.1em;
		font-size: 0.95em;
		span{
			display: inline;
		}
		.hours-status-now {
			font-weight: bold;
			padding-bottom: 0.2em;
		}
	}
	.hours-today-value{
		white-space: nowrap;
	}

	#company_social_links{
		@social-height: 40px;
		text-align: right;
		ul{
			padding-top: 0.8em;
			li{
				margin-left: 8px;
				margin-bottom: 8px;
				margin-right: 0px;
				padding: 0;
				display: inline-block;
				a{
					padding: 0;
					border-radius: 100%;
					border: solid 1px white;
					display: inline-block;
					width: @social-height;
					height: @social-height;
					text-align: center;
					transition: all 0.5s;
					background-color: fade(#fff,0%);

					i{
						font-size: @social-height * 0.4;
						line-height: @social-height*0.93;
					}
					&:hover{
						background-color: fade(#fff,90%);
					}
				}
			}
		}
	}
	#credits{
		margin-top:1.5em;
	}
}


.scroll-top {
	position: fixed;
	right: 2%;
	bottom: 2%;
	width: 50px;
	height: 50px;
	z-index: 1049;
	.btn {
		font-size: 20px;
		width: 50px;
		height: 50px;
		border-radius: 100%;
		line-height: 28px;
		&:focus {
			outline: none;
		}
	}
}

/* ------------------------------- CLAMP */

*[ng-cloak] {
    display: none;
}


body.store-page{
	.breadcrumb{
		background: @inner_background;
		border: solid 1px fade(@texts, 50%);
	}
	.panel{
		border: none;
		background: transparent;
		box-shadow: none;
		color: contrast(@outer_background);
		.panel-heading{
			border: none;
			border-bottom: solid 1px @brand-primary;
			padding-left: 0;
			padding-right: 0;
			background: transparent;
			color: contrast(@outer_background);
		}
		.panel-body{
			border: none;
			padding-left: 0;
			padding-right: 0;
		}
		.list-group{
			.list-group-item{
				background: none;
				padding-left: 0;
				padding-right: 0;
				border: none;
				border-bottom: solid 1px fade(@brand-primary, 65%);
				a:hover,a:focus{
					color: mix(contrast(@outer_background),@brand-primary);
					text-decoration: none;
				}
				&.active-category{
					font-weight: 900;
					a::before{
						content: "> "
					}
				}
				.badge{
					background-color: transparent;
					color: fade(contrast(@outer_background),90%);
					border-radius: 0;
					padding:0;
					font-weight: 300;
					&::before {
						content: " (";
					}
					&::after {
						content: ")";
					}
				}
			}
		}
	}
	li.product-item{
		list-style: none;
	}
	ul#productsContainer{
		padding: 0;
		margin: 0 -15px;
	}
}
