{% include '../../../__default/partials/script-includes.html' %}

<script type="text/javascript" src="/js/components/imagelightbox/dist/imagelightbox.min.js"></script>
<script type="text/javascript" src="/js/components/imagelightbox/dist/init.min.js"></script>

{% if !page.data.paid_on && !isEditor && !url2png %}
<script type="text/javascript">
    $(document).ready(function(){
		$("#pagewrap").css("padding-bottom", $("#ad").height());
	});
</script>
{% endif %}
