.templateFONT{
	font-family: @font-text;
	FONT-FAMILY: @font-title;
}
.elementTemplateTEMPLE{
	display: none;
}
@import "../../__default/styles/edit-entry.less";
@import "../../__default/styles/config.less";
@import "variables.less";
@import "assets/bootstrap-less/bootstrap.less";
@import "assets/less/ad.less";
@import "assets/less/cookiesmodal.less";

@import "../../__default/styles/commons/modal-details.less";
@import "../../__default/styles/commons/utility.less";
@import "../../__default/styles/commons/ecommerce.less";

// @import "assets/bootstrap-less/glyphicons.less";
// @import "components/bootstrap-social/bootstrap-social.css";
// @import "components/font-awesome/css/font-awesome.min.css";

//@import url(http://fonts.googleapis.com/css?family=Fjord+One);


/* -------------------------------------------------------------- FORMS */


:focus{
    // background:lighten(@brand-primary, 40%);
    // border-color: lighten(@brand-primary, 40%);
    // color: darken(@brand-primary, 30%);
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    }

a:hover{
    text-decoration: none;
}  

/* -------------------------------------------------------------- MASTER */

body{
    background-color: @brand-primary;
}

.wrapper{
    font-family: @font-text;
    -webkit-font-smoothing: antialiased;
    background-color: @inner_background;
    margin-left: 0px;
    margin-right: 0px;
    /*max-width: 1020px;*/
    margin: auto;
    box-shadow: 10px 10px 20px 0px darken(@brand-primary, 20%);
    -moz-box-shadow: 10px 10px 20px 0px darken(@brand-primary, 20%);
    -webkot-box-shadow: 10px 10px 20px 0px darken(@brand-primary, 20%);

	@media (min-width: 768px) {
		max-width: 750px;
	}
	@media (min-width: 992px) {
		max-width: 970px;
	}
	@media (min-width: 1200px) {
		max-width: 1170px;
	}
}

.single-detail-page{
    // margin-top: @height-navbar + 50px;
}

h1, h2, h3, h4, h5, h6 {
        //font-size: 16px;
        color: @text-color;
        font-family: @font-title;
        //text-transform: capitalize;
        
        // color: @brand-primary;
    }



section, .section{
    // background-color: @inner_background;
    // border-bottom: 1px solid @text-color;
    padding-left: 0px;
    padding-right: 0px;
    

    .container{
        margin-top: 20px;
        margin-bottom: 20px;
        //max-width: 1020px;
        // padding-top: @padding-contents;
        // padding-bottom: @padding-contents;
        // max-width: 100%;
        // width: 100%;
    // padding-top: 100px;
    // padding-bottom: 100px;
    
    // max-width: 100% !important;
    // width: 100% !important;
    // background-color: lighten(@text-color, 55%);

    hgroup.section-title{
        // text-align: center;
        // margin-bottom: 100px;
        // border-bottom: 1px solid @gray;
        position: relative;
        // background: @brand-primary;
        overflow: auto;
        // margin-bottom: 20px;

        h1, h2, h3, h4, h5, h6 {
            font-size: @font-size-large;
            margin-bottom: 20px;
            padding: 5px 10px;
            letter-spacing: 2px;
            background-color: @brand-primary;
            color: @inner_background;
            font-family: @font-title;
            text-transform: uppercase;
            // color: @brand-primary;
			.pull-left;
        }

        .goto{
            visibility: hidden;
            position: absolute;
            color: @inner_background;
            bottom: 10px;
            right: 15px;

            }
        }
    }
}


/* -------------------------------------------------------------- SECTIONS */


/* ------------------------------- NAV */
nav#main-nav {
    // margin-top: 20px;
    // background: transparent;
    background-color: @inner_background;
    margin-bottom: 0px;
    border-radius: 0px;
    border: 0px;

    .container{
        background: transparent;
        // padding-top: @padding-none;
        // padding-bottom: @padding-none;

        .navbar-header{
            float: none;
            // background-color: #ccc;
            // margin-top: 20px;
            margin-bottom: 20px;

            .navbar-brand{
                display: block;
                margin-left: auto;
                margin-right: auto;
                padding: @padding-none;
                height: auto;
                width: @height-navbar;
                // padding-top: 20px;
                // padding-bottom: 20px;
                // margin-left: 0px;
                float: none;

                img#brand-img, img{
                    height: auto;
                    width: @width-navbar * 1.5;
                    }
                }

        }

        .nav, .navbar-nav{
            background-color: @brand-primary;
            float: none;
            // padding-top: @padding-contents;
            // padding-bottom: @padding-contents;

            a.navbar-nav-link{
                background-color: @brand-primary;
                color: @inner_background;
                text-transform: uppercase;
                // line-height: @height-navbar;
                // padding-top: @padding-none;
                // padding-bottom: @padding-none;
                padding: 10px 20px;
            }
            a:hover.navbar-nav-link{
                color: lighten(@brand-primary, 20%);
                background-color: darken(@brand-primary, 5%);
            }
            li.active{
                a{
                    color: lighten(@brand-primary, 20%);
                    background-color: darken(@brand-primary, 5%);
                    pointer-events: none; 
                }
            }

        }    
    }
}

/* ------------------------------- BANNER */
section#banner {
    background-color: @inner_background;
    // height: 500px;
    overflow: hidden;

    .container{
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .carousel-inner{
        background-color: @outer_background;
        height: 100%;
        overflow: hidden;
    }
    .item{
      height: 100%;
      position: relative;
      background-color: @outer_background;
      // background-position:center;
      background-repeat:no-repeat;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;

    }

    h1, h2, h3, h4, h5, h6 {
        //font-size: 16px;
        //color: @brand-primary;
    }
    .container{
        padding-top: @padding-none;
        padding-bottom: @padding-none;
    }
}

/* ------------------------------- COMPANY */
section#company {
    text-align: center;
    // background-color: @brand-primary;
    // color: @gray-lighter;

    .container{
        margin-top: 0px;
    }

    hgroup.section-title{
        // background: @gray-light;
        overflow: auto;

        .goto{

            a{
                //color: @inner_background;
                }
            }
        }

     h1, h2, h3, h4, h5, h6 {
			margin-bottom: 0px;
            color: @brand-primary;
			// color: lighten(@brand-primary, 20%);
			padding-top: 40px;
			margin-top: 0px;
			background-color: @outer_background;
			 display: block;
		 float: none;
		 width: 100%;
        // padding-left: @padding-base-horizontal;
        // padding-right: @padding-base-horizontal;
        // text-align: center;
        }
    p{
        font-size: @font-size-h1;
        background-color: @outer_background;
        color: @inner_background;
        padding: 20px;
        margin-bottom: 0px;
        font-family: @font-text;
        text-transform: uppercase;
        line-height: 100%;
        // padding-left: @padding-base-horizontal;
        // padding-right: @padding-base-horizontal;
        // padding-top: @height-navbar;
        // padding-bottom: @height-navbar;
        // text-align: center;
        }

    #company-short-description{
        color: @inner_background;
        background-color: @outer_background;
        padding: 20px 20px 40px 20px;
        }    
}

/* ------------------------------- LOOP GENERAL */

@import "../../__default/styles/commons/post-structure.less";

section.loop {
	.post{
		text-decoration: none;
		background-color:  lighten(@text-color, 80%);
		border: 1px solid @text-color;
		margin-bottom: 20px;
		// opacity: 0.75;
		transition: opacity 0.3s;

		h1, h2, h3, h4, h5, h6 {
			color: @brand-primary;
			letter-spacing: -0.4pt;
            font-size: 16px !important;
            line-height: 100%;
		}
		p{
			color: @text-color;
            margin-top: 15px;
		}
		time{
			background-color: @inner_background;
			color: @text-color;
			padding: 5px 10px;
		}
		.post-content{
			border-bottom-color: lighten(@text-color, 80%);
			border-right-color: lighten(@text-color, 80%);
			word-wrap: break-word;
		}

		.post-attributes{
			background-color: @brand-primary;
			border-top: solid 1px darken(@brand-primary, 1%);
			text-align: center;
			color: @inner_background !important;
		}

		&:hover{
			// opacity: 1;
		}
	}
}

/* ------------------------------- PAGINE INTERNE */

// .page{
//     section.loop{
//         background-color: @brand-primary;
//         color: @gray-lighter;
//     }

// }

/* ------------------------------- PAGINATION */

.pagination{

    border-top-left-radius: @squared-corners;
    order-top-right-radius: @squared-corners;     
    border-bottom-left-radius: @squared-corners;
    border-bottom-right-radius: @squared-corners;

    li{
        border-top-left-radius: @squared-corners;
        order-top-right-radius: @squared-corners;     
        border-bottom-left-radius: @squared-corners;
        border-bottom-right-radius: @squared-corners;

        a{
            background-color: @texts;
            color: @brand-primary;
            border:0px;

            border-top-left-radius: @squared-corners;
            border-top-right-radius: @squared-corners;     
            border-bottom-left-radius: @squared-corners;
            border-bottom-right-radius: @squared-corners;
        }
        .active{
            background-color: @brand-primary;
            color: @texts;
        }
		span.navigation-disabled, span.navigation-disabled:hover{
			background-color: contrast(@texts, darken(@texts,5%), lighten(@texts,5%));
			color: @brand-primary;
			border:0px;

			border-radius: @squared-corners;
		}
    }

}

/* ------------------------------- MAP */
section#map {
    // background-color: @gray-lighter;

    h1, h2, h3, h4, h5, h6 {
        //font-size: 16px;
        //color: @brand-primary;
    }
    .container-fluid{
    padding-top: 0px;
    padding-bottom: 0px;

    hgroup.section-title{
        margin-bottom: 0px;
        border-bottom: 1px solid @gray;
        background: @gray-light;
        overflow: auto;
        display: none;
        }
    #map-canvas {
         margin-right: 15px;
        margin-left: 15px;
        min-height: 600px;
        background: @gray-darker;
        }    
    }
    
}

/* ------------------------------- CONTACTS */
section#contact-form {
    // background-color: @inner_background;
    color: @text-color;
    // background-color:  lighten(@text-color, 40%);
    //color: @gray-lighter;

    form{
        background-color:@text-color;
        padding: 20px;
        overflow: auto;
        color: @inner_background;
        padding-left: @padding-base-horizontal;
        padding-right: @padding-base-horizontal;
        margin-right: 15px;
        margin-left: 15px;
    }

    h1, h2, h3, h4, h5, h6 {
            // color: @brand-primary;
        }

    a{
        // color: @gray-lighter;
        }

    hgroup.section-title{
        // background: @gray-light;

        .goto{

            a{
                // color: @text-color;
                }
            }
        }

    h1, h2, h3, h4, h5, h6 {
        //color: @text-color;
    }
    p{
        color: @text-color;
    }
}

/* ------------------------------- FOOTER */
section#footer {
    // background-color: darken(@outer_background, 10%);
    // margin-bottom: 20px;

    .container{
        // background-color: darken(@outer_background, 5%);
        padding-bottom: 0px;
        font-size: 14px;

        .bottom-footer{
            background-color: @outer_background;
            padding-bottom: 20px;
            // overflow: auto;

        }

        h1, h2, h3, h4, h5, h6 {
            font-size: @font-size-base;
            //color: @brand-primary;
        }

        address{
            // padding-left: @padding-base-horizontal;
            // padding-right: @padding-base-horizontal;

            span{
                display: block;
            }
        }

		.hours-small{
			margin-bottom:20px;
			.hours-status-now{
				font-weight: bold;
			}
		}

        .company_social_link{
            padding-left: @padding-base-horizontal;
            padding-right: @padding-base-horizontal;
            color: @text-color;
            font-size: floor((@font-size-base * 2.15)); // ~30px;
        }

        #company_social_links{
            margin-top: 20px;
        }

        #footer-nav-links{
            .list{
                padding-bottom: 10px;
                // border-bottom: 1px solid lighten(@outer_background, 30% );

                li{
                    // padding-left: 0px;
                    padding-top: 0px;
                    padding-bottom: 0px;
                    // border-right: 1px solid @inner_background;


                    .navbar-nav-link{
                        display: block;
                        padding-top: 10px;
                        padding-bottom: 10px;
                        background-color: #ccc;
                    }
                }
            }
        }
        #credits{
            font-size: @font-size-small;
            // color: @inner_background;
            a{
                color: #F90;
            }
            a:hover{
                color: darken(#F90, 15%);
            }
        }
    }

    
}

/* ------------------------------- MODALS */


@media only screen and (max-width: 480px), screen and (max-device-width: 480px)  {

    /* ------------------------------- NAV */
    nav#main-nav {
        margin-top: 0px;
    }


    /* ------------------------------- FOOTER */
    section#footer {
        // background-color: darken(@outer_background, 10%);
        margin-bottom: 0px;
    }

}

#map-canvas {
    height: 400px;
}


body.store-page{
	.panel {
		text-align: left;
		border-color: fade(@texts, 50%);
		.panel-heading {
			text-align: center;
			background: @outer_background;
			color: contrast(@outer_background);
			border-color: fade(@texts, 50%);
		}
		.panel-body {
			background: @inner_background;
			border-color: fade(@texts, 50%);
		}
		.list-group {
			.list-group-item {
				background: @inner_background;
				.badge {
					background-color: darken(@inner_background, 10%);
					color: @brand-primary;
					border-radius: 3px;
					float: right;
				}

				&.active-category {
					background: @brand-primary;
					color: @inner_background;
					a {
						color: lighten(@inner_background, 5%);
					}
					.badge {
						background-color: darken(@brand-primary, 10%);
						color: @inner_background;
					}
				}
			}
		}
	}
	li.product-item {
		list-style: none;
	}
	ul#productsContainer {
		padding: 0;
		margin: 0 -15px;
	}
}
