<!DOCTYPE html>
<!--[if IE 8]>
<html class="no-js lt-ie9" lang="en" >
<![endif]-->
<!--[if gt IE 8]>
<!-->
<html class="no-js" ng-app="majeeko.main">
<!--<![endif]-->
<html manifest="/cache.manifest">
{% include "../partials/head-editor.html" %}
<script type="text/javascript" src="/js/logger.js"></script>
<body ng-controller="pageCtrl" id="page-editor">
	<div class="pagewrap">
		{% block content %}{% endblock %}
	</div>
	{% include '../partials/modal.html' %}
	{% include '../partials/scripts/main.html' %}
	{% block page_scripts %}
	{% endblock %}
</body>
{% include "../partials/domain.html" %}
</html>
