{% extends "master.html" %}
{% block content %}

    {% include "../partials/manager/navbar.html" %}
    <section class="manager-page">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 hidden-xs">
                    {% include "../partials/manager/user-details.html" %}
                </div>

                <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9 page-content">

                    <div class="row">
                        <div class="col-xs-12">
                            {% block display_text %}{% endblock %}
                        </div>
                    </div>


                </div>

            </div>
        </div>
    </section>

    {% include "../partials/footer.html" %}

{% endblock %}
