<!DOCTYPE html>
<!--[if IE 8]>
<html class="no-js lt-ie9" lang="en" >
<![endif]-->
<!--[if gt IE 8]>
<!-->
<html class="no-js" ng-app="majeeko.main">
<!--<![endif]-->
<html manifest="/cache.manifest">
<head>
    {% include "../partials/head.html" %}
    {% block head %}{% endblock %}
    <script type="text/javascript" src="/js/logger.js"></script>
</head>
<body data-spy="scroll" data-target="#main-nav" ng-controller="pageCtrl">
	<div class="pagewrap">
		{% block content %}{% endblock %}
	</div>
	{% include '../partials/modal.html' %}
	{% include '../partials/scripts/main.html' %}
	{% block page_scripts %}{% endblock %}
</body>
{% include "../partials/domain.html" %}
</html>
