<!doctype html>
<html ng-app="template">
    <head>
        {% include "../partials/head.html" %}
    </head>
    <body ng-controller="page" {% if isStore %} class="store-page bs-3" {% endif %}>
        {% include "../../__default/partials/open_body.html" %}
        {% include '../partials/header.html' %}
        <div class="container page-content">
            <div class="transparent-bg"></div>
            <div id="boxed-area">

                {% block content %}{% endblock %}

                {% include "../partials/footer.html" %}
            </div>
        </div>

        {% include '../../__default/partials/back-top.html' %}
        {% include "../partials/scripts/main.html" %}

    </body>
    {% include '../../__default/partials/modal-templates.html' %}
    {% include "../../__default/partials/ad.html" %}
    {% include "../../__default/partials/cookie-modal.html" %}

</html>
